<div id="panZoomEle" #viewcontainer class="gridster-container d-flex flex-column w-100 h-100">

  <div class="gridheader pl-1 w-100 h-24px">
    <div class="color-ico pl-2 header w-20" id="color-ico1">
      <h5 class="text-cap-new ">
        <a class="w-80">
          <i class="fa fa-table table-size"></i>&nbsp;
          Relation Suggestion for {{ this.table_headervalues.moduleName}}
        </a>
      </h5>
    </div>
  </div>
  <div class="flex-con-col">
    <div class="menu-trigger">
      <div class="card-collapse-custom" (click)="toggleShowDiv('relation')">
        <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
          <h5 class="mb-0">
            <a class="w-100 table-header-dropdown" data-toggle="collapse" aria-controls="collapseTwo">
              Relation By Primary Key
              ({{relationByIndexList.length}}) <i class="material-icons float-right mr-2 mt-1 panel-icon"
                [ngClass]="isOpen_relation ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
          </h5>
        </div>
      </div>

      <div *ngIf="isOpen_relation" class="material-table report-table divA ">
        <div class="preview_table table-align table-h-relation" style="max-height: 250px;">
          <perfect-scrollbar>
            <table class="table table-hover my-custom-table" cellspacing="0">
              <thead>
                <tr>
                  <th style="width: 1% !important; padding-top: 3px;">
                    <input type="checkbox" [disabled]="!relationByIndexList.length" [(ngModel)]="isMasterSel" name="list_name" value="h1"
                      (change)="checkUncheckAll()" />
                  </th>
                  <th class="table-width-align-3">From Table</th>
                  <th class="table-width-align-3">To Table</th>
                  <th class="table-width-align-10">Relation String</th>
                </tr>
              </thead>
              <ng-container *ngIf="!relationByIndexList.length">
                <div class="h-100">
                  <div class="card-body">
                    <p class="no-data-missing" style="border: unset !important;">No Records Found</p>
                  </div>
                </div>
              </ng-container>

              <tbody>
                <tr *ngFor="let columns of relationByIndexList; let i = index;">
                  <td style="width: 1% !important;text-align: center; padding-top: 3px;">
                    <input type="checkbox" [(ngModel)]="columns.isSelected" name="list_name"
                      value="{{columns.isSelected}}" (change)="isAllSelected()" />
                  </td>
                  <td class="table-width-align-3" title="{{columns.tableName | titlecase}}"> {{columns.tableName}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.relationTablename | titlecase}}">
                    {{columns.relationTablename}}</td>
                  <td class="table-width-align-10" title="{{columns.relationString | titlecase}}">
                    {{columns.relationString}}</td>
              </tbody>




            </table>

          </perfect-scrollbar>

        </div>

      </div>
    </div>


    <div class="menu-trigger">
      <div class="card-collapse-custom" (click)="toggleShowDiv('relation_sub')">
        <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
          <h5 class="mb-0">
            <a class="w-100 table-header-dropdown" data-toggle="collapse" aria-controls="collapseTwo">Relation By Name
              ({{relationByNameList.length}}) <i class="material-icons float-right mr-2 mt-1 panel-icon"
                [ngClass]="isOpen_relation_sub ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
          </h5>
        </div>
      </div>

      <div *ngIf="isOpen_relation_sub" class="material-table report-table divA ">
        <div class="preview_table table-align table-h-relation-sub results">
          <perfect-scrollbar>
            <table class="table table-hover my-custom-table" cellspacing="0">
              <thead>
                <tr>
                  <th style="padding-top:3px">
                    <input type="checkbox" [disabled]="!relationByNameList.length" [(ngModel)]="isMasterSel_byname" name="list_name" value="h1"
                      (change)="checkUncheckAllByName()" />
                  </th>
                  <th title="{{'Degree' | titlecase}}">#</th>
                  <th>From Table</th>
                  <th>To Table</th>
                  <th>Relation String</th>
                </tr>
              </thead>
              <ng-container *ngIf="!relationByNameList.length">
                <div class="h-100">
                  <div class="card-body">
                    <p class="no-data-missing" style="border: unset !important;">No Records Found</p>
                  </div>
                </div>
              </ng-container>
              <tbody>
                <tr *ngFor="let columns of relationByNameList; let i = index;">
                  <td style="width: 1% !important;text-align: center; padding-top: 3px;">
                    <input type="checkbox" [(ngModel)]="columns.isSelected" name="list_name1"
                      value="{{columns.isSelected}}" (change)="isAllSelectedByName()" />
                  </td>
                  <td style="width: 0.2% !important; text-align: right;"> {{columns.internalStatus}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.tableName | titlecase}}"> {{columns.tableName}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.relationTablename | titlecase}}">
                    {{columns.relationTablename}}</td>
                  <td class="table-width-align-10" title="{{columns.relationString | titlecase}}">
                    {{columns.relationString}}</td>


              </tbody>

            </table>
          </perfect-scrollbar>

        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-center align-items-end h-5">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div>
          <button *ngIf="globalService.pageLevelAccess.profileAdd == 'Y'" type="button"
            class="btn btn-sm btn-rose btn-outline-dark test" (click)="addMissingRelationValues()" [disabled]="!relationByNameList.length" >Save</button>

          <button type="button" (click)="cancelBtnAll()" class="btn btn-sm btn-rose btn-outline-dark">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>