<div id="panZoomEle" #viewcontainer class="gridster-container d-flex flex-column w-100 h-100">

  <div class="gridheader pl-1 w-100 h-24px">
    <div class="color-ico pl-2 header w-20" id="color-ico1">
      <h5 class="text-cap-new ">
        <a class="w-80">
          <i class="fa fa-table table-size"></i>&nbsp;
        Missing Relation
        </a>
      </h5>
    </div>
  </div>
  <div class="flex-con-col">
    <div class="menu-trigger">


      <div class="material-table report-table divA ">
        <div class="preview_table table-align table-h-relation" style="max-height: 435px;">
          <perfect-scrollbar>
            <table class="table table-hover my-custom-table" cellspacing="0">
              <thead>
                <tr>

                  <th class="table-width-align-3">Table Name</th>
                  <th class="table-width-align-3">Description</th>
                
                </tr>
              </thead>
              <ng-container *ngIf="!relationByIndexList.length">
                <div class="h-100">
                  <div class="card-body">
                    <p class="no-data-missing" style="border: unset !important;">No Records Found</p>
                  </div>
                </div>
              </ng-container>

              <tbody>
                <tr *ngFor="let columns of relationByIndexList; let i = index;">

                  <td class="table-width-align-3" style="cursor:pointer;"     (click)='relationclick(columns);' title="{{columns.moduleId | titlecase}}" >
                     {{columns.moduleId}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.moduleName | titlecase}}">
                    {{columns.moduleName}}</td>
                 
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>

        </div>

      </div>
    </div>
  </div>
</div>