.align-values {
    padding-left: 34px;
    padding-top: 36px;
  }
  
  .fontstyle {
    font-size: 1px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
  }
  
  .font-400 {
    font-size: 13px !important;
    font-weight: bold;
    color: #4a4a4a;
    width: 20%;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .font-200 {
    padding-left: 14px;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 13px !important;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .align_icon {
    width: 30px;
    font-size: x-large;
  }
  
  .text-wrap {
    width: 10px !important;
    word-wrap: break-word;
  }

  
 
  
  .margins {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  
  .margins span {
    display: flex;
    justify-content: flex-start;
    width: 80%;
  }
  
  .gridster-type {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    font: 600 16px/15px 'Open Sans', sans-serif;
    color: #4a4a4a;
  }
  
  :host {
    color: #ffffff;
  }
  
  .footer-table {
    margin-top: 32px;
    color: grey;
  }
  
  .align-table-icon {
    width: 30px;
    font-size: x-large;
    margin-left: 15px;
  }
  
  .menu-trigger {
    color: #00bcd4;
    padding-bottom: 5px;
  }
  
  .table-header-small {
    width: 30%;
  }
  
  .menu {
    border-bottom: 1px solid #dcdcdc;
    background: #39577d;
  }
  
  .menu-item {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
    max-width: 300px;
    margin: auto;
    width: 10%;
    cursor: pointer;
  }
  
  .menu-item:last-child {
    border-bottom: none;
  }
  
  .menu-item:hover {
    color: #c1c1c1;
  }
  
  .visible {
    overflow-x: scroll;
    overflow-y: scroll;
  }
  
  .header {
    /* height: 22px; */
    width: 100%;
    background-color: white;
    z-index: 15;
    margin-bottom: 0;
  }
  
  .cursorpointer {
    cursor: pointer
  }
  
  .flex-con-col {

    height: 100%;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: -11px;
    height: 6px;
  }
  
  
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
  }
  
  .view-icon {
    margin-right: 5px;
  }
  
  .align-icon {
    margin-left: 15px;
    margin-right: 10px;
    height: 7px;
  }
  
  .global-icons {
    font-size: 18px;
    color: #4a4a4a;
    cursor: pointer;
  }
  
  .point {
    cursor: pointer;
  }
  
  .backclick {
    color: #5f90ff;
    text-decoration: underline !important;
    font-size: 13px;
    margin-top: -39px;
  
  }
  
  .key-size {
    font-size: 15px !important
  }

  .report-table {
    display: flex;
    justify-content: center;
    background: #f7f7f7;
    border: solid 1px #e2e2e2;
  }
  
  .report-table th {
    white-space: nowrap !important;
  }
  .report-table tr td {
    white-space: unset !important;
  }
  
  .table-align {
    width: 97%;
    border-top: 0px;
    margin-top: 12px;
  }
  
  .no-data-missing {
    position: absolute !important;
    top: 45% !important;
    left: 50% !important;
    width: auto !important;
    transform: translate(-50%, -50%);
    border-bottom: solid 1px #DDDDDD;
    color: #616161 !important;
    font-weight: normal;
  }
  
  .align-button-bottom {
    position: absolute;
    bottom: -10px;
    left: 45%;
  }

  .results{
    max-height: calc(72vh - 96px);
}