<div class="modal-header">
    <h4 class="modal-title">{{title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="userCofirm('Yes')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p class="bmd-label-static">{{message}}</p>
  </div>
  <div class="modal-footer" *ngIf="popupType == 'Confirm'">
    <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('Yes')">Yes</button>&nbsp;
    <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('No')">No</button>
  </div>
  
  <div class="modal-footer" *ngIf="popupType == 'alert'">
    <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('Yes')">Ok</button>
  </div>