.dragarea {
    border: 1px solid lightgray;
    padding: 13px;
    top: 0px;
    left: 3px;
    height: calc(100vh - 15vw);
}

table tbody tr th {
    border: solid 1px #ccc;
}

.droppableStyle {
    background-color: lightgrey;
    border: 3px dotted #00bcd4 !important;
    opacity: 0.7;
    position: relative;
}



.droppableStyle:before {
    display: block;
    clear: both;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: auto;
    content: "Drop Here";
    font-size: 27px;
    font-weight: bold;
    transform: translate(-50%, -50%);
}

.droparea {
    /* overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin !important; */
    height: calc(100vh - 11vw);
    /* border: 1px solid lightgray; */
    border-radius: 0;
}

.col-md-3a {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

::-webkit-scrollbar {
    width: 0em;
    height: 0em
}

/* :host /deep/ .node-content-wrapper-active, .node-content-wrapper-focused, .node-content-wrapper:hover{
    background: #ff0000 !important;
}

.node-content-wrapper:hover {
    background: #ff0000 !important;
} */

.fa-external-link {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.54);
    transform: translate;
    transform: rotate(985deg);
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    margin-top: -4px !important;
}

.display_flex {
    display: inline-flex;
}

 thead tr th {
   z-index:1;
 }
/*
tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
} */

.search-results {
    height: 20rem;
    overflow: scroll;
}

/* .insideGrid{height: auto !important;} */

.no-margin-12 {
    margin-bottom: 0px !important;
    margin-top: -19px !important;
}

.form-check .form-check-sign .check {
    width: 14px;
    height: 14px;
    border: 1px solid #fff;
}

.form-check .form-check-sign:before {
    width: 16px;
    height: 16px;
}

.form-check .form-check-sign .check:before {
    margin-top: -5px;
    margin-left: 5px;
    top: -1px;
}

.card .form-check {
    margin-top: 0px;
}

.droparea>table td {
    overflow: visible;
    font-size: 11px;
    padding: 0px 3px !important;
}

.droparea>table tr td:first-child {
    overflow: hidden;
    text-align: left;
}

.ng-dropdown-panel {
    z-index: 29150;
    width: auto !important;
}

.droparea>table td .ng-select {
    padding-bottom: 0px;
}

.droparea>table td .ng-select .ng-select-container {
    min-height: 25px !important;
    max-height: 25px !important;
}

.th_style {
    width: 53px;
}

.table-header {
    height: 26px !important;
}

div.material-table .table-footer {
    height: 38px !important;
}

.bottom-triangle {
    position: absolute;
    top: 20px;
    padding: 0 5px;
    border: 1px solid #ff0000;
    background: #fff;
}

.bottom-triangle:after {
    position: absolute;
    display: block;
    clear: both;
    content: "";
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #f00;
    bottom: -6px;
}

.dashboard-bg-white {
    background: #fff;
}

.border-thick {
    border: 1px #dadada solid;
}

#treeview_container3 {
    width: auto;
    height: calc(93vh - 104px) !important;
    margin-bottom: 12px;
}

.dashboard-bg-grey {
    background: #ccc;
}

.main-row {
    border-radius: 12px;
}

.custom-footer {
    border-top: none;
}

.flexibleDashboard {
    flex: 1;
    max-width: 100% !important;
    border: 1px #dadada solid;
    border-left: none;
}

tbody tr {
    cursor: pointer;
}

/* thead tr th {
    position: relative;
  } */

span.ui-column-resizer {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    width: 8px;
    height: 100%;
    padding: 0;
    cursor: col-resize;
    border: 1px solid transparent;
}

i.fa.toggleIcon {
    top: 50%;
    left: -12px;
    font-size: 22px;
    cursor: pointer;
    position: absolute;
    width: 15px;
    height: 45px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #ccc;
    border-right: none;
    padding-top: 10px;
    padding-left: 5px;
    z-index: 1;
}

/* #common_table tbody tr .tr-edit-icons {
    display: none;
    position: absolute;
    top: 2px;
    right: 20px;
    background-color: #eee;
    padding-right: 0;
}

tr,
td {
    position: relative;
}

#common_table tr td:last-child {
    overflow: visible;
}

#common_table tbody tr:hover {
    -webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
    background-color: #eee;
    border: 1px solid #fff;
}

#common_table tbody tr:hover .tr-edit-icons {
    display: block;
    opacity: 1;
    border: none;
    color: black;
} */

.join_group {
    position: relative;
}

.join_group .tgl-btn {
    position: relative;
    top: -4px;
}

.form-check .form-check-label span {
    transition-duration: .0ms !important;
}

.check_box_cst {
    transform: scale(1.5);
}

.query td:first-child {
    text-align: left !important;
    padding: 0px;
}

.scallingUnit {
    font-size: 10px;
    border: 2px solid #00bcd4;
    font-weight: 900;
    padding: 5px;
    border-radius: 10px;
}

.scalling {
    text-align: right;
}
.scaling-body{
    margin: 11px !important;
    border: 2px solid #00bcd4;
    padding: 15px !important;
    border-style: dotted;
}

.lftSide {
    padding: 10px 0px 0px 0px;
}

.sHead {
    font-size: 12px;
    font-weight: 600;
    margin-left: 10px;
}

.parent{
    position: relative;
}
.bmd-label-static {
    font-size: 12px;
    font-weight: 600;
    position: absolute;
    margin-left: 6px;
}
.actionQueryList{
    justify-content: flex-end;
    padding: 0px 16px;
    margin: 0;
}
.padd12{
    padding: 3px 12px;
}
.actionQueryList .togglebutton label input[type="checkbox"]:checked+.toggle{
    background-color: var(--content-color) !important;
}
.actionQueryList .togglebutton label .toggle:after{
    top:-3.5px !important;
}
.actionQueryList .togglebutton,
.actionQueryList a{
    margin-left: 12px;
}
.actionQueryList .togglebutton label{
    color: #999;
}
.actionQueryList .togglebutton label .toggle,
.togglebutton label input[type=checkbox][disabled]+.toggle{
    margin-right: 9px;
}
.tr-edit-icons-query{
    display: none;
    opacity: 1;
    border: none;
    color: black;
    padding-right: 3px;
    text-align: right;
    position: absolute;
    margin-right: 0;
    top: 0px;
    right: 0px;
    background: #eee;
    height: 100%;
}
.marTop4{
    margin-top: 4px;
}
#common_table tbody tr:hover .tr-edit-icons-query{
    display: block;
}
#dashboard-content table tr td a{
    padding: 0px 3px;
}
.w-40{
    width: 40%;
}
.w-12{
    width: 12%;
}
.w-60{
    width: 60%;
}
.paddLeft12{
    padding-left: 12px;
}
.padd912{
    padding: 9px 12px;
}
.pRelative{
    position: relative;
}
.nameProperty{
    margin-left: -5px;
    margin-bottom: 9px;
    width: 100%;
}
.columnNamePopup{
    width: 83%;
}
.promptValueCheck{
    width: 17%;
    display: none;
}
.fontBoldColumnName{
    font-family: Open Sans,sans-serif;
}
.queryDesignDownloadClk .dropdown-menu-right{
    left: unset !important;
    right: -18px !important;
    top:33px !important;
}
.dropDownChkboxClass{
    margin-right: 5px;
}
.top-apply {
    color: #fff !important;
    background-color: var(--content-color) !important;
    border: var(--border-btn-color) !important;
    padding: 0.20rem 0.25rem !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: .2rem !important;
}
.header-span-popover1 {
    font-size: 12px;
    color: #0a0a0a;
    padding-top: 6px;
    padding-left: 4px;
}

.custom-footer {
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 24px);
    z-index: 1;
}

.bg-white {
    background: #fff;
    padding: 12px 0px;
    border-radius: 12px;
}



.queryTitle {
    font-size: 13px;
    padding-left: 9px;
    font-weight: 600;
    font-family: Open Sans,sans-serif;
}

#card-body ng-select {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 21px;
}

#card-body .form-control {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 25px;
    font-size: 13px;
}

#card-body ng-select .ng-select-container {
    min-height: 21.5px !important;
    max-height: 21.5px !important;
}

#card-body ng-select .ng-select-container .ng-value-container {
    border-top: 0px !important;
}

#card-body div.material-table table th:last-child,
div.material-table table td:last-child {
    border-right: none !important;
}

.min-heights {
    height: calc(96vh - 76px);
    margin: 0 !important;
    padding: 0 !important;
}

.togglebutton label input[type=checkbox]:checked+.toggle:after {
    border: 2px solid var(--border-btn-color) !Important;
}

.col-md-3a {
    flex: 0 0 0% !important;
    max-width: 0% !important;
    transition-duration: .3s, .3s, .35s;
    transition-timing-function: linear, linear, ease;
    padding: 0px;
    border-right: 0px #dadada solid !important;
}

.col-md-9a {
    flex: 1;
    max-width: 100%;
    transition-delay: .2s;
    transition-duration: .3s, .3s, .35s;
    transition-timing-function: linear, linear, ease;
}

/* .dark-border {
    border: solid 2px var(--content-color);
} */

.ok-button {
    line-height: 17px !important;
    padding: 6px !important;
}

tree-viewport {
    height: 100%;
    overflow: hidden;
    display: block;
}

.height-line {
    line-height: 15px;
}

.height-line span {
    padding: 0 !important;
}

.font-13 {
    font-size: 13px !important;
}

.font-300 {
    font-weight: 300;
}

.mandatory {
    color: #ff0000;
    position: absolute;
    right: 7px;
}

.lightgray {
    color: #ccc;
}

.query-list table tbody tr td {
    max-width: 120px !important;
    color: #2a2a2a !important;
    font-weight: normal;
    line-height: 24px;
}


.date-switch {
    padding: 7px 10px !important;
    font-size: 11px !important;
}

.folder-icon {
    position: relative;
    left: -22px;
    z-index: 0;
    margin-right: -21px;
}

.folder-icon i {
    color: var(--content-color) !important;
    font-size: 12px !important;
}

.treeText{
    font-size: 13px;
    /* padding-left: 3px; */
    font-weight: 400;
}

.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}
