<div class="material-table catalog-design" id="card-body">
  <div class="row bck-btn-am" [style.z-index]="reportOpen ? 'unset': ''">
    <a class="btn re-ico-gr btn-round btn-dribbble tool_tip" tooltip="Back"
      [routerLink]="['/main/menu-maintenance/queryDesign']" href="javascript:void(0);" skipLocationChange="true"><i
        aria-hidden="true" class="fa fa-arrow-circle-left" style="color:#fff"></i>
      <div class="ripple-container"></div>
    </a><span style="padding-left:6px"></span>
  </div>
  <div class="row-flex h-99">
    <div class="col-xl-3 col-md-4 mt-0  dashboard-bg-white border-thick" id="tree_hide">
      <i class="fa fa-caret-right toggleIcon" id="toggleChevron" (click)="toggleTree()" aria-hidden="true"></i>
      <div class="row">
        <div class="col-md-12">
          <span class="queryTitle" title="{{selectedCatalogName}}">Catalog Id ({{selectedCatalogId}})</span>
        </div>
      </div>
      <div>
        <span class="bmd-form-group">
          <div class="input-group no-border">
            <input id="filter3" #filter3 (keyup)="tree.treeModel.update();tree.treeModel.filterNodes(filter3.value)"
              type="text" value="" class="form-control" placeholder="Filter items">
          </div>
        </span>

        <div id="treeview_container3" class="hummingbird-treeview simplebar">
          <perfect-scrollbar>
            <tree-root #tree (click)="tree.treeModel.update();" *ngIf="treeView" [nodes]="treenode"
              [options]="options1">
              <ng-template #treeNodeTemplate let-node let-index="index">
                <!-- <i *ngIf="node.data.children == null" class="fa fa-file tree-file"></i> -->
                <span *ngIf="node.data.children != null" class="folder-icon">
                  <i *ngIf="!node.isExpanded" class="fa fa-folder tree-file"></i>
                  <i *ngIf="node.isExpanded" class="fa fa-folder-open tree-file"></i>
                </span>
                <span class="treeText globalContent">
                  {{ node.data.name | titlecase}}</span>
                <!-- <span>{{ node.data.name | titlecase}}</span> -->
              </ng-template>
            </tree-root>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
    <div class="col-xl-9 col-md-8 flexibleDashboard mt-0 dashboard-bg-white" id="tree_hide1" style="padding:0">
      <!-- <div>
                  <table class="dataTable no-footer">
                      <tbody>
                          <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td colspan="3"></td>
                              <td></td>
                              <td></td>
                              <td></td>
                          </tr>
                      </tbody>
                  </table>
          </div> -->
      <div class="tab-content bg-white min-heights no-pad">
        <div class="d-flex align-items-center actionQueryList">
          <div class="togglebutton">
            <label class="globalContent">
              Distinct
              <input type="checkbox" checked="distinctFlag" [(ngModel)]="distinctFlag">
              <span class="toggle"></span>
            </label>
          </div>
          <!-- <a href="javascript:void(0)" (click)="openDealEntryModal()" [attr.tooltip]="'Schedule'" class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" data-original-title="Schedule">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </a> -->
          <!-- <a  href="javascript:void(0)" (click)="downloadQuery()" [attr.tooltip]="'Download'" class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" data-original-title="Download">
                        <i class="fa fa-download" aria-hidden="true"></i>
                    </a> -->
          <div class="nav-item dropdown queryDesignDownloadClk"
            [ngClass]="showDownloadDropdown ? 'show showing':'hiding'">
            <a class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" href="javascript:;"
              [attr.tooltip]="'Download'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"
              (click)='downloadQuery()'>
              <i class="fa fa-download" aria-hidden="true" [ngClass]="!draggedTree.length ? 'lightgray': ''"></i>
            </a>
            <!-- <div aria-labelledby="navbarNotificationDropdown" class="dropdown-menu dropdown-menu-right triangleUp" [ngClass]="showDownloadDropdown ? 'show showing':'hiding'">
                            <ul class="fixed-plugin dropdown-menu show pdf-excel ml-2" style="padding-bottom: 0px;box-shadow: none">
                                <li class="header-title d-flex">
                                    <div class="crusorPointer d-flex align-items-center">
                                        <input type="checkbox" id="formatDownloadExcel" [(ngModel)]="formatDownload.excel" class="dropDownChkboxClass">
                                        <label class="header-span-popover1" for="formatDownloadExcel">Excel</label>
                                    </div>
                                </li>
                                <li class="header-title d-flex">
                                    <div class="crusorPointer d-flex align-items-center">
                                        <input type="checkbox" id="formatDownloadPdf" [(ngModel)]="formatDownload.pdf" class="dropDownChkboxClass">
                                        <label class="header-span-popover1" for="formatDownloadPdf">PDF</label>
                                    </div>
                                </li>
                                <li class="header-title d-flex">
                                    <div class="crusorPointer d-flex align-items-center">
                                        <input type="checkbox" id="formatDownloadCsv" [(ngModel)]="formatDownload.csv" class="dropDownChkboxClass">
                                        <label class="header-span-popover1" for="formatDownloadCsv">CSV</label>
                                    </div>
                                </li>
                                <li class="d-flex justify-content-center mt-1 ok-button">
                                    <button type="submit"
                                    class="btn btn-sm top-apply" (click)="downloadQuery()">Ok
                                    <div class="ripple-container"></div>
                                    </button>
                                </li>
                            </ul>
                        </div> -->
          </div>
        </div>
        <div id="dashboard-content">
          <div class="droparea  mt-0 padd12 query-list" (treeDrop)="updateERDiagram($event);groupByConditionCheck()">
            <perfect-scrollbar>
              <table class="dataTable no-footer query dark-border" id="common_table">
                <thead>
                  <tr>
                    <th class="w-14" style="max-width: 120px;">
                      Column Name
                    </th>
                    <th class="w-14" style="max-width: 120px;">
                      Alias Name
                    </th>
                    <th class="w-13">
                      <span class="font-13"> Display </span>
                      <div class="form-check no-margin-12" style="position: relative;display: inline-block;
                                          top: -9px; left: 12px;">
                        <label class="form-check-label padding-left-0">
                          <input #overallDisplaycheck type="checkbox" class="form-check-input check"
                            [disabled]="!+draggedTree.length" (change)="overallDisplaySelect($event,draggedTree)">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </th>
                    <th class="w-10">Sort Type</th>
                    <th class="w-17">Detailed Filter</th>
                    <th class="w-16">Aggregation</th>
                    <th class="w-16">Summary Filter</th>
                    <th style="display: none;">
                      <span>Group</span>
                      <div class="form-check no-margin-12" style="position: relative;display: inline-block;
                                            top: -9px;
                                            left: 12px;">
                        <label class="form-check-label padding-left-0">
                          <input #overallGroupBycheck id="groupCheck" type="checkbox" class="form-check-input check"
                            (change)="overallGroupSelect($event,draggedTree)">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </th>
                    <!-- <th class="w-12">Join</th> -->
                    <!-- <th>Action</th> -->
                  </tr>
                </thead>
                <tbody cdkDropList (cdkDropListDropped)="drop($event);joinCondition()">
                  <tr *ngFor="let data of draggedTree;let i=index" cdkDrag>
                    <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                    <td title="{{data.fields}}" class='handle'>{{data.fields}}</td>
                    <td class='handle'>
                      <input type="text" class="form-control insideGrid" maxlength="30"
                        (keyup)="checkingForAliasName($event,i)" [value]="data.alias"
                        (input)="data.alias=$event.target.value" [name]="data.alias">
                    </td>
                    <td class="text-center">
                      <input type="checkbox" [checked]="data.display" class="check_box_cst"
                        (change)="individualCheck(i,draggedTree,overallDisplaycheck);displayBasedGroupCheck(i,draggedTree,overallGroupBycheck);">
                      <!-- <div class="form-check no-margin-12">
                                                <label class="form-check-label padding-left-0">
                                                    <input type="checkbox" class="form-check-input"
                                                        [checked]="data.display"
                                                        (change)="individualCheck(i,draggedTree,overallDisplaycheck);displayBasedGroupCheck(i,draggedTree,overallGroupBycheck);">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div> -->
                    </td>
                    <td class="text-center">
                      <!-- <ng-select appendTo="body" class="form-new-control"
                                                [(ngModel)]="data.sortType" [name]="data.sortType">
                                                <ng-option value="ASC">Ascending</ng-option>
                                                <ng-option value="DESC">Descending</ng-option>
                                            </ng-select> -->
                      <div class="switch-field">
                        <input type="radio" [(ngModel)]="data.sortType" [id]="data.uniqueId + 'ASC'"
                          [name]="data.uiqueIdentifier+'_'+i" value="ASC" />
                        <label [for]="data.uniqueId+ 'ASC'">Asc</label>
                        <input type="radio" [(ngModel)]="data.sortType" [id]="data.uniqueId + 'Def'"
                          [name]="data.uiqueIdentifier + '_' + i" value="" />
                        <label [for]="data.uniqueId + 'Def'">
                          '<i class="material-icons" style="font-size: 8px;">remove</i></label>
                        <input type="radio" [(ngModel)]="data.sortType" [id]="data.uniqueId + 'Des'"
                          [name]="data.uiqueIdentifier + '_' + i" value="DESC" />
                        <label [for]="data.uniqueId + 'Des'">Des</label>
                      </div>
                    </td>
                    <td [title]="stringColmnn(data,'creteria')">
                      {{stringColmnn(data,'creteria')}}
                    </td>
                    <td [title]="data.aggrigate">{{data.aggrigate}}</td>
                    <td class="pRelative" [title]="stringColmnn(data,'summery')">
                      {{stringColmnn(data,'summery')}}
                      <div class="tr-edit-icons-query row">
                        <a *ngIf="data.whereCondition" href="javascript:void(0)" (click)="selectedItem(i,queryFormTog)"
                          class=" modal-trigger waves-effect btn-flat nopadding" rel="tooltip" title="Edit"
                          data-original-title="Edit"><i class="material-icons marTop4 ">settings</i>
                        </a>
                        <a href="javascript:void(0)" class=" modal-trigger waves-effect btn-flat nopadding"
                          rel="tooltip" title="Delete" data-original-title="Remove"
                          (click)="delete(i,draggedTree,overallDisplaycheck);"><i
                            class="material-icons marTop4">delete_outline</i>
                        </a>
                      </div>
                    </td>
                    <td style="display: none;">
                      <input disabled type="checkbox" [checked]="data.group" class="check_box_cst"
                        (change)="data.group = !data.group; creteriaBasedJoin(i);">
                      <!-- <div class="form-check no-margin-12">
                                                <label class="form-check-label padding-left-0">
                                                    <input disabled type="checkbox" [checked]="data.group"
                                                        class="form-check-input"
                                                        (change)="data.group = !data.group; creteriaBasedJoin(i);">
                                                    <span class="form-check-sign">
                                                        <span class="check"></span>
                                                    </span>
                                                </label>
                                            </div> -->
                    </td>
                    <!-- <td>
                                            <div class="d-flex w-100 h-100">
                                                <div class="w-60 h-100">
                                                    <span *ngIf="data.join" class="join_group " > -->
                    <!-- <input class="tgl tgl-flip" [(ngModel)]="data.joinDatadata" [id]="i"
                                                            type="checkbox" />
                                                        <label class="tgl-btn" data-tg-on="Or" data-tg-off="And"
                                                            [for]="i"></label> -->
                    <!-- <ng-select appendTo="body" class="form-new-control"
                                                            [(ngModel)]="data.joinData" [name]="data.joinData">
                                                            <ng-option value="And">And</ng-option>
                                                            <ng-option value="Or">Or</ng-option>
                                                        </ng-select> -->
                    <!-- <div class="switch-field">
                                                            <input type="radio" [(ngModel)]="data.joinData"
                                                                [id]="data.uniqueId + 'And'" [name]="data.uiqueIdentifier+'-'+i"
                                                                value="And" />
                                                            <label [for]="data.uniqueId+ 'And'">And</label>
                                                            <input type="radio" [(ngModel)]="data.joinData"
                                                                [id]="data.uniqueId + 'Or'"
                                                                [name]="data.uiqueIdentifier + '-' + i" value="Or" />
                                                            <label [for]="data.uniqueId + 'Or'">Or</label>
                                                        </div>
                                                    </span>
                                                </div>
                                                <div class="w-40 h-100">
                                                    <div class="tr-edit-icons-query row">
                                                        <a *ngIf="data.whereCondition" href="javascript:void(0)" (click)="selectedItem(i,queryFormTog)" class=" modal-trigger waves-effect btn-flat nopadding" rel="tooltip" title="Edit" data-original-title="Edit"><i
                                                                class="material-icons ">settings</i>
                                                        </a>
                                                        <a href="javascript:void(0)" class=" modal-trigger waves-effect btn-flat nopadding" rel="tooltip" title="Delete" data-original-title="Remove" (click)="delete(i,draggedTree,overallDisplaycheck);"><i
                                                                class="material-icons">delete_outline</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </td> -->
                    <!-- <td>

                                        </td> -->
                  </tr>
                </tbody>
                <div class="table-header no-data" *ngIf="!draggedTree.length">Drag and Drop Column(s) here</div>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
        <div class="custom-footer">
          <button type="button" class="btn btn-rose btn-sm saveChanges" id="loadTog" (click)="loadData()">Load
            <div class="ripple-container">
              <div class="ripple-decorator ripple-on ripple-out"
                style="left: 55.375px; top: 11px; background-color: rgb(255, 255, 255); transform: scale(8.04688);">
              </div>
            </div>
          </button>
          <button type="button" class="btn btn-rose btn-sm saveChanges" [disabled]="!draggedTree.length"
            (click)="queryExecution('showQuery')">Show Query
            <div class="ripple-container">
              <div class="ripple-decorator ripple-on ripple-out"
                style="left: 55.375px; top: 11px; background-color: rgb(255, 255, 255); transform: scale(8.04688);">
              </div>
            </div>
          </button>
          <button type="button" class="btn btn-rose btn-sm saveChanges" [disabled]="!draggedTree.length"
            (click)="queryExecution('saveQuery','execute')">Execute
            <div class="ripple-container">
              <div class="ripple-decorator ripple-on ripple-out"
                style="left: 55.375px; top: 11px; background-color: rgb(255, 255, 255); transform: scale(8.04688);">
              </div>
            </div>
          </button>
          <button type="button" class="btn btn-rose btn-sm saveChanges" [disabled]="!draggedTree.length"
            (click)="queryExecution('saveQuery','save')">Save
            <div class="ripple-container">
              <div class="ripple-decorator ripple-on ripple-out"
                style="left: 55.375px; top: 11px; background-color: rgb(255, 255, 255); transform: scale(8.04688);">
              </div>
            </div>
          </button>
          <button type="button" class="btn btn-rose btn-sm saveChanges" [disabled]="!draggedTree.length || !copyFlag"
            (click)="coppyQuery()">Copy
            <div class="ripple-container">
              <div class="ripple-decorator ripple-on ripple-out"
                style="left: 55.375px; top: 11px; background-color: rgb(255, 255, 255); transform: scale(8.04688);">
              </div>
            </div>
          </button>
          <button type="button" class="btn btn-rose btn-sm saveChanges" (click)="clear()">Clear
            <div class="ripple-container">
              <div class="ripple-decorator ripple-on ripple-out"
                style="left: 55.375px; top: 11px; background-color: rgb(255, 255, 255); transform: scale(8.04688);">
              </div>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>

  <ng-template #queryFormTog let-modal>
    <div class="modal-body">
      <div class="card" style="box-shadow: none !important;margin-top:-19px ">
        <!-- <div class="card-header card-header-tabs card-header-rose new-header">
                    <span title="Close" class=" clickable close-new-icon" (click)="closeDataForm()" data-effect="fadeOut">
                        <i class="fa fa-times"></i>
                    </span>
                    <span class="heading">Criteria Conditions</span>
                </div> -->
        <div class="card-header card-header-tabs card-header-rose height-line">
          <span title="Close" class="pull-right clickable close-icon" (click)="[closeModal(),closeDataForm()]"
            data-effect="fadeOut"><i class="fa fa-times"></i></span>
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper">
              <ul class="nav nav-tabs" data-tabs="tabs">
                <li class="nav-item " id="FILE" rel="FILE" [class.active]="viewMode == 'FILE'"
                  (click)="viewMode ='FILE'">
                  <a href="javascript:void(0)" class="nav-link" [ngClass]="{'active': viewMode == 'FILE'}">
                    <i class="material-icons col-ora">settings</i>Filter
                    <div class="ripple-container"></div>
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item" id="MACROVAR" rel="MACROVAR" [class.active]="viewMode == 'MACROVAR'" rel="MACROVAR"
                  (click)="viewMode ='MACROVAR'">
                  <a href="javascript:void(0)" class="nav-link" [ngClass]="{'active': viewMode == 'MACROVAR'}">
                    <i class="material-icons col-ora">settings</i>Aggregation
                    <div class="ripple-container"></div>
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li *ngIf="shallow_copy.colDisplayType == 'C'|| shallow_copy.colDisplayType == 'N'" class="nav-item"
                  id="M_QUERY" rel="M_QUERY" [class.active]="viewMode == 'M_QUERY'" (click)="viewMode ='M_QUERY'">
                  <a href="javascript:void(0)" class="nav-link" [ngClass]="{'active': viewMode == 'M_QUERY'}">
                    <i class="material-icons col-ora">settings</i>Scaling
                    <div class="ripple-container"></div>
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <!-- <div *ngIf="shallow_copy.colDisplayType == 'N'" class="scalling">
                        <span class="scallingUnit" (click)="scaling = !scaling">
                            Scaling
                        </span>
                    </div> -->
          <div class="d-flex nameProperty">
            <div class="columnNamePopup fontBoldColumnName globalHeader">Column Name: <span
                class="globalContent">{{shallow_copy.fields}}</span>
              <span class="mandatory">* Field is mandatory</span>
            </div>
            <div class="promptValueCheck">
              <input type="checkbox" [(ngModel)]="shallow_copy.promptValueCheck" class="check_box_cst">
              <span class="sHead">Prompt</span>
            </div>
          </div>
          <ng-container *ngIf="viewMode == 'M_QUERY'">
            <div *ngIf="shallow_copy.colDisplayType == 'C'|| shallow_copy.colDisplayType == 'N'">
              <div class="scaling-body">
                <div class="form-row">
                  <div class="col-md-4 lftSide">
                    <input type="checkbox" [(ngModel)]="shallow_copy.scalingFlag"
                      (click)="shallow_copy.scalingFormat = shallow_copy.scalingFlag==false ? '' : shallow_copy.scalingFormat"
                      class="check_box_cst">
                    <span class="sHead fontBoldColumnName globalHeader">Scaling Flag</span>
                  </div>
                  <div class="col-md-8 parent" *ngIf="shallow_copy.scalingFlag">
                    <ng-select appendTo="body" [(ngModel)]="shallow_copy.scalingFormat" class="form-new-control">
                      <ng-option *ngFor="let opt of scaling_type" [value]="opt.id">{{opt.text}}
                      </ng-option>
                    </ng-select>
                    <label class="bmd-label-static fontBoldColumnName globalHeader">Scaling Type</label>
                    <div class="line"></div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12 lftSide">
                    <input type="checkbox" [(ngModel)]="shallow_copy.numberFormat"
                      (click)="shallow_copy.decimalFlag = shallow_copy.numberFormat ? shallow_copy.decimalFlag : false;
                                        shallow_copy.decimalCount = shallow_copy.decimalFlag ? shallow_copy.decimalCount : ''" class="check_box_cst">
                    <span class="sHead fontBoldColumnName globalHeader">Comma Separator</span>
                  </div>
                </div>
                <div class="form-row" *ngIf="shallow_copy.numberFormat">
                  <div class="col-md-4 lftSide">
                    <input type="checkbox" [(ngModel)]="shallow_copy.decimalFlag"
                      (click)="shallow_copy.decimalCount = shallow_copy.decimalFlag ? shallow_copy.decimalCount : ''"
                      class="check_box_cst">
                    <span class="sHead fontBoldColumnName globalHeader">Decimal Flag</span>
                  </div>
                  <div class="col-md-8 parent" *ngIf="shallow_copy.decimalFlag">
                    <input type="number" [(ngModel)]="shallow_copy.decimalCount" max="5" min="1"
                      class="form-control classname">
                    <label class="bmd-label-static fontBoldColumnName globalHeader">Decimal Count</label>
                    <div class="line"></div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <!-- <div *ngIf="shallow_copy.colDisplayType == ''">

                    </div> -->
          <ng-container *ngIf="viewMode == 'FILE'">
            <div class="form-row">
              <div class="fontBoldColumnName globalHeader">Criteria:</div>
              <div class="form-group col-md-12 bmd-form-group pl-0 criterial-select">
                <ng-select appendTo="body" class="form-new-control" [(ngModel)]="shallow_copy.creteria"
                  [name]="shallow_copy.creteria"
                  (change)="creteriaCondition(shallow_copy['index'],shallow_copy,'creteria');"
                  (clear)="onClearLang(shallow_copy['index'])">
                  <ng-option *ngFor="let opt of shallow_copy.creteriaDropDown" [value]="opt.key">
                    {{opt.value}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="viewMode == 'MACROVAR'">
            <div class="form-row">
              <div class="fontBoldColumnName globalHeader">Aggregation:</div>
              <div class="form-group col-md-12 bmd-form-group pl-0 aggregation-select">
                <ng-select appendTo="body" class="form-new-control" [(ngModel)]="shallow_copy.aggrigate"
                  [name]="shallow_copy.aggrigate"
                  (change)="creteriaCondition(shallow_copy['index'],shallow_copy,'aggrigate');"
                  (clear)="onClearLangSummery(shallow_copy['index'],'aggrigate')">
                  <ng-option *ngFor="let opt of shallow_copy.aggrigateDropDown" [value]="opt.key">
                    {{opt.value}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
            <div class="form-row" *ngIf="shallow_copy.aggrigate">
              <div class="fontBoldColumnName globalHeader">Summary Filter:</div>
              <div class="form-group col-md-12 bmd-form-group pl-0 summary-select">
                <ng-select appendTo="body" class="form-new-control" [(ngModel)]="shallow_copy.summeryFilter"
                  [name]="shallow_copy.summeryFilter" (change)="summeryCondition(shallow_copy['index'],shallow_copy);"
                  (clear)="onClearLangSummery(shallow_copy['index'],'summeryFilter')">
                  <ng-option *ngFor="let opt of shallow_copy.summeryDropDown" [value]="opt.key">
                    {{opt.value}}
                  </ng-option>
                </ng-select>
              </div>
            </div>
          </ng-container>

          <div class="form-row FILE" *ngIf="viewMode == 'FILE'">
            <div class="col-md-6 pl-0">
              <div class="form-group  bmd-form-group">
                <span
                  *ngIf="shallow_copy.creteria != 'not like' && shallow_copy.creteria != 'like' && shallow_copy.creteria != 'in' && shallow_copy.creteria != 'not in' && shallow_copy.creteria != 'is null' && shallow_copy.creteria != 'is not null' && shallow_copy.creteria != 'COUNT' && shallow_copy.creteria != 'MIN' && shallow_copy.creteria != 'MAX' && shallow_copy.startDataDisTog == 'date'">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" [(ngModel)]="shallow_copy.dynamicStartFlag" type="checkbox"
                        value="">Dynamic
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-md-6 pl-0">
              <div class="form-group  bmd-form-group">
                <span *ngIf="shallow_copy.creteria == 'between' && shallow_copy.endDataDisTog == 'date'">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" [(ngModel)]="shallow_copy.dynamicEndFlag" type="checkbox"
                        value="">Dynamic
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="form-row FILE" *ngIf="viewMode == 'FILE' && shallow_copy.creteria">
            <div class="pl-0"
              [ngClass]="shallow_copy.creteria == 'between'  || (shallow_copy.startDataDisTog == 'date' && shallow_copy.dynamicStartFlag) ? 'col-md-6':'col-md-12'">
              <span *ngIf="shallow_copy.startDataTog || shallow_copy.dynamicStartFlag"
                [ngClass]="{'display_flex' : shallow_copy.startDataDisTog=='popup'}">
                <div *ngIf="shallow_copy.creteria != 'between' && !shallow_copy.dynamicStartFlag"
                  class="fontBoldColumnName globalHeader">Value:&nbsp;<span class="text-danger">*</span>
                </div>
                <div *ngIf="shallow_copy.creteria != 'between' && shallow_copy.dynamicStartFlag"
                  class="fontBoldColumnName globalHeader">Value:&nbsp;<span class="text-danger">*</span>
                </div>
                <div *ngIf="shallow_copy.creteria == 'between' && !shallow_copy.dynamicStartFlag" style="width:100px"
                  class="fontBoldColumnName globalHeader">Start Value:&nbsp;<span class="text-danger">*</span></div>
                <input *ngIf="shallow_copy.startDataDisTog =='popup'"
                  [ngStyle]="{'margin-left': shallow_copy.creteria=='between' ? '-101px' : '-41px' }"
                  style="margin-top: 20px" type="text" class="form-control insideGrid" [value]="shallow_copy.startData"
                  (input)="shallow_copy.startData=$event.target.value" [name]="shallow_copy.startData">
                <input *ngIf="shallow_copy.startDataDisTog =='plain'" class="form-control insideGrid" type="text"
                  (change)="quotesChecking('startData',shallow_copy['index'],$event,shallow_copy.creteria,shallow_copy.type_txt)"
                  [name]="shallow_copy.startData" [value]="shallow_copy.startData"
                  (input)="shallow_copy.startData=$event.target.value">


                <span *ngIf="shallow_copy.startDataDisTog=='dropdown'">
                  <ng-select [(ngModel)]="shallow_copy.startData" class="custom drop_popup form-new-control"
                    [multiple]="shallow_copy.multiple" [name]="shallow_copy.startData">
                    <ng-option *ngFor="let opt of shallow_copy.magnifierValues.dropdown"
                      [value]="opt[shallow_copy.magnifierValues.key]">
                      {{opt[shallow_copy.magnifierValues.value]}}</ng-option>
                  </ng-select>
                </span>


                <span *ngIf="shallow_copy.startDataDisTog=='popup'" style="margin-top: 20px;
                                        margin-left: -24px;">
                  <a (click)="openModal(shallow_copy['index'],'startData',shallow_copy)">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </span>

                <span *ngIf="shallow_copy.startDataDisTog == 'date' && !shallow_copy.dynamicStartFlag">
                  <input name="startData" class="form-control" [(ngModel)]="shallow_copy.startData" theme="dp-material"
                    [dpDayPicker]="shallow_copy.dateConfig">
                </span>
                <!-- </span> -->
                <span *ngIf="shallow_copy.startDataDisTog == 'date' && shallow_copy.dynamicStartFlag">
                  <div *ngIf="shallow_copy.creteria == 'between' && shallow_copy.dynamicStartFlag" style="width:100px"
                    class="fontBoldColumnName globalHeader">Start Value:&nbsp;<span class="text-danger">*</span></div>
                  <div class="form-row">
                    <div class="col-md-5 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicStartDate" id="sd" name="dynamicStartDate"
                        value="D" />
                      <label class="date-switch" for="sd">D</label>
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicStartDate" id="sm" name="dynamicStartDate"
                        value="M" />
                      <label class="date-switch" for="sm">M</label>
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicStartDate" id="sy" name="dynamicStartDate"
                        value="Y" />
                      <label class="date-switch" for="sy">Y</label>
                    </div>
                    <div class="col-md-3 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicStartOperator" id="sdminus"
                        name="dynamicStartOperator" value="-" />
                      <label class="date-switch" for="sdminus">-</label>
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicStartOperator" id="sdplus"
                        name="dynamicStartOperator" value="+" />
                      <label class="date-switch" for="sdplus">+</label>

                    </div>
                    <div class="col-md-3">
                      <input [(ngModel)]="shallow_copy.dy_start_op_val" class="form-control" type="number" max="100"
                        min="0">
                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>

                </span>
              </span>
              <ng-container *ngIf="shallow_copy.startDataTog && !shallow_copy.dynamicStartFlag">
                <!-- <span *ngIf="!shallow_copy['startData'].length" class="error_msg">Should not be empty</span> -->
                <span *ngIf="shallow_copy['strError']" class="error_msg">Should be in date format </span>
              </ng-container>
            </div>
            <div class="col-md-6 pl-0">
              <span *ngIf="shallow_copy.endDataTog || shallow_copy.dynamicEndFlag"
                [ngClass]="{'display_flex' : shallow_copy.endDataDisTog=='popup'}">
                <div style="width:100px" *ngIf="!shallow_copy.dynamicEndFlag" class="fontBoldColumnName globalHeader">
                  End Value:&nbsp;<span class="text-danger">*</span></div>
                <input *ngIf="shallow_copy.endDataDisTog == 'popup'" class="form-control insideGrid" type="text"
                  [value]="shallow_copy.endData"
                  [ngStyle]="{'margin-left': shallow_copy.creteria=='between' ? '-101px' : '-41px' }"
                  style="margin-top: 20px;" (input)="shallow_copy.endData=$event.target.value"
                  [name]="shallow_copy.endData">

                <input *ngIf="shallow_copy.endDataDisTog =='plain'" class="form-control insideGrid" type="text"
                  (change)="quotesChecking('endData',shallow_copy['index'],$event,shallow_copy.creteria,shallow_copy.type_txt)"
                  [name]="shallow_copy.endData" [value]="shallow_copy.endData"
                  (input)="shallow_copy.endData=$event.target.value">

                <span *ngIf="shallow_copy.endDataDisTog=='dropdown'">
                  <ng-select appendTo="body" [(ngModel)]="shallow_copy.endData" class="drop_popup form-new-control"
                    [name]="shallow_copy.endData">
                    <ng-option *ngFor="let opt of shallow_copy.magnifierValues.dropdown"
                      [value]="opt[shallow_copy.magnifierValues.key]">
                      {{opt[shallow_copy.magnifierValues.value]}}</ng-option>
                  </ng-select>
                </span>
                <span *ngIf="shallow_copy.endDataDisTog=='popup'" style="margin-top: 20px;
                                        margin-left: -24px;">
                  <a (click)="openModal(shallow_copy['index'],'endData',shallow_copy)">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                  </a>
                </span>
                <span *ngIf="shallow_copy.endDataDisTog == 'date' && !shallow_copy.dynamicEndFlag">
                  <input name="endData" class="form-control" [(ngModel)]="shallow_copy.endData" theme="dp-material"
                    [dpDayPicker]="shallow_copy.dateConfig">
                </span>
                <span *ngIf="shallow_copy.endDataDisTog == 'date' && shallow_copy.dynamicEndFlag">
                  <div class="fontBoldColumnName globalHeader" style="width:100px" *ngIf="shallow_copy.dynamicEndFlag">
                    End Value:&nbsp;<span class="text-danger">*</span></div>
                  <div class="form-row">
                    <div class="col-md-5 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicEndDate" id="ed" name="dynamicEndDate"
                        value="D" />
                      <label class="date-switch" for="ed">D</label>
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicEndDate" id="em" name="dynamicEndDate"
                        value="M" />
                      <label class="date-switch" for="em">M</label>
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicEndDate" id="ey" name="dynamicEndDate"
                        value="Y" />
                      <label class="date-switch" for="ey">Y</label>
                    </div>
                    <div class="col-md-3 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicEndOperator" id="edminus"
                        name="dynamicEndOperator" value="-" />
                      <label class="date-switch" for="edminus">-</label>
                      <input type="radio" [(ngModel)]="shallow_copy.dynamicEndOperator" id="edplus"
                        name="dynamicEndOperator" value="+" />
                      <label class="date-switch" for="edplus">+</label>

                    </div>
                    <div class="col-md-3">
                      <input class="form-control" [(ngModel)]="shallow_copy.dy_end_op_val" type="number" max="100"
                        min="0">

                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                </span>
              </span>
              <ng-container *ngIf="shallow_copy.endDataTog && !shallow_copy.dynamicEndFlag">
                <!-- <span *ngIf="!shallow_copy['endData'].length" class="error_msg">Should not be empty</span> -->
                <span *ngIf="shallow_copy['endError']" class="error_msg">Should be in date format</span>
              </ng-container>
            </div>
          </div>
          <div class="form-row MACROVAR" *ngIf="viewMode == 'MACROVAR'">
            <div class="col-md-6 pl-0" *ngIf="shallow_copy.summeryFilter !=''">
              <div class="form-group  bmd-form-group">
                <span
                  *ngIf="shallow_copy.summeryFilter != 'not like' && shallow_copy.summeryFilter != 'like' && shallow_copy.summeryFilter != 'in' && shallow_copy.summeryFilter != 'not in' && shallow_copy.summeryFilter != 'is null' && shallow_copy.summeryFilter != 'is not null' && shallow_copy.summeryFilter != 'COUNT' && shallow_copy.summeryFilter != 'MIN' && shallow_copy.summeryFilter != 'MAX' && shallow_copy.summeryStartDataDisTog == 'date'">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" [(ngModel)]="shallow_copy.summeryStartFlag" type="checkbox"
                        value="">Dynamic
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </span>
              </div>
            </div>
            <div class="col-md-6 pl-0">
              <div class="form-group  bmd-form-group">
                <span *ngIf="shallow_copy.summeryFilter == 'between' && shallow_copy.summeryEndDataDisTog == 'date'">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" [(ngModel)]="shallow_copy.summeryEndFlag" type="checkbox"
                        value="">Dynamic
                      <span class="form-check-sign">
                        <span class="check"></span>
                      </span>
                    </label>
                  </div>
                </span>
              </div>
            </div>
          </div>
          <div class="form-row MACROVAR" *ngIf="viewMode == 'MACROVAR' && shallow_copy.summeryFilter">
            <div class="pl-0"
              [ngClass]="shallow_copy.summeryFilter == 'between' || (shallow_copy.summeryStartDataDisTog == 'date' && shallow_copy.summeryStartFlag) ? 'col-md-6':'col-md-12'">
              <span *ngIf="shallow_copy.summeryStartDataTog || shallow_copy.summeryStartFlag"
                [ngClass]="{'display_flex' : shallow_copy.summeryStartDataDisTog=='popup'}">
                <div *ngIf="shallow_copy.summeryFilter != 'between' && !shallow_copy.summeryStartFlag"
                  class="fontBoldColumnName globalHeader">Value:&nbsp;<span class="text-danger">*</span>
                </div>
                <div *ngIf="shallow_copy.summeryFilter != 'between' && shallow_copy.summeryStartFlag"
                  class="fontBoldColumnName globalHeader">Value:&nbsp;<span class="text-danger">*</span>
                </div>
                <div *ngIf="shallow_copy.summeryFilter == 'between' && !shallow_copy.summeryStartFlag"
                  style="width:100px" class="fontBoldColumnName globalHeader">Start Value:&nbsp;<span
                    class="text-danger">*</span></div>
                <input *ngIf="shallow_copy.summeryStartDataDisTog =='plain'" class="form-control insideGrid" type="text"
                  (change)="quotesChecking('summeryStartData',shallow_copy['index'],$event,shallow_copy.summeryFilter,shallow_copy.type_txt)"
                  [name]="shallow_copy.summeryStartData" [value]="shallow_copy.summeryStartData"
                  (input)="shallow_copy.summeryStartData=$event.target.value">

                <span *ngIf="shallow_copy.summeryStartDataDisTog == 'date' && !shallow_copy.summeryStartFlag">
                  <input name="summeryStartData" class="form-control" [(ngModel)]="shallow_copy.summeryStartData"
                    theme="dp-material" [dpDayPicker]="shallow_copy.dateConfig">
                </span>
                <span *ngIf="shallow_copy.summeryStartDataDisTog == 'date' && shallow_copy.summeryStartFlag">
                  <div *ngIf="shallow_copy.summeryFilter == 'between' && shallow_copy.summeryStartFlag"
                    style="width:100px" class="fontBoldColumnName globalHeader">Start Value:&nbsp;<span
                      class="text-danger">*</span></div>
                  <div class="form-row">
                    <div class="col-md-5 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.summeryStartDate" id="ssd" name="summeryStartDate"
                        value="D" />
                      <label class="date-switch" for="ssd">D</label>
                      <input type="radio" [(ngModel)]="shallow_copy.summeryStartDate" id="ssm" name="summeryStartDate"
                        value="M" />
                      <label class="date-switch" for="ssm">M</label>
                      <input type="radio" [(ngModel)]="shallow_copy.summeryStartDate" id="ssy" name="summeryStartDate"
                        value="Y" />
                      <label class="date-switch" for="ssy">Y</label>
                    </div>
                    <div class="col-md-3 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.summeryStartOperator" id="sdminus"
                        name="summeryStartOperator" value="-" />
                      <label class="date-switch" for="sdminus">-</label>
                      <input type="radio" [(ngModel)]="shallow_copy.summeryStartOperator" id="sdplus"
                        name="summeryStartOperator" value="+" />
                      <label class="date-switch" for="sdplus">+</label>

                    </div>
                    <div class="col-md-3">
                      <input [(ngModel)]="shallow_copy.sum_start_op_val" class="form-control" type="number" max="100"
                        min="0">
                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>

                </span>
              </span>
              <ng-container *ngIf="shallow_copy.summeryStartDataTog && !shallow_copy.summeryStartFlag">
                <!-- <span *ngIf="!shallow_copy['summeryStartData'].length" class="error_msg">Should not be empty</span> -->
                <span *ngIf="shallow_copy['strError']" class="error_msg">Should be in date format </span>
              </ng-container>
            </div>
            <div class="col-md-6 pl-0">
              <span *ngIf="shallow_copy.summeryEndDataTog || shallow_copy.summeryEndFlag"
                [ngClass]="{'display_flex' : shallow_copy.summeryEndDataDisTog=='popup'}">
                <div style="width:100px" *ngIf="!shallow_copy.summeryEndFlag" class="fontBoldColumnName globalHeader">
                  End Value:&nbsp;<span class="text-danger">*</span></div>
                <input *ngIf="shallow_copy.summeryEndDataDisTog =='plain'" class="form-control insideGrid" type="text"
                  (change)="quotesChecking('summeryEndData',shallow_copy['index'],$event,shallow_copy.summeryFilter,shallow_copy.type_txt)"
                  [name]="shallow_copy.summeryEndData" [value]="shallow_copy.summeryEndData"
                  (input)="shallow_copy.summeryEndData=$event.target.value">
                <span *ngIf="shallow_copy.summeryEndDataDisTog == 'date' && !shallow_copy.summeryEndFlag">
                  <input name="summeryEndData" class="form-control" [(ngModel)]="shallow_copy.summeryEndData"
                    theme="dp-material" [dpDayPicker]="shallow_copy.dateConfig">
                </span>
                <span *ngIf="shallow_copy.summeryEndDataDisTog == 'date' && shallow_copy.summeryEndFlag">
                  <div style="width:100px" *ngIf="shallow_copy.summeryEndFlag">End Value:&nbsp;<span
                      class="text-danger">*</span></div>
                  <div class="form-row">
                    <div class="col-md-5 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.summeryEndDate" id="eed" name="summeryEndDate"
                        value="D" />
                      <label class="date-switch" for="eed">D</label>
                      <input type="radio" [(ngModel)]="shallow_copy.summeryEndDate" id="eem" name="summeryEndDate"
                        value="M" />
                      <label class="date-switch" for="eem">M</label>
                      <input type="radio" [(ngModel)]="shallow_copy.summeryEndDate" id="eey" name="summeryEndDate"
                        value="Y" />
                      <label class="date-switch" for="eey">Y</label>
                    </div>
                    <div class="col-md-3 switch-field d-flex align-items-end">
                      <input type="radio" [(ngModel)]="shallow_copy.summeryEndOperator" id="edminus"
                        name="summeryEndOperator" value="-" />
                      <label class="date-switch" for="edminus">-</label>
                      <input type="radio" [(ngModel)]="shallow_copy.summeryEndOperator" id="edplus"
                        name="summeryEndOperator" value="+" />
                      <label class="date-switch" for="edplus">+</label>

                    </div>
                    <div class="col-md-3">
                      <input class="form-control" [(ngModel)]="shallow_copy.sum_end_op_val" type="number" max="100"
                        min="0">

                    </div>
                    <div class="col-md-1">

                    </div>
                  </div>
                </span>
              </span>
              <ng-container *ngIf="shallow_copy.summeryEndDataTog && !shallow_copy.summeryEndFlag">
                <!-- <span *ngIf="!shallow_copy['summeryEndData'].length" class="error_msg">Should not be empty</span> -->
                <span *ngIf="shallow_copy['endError']" class="error_msg">Should be in date format</span>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer button-list">
      <button type="button"
        [disabled]="(shallow_copy['startDataTog'] && !shallow_copy.dynamicStartFlag && !shallow_copy['startData'].length) || (shallow_copy['endDataTog'] && !shallow_copy.dynamicEndFlag &&  !shallow_copy['endData'].length)|| (shallow_copy['summeryStartDataTog'] && !shallow_copy.summeryStartFlag && !shallow_copy['summeryStartData'].length) || (shallow_copy['summeryEndDataTog'] && !shallow_copy.summeryEndFlag &&   !shallow_copy['summeryEndData'].length)"
        class="btn btn-secondary btn-rose btn-sm margin-right-15" (click)="applyDataForm();">Save</button>
      <button type="button" class="btn btn-secondary btn-rose btn-sm" (click)="closeDataForm()">Cancel</button>
    </div>
  </ng-template>

</div>
<ng-template #addTemplate let-c="close" let-d="dismiss" class="modal fade" let-modal>
  <div class="modal-body" style="padding:5px !important;">
    <div class="card" style="box-shadow: none !important; margin-top: 0px">
      <div class="card-header card-header-tabs card-header-rose new-header">
        Schedule
        <button type="button" class="f-17 pull-right clickable close" (click)="closeModel()">&times;</button>
      </div>
      <div class="card-body padd912" id="createWidgetSec">
        <form class="w-100 h-100 m-0">
          <div class="form-row">
            <div class="d-flex form-group bmd-form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 align-items-end">
              <div class="form-row mt-3 paddLeft12">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="M" class="form-check-input" id="date1">
                    Manual
                    <span class="circle"><span class="check"></span></span>
                  </label>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="radio" value="S" class="form-check-input" id="date2">
                    Schedule
                    <span class="circle"><span class="check"></span></span>
                  </label>
                </div>
                <label class="bmd-label-static">Extraction Type</label>
              </div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group bmd-form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <ng-select class="selectpicker pl-2" appendTo="body">
                <ng-container *ngFor="let data of scheduleTypeList">
                  <ng-option value="{{data.alphaSubTab}}">
                    {{data.description}}</ng-option>
                </ng-container>
              </ng-select>
              <label class="bmd-label-static">Schedule Type</label>
              <div class="line"></div>
            </div>

          </div>
          <div class="form-row">
            <div class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 feesConfig">
              <input class="ml-2 form-control cursorPointer" [dpDayPicker]="config" [mode]="'time'" />
              <label class="bmd-label-static">Schedule From</label>
              <div class="line"></div>
            </div>
            <div class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 feesConfig">
              <input class="ml-2 form-control cursorPointer" [dpDayPicker]="config" [mode]="'time'" />
              <label class="bmd-label-static">Schedule To</label>
              <div class="line"></div>
            </div>
            <div class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <input class="ml-2 form-control cursorPointer" [dpDayPicker]="config" [mode]="'time'" />
              <label class="bmd-label-static">Time</label>
              <div class="line"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="form-group bmd-form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <ng-select class="pl-2 selectpicker" appendTo="body">
                <ng-container *ngFor="let data of eventNameList">
                  <ng-option value="{{data.alphaSubTab}}">
                    {{data.description}}</ng-option>
                </ng-container>
              </ng-select>
              <label class="bmd-label-static">Event Name</label>
              <div class="line"></div>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer" style="text-align: center;margin: auto;">
        <div style="float:right;">
          <button type="button" class="btn btn-rose btn-sm" id="submitbtn">Submit</button>
          <button type="button" class="can-db btn btn-rose btn-sm" data-dismiss="modal"
            (click)="closeModel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>
<a style="display: none;" class="download-zip-link" #downloadZipLink></a>
