<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Where Condition</h4>
  <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="submit('close')"></i></a>
</div>
<div class="modal-body magnifier">
  <div class="row w-100 h-100">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100 w-100">
      <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 box-center">
        <div class="w-100 h-85 text-area-borders">
          <textarea class="text-area-borders"  [(ngModel)]="emailBody" id="text-editor"></textarea>
        </div>
        <div class="w-100 h-15">
          <div class="modal-footer dv-center">
            <button type="button" class="btn btn-rose btn-sm" (click)="submit('submit')">Ok&nbsp;</button>&nbsp;
            <button type="button" class="btn btn-rose btn-sm" (click)="submit('clear')">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
