.live-search-list table tr:focus,
.live-search-list table tr:active {
  background: var(--content-color);
  color: #fff;
}
.for_back_icons span {
  color: #fff;
  background: #767676;
  margin: 3px 0px;
  padding: 0px;
  border-radius: 50%;
  font-size: 11px !important;
  padding: 3px;
}
.popup-sub-title {
  background: var(--content-color);
  font-size: 13px;
  font-weight: 500;
  color: #fff;
  padding: 6px !important;
  margin: 0;
}
.dropdrag-box-item {
  cursor: pointer;
}

.dropdrag-box-item.is-touched {
  background-color: grey;
  /* color: #fff; */
}
.virtual-scroller-item,
#tab2,
.material-table {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
virtual-scroller {
  width: 100%;
  height: 86%;
  border: solid 1px grey;
  margin: 0;
  font-size: 13px;
  font-weight: 400;
}

.virutual-scroll{
  height: 72% !important;
  font-size: 13px;
  font-weight: 400;

}
