<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">User Ids</h4>
  <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>
<div id="tablecolumn" class="modal-body pad h-95 indexset">
  <div id="canvas" class="d-flex h-100 w-100">


    <div class="material-table  h-90 p-0">
      <ng-container>
        <div class="d-flex mt-2 mb-3 pr-3 h-100">
          <div class="col-6 pl-0">
            <h4 class="popup-sub-title">Users</h4>


            <virtual-scroller #parent class="live-search-list" [items]="valuesPatternsLeft">
              <ng-container class="" *ngFor="let item of parent.viewPortItems;let i=index">
                <div [ngClass]="{'is-touched':item.isLeftTouched}" class="virtual-scroller-item dropdrag-box-item"
                  (click)="onClickValuesPatternsItem(item, 'left')">
                  {{item.userName}}
                </div>
              </ng-container>
            </virtual-scroller>
          </div>
          <div class="d-flex flex-column valuesPatterns for_back_icons h-100">
            <div class="d-flex flex-column justify-content-center h-50">
              <span class="material-icons" ngbTooltip="Move selected items" style="font-size: 17px;"
              (click)="moveSelectedItems('right')">arrow_forward_ios</span>
            <span class="material-icons" ngbTooltip="Move selected items"
              style="font-size: 17px;"  (click)="moveSelectedItems('left')">arrow_back_ios_new</span>
            </div>
            <div class="d-flex flex-column justify-content-center h-50">
              <span class="material-icons" ngbTooltip="Move selected items" style="font-size: 17px;"
              (click)="moveSelectedItemsBottom('bottom')">arrow_forward_ios</span>
            <span class="material-icons" ngbTooltip="Move selected items"
              style="font-size: 17px;" (click)="moveSelectedItemsBottom('left')">arrow_back_ios_new</span>
            </div>

          </div>
          <div class="col-6 h-100" >
            <div class="d-flex flex-column h-100">
            <div style="height: 50%;">
              <h4 class="popup-sub-title">To Ids</h4>

              <virtual-scroller #details class="live-search-list virutual-scroll" [items]="valuesPatternsRight">
                <ng-container *ngFor="let item2 of details.viewPortItems;let i=index">
                  <div [ngClass]="{'is-touched':item2.isRightTouched}"
                  (click)="onClickValuesPatternsItem(item2, 'right')"
                   class="virtual-scroller-item dropdrag-box-item">
                    {{item2.userName}}
                  </div>
                </ng-container>
              </virtual-scroller>
            </div>
            <div style="height: 50%; margin-top: 2px;">
              <h4 class="popup-sub-title">CC Ids</h4>

              <virtual-scroller #details2 class="live-search-list virutual-scroll" [items]="valuesPatternsBottom">
                <ng-container *ngFor="let item3 of details2.viewPortItems;let i=index">
                  <div [ngClass]="{'is-touched':item3.isBottomChecked}"
                  (click)="onClickValuesPatternsItem(item3, 'bottom')"
                  class="virtual-scroller-item dropdrag-box-item">
                    {{item3.userName}}
                  </div>
                </ng-container>
              </virtual-scroller>
            </div>
          </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>

<div class="modal-footer text-center pb-2 mt-2">
  <button type="button" class="btn btn-secondary btn-rose btn-sm margin-right-15"
    (click)="saveSelectingColumns()">Save</button>
  <button type="button" class="btn btn-secondary btn-rose btn-sm" (click)="closeModal()" data-dismiss="modal">
    Cancel
  </button>
</div>
