<div class="d-flex w-100 h-100 flex-column"
 [ngClass]="groupingFlag == 'Y' && groupingAvailable ? '':'not-groupig-margin'">
    <div *ngIf="groupingFlag == 'Y' && response.maxRecords >= response.totalRows && groupingAvailable"
        [ngClass]="data.grouping == 'Y' || data.advanceSettings == 'Y' || data.filter == 'Y' ? 'h-7' : 'h-0'"
        class="table-header header-report align-items-center container-fluid">
        <div class="d-flex w-100 h-100 mb-1">
            <div class="row h-100 w-100 m-0">
                <div [ngClass]="data.grouping == 'Y' ? 'bb-1' : ''" cdkDropList cdkDropListOrientation="horizontal"
                    (cdkDropListDropped)="drop($event,'group')"
                    class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 display-flex relative grouping-parent"
                    dndDropzone (dndDrop)="onDropGrid($event)">
                    <div *ngIf="!droppedItem.length" class="grouping">Drag and drop header for grouping</div>
                    <div class="gp_card cursor" cdkDrag *ngFor="let drop of droppedItem; let i=index">
                        <div class="gp_card_inner">
                            <span class="pull-left w-95" [attr.title]="drop.name">{{drop.name | slice: 0:15}}<span
                                *ngIf="drop.name.length > 15;">...</span></span>
                            <span class="cursor w-5 close-group" (click)="remove(i,drop)">x</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="groupingFlag == 'Y' && response.totalRows > response.maxRecords && groupingAvailable" class="table-header header-report align-items-center container-fluid h-7">
        <div class="d-flex w-100 h-100 mb-1">
            <div class="row h-100 w-100 m-0">
                <div class="col-md-12 col-lg-12 col-xl-12 col-sm-12 col-xs-12 display-flex relative grouping-parent bb-1">
                    <div class="grouping">
                        {{messageStr}} {{response.maxRecords}} rows
                    </div>
                 </div>
            </div>
        </div>
    </div>
    <div class="w-100 d-flex flex-column"
        [ngClass]="groupingFlag == 'Y' && groupingAvailable ? 'h-95 interActiveh-93': 'h-99'">
            <div [ngClass]="data.pagination == 'Y' ? 'h-95 interActiveh-95' : 'h-100'">
                <perfect-scrollbar [config]="{suppressScrollX : data.scrollbarX == 'N',suppressScrollY: true}">
                    <div class="overall-grid h-100" [ngClass]="reportOrientation == 'L' ? 'w-180' : reportOrientation == 'P' ? 'w-100': ''"
                    [ngStyle]="{'width': reportOrientation != 'L' && reportOrientation != 'P' ? reportOrientation + '%' :''}" >
                        <!-- <div class="grid-left" *ngIf="pinningLeft">
                            <ng-container *ngTemplateOutlet="pinning;context: {pinType: 'left'}">
                            </ng-container>
                        </div> -->
                        <div class="grid-center d-flex flex-column w-100 h-100" *ngIf="pinningCenter">
                            <ng-container *ngTemplateOutlet="pinning;context: {pinType: 'center'}">
                            </ng-container>
                        </div>
                        <!-- <div class="grid-right" *ngIf="pinningRight">
                            <ng-container *ngTemplateOutlet="pinning;context: {pinType: 'right'}">
                            </ng-container>
                        </div> -->
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="paginationHold d-flex justify-content-end align-items-baseline"
                *ngIf="data.pagination == 'Y' && !droppedItem.length" [ngClass]="(data.pagination == 'Y') ? 'h-7 interActiveh-5' : 'h-0'">
                <!-- <div *ngIf="otherInfo.totalRows > otherInfo.maxRecords" class="d-flex justify-content-start max-Records ml-1">
                    Only {{otherInfo.maxRecords}} rows can be displayed on screen out of {{otherInfo.totalRows}}.Export to get complete data
                </div> -->
                <!-- <div class="paginationHold d-flex justify-content-end align-items-baseline"
                    *ngIf="data.pagination == 'Y' && !droppedItem.length"> -->
                <!-- <div class="d-flex jsustify-content-end mr-2" *ngIf="response.totalRows > response.maxRecords">
                    <div class="mr-2">Go To Page</div>
                    <div class="col-sm-12 col-md-1 col-lg-1 col-xl-1 form-group bmd-form-group p-0 m-0">
                        <input type="text" class="form-control" [(ngModel)]="goToPage">
                    </div>
                    <button type="button" class="btn btn-primary btn-rose btn-sm p-1" (click)="submitPage()">{{'go' |
                        translate}}</button>
                </div> -->
                <span [innerHTML]="getPaginationDet()"></span>
                <span>
                    <ul class="material-pagination d-flex pl-0 mb-0">
                        <li class="d-flex">
                            <button class="btn btn-link p-2" (click)="previous()" [disabled]="previousDisp">
                                <i class="material-icons">chevron_left</i>
                            </button>
                        </li>
                        <li class="d-flex">
                            <button class="btn btn-link p-2" id="next" (click)="next()" [disabled]="nextDisp">
                                <i class="material-icons">chevron_right</i>
                            </button>
                        </li>
                    </ul>
                </span>
                <!-- </div> -->
            </div>
        </div>
</div>

<ng-template #pinning let-pinType="pinType">
    <div [ngStyle]="getHeightHeader('first')" class="d-flex flex-column interActiveh-thead">
        <ng-container *ngTemplateOutlet="theadDiv;context: {pinType: pinType}"></ng-container>
    </div>
    <ng-container *ngIf="viewData.length">
        <div class="interActiveh-tbody" [ngStyle]="getHeightContent('first')" [ngClass]="[maintainData.showSearch ? 'move-down': '',
        valueHeader.length ==  1 ? maintainData.fontSize + '-headdown': maintainData.fontSize + 'down',
         groupingFlag == 'Y' && maintainData.fontSize == 'tiny' && valueHeader.length ==  1 ? 'fortiny': '' ]"
       *ngIf="!droppedItem.length">
            <div class="d-flex flex-column h-100">
                <ng-container *ngTemplateOutlet="tbodyDiv;context: {pinType: pinType}"></ng-container>
            </div>
        </div>
        <div [ngStyle]="getHeightContent('first')" *ngIf="droppedItem.length">
            <div class="d-flex flex-column h-100">
                <ng-container
                    *ngTemplateOutlet="treeDiv; context: {allItems: groupingData, idx: 'first',dataId:'first',pinType:pinType}">
                </ng-container>
            </div>
        </div>
        <div [ngClass]="maintainData.showSearch ? 'z-index': ''" class="d-flex flex-column footer-row interActiveh-tfooter"
            [ngStyle]="getHeightContent('footer')">
            <ng-container *ngTemplateOutlet="tfooterDiv;context: {pinType: pinType}"></ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="!viewData.length">
        <div style="color: #949292;" class="no-data">
            No Record Found
        </div>
    </ng-container>

</ng-template>

<ng-template #theadDiv let-pinType="pinType">
    <ng-container
        *ngIf="data.grouping == 'Y' || data.advanceSettings == 'Y' || data.pinning == 'Y' || data.filter == 'Y' || data.columnDragandDrop == 'Y' || data.columnResize == 'Y'">
        <div class="h-100 d-grid MultipleRow grouping-highlighter"
            [ngStyle]="{'grid-template-columns':gridFr,'width':headerWidthPx}">
            <ng-container *ngFor="let head of flexHeaders; let h = index">
                <div *ngIf="!head.grouping && head.selected && head.pinning==pinType" [ngStyle]="gridSpan(head)"
                    class="th d-flex align-items-center justify-content-center" [ngClass]="maintainData.fontSize">
                    <ng-container *ngIf="data.columnDragandDrop == 'Y'">
                        <span tooltip="Add" class="tool_tip" [ngClass]="(pinningRight || pinningLeft) ? 'disabled' : ''"
                            cdkDragHandle class="grab th-lft"> <i class="fa fa-align-justify"></i>
                        </span>
                    </ng-container>
                    <ng-container>
                        <span *ngIf="(head.groupingFlag == 'Y' || head.groupingFlag == 'D') && response.maxRecords >= response.totalRows"
                            [dndDraggable]="head" (dndStart)="dndDrag('start')"
                            [dndDisableDragIf]="data.grouping == 'N'" (dndCanceled)="dndDrag('cancelled')"
                            [style.width.px]="head.innerWidth" class="w-100" [ngClass]="[data.grouping == 'Y' ?  'all-scroll' : '',
                            (head.colspan == 1  && groupingFlag == 'Y') ?
                            'hover-th': '']">{{head.name}}</span>
                        <span [title]="head.name.length >= 16 ? head.name : ''"
                            *ngIf="(head.groupingFlag != 'Y' && head.groupingFlag != 'D') || response.totalRows > response.maxRecords"
                            [style.width.px]="head.innerWidth" class="w-100 overflow-hide">{{head.name}}</span>
                    </ng-container>
                    <ng-container *ngIf="data.pinning == 'Y'">
                        <span (click)="settingPopup(head);" class="grab th-rgh pinningBox">
                            <i class="fa fa-thumb-tack pinningBox" aria-hidden="true"></i>
                        </span>
                    </ng-container>
                    <ng-container *ngTemplateOutlet="setting;context: {head: head,index:h}"></ng-container>
                    <ng-container *ngIf="data.columnResize == 'Y'">
                        <span class="resizable right" (mousedown)="resizable($event,h,'mousedown')"></span>
                    </ng-container>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container
        *ngIf="data.grouping == 'N' && data.advanceSettings == 'N' && data.pinning == 'N' && data.filter == 'N' && data.columnDragandDrop == 'N' && data.columnResize == 'N'">
        <div class="flexTableHeader" [attr.class]="className" [ngStyle]="checkWidth()">
            <ng-container *ngFor="let head of header;let h = index">
                <div class="th" [style.width.px]="head.width">
                    <span>{{head.name}}</span>
                </div>
            </ng-container>
        </div>
    </ng-container>
    <ng-container *ngIf="data.filter == 'Y' && maintainData.showSearch">
        <div class='flexTableHeader' [ngStyle]="checkWidth()">
            <ng-container *ngFor="let head of header;let h = index">
                <ng-container *ngIf="!head.grouping && head.selected && head.pinning==pinType">
                    <div [ngStyle]="checkMinWidth(head,'normal')" class="th filter-trth" *ngIf="head.selected"
                        [ngClass]="[maintainData.showSearchR ? 'filter-trShow' : '', maintainData.fontSize]">
                        <input type="text" [disabled]="filterDisabled()" [(ngModel)]="head.filterData"
                            (input)="inlineFilter()" class="w-100 line-height">
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </ng-container>
</ng-template>

<ng-template #tbodyDiv let-pinType="pinType">
    <div class="flexTableBody w-100 h-100" [ngClass]="maintainData.templateId == 'MULTIPLE'?'posRela':''">
        <!-- <perfect-scrollbar class="w-100 h-100" #bodyDivScroll> -->
        <!-- <virtual-scroller  [parentScroll]="bodyDivScroll.directiveRef.elementRef.nativeElement" class="w-100 h-100"  #perfectScroll [items]="viewData" (vsChange)="onScrollEvent($event)" > -->
        <virtual-scroller [ngClass]="maintainData.templateId == 'MULTIPLE'?'posAbso':''" class="w-100 h-100" #perfectScroll [items]="viewData" (vsChange)="onScrollEvent($event)">
            <!-- <perfect-scrollbar [config]="{suppressScrollX : true}" [scrollIndicators]="true" #perfectScroll (psScrollY)="onScrollEvent($event)"> -->
            <div class="flexTableRow valueTable" #highLightRow *ngFor="let item of perfectScroll.viewPortItems;"
                [attr.id]="maintainData.subReportId+'-highLightRow'+item.INDEXING"
                (mouseover)="breadCrumbText(item,'mouseover',item.INDEXING,false)"
                (mouseout)="breadCrumbText(item,'mouseout',item.INDEXING,false)">
                <ng-container *ngFor="let key of header; let j = index">
                    <ng-container *ngIf="key.pinning==pinType">
                        <div (click)="drillDownRequest(item,item.INDEXING)" class="tr" [ngStyle]="checkMinWidthDesign(key,'normal',item)" *ngIf="!key.grouping && key.selected"
                            [ngClass]="[key.id=='img' ? 'img-center':'',key.class, maintainData.fontSize,tblRowClassFn()]">
                            <span class="align-padding report-white-space-pre" attr.title="{{item[key.id]}}"
                                *ngIf="key.colType == 'T' || key.colType == 'D'">{{item[key.id]}}</span>
                            <span class="align-padding TR report-white-space-pre text-right" attr.title="{{item[key.id]}}"
                                *ngIf="key.colType == 'TR'">{{item[key.id]}}</span>
                            <span class="align-padding NR report-white-space-pre text-right" attr.title="{{item[key.id]}}"
                                *ngIf="key.colType == 'NR'">{{item[key.id] }}</span>
                            <span  class="align-padding report-white-space-pre" attr.title="{{item[key.id] | number: '1.2-2'}}" *ngIf="key.colType == 'N'">
                                {{item[key.id] | number: '1.2-2'}}</span>
                            <span  class="align-padding report-white-space-pre" attr.title="{{item[key.id] | number: '1.0-0'}}"
                                *ngIf="key.colType == 'I' || key.colType == 'S'">
                                {{item[key.id] | number: '1.0-0'}}
                                <!-- {{ getDecimalScaling(item[key.id],key) }} -->
                            </span>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
        </virtual-scroller>
        <!-- </perfect-scrollbar> -->
    </div>
</ng-template>

<ng-template #tfooterDiv let-pinType="pinType">
    <div class="" [ngStyle]="{'width':headerWidthPx}">
        <div class="flexTableRow h-100" *ngIf="checkColHeader()">
            <ng-container *ngFor="let key of header; let j = index">
                <!-- <div [ngStyle]="checkMinWidth(key,'normal')" class="border-bottom-0 tr h-100 no-border footer-bg"
                    *ngIf="key.colType == 'T' && key.selected && !key.grouping">
                </div>
                <div [ngStyle]="checkMinWidth(key,'normal')" [ngClass]="maintainData.fontSize"
                    class="border-bottom-0 tr h-100 subTot footer-bg"
                    *ngIf="key.colType != 'T' && key.selected && !key.grouping">
                    <span class="d-flex w-100 headder-pad">
                        <span class="text-right w-100" *ngIf="key.colType == 'N'">
                            {{ getValueReturn(key.id) | number : '1.2-2' }}
                        </span>
                        <span class="text-right w-100" *ngIf="key.colType == 'I' || key.colType == 'S'">
                            {{ getValueReturn(key.id) | number: '1.0-0' }}
                        </span>
                    </span>
                </div> -->
                <ng-container *ngFor="let total of columnTotal">
                    <div [ngStyle]="checkMinWidth(key,'normal')"  [ngClass]="maintainData.fontSize" class="tr h-100 subTot footer-bg flexTableBody bgColoreee"
                        *ngIf="key.selected && !key.grouping">
                        <span class="d-flex w-100 headder-pad">
                            <span class="w-100 report-white-space-pre overflow-text" attr.title={{total[key.dbColumnName]}} *ngIf="key.colType == 'T' || key.colType == 'D'">
                                {{total[key.dbColumnName] }}
                            </span>
                            <span class="text-right w-100 report-white-space-pre overflow-text" attr.title={{total[key.dbColumnName]}} *ngIf="key.colType == 'TR'">
                                {{total[key.dbColumnName] }}
                            </span>
                            <span class="text-right w-100 report-white-space-pre overflow-text" attr.title={{total[key.dbColumnName]}} *ngIf="key.colType == 'NR'">
                                {{total[key.dbColumnName]}}
                            </span>
                            <span class="text-right w-100 report-white-space-pre overflow-text" attr.title={{total[key.dbColumnName]}} *ngIf="key.colType == 'N'">
                                {{total[key.dbColumnName] | number : '1.2-2'}}
                            </span>
                            <span class="text-right w-100 report-white-space-pre overflow-text" attr.title={{total[key.dbColumnName]}} *ngIf="key.colType == 'I' || key.colType == 'S'">
                                {{total[key.dbColumnName] | number: '1.0-0' }}
                            </span>
                        </span>
                    </div>
                </ng-container>
            </ng-container>
        </div>
    </div>
</ng-template>

<ng-template #treeDiv let-allItems="allItems" let-idx="idx" let-pinType="pinType" let-dataId="dataId">
    <perfect-scrollbar [config]="{suppressScrollX : true}" [scrollIndicators]="true" #perfectScroll
        (psScrollY)="onScrollEvent($event)">
        <ul class="w-100  p-0"
            [ngClass]="[maintainData.showSearch && idx == 'first'  ? 'move-down': '', valueHeader.length ==  1 ? maintainData.fontSize + '-headdown': maintainData.fontSize + 'down']">
            <li class="d-flex flex-column liborderLine" [attr.data-id]="n" [ngStyle]="treeLiWidth(idx)"
                *ngFor="let item of allItems; let n = index">
                <div class="flexTableRow valueTable w-100 h-100 afterGroupingLineHeight"
                    [ngClass]="maintainData.fontSize + 'font'">
                    <ng-container *ngFor="let key of header; let j = index">
                        <div [ngStyle]="checkMinWidth(key,'tree')" [ngClass]="maintainData.fontSize"
                            class="tr h-100 d-flex flex-column overflowInherit"
                            *ngIf="key.firstRow && (key.colType == 'T' || key.colType == 'D'|| key.colType == 'TR') && key.selected && !key.grouping">
                            <div class="main_id d-flex align-items-center w-100 h-100" [title]="item[item.id]"
                                [ngClass]="toggleClassReturn(item,idx)" (click)="toggleFn(item,allItems)">
                                <i class="fa groupTextfa"
                                    [ngClass]="item.toggle ? 'fa fa-caret-down': 'fa-caret-right'"></i>
                                <span class="groupText"
                                    [style.display]="(pinType == 'left' || (!pinningLeft && pinType == 'center'))? '' : 'none'">
                                    {{item[item.id]}}
                                    <span class="count">({{item.dataSet.length || item.children.length}})</span>
                                </span>
                            </div>
                        </div>
                        <div [ngStyle]="checkMinWidth(key,'tree')" class="tr h-100 d-flex flex-column"
                            *ngIf="!key.firstRow && (key.colType == 'T' || key.colType == 'D' || key.colType == 'TR')  && key.selected && !key.grouping">
                            <ng-container>
                                <div class="mhpx-24"></div>
                            </ng-container>
                        </div>
                        <div [ngStyle]="checkMinWidth(key,'tree')" class="tr h-100 subTot"
                            *ngIf="(key.colType != 'T' && key.colType != 'TR') && key.selected && !key.grouping">
                            <span class="d-flex w-100 headder-pad" *ngIf="!item.children.length && item.dataSet.length">
                                <span class="text-right w-100 align-padding" *ngIf="(key.colType == 'N' || key.colType == 'NR')">
                                    {{ getValueReturn1(item.dataSet,key.id) | number : '1.2-2' }}
                                </span>
                                <span class="text-right w-100 align-padding"
                                    *ngIf="key.colType == 'I' || key.colType == 'S'">
                                    {{ getValueReturn1(item.dataSet,key.id) | number: '1.0-0' }}
                                </span>
                            </span>
                            <span class="d-flex w-100 headder-pad" *ngIf="!item.dataSet.length && item.children.length">
                                <span class="text-right w-100 align-padding" *ngIf="(key.colType == 'N' || key.colType == 'NR')">
                                    {{ getValueReturn2(item.children,key.id) | number : '1.2-2' }}
                                </span>
                                <span class="text-right w-100 align-padding"
                                    *ngIf="key.colType == 'I' || key.colType == 'S'">
                                    {{ getValueReturn2(item.children,key.id) | number: '1.0-0' }}
                                </span>
                            </span>
                        </div>
                    </ng-container>
                </div>

                <div *ngIf="item.dataSet.length && item.toggle" class="w-100 h-100">
                    <perfect-scrollbar [config]="{suppressScrollX : true}" #pScrollbar>
                        <div class="flexTableBody w-100 h-100">
                            <virtual-scroller [parentScroll]="pScrollbar.directiveRef.elementRef.nativeElement" #scroll
                                [items]="item.dataSet" style="max-height: 300px;"
                                [ngStyle]="checkGroupingHeight(item.dataSet.length)">
                                <div [ngStyle]="checkWidth()" class="flexTableRow valueTable" #highLightRow [attr.id]="maintainData.subReportId+'-highLightRow'+items.INDEXING"
                                    *ngFor="let items of scroll.viewPortItems; let i = index">
                                    <!-- <div [ngStyle]="checkWidth()" class="flexTableRow valueTable"
                                *ngFor="let items of item.dataSet; let i = index">  -->
                                    <ng-container *ngFor="let key of header; let j = index">
                                        <ng-container *ngIf="key.pinning==pinType">
                                            <div (click)="drillDownRequest(items,items.INDEXING)" class="treeDiv tr" [ngStyle]="checkMinWidth(key,'tree')"
                                                *ngIf="!key.grouping && key.selected"
                                                [ngClass]="[key.id=='img' ? 'img-center':'',key.class, maintainData.fontSize,tblRowClassFn()]">
                                                <span class="align-padding report-white-space-pre" attr.title="{{items[key.id]}}"
                                                    *ngIf="key.colType == 'T' || key.colType == 'D'">{{items[key.id]}}</span>
                                                <span class="text-right align-padding report-white-space-pre" attr.title="{{items[key.id]}}"
                                                    *ngIf="key.colType == 'TR'">{{items[key.id]}}</span>
                                                <span class="text-right align-padding report-white-space-pre" attr.title="{{items[key.id] | number : '1.2-2'}}"
                                                    *ngIf="key.colType == 'NR'">{{items[key.id] }}</span>
                                                <span class="align-padding report-white-space-pre" attr.title="{{items[key.id] | number : '1.2-2'}}"
                                                    *ngIf="key.colType == 'N'">
                                                    {{items[key.id] | number : '1.2-2'}}</span>
                                                <span class="align-padding report-white-space-pre" attr.title="{{items[key.id] | number : '1.0-0'}}"
                                                    *ngIf="key.colType == 'I' || key.colType == 'S'">
                                                    {{items[key.id] | number : '1.0-0'}}
                                                    <!-- {{ getDecimalScaling(items[key.id],key) }} -->
                                                </span>
                                            </div>
                                        </ng-container>
                                    </ng-container>
                                </div>
                            </virtual-scroller>

                        </div>
                    </perfect-scrollbar>
                </div>
                <div *ngIf="item.children.length && item.toggle">
                    <ng-container
                        *ngTemplateOutlet="treeDiv; context: {allItems: item.children,idx: idx + '.' + n, dataId:dataId+','+n,pinType:pinType }">
                    </ng-container>
                </div>
            </li>
        </ul>
    </perfect-scrollbar>
</ng-template>

<div *ngIf="data.advanceSettings == 'Y'" class="row d-flex justify-content-end">
    <!-- <span class="toggle-side-filter" id="side-filter-icon">
        <i class="fa fa-caret-left" aria-hidden="true" id="sidebarArrow"></i>
    </span> -->
    <div class="show side-filter-hold col-sm-8 col-md-4 col-lg-4 col-xl-4" id="side-filter-hold">
        <div class="row" id='filterHeader'>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <h5 class="header-title fixed-heading pb-0 pt-2 mb-2">Advance Settings</h5>
                <ul class="view_port_ul">
                  <li class="view_port_li relative ml-0">
                    <div class="form-group bmd-form-group p-0">
                      <div class="form-check grouping-Flag">
                        <label class="form-check-label" [ngClass]="groupingFlag == 'Y' ? 'enable-grouping' :'disable-grouping'">
                          <input class="form-check-input" type="checkbox" [disabled]="groupingFlag != 'Y'" [checked]="applyGroupingFlag"
                            [(ngModel)]="applyGroupingFlag"/>
                          Apply Grouping
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                        </label>
                      </div>
                    </div>
                  </li>
                </ul>
            </div>
        </div>
        <div class="row align-content-start" id='filterBody'>
            <div class="body h-100">
                <div class="pivot-mode" [ngClass]="data.sorting != 'Y' || data.search != 'Y' ? 'h-100':''">
                    <ul class="adv-ul d-flex flex-column h-100">
                        <li class="adv-list" [ngClass]="adVsettings=='columnView' && adVsettingsColumn ? 'h-68':''">
                            <div class="adv-headings" (click)="adVsettingsDropdown('columnView')" style="cursor: pointer;">
                                <a [ngClass]="adVsettings=='columnView' && adVsettingsColumn ? 'fa fa-caret-down p5' : 'fa fa-caret-right p5'"></a>
                                Column to display
                            </div>
                            <ng-container *ngIf="adVsettings=='columnView' && adVsettingsColumn">
                                <perfect-scrollbar class="h-95 columns-display">
                                    <ul class="view_port_ul ">
                                        <li class="view_port_li relative">
                                            <div class="form-group bmd-form-group p-0">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" [checked]="overallVieport"
                                                            [(ngModel)]="overallVieport" (change)="overallVPCheckClk('overAll')" />
                                                        View All
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </div>
                                        </li>
                                        <ng-container *ngFor="let head of header;let i=index;">
                                            <li class="view_port_li relative" *ngIf="!head.grouping">
                                                <div class="form-group bmd-form-group p-0">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" [(ngModel)]="head.selected1"
                                                                [checked]="head.selected1" (change)="overallVPCheckClk('individual')" />
                                                            {{head.name | slice: 0:40}}
                                                            <span *ngIf="head.name.length > 40;">...</span>
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </li>
                                        </ng-container>
                                    </ul>
                                </perfect-scrollbar>
                            </ng-container>
                        </li>
                        <li class="adv-list" [ngClass]="adVsettings=='columnView' && adVsettingsColumn ? 'col-margin-top':''" *ngIf="data.sorting == 'Y'">
                            <div class="adv-headings" (click)="adVsettingsDropdown('sorting')" style="cursor: pointer;">
                                <!-- [ngClass]="'fa fa-caret-down p5' : 'fa fa-caret-right p5'" -->
                                <a [ngClass]="adVsettings=='sorting' && adVsettingsSorting ? 'fa fa-caret-down' : 'fa fa-caret-right'"
                                    class="fa fa-caret-down p5"></a>
                                Sorting
                            </div>
                            <ul class="view_port_ul sorting" *ngIf="adVsettings=='sorting' && adVsettingsSorting">
                                <form class="mt-0 mb-3" [formGroup]="sortingForm">
                                    <div class="form-group pb-0 mt-0 row">
                                        <div class="form-group d-flex justify-content-center col-sm-12 col-md-6 col-lg-6 col-xl-6 bmd-form-group pb-0">
                                            <label class="bmd-label-static p-0 sorting-label">Column</label>
                                        </div>
                                        <div class="form-group d-flex justify-content-center col-sm-12 col-md-5 col-lg-5 col-xl-5 bmd-form-group pb-0">
                                            <label class="bmd-label-static p-0 sorting-label">Sort Type</label>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 p-0 m-0 d-flex align-items-end">
                                            <span class="d-inline-flex">
                                                <i title="Add" [ngClass]="addSortDisabled ? 'disabled' : ''"
                                                    class="material-icons addColumnValue-02 green" (click)="addSortArry()">
                                                    add_circle_outline </i></span>
                                        </div>
                                    </div>
                                    <ng-container formArrayName="sortArray">
                                        <div *ngFor='let sort of sortingForm.controls.sortArray.controls; let i = index'
                                            [formGroupName]="i" class="form-group pb-0 mt-0 row">
                                            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6 m-0 p-0">
                                                <ng-select class="selectpicker sorting-move" appendTo="body" formControlName="column">
                                                    <ng-container
                                                        *ngFor="let head of displayHeaderCol(header,i,'sortingForm','sortArray','column','id');let h = index;">
                                                        <ng-option [value]="head.dbColumnName">{{head.name}}
                                                        </ng-option>
                                                    </ng-container>
                                                </ng-select>
                                            </div>
                                            <div class="col-sm-12 col-md-5 col-lg-5 col-xl-5 d-flex justify-content-center m-0 p-0">
                                                <div class="switch-field">
                                                    <input type="radio" formControlName="type" [id]="i+'ASC'" value="asc" />
                                                    <label [for]="i+'ASC'">Asc</label>
                                                    <input type="radio" formControlName="type" [id]="i+'uniqueId'" value="" />
                                                    <label [for]="i+'uniqueId'"><i class="material-icons"
                                                            style="font-size: 8px;">-</i></label>
                                                    <input type="radio" formControlName="type" [id]="i+'DESC'" value="desc" />
                                                    <label [for]="i+'DESC'">Des</label>
                                                </div>

                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 p-0 m-0 d-flex align-items-end relative">
                                                <span class="d-inline-flex absolute top-19">
                                                    <i *ngIf="i != 0" title="Delete"
                                                        class="material-icons addColumnValue-02 red "
                                                        (click)="deleteSortArry(i)">
                                                        remove_circle_outline </i></span></div>
                                        </div>
                                        <!-- <div class="form-row mt-15">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-10 text-center">
                                                <button class="btn btn-rose btn-sm saveTransaction"
                                                    [disabled]="!(this.sortingForm.valid)" (click)="submitSort();">Submit
                                                    <div class="ripple-container"></div></button>
                                                <button class="btn btn-rose btn-sm saveTransaction"
                                                    [disabled]="!(this.sortingForm.valid)" (click)="resetSort();">Reset
                                                    <div class="ripple-container"></div></button>
                                            </div>
                                        </div> -->
                                    </ng-container>
                                </form>
                            </ul>
                        </li>
                        <li class="adv-list" *ngIf="data.search == 'Y'">
                            <div class="adv-headings" (click)="adVsettingsDropdown('Filter')" style="cursor: pointer;">
                                <a [ngClass]="adVsettings=='Filter' && adVsettingsFilter ? 'fa fa-caret-down' : 'fa fa-caret-right'"
                                    class="p5"></a>
                                Filter
                            </div>
                            <ul class="view_port_ul sorting" *ngIf="adVsettings=='Filter' && adVsettingsFilter">
                                <form class="mt-0" [formGroup]="filteringForm">
                                    <div class="form-group pb-0 mt-0 row">
                                        <div class="form-group d-flex justify-content-center col-sm-12 col-md-4 col-lg-4 col-xl-4 bmd-form-group pb-0">
                                            <label class="bmd-label-static p-0 sorting-label">Column</label>
                                        </div>
                                        <div class="form-group d-flex justify-content-center col-sm-12 col-md-3 col-lg-3 col-xl-3 bmd-form-group pb-0">
                                            <label class="bmd-label-static p-0 sorting-label">Type</label>
                                        </div>
                                        <div class="form-group d-flex justify-content-center col-sm-12 col-md-4 col-lg-4 col-xl-4 bmd-form-group pb-0">
                                            <label class="bmd-label-static p-0 sorting-label">Value</label>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 p-0 m-0 d-flex justify-content-center align-items-end">
                                            <span class="d-inline-flex">
                                                <i title="Add" class="material-icons addColumnValue-02 green"
                                                    (click)="addFilterArry()">
                                                    add_circle_outline </i></span>
                                        </div>
                                    </div>
                                    <ng-container formArrayName="filterArray">
                                        <div *ngFor='let filter of filteringForm.controls.filterArray.controls; let i = index'
                                            [formGroupName]="i" class="form-group pb-0 mt-0 row">
                                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0">
                                                <ng-select appendTo="body" class="selectpicker sorting-move"
                                                    (change)="filldataType($event,i)" formControlName="id">
                                                    <ng-container *ngFor="let head of header;let h = index">
                                                        <ng-option [value]="head.dbColumnName">{{head.name}}
                                                        </ng-option>
                                                    </ng-container>
                                                </ng-select>
                                            </div>
                                            <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3 m-0 p-0">
                                                <ng-select appendTo="body" class="selectpicker sorting-move" formControlName="type">
                                                    <ng-container *ngIf="filter.get('dataType').value=='T' || filter.get('dataType').value=='TR'">
                                                        <ng-option value="LIKE">Contains</ng-option>
                                                        <ng-option value="EQUALS">Equals</ng-option>
                                                        <ng-option value="NOTEQUALS">Not Equals</ng-option>
                                                        <ng-option value="ENDSWITH">Ends With</ng-option>
                                                        <ng-option value="STARTSWITH">Start With</ng-option>
                                                    </ng-container>
                                                    <ng-container *ngIf="filter.get('dataType').value=='N' || filter.get('dataType').value=='NR' ||
                                                    filter.get('dataType').value=='I' ||filter.get('dataType').value=='S'">
                                                        <ng-option value="LIKE">Contains</ng-option>
                                                        <ng-option value="EQUALS">Equals</ng-option>
                                                        <ng-option value="ENDSWITH">Ends With</ng-option>
                                                        <ng-option value="STARTSWITH">Start With</ng-option>
                                                        <ng-option value="LESSER">
                                                            < </ng-option>
                                                                <ng-option value="GREATER">>
                                                                </ng-option>
                                                                <ng-option value="LESSEREQUALS">
                                                                    <= </ng-option>
                                                                        <ng-option value="GREATEREQUALS">>=
                                                                        </ng-option>
                                                                        <ng-option value="EQUALS">==</ng-option>
                                                                        <ng-option value="NOTEQUALS">!=</ng-option>
                                                    </ng-container>
                                                </ng-select>
                                            </div>
                                            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 m-0 p-0 filter-value">
                                                <input [type]="filter.get('dataType').value=='n' ? 'number' : 'text'"
                                                    class="form-control" formControlName="filterData">
                                            </div>
                                            <div class="col-md-1 col-lg-1 col-xl-1 p-0 m-0 d-flex justify-content-center align-items-end relative">
                                                <span class="d-inline-flex absolute top-19">
                                                    <i *ngIf="i != 0" title="Delete"
                                                        class="material-icons addColumnValue-02 red "
                                                        (click)="deleteFilterArry(i)">
                                                        remove_circle_outline </i></span></div>
                                        </div>
                                        <!-- <div class="form-row mt-15">
                                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-10 text-center">
                                                <button class="btn btn-rose btn-sm saveTransaction"
                                                    [disabled]="!(filteringForm.valid)" (click)="submitFilter();">Submit
                                                    <div class="ripple-container"></div></button>
                                                <button class="btn btn-rose btn-sm saveTransaction"
                                                    [disabled]="!(filteringForm.valid)" (click)="resetFilter();">Reset
                                                    <div class="ripple-container"></div></button>
                                            </div>
                                        </div> -->
                                    </ng-container>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row" id='filterFooter'>
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center pb-2">
                <button type="button" class="btn btn-rose btn-sm ml-1" (click)="submitSort(true);">Submit
                </button>
                <button type="button" class="btn btn-sm btn-rose ml-1" (click)='saveSettings($event)'>Save
                </button>
                <button type="button" class="btn btn-rose btn-sm ml-1" (click)="resetSort();">Reset
                </button>
                <button type="button" class="btn btn-sm btn-rose ml-1" (click)='cancelFilter($event)'>Cancel
                </button>
            </div>
        </div>
    </div>
</div>
<div class="sideFilterOverlay fade" id="sideFilterOverlay"></div>
