.paginationHold>div {
    position: relative;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
}

.paginationHold label {
    font-size: 12px;
    text-align: right;
}

.paginationHold select {
    padding: 0;
    width: 40px;
}

.table-footer select {
    border-bottom: 1px solid lightgrey;
}

.custom-select {
    padding-left: 31px;
    margin-left: 11px;
    border: none;
}

.paginationHold * {
    font-size: 13px;
    color: #3c4858;
    font-weight: 400;
}

.paginationHold>span {
    display: inline-flex;
    min-width: 40px;
}

.h-100 {
    height: 100% !important;
}

.m-0 {
    margin: 0px !important;
}

.bb-1 {
    border-bottom: 1px solid #a7a7a7;
    border-bottom-style: dotted;
}

.disabled {
    pointer-events: none;
    cursor: no-drop;
}

.display-flex {
    display: flex;
}

.th-input {
    background: white !important;
}

.remove {
    cursor: pointer;
}

.grouping {
    font-size: 12px;
    font-weight: 600;
    opacity: 0.5;
    padding-top: 3px;
    color: #3e3e3e;
}

.relative {
    position: relative;
}

.pinningBox.radio.absolute {
    left: 0px;
    top: 4px;
}

.absolute {
    position: absolute;
}

.pinningBox.text {
    margin-left: 20px;
    color: grey;
    font-size: 12px;
}

.display-column-open {
    position: absolute;
    right: 0px;
}

.cursor {
    cursor: pointer;
}

.w-90 {
    width: 90%;
}

.textElli {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gp_card {
    /* width: 100px; */
    /* border: 1px solid #a7a7a7; */
    color: #4a4a4a;
    margin: 5px 1px;
    border-radius: 3px;
    font-weight: 400;
    line-height: 17px;
    white-space: nowrap;
    padding-top: 2px;
    background: #ccc;
    height: 21px;
    padding-right: 3px;
}

.gp_card_inner {
    display: flex;
    margin: 0px 5px;
    height: 100%;
    font-size: 13px;
}

.div-table {
    display: table;
    width: auto;
    background-color: #eee;
    border: 1px solid #666666;
    border-spacing: 5px;
}

.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}

.div-table-col {
    float: left;
    display: table-column;
    width: 200px;
    background-color: #ccc;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.advanceSettings {
    transition: .5s all ease;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    height: calc(100% - 0px);
    width: 0px;
    background: white;
    border-top-right-radius: 6px;
    border: 1px solid #c5bcbc;
    border-bottom-right-radius: 6px;
    display: none;
}

.advanceSettings .header {
    font-size: 12px;
    clear: both;
    display: block;
    height: 20px;
    margin: 0px 3px 20px;
    border-bottom: 1px solid #dcd8d8;
}

.advanceSettings .body {
    height: calc(100% - 40px);
}

.pivot-mode {
    height: 100%;
    overflow: hidden;
}

.li-columnspan {
    top: -2px;
    left: 16px;
}

.view_port_ul {
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    margin-right: 5px;
}

.view_port_ul>span {
    font-weight: 900;
}

.view_port_li {
    margin-left: 10px;
    margin-top: 2px;
}

.fw-900 {
    font-weight: 900;
}

#resp-table {
    width: 100%;
    display: table;
}

#resp-table-caption {
    display: table-caption;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#resp-table-header {
    display: table-header-group;
    background-color: gray;
    font-weight: bold;
    font-size: 25px;
}

.table-header-cell {
    display: table-cell;
    padding: 10px;
    text-align: justify;
    border-bottom: 1px solid black;
}

.valueListing {
    padding: 0px;
}

.valueListing li {
    font-size: 12px;
}

#resp-table-body {
    display: table-row-group;
}

.resp-table-row {
    display: table-row;
}

.drag-started {
    border: 1px dashed #000000;
    padding-top: 0px;
    background-color: #ccc;
}

.view-list {
    font-size: 15px;
    z-index: 20;
    cursor: pointer;
    height: 28px;
}

.table-body-cell {
    display: table-cell;
}

.p5 {
    padding: 5px;
}

div.material-table table tr td {
    border-bottom: 1px solid var(--table-border) !important;
}

.innerheaderTable th {
    background-color: transparent !important;
    color: transparent !important;
    border-color: transparent !important;
    user-select: none;
    position: relative !important;
    z-index: unset !important;
    overflow: visible;
}

.th-input {
    pointer-events: none;
    border-color: transparent !important;
}

.img-center {
    text-align: center;
}

.img-center span img {
    border-radius: 50%;
}

.main_id {
    color: #3c4043;
    font-weight: 600;
    /* font-size: 14px; */
    cursor: pointer;
    width: 165px;
    padding-left: 5px;
    padding-top: 5px;
    white-space: nowrap;
    overflow: inherit;
    text-overflow: ellipsis;
}

.headerTable-gp th {
    position: relative !important;
    z-index: unset !important;
    overflow: visible;
}

.table-responsive {
    overflow: hidden;
    overflow-y: auto;
}

.settings {
    position: absolute;
    right: 0;
    background: white;
    border: 1px solid #e6dfdf;
    display: block;
    width: 155px;
    z-index: 154;
    height: 100px;
    overflow: auto;
}

.filter-tr th {
    z-index: -1;
    transform: translateX(0) scaleY(0);
    transition: all .4s ease-in-out 0s;
    background: #fff;
}

.filter-trth {
    z-index: -1;
    transform: translateX(0) scaleY(0);
    transition: all .4s ease-in-out 0s;
    background: #fff !important;
}

.filter-trShow {
    transform: translateX(0) scaleY(1) !important;
    z-index: 21 !important;
}

.headerTable th {
    position: sticky !important;
    z-index: unset !important;
    overflow: visible;
    border: none;
}

.tableSearchIcon {
    position: absolute;
    top: 14%;
    left: 0%;
    z-index: 11;
    width: 18px;
    font-size: 13px;
    text-align: center;
    color: #fff;
    background: var(--content-color);
}

.headerTable:first-child th {
    top: 0;
}

.headerTable:nth-child(2) th {
    top: 26px;
}

.headerTable:nth-child(3) th {
    top: 52px;
}

.headerTable:nth-child(4) th {
    top: 78px;
}

.headerTable:nth-child(5) th {
    top: 104px;
}

.headerTable:nth-child(6) th {
    top: 130px;
}

.cdk-drag-placeholder {
    border: none !important;
}

.cdk-drop-list-dragging th {
    border: 2px dotted #a7a7a7;
}

.cdk-drag-placeholder, .cdk-drag-preview {
    font-size: 13px !important;
    color: white;
    background: #00bcd4;
    padding-left: 5px !important;
}

.cdk-drag-placeholder .grab, .cdk-drag-preview .grab {
    color: transparent !important;
}

.all-scroll {
    cursor: pointer;
    display: inline;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 12px;
    margin-right: 5px;
    text-overflow: ellipsis;
}

.w-80 {
    width: 80%;
}

.grab {
    font-size: 10px;
    width: 10%;
}

.th-lft {
    cursor: grab;
}

.th-rgh {
    cursor: pointer;
}

.adv-ul {
    padding-left: 5px;
}

.adv-list {
    font-size: 12px;
}

.adv-headings {
    border-bottom: 1px solid darkgray;
    border-bottom-style: dotted;
    margin-right: 5px;
}

.adv-headings .p5 {
    font-size: 15px;
    cursor: pointer;
}

.sorting {
    padding: 0px !important;
    margin-top: 10px;
}

.liChild {
    margin-top: -55px;
}

.addColumnValue-02 {
    font-size: 15px;
    cursor: pointer;
}

.green {
    color: green;
}

.red {
    color: red;
}

.switch-field {
    display: block;
    overflow: hidden;
    position: relative;
    margin-top: 14px;
    margin-left: 4px;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}

.switch-field label {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.6);
    font-size: 10px;
    line-height: 1;
    text-align: center;
    padding: 4px 3px;
    margin-bottom: 0px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: all 0.1s ease-in-out;
    font-weight: 600;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field label:first-of-type {
    border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
    border-radius: 0 4px 4px 0;
}

.switch-field input:checked+label {
    background-color: var(--content-color);
    color: #fff;
}

.top-19 {
    top: 19px;
}

.disabled {
    color: grey !important;
    pointer-events: none;
    cursor: no-drop;
}

.mt-15 {
    margin-top: 15px;
}

.mt-15 button {
    padding: 2px;
    font-size: 10px;
}

.overall-grid {
    display: flex;
}

.grid-left {
    border-right: 2px solid #8080805e;
}

.grid-right {
    border-left: 3px solid #8080805e;
}

.block {
    display: block !important;
}

.none {
    display: none !important;
}

.pinning {
    color: black;
    text-align: left;
}

.pin-heading {
    padding: 5px;
    border-bottom: #e4e4e4 1px solid;
    display: block;
    width: 100%;
    color: #8e8484;
}

/* .selecte-li {
    color: var(--content-color);
} */

.selecte-li-bg {
    background: orange;
}

.table-resizable .resizing {
    cursor: col-resize;
    user-select: none;
}

.resizable.right {
    right: 0px;
}

.resizable {
    position: absolute;
    top: 0;
    background: white;
    width: 2px;
    height: 100%;
    margin: 0 !important;
    cursor: col-resize;
    padding: 0 !important;
    display: block;
}

.resizable.left {
    left: 0px;
}

.textarea {
    min-height: 150px;
    border: 1px solid #ddd;
    padding: 15px;
    position: relative;
    width: 100px;
    float: right;
}

.textarea .grabber {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    margin-right: -15px;
    cursor: ew-resize;
    height: 100%;
    width: 10px;
    border-top: 1px solid #444;
    overflow: hidden;
    background-color: #444;
}

.overall-grid .inlineEditTable {
    overflow: hidden;
}

.dynamicTd td {
    padding-right: 12px !important;
}

.h-5 {
    height: 5%;
}

.h-90 {
    height: 90%;
}

.h-94 {
    height: 94%;
}

.h-95 {
    height: 95%;
}

.h-93 {
    height: 93%;
}

.h-97 {
    height: 97% !important;
}

.h-3 {
    height: 3% !important;
}

.h-7 {
    height: 7%;
}

.h-70 {
    height: 70%;
}

.h-10 {
    height: 10% !important;
}

.h-6 {
    height: 6% !important;
}

.h-80 {
    height: 80%;
}

.h-20 {
    height: 20%;
}

.h-85 {
    height: 85%;
}

.h-15 {
    height: 15%;
}

.h-0 {
    height: 0% !important;
}

.z-index {
    z-index: 0 !important;
}

.tooltip-header::after {
    box-shadow: none;
}

.w-2 {
    width: 2%;
}

.w-96 {
    width: 96%;
}

.showSearch {
    text-align: center;
    margin-left: 1px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
}

.showSearch i {
    color: var(--content-color);
    font-size: 16px;
}

.ml-12 {
    margin-left: 6px !important;
    margin-right: 6px !important;
}

.totalSticky td {
    position: sticky;
    bottom: 10px;
    background: var(--content-color);
    color: #fff;
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.w-5 {
    width: 5%;
}

.liList {
    background: gray;
    border: 1px solid #fff;
}

.hmp5 {
    padding: 0px !important;
    margin-top: 5px;
    margin-bottom: 5px;
}

.headerTable1 {
    position: sticky;
    top: 0px;
}

.flexTableHeader {
    display: flex;
    font-weight: bold;
}

.flexTableBody {
    display: inline-block;
}

.flexTableRow {
    display: flex;
}

.flexTableRow .tr {
    border-bottom: 1px solid var(--table-border);
    color: #616161;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* font-size: 12px; */
    padding: 0px 7px;
    line-height: 19px;
    padding-right: 6px;
    border-left: 1px solid var(--table-border);
}

.flexTableRow .tr:last-child, .flexTableHeader .th:last-child {
    border-right: 1px solid var(--table-border);
    /* border-right: none; */
}

.flexTableRow .tr:first-child, .flexTableHeader .th:first-child {
    border-left: 1px solid var(--table-border);
    /* border-left: none; */
}

.hoverClassRow div {
    background-color: #eee;
}

.flexTableHeader .th, .flexTableRow .tr {
    display: inline-block;
    /* max-width: 176px; */
}

.flexTableHeader .th, .d-grid .th {
    text-align: center;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    border-left: 1px solid #fff;
    border-bottom: 1px solid;
    background-color: var(--content-color);
}

.subTot {
    font-weight: bold;
    /* font-size: 14px !important; */
    color: #3c4044 !important;
}

.mhpx-24 {
    height: 29px;
}

.liborderLine {
    border: solid 1px #e9e9e9;
    border-left: none;
    border-right: none;
    border-top: none;
}

.flexTableRow1 {
    display: flex;
}

.spanHeaderTable {
    display: flex;
    border: 1px solid black;
}

.spanHeaderRow {
    flex: 1;
    display: flex;
    flex-flow: wrap;
}

.spanHeaderRow .colspan2 {
    flex: 1 1 100%;
}

.spanHeaderRow .cell {
    border: 1px solid black;
    padding: 8px;
    flex: 1;
    text-align: center;
}

.colSpanTableHeader {
    height: 50%;
    justify-content: center;
    align-items: center;
    background: var(--content-color);
    font-size: 12px;
    font-weight: 600;
    border-left: 1px solid #fff;
    border-bottom: 1px solid;
    color: #fff;
}

.flex-flow-wrap {
    flex-flow: wrap;
}

.crusorPointer {
    cursor: pointer;
}

.groupText {
    position: relative;
    top: 0px;
    margin-left: 5px;
    background-color: #fff;
}

.d-grid {
    display: grid;
}

.header-report {
    height: 27px !important;
    display: flex;
    -webkit-display: flex;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 99;
    padding: 0px !important
}

.ng-select-container>.ng-value-container>.ng-value>.ng-value-label {
    font-size: 12px !important;
    background: none !important
}

.btn.btn-new-rose {
    color: var(--content-color);
    background-color: transparent;
    border: var(--border-btn-color);
    box-shadow: var(--box-shadow-color);
}

.w-10 {
    width: 10%;
}

:root {
    --filterWidth: 0;
}

.side-filter-hold {
    background-color: #121212 !important;
    border-color: #777777 !important;
    color: #ffffff;
    display: none;
    flex-direction: column;
    position: fixed;
    top: 8%;
    opacity: 0;
    height: 300px;
    z-index: 10000;
    border-radius: 14px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    transition: all .3s ease-in-out 0s;
    transform: scaleX(0) translateY(0);
    transform-origin: right;
}

.side-filter-hold span {
    color: #8e8e8e
}

.side-filter-hold, #filterHeader h5 {
    background-color: #121212 !important;
    border-color: #777777 !important;
    color: #ffffff;
}

#filterFooter .btn-rose {
    /* background-color: #5c5c5c !important;
    color: #e0dede !important;
    border-color: #171616 !important;
    box-shadow: none; */
    border-radius: 3px;
    font-weight: 600;
    background-color: unset;
    border: 1px solid #ccc;
    box-shadow: unset;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #e0dede;
}

.toggle-side-filter {
    position: absolute;
    right: -2px;
    top: 44%;
    z-index: 1000;
    line-height: 1.2em;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--content-color);
}

.toggle-side-filter>i {
    font-size: 14px;
    color: #fff;
    line-height: 1.3em;
}

.fixed-heading {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
}

.show {
    display: flex !important;
}

#filterBody {
    overflow: visible;
}

#filterFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.sideFilterOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00000024;
    top: 0;
    display: none;
    will-change: transform, opacity;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
}

.fade.show {
    transform: scale(1);
    display: block;
}

.setRight {
    right: 15px;
    transform: scaleX(1) translateY(0);
    transform-origin: right;
}

.headder-pad {
    padding-top: 5px;
}

.grouping-parent {
    /* border: 1px solid #ccc; */
    border-bottom: none;
    padding-left: 0;
}

.w-98 {
    width: 98% !important;
}

.dndDragging {
    border: 1px dotted black;
}

.view_port_li input[type="checkbox"] {
    visibility: hidden;
}

#filterBody .body {
    width: 100%;
}

/* .align-padding {
  position: relative;
  top: -3px;
} */

.view_port_li .bmd-form-group label {
    color: #8e8e8e !important;
    font-size: 12px !important;
}

.view_port_li .bmd-form-group .grouping-Flag label.enable-grouping {
  color: #8e8e8e !important;
}

/* .hover-th {
  border: 3px dotted transparent;
} */

.grouping-highlighter .hover-th:hover {
    border: 3px dotted #e5e5e5;
}

.no-border {
    border-left: none !important;
}

.MultipleRow .all-scroll {
    line-height: 17px;
}

.singleRow .all-scroll {
    line-height: 26px;
}

.line-height {
    line-height: 12px;
}

.move-down {
    position: relative;
    top: 12px;
}

.defaultdown {
    top: 9px;
}

.smalldown {
    top: 14px;
}

.tinydown {
    position: relative;
    top: 10px;
}

.default-headdown {
    top: 16px;
}

.medium-headdown {
    top: 16px;
}

.small-headdown {
    top: 18px;
}

.tiny-headdown {
    top: 15px;
}

.h-81 {
    height: 81% !important;
}

.empty-bottom {
    border: none !important;
}

.footer-bg {
    background-color: #eee;
}

/* .footer-row {
  z-index: 1;
} */

.w-180 {
    width: 180%;
}

/* .pageDiv {
  background: white;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}

.pageDiv.A4{
  width: 21cm;
  height: 100%;
}
.pageDiv.A4landscape {
  width: 29.7cm;
  height:100%;
} */

.overflowInherit {
    overflow: inherit !important;
}

.default {
    font-size: 14px !important;
    line-height: 28px !important;
}

.medium {
    font-size: 13px !important;
    line-height: 24px !important;
}

.small {
    font-size: 10px !important;
    line-height: 20px !important;
}

.tiny {
    font-size: 8px !important;
    line-height: 14px !important;
}

.defaultfont {
    font-size: 14px !important;
}

.mediumfont {
    font-size: 12px !important;
}

.smallfont {
    font-size: 10px !important;
}

.tinyfont {
    font-size: 8px !important;
}

.afterGroupingLineHeight .tr {
    line-height: 24px !important;
}

.fortiny {
    top: 20px;
}

.overflow-hide {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.bgColoreee {
    border-bottom: 1px solid var(--table-border);
    background-color: #eee;
}

.vertical.selfScroll::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.vertical.selfScroll::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;
}

.vertical.selfScroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ccc;
}

.h-98 {
    height: 98%;
}

.max-Records {
    font-size: 13px;
    color: #ccc;
    font-weight: 400;
}

.btn.btn-rose, .btn.btn-rose:hover {
    color: #e0dede !important;
}

.posRela {
    position: relative;
    margin-bottom: 12px;
}

.posAbso {
    position: absolute;
}

.report-white-space-pre {
    white-space: pre;
}

.sorting-label {
    font-size: 12px !important;
    color: #8e8e8e !important;
    position: unset !important;
}

.sorting .bmd-form-group {
    margin: 0 !important;
}

.filter-value .form-control {
    height: 37px;
    color: #fff !important;
}

.overflow-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-margin-top {
    margin-top: 8px;
}

.z-154 {
    z-index: 1000;
}

.close-group {
    margin-top: -3px;
    font-weight: 500;
}

/* .applyGrouping {
  color: #8e8e8e !important;
}

.togglebutton label.applyGrouping input[type=checkbox]:checked+.toggle:after {
  top: -3px;
}

.togglebutton label .toggle, .togglebutton label input[type=checkbox][disabled]+.toggle {
  background-color: #bbbbbb;
} */

.view_port_li .bmd-form-group .grouping-Flag label.disable-grouping {
  color: #5c5c5c !important;
}

.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #8d8c8c;
  opacity: 0.5;
}

.not-groupig-margin {
  margin-top: 5px;
}
