<div class="card-body p-0 material-table" id="card-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div
        class="material-table dashboard-bg-white b-radius-12 h-99"
        style="margin-top: 0px"
        id="maximize"
      >
        <ng-container *ngIf="mainPage">
          <app-smart-table
            [tableDatails]="tableDetail"
            [tableData]="businessGloaaryList"
            [tableType]="'full'"
            [resetModel]="resetModel"
            [tableDatas]="ngxTableConfig"
            (eventType)="tableAction($event)"
          ></app-smart-table>
        </ng-container>
        <ng-container *ngIf="addEvent">
          <div class="d-flex flex-column h-100 w-100">
            <div
              *ngIf="pageView != 'add' && pageView != 'copy'"
              class="flag"
              [ngStyle]="backGroundFlag(eventValues.recordIndicator)"
            >
              {{ eventValues.recordIndicatorDesc }}
            </div>
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label class="tab_label" [ngClass]="'active show'">
                  <a href="javascript:void(0)" (click)="backtoMainpage()"
                    ><i class="material-icons forwardIcon">forward</i></a
                  >
                  <span>Business Glossary</span>
                </label>
              </div>
            </div>
            <div class="h-94 w-100">
              <div class="d-flex flex-column w-100 h-100">
                <div class="h-90 mainPadd12">
                  <div class="tab-content h-100 mt-2 position-relative">
                    <div class="tab-pane-fade tabMargin fadeIn h-100">
                      <div
                        [ngClass]="pageView == 'view' ? 'pointerDisable' : ''"
                        class="row h-100 m-0"
                      >
                        <div
                          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                        >
                          <form [formGroup]="bussinesGlossaryForm" class="h-22">
                            <div class="row">
                              <div
                                class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                              >
                                <div class="form-row">
                                  <div
                                    class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Glossary ID
                                        <span class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        formControlName="glossaryId"
                                        maxlength="8"
                                        (keydown.space)="
                                          $event.preventDefault()
                                        "
                                      />
                                      <div class="line"></div>

                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          bussinesGlossaryForm.controls[
                                            'glossaryId'
                                          ].errors?.pattern
                                        "
                                      >
                                        * No Whitespace.
                                      </div>
                                    </div>
                                  </div>

                                  <div
                                    class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Description
                                        <span class="text-danger">*</span>
                                      </label>
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        maxlength="45"
                                        formControlName="glossaryTitle"
                                      />
                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          bussinesGlossaryForm.controls[
                                            'glossaryTitle'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Description is Required
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div
                                    class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Objects/Tables<span class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        formControlName="objectIds"
                                        (click)="
                                          opneMagniferData('Objects/Tabls')
                                        "
                                      />
                                    </div>
                                  </div>

                                  <div
                                    class="col-sm-6 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <ng-select
                                        [class.bb-error]="
                                          submitted &&
                                          bussinesGlossaryForm.controls[
                                            'Status'
                                          ].invalid
                                        "
                                        class="selectpicker"
                                        appendTo="body"
                                        formControlName="Status"
                                      >
                                        <ng-container
                                          *ngFor="let data of statusList"
                                        >
                                          <ng-option
                                            value="{{ data.numSubTab }}"
                                            >{{ data.description }}</ng-option
                                          >
                                        </ng-container>
                                      </ng-select>
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Status
                                        <span class="text-danger"
                                          >*</span
                                        ></label
                                      >

                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          bussinesGlossaryForm.controls[
                                            'Status'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Status is Required
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>

                          <div *ngIf="showGrid" class="material-table h-72">
                            <div class="h-100">
                              <perfect-scrollbar>
                                <table id="table" class="inlineEditTable table">
                                  <thead>
                                    <tr>
                                      <th
                                        class="text-center"
                                        style="width: 1% !important"
                                      >
                                        <input
                                          type="checkbox"
                                          [(ngModel)]="isMasterSel"
                                          name="list_name"
                                          value="h1"
                                          (change)="checkUncheckAll()"
                                        />
                                      </th>
                                      <th class="table-width-align-10">
                                        Table Name
                                      </th>
                                      <th class="table-width-align-10">
                                        Description
                                      </th>
                                    </tr>
                                  </thead>
                                  <div
                                    class="no-data"
                                    *ngIf="
                                      businessGloassaryTableData.length == 0
                                    "
                                  >
                                    No Records Found
                                  </div>
                                  <tbody
                                    cdkDropList
                                    (cdkDropListDropped)="swap($event)"
                                  >
                                    <tr
                                      cdkDrag
                                      *ngFor="
                                        let column3 of businessGloassaryTableData;
                                        let i = index
                                      "
                                    >
                                      <td class="text-center">
                                        <input
                                          type="checkbox"
                                          [(ngModel)]="column3.isSelected"
                                          name="list_name"
                                          value="{{ column3.isSelected }}"
                                          (change)="isAllSelected()"
                                        />
                                      </td>
                                      <td class="handle">
                                        {{ column3.objectName }}
                                      </td>
                                      <td class="handle">
                                        {{ column3.objectName }}
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </perfect-scrollbar>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="h-10 w-100">
                  <div class="row">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                    >
                      <div>
                        <!-- <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                          *ngIf="pageView == 'view'" (click)="onSubmit('first')"><i class="fa fa-angle-double-left"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>

                        <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                          *ngIf="pageView == 'view'" (click)="onSubmit('previous')"><i class="fa fa-angle-left"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button> -->

                        <button
                          *ngIf="glossaryAdd"
                          [disabled]="!bussinesGlossaryForm.valid"
                          type="button"
                          class="btn btn-sm btn-rose btn-outline-dark"
                          (click)="EventSetup(save)"
                        >
                          Save
                        </button>

                        <button
                          *ngIf="glossaryEdit && pageView !== 'view'"
                          type="button"
                          class="btn btn-sm btn-rose btn-outline-dark"
                          (click)="EventSetup('modify')"
                        >
                          Modify
                        </button>
                        <button
                          *ngIf="pageView != 'view'"
                          type="button"
                          class="btn btn-sm btn-rose btn-outline-dark btn-cls"
                          (click)="backtoMainpage()"
                        >
                          Cancel
                        </button>

                        <!-- <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                          class="btn btn-rose btn-sm" (click)="onSubmit('next')"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>
                        <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                          class="btn btn-rose btn-sm" (click)="onSubmit('last')"><i class="fa fa-angle-double-right"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #eventtemplate let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">
              Business Glossary List
            </h4>
            <a class="close" href="javascript:;"
              ><i
                class="fa fa-times"
                aria-hidden="true"
                (click)="modalClose()"
              ></i
            ></a>
          </div>
          <div class="modal-body">
            <div class="material-table">
              <div class="table-responsive" style="height: 428px">
                <perfect-scrollbar class="perfect-height-PopUp">
                  <table class="inlineEditTable">
                    <thead>
                      <tr>
                        <th><span title="">Table Name </span></th>
                        <th><span title="">Description </span></th>
                      </tr>
                    </thead>
                    <div class="no-data" *ngIf="eventValues.length == 0">
                      No Records Found
                    </div>
                    <tbody>
                      <tr *ngFor="let policy of eventValues; let i = index">
                        <td>{{ policy.objectName }}</td>
                        <td>{{ policy.moduleName }}</td>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
            </div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
