.textarea {
  min-height: 150px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;

}

.form-check .form-check-label .circle {
  top: -2px;
}


.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}

.form-check .form-check-sign .check {
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
}

.form-check .form-check-sign:before {
  width: 16px;
  height: 16px;
}

.form-check .form-check-sign .check:before {
  margin-top: -5px;
  margin-left: 5px;
  top: -1px;
}

.card .form-check {
  margin-top: 0px;
}
.textarea-field {
  width: 100%;
  /* height: 90px !important; */
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #ddd;
  font-size: 12px;
  margin-top: 12px;
}

.textarea-field::placeholder {
  font-size: 14px;
}
.form-check .form-check-input[disabled] ~ .form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}
.form-check .form-check-label .circle {
  top: -2px;
}
/* .form-check .form-check-input:checked~.circle {
  border-color: #2fbcd5;
}

.form-check .form-check-label .circle .check {
  background-color: #2fbcd5;
} */

