<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{modalHeader}}</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true"
      (click)="closeModal()"></i></a>
</div>
<div class="modal-body" innerHtml="{{modalBodyContent}}">

</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-sm btn-rose btn-outline-dark">Save</button>
</div>