<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter Condition</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closePopup()"></i></a>
</div>

<div class="parentBox">
    <div class="w-20 h-100">
        <div class="listing h-100">
            <input placeholder="search..." type="text" class="form-control"
                (input)="searchNode($event,'prf_list','prf_child')">

            <perfect-scrollbar class="boxstyle custom_col attr_ansys ">
                <ul class="h-100">
                    <li draggable="true" (dragstart)="dragRows(list)" class="prf_list"
                        *ngFor="let list of selectedColumn; let i=index;">

                        <div title="{{list.alphaSubTab | titlecase}}"
                            class="prf_child cursorpointer  li-font globalColor"
                            [ngClass]="list.selected ? 'brdLeft' : ''">
                            {{list.alphaSubTab | titlecase | slice:0:28}}
                            <span *ngIf="list.alphaSubTab.length > 28">...</span>
                        </div>

                    </li>
                </ul>
            </perfect-scrollbar>
        </div>

    </div>
    <div class="w-80 h-100">
        <div class="h-70 mt-2 ml-1">
            <div class="flex-con-col h-100">
                <div class="tab-content w-100 h-100" id="nameContentChange">
                    <div class="material-table h-100">
                        <div class="table-responsive h-100">
                            <perfect-scrollbar [ngClass]="columnList.length==0?'borderBox':''" (drop)="dropRows($event)"
                                (dragover)="rowsDrop($event)" *ngIf="selectedColumn.length"
                                class="popup-height-queryValidationBox filter_table">
                                <table id="common_table " class="inlineEditTable"
                                    style="font-size: small !important;border:1px solid lightgray;" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Column Name</th>
                                            <th style="width:150px">Criteria</th>
                                            <th>Value</th>
                                            <th>Filter Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody class="global_form_Array" cdkDropList (cdkDropListDropped)="swap($event)">
                                        <tr cdkDrag *ngFor="let column of columnList; let i = index;">
                                            <td>{{column.alphaSubTab.split("_").join(" ") | titlecase}}</td>
                                            <td>
                                                <div class="form-row fieldRow">
                                                    <div
                                                        class="form-group col-md-12 bmd-form-group criterial-select field-select">
                                                        <ng-select appendTo="body"
                                                            style="padding-bottom: 0.25em !important;"
                                                            [(ngModel)]="column.creteria"
                                                            (ngModelChange)="detectChange(column.creteria, $event)"
                                                            class="form-new-control queryselect" title="Select"
                                                            [ngClass]="columnSubmitted && (column.creteria == '' || column.creteria == null) ? 'bb-error':''">
                                                            <ng-option [value]="obj.key"
                                                                *ngFor="let obj of creteriaList">
                                                                {{obj.value}}
                                                            </ng-option>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>
                                                <span *ngIf="aggregateCondition(column)" class="col-sm-6"
                                                    class="inputTd" style="display: flex;
                                             flex-direction: row; ">
                                                    <input
                                                        [placeholder]="column.creteria=='between' ? 'start value': 'Enter Value'"
                                                        type="text" [(ngModel)]="column.startData" class="form-control"
                                                        (ngModelChange)="detectChange(column.startData, $event)"
                                                        [ngClass]="columnSubmitted && (column.startData == '' || column.startData == null) ? 'bb-error':''">
                                                    &nbsp; &nbsp; &nbsp;<input placeholder="End value"
                                                        *ngIf="column.creteria=='between'"
                                                        (ngModelChange)="detectChange(column.endData, $event)"
                                                        type="text" [(ngModel)]="column.endData" class="form-control"
                                                        [ngClass]="columnSubmitted && (column.endData == '' || column.endData == null) ? 'bb-error':''">
                                                </span>
                                            </td>
                                            <td class="text-center">
                                                <div *ngIf="columnList.length-1 != i " class="switch-field">
                                                    <input plceholder="startValue" type="radio"
                                                        [(ngModel)]="column.joinType" [id]="i + 'And'"
                                                        (ngModelChange)="detectChange(column.joinType, $event)"
                                                        [name]="'joinType'+'-'+i" value="And" />
                                                    <label [for]="i+ 'And'">And</label>
                                                    <input plceholder="endValue" type="radio"
                                                        [(ngModel)]="column.joinType"
                                                        (ngModelChange)="detectChange(column.joinType, $event)"
                                                        [id]="i + 'Or'" [name]="'joinType'+ '-' + i" value="Or" />
                                                    <label [for]="i + 'Or'">Or</label>
                                                </div>
                                            </td>
                                            <td class="close_icon">
                                                <!-- <a class="cursorpointer"  [ngbTooltip]="actionButton.name" title="Delete">
                                                    <i class="material-icons" style="color: rgba(0, 0, 0, 0.54) !important;" (click)="remove(i)">delete</i>
                                                </a> -->



                                                <a (click)="emitActionType(actionButton.actionType, data,i) "
                                                    href="javascript:void(0) "
                                                    class="modal-trigger waves-effect btn-flat nopadding pr-2 "
                                                    rel="tooltip ">
                                                    <span tooltip="Delete" class="tool_tip">
                                                        <i class="material-icons"
                                                            style="color: rgba(0, 0, 0, 0.54) !important;"
                                                            (click)="remove(i)">delete</i>
                                                     </span>       
                                                </a>


                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div *ngIf="columnList.length==0" class="borderBoxCaption h-100">Drag Column(s) to apply
                                    Filter(s)
                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="h-20 ml-1">
            <textarea class="textarea-style" [(ngModel)]="queryCond_OverAllList"
                (ngModelChange)="detectChange(queryCond_OverAllList, $event)">

        </textarea>
        </div>
        <div class="h-10 w-100 mb-0">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <button *ngIf="showValidate" type="button" class="btn btn-rose btn-sm "
                        (click)="submit()">Validate</button>
                    <button *ngIf="showSubmit" type="button" class="btn btn-rose btn-sm " (click)="save()">Save</button>
                    <button type="button " class="btn btn-rose btn-sm " (click)="closePopup()">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>