.overAllCheckCls {
    margin: 0px 5px;
}

.h-8 {
    height: 8% !important;
}

.w-h-30 {
    width: 30% !important;
    height: 50% !important;
}

.listing {
    padding: 0px;
    padding-left: 8px;
    padding-right: 1px;

}

.listing ul {
    display: contents;
    flex-direction: row;
}

.modl-footer {
    text-align: center;
}

.attr_ansys .ps--active-y {
    height: 100%;
}

.prf_list {
    position: relative;
}

.globalColor {
    color: #2a2a2a;
    font-weight: normal;
}

.global_header {
    font: 600 16px/15px 'Open Sans', sans-serif;
    color: #4a4a4a !important;
}

.attr_ansys .ps--active-y {
    height: 100%;
}

.li-font {
    font-size: 12px;
    border: dashed 1px rgb(0 0 0 / 0%);
    padding: 0 3px;
}

.globalColor {
    color: rgb(42 42 42);
    font-weight: normal;
}

.card {
    display: flex;
    flex-direction: column;
}

.w-20 {
    width: 20% !important;
}

.w-80 {
    width: 80% !important;
}

.w-92 {
    width: 92% !important;
}

.textarea-style {
    width: 100% !important;
    height: calc(100% - 0px) !important;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Open Sans';
    border: 1px solid #ccc;
}


.parentBox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90%;
}

.boxstyle {
    /* height: calc(80vh - 91px); */
    border-right: 1px solid rgb(204 204 204);
    border-bottom: 1px solid rgb(204 204 204);
    height: calc(92% - 41px);
}

.listing .boxstyle ul li {
    border-bottom: 1px solid #8080807a;
    border-bottom-style: dotted;
}

.listing .boxstyle ul li div {
    display: inline-block;
}

.listing .boxstyle ul li:hover .filter_icon span {
    display: block;
}

.cursorpointer {
    cursor: pointer
}

.h-97 {
    height: 97% !important;
}

.h-100 {
    height: 100% !important;
}

.borderBox {
    border: 1px solid #ccc;
}

.borderBoxCaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #ada7a7;
    height: 155px;
}

.swapTable .form-control {
    height: 27px !important;
}

.close_icon {
    text-align: center;
}

.close_icon a i {
    color: red !important;
}

.queryselect ::ng-deep .ng-select-container {
    padding-top: 0px;
}

.h-45 {
    height: 45% !important;
}



/* 
.popup-height-queryValidationBox {
    max-height:  calc(80vh - 264px) !important;
    height: 228px;
} */