<div>
    <ul class="treeview" *ngIf="nodes.length ">
        <li *ngFor="let node of nodes; let i = index">
            <!-- <div>{{node | json}}</div> -->
            <span *ngIf="node[childrenAttr].length">
                <!-- <i class="fa fa-arrow-right"  [ngClass]="{'node-opened': !node[collapseAttr]}" aria-hidden="true">
          </i> -->
                <a (click)="click(node)" *ngIf="!node[collapseAttr]" class="tree-icon-hld"><i
                        class="fa fa-folder-open-o folder_color" ></i></a>
                <a (click)="click(node)" *ngIf="node[collapseAttr]" class="tree-icon-hld"> <i class="fa fa-folder folder_color cursor"
                        ></i></a>
            </span>
            <input type="checkbox" *ngIf="checkbox" [(ngModel)]="node[selectAttr]" [indeterminate]="node[inDeterminateAttr]" (change)="onModelChange(node)" />
            <div style="position: relative; display: inline-block">
                <span [ngClass]="{'parent': node[childrenAttr].length}" style="position: relative" (click)="click(node)">
                    {{node.userProfile}} &nbsp;
                </span>
                <span class="read-write" *ngIf="node[childrenAttr].length == 0 && readability">
                    <input class="tgl tgl-flip" [id]="node.userGroup+'_'+node.userProfile+'_'+i" (click)="nodeDataGet(node)" type="checkbox" />
                    <label class="tgl-btn" data-tg-off="R" data-tg-on="W" [for]="node.userGroup+'_'+node.userProfile+'_'+i"></label>
                </span>
            </div>
            <a *ngIf="deleteOption"><i class="fa fa-trash" aria-hidden="true" (click)="onDeleteChange(node)"></i></a>


            <app-tree-view *ngIf="node[childrenAttr].length" [data]="node[childrenAttr]" [prepareData]="false" [options]="optiondata" [ngbCollapse]="node[collapseAttr]" (onChange)="change($event)" (onDelete)="onDeleteChange($event)">
            </app-tree-view>

        </li>
    </ul>
</div>