.treeview {
    list-style-type: none;
    font-size: 13px;
}

.treeview .parent {
    /* font-weight: bold; */
    cursor: pointer;
}

.treeview span {
    display: inline-block;
}

.treeview .node-opened {
    transform: rotate(90deg);
}

ul.treeview.ng-star-inserted {
    width: 100%;
    display: block;
    float: left;
    padding: 0;
}

ul.treeview.ng-star-inserted ul.treeview.ng-star-inserted {
    padding-left: 50px;
}

li.ng-star-inserted {
    text-align: left;
    line-height: 18px !important;
}

li.ng-star-inserted span {
    display: inline-block;
    padding: 0px 9px;
    font-size: 11px;
}

li.ng-star-inserted span.sub-tree-icon-hld {
    color: #00bcd4;
    padding-right: 5px;
}

li.ng-star-inserted span.children {
    display: none;
}


/* .ng-star-inserted:hover .sub-tree-icon-hld{
    display: inline-block;
} */

.read-write {
    position: absolute;
    top: 2px;
    padding: 0 !important;
}

.node-div label {
    margin-bottom: 0px !important
}

.tgl-flip+.tgl-btn:after,
.tgl-flip+.tgl-btn:before {
    top: 0;
    line-height: 1;
}

span.read-write label.tgl-btn {
    margin: 0;
    height: 15px;
    width: 15px;
}