.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 22px;
  bottom: 6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -4px;
  background-color: #d1e8ea;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--content-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--content-color);
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.lockIcon{
font-size: 20px;
  padding-left: 12px;
}
.card-profile .card-avatar .imagePreview{
height: 100%;
}

.h-93 {
  height: 93%;
}
