<div class="card-body p-0 material-table" id="card-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div
        class="material-table dashboard-bg-white b-radius-12 h-99"
        style="margin-top: 0px"
        id="maximize"
      >
        <ng-container *ngIf="showFilter == 'list'">
          <app-smart-table
            [tableDatails]="tableDetail"
            [tableData]="lineList"
            [tableType]="'full'"
            [resetModel]="resetModel"
            [tableDatas]="ngxTableConfig"
            (eventType)="tableAction($event)"
          ></app-smart-table>
        </ng-container>
        <ng-container *ngIf="showFilter == 'form' && showForm">
          <div
            *ngIf="pageView != 'add'"
            class="flag"
            [ngStyle]="backGroundFlag(editData.recordIndicator)"
          >
            <div class="d-flex justify-content-center">
              <span>{{ editData.recordIndicatorDesc }}</span>
              <!-- <span>
                <i (click)="unLockUser()" style="cursor: pointer;" class="fa fa-lock lockIcon" aria-hidden="true"
                  *ngIf="editData['lastUnsuccessfulLoginAttempts'] >= 4"></i>
                <i class="fa fa-unlock-alt lockIcon" aria-hidden="true"
                  *ngIf="editData['lastUnsuccessfulLoginAttempts'] < 4"></i>
              </span> -->
            </div>
          </div>
          <div class="d-flex flex-column h-100 w-100">
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label
                  *ngFor="let tab of tabList; let i = index"
                  class="tab_label"
                  (click)="tabClick(tab)"
                  [ngClass]="selectedTab == tab.tabName ? 'active show' : ''"
                >
                  <i
                    *ngIf="tab.showBackbutton"
                    (click)="onSubmit('summary')"
                    class="material-icons forwardIcon"
                    >forward</i
                  >
                  <span title="{{ tab.tabName | translate }}">{{
                    tab.tabName | translate
                  }}</span>
                </label>
              </div>
            </div>
            <div class="h-93 w-100">
              <div class="d-flex flex-column w-100 h-100">
                <div class="h-90 mainPadd12">
                  <ng-container *ngIf="selectedTab == 'UserSetup'">
                    <div class="tab-content h-100">
                      <div class="tab-pane-fade tabMargin fadeIn h-100">
                        <div class="row h-100 m-0">
                          <div
                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                          >
                            <form
                              [formGroup]="lineForm"
                              class="w-100 h-100 m-0"
                            >
                              <div class="row m-0 w-100 h-100">
                                <div
                                  class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-1 w-100 h-100 d-flex flex-column"
                                >
                                  <div
                                    class="h-100 d-flex flex-column justify-content-start"
                                  >
                                    <div class="form-row">
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-9 col-lg-9 col-xl-9"
                                      >
                                        <div class="form-row">
                                          <div
                                            class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                          >
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="visionId"
                                              maxlength="6"
                                            />
                                            <label class="bmd-label-static"
                                              >{{
                                                "visionId" | translate
                                              }}&nbsp;<span class="text-danger"
                                                >*</span
                                              ></label
                                            >
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                submitted &&
                                                lineForm.controls['visionId']
                                                  .errors?.required
                                              "
                                            >
                                              * {{ "visionId" | translate }}
                                              {{ "isRequired" | translate }}
                                            </div>
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                lineForm.controls['visionId']
                                                  .errors?.pattern
                                              "
                                            >
                                              * {{ "numberOnly" | translate }}
                                            </div>
                                            <div class="line"></div>
                                          </div>
                                          <div
                                            class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                          >
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="userLoginId"
                                              (blur)="createUserEmailId()"
                                              maxlength="30"
                                            />
                                            <label class="bmd-label-static"
                                              >{{
                                                "userLoginId" | translate
                                              }}&nbsp;<span class="text-danger"
                                                >*</span
                                              ></label
                                            >
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                submitted &&
                                                lineForm.controls['userLoginId']
                                                  .errors?.required
                                              "
                                            >
                                              * {{ "userLoginId" | translate }}
                                              {{ "isRequired" | translate }}
                                            </div>
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                lineForm.controls['userLoginId']
                                                  .errors?.pattern
                                              "
                                            >
                                              *
                                              {{
                                                "alphaNumericHypen" | translate
                                              }}
                                            </div>
                                            <div class="line"></div>
                                          </div>
                                        </div>
                                        <div class="form-row">
                                          <div
                                            class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                          >
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="userName"
                                              maxlength="45"
                                            />
                                            <label class="bmd-label-static">{{
                                              "userName" | translate
                                            }}</label>
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                submitted &&
                                                lineForm.controls['userName']
                                                  .errors?.required
                                              "
                                            >
                                              * {{ "userName" | translate }}
                                              {{ "isRequired" | translate }}
                                            </div>
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                lineForm.controls['userName']
                                                  .errors?.pattern
                                              "
                                            >
                                              *
                                              {{
                                                "alphaNumericSpace" | translate
                                              }}
                                            </div>
                                            <div class="line"></div>
                                          </div>
                                          <div
                                            class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                          >
                                            <input
                                              type="text"
                                              class="form-control"
                                              formControlName="userEmailId"
                                              maxlength="60"
                                            />
                                            <label class="bmd-label-static">{{
                                              "userMailId" | translate
                                            }}</label>
                                            <div
                                              class="validation-error bt15"
                                              *ngIf="
                                                submitted &&
                                                lineForm.controls['userEmailId']
                                                  .errors?.required
                                              "
                                            >
                                              * {{ "userMailId" | translate }}
                                              {{ "isRequired" | translate }}
                                            </div>
                                            <div class="line"></div>
                                          </div>
                                        </div>
                                      </div>
                                      <div
                                        class="d-flex justify-content-center align-items-center form-group bmd-form-group col-sm-12 col-md-3 col-lg-3 col-xl-3"
                                      >
                                        <div
                                          class="card-profile"
                                          style="text-align: left"
                                        >
                                          <div class="card-avatar">
                                            <div class="avatar-upload">
                                              <div class="avatar-edit">
                                                <input
                                                  type="file"
                                                  id="imageUpload"
                                                  accept=".png, .jpg, .jpeg"
                                                  (change)="readURL($event)"
                                                />
                                                <label
                                                  for="imageUpload"
                                                ></label>
                                              </div>
                                              <div class="avatar-preview">
                                                <div
                                                  id="imagePreview"
                                                  style="
                                                    background-image: url(assets/img/bio-portrait-placeholder.jpg);
                                                  "
                                                ></div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                      >
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="userGroup"
                                          (change)="changeFields('userGroup')"
                                          (click)="
                                            globalClick($event, 'userGroup')
                                          "
                                        >
                                          <ng-container
                                            *ngFor="let data of userGroupList"
                                          >
                                            <ng-option
                                              value="{{ data.alphaSubTab }}"
                                              >{{ data.description }}</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <label class="bmd-label-static">{{
                                          "userGroup" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['userGroup']
                                              .invalid
                                          "
                                        >
                                          * {{ "userGroup" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            lineForm.controls['userGroup']
                                              .errors?.incorrect
                                          "
                                        >
                                          {{ "pleaseSelect" | translate }}
                                          {{ "userGroup" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                        (click)="
                                          globalClick($event, 'userProfile')
                                        "
                                      >
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="userProfile"
                                        >
                                          <ng-container
                                            *ngFor="let data of userProfileList"
                                          >
                                            <ng-option
                                              value="{{ data.alphaSubTab }}"
                                              >{{ data.description }}</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <label class="bmd-label-static">{{
                                          "userProfile" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['userProfile']
                                              .invalid
                                          "
                                        >
                                          * {{ "userProfile" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                      >
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="stfcountry"
                                          (change)="changeFields('stfcountry')"
                                          (click)="
                                            globalClick($event, 'stfcountry')
                                          "
                                        >
                                          <ng-container
                                            *ngFor="let data of stfcountryList"
                                          >
                                            <ng-option
                                              value="{{ data.alphaSubTab }}"
                                              >{{ data.description }}</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <label class="bmd-label-static">{{
                                          "staffCountry" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['stfcountry']
                                              .invalid
                                          "
                                        >
                                          * {{ "staffCountry" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            lineForm.controls['stfcountry']
                                              .errors?.incorrect
                                          "
                                        >
                                          {{ "pleaseSelect" | translate }}
                                          {{ "staffCountry" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                      >
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="stfleBook"
                                          (click)="
                                            globalClick($event, 'stfleBook')
                                          "
                                        >
                                          <ng-container
                                            *ngFor="let data of stfleBookList"
                                          >
                                            <ng-option
                                              value="{{ data.alphaSubTab }}"
                                              >{{ data.description }}</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <label class="bmd-label-static">{{
                                          "Staff LeBook" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['stfleBook']
                                              .invalid
                                          "
                                        >
                                          * {{ "StaffLeBook" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                      >
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="staffId"
                                          (click)="
                                            globalClick($event, 'staffId')
                                          "
                                        >
                                          <ng-container
                                            *ngFor="let data of staffIdList"
                                          >
                                            <ng-option
                                              value="{{ data.alphaSubTab }}"
                                              >{{ data.description }}</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <label class="bmd-label-static">{{
                                          "staffId" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['staffId'].invalid
                                          "
                                        >
                                          * {{ "staffId" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                      >
                                        <input
                                          type="text"
                                          class="form-control"
                                          formControlName="lastActivityDate"
                                        />

                                        <label class="bmd-label-static">{{
                                          "lastActivityDate" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls[
                                              'lastActivityDate'
                                            ].invalid
                                          "
                                        >
                                          *
                                          {{ "lastActivityDate" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                      >
                                        <input
                                          type="text"
                                          class="form-control"
                                          formControlName="userStatusDate"
                                        />

                                        <label class="bmd-label-static">{{
                                          "userStatusDate" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['userStatusDate']
                                              .invalid
                                          "
                                        >
                                          * {{ "userStatusDate" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                    </div>
                                    <div class="form-row">
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6 businessVertical"
                                      >
                                        <ng-multiselect-dropdown
                                          [disabled]="disabledDropdown()"
                                          class=""
                                          [formControl]="
                                            lineForm.controls[
                                              'applicationAccess'
                                            ]
                                          "
                                          [settings]="singleDropdownSettings"
                                          [data]="applicationAccessList"
                                        >
                                        </ng-multiselect-dropdown>
                                        <label class="bmd-label-static">{{
                                          "Application Access" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls[
                                              'applicationAccess'
                                            ].errors?.required
                                          "
                                        >
                                          * {{ "Application" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                      <div
                                        class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                      >
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="userStatus"
                                        >
                                          <ng-container
                                            *ngFor="let data of statusList"
                                          >
                                            <ng-option
                                              value="{{ data.numSubTab }}"
                                              >{{ data.description }}</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <label class="bmd-label-static">{{
                                          "status" | translate
                                        }}</label>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            submitted &&
                                            lineForm.controls['userStatus']
                                              .invalid
                                          "
                                        >
                                          * {{ "status" | translate }}
                                          {{ "isRequired" | translate }}
                                        </div>
                                        <div class="line"></div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="selectedTab == 'accessControl'">
                    <div class="tab-content h-100">
                      <div class="tab-pane-fade tabMargin fadeIn h-100">
                        <div class="row h-100 m-0">
                          <div
                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                          >
                            <form
                              [formGroup]="lineForm"
                              class="w-100 h-100 m-0"
                            >
                              <div class="row m-0 w-100 h-100">
                                <div
                                  class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-1 w-100 h-100 d-flex flex-column"
                                >
                                  <div
                                    class="h-100 d-flex flex-column justify-content-start"
                                  >
                                    <div class="form-row">
                                      <div
                                        class="d-flex form-group bmd-form-group col-sm-12 col-md-3 col-lg-3 col-xl-3 justify-content-start"
                                      >
                                        <label class="pr-3">{{
                                          "accessControl" | translate
                                        }}</label>
                                        <label class="switch">
                                          <input
                                            type="checkbox"
                                            formControlName="updateRestriction"
                                          />
                                          <span class="slider round"></span>
                                        </label>
                                      </div>
                                    </div>
                                    <ng-container
                                      *ngIf="
                                        lineForm.controls['updateRestriction']
                                          .value
                                      "
                                    >
                                      <div class="form-row">
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls['legalVehicle']
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'legalVehicle'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="legalVehicleList"
                                          >
                                          </ng-multiselect-dropdown>

                                          <label class="bmd-label-static">{{
                                            "legalVehicle" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['legalVehicle']
                                                .invalid
                                            "
                                          >
                                            * {{ "legalVehicle" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>

                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            (onDeSelect)="onSelect('country')"
                                            [formControl]="
                                              lineForm.controls['country']
                                            "
                                            (click)="
                                              globalClick($event, 'country')
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="countryList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "country" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['country']
                                                .invalid
                                            "
                                          >
                                            * {{ "country" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              lineForm.controls['country']
                                                .errors?.incorrect
                                            "
                                          >
                                            {{ "pleaseSelect" | translate }}
                                            {{ "country" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            (onDeSelect)="onSelect('leBook')"
                                            [formControl]="
                                              lineForm.controls['leBook']
                                            "
                                            (click)="
                                              globalClick($event, 'leBook')
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="leBookList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "leBook" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['leBook']
                                                .invalid
                                            "
                                          >
                                            * {{ "leBook" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              lineForm.controls['leBook'].errors
                                                ?.incorrect
                                            "
                                          >
                                            {{ "pleaseSelect" | translate }}
                                            {{ "leBook" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                      </div>
                                      <div class="form-row">
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls[
                                                'regionProvince'
                                              ]
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'regionProvince'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="regionProvinceList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "regionProvince" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls[
                                                'regionProvince'
                                              ].invalid
                                            "
                                          >
                                            *
                                            {{ "regionProvince" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls['businessGroup']
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'businessGroup'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="businessGroupList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "businessGroup" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['businessGroup']
                                                .invalid
                                            "
                                          >
                                            * {{ "businessGroup" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                        >
                                          <ng-select
                                            class="selectpicker"
                                            appendTo="body"
                                            formControlName="sbuCode"
                                            (click)="
                                              globalClick($event, 'sbuCode')
                                            "
                                          >
                                            <ng-container
                                              *ngFor="let data of sbuCodeList"
                                            >
                                              <ng-option
                                                value="{{ data.alphaSubTab }}"
                                                >{{
                                                  data.description
                                                }}</ng-option
                                              >
                                            </ng-container>
                                          </ng-select>
                                          <label class="bmd-label-static">{{
                                            "sbuCode" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['sbuCode']
                                                .invalid
                                            "
                                          >
                                            * {{ "sbuCode" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                      </div>
                                      <div class="form-row">
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls[
                                                'productSuperGroup'
                                              ]
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'productSuperGroup'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="productSuperGroupList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "productSuperGroup" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls[
                                                'productSuperGroup'
                                              ].invalid
                                            "
                                          >
                                            *
                                            {{
                                              "productSuperGroup" | translate
                                            }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls[
                                                'productAttribute'
                                              ]
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'productAttribute'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="productAttributeList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "productAttribute" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls[
                                                'productAttribute'
                                              ].invalid
                                            "
                                          >
                                            *
                                            {{
                                              "productAttribute" | translate
                                            }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls['oucAttribute']
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'oucAttribute'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="oucAttributeList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "oucAttribute" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['oucAttribute']
                                                .invalid
                                            "
                                          >
                                            * {{ "oucAttribute" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                      </div>
                                      <div class="form-row">
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4 businessVertical"
                                        >
                                          <ng-multiselect-dropdown
                                            [disabled]="disabledDropdown()"
                                            class=""
                                            [formControl]="
                                              lineForm.controls[
                                                'accountOfficer'
                                              ]
                                            "
                                            (click)="
                                              globalClick(
                                                $event,
                                                'accountOfficer'
                                              )
                                            "
                                            [settings]="dropdownSettings"
                                            [data]="accountOfficerList"
                                          >
                                          </ng-multiselect-dropdown>
                                          <label class="bmd-label-static">{{
                                            "accountOfficer" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls[
                                                'accountOfficer'
                                              ].invalid
                                            "
                                          >
                                            *
                                            {{ "accountOfficer" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                        <div
                                          class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4"
                                        >
                                          <ng-select
                                            class="selectpicker"
                                            appendTo="body"
                                            formControlName="gcidAccess"
                                          >
                                            <ng-container
                                              *ngFor="
                                                let data of gcidAccessList
                                              "
                                            >
                                              <ng-option
                                                value="{{ data.alphaSubTab }}"
                                                >{{
                                                  data.description
                                                }}</ng-option
                                              >
                                            </ng-container>
                                          </ng-select>
                                          <label class="bmd-label-static">{{
                                            "gcidAccess" | translate
                                          }}</label>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              submitted &&
                                              lineForm.controls['gcidAccess']
                                                .invalid
                                            "
                                          >
                                            * {{ "gcidAccess" | translate }}
                                            {{ "isRequired" | translate }}
                                          </div>
                                          <div class="line"></div>
                                        </div>
                                      </div>
                                    </ng-container>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                </div>
                <div class="h-10 w-100">
                  <div class="row">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                    >
                      <!-- <button type="submit" [disabled]="disableButton('first')"
                        class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
                        (click)="onSubmit('first')"><i class="fa fa-angle-double-left" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button>
                      <button type="submit" [disabled]="disableButton('first')"
                        class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
                        (click)="onSubmit('previous')"><i class="fa fa-angle-left" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button> -->

                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView == 'delete' &&
                          globalService.checkAccess('delete')
                        "
                        (click)="onSubmit('delete')"
                      >
                        {{ "delete" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView == 'add' && globalService.checkAccess('add')
                        "
                        (click)="onSubmit('save')"
                      >
                        {{ "Save" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView == 'edit' &&
                          globalService.checkAccess('edit')
                        "
                        (click)="onSubmit('modify')"
                      >
                        {{ "Modify" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView == 'approve' &&
                          globalService.checkAccess('approve') &&
                          editData.recordIndicator != 0
                        "
                        (click)="onSubmit('approve')"
                      >
                        {{ "approve" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView == 'approve' &&
                          globalService.checkAccess('reject') &&
                          editData.recordIndicator != 0
                        "
                        (click)="onSubmit('reject')"
                      >
                        {{ "reject" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView == 'add' && globalService.businessType == ''
                        "
                        (click)="onSubmit('clear')"
                      >
                        {{ "clear" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          pageView != 'preview' &&
                          globalService.checkAccess('add')
                        "
                        (click)="onSubmit('summary')"
                      >
                        {{ "Cancel" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="
                          (pageView == 'edit' || pageView == 'approve') &&
                          editData.recordIndicator == 1
                        "
                        (click)="onSubmit('preview')"
                      >
                        {{ "review" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm saveTransaction"
                        *ngIf="pageView == 'preview'"
                        (click)="onSubmit('close')"
                      >
                        {{ "close" | translate }}
                        <div class="ripple-container"></div>
                      </button>
                      <!-- <button type="submit" [disabled]="disableButton('last')"
                        class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
                        (click)="onSubmit('next')"><i class="fa fa-angle-right" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button>
                      <button type="submit" [disabled]="disableButton('last')"
                        class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
                        (click)="onSubmit('last')"><i class="fa fa-angle-double-right" aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
