<div class="catalog-design" id="tree_hide">
  <div>
    <span>
      <div class="input-group no-border">
        <input id="filter" #filter class="form-control" (keyup)="tree.treeModel.filterNodes(filter.value)"
          placeholder="Search" />
      </div>
    </span>
    <div id="treeview_container3" class="simplebar edw-tree">
      <perfect-scrollbar>
        <tree-root [focused]="true" #tree (updateData)="onUpdateData()" (activate)="onEvent($event)"
          [nodes]="treenode" [options]="options1">
          <ng-template #treeNodeTemplate let-node="node" let-index="index">

            <span *ngIf="node.data.children != '' && node.data.moduleType == 'Module' " class="folder-icon">
              <i *ngIf="!node.isExpanded" class="fa fa-folder tree-file"></i>
              <i *ngIf="node.isExpanded" class="fa fa-folder-open tree-file"></i>
            </span>
            <span *ngIf="node.data.children != '' && node.data.moduleType != 'Module' " class="folder-icon">
              <i *ngIf="!node.isExpanded" class="fa fa-folder tree-file"></i>
              <i *ngIf="node.isExpanded" class="fa fa-folder-open tree-file"></i>

            </span>

            <span *ngIf="node.data.children != ''  &&  node.data.moduleType != 'Module'
            && node.data.moduleType == 'M' || node.data.moduleType == 'T' || node.data.moduleType == 'V'"
              class="treeText globalContent">
              {{ node.data.moduleName }}</span>
            <span *ngIf="node.data.children != '' && node.data.moduleType == 'Summary'
            " class="treeText globalContent"
              style="font-size: 13px !important; font-weight: 500  !important;">
              {{ node.data.moduleName }}</span>
          </ng-template>
        </tree-root>
      </perfect-scrollbar>




    </div>


  </div>
</div>
