<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Table Columns</h4>
  <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>
<div id="tablecolumn" class="modal-body pad h-95 indexset">
  <div id="canvas" class="d-flex h-100 w-100">


    <div class="material-table  h-90 p-4">
      <div class="table-responsive h-99 w-80">
        <perfect-scrollbar>

          <table class="inlineEditTable table mb-1" jtk-scrollable-list>
            <thead>
              <tr>
                <th class="text-center" style="width: 5% !important;">
                  {{tableheader_columnone}}
                  <i id="jsPlumb_5_1" class="material-icons testing" source
                    [attr.data-id]="'jsPlumb_5_1'">chevron_right</i>
                </th>



              </tr>
            </thead>
            <div class="no-data " *ngIf="tablecolumnvaluesarrayone.length==0">No Records Found</div>
            <tbody>


              <tr *ngFor="let column3 of tablecolumnvaluesarrayone; let i = index;" class="row-height widthgridster">
                <td class="text-center">
                  {{column3.columnName}}
                </td>


              </tr>

            </tbody>

          </table>


        </perfect-scrollbar>

      </div>
    </div>

    <div class="material-table   p-4  d-flex justify-content-end">
      <div class="table-responsive h-99 w-80">
        <perfect-scrollbar>

          <table class="inlineEditTable table mb-1" jtk-scrollable-list>
            <thead>
              <tr>
                <th class="text-center" style="width: 5% !important;">
                  {{tableheader_columntwo}}
                  <i id="jsPlumb_5_2" class="material-icons testing" target
                    [attr.data-id]="'jsPlumb_5_2'">chevron_right</i>
                </th>



              </tr>
            </thead>

            <tbody>


              <tr *ngFor="let column2 of tablecolumnvaluesarraytwo; let i = index;" class="row-height widthgridster">
                <td class="text-center ">
                  {{column2.columnName}}
                </td>


              </tr>

            </tbody>

          </table>


        </perfect-scrollbar>

      </div>
    </div>


  </div>


</div>

<div class="modal-footer text-center pb-2 mt-2">
  <button type="button" class="btn btn-secondary btn-rose btn-sm margin-right-15"
    (click)="saveSelectingColumns()">Save</button>
  <button type="button" class="btn btn-secondary btn-rose btn-sm" (click)="closeModal()" data-dismiss="modal">
    Cancel
  </button>
</div>
