<div class="modal-header confirmModalHead">
    <h4 class="modal-title" id="modal-basic-title">{{confirmationBoxTitle}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="action('close')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body pt-1">
    {{confirmationMessage}}
</div>
<div class="modal-footer text-center">
    <button type="button" class="btn btn-rose btn-sm mr-2" (click)="action(true)">Yes</button>
    <button type="button" class="btn btn-rose btn-sm" (click)="action(false)">No</button>
</div>