<nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top pt-0" id="max_nav">
    <div class="container-fluid">
        <div class="navbar-wrapper">
            <div class="navbar-minimize pt-0">
                <button id="minimizeSidebar1" class="btn btn-just-icon btn-white btn-fab btn-round"
                    (click)='[onSidebarResize(),setsidBar()]'>
                    <i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
                    <i class="material-icons design_bullet-list-67 visible-on-sidebar-mini" id="viewList">more_vert</i>
                </button>
            </div>
            <a class="navbar-brand" href="javascript:;">Vision Admin</a>
            <span *ngIf="globalService.pageTitle && globalService.pageTitle != ''" class="font-400"> -
                {{globalService.pageTitle}}</span>
        </div>

        <div class="collapse navbar-collapse justify-content-end top_menu_actions">
            <ul class="navbar-nav widget-menus top-bar-menus">
                <li *ngIf="globalService.erSchema.iconEnabled" class="nav-item icon-list outside-click run-icon"
                    ngbDropdown #drop="ngbDropdown" [autoClose]="'outside'">
                    <a class="nav-icon more-icon" href="javascript:void(0);" data-toggle="dropdown" ngbDropdownToggle
                        aria-haspopup="true" aria-expanded="true">
                        <span class="material-icons small-icons" tooltip="Dashboard Menu" flow="down">more_horiz</span>
                    </a>

                    <div ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
                        class="dropdown-menu  dropdown-menu-right triangleUp1 pt-0 b-radius-none">
                        <ul class="fixed-plugin dropdown-menu show dashboard-menu-wid">

                            <li ngbDropdownItem id="zoom_in"
                                class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                                <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                    (click)="templateSliderOpen('erZoomIn')">
                                    <span class="material-icons w-30 new-icon">zoom_in</span>
                                    <span class="w-70 d-flex justify-content-start">Zoom In</span>
                                </div>
                            </li>
                            <li ngbDropdownItem id="zoom_out"
                                class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                                <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                    (click)="templateSliderOpen('erZoomOut')">
                                    <span class="material-icons w-30 new-icon">zoom_out</span>
                                    <span class="w-70 d-flex justify-content-start">Zoom Out</span>
                                </div>
                            </li>
                            <li ngbDropdownItem id="zoom_reset"
                                class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                                <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                    (click)="templateSliderOpen('erReload', drop)">
                                    <span class="material-icons w-30 new-icon">history</span>
                                    <span class="w-70 d-flex justify-content-start">Reload</span>
                                </div>
                            </li>
                        </ul>

                    </div>
                </li>

                <li  *ngIf="showNoticationBar" class="nav-item dropdown notificationClick notification_bar" ngbDropdown #drop="ngbDropdown"
                    [autoClose]="'outside'" [ngClass]="showiconbar ? 'show showing':''">
                    <a class="nav-link" href="javascript:;" id="navbarNotificationDropdown" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true" (click)='toggleShow($event,"showNotifDropdown")'>
                        <i class="material-icons" flow="down" tooltip="Notifications">notifications</i>
                        <span class="notification" *ngIf="notificationCount">{{notificationList.length}}</span>
                        <p class="d-lg-none d-md-block">
                            Some Actions
                        </p>
                    </a>
                    <div  class="dropdown-menu dropdown-menu-right triangleUp added  border-blue  pt-0 pb-0"
                        aria-labelledby="navbarNotificationDropdown"
                        [ngClass]="[showiconbar ? 'show showing':'hiding']">
                        <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 h-100">
                            <div class="row h-100">
                                <div
                                    class="h-100 col-sm-12 col-lg-12 col-xl-12 col-md-12 d-flex align-items-stretch pl-0 pr-0">
                                    <div class="card h-100 mt-0">

                                        <div class="card-body h-100 no-padding bg-light-grey">
                                            <h6 class="d-flex  pl-3 mb-0 mt-2">
                                                <span style="font-weight: 700 !important;">
                                                    Notifications</span>
                                            </h6>

                                            <perfect-scrollbar #birthdayNo class="notify_comments" id='birthdayNotif'
                                                style="height: calc(100% - 18px);">
                                                <div class="notifHols d-flex mt-2 mb-2 pl-1 pt-2 pb-2"
                                                    *ngFor="let data of notificationList;let i=index">
                                                    <div class="notifContent d-flex w-100"
                                                        [style.height]="isListExpanded(i)?'50px':''">
                                                        <span class="material-symbols-outlined w-7 font-check-warning">
                                                            warning
                                                        </span>
                                                        <span class="w-60">

                                                            <p class="m-0 font-weight-bold">

                                                                <span class="txt" style="position: relative;"
                                                                    (click)="openNotificationPopupView(data)">
                                                                    {{ data.notificationMessage}}

                                                                </span>
                                                                <span class="countStyle">
                                                                    <!-- <a class="align-center-dot"> -->
                                                                    {{data.internalOrginalStatus}}
                                                                    <!-- </a> -->

                                                                </span>

                                                            </p>


                                                            <p class="mt-1 mb-0">
                                                                <span
                                                                    [ngClass]="data.readFlag=='Y'?'readNotif':'unreadNotif'">
                                                                    Date:
                                                                    {{data.notificationDate}}
                                                                </span>
                                                            </p>

                                                            <div class="txt-area-align d-flex w-100"
                                                                *ngIf="isListExpanded(i)">
                                                                <div class="w-75">
                                                                    <textArea class="txt-area" id="txtNotificationValue"
                                                                        (input)="txtNotificationValue = $event.target.value"
                                                                        placeholder="Please type your Comments here"></textArea>
                                                                </div>
                                                                <div class="w-25">
                                                                    <span style="cursor:pointer"
                                                                        *ngIf="isListExpanded(i)"
                                                                        (click)="readApiHitting(data)"
                                                                        class="material-symbols-outlined font-check-save">
                                                                        done
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </span>
                                                        <span class="w-33">
                                                            <p class="m-0">
                                                                <span class="font-size-interval"> Interval Time
                                                                    :{{data.maker}}mins
                                                                </span>
                                                            </p>
                                                            <p style="cursor: hover;" class="m-0 align-icon-notifi">
                                                                <span class="w-10 m-0 pt-0" tooltip="Read"
                                                                    (click)="actionApiHitting(data)"
                                                                    [ngClass]="readButtonColorChange?'color-grey':''"
                                                                    style="font-size: 18px !important; margin-top: 2px;cursor: pointer"
                                                                    class="material-symbols-outlined">
                                                                    import_contacts
                                                                </span>
                                                                <span class="w-10 m-0 ml-3 pt-0 " tooltip="Action"
                                                                    [ngClass]="actionButtonColorChange?'color-grey':''"
                                                                    (click)="toggleList(i,'ACTION')"
                                                                    style="font-size: 18px !important; margin-top: 2px; cursor: pointer;padding-left: 12px;"
                                                                    class="material-symbols-outlined">
                                                                    pan_tool_alt
                                                                </span>

                                                            </p>
                                                        </span>




                                                    </div>


                                                </div>
                                            </perfect-scrollbar>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item dropdown" *ngIf="globalService.widget.iconEnabled"
                    [ngClass]="iconDropdown ? 'show showing':''">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown"
                        href="javascript:;" (click)='toggleShow($event, "iconDropdown")' id="navbarDropdownTheme">
                        <i class="material-icons" tooltip="Widget Menu" flow="down">more_horiz</i>

                    </a>
                    <div aria-labelledby="navbarDropdownTheme"
                        class="dropdown-menu dropdown-menu-right triangleUp new-dropdown"
                        [ngClass]="iconDropdown ? 'show showing':'hiding'">
                        <ul class="fixed-plugin dropdown-menu show">
                            <li class="header-title d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center w-100 cursorPointer"
                                    (click)="templateSliderOpen('clear')">
                                    <span class="material-icons w-30 new-icon">close</span>
                                    <span class="w-70 d-flex justify-content-start">Clear All</span>
                                </div>
                            </li>
                            <li class="header-title d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center w-100 cursorPointer"
                                    (click)="templateSliderOpen('save')">
                                    <span class="material-icons w-30 new-icon">save</span>
                                    <span class="w-70 d-flex justify-content-start">Save</span>
                                </div>
                            </li>
                            <li *ngIf="globalService.widget.enableDelete"
                                class="header-title d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center w-100 cursorPointer"
                                    (click)="templateSliderOpen('delete')">
                                    <span class="material-icons w-30 new-icon">delete</span>
                                    <span class="w-70 d-flex justify-content-start">Delete</span>
                                </div>
                            </li>
                            <li class="header-title d-flex justify-content-between align-items-center">
                                <div class="d-flex align-items-center w-100 cursorPointer"
                                    (click)="templateSliderOpen('download')">
                                    <span class="material-icons w-30 new-icon">download</span>
                                    <span class="w-70 d-flex justify-content-start">Export</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>










                <li class="nav-item dropdown slider-top" *ngIf="globalService.widget.iconEnabled">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link" data-toggle="dropdown"
                        href="javascript:;" (click)="templateSliderOpen('slider')">
                        <i class="material-icons" tooltip="Widget Settings" flow="down">settings</i>

                    </a>

                </li>





                <li *ngIf="globalService.widget.enableTheme" class="nav-item">
                    <a class="nav-link" href="javascript:;" (click)="goHome()">

                        <i class="material-icons" flow="down" tooltip="Home">home</i>
                        <p class="d-lg-none d-md-block">
                            Stats
                        </p>
                    </a>
                </li>

                <li class="nav-item dropdown profileClick " [ngClass]="showProfileDropdown ? 'show': ''">
                    <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false" (click)='toggleShow($event, "showProfileDropdown")'>
                        <i class="material-icons" flow="down" tooltip="User Profile">person</i>
                        <p class="d-lg-none d-md-block">Account</p>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right triangleUp userProfile-block"
                        [ngClass]="showProfileDropdown ? 'show showing': 'hiding'"
                        aria-labelledby="navbarDropdownProfile">

                        <div class="userName p-2">
                            <span class="material-icons mr-2 userIcon">person</span>
                            <span>{{userName}}</span>
                        </div>

                        <ul class="fixed-plugin dropdown-menu show theme-block">

                            <li class="adjustments-line">
                                <a href="javascript:void(0)" class="switch-trigger active-color">
                                    <div class="badge-colors mr-auto">
                                        <span *ngFor="let color of colorList" class="border-remove"
                                            [ngClass]="[color.name == 'BLUE'? 'blue-slider': '', color.select ? 'selected-slider': '', color.name == 'WHITE' ? 'white-background': '']"
                                            [class]="color.css +' '+ 'badge filter badge-' + color.css + ' '+ 'active cssLinkChanger'"
                                            (click)='getCssThemeUrl(color, "change")'></span>
                                    </div>
                                    <div class="clearfix"></div>
                                </a>
                            </li>
                            <li class="d-flex justify-content-center">
                                <button type="submit" class="btn btn-sm top-apply" (click)="logout()">Logout
                                    <div class="ripple-container"></div>
                                </button>
                            </li>
                        </ul>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Customer Details -->
<ng-template #customerDetails let-modal>
    <div class="modal-header sample">
        <h4 class="modal-title" id="modal-basic-title">
            <span class='text-left'> Customer Details</span>
            <a class='close' href='javascript:;' (click)="modalService.dismissAll()"><i class="fa fa-times"
                    aria-hidden="true"></i></a>
        </h4>
    </div>
    <div class="modal-body">
        <perfect-scrollbar class="customer-details">
            <app-list-view [labels]="customerDetailsPagelabels" [values]="customerDetailsData"></app-list-view>
        </perfect-scrollbar>
    </div>
    <div class="modal-footer text-center">
    </div>
</ng-template>



<!-- action popup notification -->
<ng-template #notificationPopupAction let-modal>
    <div class="modal-header sample">
        <h4 class="modal-title" id="modal-basic-title">Event Action </h4>
        <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
    </div>
    <div class="modal-body">
        <form [formGroup]='eventSetupForm'>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group bmd-form-group pl-0">
                                <label class="bmd-label-static mb-0 pl-0">Event Type </label>
                                <input type='text' maxlength="5" class="form-control" placeholder=""
                                    formControlName='eventType'
                                    [class.bb-error]="(eventSetupForm.controls['eventType'].invalid)" />
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group bmd-form-group pl-0">
                                <label class="bmd-label-static mb-0 pl-0">Event Sub Type</label>
                                <input type='text' maxlength="5" class="form-control" placeholder=""
                                    formControlName='eventSubType'
                                    [class.bb-error]="(eventSetupForm.controls['eventSubType'].invalid)" />

                                <div class="line"></div>

                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group bmd-form-group pl-0">
                                <label class="bmd-label-static mb-0 pl-0">Event Id </label>
                                <input type='text' maxlength="5" class="form-control" placeholder=""
                                    formControlName='eventId'
                                    [class.bb-error]="(eventSetupForm.controls['eventId'].invalid)" />
                                <div class="line"></div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group bmd-form-group pl-0">
                                <label class="bmd-label-static mb-0 pl-0">Notification Message </label>
                                <input type='text' maxlength="5" class="form-control" placeholder=""
                                    formControlName='eventCondition'
                                    [class.bb-error]="(eventSetupForm.controls['eventCondition'].invalid)" />
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group bmd-form-group pl-0">
                                <label class="bmd-label-static mb-0 pl-0">
                                    Comment</label>
                            </div>
                            <div class="line"></div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <div class="form-group bmd-form-group pl-0">
                                <textarea style="width: 100%; height: 70px !important;" class="textarea"
                                    formControlName="notificationActionComment">
                                                                                  </textarea>
                                <div class="line"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </form>

    </div>
    <div class="modal-footer text-center h-10">
        <button type="button" [disabled]="((!eventSetupForm.valid))" class="btn btn-rose btn-sm"
            (click)="submitEventSetupForm()">Submit</button>
        <button type="button" (click)="modalClose()" class="btn btn-rose btn-sm">Cancel</button>
    </div>

</ng-template>

<ng-template #notificationPopupView let-modal>
    <div class="modal-header sample">
        <h4 class="modal-title" id="modal-basic-title">Event Details </h4>
        <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
    </div>
    <div class="modal-body">

        <div class="row w-100  scheduleData ml-0" style="background: #EBEBEB;">
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <span class="label">Event Type :</span>
                <span class="value"
                    [title]="eventSetupForm.controls['eventType'].value">{{eventSetupForm.controls['eventType'].value}}</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <span class="label">Event Sub Type :</span>
                <span style="margin-left: 32px;" class="value"
                    [title]="eventSetupForm.controls['eventSubType'].value">{{eventSetupForm.controls['eventSubType'].value}}</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <span class="label">Event Id :</span>
                <span class="value" style="margin-left: 14px"
                    [title]="eventSetupForm.controls['eventId'].value">{{eventSetupForm.controls['eventId'].value}}</span>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <span class="label">Notification Message :</span>
                <span class="value"
                    [title]="eventSetupForm.controls['eventCondition'].value">{{eventSetupForm.controls['eventCondition'].value}}</span>
            </div>
        </div>
        <div class="d-flex w-100 mt-3">
            <div class="w-80 d-flex align-items-end">
                <span class="spanclass" style="cursor:pointer" (click)="filterNotificationList('YTR')">
                    <span class="material-symbols-outlined   font-check-folder">
                        folder
                    </span>
                    <span class="number-span">{{this.countValues[0]}}</span>
                </span>
                <span class="spanclass" style="cursor:pointer" (click)="filterNotificationList('READ')">
                    <span class="material-icons font-check-doneAll">
                        done_all
                    </span>
                    <span class="number-span"> {{this.countValues[1]}}</span>
                </span>

                <span class="spanclass" style="cursor:pointer" (click)="filterNotificationList('ACTION')">
                    <span class="material-symbols-outlined font-check-square">
                        select_check_box
                    </span>
                    <span class="number-span"> {{this.countValues[2]}}</span>
                </span>


            </div>

            <div class="w-20 d-flex justify-content-end align-items-center">
                <div class="w-100 ng-select-check">
                    <select class="select-box" (change)="notificationDropDown()" [(ngModel)]="selectedQuantity">
                        <option class="align-selectDropDown" value="ALL"> All </option>
                        <option class="align-selectDropDown" value="5"> 5 </option>
                        <option class="align-selectDropDown" value="10"> 10 </option>
                        <option class="align-selectDropDown" value="15"> 15 </option>
                    </select>
                </div>

            </div>
        </div>

        <div class="d-flex calc_noti_height">
            <div class="h-100 w-100">
                <div class="h-100 mr-0 ml-0">
                    <perfect-scrollbar>
                        <ul class="mr-0 ml-0 pl-0" *ngFor="let item of notificationData">
                            <li class="mr-0 ml-0">
                                <div class="d-flex w-100">
                                    <div class="w-5">

                                        <span *ngIf="item.notificationStatus =='YTR'"
                                            class="material-symbols-outlined ml-2  font-check-folder-table">
                                            folder
                                        </span>
                                        <span *ngIf="item.notificationStatus =='READ'"
                                            class="material-icons ml-2  font-check-doneAll-table">
                                            done_all
                                        </span>
                                        <span *ngIf="item.notificationStatus =='ACTION'"
                                            class="material-symbols-outlined ml-2  font-check-square">
                                            select_check_box
                                        </span>
                                    </div>
                                    <div class="w-95">
                                        <a>
                                            <a class="notificationLabelDate">Date:</a>
                                            <a class="notificationLabelValueDate"> {{item.notificationDate | date }}</a>
                                            <a class="notificationLabelValueTime"> {{item.notificationDate.split(' ')[1]
                                                }}</a>
                                        </a>
                                        <br>
                                        <a>
                                            <!-- For Yet to Read start -->
                                            <a *ngIf="item.notificationStatus =='YTR'" class="notificationLabel">
                                                Unread</a>
                                            <!-- For Yet to Read End -->
                                            <!-- For Read start -->
                                            <a *ngIf="item.notificationStatus =='READ'" class="notificationLabel"> Read
                                                by:</a>
                                            <a *ngIf="item.notificationStatus =='READ'" class="notificationLabelValue">
                                                {{item.notificationReadName}} </a>
                                            <a *ngIf="item.notificationStatus =='READ'" class="notificationLabelForOn">
                                                on </a>
                                            <a *ngIf="item.notificationStatus =='READ'" class="notificationLabelValue">
                                                {{item.notificationReadDate | date}} </a>
                                            <a *ngIf="item.notificationStatus =='READ'"
                                                class="notificationLabelValueTime">
                                                {{item.notificationReadDate.split(' ')[1]}} </a>
                                            <!-- For Read End -->



                                            <!-- For Action Start -->
                                            <a *ngIf="item.notificationStatus =='ACTION'" class="notificationLabel">
                                                Read
                                                by:</a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValue">
                                                {{item.notificationReadName}} </a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelForOn">
                                                on </a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValue">
                                                {{item.notificationReadDate | date}} </a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValueTime">
                                                {{item.notificationReadDate.split(' ')[1]}} </a>

                                            <a *ngIf="item.notificationStatus =='ACTION'" class="notificationLabel">
                                                Action by:</a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValue"> {{item.notificationActionName}} </a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelForOn">
                                                on</a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValue"> {{item.notificationActionDate | date}}
                                            </a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValueTime">
                                                {{item.notificationActionDate.split(' ')[1]}} </a>
                                            <br>
                                            <a *ngIf="item.notificationStatus =='ACTION'" class="notificationLabel">
                                                Comments:</a>
                                            <a *ngIf="item.notificationStatus =='ACTION'"
                                                class="notificationLabelValue"> {{item.notificationActionComment}} </a>
                                            <!-- For Action End -->
                                        </a>
                                    </div>
                                </div>



                            </li>
                        </ul>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
    </div>
</ng-template>