.icons-list {
  position: absolute;
  top: 5px;
  right: 10%;
  height: 400px;
  width: 400px;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 4px 8px 3px rgb(0 0 0 / 15%);
  transform-origin: 100% 0;
  transform: scale(1);
  transition: all .3s cubic-bezier(.55, 0, .55, .2);
  border-radius: 4px;
  overflow: hidden;
  z-index: 1;
  background: #fff;
}

.notification_bar .triangleUp::after,
.notification_bar.triangleUp:before {
  content: '' !important;
}

.triangleUp::after,
.triangleUp:before {
  content: unset !important;
}

.new-dropdown {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 4px 8px 3px rgb(0 0 0 / 15%);
  top: 0;
  padding: 0;
}

.new-dropdown ul {
  min-width: 16em;
  padding: 0px;
  box-shadow: none;
  margin: 0;
}

.new-dropdown .header-title {
  border-bottom: 1px solid #dadce0;
  /* font-size: 14px; */
  color: #202124;
  /* font-weight: 400; */
  padding: 25px 6px 25px 3px !important;
  margin: 0;
  font: 400 15px/20px 'Product Sans', Arial, Helvetica, sans-serif;
}

.new-dropdown .new-icon {
  color: #4a4a4a;
}

.cursorPointer {
  cursor: pointer;
}

.top-icons-menu {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a;
  text-decoration: underline;
}

.top-icons-menu:hover {
  color: #000;
  text-decoration: underline;
}

.widget-menus [tooltip]::after {
  background: #343434 !important;
}

.font-400 {
  font-weight: 400;
}

.white-background {
  border-color: #ccc !important;
}

.fixed-plugin .badge-dark-blue {
  background-color: #4285F4;
}

.fixed-plugin .badge-green {
  background-color: #0F9D58;
}

.fixed-plugin .badge-red {
  background-color: #DB4437;
  color: #fff !important;
}

/* .border-remove {
  border-radius: 5px;
} */

.userName {
  font-size: 14px;
  font-weight: 400;
  color: #2a2a2a;
  display: flex;
  justify-content: center;
}

.theme-block {
  min-width: 14em;
  padding-bottom: 8px;
  box-shadow: none;
  border-top: 1px Solid #ccc;
  border-radius: unset;
}

.font-18 {
  font-size: 18px;
}

.userIcon {
  font-size: 18px;
  vertical-align: middle;
  position: relative;
  top: 2px;
}

.logout-block:hover span {
  color: #2e2e2e;
  font-weight: 600 !important;
  cursor: pointer;
}

.logout-block:hover .logout-name {
  text-decoration: underline;
}

.userProfile-block {
  border: 1px solid #ccc;
}

.outside-click .small-icons {
  color: #606060;
  font-size: 18px;
  font-weight: 600;
  max-width: 16px;
}

.outside-click {
  margin-top: -2px;
}

.outside-click .dropdown-toggle:after {
  display: none;
}

.outside-click a {
  padding: 10px 15px;
}

.outside-click .dropdown-menu .fixed-plugin li.dashboard-menu {
  border-bottom: 1px solid #dadce0;
  color: #202124;
  padding: 25px 6px 25px 3px !important;
  margin: 0;
  font: 400 15px/20px Product Sans, Arial, Helvetica, sans-serif;
}

.outside-click .dropdown-menu .fixed-plugin li.dashboard-submenu {
  padding: 11px 0 !important;
  height: unset;
  text-align: left;
  color: #202124;
  font: 400 15px/20px 'Product Sans', Arial, Helvetica, sans-serif;
  margin: 0;
}

.outside-click .dropdown-menu .fixed-plugin li.header-title:hover {
  background: #e1e1e1;
  box-shadow: unset;
}

.outside-click .dropdown-menu .fixed-plugin {
  box-shadow: none;
  width: unset;
  left: unset;
  right: unset;
  position: relative;
  padding: 0;
  margin: 0;
}

.outside-click .dashboard-menu-wid {
  min-width: 16em;
}

.outside-click .dashboard-submenu-wid {
  min-width: 11em;
}

.outside-click .secondFilter {
  position: absolute;
  left: 100%;
  top: -2px;
  border: 1px solid #e7e7e7;
}

.outside-click .rightAlign {
  left: unset;
  right: 100%;
}

.outside-click .b-radius-none {
  border-radius: unset;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 4px 8px 3px rgb(0 0 0 / 15%);
  padding: 0;
}

.outside-click .disabled-list {
  color: #bbb7b7 !important;
}

.outside-click .dropdown-height {
  height: 48vh;
}

.outside-click .active-scaling {
  background: #c1c1c1 !important;
}

/* .outside-click .cursorPointer {
  cursor: pointer;
} */

.pl-15 {
  padding-left: 15px;
}

.outside-click .new-icon {
  color: #4a4a4a;
}

.outside-click .active-theme {
  border: solid 2px #9b9b9b;
}

.align-icon {
  margin-right: 3%;
}

.align-icon-font {
  font-size: 18px !important;
  color: #847f7f !important;
}

.align-icon-font-table {
  font-size: 15px !important;
  color: #847f7f !important;
  margin-top: -6px;
}

.nav-icon.more-icon {
  max-width: 20px;
  display: inline-block;
  background: white;
}

.nav-icon.more-icon .material-icons {
  font-size: 24px;
}

.nav-icon i:hover {
  color: #847f7f !important;
}

.table-height-audit {
  height: 332px;
}

.accordian-style {
  font-size: 14px;
  font-weight: 500;
  color: rgb(74 74 74) !important;
  background-color: rgb(0 0 0 / 0%);
}

.accordian-list {
  font-size: 12px !important;
  font-weight: 500 !important;
}

.w-87 {
  width: 87% !important;
}

.header-border {
  border-top: dotted 1px black;
}

.disabled {
  pointer-events: none !important;
  opacity: 0.6 !important;
}

.table-align-notification {
  text-align: center;
}

.table-comment {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50px;
}

.w-12 {
  width: 12.5%;
}



.font-check-warning {
  color: red;
  font-size: 18px !important;
  margin-top: 2px;

}

.font-check-save {
  color: #3B3B3B;
  font-size: 18px !important;
  margin-top: 0px;

}

.w-75 {
  width: 75% !important;
}




.font-check-folder {
  color: #CC3D00;
  font-size: 16px !important;
  border: 1px solid #ccc;
  padding: 2px;
  background: #FFCC80;
  border-radius: 50%;
}

.font-check-folder-table {
  color: #CC3D00;
  font-size: 13px !important;
  border: 1px solid #ccc;
  padding: 2px;
  background: #FFCC80;
  border-radius: 50%;
  margin-top: 7px;
}


.font-check-doneAll {
  color: #5A9BFC;
  font-size: 16px !important;
  border: 1px solid #ccc;
  padding: 2px;
  background: #C3DBFF;
  border-radius: 50%;
}

.font-check-doneAll-table {
  color: #5A9BFC;
  font-size: 13px !important;
  border: 1px solid #ccc;
  padding: 2px;
  background: #C3DBFF;
  border-radius: 50%;
  margin-top: 7px;
}



.font-check-square {
  color: #04B42B;
  font-size: 16px !important;
  border: 1px solid #ccc;
  padding: 2px;
  background: #BDFFA6;
  border-radius: 50%;

}

.spanclass {
  position: relative;
  width: 13%;
  padding-left: 30px;
}


.w-7 {
  width: 7% !important;
}

.w-33 {
  width: 33% !important;
}

.w-60 {
  width: 60% !important;
}

.align-icon-notifi {
  display: flex;
  justify-content: center;
}

.font-size-interval {
  font-size: 10px !important;
  font-weight: 500;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid black;
}

.small-height {}

.big-height {
  height: 35px;
}

.txt-area {
  height: 23px !important;
  width: 152px !important;
  border: unset !important;
  font-size: 10px;
}

.txt-area-align textarea::placeholder {
  font-size: 10px;
}

.txt {
  cursor: pointer;
  text-decoration: underline;
  /* border-bottom: 2px solid #ccc !important; */
}

.h-9 {
  height: 9% !important;
}

.h-11 {
  height: 11% !important;
}

.ng-select-check .ng-select-red {
  color: #ccc;
  background-color: #ccc;
  border-radius: 6px;
}

.notificationLabelDate {
  font-size: 12px;
  font-weight: 500;
  color: #969696 !important;
}

.notificationLabelValueDate {
  font-size: 11px;
  font-weight: 400;
  color: #3B3B3B !important;
}

.notificationLabelValueTime {
  font-size: 10px;
  font-weight: 400;
  color: #969696 !important;
}

.notificationLabelValue {
  font-size: 11px;
  font-weight: 700;
  color: #3B3B3B !important;
}

.notificationLabel {
  font-size: 11px;
  font-weight: 500;
  color: #2667C9 !important;
}

.notificationLabelForOn {
  font-size: 11px;
  font-weight: 500;
  color: #969696 !important;
}

.notificationLabelUnread {
  font-size: 11px;
  font-weight: 400;
}

.select-box {
  width: 89%;
  -webkit-appearance: listbox !important;
  background: #E3E3E3;
  border: 1px solid #E3E3E3;
  font-size: 11px;
  font-weight: 500;
  height: 26px;
}

.w-5 {
  width: 5% !important;
}

.w-95 {
  width: 95% !important;
  line-height: 16px;
}

.pan_tool_alt-icon {
  font-size: 18px !important;
  margin-top: 2px;
  cursor: pointer;
  padding-left: 3px !important;
}

.color-grey {
  color: #8C8A8A !important;
}

.countStyle {
  position: absolute;
  top: -11px;
  left: 10p;
  color: #CC3D00 !important;
  background: #FFCC80;
  border-radius: 50%;
  min-width: 18px;
  height: 18px;
  pointer-events: none;
  text-align: center;
  padding: 2px;
  word-wrap: initial;
}


.align-center-dot {
  padding: 4px !important;
}

.h-8{
  height: 8% !important;
}

/* .align-selectDropDown{
  text-align: center;
} */

.calc_noti_height {
  height: calc(100% - 77px);
}