<div
  class="table-header align-items-center"
  *ngIf="tableDatails.options.showButton"
>
  <!-- {{globalService.pageTitle}} -->
  <div class="row w-75" *ngIf="showFilterTypeTwo">
    <div class="col-sm-12 col-md-4 col-lg4 col-xl-4">
      <div class="form-group bmd-form-group mt-0 pl-0 ml-3">
        <span class="hm_dashboard"> </span>

        <ng-select
          class="selectpicker"
          appendTo="body"
          [(ngModel)]="userGroupFilterData"
          (change)="userProfileFilterData = ''"
        >
          <ng-container *ngFor="let data of filterTypeTwoData">
            <ng-option value="{{ data.alphaSubTab }}">
              {{ data.description }}</ng-option
            >
          </ng-container>
        </ng-select>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <span class="hm_dashboard"> </span>

        <ng-select
          class="selectpicker"
          appendTo="body"
          [(ngModel)]="userProfileFilterData"
          (change)="filterUserData()"
        >
          <ng-container
            *ngFor="let data of filterTypeTwoData1[userGroupFilterData]"
          >
            <ng-option value="{{ data.alphaSubTab }}">
              {{ data.description }}</ng-option
            >
          </ng-container>
        </ng-select>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <span class="hm_dashboard">Home Screen Dashboard</span>
        <ng-select
          class="selectpicker"
          appendTo="body"
          [(ngModel)]="homeScreenData"
          (change)="homeDashapiCall()"
        >
          <ng-container *ngFor="let data of homeScreenArry">
            <ng-option value="{{ data.alphaSubTab }}">
              {{ data.description }}</ng-option
            >
          </ng-container>
        </ng-select>
      </div>
    </div>
  </div>

  <div class="row align w-85" *ngIf="showCronStatus">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <!-- <span class="text-header"
          >Cron Status</span>
          <span [ngbTooltip]="cronStat_Tooltip" placement="right"  (click)="cornStausChange(otherInfo)" [ngClass]="buttoncronStaus ? 'status-btn-successs' : 'status-btn-dangers'" >
          </span> -->
        <div class="togglebutton">
          <label class="text-header">
            Cron Status
            <input
              type="checkbox"
              (click)="cornStausChange(otherInfo)"
              [checked]="buttoncronStaus"
            />
            <span class="toggle align-toggle"></span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-0 w-80" *ngIf="showReportId">
    <div class="d-flex flex-row w-50 justify-content-center align-items-center">
      <span class="col-sm-12 col-md-2 col-lg-2 col-xl-2 hm_dashboard"
        >Report ID:
      </span>
      <div
        class="col-sm-12 col-md-10 col-lg-10 col-xl-10 form-group bmd-form-group mt-0 pl-0"
      >
        <ng-select
          class="selectpicker"
          appendTo="body"
          [(ngModel)]="reportId"
          (change)="reportIdChange()"
        >
          <ng-container *ngFor="let data of reportIdList">
            <ng-option value="{{ data.alphaSubTab }}">
              {{ data.description }}</ng-option
            >
          </ng-container>
        </ng-select>
      </div>
    </div>
    <div class="d-flex flex-row w-50 justify-content-center align-items-center">
      <span class="col-sm-12 col-md-2 col-lg-2 col-xl-2 hm_dashboard"
        >Burst ID:
      </span>
      <div
        class="col-sm-12 col-md-10 col-lg-10 col-xl-10 form-group bmd-form-group mt-0 pl-0"
      >
        <ng-select
          class="selectpicker"
          appendTo="body"
          [(ngModel)]="burstId"
          (change)="filterReportData()"
        >
          <ng-container *ngFor="let data of burstIdList">
            <ng-option value="{{ data.alphaSubTab }}">
              {{ data.description }}</ng-option
            >
          </ng-container>
        </ng-select>
      </div>
    </div>
  </div>
  <div class="actions">
    <!-- <a *ngIf="staticDelete">

      <div class="togglebutton">
        <label class=" text-header" style="color: black !important;font-size: 14px !important;font-weight: bold;">
          Cron Status
          <input type="checkbox" (click)="cornStausChangeAll(buttoncronStausAll)" [checked]="buttoncronStausAll">
          <span class="toggle align-toggle"></span>

        </label>

      </div>
    </a> -->

    <a *ngIf="staticDelete">
      <div class="togglebutton">
        <label
          class="text-header"
          style="
            color: black !important;
            font-size: 14px !important;
            font-weight: bold;
          "
        >
          Cron Status
          <input
            type="checkbox"
            [(ngModel)]="buttoncronStaus"
            (change)="cornStausChangeAll(buttoncronStaus)"
            [checked]="buttoncronStaus"
          />
          <span class="toggle align-toggle"></span>
        </label>
      </div>
    </a>
    <a
      *ngIf="showApproveOrRejectButton() && screentype == 'fullscreen'"
      (click)="emitActionType('bulkApprove')"
      href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
      rel="tooltip"
    >
      <span tooltip="Approve" class="tool_tip"
        ><i class="material-icons">done</i></span
      >
    </a>

    <!-- Reject Menu -->
    <a
      *ngIf="showApproveOrRejectButton() && screentype == 'fullscreen'"
      (click)="emitActionType('bulkReject')"
      href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
      data-original-title="Reject"
    >
      <span tooltip="Reject" class="tool_tip">
        <i class="material-icons">do_not_disturb_alt</i></span
      >
    </a>
    <a
      *ngIf="
        tableDatails?.options?.callDetailButton?.enable &&
        screentype == 'fullscreen'
      "
      href="javascript:void(0)"
      (click)="emitActionType(tableDatails.options.callDetailButton.actionName)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
      data-toggle="modal"
      data-placement="top"
      rel="tooltip"
      title=""
      data-original-title="Add "
    >
      <span tooltip="Call History" class="tool_tip">
        <i class="fa fa-phone"></i
      ></span>
    </a>
    <!-- Add Menu -->
    <!-- &&globalService.pageLevelAccess.profileAdd=='Y' -->
    <a
      *ngIf="
        tableDatails.options.addButton.enable &&
        screentype == 'fullscreen' &&
        globalService.pageLevelAccess.profileAdd == 'Y'
      "
      href="javascript:void(0)"
      (click)="emitActionType(tableDatails.options.addButton.actionName)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
      data-toggle="modal"
      data-placement="top"
      rel="tooltip"
      title=""
      data-original-title="Add "
    >
      <span tooltip="Add" class="tool_tip">
        <i class="material-icons">add</i></span
      >
    </a>

    <!-- Delete Menu -->
    <!-- <a *ngIf="showApproveOrRejectButton()&&tableDatails.options.bulkDeleteButton.enable&&screentype=='fullscreen'" href="javascript:void(0)"
            class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" (click)="emitActionType('bulkDelete')" data-original-title="Delete" data-placement="top" rel="tooltip">
            <span tooltip="Delete" class="tool_tip"> <i class="material-icons" >delete</i></span>
        </a> -->
    <a
      *ngIf="
        tableDatails.options.filterButton.enable && screentype == 'fullscreen'
      "
      (click)="openSearchModal()"
      href="javascript:void(0)"
      class="search-toggle waves-effect btn-flat nopadding table-header-action-icon"
    >
      <span tooltip="Filter" id="filter" class="tool_tip"
        ><i class="material-icons">filter_alt</i>
        <span
          class="tick tick-success"
          *ngIf="globalService.filterList.length != 0"
        ></span>
      </span>
    </a>

    <a
      (click)="emitActionType(tableDatails.options.refreshButton.actionName)"
      *ngIf="tableDatails.options.refreshButton.enable"
      href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
    >
      <span tooltip="Reload" class="tool_tip"
        ><i class="material-icons">autorenew</i></span
      >
    </a>

    <a
      (click)="compact_css = !compact_css"
      *ngIf="tableDatails.options.compactTableButton.enable"
      href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
    >
      <span tooltip="Compact Table" class="tool_tip"
        ><i class="material-icons">apps</i></span
      >
    </a>
    <a
      (click)="previewScreen()"
      *ngIf="tableDatails.options.fullScreenButton.enable"
      href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding"
    >
      <span
        id="last_toolTip"
        class="tool_tip"
        [attr.tooltip]="screentypeToolTip"
        ><i class="material-icons">{{ screentype }}</i></span
      >
    </a>
  </div>
</div>

<div class="smart-table table-responsive">
  <perfect-scrollbar
    #perfectScroll
    [style.max-height]="tableDatails.options.maxHeight"
    [config]="{ suppressScrollX: false }"
  >
    <table
      class="inlineEditTable"
      [ngClass]="findMyBrowser() ? 'tableSeperate' : ''"
    >
      <thead>
        <tr>
          <th
            *ngIf="tableDatails.options.showCheckBox"
            class="check-first text-center"
            [ngClass]="{ 'pt-0 pb-0 compactTable': compact_css }"
          >
            <input
              class=""
              [checked]="bulkChecked"
              type="checkbox"
              value=""
              (change)="bulkSelect($event)"
            />
          </th>
          <th
            *ngFor="let header of tableDatails.headers"
            [hidden]="header.hidden"
            rowSpan="{{ header.rowspan }}"
            colSpan="{{ header.colspan }}"
            [ngClass]="{
              'pt-0 pb-0 compactTable': compact_css,
              'text-center': header.colspan > 1
            }"
            [ngStyle]="header.style"
          >
            <span title="">{{ header.name }} </span>
            <span *ngIf="header.filter"
              ><a
                ><i
                  class="fa fa-filter"
                  (click)="individualFilter(header)"
                ></i></a
            ></span>
          </th>
        </tr>
        <tr *ngIf="tableDatails.secheaders && tableDatails.secheaders.length">
          <th
            *ngFor="let header of tableDatails.secheaders"
            rowSpan="{{ header.rowspan }}"
            colSpan="{{ header.colspan }}"
            [ngClass]="{ 'pt-0 pb-0 compactTable': compact_css }"
            [ngStyle]="header.style"
          >
            <span title="">{{ header.name }} </span>
            <span *ngIf="header.filter"
              ><a
                ><i
                  class="fa fa-filter"
                  (click)="individualFilter(header)"
                ></i></a
            ></span>
          </th>
        </tr>
      </thead>
      <div class="no-data" *ngIf="viewList && viewList.length == 0 && showData">
        No Records Found
      </div>
      <tbody *ngIf="viewList && viewList.length >= 1">
        <tr
          (mouseover)="removeClass()"
          (mouseout)="removeClass()"
          [attr.id]="'highLightRow' + i"
          role="row"
          *ngFor="let data of viewList; let i = index"
        >
          <ng-container *ngIf="tableDatails.options?.showCheckBox">
            <td class="text-center">
              <input
                class="selectRow"
                type="checkbox"
                name="menus"
                (change)="toggleCheckBoxSelect($event, i)"
                [checked]="data.checked"
              />
            </td>
          </ng-container>
          <td
            *ngFor="let header of tableDatails.headers; let k = index"
            [hidden]="header.colHidden"
            [ngClass]="{
              'pt-0 pb-0 compactTable': compact_css,
              'text-center': header?.align == 'center',
              ' text-right': header?.align == 'right'
            }"
            [ngStyle]="header.style"
          >
            <ng-container *ngIf="header.viewType == 'icon'">
              <div class="text-center">
                <i class="fa fa-times" *ngIf="data[header.referField] == 'N'">
                </i>
                <i class="fa fa-check" *ngIf="data[header.referField] == 'Y'">
                </i>
              </div>
            </ng-container>
            <ng-container
              *ngIf="header.needIndicator && header.viewType != 'icon'"
            >
              <span
                class="status-btn"
                [ngClass]="{
                  'status-btn-success':
                    data[header.referField] == 'Active' ||
                    data[header.referField] == 'Closed',
                  'status-btn-danger':
                    data[header.referField] == 'Delete' ||
                    data[header.referField] == 'Lost' ||
                    data[header.referField] == 'In Active',
                  'status-btn-old': data[header.referField] == 'Old',
                  'status-btn-warning':
                    data[header.referField] == 'Inactive' ||
                    data[header.referField] == 'Open'
                }"
              >
                <span
                  title="{{
                    header.titleReferField
                      ? data[header.titleReferField]
                      : data[header.referField]
                  }}"
                  >{{ data[header.referField] }}</span
                >
              </span>
            </ng-container>
            <ng-container
              *ngIf="
                !header.needIndicator &&
                !header.hasClickEvent &&
                header.viewType != 'icon' &&
                !header.isDate
              "
            >
              <div class="d-flex">
                <span
                  *ngIf="header.referField != 'emailbody'"
                  title="{{
                    header.titleReferField
                      ? data[header.titleReferField]
                      : data[header.referField]
                  }}"
                  class="text-truncate"
                  style="display: block; width: 100%"
                  >{{ data[header.referField] }}
                </span>
                <span *ngIf="header.referField == 'visionId'">
                  <i
                    class="fa fa-lock"
                    aria-hidden="true"
                    *ngIf="data['lastUnsuccessfulLoginAttempts'] >= 4"
                  ></i>
                  <!-- <i class="fa fa-unlock-alt" aria-hidden="true" *ngIf="data['lastUnsuccessfulLoginAttempts'] < 4"></i> -->
                </span>
                <span
                  *ngIf="header.referField == 'emailbody'"
                  title="{{
                    header.titleReferField ? data[header.titleReferField] : ''
                  }}"
                  class="text-truncate"
                  style="display: block; width: 100%"
                  [innerHTML]="data[header.referField] | domSan : 'html'"
                >
                </span>
              </div>
            </ng-container>
            <!-- <ng-container *ngIf="header.referField == 'feeConfigCodeDesc' && !header.needIndicator&&!header.hasClickEvent&&header.viewType!='icon' && !header.isDate">
                            <span
                                title="{{header.titleReferField?data[header.titleReferField]:data.feeConfigCode+' - '+data.feeConfigCodeDesc}}"
                                class="text-truncate" style="display:block;width:100%">{{data.feeConfigCode}} - {{data.feeConfigCodeDesc}}
                            </span>
                        </ng-container> -->

            <ng-container *ngIf="header.isDate">
              <span
                title="{{ dateFormat(data[header.referField]) }}"
                class="text-truncate"
                style="display: block; width: 100%"
                >{{ dateFormat(data[header.referField]) }}
              </span>
            </ng-container>
            <ng-container
              *ngIf="
                !header.needIndicator &&
                header.hasClickEvent &&
                header.viewType != 'icon'
              "
            >
              <a
                title="{{
                  header.titleReferField
                    ? data[header.titleReferField]
                    : data[header.referField]
                }}"
                (click)="emitActionType(header.actionType, data)"
                class="text-truncate"
                style="
                  display: block;
                  width: 100%;
                  text-decoration: underline;
                  color: #2196f3;
                  cursor: pointer;
                "
                >{{ data[header.referField] }}
              </a>
            </ng-container>
            <ng-container *ngIf="header?.prompt">
              <span
                title="Prompts"
                class="prompts"
                (click)="emitActionType('prompt', data)"
              >
                <i class="material-icons prompts-icon">filter_alt</i>
              </span>
            </ng-container>
            <!-- Icons-->
            <div
              class="tr-edit-icons row a1"
              *ngIf="k == tableDatails.headers.length - 1"
            >
              <ng-container *ngFor="let actionButton of tableDatails.buttons">
                <ng-container *ngIf="checkAccess(actionButton)">
                  <ng-container
                    *ngIf="
                      actionButton.name == 'approve' ||
                      actionButton.name == 'reject' ||
                      actionButton.name == 'delete'
                    "
                  >
                    <ng-container
                      *ngIf="
                        actionButton.icon &&
                        iconVisible1(actionButton, data) &&
                        iconVisible2(actionButton, data)
                      "
                    >
                      <a
                        (click)="
                          emitActionType(actionButton.actionType, data, i)
                        "
                        href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding tool_tip"
                        title="{{ actionButton.name | titlecase }} "
                      >
                        <i class="material-icons">{{ actionButton.icon }}</i>
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container
                    *ngIf="
                      actionButton.name != 'approve' &&
                      actionButton.name != 'reject' &&
                      actionButton.name != 'delete' &&
                      actionButton.name != 'Download Minute Call Report' &&
                      actionButton.name != 'GlossaryId'
                    "
                  >
                    <ng-container
                      *ngIf="
                        actionButton.icon && iconVisible1(actionButton, data)
                      "
                    >
                      <a
                        (click)="
                          emitActionType(actionButton.actionType, data, i)
                        "
                        href="javascript:void(0) "
                        container="body"
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 tool_tip"
                        [ngbTooltip]="
                          apiLink == 'cron_getAllQueryResults' &&
                          actionButton.name == 'refresh' &&
                          data.cronRunStatus == 'Y'
                            ? 'Stop'
                            : apiLink == 'cron_getAllQueryResults' &&
                              actionButton.name == 'refresh' &&
                              data.cronRunStatus == 'N'
                            ? 'Start'
                            : (actionButton.name | titlecase)
                        "
                         placement="top" 
                        
                      >
                        <i class="material-icons">{{ actionButton.icon }}</i>
                      </a>
                    </ng-container>
                    <ng-container
                      *ngIf="
                        actionButton.img &&
                        iconVisible1(actionButton, data) &&
                        iconVisible2(actionButton, data)
                      "
                    >
                      <a
                        (click)="
                          emitActionType(actionButton.actionType, data, i)
                        "
                        href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 tool_tip"
                        [ngbTooltip]="actionButton.name | titlecase" container="body"
                        placement="top"
                      >
                        <img
                          [src]="actionButton.img"
                          height="15 "
                          width="15 "
                        />
                      </a>
                    </ng-container>
                  </ng-container>
                  <!-- <ng-container *ngIf="actionButton.name=='GlossaryId' ">
                    <ng-container>
                      <a (click)="emitActionType(actionButton.actionType, data,i) " href="javascript:void(0) ">
                        <div [innerHTML]="data.actionType" class="edgeLabel">
                          {{data.actionType}}
                        </div>
                        <i class="material-icons">{{actionButton.icon }}</i>
                      </a>
                    </ng-container>

                  </ng-container> -->
                  <ng-container
                    *ngIf="
                      actionButton.name != 'approve' &&
                      actionButton.name != 'reject' &&
                      actionButton.name != 'delete' &&
                      actionButton.name == 'Download Minute Call Report'
                    "
                  >
                    <ng-container
                      *ngIf="actionButton.icon && iconVisible(data)"
                    >
                      <a
                        (click)="
                          emitActionType(actionButton.actionType, data, i)
                        "
                        href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 tool_tip"
                        [ngbTooltip]="actionButton.name | titlecase"
                        container="body"
                        placement="top"
                      >
                        <i class="material-icons">{{ actionButton.icon }}</i>
                      </a>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </perfect-scrollbar>
  <div
    class="paginationHold d-flex justify-content-end align-items-baseline"
    *ngIf="limitedList.length"
  >
    <span class="text-right pr-2">Rows Per Page:</span>
    <span>
      <select
        class="custom-select ml-0"
        [(ngModel)]="perPage"
        (change)="listCountDisp()"
      >
        <option value="10">10</option>
        <option value="20" selected>20</option>
        <option value="25">25</option>
      </select>
    </span>
    <span [innerHTML]="getPaginationDet()"></span>
    <span>
      <ul class="material-pagination d-flex pl-0 mb-0">
        <li>
          <button
            class="btn btn-link p-2"
            [disabled]="previousDisp"
            (click)="previous()"
          >
            <i class="material-icons">chevron_left</i>
          </button>
        </li>
        <li>
          <button
            class="btn btn-link p-2"
            id="next "
            [disabled]="nextDisp"
            (click)="next()"
          >
            <i class="material-icons">chevron_right</i>
          </button>
        </li>
      </ul>
    </span>
  </div>
</div>

<!-- <ng-container *ngIf="tableDatails.options.showPagination ">
    <div class="paginationHold d-flex ">
        <div class="form-group d-inline-flex mt-0 pb-1 ">
            <label for="sort " class="col-sm-2 control-label "> Rows Per Page </label>
            <div style="width: 30px; ">
                <select class="form-control " name="sort " [(ngModel)]="rowPerPage " (change)="modifyTotalPageCount() ">
          <option value="10 ">10</option>
          <option value="15 ">15</option>
          <option value="20 ">20</option>
        </select>
            </div>
        </div>
        <ngb-pagination style="bottom:0px " [rotate]="true " (pageChange)="onPageChange($event) " [maxSize]="5 " [collectionSize]="totalRows " [(page)]="selectedPage " [(pageSize)]="pageSize " [boundaryLinks]="true " class='d-inline-flex'></ngb-pagination>
    </div>
</ng-container> -->
