.paginationHold {
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.paginationHold > div {
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}
.toolttop {
  height: 10%;
  width: 20%;
}

.hm_dashboard {
  /* position: absolute;
    top: -3px; */
  font-size: 13px;
  font-weight: 600;
  z-index: 1;
  color: #2a2a2a;
  /* margin-left: 15px; */
  margin-top: 9px;
  padding: 8px;
  padding-left: 0;
  white-space: nowrap;
  font-family: Open Sans, sans-serif;
}
.paginationHold label {
  font-size: 12px;
  text-align: right;
}

.paginationHold select {
  padding: 0;
  width: 40px;
}
.hoverClassRow {
  background-color: #eee;
}

.table-footer select {
  border-bottom: 1px solid lightgrey;
}

.custom-select {
  padding-left: 31px;
  margin-left: 11px;
  border: none;
}

.paginationHold * {
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 400;
}

.paginationHold > span {
  display: inline-flex;
  min-width: 40px;
}
.tableSeperate {
  border-collapse: separate !important;
  border-spacing: 0;
}

table.tableSeperate thead tr:nth-child(2) th {
  top: 28px !important;
}
.highlighted-row {
  background-color: #eee;
  -webkit-box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    5px 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.table-header i,
.table-header-icon {
  color: rgb(0 0 0 / 48%);
  font-size: 19px;
  border: dotted 2px transparent;
  font-weight: 600;
}

.prompts {
  position: relative;
  left: 35%;
  cursor: pointer;
}

.prompts-icon {
  font-size: 16px !important;
  vertical-align: middle;
  color: #2a2a2a;
}

table tr td .text-center i {
  color: #2a2a2a;
}

table tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal;
}
.text-header {
  font-size: 14px;
  font-weight: bold;
}

.align {
  margin-top: 12px !important;
}

tr td span,
thead tr th span {
  font-size: 13px !important;
}
.togglebutton label input[type="checkbox"]:checked + .toggle:after {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  margin-top: -1px;
}
.togglebutton label input[type="checkbox"]:checked + .toggle {
  background: #4caf50 !important;
}
input:checked + .slider {
  background-color: var(--content-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.tick {
  position: absolute;
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 9px;
  background: gray;
  top: -3px;
  right: -3px;
}
.tick:before,
.tick:after {
  background: white;
  position: absolute;
  content: " ";
  left: 30%;
  right: 30%;
  top: 50%;
  height: 2px;
  bottom: auto;
}
.tick-success {
  background: green;
  transform: rotate(45deg);
}
.tick-success:after {
  height: 1px;
  bottom: 25%;
  left: 30%;
  right: 45%;
  top: auto;
}
.tick-success:before {
  width: 1px;
  height: auto;
  bottom: 25%;
  top: 20%;
  left: 55%;
  right: auto;
}
