.textarea {
  min-height: 145px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;

}

.validate-btn {
  position: absolute;
  top: -8%;
  right: 8px;
  cursor: pointer;

}

.validate-btn .material-icons {
  font-size: 18px !important;
}


.validate-warning-message{
  padding: 4px;
  font-size: 13px !important;
}


.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}

.form-check .form-check-sign .check {
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
}

.form-check .form-check-sign:before {
  width: 16px;
  height: 16px;
}

.form-check .form-check-sign .check:before {
  margin-top: -5px;
  margin-left: 5px;
  top: -1px;
}

.card .form-check {
  margin-top: 0px;
}

.textarea-field {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #ddd;
  font-size: 12px;
  margin-top: 12px;
}

.textarea-field::placeholder {
  font-size: 14px;
}

.notification-header{
  display: flex;
  justify-content: flex-start;
  margin-top: -14px
}

.textareaev {
  min-height: 145px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;

}


@media only screen and (max-height: 580px) {
  .textareaev {
    min-height: 120px;
  }
} 

@media only screen and (max-height: 520px) {
  .textareaev {
    min-height: 90px;
  }
} 

@media only screen and (max-height: 465px) {
  .textareaev {
    min-height: 60px;
  }
} 

@media only screen and (max-height: 430px) {   
  .textareaev {
    min-height: 45px;
  }
}