<div class="card-body p-0 material-table" id="card-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div
        class="material-table dashboard-bg-white b-radius-12 h-99"
        style="margin-top: 0px"
        id="maximize"
      >
        <ng-container *ngIf="mainPage && !addEvent">
          <app-smart-table
            [tableDatails]="tableDetail"
            [tableData]="lineList"
            [tableType]="'full'"
            [resetModel]="resetModel"
            [tableDatas]="ngxTableConfig"
            (eventType)="tableAction($event)"
          ></app-smart-table>
        </ng-container>
        <ng-container *ngIf="addEvent">
          <div class="d-flex flex-column h-100 w-100">
            <div
              *ngIf="pageView != 'add' && pageView != 'copy'"
              class="flag"
              [ngStyle]="backGroundFlag(editData.recordIndicator)"
            >
              {{ editData.recordIndicatorDesc }}
            </div>
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label class="tab_label" [ngClass]="'active show'">
                  <a
                    href="javascript:void(0)"
                    (click)="backToHmpage('event_setup')"
                    ><i class="material-icons forwardIcon">forward</i></a
                  >
                  <span>Event Setup</span>
                </label>
              </div>
            </div>
            <div class="h-94 w-100">
              <div class="d-flex flex-column w-100 h-100">
                <div
                  [ngClass]="pageView == 'view' ? 'pointerDisable' : ''"
                  class="h-90 mainPadd12"
                >
                  <div class="tab-content h-100 mt-2 position-relative">
                    <div class="tab-pane-fade tabMargin fadeIn h-100">
                      <div class="row h-100 m-0">
                        <div
                          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                        >
                          <form [formGroup]="eventSetupForm">
                            <div class="row">
                              <div
                                class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                              >
                                <div class="form-row">
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Event Type
                                        <span class="text-danger">*</span>
                                      </label>

                                      <ng-select
                                        class="selectpicker"
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls['sequence']
                                            .invalid
                                        "
                                        appendTo="body"
                                        formControlName="eventType"
                                      >
                                        <ng-container
                                          *ngFor="let data of eventTypeList"
                                        >
                                          <ng-option
                                            value="{{ data.alphaSubTab }}"
                                          >
                                            {{ data.description }}</ng-option
                                          >
                                        </ng-container>
                                      </ng-select>
                                      <div class="line"></div>

                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls['eventType']
                                            .errors?.pattern
                                        "
                                      >
                                        * Event Type is Required
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Event Sub Type
                                        <span class="text-danger">*</span>
                                      </label>
                                      <ng-select
                                        class="selectpicker"
                                        appendTo="body"
                                        formControlName="eventSubType"
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls[
                                            'eventSubType'
                                          ].invalid
                                        "
                                      >
                                        <ng-container
                                          *ngFor="
                                            let datasub of eventSubTypeList
                                          "
                                        >
                                          <ng-option
                                            value="{{ datasub.alphaSubTab }}"
                                          >
                                            {{ datasub.description }}
                                          </ng-option>
                                        </ng-container>
                                      </ng-select>
                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls[
                                            'eventSubType'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Event Sub Type is Required
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Event ID
                                        <span class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        formControlName="eventId"
                                        maxlength="10"
                                        (keydown.space)="
                                          $event.preventDefault()
                                        "
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls['eventId']
                                            .invalid
                                        "
                                      />
                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls['eventId']
                                            .errors?.pattern
                                        "
                                      >
                                        * Alphabet And Number only allowed
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Event description</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        placeholder=""
                                        formControlName="eventDescription"
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls[
                                            'eventDescription'
                                          ].invalid
                                        "
                                      />

                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls[
                                            'eventDescription'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Event description is Required
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Condition Type</label
                                      >
                                      <ng-select
                                        class="selectpicker"
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls[
                                            'eventConditionType'
                                          ].invalid
                                        "
                                        appendTo="body"
                                        formControlName="eventConditionType"
                                      >
                                        <ng-container>
                                          <ng-option value="SQL">SQL</ng-option>
                                          <ng-option value="PLSQL"
                                            >PL SQL</ng-option
                                          >
                                        </ng-container>
                                      </ng-select>
                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls[
                                            'eventConditionType'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Condition Type is Required
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Event Interval (In Mintues)</label
                                      >
                                      <input
                                        type="text"
                                        class="form-control"
                                        maxlength="3"
                                        placeholder=""
                                        formControlName="eventInterval"
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls[
                                            'eventInterval'
                                          ].invalid
                                        "
                                      />

                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls[
                                            'eventInterval'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Numbers only allowed
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <ng-select
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls['eventStatus']
                                            .invalid
                                        "
                                        class="selectpicker"
                                        appendTo="body"
                                        formControlName="eventStatus"
                                      >
                                        <ng-container
                                          *ngFor="let data of statusList"
                                        >
                                          <ng-option
                                            value="{{ data.numSubTab }}"
                                            >{{ data.description }}</ng-option
                                          >
                                        </ng-container>
                                      </ng-select>
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Status</label
                                      >

                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls['eventStatus']
                                            .errors?.pattern
                                        "
                                      >
                                        * Status is Required
                                      </div>
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                  >
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0"
                                        >Condition</label
                                      >
                                    </div>
                                  </div>
                                  <div
                                    class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                  >
                                    <div
                                      *ngIf="pageView != 'view'"
                                      class="d-flex justify-content-end validate-btn"
                                    >
                                      <span
                                        class="styling-icons"
                                        placement="left"
                                        ngbTooltip="Validate Query"
                                        container="body"
                                        (click)="validateQuery()"
                                      >
                                        <i class="material-icons">fact_check</i>
                                      </span>
                                    </div>
                                    <div class="form-group bmd-form-group pl-0">
                                      <textarea
                                        class="textareaev"
                                        [class.bb-error]="
                                          submitted &&
                                          eventSetupForm.controls[
                                            'eventCondition'
                                          ].invalid
                                        "
                                        formControlName="eventCondition"
                                      >
                                      </textarea>

                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          eventSetupForm.controls[
                                            'eventCondition'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Condition is Required
                                      </div>
                                    </div>
                                    <div
                                      *ngIf="pageView != 'view'"
                                      class="notification-header"
                                    >
                                      <h6 class="validate-warning-message">
                                        <div
                                          style="
                                            font-weight: 700;
                                            font-size: 14px;
                                          "
                                        >
                                          Note :
                                        </div>
                                        If condition Type (SQL) then the query
                                        should return 0(Success)/1(Failed)
                                        <br />
                                        If condition Type (PLSQL) then the
                                        Procedure should return
                                        0(Success)/1(Failed)
                                      </h6>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="h-10 w-100">
                  <div class="row">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                    >
                      <div>
                        <!-- <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                          *ngIf="pageView == 'view'" (click)="onSubmit('first')"><i class="fa fa-angle-double-left"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>

                        <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                          *ngIf="pageView == 'view'" (click)="onSubmit('previous')"><i class="fa fa-angle-left"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button> -->
                        <button
                          *ngIf="eventFormSave && pageView != 'view'"
                          [disabled]="!eventSetupForm.valid"
                          type="button"
                          class="btn btn-sm btn-rose btn-outline-dark test"
                          (click)="saveEventSetup(save)"
                        >
                          Save
                        </button>

                        <button
                          *ngIf="eventFormModify && pageView != 'view'"
                          [disabled]="!eventSetupForm.valid"
                          type="button"
                          class="btn btn-sm btn-rose btn-outline-dark test"
                          (click)="saveEventSetup('modify')"
                        >
                          Modify
                        </button>

                        <button
                          *ngIf="pageView != 'view'"
                          type="button"
                          (click)="backToHmpage('event_setup')"
                          class="btn btn-sm btn-rose btn-outline-dark"
                        >
                          Cancel
                        </button>
                        <!-- <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                          class="btn btn-rose btn-sm" (click)="onSubmit('next')"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>
                        <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                          class="btn btn-rose btn-sm" (click)="onSubmit('last')"><i class="fa fa-angle-double-right"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-container *ngIf="eventSetup">
          <div class="d-flex flex-column h-100 w-100">
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label class="tab_label" [ngClass]="'active show'">
                  <a
                    href="javascript:void(0)"
                    (click)="backToHmpage('dbhealth')"
                    ><i class="material-icons forwardIcon">forward</i></a
                  >
                  <span>DB Health</span>
                </label>
              </div>
            </div>

            <div class="h-94 w-100">
              <div class="d-flex flex-column w-100 h-100">
                <div class="h-90 mainPadd12">
                  <div class="tab-content h-100 mt-2 position-relative">
                    <div class="tab-pane-fade tabMargin fadeIn h-100">
                      <div class="row h-100 m-0">
                        <div
                          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                        >
                          <form
                            [formGroup]="healthSetupForm"
                            class="w-100 h-100 m-0"
                          >
                            <div class="row m-0 w-100 h-100">
                              <div
                                class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-1 w-100 h-100 d-flex flex-column"
                              >
                                <div class="h-100">
                                  <div class="form-row h-15">
                                    <div
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >Event Channels
                                        </label>
                                        <ng-select
                                          [class.bb-error]="
                                            healthSetupformSubmitted &&
                                            healthSetupForm.controls[
                                              'eventChannel'
                                            ].invalid
                                          "
                                          class="selectpicker"
                                          (change)="onChangeChannels($event)"
                                          appendTo="body"
                                          formControlName="eventChannel"
                                        >
                                          <ng-container>
                                            <ng-option value="EMAIL"
                                              >E Mail</ng-option
                                            >
                                            <ng-option value="SMS"
                                              >SMS Notification</ng-option
                                            >
                                            <ng-option value="Notification"
                                              >Notification</ng-option
                                            >
                                          </ng-container>
                                        </ng-select>
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            healthSetupForm.controls[
                                              'eventChannel'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Event Channels is Required
                                        </div>
                                      </div>
                                    </div>

                                    <div
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div class="form-row mt-3 paddLeft12">
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input
                                              [class.bb-error]="
                                                healthSetupformSubmitted &&
                                                healthSetupForm.controls[
                                                  'eventStatus'
                                                ].invalid
                                              "
                                              type="radio"
                                              value="E"
                                              class="form-check-input"
                                              id="Enable"
                                              checked
                                              formControlName="eventStatus"
                                            />
                                            Enable
                                            <span class="circle"
                                              ><span class="check"></span
                                            ></span>
                                          </label>
                                        </div>
                                        <div class="form-check">
                                          <label class="form-check-label">
                                            <input
                                              [class.bb-error]="
                                                healthSetupformSubmitted &&
                                                healthSetupForm.controls[
                                                  'eventStatus'
                                                ].invalid
                                              "
                                              type="radio"
                                              value="D"
                                              class="form-check-input"
                                              id="Disable"
                                              formControlName="eventStatus"
                                            />
                                            Disable
                                            <span class="circle"
                                              ><span class="check"></span
                                            ></span>
                                          </label>
                                        </div>
                                        <label class="bmd-label-static"
                                          >Event Status</label
                                        >
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            healthSetupForm.controls[
                                              'eventStatus'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Event Status is Required
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-row h-30 mt-1">
                                    <div
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <app-custom-date-picker
                                          class="form-control"
                                          formControlName="startDate"
                                        >
                                        </app-custom-date-picker>
                                        <label class="bmd-label-static pl-0"
                                          >Start Date
                                          <span class="text-danger"
                                            >*</span
                                          ></label
                                        >
                                        <div class="line"></div>

                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            healthSetupForm.controls[
                                              'startDate'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Start Date is Required
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <app-custom-date-picker
                                          class="form-control"
                                          formControlName="endDate"
                                        >
                                        </app-custom-date-picker>
                                        <label class="bmd-label-static pl-0"
                                          >End Date
                                        </label>
                                        <div class="line"></div>

                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            healthSetupForm.controls['endDate']
                                              .errors?.pattern
                                          "
                                        >
                                          * End Date is Required
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      *ngIf="mobilePicked"
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <input
                                        type="text"
                                        [class.bb-error]="
                                          healthSetupformSubmitted &&
                                          healthSetupForm.controls[
                                            'eventMobileNo'
                                          ].invalid
                                        "
                                        formControlName="eventMobileNo"
                                        class="form-control"
                                      />

                                      <label class="bmd-label-static"
                                        >Mobile Number&nbsp;<span
                                          class="text-danger"
                                          >*</span
                                        ></label
                                      >

                                      <div class="line"></div>
                                    </div>
                                    <div
                                      *ngIf="mobilePicked"
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <input
                                        type="text"
                                        [class.bb-error]="
                                          healthSetupformSubmitted &&
                                          healthSetupForm.controls['desc']
                                            .invalid
                                        "
                                        formControlName="desc"
                                        class="form-control"
                                      />

                                      <label class="bmd-label-static"
                                        >Description&nbsp;<span
                                          class="text-danger"
                                          >*</span
                                        ></label
                                      >

                                      <div class="line"></div>
                                    </div>
                                    <div
                                      *ngIf="smsPicked"
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <input
                                        type="text"
                                        formControlName="notificationMessage"
                                        class="form-control"
                                        [class.bb-error]="
                                          healthSetupformSubmitted &&
                                          healthSetupForm.controls[
                                            'notificationMessage'
                                          ].invalid
                                        "
                                      />

                                      <label class="bmd-label-static">
                                        Notification msg&nbsp;<span
                                          class="text-danger"
                                          >*</span
                                        ></label
                                      >

                                      <div class="line"></div>
                                      <div class="line"></div>

                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          healthSetupForm.controls[
                                            'notificationMessage'
                                          ].errors?.pattern
                                        "
                                      >
                                        * SMS/Notification ms is Required
                                      </div>
                                    </div>
                                    <div
                                      *ngIf="mailPicked"
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <input
                                        type="text"
                                        formControlName="eventCcEmailId"
                                        class="form-control"
                                        (click)="mailEditor($event)"
                                        [class.bb-error]="
                                          healthSetupformSubmitted &&
                                          healthSetupForm.controls[
                                            'eventCcEmailId'
                                          ].invalid
                                        "
                                        placeholder="Click here to view/edit the body content"
                                      />
                                      <label class="bmd-label-static"
                                        >To CC/Mail(Vision Ids)&nbsp;<span
                                          class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <div class="line"></div>

                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          healthSetupForm.controls[
                                            'eventCcEmailId'
                                          ].errors?.pattern
                                        "
                                      >
                                        * To CC/Mail(Vision Ids) is Required
                                      </div>
                                    </div>
                                    <div
                                      *ngIf="mailPicked"
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <input
                                        type="text"
                                        formControlName="eventSubject"
                                        class="form-control"
                                        [class.bb-error]="
                                          healthSetupformSubmitted &&
                                          healthSetupForm.controls[
                                            'eventSubject'
                                          ].invalid
                                        "
                                      />
                                      <label class="bmd-label-static"
                                        >Email Subject&nbsp;<span
                                          class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <div class="line"></div>

                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          healthSetupForm.controls[
                                            'eventSubject'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Email Subject is Required
                                      </div>
                                    </div>
                                  </div>
                                  <div *ngIf="mailPicked" class="form-row h-15">
                                    <div
                                      class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <input
                                        type="text"
                                        class="form-control"
                                        formControlName="mailBody"
                                        (click)="openEditor($event)"
                                        [class.bb-error]="
                                          healthSetupformSubmitted &&
                                          healthSetupForm.controls['mailBody']
                                            .invalid
                                        "
                                        placeholder="Click here to view/edit the body content"
                                      />
                                      <label class="bmd-label-static"
                                        >Mail Body&nbsp;<span
                                          class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <div class="line"></div>

                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          healthSetupForm.controls['mailBody']
                                            .errors?.pattern
                                        "
                                      >
                                        * Mail Body is Required
                                      </div>
                                    </div>
                                  </div>

                                  <div class="form-row h-30 mt-1"></div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="h-10 w-100">
                  <div class="row">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                    >
                      <button
                        *ngIf="
                          modifyHealthBtn &&
                          globalService.pageLevelAccess.profileModify == 'Y'
                        "
                        [disabled]="!healthSetupForm.valid"
                        type="button"
                        class="btn btn-sm btn-rose btn-outline-dark"
                        (click)="healthsetupFormsubmission('modify')"
                      >
                        Modify
                      </button>
                      <button
                        *ngIf="saveHealthBtn"
                        [disabled]="!healthSetupForm.valid"
                        type="button"
                        class="btn btn-sm btn-rose btn-outline-dark"
                        (click)="healthsetupFormsubmission('')"
                      >
                        Save
                      </button>
                      <button
                        type="button"
                        (click)="backToHmpage('dbhealth')"
                        class="btn btn-sm btn-rose btn-outline-dark"
                      >
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
