<div class="confirmation-cls" draggable="true">
    <!-- Modal Header-->
    <div class="card-header title-head-01 dv-center" *ngIf="closeTime == 'YES'">
        <span class="pull-right clickable close-icon-nrm" (click)="userCofirm('close')" data-effect="fadeOut">
            <i class="fa fa-times default-color"></i>
        </span> {{title }}
    </div>
    <div class="card-header title-head-01 dv-center" *ngIf="popupType == 'error'">
        <span class="pull-right clickable close-icon-nrm" title="Close" (click)="userCofirm('No')" data-effect="fadeOut">
            <i class="fa fa-times default-color"></i>
        </span>
        <span class="pull-right clickable close-icon-nrm" title="Copy" ngxClipboard [cbContent]="message" (click)="userCofirm('copy')" data-effect="fadeOut">
            <i class="fa fa-clipboard default-color"></i>
        </span>
        <span title="Close" class="pull-right clickable close-icon-nrm" [title]="isPintitle" (click)="userCofirm('pin')" data-effect="fadeOut">
            <svg class="smSvg" version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 469.333 469.333"
                style="enable-background:new 0 0 469.333 469.333;" xml:space="preserve">
                <g>
                    <g>
                        <path d="M413.549,55.32c-38.14-37.902-88.598-69.355-109.208-48.841c-1.59,1.576-3.306,3.89-4.608,6.997
                       c-13.4,17.888-20.938,38.433-22.195,60.103l-78.729,57.225c-42.179-7.432-84.663,0.883-120.261,23.083
                       c-10.393,6.491-16.022,18.659-14.336,31.015c7.008,50.96,29.048,97.164,61.365,134.153L2.851,451.403
                       c-3.901,4.209-3.787,10.752,0.271,14.804c2.081,2.084,4.807,3.125,7.532,3.125c2.601,0,5.202-0.948,7.251-2.855l132.164-122.9
                       c36.94,32.361,83.078,54.428,133.964,61.442c1.467,0.208,2.923,0.302,4.37,0.302c10.757,0,20.891-5.47,26.602-14.659
                       c16.948-27.244,25.905-58.561,25.905-90.577c0-9.979-1.138-20.124-2.946-30.246l57.132-78.436
                       c23.49-1.337,45.689-9.828,64.503-25.375c1.012-0.701,2.206-1.07,3.107-1.965c3.027-3,6.627-8.481,6.627-17.555
                       C469.333,124.779,447.444,88.981,413.549,55.32z" />
                    </g>
                </g>

            </svg>
        </span> {{title }}
    </div>
    <!-- Modal Body-->
    <div class="modal-body dv-center no-padding d-flex flex-column" *ngIf="popupType != 'error'">
        <div *ngIf="form != 'Radio'">
            <i class="fa fa-exclamation-triangle alert-icon" aria-hidden="true"></i>
            <p class="bmd-label-static" [ngClass]="popupType == 'Confirm' || 'alert' ? 'generic-label' : ''" [innerHTML]="message "></p>
        </div>
        <!-- <label class="bmd-label-static">Template Name:</label> -->

        <!-- <input type="text" class="form-control w-90" [(ngModel)]="msgFlag"> -->
        <div class="col-md-12" *ngIf="openTemplate">
            <div class="form-row justify-content-center">
                <div class="form-group col-md-6 bmd-form-group">
                    <input type="text" [(ngModel)]="msgFlag" class="form-control">

                    <label class="bmd-label-static">Name</label>
                    <div class="line"></div>
                </div>
                <!-- <div class="form-group col-md-6 bmd-form-group">
                    <input type="text" [(ngModel)]="tempDescFlag" class="form-control">

                    <label class="bmd-label-static">Description</label>
                    <div class="line"></div>
                </div> -->
            </div>
        </div>

        <!-- <input class="form-control form-control-sm" type="text">
        <label class="bmd-label-static">Description</label> -->

        <div *ngIf="form == 'Radio'" class="d-flex form-group bmd-form-group align-items-center mt-3">
            <div class="form-row w-100">
                <ng-container *ngIf="orientationFlag">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group bmd-form-group pl-0">
                            <label class="bmd-label-static pl-3">{{message }}</label><br>
                            <div class="d-flex">
                                <div class="form-check pl-3">
                                    <label class="form-check-label">
                                        <input name="orientation" type="radio" value="P" class="form-check-input" id="date1"  [(ngModel)]="viewPdf.mode">
                                        {{'Portrait' }}
                                        <span class="circle"><span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input name="orientation" type="radio" value="L" class="form-check-input" id="date2" [(ngModel)]="viewPdf.mode">
                                        {{'Landscape' }}
                                        <span class="circle"><span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
                <ng-container *ngIf="groupingFlag">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group bmd-form-group pl-0">
                            <label class="bmd-label-static pl-3">{{groupingMessage }}</label><br>
                            <div class="d-flex">
                                <div class="form-check pl-3">
                                    <label class="form-check-label">
                                        <input name="grouping" type="radio" value="S" class="form-check-input" id="date4"  [(ngModel)]="viewPdf.grouping">
                                        {{'Selected' }}
                                        <span class="circle"><span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                        <input name="grouping" type="radio" value="D" class="form-check-input" id="date3" [(ngModel)]="viewPdf.grouping">
                                        {{'Default' }}
                                        <span class="circle"><span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="modal-body dv-center no-padding" *ngIf="popupType == 'error'">
        <perfect-scrollbar style="max-height: 250px;">
            <p class="bmd-label-static" [innerHTML]="message "></p>
        </perfect-scrollbar>
    </div>
    <!-- Modal Footer-->
    <div class="modal-footer dv-center" *ngIf="popupType == 'Confirmed'">
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('Yes')">Save</button>&nbsp;
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('No')">Cancel</button>
    </div>
    <div class="modal-footer dv-center" *ngIf="popupType == 'Confirm'">
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('Yes')">Yes</button>&nbsp;
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('No')">No</button>
    </div>
    <div class="modal-footer dv-center" *ngIf="popupType == 'Confirmation'">
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('Yes')">{{ 'add' 
            }}</button>&nbsp;
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('No')">{{ 'modify'  }}</button>
    </div>
    <div class="modal-footer dv-center" *ngIf="popupType == 'alert'">
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('Yes')">{{ 'Ok'  }}</button>
    </div>
    <div class="modal-footer dv-center" *ngIf="popupType == 'Form'">
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('ok')">{{ 'Ok' 
            }}</button>&nbsp;
        <button type="button" class="btn btn-rose btn-sm" (click)="userCofirm('cancel')">{{ 'Cancel'  }}</button>
    </div>
</div>