.smSvg {
    width: 20px;
    height: 18px;
    fill: #fff;
    margin-top: 3px;
    transform: rotate(-45deg);
}

.smSvg.pin {
    transform: rotate(45deg);
}

.generic-label {
    /* font-size: 21px; */
    font-size: 17px;
    font-family: 'Open Sans', sans-serif;
    color: #4a4a4a;
    font-weight: 600;
    top: 14px !important;
    position: relative;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.alert-icon {
    position: absolute;
    top: 64px;
    left: 38px;
    font-size: 28px;
    color: #4a4a4a;
}

.dv-center {
    text-align: center;
    display: block !important;
}

.btn.btn-rose,
.btn.btn-rose:active,
.btn.btn-rose:visited {
    color: #4a4a4a;
    font-weight: 600;
    background-color: unset;
    border: 1px solid #ccc;
    box-shadow: unset;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    /* line-height: unset; */
}
