<div class="card-body p-0 material-table" id='card-body'>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
            <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">


                <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize"
                    *ngIf="showFilter">
                    <app-table [tableDatails]="tableDetail" [resetModel]="resetModel" [tableDatas]="ngxTableConfig"
                        (eventType)="tableAction($event)"></app-table>
                </div>

                <ng-container *ngIf="showPage">
                    <div class="d-flex flex-column h-100 w-100">
                        <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
                            <div class="tab_container">
                                <label class="tab_label" [ngClass]="'active show'">

                                    <a href="javascript:void(0)" (click)="modalClose();"><i
                                            class="material-icons forwardIcon">forward</i></a>
                                    <span>Profile Setup</span>
                                </label>
                            </div>
                        </div>
                        <div class="h-94 w-100">
                            <div class="d-flex flex-column  w-100 h-100">
                                <div class="h-90 mainPadd12">
                                    <div class="tab-content h-100 mt-2 position-relative">
                                        <div class="tab-pane-fade tabMargin fadeIn h-100">
                                            <div class="row h-100 m-0">
                                                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0">

                                                    <form [formGroup]='profileSetupForm'>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                                <div class="form-row">
                                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                                        <div class="form-group bmd-form-group pl-0">
                                                                            <label
                                                                                class="bmd-label-static mb-0 pl-0">Application
                                                                                Id
                                                                            </label>
                                                                            <ng-select class="selectpicker"
                                                                                appendTo="body"
                                                                                formControlName="applicationId">
                                                                                <ng-container
                                                                                    *ngFor="let data of applicationList">
                                                                                    <ng-option
                                                                                        value="{{data.alphaSubTab}}">
                                                                                        {{data.description}}</ng-option>
                                                                                </ng-container>
                                                                            </ng-select>
                                                                            <div class="line"></div>
                                                                            <div class="validation-error"
                                                                                *ngIf="profileSetupFormErrors.applicationId">
                                                                                {{ profileSetupFormErrors.applicationId
                                                                                }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                                        <div class="form-group bmd-form-group pl-0">
                                                                            <label
                                                                                class="bmd-label-static mb-0 pl-0">User
                                                                                Profile
                                                                            </label>
                                                                            <ng-select class="selectpicker"
                                                                                appendTo="body"
                                                                                formControlName="userProfile">
                                                                                <ng-container
                                                                                    *ngFor="let data of userProfileList">
                                                                                    <ng-option
                                                                                        value="{{data.alphaSubTab}}">
                                                                                        {{data.description}}</ng-option>
                                                                                </ng-container>
                                                                            </ng-select>
                                                                            <div class="line"></div>
                                                                            <div class="validation-error"
                                                                                *ngIf="profileSetupFormErrors.userProfile">
                                                                                {{ profileSetupFormErrors.userProfile }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                                                        <div class="form-group bmd-form-group pl-0">
                                                                            <label
                                                                                class="bmd-label-static mb-0 pl-0">Menu
                                                                                Group
                                                                            </label>
                                                                            <ng-select class="selectpicker"
                                                                                appendTo="body"
                                                                                formControlName="menuGroup"
                                                                                (change)="changeMenuGroup()">
                                                                                <ng-container
                                                                                    *ngFor="let data of menuGroupList">
                                                                                    <ng-option
                                                                                        value="{{data.numSubTab}}">
                                                                                        {{data.description}}</ng-option>
                                                                                </ng-container>
                                                                            </ng-select>
                                                                            <div class="line"></div>
                                                                            <div class="validation-error"
                                                                                *ngIf="profileSetupFormErrors.menuGroup">
                                                                                {{ profileSetupFormErrors.menuGroup }}
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div
                                                                        class="col-sm-12 col-md-6 col-lg-6 col-xl-6 exclude_menu">
                                                                        <div class="form-group bmd-form-group pl-0">
                                                                            <label
                                                                                class="bmd-label-static mb-0 pl-0">Exclude
                                                                                Menu</label>
                                                                            <ng-multiselect-dropdown
                                                                                [settings]="dropdownSettings"
                                                                                [data]="screenNameList[profileSetupForm.get('menuGroup').value]"
                                                                                [formControl]="profileSetupForm.controls['excludeMenu']"
                                                                                class="clickEventClass report-component report-slider-top"
                                                                                [disabled]="disabledDropdown"
                                                                                [ngClass]="disabledDropdown ? 'disabled_multi':''">
                                                                            </ng-multiselect-dropdown>
                                                                            <div class="line"></div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                                            <div class="form-row m-0">
                                                                <div class="form-group bmd-form-group"
                                                                    style="width: 14.28%;"
                                                                    *ngFor='let data of actionButtonList;let i = index'>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label"
                                                                            [ngClass]="profileSetupForm.controls[data.controlName].disabled ? 'lightGray' : ''">
                                                                            <input class="form-check-input"
                                                                                type="checkbox"
                                                                                [formControlName]="data.controlName"
                                                                                [checked]="data.checked"
                                                                                (change)="checkValue($event,i)" />
                                                                            {{data.description}}
                                                                            <span class="form-check-sign">
                                                                                <span class="check"></span>
                                                                            </span>
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div *ngIf="profileSetupForm.get('menuGroup').value == 9999"
                                                            class="material-table">
                                                            <div class="table-responsive" style="height: 232px;">
                                                                <perfect-scrollbar style="min-height: 100px;">
                                                                    <div class="no-data" *ngIf="!dashboardTable.length">
                                                                        No Records Found</div>
                                                                    <table class="inlineEditTable"
                                                                        *ngIf="dashboardTable.length">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">
                                                                                    <input
                                                                                        (change)="selectAll($event.target.checked,'dash')"
                                                                                        [checked]="checkboxValue.dashboard"
                                                                                        class="" type="checkbox"
                                                                                        value="">
                                                                                </th>

                                                                                <th><span title="">Dashboard ID </span>
                                                                                </th>
                                                                                <th><span title="">Dashboard Name
                                                                                    </span></th>
                                                                                <th><span title="">Application </span>
                                                                                </th>

                                                                            </tr>
                                                                        </thead>

                                                                        <tbody>
                                                                            <tr formArrayName="dashboardSelect"
                                                                                *ngFor="let order of dashboardFormArray.controls; let i=index;">
                                                                                <td class="text-center">
                                                                                    <input [formControlName]="i"
                                                                                        [checked]="dashboardTable[i].check"
                                                                                        (change)="selectIndividual($event.target.checked,dashboardTable[i].alphaSubTab,'dash')"
                                                                                        class="" type="checkbox"
                                                                                        value="">
                                                                                </td>
                                                                                <td>{{dashboardTable[i].alphaSubTab}}
                                                                                </td>
                                                                                <td>{{dashboardTable[i].description}}
                                                                                </td>
                                                                                <td>{{dashboardTable[i].applicationIdDesc}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </perfect-scrollbar>

                                                            </div>
                                                        </div>
                                                        <div *ngIf="profileSetupForm.get('menuGroup').value == 9998"
                                                            class="material-table">
                                                            <div class="table-responsive" style="height: 232px;">
                                                                <perfect-scrollbar style="min-height: 100px;">
                                                                    <table class="inlineEditTable">
                                                                        <thead>
                                                                            <tr>
                                                                                <th class="text-center">
                                                                                    <input
                                                                                        (change)="selectAll($event.target.checked,'report')"
                                                                                        [checked]="checkboxValue.report"
                                                                                        class="" type="checkbox"
                                                                                        value="">
                                                                                </th>

                                                                                <th><span title="">Report ID </span>
                                                                                </th>
                                                                                <th><span title="">Report Name </span>
                                                                                </th>
                                                                                <th><span title="">Application </span>
                                                                                </th>
                                                                            </tr>
                                                                        </thead>
                                                                        <div class="no-data"
                                                                            *ngIf="reportTable.length == 0">
                                                                            No Records Found</div>
                                                                        <tbody>
                                                                            <tr formArrayName="reportSelect"
                                                                                *ngFor="let order of reportFormArray.controls; let i=index;">
                                                                                <td class="text-center">
                                                                                    <input [formControlName]="i"
                                                                                        [checked]="reportTable[i].check"
                                                                                        (change)="selectIndividual($event.target.checked,reportTable[i].alphaSubTab,'rep')"
                                                                                        class="" type="checkbox"
                                                                                        value="">
                                                                                </td>
                                                                                <td>{{reportTable[i].alphaSubTab}}</td>
                                                                                <td>{{reportTable[i].description}}</td>
                                                                                <td>{{reportTable[i].applicationIdDesc}}
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </perfect-scrollbar>

                                                            </div>
                                                        </div>

                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="h-10 w-100">
                                    <div class="row">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                            <div>
                                                <button
                                                    *ngIf='actionType=="add"&&globalService.pageLevelAccess.profileAdd=="Y"'
                                                    type="button" class="btn btn-sm btn-rose btn-outline-dark"
                                                    (click)="saveProfileSetup()">Save</button>
                                                <button
                                                    *ngIf='actionType!="add"&&globalService.pageLevelAccess.profileModify=="Y"'
                                                    type="button" class="btn btn-sm btn-rose btn-outline-dark"
                                                    (click)="saveProfileSetup()">Modify</button>
                                                <button
                                                    type="button" class="btn btn-sm btn-rose btn-outline-dark"
                                                    (click)="modalClose()">Cancel</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </ng-container>

            </div>
        </div>
    </div>
</div>