<div class="sidebar" id="max_sidebar" data-color="rose" data-background-color="black" data-image="assets/img/sidebar-1.jpg">
    <div class="logo">
        <a href="javascript:;" id="logo-mini" class="simple-text logo-mini" style="display:inline">
            <img src="/assets/img/android-icon-192x192.png" class="img-responsive">
        </a>
        <a href="javascript:;" class="simple-text logo-normal">
            <span class="logo-rect">
                <img alt="" class="normal-logo logo-white" src="/assets/img/vision_admin.png">
            </span>
        </a>
    </div>


  <div class="sidebar-wrapper">
    <ul class="nav mainNav11" id="mainNav" (click)="showHide($event)" [ngClass]="disableTooltip() ? 'sidebar-max':''">
      <ng-container *ngFor="let menu of menuList; let i=index">
        <li *ngIf="menu.menuGroup != 9998 && menu.menuGroup != 9999" class="nav-item firstLevelMenuIcon firstLevel"
          [ngClass]="common.activeIcon == menu.menuName ? 'active-firstLevel':'non-active-firstLevel'"
          [attr.data-index]='i'>
          <a class="nav-link firstLevelMenuIcon menu-main" [attr.data-index]='i' data-toggle="collapse"
            aria-expanded="true" placement="right" [ngbTooltip]="menu.menuName" container="body" tooltipClass="sidemenu"
            [disableTooltip]="disableTooltip()" (click)="secondLevel(menu, menu)"
            [ngClass]="(menu.children == null || menu.children == undefined || !menu.children.length) &&
            (common.menuProgram == menu.menuProgram) ? 'active-main-menu':''">
               <span *ngIf="menu.menuIcon == 'ER_BROWSER'" [attr.data-index]='i' [innerHTML]="svgIconsList.ER_BROWSER | domSan:'html'">
              </span>
              <span *ngIf="menu.menuIcon == 'EVENT_POLICY'" [attr.data-index]='i' [innerHTML]="svgIconsList.EVENT_POLICY | domSan:'html'">
              </span>
              <span *ngIf="menu.menuIcon == 'POLICY_SETUP'" [attr.data-index]='i' [innerHTML]="svgIconsList.POLICY_SETUP | domSan:'html'">
              </span>
              <span *ngIf="menu.menuIcon == 'TABLE_METADATA'" [attr.data-index]='i' [innerHTML]="svgIconsList.TABLE_METADATA | domSan:'html'">
              </span>
              <span *ngIf="menu.menuIcon == 'supervisor_account'" [attr.data-index]='i' [innerHTML]="svgIconsList.supervisor_account | domSan:'html'">
              </span>
              <span *ngIf="menu.menuIcon == 'BUSINESS_GLOSSARY'" [attr.data-index]='i' [innerHTML]="svgIconsList.BUSINESS_GLOSSARY | domSan:'html'">
              </span>
              <span *ngIf="menu.menuIcon == 'CRON_STATUS'" [attr.data-index]='i' [innerHTML]="svgIconsList.CRON_STATUS | domSan:'html'">
              </span>

            <p class="firstLevelMenuIcon" [attr.data-index]=i>{{menu.menuName}}
              <b class="caret" *ngIf="menu.children != null && menu.children!= undefined &&
              menu.children.length"></b>
            </p>
          </a>

          <ul *ngIf="menu.children != null && menu.children!= undefined &&
          menu.children.length" class="nav subMenu sub secondLevelMenu">
            <li class="nav-item secondLevelMenuLi" *ngFor="let submenuLevel1 of menu.children; let sli=index"
              [attr.data-sli]='sli'>
              <a class="nav-link m-0 submenuLevel1" (click)="secondLevel(submenuLevel1, menu)"
              [ngClass]="[submenuLevel1.children != null && submenuLevel1.children!= undefined &&
                submenuLevel1.children.length ? '':'cursorPointer', (submenuLevel1.children == null || submenuLevel1.children == undefined ||
                !submenuLevel1.children.length) && (common.menuProgram == submenuLevel1.menuProgram) ? 'active-menu':'']">
                <span class="sidebar-normal sidebar-normal-1">{{submenuLevel1.menuName}}
                  <b class="caret" *ngIf="submenuLevel1.children != null && submenuLevel1.children!= undefined &&
                  submenuLevel1.children.length"></b>
                </span>
              </a>
              <ul class="nav submenuLevel2 thirdLevel mt-0">
                <li class="nav-item" *ngFor="let submenuLevel2 of submenuLevel1.children">
                  <a class="nav-link " routerLinkActive="active-menu" href="javascript:;" skipLocationChange="false"
                    [routerLink]="getRouting(submenuLevel1, submenuLevel2)"
                    (click)='setPageName(submenuLevel2.menuName, submenuLevel2); findActiveIcon(menu)'>
                    <span class="sidebar-normal last_level">{{submenuLevel2.menuName}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <ul class="submenu-normal secondLevelMenu secondLevelNormal pl-0">
            <li class="nav-item secondLevelMenuLi" *ngFor="let submenuLevel1 of menu.children;let i=index">
              <a class="nav-link menuLevel-pad m-0 empty-border" data-parent="#mainNav" data-toggle="collapse"
                href="javascript:;" aria-expanded="true" aria-controls="submenuNormalCollapse" (click)="secondLevel(submenuLevel1, menu)" >
                <span class="sidebar-normal">{{submenuLevel1.menuName}}
                  <b class="caret" *ngIf="submenuLevel1.children != null && submenuLevel1.children!= undefined &&
                  submenuLevel1.children.length"></b>
                </span>
              </a>
              <ul class="nav panel-collapse collapse in submenuLevel2 thirdLevelNormal pl-0 mt-0" role="tabpanel"
                id='submenuNormalCollapse'>
                <li class="nav-item " *ngFor="let submenuLevel2 of submenuLevel1.children" (click)="showHide($event)">
                  <a class="nav-link menuLevel-pad m-0" routerLinkActive="active-menu" href="javascript:;"
                    skipLocationChange="false" [routerLink]="getRouting(submenuLevel1, submenuLevel2)"
                    (click)='setPageName(submenuLevel2.menuName, submenuLevel2); findActiveIcon(menu)'>
                    <span class="sidebar-normal last_level">{{submenuLevel2.menuName}}</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <ng-container *ngIf="menu.menuGroup == 9998">
          <li class="nav-item firstLevelMenuIcon firstLevel dashboardIconSta ">
            <a class="nav-link aaa firstLevelMenuIcon menu-main " data-toggle="collapse " aria-expanded="true "
              placement="right" [ngbTooltip]="menu.menuName" tooltipClass="sidemenu" container="body" [disableTooltip]="disableTooltip()">
              <i class="material-icons firstLevelMenuIcon ">{{menu.menuIcon}}</i>
              <p class="dashboardClassSide ">{{menu.menuName}}
              </p>
            </a>
          </li>
        </ng-container>
        <ng-container *ngIf="menu.menuGroup == 9999">
          <li class="nav-item firstLevelMenuIcon firstLevel dashboardIconSta ">
            <a class="nav-link aaa firstLevelMenuIcon menu-main " data-toggle="collapse " aria-expanded="true "
              placement="right" [ngbTooltip]="menu.menuName" tooltipClass="sidemenu" container="body" [disableTooltip]="disableTooltip()">
              <i class="material-icons firstLevelMenuIcon ">{{menu.menuIcon}}</i>
              <p class="dashboardClassSide ">{{menu.menuName}}
              </p>
            </a>
          </li>
        </ng-container>

      </ng-container>

    </ul>
  </div>
    <div class="sidebar-background" style="background-image: url('assets/img/sidebar-1.jpg');"></div>
</div>
<!-- <app-dashboard-slide (closeClick)="slideTrue=false " [ngClass]="slideTrue ? 'slideDashEff': '' " class="dashSlide ">
</app-dashboard-slide> -->
<app-dashboard-tree-slide (closeClick)="slideTrue=false " [dashGroup]="dashGroup" [title]="dashboardSliderTitle" [ngClass]="slideTrue ? 'slideDashEff': '' " class="dashSlide ">
</app-dashboard-tree-slide>
<app-report-slide (closeClick)="reportSlideTrue=false " [reportGroup]="reportGroup" [title]="reportSliderTitle" [ngClass]="reportSlideTrue ? 'slideDashEff': '' " class="dashSlide ">
</app-report-slide>
