﻿.sideBarBackground {
  background-image: url(/assets/images/sidebar-1.jpg);
}

.submenu-normal {
  display: none;
  width: 100%;
  /* height: 0; */
  overflow: auto;
  max-height: 150px;
  transition: .1s ease-in-out;
}

.nav.subMenu.sub {
  margin-top: -43px;
}

#mainNav ul {
  display: none;
}

.hideLi{
  display: none; transform: scale(0);opacity: 0;
}

showLi{
  display: none; transform: scale(0);opacity: 0;
}

.logo-rect {
  background: #fff;
  padding: 7px 14px;
  padding-top: 4px;
  position: relative;
  top: 3px;
  display: inline-block;
  border-radius: 5px;
}

/* .normal-logo {
  height: 50px;
} */

.sidebar-normal .caret {
  right: 25px;
}

.submenuLevel2 {
  transform-origin: 50% 0px;
  transition: all 0.1s ease-in-out 0s;
}
