<div class="card-body p-0 material-table" id='card-body'>
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
        <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">
          <ng-container *ngIf="showtable">

            <app-smart-table [tableDatails]="tableDetail" [tableData]="lineList" [tableType]="'full'"
              [resetModel]="resetModel" [tableDatas]="ngxTableConfig" (eventType)="tableAction($event)"></app-smart-table>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
