<div id='card-body'>
<div class="row">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
<div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">
<ng-container *ngIf="showFilter == 'list'">
<app-smart-table [tableDatails]="tableDetail" [resetModel]="resetModel"
[tableDatas]="ngxTableConfig" (eventType)="tableAction($event)">
</app-smart-table>
</ng-container>
<ng-container *ngIf="showFilter == 'form'">
<div  *ngIf="pageView != 'add' && pageView != 'copy'" class="flag" [ngStyle]="backGroundFlag(editData.recordIndicator)">
{{editData.recordIndicatorDesc}}
</div>
<div class="d-flex flex-column h-100 w-100">
<div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
<div class="tab_container">
<label  *ngFor="let tab of tabList;let i = index;"
class="tab_label" [ngClass]="tab.selected ? 'active show':''">
<!-- <i class="material-icons">{{tab.tabIcon}}</i> -->
<a href="javascript:void(0)" (click)="onSubmit('summary');"><i
class="material-icons forwardIcon">forward</i></a>
<span title="{{tab.tabName | translate}}">{{tab.tabName}}</span>
</label>
</div>
</div>
<div class="h-94 w-100">
<div class="d-flex flex-column  w-100 h-100">
<div class="h-90 mainPadd12">
<div class="tab-content h-100 mt-2 position-relative">
<!-- <div *ngIf="((submitted && burstForm.invalid) ||
(submitted && (filterForm == undefined || filterForm.invalid)))" class="requiredBox">
* Field is mandatory
</div> -->
<div *ngIf="(submitted && burstForm.invalid) || (submitted && !isFilterFormValid())" class="requiredBox">
* Field is mandatory
</div>
<div class="tab-pane-fade tabMargin fadeIn h-100">
<div class="row h-100 m-0">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0">
<form [formGroup]="burstForm" class="w-100 h-100 m-0">
<div class="row m-0 w-100 h-100">
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-1 w-100 h-100 d-flex flex-column">
<div class="h-100 burstForm">
<div class="form-row h-15">
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<ng-select class="selectpicker" appendTo="body" formControlName="reportId"
(change)="reportIdChange()" [class.bb-error]="(submitted && burstForm.controls['reportId'].invalid)">
<ng-container *ngFor="let data of reportIdList">
<ng-option value="{{data.alphaSubTab}}">
{{data.description}}</ng-option>
</ng-container>
</ng-select>
<label class="bmd-label-static">Report ID&nbsp;<span class="text-danger">*</span></label>
<div class="line"></div>
</div>
<!-- <div  class="form-group bmd-form-group col-sm-12 col-md-4 col-lg-4 col-xl-4">
<input type='text' class="form-control"
formControlName='reportIdDesc' />
<label
class="bmd-label-static">Description</label>
<div class="validation-error bt15"
*ngIf="submitted && burstForm.controls['reportIdDesc'].invalid">
* Description is Required
</div>
<div class="line"></div>
</div> -->
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<input type='text' class="form-control" formControlName='burstId' maxlength="10"
[class.bb-error]="(submitted && burstForm.controls['burstId'].invalid)" (blur)="burstIdBlur()"/>
<label class="bmd-label-static">Burst ID&nbsp;<span class="text-danger">*</span></label>
<div class="validation-error bt15" *ngIf="burstForm.controls['burstId'].errors?.pattern">
* Spaces and special characters not allowed
</div>
<div class="line"></div>
</div>
</div>
<div class="form-row h-15">
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<input type='text' class="form-control" formControlName='burstIdDesc' maxlength="45"/>
<label class="bmd-label-static">Burst ID Description</label>
<div class="line"></div>
</div>
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<input type='text' class="form-control" formControlName='sequence'
[class.bb-error]="(submitted && burstForm.controls['sequence'].invalid)" />
<label class="bmd-label-static">Burst Sequence&nbsp;<span class="text-danger">*</span></label>
<div class="validation-error bt15" *ngIf="burstForm.controls['sequence'].errors?.pattern">
* Numbers only allowed
</div>
<div class="line"></div>
</div>
</div>
<div class="form-row h-30 mt-1">
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<textarea formControlName="emailTo" class="textarea-field h-75"
placeholder="Email ID" maxlength="400" [class.bb-error]="(submitted && burstForm.controls['emailTo'].invalid)"></textarea>
<label class="bmd-label-static">Email To&nbsp;<span class="text-danger">*</span></label>
<div class="line"></div>
</div>
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<textarea formControlName="emailSubject" class="textarea-field h-75" maxlength="255"
[class.bb-error]="(submitted && burstForm.controls['emailSubject'].invalid)"></textarea>
<label class="bmd-label-static">Email Subject&nbsp;<span class="text-danger">*</span></label>
<div class="line"></div>
</div>
</div>
<!-- <div class="form-row h-50 mt-2">
<div class="form-group bmd-form-group col-sm-12 col-md-12 col-lg-12 col-xl-12">
<textarea formControlName="emailBody" class="textarea-field h-95"></textarea>
<label class="bmd-label-static">Email Body</label>
<div class="line"></div>
</div>
</div> -->
<div class="form-row h-15">
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<!-- <textarea formControlName="emailBody" class="textarea-field h-95"></textarea> -->
<input type='text' class="form-control" (click)="openEditor($event)"
[class.bb-error]="(submitted && burstForm.controls['emailBody'].invalid)"
placeholder="Click here to view/edit the body content"/>
<!-- <textarea *ngIf="openTextEditor" id="text-editor"></textarea> -->
<!-- <div *ngIf="openTextEditor" class="NgxEditor__Wrapper">
<ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
<ngx-editor
[editor]="editor"
formControlName='emailBody'
[disabled]="false"
[placeholder]="'Type here...'"
></ngx-editor>
</div> -->
<label class="bmd-label-static">Email Body&nbsp;<span class="text-danger">*</span></label>
<div class="line"></div>
</div>
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<input type='text' class="form-control" (click)="promptClick($event)" placeholder="Click here to view/edit the prompt"
[class.bb-error]="(submitted && !isFilterFormValid())" />
<!-- <div><i class="material-icons prompt-icon" (click)="promptClick()"
[ngClass]="(filterForm && filterForm.valid) || (filterForm && filterForm.disabled) ?
'prompt-color':'prompt-err'">filter_alt</i></div> -->
<label class="bmd-label-static">Prompts&nbsp;<span class="text-danger">*</span></label>
<!-- <div class="validation-error bt15" *ngIf="submitted && burstForm.controls['prompts'].invalid">
* Prompts is Required
</div> -->
<div class="line"></div>
</div>
</div>
<div class="form-row h-15">
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<input type='text' class="form-control" formControlName='emailStatus' />
<label class="bmd-label-static">Email Status</label>
<div class="line"></div>
</div>
<div class="form-group bmd-form-group col-sm-12 col-md-6 col-lg-6 col-xl-6">
<ng-select class="selectpicker" appendTo="body" formControlName="status">
<ng-container *ngFor="let data of statusList">
<ng-option value="{{data.numSubTab}}">
{{data.description}}</ng-option>
</ng-container>
</ng-select>
<label class="bmd-label-static">Status</label>
<div class="line"></div>
</div>
</div>
</div>
</div>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
<div class="h-10 w-100">
<div class="row">
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
<button type="submit" [disabled]="disableButton('first')"
class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
(click)="onSubmit('first')"><i class="fa fa-angle-double-left"
aria-hidden="true"></i>
<div class="ripple-container"></div>
</button>
<button type="submit" [disabled]="disableButton('first')"
class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
(click)="onSubmit('previous')"><i class="fa fa-angle-left"
aria-hidden="true"></i>
<div class="ripple-container"></div>
</button>
<!-- <button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView != 'preview'"
(click)="onSubmit('summary')">Summary
<div class="ripple-container"></div>
</button> -->
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView == 'edit' && globalService.checkAccess('delete') && (editData?.recordIndicator==0)"
(click)="onSubmit('delete')">Delete
<div class="ripple-container"></div>
</button>
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="(pageView == 'add' || pageView== 'copy') && globalService.checkAccess('add')"
(click)="onSubmit('save')">Save
<div class="ripple-container"></div>
</button>
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView == 'edit' && globalService.checkAccess('edit')"
(click)="onSubmit('modify')">Modify
<div class="ripple-container"></div>
</button>
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView == 'edit' && globalService.checkAccess('approve') &&
(editData?.recordIndicator==1 || editData?.recordIndicator==2 || editData?.recordIndicator==3)"
(click)="onSubmit('approve')">Approve
<div class="ripple-container"></div>
</button>
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView == 'edit' && globalService.checkAccess('reject') &&
(editData.recordIndicator==1 || editData.recordIndicator==2 || editData.recordIndicator==3)"
(click)="onSubmit('reject')">Reject
<div class="ripple-container"></div>
</button>
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView == 'add'"
(click)="onSubmit('clear')">Clear
<div class="ripple-container"></div>
</button>
<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="(pageView == 'edit' || pageView == 'approve') && editData.recordIndicator==1" (
click)="onSubmit('review')">Review
<div class="ripple-container"></div>
</button>

<button type="submit" class="btn btn-rose btn-sm saveTransaction"
*ngIf="pageView == 'preview'"
(click)="onSubmit('close')">Close
<div class="ripple-container"></div>
</button>
<button type="submit" [disabled]="disableButton('last')"
class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
(click)="onSubmit('next')"><i class="fa fa-angle-right"
aria-hidden="true"></i>
<div class="ripple-container"></div>
</button>
<button type="submit" [disabled]="disableButton('last')"
class="btn btn-rose btn-sm saveTransaction" *ngIf="pageView == 'view'"
(click)="onSubmit('last')"><i class="fa fa-angle-double-right"
aria-hidden="true"></i>
<div class="ripple-container"></div>
</button>

</div>
</div>
</div>
</div>
</div>
</div>
</ng-container>
</div>
</div>
</div>
</div>
