

  .textarea-field {
    width: 100%;
    /* height: 90px !important; */
    padding: 12px;
    border-radius: 5px;
    border: solid 1px #ddd;
    font-size: 12px;
    margin-top: 12px;
}

.textarea-field::placeholder {
    font-size: 14px;
}

.prompt-icon{
    margin: 11px;
    font-size: 20px;
    cursor: pointer;
}

.prompt-err {
    color: #f70505;
}

.prompt-color {
    color: #4c4cea
}

.requiredBox {
  position: absolute;
  right: 11px;
  color: #ff0000;
  /* background: #Ff0000; */
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  line-height: 15px;
  top: 0px;
}

.bt15{
    bottom: unset !important;
    top:20px;
}