<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Filter</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true"
      (click)="closeModal()"></i></a>
</div>
<div class="modal-body">
    <form [formGroup]="dSSearchForm">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 text-right">
                <span (click)="addNewRow()" class="addColumnValue-03">
          <i class="fa fa-plus" aria-hidden="true"></i> Add Filter
        </span>
            </div>
        </div>
        <div class="form-group" *ngIf="dSSearchForm.controls.smartSearchVb.controls.length>0">
            <div class="row">
                <div class="header-span">
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group col-md-6 bmd-form-group">
                            <label class="bmd-label-static">Column</label>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group col-md-6 bmd-form-group">
                            <label class="bmd-label-static">Criteria</label>
                            <div class="line"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <div class="form-group col-md-6 bmd-form-group">
                            <label class="bmd-label-static">Value</label>
                            <div class="line"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <perfect-scrollbar class="popup-height">
            <div formArrayName="smartSearchVb" class="pad-form">
                <div *ngFor="let itemrow of dSSearchForm.controls.smartSearchVb.controls; let i=index" [formGroupName]="i">
                    <div class="form-group">
                        <div class="row no-margin-01">
                            <div *ngIf="type=='multiple'" class="col-md-4">
                                <ng-select class="form-new-control" appendTo="body" formControlName="object">
                                    <ng-option *ngFor="let opt of dataToDisplay" [value]="opt.referField">
                                        {{opt.filterReferField}}</ng-option>
                                </ng-select>
                                <div *ngIf="itemrow.get('object').invalid && (itemrow.get('object').dirty ||itemrow.get('object').touched)" class="alert-std">
                                    <div *ngIf="itemrow.get('object').errors.required">
                                        Column name required.
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="type=='single'" class="col-md-4">
                                <ng-select class="form-new-control" appendTo="body" formControlName="object">
                                    <ng-option *ngFor="let opt of dataToDisplay" [value]="opt.id">
                                        {{opt.name}}</ng-option>
                                </ng-select>
                            </div>
                            <div class="col-md-4">
                                <ng-select class="form-new-control" appendTo="body" formControlName="criteria">
                                    <ng-option *ngFor="let opt of searchTypeList" [value]="opt.id">
                                        {{opt.name}}</ng-option>
                                </ng-select>
                                <div *ngIf="itemrow.get('criteria').invalid && (itemrow.get('criteria').dirty ||itemrow.get('criteria').touched)" class="alert-std">
                                    <div *ngIf="itemrow.get('criteria').errors.required">
                                        Criteria required.
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <input formControlName="value" maxlength="75" class="form-control">
                                <div *ngIf="itemrow.get('value').invalid && (itemrow.get('value').dirty ||itemrow.get('value').touched)" class="alert-std">
                                    <div *ngIf="itemrow.get('value').errors.required">
                                        Value required.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </perfect-scrollbar>
    </form>
</div>
<div class="modal-footer text-center">
    <button type="button" [disabled]="!dSSearchForm.value.smartSearchVb.length" class="btn btn-secondary btn-rose btn-sm margin-right-15" (click)="searchTable()">Apply</button>
    <button type="button" [disabled]="!dSSearchForm.value.smartSearchVb.length" class="btn btn-secondary btn-rose btn-sm" data-dismiss="modal" (click)="resetModal()">
    Reset
  </button>
</div>