.dd {
  width: 160px;
  height: 50px;
  border: 1px solid red;
}

.item {
  height:80px;
  width: 80px;
  border: 1px solid blue;
  float: left;
}
.ds {
  width:100px;
  height:100px;
  border:1px solid brown;
  float:left;
  margin-left:50px;
}
.down{
  width:100%;
  height:auto;
  float:left;
}
.itemin{
  margin-top:150px;
  margin-bottom:100px;
  border:2px pink solid;
  width:100px;
  height:100px;
  float:left;
}
