    <div class="modal-body" style="padding-left:6px; padding-right: 6px">
        <div class="card" style="box-shadow: none !important">
            <div class="card-header card-header-tabs card-header-rose new-header height-line">
                <span title="Close" class="pull-right clickable close-new-icon" (click)="closeModel()" data-effect="fadeOut">
                    <i class="fa fa-times"></i>
                </span>
                <span class="heading">Executed Query List <span *ngIf="getDetails.reportId.length">For</span> {{getDetails.reportId}}</span>
            </div>
            <div *ngIf="!tbodyDetails.length" class="card-body example-viewport" id="chooseDatasourceSec" style="padding:0px">
                <div class="table-header no-data">No Record's found...</div>
            </div>
            <div *ngIf="tbodyDetails.length" class="card-body" id="chooseDatasourceSec" style="padding:0px">
                <virtual-scroller #perfectScroll [items]="tbodyDetails" (vsChange)="handler()" class="example-viewport">
                    <table class="dataTable no-footer" id="execute_table">
                        <thead #header>
                            <tr *ngFor="let headData of theadDetails">
                                <th [rowSpan]="head.rowSpan" [colSpan]="head.colSpan" [class]="head.style" *ngFor="let head of headData">
                                    {{head.data}} {{head.colScaleFormatLabel}}</th>
                            </tr>
                        </thead>

                        <tbody #container>
                            <tr *ngFor="let item of perfectScroll.viewPortItems;let i=index;">
                                <td [rowSpan]="body.rowSpan" [colSpan]="body.colSpan" *ngFor="let body of item;let ind = index" [class]="theadDetails[0][ind]['style']">
                                    {{body.data}}</td>
                            </tr>
                        </tbody>
                    </table>
                </virtual-scroller>

            </div>
        </div>
    </div>
