.co-5 {
    margin-left: 43px;
}

#chooseDatasourceSec {
    margin-top: 7px;
}

.addColumnValue-03 {
    top: -9px;
}

.padd-nert {
    padding: 5px;
    border-bottom: dotted 1px #ccc;
    font-size: 12px;
    line-height: 15px;
    margin: auto;
}

.heading {
    font-size: 14px;
}

table thead {
    background-color: #e8e7e7;
}

table thead tr {
    border: 1px solid #c7c7c7;
    border: 1px solid #c7c7c7;
}

table thead tr th {
    border-right: 1px solid #c7c7c7;
}

table tbody tr {
    border: 1px solid lightgray;
    /* border-bottom: none */
}

table tbody tr td {
    border-right: 1px solid lightgray;
}

tbody {
    display: block;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

table#execute_table thead tr th {
    /* position: sticky;
    top: 0px; */
    /* background-color: white; */
    background-color: var(--content-color);
    z-index: 1;
    width: 100px;
    text-align: center !important;
}

.table-footer {
    position: absolute;
    bottom: 20px;
}

.modal-sm #datatable_info {
    position: absolute;
    left: 6px;
}

.modal-sm {
    left: 50%;
    transform: translate(-181px, 10px);
}

.modal-lg {
    left: 40%;
    transform: translate(-178px, 10px);
}

.modal-xl .table-footer {
    bottom: 4px;
}

.scrollbar {
    overflow: auto;
}

table#execute_table tbody tr td {
    width: 100px;
    border-left: unset !important;
}

table {
    width: 100%;
}

#chooseDatasourceSec {
    /* margin-left: 15px; */
    margin-left: 5px;
    margin-top: 15px;
}

table.dataTable {
    margin-top: 0px !important;
}

.example-viewport {
    height: 75vh;
    width: auto;
}

.example-item {
    height: 10px;
}

#execute_table thead tr th {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#execute_table tbody tr td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #2a2a2a !important;
    line-height: 24px;
    font-weight: normal !important;
}

.align-left {
    text-align: left !important;
}

.align-right {
    text-align: right !important;
}

table th {
    /* color: black !important; */
    color: #fff !important;
}


/*
cdk-virtual-scroll-viewport::-webkit-scrollbar {
    width: 0px;
    background: transparent;

}
cdk-virtual-scroll-viewport {
    -ms-overflow-style: none !important;
    scrollbar-width: none !important;
    overflow: -moz-scrollbars-none !important;
}
*/

.height-line {
    line-height: 28px;
}

.height-line span {
    padding: 0 !important;
}
