.bg-gray-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-2em {
    margin-bottom: 12px !important;
}

.fontClose {
    position: absolute;
    color: #818181;
    font-size: 20px !important;
    right: -11px;
    top: -15px;
    background: #fff;
    width: 23px;
    height: 24px;
    border-radius: 50%;
    border: solid 2px var(--content-color);
    opacity: 1;
}

.flex-row {
    flex-direction: row;
}

.minHeight115 {
    /* min-height: 180px;
    overflow: auto; */
    /* height: 100%; */
    display: flex;
    /* border: 1px solid; */
}

.h-30 {
    height: 30%
}

.h-15 {
    height: 15%
}

.w-95 {
    width: 95%;
}

.w-5 {
    width: 5%;
}

.h-40 {
    height: 40%
}

.h-50 {
    height: 50%
}

.group-con {
    height: 100%;
    display: grid !important;
    grid-template-columns: 1fr !important;
}

.ml-15 {
    margin-left: 15px;
}

.dashHeight {
    height: 80px;
    margin-right: 3px;
    margin-bottom: 1px;
    cursor: pointer;
    background: #08498c;
    border: 2px solid #3e7dbd;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .flip-card-back {
    transform: rotateY(180deg);
    background-color: #ccc !important;
}

*/

.dashHeight:hover {
    border: 2px solid #fff;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-content {
    color: #bdbdbd;
    font-size: 12px;
    padding: 4px;
    line-height: 14px;
    text-align: center;
}

.dashSvgDiv {
    width: 30px;
    padding-top: 15px;
}

.caption-text {
    color: #fff;
    margin: 2px;
    /* font-weight: bold; */
}

.bg-gray-slide .card {
  border: solid 2px #ffffff;
  border-left: none;
  background-color: #000000;
  box-shadow: 0 9px 26px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}

.bg-gray-slide .dash-svg {
    fill: #7bb6f3;
}

.panel-body {
    padding: 0px;
}
.panel-secondlevel {
    padding: 10px 12px;
}

.panel-body table tr td {
    padding:4px;
    padding-left: 3px;
    line-height: 9px;
    vertical-align: top;
    /* border-top: 1px solid #ddd; */
}

.panel-heading a {
    font-weight: 600;
}

.panel {
    border: none !important;
    background-color: transparent !important;
    margin: 0 !important;
}

/* .panel-default {
    border-color: #6b6b6b;
    margin: 9px 6px 0px 6px;
} */

.panel-body .table {
    margin-bottom: 0px;
}

.panel a {
    color: #fff;
    font-size: 13px;
}

.bg-gray-slide .panel-title a {
    padding: 2px 9px;
}

.panelSubText, .panelTitleText, .panelSubText-sub {
    padding-left: 3px;
    padding-top: 3px;
}

.panelTitleText {
    line-height: 17px;
}

.panel-group {
    width: 100%;
    /* margin-left: 4%; */
}

.panel-bg {
    background: #fff !important;
    border-bottom: solid 1px var(--content-color);
}

.panelTitleText {
    color: #000000 !important;
    font-size: 13px;
    font-weight: 600;
}

.panelIcon {
    color: var(--content-color) !important;
    font-size: 16px;
}

.panelSubText {
    color: #fff !important;
    font-size: 13px;
    font-weight: 400;
}

.panelSubText-sub {
    color: #e7e6e6;
    font-size: 12px;
    font-weight: normal;
}

.panelSubText-sub:hover {
    text-decoration: underline;
}

.font-16 {
    font-size: 14px !important;
}

.last-level {
    padding-left: 12px !important;
}

.report-close-icon {
    left: -4px;
    position: relative;
    top: -6px;
    font-weight: 600;
}

.last-panel {
    border-bottom: solid 1px lightgrey;
}

.highlighted-report {
    /* color: #ffffff !important */
    font-weight: 600;
    /* text-decoration: underline; */
}

.tree-title {
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    /* text-decoration: underline; */
    font-size: 15px;
}
/*
.form-control::placeholder {
  color: #fff;
  font-weight: 500;
  padding-left: 5px;
}

input[type = text] {
  color: #fff !important;
  font-weight: 500;
  padding-left: 5px;
} */
