<div class="bg-gray-slide" *ngIf="reportGroup">
    <div class="card h-100 m-0 d-flex flex-column">
        <div class="tree-title mb-1">Reports</div>
        <!-- <input type="text" class="form-control p-1" [(ngModel)]="searchReport" placeholder="Search Reports"
        (ngModelChange)="searchReportLst()"> -->
        <div class="d-flex flex-row">
            <div class="w-100">
                <perfect-scrollbar>
                    <div class="panel-group" id="accordion" *ngFor="let data of reportGroup; let i = index">
                        <div class="panel panel-default" *ngIf="data.reportslst.length">
                            <div class="panel-heading panel-bg" (click)="accordinFn(data)">
                                <div class="panel-title">
                                    <a href="javascript:void(0)" class="d-flex align-items-center">
                                        <span class="material-icons panelIcon">business_center</span>
                                        <!-- <i class="fa fa-briefcase panelIcon" aria-hidden="true"></i> -->
                                        <span class="panelTitleText">{{data.applicationIdDesc}}</span>
                                    </a>
                                </div>
                            </div>
                            <ng-container *ngIf="data.reportslst.length">
                                <div class="panel-collapse" [ngClass]="data.isOpen ? 'in' : 'collapse'">
                                    <div class="panel-body panel-secondlevel h-100"
                                        [ngClass]="reportGroup.length -1 == i ? 'last-panel':''">
                                        <perfect-scrollbar>
                                            <table class="table">
                                                <ng-container *ngFor="let dash of data.reportslst; let j = index">
                                                    <tr *ngIf="dash.reportslst && dash.reportslst.length"
                                                        (click)="accordinFnSub(dash)"
                                                        [ngClass]="dash.isMenuActive ? 'activeReport' : ''">
                                                        <td>
                                                            <a href="javascript:void(0)"
                                                                class="d-flex align-items-center">
                                                                <!-- <i class="fa fa-file panelIconSub" aria-hidden="true"></i> -->
                                                                <span class="material-icons font-16">folder</span>
                                                                <span class="panelSubText">{{dash.categoryDesc}}</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <ng-container *ngIf="dash.reportslst && dash.reportslst.length">
                                                        <div class="sub-tr" [ngClass]="dash.isOpen ? 'in' : 'collapse'"
                                                            [ngStyle]="heightReturn(dash.reportslst)">
                                                            <perfect-scrollbar>
                                                                <tr (click)="menuclick(dash1, dash, data)"
                                                                    *ngFor="let dash1 of dash.reportslst; let k = index">
                                                                    <td class="last-level">
                                                                        <a href="javascript:void(0)"
                                                                            class="d-flex align-items-center">
                                                                            <span
                                                                                class="material-icons font-16">insert_drive_file</span>
                                                                            <!-- <i class="fa fa-add panelIconSub" aria-hidden="true"></i> -->
                                                                            <span class="panelSubText-sub"
                                                                                [ngClass]="dash1.highlight ? 'highlighted-report': ''">{{dash1.reportTitle}}</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </perfect-scrollbar>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </table>
                                        </perfect-scrollbar>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                        <!-- <div id="main">
                        <div class="container">
                            <div class="accordion-report" id="faq">
                                <ng-container *ngFor="let data of reportGroup; let i = index">
                                    <div class="card" *ngIf="data.reportslst.length">
                                        <div class="card-header" [id]="'faqhead'+ (i+1)">
                                            <a href="javascript:void(0)" class="btn btn-header-link" data-toggle="collapse" [attr.data-target]="'#faq'+(i+1)" aria-expanded="true"
                                                aria-controls="faq1">{{data.categoryDesc}}</a>
                                        </div>

                                        <div [id]="'faq'+ (i+1)" class="collapse show" [attr.aria-labelledby]="'faqhead'+ (i+1)" data-parent="#faq" *ngFor="let dash of data.reportslst; let j = index">
                                            <div class="card-body">
                                                {{dash.reportTitle}}
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div> -->
                    </div>
                </perfect-scrollbar>
            </div>
            <div class="close fontClose">
                <a class="float-right" (click)="closeSlide()"><i
                        class="fa fa-angle-double-left report-close-icon"></i></a>
            </div>
        </div>
    </div>
</div>
