<div id="panZoomEle" #viewcontainer class="gridster-container d-flex flex-column w-100 h-100" *ngIf="pageShow">
  <div class="gridheader pl-1 w-100 h-24px">
    <div class="pr-3" style="display:flex;justify-content: start; align-items: start">
      <a href="javascript:;" (click)="backToSummary()" rel="tooltip" ngbTooltip="Back" container="body"
        placement="left" >
        <span class="material-icons colorSet global-icons moduleBoxZoom">
          <i class="material-icons forwardIcon active_always" aria-hidden="true">
            forward
          </i>
        </span>
      </a>
      <div class="color-ico pl-2 header w-20" id="color-ico1">
        <h5 class="text-cap-new">
          <a class="w-80">
            <i class="fa fa-table table-size"></i>&nbsp;
            {{this.table_headervaluesnew.objectName}}
          </a>
        </h5>
      </div>
    </div>
   
    <div class="flex-con-col">
      <div class="form-group margins">
        <label class="font-400" for="Student">Documentation:</label>
        <span>
          <label class="font-200" for="Student"> Enterprise Data warehouse
          </label>
        </span>
      </div>

      <div class="form-group margins">
        <label class="font-400" for="Student">Name:</label>
        <span class="center-show">
          <label title="{{table_headervaluesnew.objectName}}" class="font-200" for="Student">{{this.table_headervaluesnew.objectName}}</label>
        </span>
      </div>

      <div class="form-group margins">
        <label class="font-400" for="Student">Status:</label>
        <span class="center-show">
          <label class="font-200" for="Student">Active</label>
        </span>
      </div>
      <div class="form-group margins">
        <label class="header_descripition" for="Student"> {{this.table_headervaluesnew.description}}</label>

      </div>

      <div *ngIf="repository_table_view" class="menu-trigger">
        <div (click)="toggleShowDiv('Repository')" class="card-collapse-custom">
          <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
                aria-controls="collapseTwo">Repository<i class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_Repository ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>

        <div *ngIf="isOpen_Repository" class="material-table report-table divA">
          <div class="preview_table table-align" style="height: 340px;" cellspacing="0">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Table Name</th>
                    <th>Descripition</th>

                  </tr>
                </thead>
                <div class="no-data" *ngIf="repository_table.length == 0">
                  No Records Found</div>
                <tbody>
                  <tr *ngFor="let columns of repository_table; let i = index;">

                    <td> {{i +1}}</td>
                    <td title="{{columns.objectName | titlecase}}">
                      <div (click)="usesbyFunt(columns)" class="point">
                        <a class="align-table-icon">
                          <i style="padding-right:10px" class="fa fa-table"></i>
                        </a> {{columns.objectName}}
                      </div>

                    </td>
                    <td title="{{columns.description | titlecase}}">
                      {{columns.description }}</td>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>

      <div *ngIf="columns_table" class="menu-trigger">
        <div (click)="toggleShowDiv('Columns')" class="card-collapse-custom">
          <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
                aria-controls="collapseTwo">Columns<i class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_columns ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>


        <div *ngIf="isOpen_columns" class="material-table divA report-table">
          <div class="preview_table table-align" style="max-height: 190px;">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table" cellspacing="0">
                <thead>
                  <tr>
                    <th style="width: 0%;">Id</th>
                    <th style="width: 1%;">Key </th>
                    <th>Name</th>
                    <th>Data Type</th>
                    <th>Null</th>
                    <th>Default Values</th>
                    <th>References</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let columns of tablelist_columns; let i = index;">

                    <td style="width: 0%;">
                      <a class="align-icon hide-cursor">
                        <span class="material-icons global-icons moduleBoxZoom">

                        </span>
                        {{columns.columnId}}
                      </a>
                    </td>
                    <td *ngIf="columns.dataIndex != ''">
                      <a class="align-icon">
                        <span class="material-icons hide-cursor  global-icons moduleBoxZoom">
                          <i class="fa fa-key key-size" aria-hidden="true"></i>
                        </span>
                      </a>
                    </td>
                    <td *ngIf="columns.dataIndex == ''">
                    </td>
                    <td> {{columns.columnName}}</td>
                    <td *ngIf="columns.dataLength > '0' && columns.dataScaling > '0' ">
                      {{columns.dataType}}
                      ( {{ columns.dataLength }},{{ columns.dataScaling }})
                    </td>
                    <td *ngIf="columns.dataLength > '0' && columns.dataScaling == '0' ">
                      {{columns.dataType}}
                      <ng-container *ngIf="columns.dataType != 'DATE' && columns.dataType != 'Date'">
                        ({{ columns.dataLength }},{{ columns.dataScaling }})
                      </ng-container>
                    </td>
                    <td *ngIf="columns.dataLength == '0'">
                      {{columns.dataType}}
                      <ng-container *ngIf="columns.dataType != 'DATE' && columns.dataType != 'Date'">
                        ({{ columns.dataLength }})
                      </ng-container>
                    </td>
                    <td class="hide-cursor" *ngIf="columns.mandatoryFlag == '2'">
                      <a class="align-icon">
                        <span class="material-icons global-icons moduleBoxZoom">
                          check
                        </span>
                      </a>
                    </td>
                    <td class="hide-cursor" *ngIf="columns.mandatoryFlag == '1'">
                    </td>
                    <td> {{columns.defaultValues}}</td>
                    <td>
                      <div style="cursor: pointer;" (click)="calltreeColumns(columns)">
                        <a *ngIf="columns.guidelines" class="cursorpointer align-table-icon">
                          <span>
                            <i style="padding-right:10px" *ngIf="!columns.guidelines" class="fa fa-table"></i>
                          </span>
                        </a>
                        {{columns.guidelines}}
                      </div>
                    </td>

                    <td> {{columns.description}}</td>

                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>

      <div *ngIf="relation_table" class="menu-trigger">

        <div class="card-collapse-custom">
          <div (click)="toggleShowDiv('Relations')" role="tab" id="headingOne"
            class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
                aria-controls="collapseTwo">Relations<i class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_relation ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>
        <div *ngIf="isOpen_relation" class="material-table divA report-table">
          <div class="preview_table table-align" style="max-height: 190px;">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table" cellspacing="0">
                <thead>
                  <tr>
                    <th>From table </th>
                    <th></th>
                    <th> To table</th>
                    <th>Join</th>
                    <th> Title / Name / Description</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let relation of tablelist_relations; let i = index;">
                    <td>
                      {{relation.tableName }}

                    </td>
                    <td *ngIf="relation.relationType == 'OTO'">
                      <a class="align-icon">
                        <span class="material-icons hide-cursor global-icons moduleBoxZoom">
                          subdirectory_arrow_right
                        </span>
                      </a>{{relation.relationType }}
                    </td>
                    <td *ngIf="relation.relationType == 'OTM'">
                      <a class="align-icon">
                        <span class="material-icons global-icons moduleBoxZoom">
                          subdirectory_arrow_left
                        </span>
                      </a>{{relation.relationType }}
                    </td>
                    <td *ngIf="relation.relationType == 'MTO'">
                      <a class="align-icon">
                        <span class="material-icons global-icons moduleBoxZoom">
                          subdirectory_arrow_left
                        </span>
                      </a>{{relation.relationType }}
                    </td>
                    <td *ngIf="relation.relationType == 'MTM'">
                      <a class="align-icon">
                        <span class="material-icons hide-cursor global-icons moduleBoxZoom">
                          subdirectory_arrow_right
                        </span>
                      </a>{{relation.relationType }}
                    </td>

                    <td> {{relation.relationTablename }}</td>
                    <td style="max-width: 120px;text-overflow: ellipsis;"
                      [attr.tooltip]="relation.relationString | titlecase"
                      title="{{relation.relationString | titlecase}}">
                      <span [innerHtml]="relation.relationString">

                      </span>

                    </td>

                    <td>
                      {{relation.description }}</td>

                  </tr>

                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>

      <div *ngIf="unique_table" class="menu-trigger">
        <div (click)="toggleShowDiv('Unique')" class="card-collapse-custom">
          <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
                aria-controls="collapseTwo"> Unique keys<i class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_unique_key ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>

        <div *ngIf="isOpen_unique_key" class="material-table report-table divA">
          <div class="preview_table table-align" style="max-height: 190px;">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table" cellspacing="0">
                <thead>
                  <tr>
                    <th> Key name </th>
                    <th> Type</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let indexes of tablelist_Indexes; let i = index;">
                    <td>
                      <a class="align-icon">
                        <span class="material-icons  global-icons moduleBoxZoom">

                          <i class="fa fa-key key-size" aria-hidden="true"></i>
                        </span>
                      </a>{{indexes.indexName }}
                    </td>
                    <td> {{indexes.indexType }}</td>
                    <td>{{indexes.description }}</td>
                  </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>

      </div>

      <div *ngIf="use_table" class="menu-trigger">
        <div (click)="toggleShowDiv('Uses')" class="card-collapse-custom">
          <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
                aria-controls="collapseTwo"> Uses<i class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_Uses ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>

        <div *ngIf="isOpen_Uses" class="material-table divA report-table table-header-small">
          <div class="preview_table table-align" style="max-height: 190px;">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table" cellspacing="0">

                <thead>
                  <tr>
                    <th>Name </th>
                  </tr>
                </thead>
                <tbody *ngFor="let uses of useslist; let i = index;">
                  <tr>
                    <td>
                      <div (click)="usesFunt(uses)" class="point" *ngIf="isOpen_Uses_by_sub">
                        <a class="align-table-icon">
                          <span>
                            <i style="padding-right:10px" class="fa fa-table"></i>
                          </span>
                        </a>
                        {{uses.moduleName}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>

      <div *ngIf="usedby_table" class="menu-trigger">
        <div (click)="toggleShowDiv('used_by')" class="card-collapse-custom">
          <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
                aria-controls="collapseTwo"> Used by<i class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_Usedby ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>
        <div *ngIf="isOpen_Usedby" class="material-table divA report-table table-header-small">
          <div class="preview_table table-align" style="max-height: 190px;">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table" cellspacing="0">
                <thead>
                  <tr>
                    <th>Name </th>
                  </tr>
                </thead>
                <tbody *ngFor="let usesdby of usedbylist; let i = index;">
                  <tr>
                    <td>
                      <div class="point" (click)="usesbyFunt(usesdby)">
                        <a class="align-table-icon">
                          <i style="padding-right:10px" class="fa fa-table"></i>
                        </a>
                        {{usesdby.moduleName}}
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>