    <div class="modal-body" style="padding-left:6px; padding-right: 6px">
        <div class="card" style="box-shadow: none !important">
            <div class="card-header card-header-tabs card-header-rose height-line">
                <span title="Close" class="pull-right clickable close-icon" (click)="closeModel()" data-effect="fadeOut"><i
            class="fa fa-times"></i></span>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item " id="USERGROUP" rel="FILE" [class.active]="shareMode == 'USERGROUP'" (click)="shareMode ='USERGROUP'">
                                <a href="javascript:void(0)" class="nav-link" [ngClass]="{'active': shareMode == 'USERGROUP'}">
                                    <i class="material-icons col-ora">people</i> User Group
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </a>
                            </li>
                            <!-- <li *ngIf="viewerPerspect" class="nav-item" id="USER" [class.active]="shareMode == 'USER'" rel="USER" (click)="userTab()">
                                <a href="javascript:void(0)" class="nav-link" [ngClass]="{'active': shareMode == 'USER'}">
                                    <i class="fa fa-user sbig col-ora" aria-hidden="true"></i> User List
                                    <div class="ripple-container"></div>
                                    <div class="ripple-container"></div>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body" id="chooseDatasourceSec" style="padding:0px" [ngSwitch]="shareMode">
                <div class="container" *ngSwitchCase="'USERGROUP'">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card-header" style="padding-left: 0px;margin-bottom: 12px;">
                                <b>{{sharableDet.type | titlecase}} : </b> {{sharableDet.name}}
                                <a style="cursor: pointer" *ngIf="!searchToggle" (click)="searchToggle = true"><i
                    class="fa fa-filter refresh"></i></a>
                                <a style="cursor: pointer" *ngIf="searchToggle" (click)="refresh(); searchToggle=false"><i
                    class="material-icons refresh">refresh</i></a>
                            </div>
                            <div class="row" *ngIf="searchToggle" style="margin-top:-35px;">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ng-select appendTo="body" [(ngModel)]="selected_filter" class="form-new-control" alphanumeric="true" (change)="filterType($event)">
                                                <ng-option value="userGroup">User Group</ng-option>
                                                <ng-option value="userProfile">User Profile</ng-option>
                                            </ng-select>
                                        </div>
                                        <div class="col-md-6">
                                            <!-- <input type="text" class="form-control" (keyup)="autoSuggestionSearch($event ,'treeData_cpy' ,'treeData')" placeholder="search..."> -->
                                            <input *ngIf="selected_filter.length" id="filter" class="form-control" (input)="filterData($event)" placeholder="Filter items" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <perfect-scrollbar>
                                <div class="card tree-height" data-count="2">
                                    <div class="card-body border-cs">
                                        <app-tree-view *ngIf="treeview" [data]="treeData" [options]="option" (onChange)="onChange($event);pushbutton=false;leftpushbutton=true">
                                        </app-tree-view>
                                    </div>
                                </div>
                            </perfect-scrollbar>
                        </div>
                        <div class="col-md-6">
                            <perfect-scrollbar>
                                <div class="card tree-height" data-count="2">
                                    <div class="card-body border-cs">
                                        <app-tree-view *ngIf="treeview2" (onDelete)="onDelete($event)" [data]="treeData2" [options]="option2" (onChange)="onChange($event);pushbutton=true;leftpushbutton=false">
                                        </app-tree-view>
                                    </div>
                                </div>
                            </perfect-scrollbar>
                        </div>
                    </div>
                    <div class="supericon">
                        <span class="icon-swap">
              <button [disabled]="leftpushbutton" (click)="leftpushdata()" class="btn btn-link"><i
                  class="fa fa-chevron-left" aria-hidden="true"></i></button>
            </span>
                        <span class="icon-swap">
              <button class="btn btn-link" [disabled]="pushbutton" (click)="pushdata()"><i class="fa fa-chevron-right"
                  aria-hidden="true"></i></button>
            </span>
                    </div>
                    <div class="modal-footer button-list">
                        <button type="button" [disabled]="!treeData2.length" class="btn btn-secondary btn-rose btn-sm margin-right-15" (click)="apply()">Apply</button>
                    </div>
                </div>
                <div class="container " *ngSwitchCase="'USER'">
                    <app-user-management [userDetails]="userlistArry" [readability]="viewerPerspect" (finaluserDetails)="userDetails($event)">
                    </app-user-management>
                </div>
            </div>
        </div>
    </div>