.fa-arrow-right{
  font-size:20px;
}

.icon-swap .btn.btn-link{
  display: contents !important;
}
.refresh{
  font-size: 15px;
  float: right;
  margin-top: 1px;

}
/* 
.modalee {
  min-height: 200px;
  min-width: 200px;
} */


.border-cs{
  border:solid 1px #ccc;
  border-radius:7px
}

.tree-height{
  margin-top:0px;  
  min-height: calc(68vh - 94px);
  max-height: calc(68vh - 94px);                           
  
}

.supericon {
  position: absolute;
  top: 50%;
  border-radius: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon-swap {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: -1px;
  padding-left: 5px;
  display: block;
  margin-top: 2px;
  border: 1px solid #ccc;
  color: var(--content-color);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

.icon-swap:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.height-line {
  line-height: 15px;
}

.height-line span  {
  padding: 0 !important;
}