<!-- <div class="container customer-detail-view">
    <div class="row">
        <div class="col-md-6" *ngFor="let lable of labels">
            <div class="row view-container">
                <div class="col-md-5 label"> {{lable.name}} </div>
                <div class="col-md-7  value"> {{values[lable.referField]}} </div>
            </div>
        </div>
    </div>
</div> -->

<div class="index-content">

    <div class="form-row">
        <div class="col-md-6" *ngFor="let lable of labels">
            <div class="form-row">
                <div class="form-group col-md-12 bmd-form-group">
                    <input type="text" [attr.disabled]="true" class="form-control" [value]="values[lable.referField]" [ngStyle]="lable.style">
                    <label for="conn_name" class="bmd-label-static">{{lable.name}}</label>
                    <div class="line"></div>
                </div>
            </div>
        </div>
    </div>
</div>