<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title"> Tables-Indexes</h4>
  <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>
<div class="modal-body email">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <div class="d-flex flex-row">
        <div class="form-group bmd-form-group col-sm-10 col-md-6 col-lg-6 col-xl-6">
          <input type='text' class="form-control" [(ngModel)]="addEmailId" placeholder="Search">
        </div>
      </div>
        <div class="material-table">
          <div class="table-responsive">
            <perfect-scrollbar>
              <table style="margin-right: 16px;">
                <thead>
                  <tr>
                    <th>

                    </th>
                    <th>Object Name</th>
                    <th>Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of tablelistvalues;let i=index">
                    <td class="text-center">
                      <input type="checkbox" [checked]="data.checked" [(ngModel)]="data.checked"
                        >
                    </td>
                    <td>{{data.name}}</td>
                    <td>{{data.description}}</td>

                  </tr>
                </tbody>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer dv-center">
    <button type="button" class="btn btn-rose btn-sm" (click)="emitSelectedData()">Ok</button>&nbsp;
    <button type="button" class="btn btn-rose btn-sm" (click)="closeModal()">Cancel</button>
  </div>
