table tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal;
}

input[type="checkbox"] {
  vertical-align: middle;
}

/* tr td:first-child,tr td:last-child {
  border-left: solid 1px var(--table-border) !important;
  border-right: solid 1px var(--table-border) !important;
} */

.table-responsive {
  height: 62vh !important;
}

.modal-body.email {
  padding-top: 0 !important;
}
