<div class="table-header align-items-center" *ngIf="tableDatails.options.showButton">
  <!-- {{globalService.pageTitle}} -->
  <div class="row  w-85" *ngIf="showFilterTypeTwo">
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <span class="hm_dashboard">User Group:</span>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2  home-select pl-0 pr-0">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <span class="hm_dashboard"></span>
        <ng-select class="selectpicker" appendTo="body" [(ngModel)]="userGroupFilterData"
          (change)="userProfileFilterData=''">
          <ng-container *ngFor="let data of filterTypeTwoData">
            <ng-option value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
          </ng-container>
        </ng-select>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 usergroup_margin">
      <span class="hm_dashboard">User Profile:</span>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2  home-select pl-0 pr-0">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <span class="hm_dashboard"></span>
        <ng-select class="selectpicker" appendTo="body" [(ngModel)]="userProfileFilterData" (change)="filterUserData()">
          <ng-container *ngFor="let data of filterTypeTwoData1[userGroupFilterData]">
            <ng-option value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
          </ng-container>
        </ng-select>
      </div>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <span class="hm_dashboard">Applications:</span>
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <span class="hm_dashboard"></span>
        <ng-select class="selectpicker" appendTo="body" [(ngModel)]="applicationany" (change)="filterUserData()">
          <ng-container *ngFor="let data2 of applicationFilterData">
            <ng-option value="{{data2.alphaSubTab}}"> {{data2.description}}</ng-option>
          </ng-container>
        </ng-select>
      </div>
    </div>
    <!-- <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4 home-select pl-0">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <ng-select class="selectpicker" appendTo="body" [(ngModel)]="homeScreenData" (change)="homeDashapiCall()">
          <ng-container *ngFor="let data of homeScreenArry">
            <ng-option value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
          </ng-container>
        </ng-select>
      </div>
    </div> -->
  </div>
  <div class="row align  w-70" *ngIf="showCronStatus">
    <div class="col-sm-12 col-md-3 col-lg-3 col-xl-3">
      <div class="form-group bmd-form-group mt-0 pl-0">
        <!-- <span class="text-header"
        >Cron Status</span>
        <span  [ngbTooltip]="cronStat_Tooltip" placement="right"  (click)="cornStausChange(otherInfo)" [ngClass]="buttoncronStaus ? 'status-btn-successs' : 'status-btn-dangers'" >
        </span> -->
        <div class="togglebutton">
          <label class=" text-header">
            Cron Status
            <input type="checkbox" (click)="cornStausChange(otherInfo)" [checked]="buttoncronStaus">
            <span class="toggle align-toggle"></span>

          </label>

        </div>
      </div>
    </div>
  </div>



  <div class="actions">
    <!-- Delete Menu -->


    <a *ngIf="staticDelete">

      <div class="togglebutton">
        <label class=" text-header" style="color: black !important;font-size: 14px !important;font-weight: bold;">
          Cron Status
          <input type="checkbox" (click)="cornStausChange(otherInfo)" [checked]="buttoncronStaus">
          <span class="toggle align-toggle"></span>

        </label>

      </div>
    </a>
    <a *ngIf="tableDatails.options.bulkDeleteButton.enable&&screentype=='fullscreen'" href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" data-original-title="Delete">
      <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
    <!-- Reject Menu -->
    <a *ngIf="showApproveOrRejectButton()&&screentype=='fullscreen'" (click)="emitActionType('bulkReject')"
      href="javascript:void(0)" class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon"
      data-original-title="Reject">
      <i class="fa fa-ban" aria-hidden="true"></i>
    </a>
    <!-- Approved Menu -->
    <a *ngIf="showApproveOrRejectButton()&&screentype=='fullscreen'" (click)="emitActionType('bulkApprove')"
      href="javascript:void(0)" class="modal-trigger  waves-effect btn-flat nopadding table-header-action-icon"
      rel="tooltip">
      <i class="fa fa-check" aria-hidden="true"></i>
    </a>
    <a *ngIf="tableDatails?.options?.callDetailButton?.enable&&screentype=='fullscreen'" href="javascript:void(0)"
      (click)="emitActionType(tableDatails.options.callDetailButton.actionName)"
      class="modal-trigger waves-effect btn-flat  nopadding table-header-action-icon" data-toggle="modal"
      data-placement="top" rel="tooltip" title="" data-original-title="Add ">
      <span tooltip="Call History" class="tool_tip"> <i class="fa fa-phone" aria-hidden="true"></i></span>
    </a>

    <!-- Add Menu -->








    <a *ngIf="tableDatails.options.addButton.enable&&screentype=='fullscreen'&&globalService.pageLevelAccess.profileAdd=='Y'"
      href="javascript:void(0)" (click)="emitActionType(tableDatails.options.addButton.actionName)"
      class="modal-trigger waves-effect btn-flat  nopadding table-header-action-icon" data-toggle="modal"
      data-placement="top" rel="tooltip" title="" data-original-title="Add ">
      <span tooltip="Add" class="tool_tip"> <i class="material-icons">add</i></span>
    </a>


    <a *ngIf="tableDatails.options.filterButton.enable&&screentype=='fullscreen'" (click)="openSearchModal()"
      href="javascript:void(0)" class="search-toggle waves-effect btn-flat nopadding table-header-action-icon">
      <span tooltip="Filter" id="filter" class="tool_tip"><i class="fa fa-filter" aria-hidden="true"></i></span>
    </a>

    <a (click)="emitActionType(tableDatails.options.refreshButton.actionName)"
      *ngIf="tableDatails.options.refreshButton.enable" href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon">
      <span tooltip="Reload" class="tool_tip"><i class="material-icons">autorenew</i></span>
    </a>

    <a (click)="compact_css = !compact_css" *ngIf="tableDatails.options.compactTableButton.enable"
      href="javascript:void(0)" class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon">
      <span tooltip="Compact Table" class="tool_tip"><i class="material-icons">apps</i></span>
    </a>
    <a (click)="previewScreen()" *ngIf="tableDatails.options.fullScreenButton.enable" href="javascript:void(0)"
      class="modal-trigger waves-effect btn-flat nopadding">
      <span id="last_toolTip" class="tool_tip" [attr.tooltip]="screentypeToolTip"><i
          class="material-icons">{{screentype}}</i></span>
    </a>
  </div>
</div>
<div class="table-responsive">
  <perfect-scrollbar [style.max-height]="tableDatails.options.maxHeight">
    <table class="inlineEditTable">
      <thead>
        <tr>
          <th *ngIf="tableDatails.options.showCheckBox && showApproveOrRejectButton()" class="check-first text-center"
            [ngClass]="{'pt-0 pb-0 compactTable': compact_css}">
            <input class="" type="checkbox" value="" (change)="bulkSelect($event)">
          </th>
          <th *ngFor="let header of tableDatails.headers" [hidden]="header.hidden" rowSpan="{{header.rowspan}}"
            colSpan="{{header.colspan}}"
            [ngClass]="{'pt-0 pb-0 compactTable': compact_css, 'text-center': header.colspan>1}"
            [ngStyle]='header.style'>
            <span title="">{{header.name}} </span>
            <span *ngIf="header.filter"><a><i class="fa fa-filter" (click)="individualFilter(header)"></i></a></span>
          </th>
        </tr>
        <tr>
          <th *ngFor="let header of tableDatails.secheaders" rowSpan="{{header.rowspan}}" colSpan="{{header.colspan}}"
            [ngClass]="{'pt-0 pb-0 compactTable': compact_css}" [ngStyle]='header.style'>
            <span title="">{{header.name}} </span>
            <span *ngIf="header.filter"><a><i class="fa fa-filter" (click)="individualFilter(header)"></i></a></span>
          </th>
        </tr>
      </thead>
      <div class="no-data" *ngIf="viewList&&viewList.length==0">No Records Found</div>
      <tbody *ngIf="viewList&&viewList.length>=1">
        <tr role="row" *ngFor="let data of viewList;let i=index">
          <ng-container *ngIf="tableDatails.options?.showCheckBox&&showApproveOrRejectButton()">
            <td class='text-center'>
              <input *ngIf="data[tableDatails.options?.ckeckboxReferField]=='Pending'" class="selectRow" type="checkbox"
                name="menus" (change)="toggleCheckBoxSelect($event,i)" [checked]="data.checked">
            </td>
          </ng-container>

          <td *ngFor="let header of tableDatails.headers;let k=index"
            [ngClass]="{'pt-0 pb-0 compactTable': compact_css,'text-center':header?.align=='center'}"
            [ngStyle]='header.style'>
            <ng-container *ngIf="header.viewType=='icon'">
              <div class='text-center'>
                <i class="fa fa-times" *ngIf="data[header.referField]=='N'"> </i>
                <i class="fa fa-check" *ngIf="data[header.referField]=='Y'"> </i>
              </div>
            </ng-container>
            <ng-container *ngIf="header.needIndicator&&header.viewType!='icon'">
              <span class="status-btn"
                [ngClass]="{'status-btn-success': data[header.referField]=='Active'||data[header.referField]=='Closed', 'status-btn-danger': data[header.referField]=='Delete'||data[header.referField]=='Lost', 'status-btn-old': data[header.referField]=='Old', 'status-btn-warning': data[header.referField]=='Inactive'|| data[header.referField]=='Open'}">
                <span
                  title="{{header.titleReferField?data[header.titleReferField]:data[header.referField]}}">{{data[header.referField]}}</span>
              </span>
            </ng-container>
            <ng-container *ngIf="!header.needIndicator&&!header.hasClickEvent&&header.viewType!='icon'">
              <span title="{{header.titleReferField?data[header.titleReferField]:data[header.referField]}}"
                class="text-truncate" style="display:block;width:100%">{{data[header.referField]}}
              </span>
            </ng-container>
            <ng-container *ngIf="!header.needIndicator&&header.hasClickEvent&&header.viewType!='icon'">
              <a title="{{header.titleReferField?data[header.titleReferField]:data[header.referField]}}"
                (click)="emitActionType(header.actionType,data)" class="text-truncate"
                style="display:block;width:100%;text-decoration: underline;color: #2196f3;cursor: pointer;">{{data[header.referField]}}
              </a>
            </ng-container>
            <!-- Icons-->
            <div class="tr-edit-icons row" *ngIf="k==tableDatails.headers.length-1">
              <ng-container *ngFor="let actionButton of tableDatails.buttons">
                <ng-container *ngIf="checkAccess(actionButton)">
                  <ng-container
                    *ngIf="actionButton.name=='approve' ||actionButton.name=='reject' ||actionButton.name=='delete' ">
                    <ng-container *ngIf="actionButton.icon&&iconVisible1(actionButton, data) ">
                      <a (click)="emitActionType(actionButton.actionType, data,i) " href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding "
                        [attr.tooltip]="actionButton.name | titlecase">
                        <i [class]="actionButton.icon "></i>
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="actionButton.name =='view'">
                    <ng-container *ngIf="actionButton.icon&&iconVisible1(actionButton, data) ">
                      <a (click)="emitActionType(actionButton.actionType, data,i) " href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 " 
                        [attr.tooltip]="actionButton.name | titlecase"
                        title="{{actionButton.name}} ">
                        <span tooltip="view" class="tool_tip">
                           <i class="material-icons">visibility
                            
                           </i></span>
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container
                    *ngIf="actionButton.name!='approve' && actionButton.name!='view' && actionButton.name!='reject' &&actionButton.name!='delete' &&actionButton.name!='Download Minute Call Report' ">
                    <ng-container *ngIf="actionButton.icon&&iconVisible1(actionButton, data) ">
                      <a (click)="emitActionType(actionButton.actionType, data,i) " href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 "
                        [attr.tooltip]="actionButton.name | titlecase"
                        title="{{actionButton.name}} ">
                        <i [class]="actionButton.icon "></i>
                      </a>
                    </ng-container>

                    <ng-container *ngIf="actionButton.img&&iconVisible1(actionButton, data) ">
                      <a (click)="emitActionType(actionButton.actionType, data,i) " href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 "
                        [attr.tooltip]="actionButton.name | titlecase"
                        title="{{actionButton.name}} ">
                        <img [src]="actionButton.img " height="15 " width="15 ">
                      </a>
                    </ng-container>
                  </ng-container>
                  <ng-container
                    *ngIf="actionButton.name!='approve' &&actionButton.name!='reject' &&actionButton.name!='delete' &&actionButton.name=='Download Minute Call Report' ">
                    <ng-container *ngIf="actionButton.icon&&iconVisible(data) ">
                      <a (click)="emitActionType(actionButton.actionType, data,i) " href="javascript:void(0) "
                        class="modal-trigger waves-effect btn-flat nopadding pr-2 " 
                        [attr.tooltip]="actionButton.name | titlecase"
                        title="{{actionButton.name}} ">
                        <i [class]="actionButton.icon "></i>
                      </a>
                    </ng-container>
                  </ng-container>
                </ng-container>
              </ng-container>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </perfect-scrollbar>
  <div class="paginationHold d-flex justify-content-end align-items-baseline " *ngIf="limitedList.length ">
    <span class="text-right pr-2 ">Rows Per Page:</span>
    <span>
      <select class="custom-select ml-0 " [(ngModel)]="perPage " (change)="listCountDisp() ">
        <option value="10 ">10</option>
        <option value="15 ">15</option>
        <option value="25 ">25</option>
      </select>
    </span>
    <span [innerHTML]="getPaginationDet() "></span>
    <span>
      <ul class="material-pagination d-flex pl-0 mb-0 ">
        <li>
          <button class="btn btn-link p-2 " [disabled]="previousDisp " (click)="previous() "><i
              class="material-icons ">chevron_left</i></button>
        </li>
        <li>
          <button class="btn btn-link p-2 " id="next " [disabled]="nextDisp " (click)="next() "><i
              class="material-icons ">chevron_right</i></button>
        </li>
      </ul>
    </span>
  </div>
</div>

<!-- <ng-container *ngIf="tableDatails.options.showPagination ">
    <div class="paginationHold d-flex ">
        <div class="form-group d-inline-flex mt-0 pb-1 ">
            <label for="sort " class="col-sm-2 control-label "> Rows Per Page </label>
            <div style="width: 30px; ">
                <select class="form-control " name="sort " [(ngModel)]="rowPerPage " (change)="modifyTotalPageCount() ">
          <option value="10 ">10</option>
          <option value="15 ">15</option>
          <option value="20 ">20</option>
        </select>
            </div>
        </div>
        <ngb-pagination style="bottom:0px " [rotate]="true " (pageChange)="onPageChange($event) " [maxSize]="5 " [collectionSize]="totalRows " [(page)]="selectedPage " [(pageSize)]="pageSize " [boundaryLinks]="true " class='d-inline-flex'></ngb-pagination>
    </div>
</ng-container> -->
