.paginationHold {
    background-color: #fff;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.paginationHold>div {
    position: relative;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
.hm_dashboard{
    position: absolute;
    top: 14px;
    font-size: 13px;
    font-weight: 600;
    z-index: 1;
    color: #2a2a2a;
    font-family: Open Sans,sans-serif;
    padding-left: 2px;
}
.paginationHold label {
    font-size: 12px;
    text-align: right;
}

.paginationHold select {
    padding: 0;
    width: 40px;
}
.hoverClassRow{
    background-color: #EEE;
}

.table-footer select {
    border-bottom: 1px solid lightgrey;
}

.custom-select {
    padding-left: 31px;
    margin-left: 11px;
    border: none;
}

.paginationHold * {
    font-size: 13px;
    color: #2a2a2a;
    font-weight: 400;
}

.paginationHold>span {
    display: inline-flex;
    min-width: 40px;
}
.tableSeperate{
    border-collapse: separate !important;
    border-spacing: 0;
}

table.tableSeperate thead tr:nth-child(2) th {
    top: 28px !important;
}
.highlighted-row {
  background-color: #EEE;
  -webkit-box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0, 5px 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}


.table-header i, .table-header-icon {
    color: rgb(0 0 0 / 48%);
    font-size: 19px;
    border: dotted 2px transparent;
    font-weight: 600;
}

.prompts {
    position: relative;
    left: 35%;
    cursor: pointer;
}

.prompts-icon {
    font-size: 16px !important;
    vertical-align: middle;
}

table tr td .text-center i {
    color: #2a2a2a;
}

table tr td {
    color: #2a2a2a !important;
    line-height: 18px;
    font-weight: normal;
}

.home-select {
    left: -26px;
}
.text-header{
  font-size: 14px;
  font-weight: bold;
}

.align{
  margin-top:12px !important
}
.togglebutton label input[type="checkbox"]:checked + .toggle:after {
  border: 1px solid rgba(0, 0, 0, 0.54)!important;
  margin-top: -1px;
}
.togglebutton label input[type="checkbox"]:checked + .toggle {
  background: #4caf50 !important;
}
input:checked + .slider {
  background-color: var(--content-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.row-corn{
    display: flex;
    flex-wrap: wrap;
    content: lavender;
    flex-direction: row-reverse;
}
.usergroup_margin {
  margin-left: -4%;
}
.home-select {
  left: -6%;
}
