<div id="panZoomEle" #viewcontainer class="gridster-container d-flex flex-column w-100 h-100" *ngIf="pageShow">

  <div class="gridheader pl-1 w-100 h-24px">
    <div class="color-ico pl-2 header w-20" id="color-ico1">
      <h5 class="text-cap-new ">
        <a class="w-80">
          <i class="fa fa-table table-size"></i>&nbsp;
          {{this.table_headervalues.objectName}}
        </a>
      </h5>
    </div>
  </div>
  <div class="flex-con-col">
    <perfect-scrollbar>
      <ng-container *ngFor="let columns of tablelist_columns;" class="menu-trigger">
        <div (click)="toggleShowDiv(columns)" class="card-collapse-custom">
          <div  role="tab" id="headingOne"
            class="h-33px cursorpointer card-header accordionHeader">
            <h5 class="mb-0">
              <span>
                <input class="align-chekbox" type="checkbox" value="{{columns.isSelected}}"
                  [(ngModel)]="columns.isSelected" name="list_name" value="h1" (change)="selectValue()" />
              </span>
              <a style="margin-left: 5px;" class="w-100 table-header-dropdown" data-toggle="collapse"
                [attr.aria-expanded]="!isLineFormCollapsed" aria-controls="collapseTwo">{{columns.moduleId}}<i
                  class="material-icons float-right mr-2 mt-1 panel-icon"
                  [ngClass]="isOpen_columns ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
            </h5>
          </div>
        </div>


        <div *ngIf="columns.is_open" class="material-table divA report-table">
          <div class="preview_table table-align" style="max-height: 281px;">
            <perfect-scrollbar>
              <table class="table table-hover my-custom-table " cellspacing="0">
                <thead>
                  <tr>
                    <th>Column Name</th>
                    <th>Description</th>
                    <th>Change</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let columnsobj of columns.childrenCols; let i = index;">
                    <td> {{columnsobj.moduleId }}</td>
                    <td> {{columnsobj.moduleName}}</td>
                    <td> {{columnsobj.moduleType}}
                      <span class="tr-edit-icons row a1" style="margin-right: -40px; margin-top: -5px;"
                        *ngIf="columnsobj.moduleType !='New Column' && columnsobj.moduleType != 'Drop Column'
                        && columnsobj.moduleType != 'Dropped Column'
                        ">
                        <a href="javascript:void(0)"
                          class="modal-trigger waves-effect btn-flat nopadding align-icon-edit"
                          data-original-title="Edit" (click)="reviewPopup(columnsobj)">
                          <i class="material-icons " aria-hidden="true" container="body"
                            ngbTooltip="View">visibility</i>
                        </a>
                      </span>
                    </td>
                </tbody>
                <div *ngIf="columns.childrenCols.length==0;" class="no-data-missing">
                  No Records Found
                </div>
              </table>
            </perfect-scrollbar>
          </div>
        </div>
      </ng-container>
    </perfect-scrollbar>
  </div>

  <div class="d-flex justify-content-center align-items-end h-10">
    <div class="row">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div>
          <button type="button" class="btn btn-sm btn-rose btn-outline-dark test"
            (click)="missingObjectSubmission()" >Save</button>

          <button type="button" (click)="cancelBtnAll()" class="btn btn-sm btn-rose btn-outline-dark">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>