.loader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999999999;
}

.loader svg {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    color: #000;
    font: italic bold 18px/30px Georgia, serif;
    transform: translate(-50px, -50px);
}