    <div class="modal-body" style="padding-left:6px; padding-right: 6px">
        <div class="card" style="box-shadow: none !important">
            <div class="card-header card-header-tabs card-header-rose new-header height-line">
                <span title="Close" class="pull-right clickable close-new-icon" (click)="closeModel()" data-effect="fadeOut">
                    <i class="fa fa-times"></i>
                </span>
                <span class="heading">{{viewPort.heading}}</span>
            </div>
            <div class="card-body" id="chooseDatasourceSec" style="padding:0px">

                <div *ngIf="!viewPort.report_Details">

                    <form *ngIf="viewPort.formView" [formGroup]="hashTagForm">
                        <div class="modal-body">
                            <div class="form-row">
                                <div class="form-group col-md-6 bmd-form-group" *ngFor="let ht of hashTag;let i = index;">
                                    <input type="text" alphanumeric="true" [formControlName]="ht" class="form-control">
                                    <label for="hashTag" class="bmd-label-static">{{ht | titlecase}}</label>
                                    <div class="line"></div>
                                </div>
                            </div>
                        </div>
                        <div class="button-list">
                            <button type="button" class="btn btn-secondary btn-rose btn-sm margin-right-15" (click)="applyHashTag(hashTagForm.value)">{{viewPort.button_text}}</button>
                            <button type="button" class="btn btn-secondary btn-rose btn-sm" (click)="closeModel()">Cancel</button>
                        </div>
                    </form>
                    <div *ngIf="!tbodyDetails.length && !viewPort.formView">No Data Found</div>
                    <cdk-virtual-scroll-viewport *ngIf="viewPort.tableView && tbodyDetails.length" itemSize="10" minBufferPx="200" maxBufferPx="400" class="example-viewport">
                        <table class="dataTable no-footer" id="execute_table">
                            <thead>
                                <tr *ngFor="let headData of theadDetails">
                                    <th [rowSpan]="head.rowSpan" [colSpan]="head.colSpan" *ngFor="let head of headData">
                                        {{head.data}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let bodyData of tbodyDetails">
                                    <td [rowSpan]="body.rowSpan" [class]="body.class" [colSpan]="body.colSpan" *ngFor="let body of bodyData">
                                        {{body.data}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </cdk-virtual-scroll-viewport>
                </div>

                <div *ngIf="viewPort.report_Details">
                    <div class="tab-pane active show ng-star-inserted" style="margin-left: -15px;">
                        <textarea [(ngModel)]="getDetails['mainModel']['reportDescription']" maxlength="74" class="bigger-txt ng-pristine ng-valid ng-touched" name="sqlquery" placeholder="Type description for the Formed Query...."></textarea>
                        <div class="line"></div>
                    </div>
                    <div class="button-list">
                        <button type="button" [disabled]="!getDetails['mainModel']['reportDescription'].length" class="btn btn-secondary btn-rose btn-sm margin-right-15" (click)="applyQuery()">Save</button>
                        <button type="button" class="btn btn-secondary btn-rose btn-sm" (click)="closeModel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>