<div class="wrapper">
  <!-- <div class="session-notification" [ngClass]="showCountDown ?'session-notification-visible' : '' " id="sessionNotification">
        <span>Hey! You will be logged off in {{countDown}} seconds due to inactivity.</span>
    </div> -->
  <app-side-bar></app-side-bar>
  <div class="main-panel ps-container h-100" id="mainPanel">
    <app-top-bar></app-top-bar>
    <div class="content-area" id="max_parent">
      <router-outlet (activate)="changeOfRoutes()"></router-outlet>
    </div>
  </div>
</div>
