/*.sidebar[data-color=rose] li.active>a {
    background-color: var(--content-color);
    box-shadow: var(--box-shadow-color)
}*/

.sidebar[data-color="rose"] > .sidebar-wrapper > ul > li.active > a {
  background-color: var(--content-color);
  box-shadow: var(--box-shadow-color);
  border: var(--blacktheme-border-2px);
}

/* .btn.btn-rose:active,
    .btn.btn-rose:focus,
    .btn.btn-rose:hover {
        box-shadow: var(--box-shadow-color)
    } */

.btn.btn-rose {
  color: #4a4a4a !important;
  font-weight: 600;
  background-color: unset !important;
  border: 1px solid #ccc !important;
  box-shadow: unset !important;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  padding-left: 16px;
  padding-right: 16px;
}

.btn.btn-rose.focus,
.btn.btn-rose:focus,
.btn.btn-rose:hover,
.btn.btn-rose:active,
.btn.btn-rose:visited {
  color: #4a4a4a !important;
  font-weight: 600;
  background-color: unset !important;
  border: 1px solid #ccc !important;
  box-shadow: unset !important;
  font-size: 14px;
  font-family: Open Sans, sans-serif;
  padding-left: 16px;
  padding-right: 16px;
}

/* .btn.btn-rose.active,
    .btn.btn-rose:active,
    .open>.btn.btn-rose.dropdown-toggle,
    .show>.btn.btn-rose.dropdown-toggle {
        color: #fff;
        background-color: var(--content-color);
        border: var(--border-btn-color);
        box-shadow: var(--box-shadow-color)
    }

    .btn.btn-rose.active.focus,
    .btn.btn-rose.active:focus,
    .btn.btn-rose.active:hover,
    .btn.btn-rose:active.focus,
    .btn.btn-rose:active:focus,
    .btn.btn-rose:active:hover,
    .open>.btn.btn-rose.dropdown-toggle.focus,
    .open>.btn.btn-rose.dropdown-toggle:focus,
    .open>.btn.btn-rose.dropdown-toggle:hover,
    .show>.btn.btn-rose.dropdown-toggle.focus,
    .show>.btn.btn-rose.dropdown-toggle:focus,
    .show>.btn.btn-rose.dropdown-toggle:hover {
        color: #fff;
        background-color: var(--content-color);
        border: var(--border-btn-color);
    }

    .open>.btn.btn-rose.dropdown-toggle.bmd-btn-icon {
        color: inherit;
        background-color: var(--content-color)
    }

    .open>.btn.btn-rose.dropdown-toggle.bmd-btn-icon:hover {
        background-color: var(--content-color)
    }

    .btn.btn-rose.disabled.focus,
    .btn.btn-rose.disabled:focus,
    .btn.btn-rose.disabled:hover,
    .btn.btn-rose:disabled.focus,
    .btn.btn-rose:disabled:focus,
    .btn.btn-rose:disabled:hover {
        background-color: var(--content-color);
        border: var(--border-btn-color);
    }

    .btn.btn-rose:active,
    .btn.btn-rose:focus,
    .btn.btn-rose:hover {
        box-shadow: var(--box-shadow-color)
    }

    .btn.btn-rose.btn-link {
        box-shadow: none
    }

    .btn.btn-rose.btn-link,
    .btn.btn-rose.btn-link:active,
    .btn.btn-rose.btn-link:focus,
    .btn.btn-rose.btn-link:hover {
        background-color: transparent;
        color: var(--content-color)
    } */

.card .card-header-rose .card-icon,
.card .card-header-rose .card-text,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text) {
  box-shadow: var(--box-shadow-color);
}

.card.bg-rose,
.card .card-header-rose .card-icon,
.card .card-header-rose .card-text,
.card .card-header-rose:not(.card-header-icon):not(.card-header-text),
.card.card-rotate.bg-rose .back,
.card.card-rotate.bg-rose .front {
  background: linear-gradient(
    60deg,
    var(--content-color),
    var(--content-color)
  );
}

.tooltip-inner {
  background: #343434 !important;
  box-shadow: var(--tool-tip-shadow);
  color: #fff !important;
  padding: 9px !important;
}

#vert-tabs .nav-pills .nav-item .nav-link {
  border-bottom: 1px solid var(--content-color);
}

.nav-pills.nav-pills-rose .nav-item .nav-link.active,
.nav-pills.nav-pills-rose .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
  background-color: var(--content-color);
  box-shadow: var(--box-shadow-color);
  color: #fff;
}

.tooltip.bs-tooltip-auto[x-placement^="top"] .arrow:before,
.tooltip.bs-tooltip-top .arrow:before {
  /* border-top-color: var(--content-color) !Important; */
  border-top-color: #343434;
}

#vert-tabs {
  border-right: solid 2px var(--content-color);
}

#vert-tabs .nav-pills .nav-item i {
  padding: 0px;
}

#vert-tabs .nav-pills .nav-item .nav-link {
  border-bottom: 1px solid var(--content-color);
  padding: 5px 1px;
}

.form-control,
.is-focused .form-control {
  background-image: var(--form-image);
}

.is-focused [class*=" bmd-label"],
.is-focused [class^="bmd-label"] {
  color: var(--content-color);
}

.bootstrap-select .dropdown-item.active {
  background: var(--content-color);
  color: #fff;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
  box-shadow: var(--box-shadow-color);
  background-color: var(--content-color);
  color: #fff;
}

.dropdown-toggle:after {
  color: var(--content-color);
}

.bootstrap-select .btn.dropdown-toggle.select-with-transition {
  border: 0 !important;
  background-image: linear-gradient(
      0deg,
      var(--content-color) 2px,
      rgba(156, 39, 176, 0) 0
    ),
    linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0) !important;
}

code {
  color: var(--content-color);
}

.tooltip.bs-tooltip-auto[x-placement^="right"] .arrow:before,
.tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #343434;
}

.blue-co {
  color: var(--content-color) !important;
}

.collapse .nav-item.active > a {
  color: var(--content-color) !important;
}

.togglebutton label input[type="checkbox"]:checked + .toggle {
  background-color: var(--content-color) !important;
}

.togglebutton label input[type="checkbox"]:checked + .toggle:after {
  border: var(--border-btn-color) !important;
}

.form-check .form-check-input:checked + .form-check-sign .check {
  background: var(--content-color) !important;
}

.finalTreeSection {
  border-right: 2px solid var(--content-color) !important;
}

.hummingbird-treeview .fa {
  color: var(--content-color);
}

.chip:hover,
.activeConnector {
  background-color: var(--content-color);
  color: #fff;
}

.chip {
  border-bottom: 1px solid var(--content-color);
}

.bor-col {
  border: solid 2px var(--content-color);
}

ul.autocomplete-content.dropdown-content {
  box-shadow: 0px 0px 6px var(--content-color);
}

ul.autocomplete-content.dropdown-content li > span:hover {
  background-color: var(--autocomplete);
}

.togglebutton {
  color: var(--content-color);
}

.addColumnValue {
  color: var(--content-color);
}

.bg-grey1 {
  border: solid 2px var(--content-color);
}

textarea:focus {
  border: solid 1px var(--content-color) !important;
}

/* input[type=text]:focus+label {
        color: var(--content-color);
    } */

.form-check .form-check-input:checked ~ .circle {
  border-color: var(--border-btn-color);
}

.form-check .form-check-label .circle .check {
  background-color: var(--content-color);
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  border-top-color: var(--content-color);
}

[tooltip]::after {
  /* background: var(--content-color); */
  background: #2a2a2a;
}

.fa-color {
  color: var(--content-color);
}

.drop-zone {
  border: 2px dotted var(--content-color) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  box-shadow: none;
  background-color: var(--content-color) !important;
}

.ng-select.ng-select-focused .ng-select-container:after {
  transform: scale(1);
  border: 1px solid var(--content-color) !important;
  /* top: 10px; */
}

.ng-select.ng-select-focused .ng-select-container .ng-arrow-wrapper .ng-arrow {
  color: var(--content-color) !important;
}

.back-pos {
  color: var(--content-color) !important;
}

.addColumnValue-03 {
  color: var(--content-color);
}

#datasourceSection > div:first-child ul > li:hover,
.activeConnector {
  background-color: var(--content-color);
  color: #fff;
}

#datasourceSection > div > ul li {
  border-bottom: 1px solid var(--content-color);
  box-shadow: var(--box-shadow-color);
}

.rippleLine {
  border-bottom: 3px solid var(--content-color);
}

#datasourceSection .completer-holder > input:focus ~ .rippleLine + label {
  color: var(--content-color);
}

.completer-selected-row {
  box-shadow: var(--box-shadow-color);
  background-color: var(--content-color) !important;
}

.addColumnValue-01 {
  color: var(--content-color);
}

.icon-swap {
  color: var(--content-color);
}

.icon-swap .btn.btn-link {
  color: var(--content-color);
}

.circle-icon {
  color: var(--content-color);
}

.border-btn-col {
  border-bottom: 2px solid var(--content-color);
}

.default-color {
  color: var(--content-color);
}

.angular-tree-component
  .node-content-wrapper-active
  .sidebar[data-color="rose"]
  > .sidebar-wrapper
  > ul
  > li.active
  > a {
  background-color: var(--content-color);
  box-shadow: var(--box-shadow-color);
}
.angular-tree-component .node-content-wrapper-active {
  /* text-decoration: underline; */
}

.confirmation-cls {
  border: solid 3px var(--content-color);
  border-radius: 6px;
}

.test-class {
  border: 2px;
}

.live-search-list table tr:focus,
.live-search-list table tr:active {
  background: var(--content-color);
  color: #fff;
}

gridster-item .form-check,
label {
  color: var(--content-color);
}

.angular-tree-component .node-content-wrapper-active {
  color: var(--content-color) !important;
}

.tree-icon-01 {
  background: var(--content-color);
  color: #fff;
  box-shadow: var(--tree-icon-shadow);
}

.crt-widget,
.crt-widget-left {
  color: var(--content-color);
}

.border-bold {
  border: 3px solid var(--content-color) !important;
}

accordion-group .card-header {
  background: var(--content-color) !important;
  /* box-shadow: var(--box-shadow-color) */
}

.common-color-highlight {
  color: var(--content-color);
}

.column-label {
  color: var(--content-color);
}

.switch-field input:checked + label {
  background-color: var(--content-color);
  color: #fff;
}

#loading {
  border-top-color: var(--content-color) !important;
}

table#common_table thead tr th {
  background-color: var(--content-color);
  color: #fff;
  border-right: solid 1px var(--table-border);
}

table#common_table tbody tr td {
  border-bottom: solid 1px var(--table-border);
}

div.material-table table tr td {
  border: solid 1px var(--table-border);
}

.folder_color {
  color: var(--content-color);
}

.toggle-children-wrapper-expanded .toggle-children {
  -webkit-transform: none;
  transform: none !important;
  height: 14px;
  width: 12px;
  background-image: unset;
}

.toggle-children-wrapper-collapsed .toggle-children {
  -webkit-transform: none;
  transform: none;
  height: 14px;
  width: 12px;
  background-image: unset;
}

.sidebar[data-background-color="black"] .sidebar-background:after {
  background: #ffffff;
  opacity: 0.6;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {
  color: #181818;
  border-bottom: 1px solid #c3c3c3;
}

.sidebar-mini .sidebar[data-background-color="black"] .nav .nav-item {
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
}

.sidebar-mini .sidebar[data-background-color="black"] .nav .nav-item .nav-link {
  border-bottom: unset;
}

.sidebar[data-background-color="black"]
  .nav
  .nav-item.active
  [data-toggle="collapse"],
.sidebar[data-background-color="black"]
  .nav
  .nav-item:hover
  [data-toggle="collapse"] {
  color: #181818 !important;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link p {
  font-weight: 600 !important;
}

.sidebar[data-background-color="black"] .nav .nav-item i {
  color: #727272;
  font-size: 19px;
}

.sidebar[data-background-color="black"] .nav .nav-item .active-Sub-menu {
  font-weight: 600 !important;
}

.sidebar[data-background-color="black"]
  .nav
  .nav-item.active
  [data-toggle="collapse"]
  i,
.sidebar[data-background-color="black"]
  .nav
  .nav-item:hover
  [data-toggle="collapse"]
  i {
  color: #727272 !important;
}

.sidebar[data-background-color="black"]
  .nav
  .nav-item
  a[aria-expanded="true"]
  .caret,
.sidebar[data-background-color="black"]
  .nav
  .nav-item
  a[data-toggle="collapse"][aria-expanded="true"]
  .caret {
  transform: unset;
}
/*  #ffffffd6  black*/

table th {
  background: var(--content-color);
}

[tooltip]::after {
  content: attr(tooltip);
  /* background: var(--content-color);  */
  background: #343434;
  color: #fff;
  /* absurdity 2 */
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  /* border-top-color: var(--content-color); */
  border-top-color: #343434;
}

.modal-dialog .modal-header {
  background: var(--content-color);
}

.active-menu {
  color: #fff !important;
  background-color: var(--content-color) !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected {
  background: var(--content-color);
  color: #3f51b5;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background: var(--content-color);
  color: #000 !important;
}

.activeTab {
  color: #fff !important;
  background: var(--content-color);
}

.addColumnValue-03 {
  color: var(--content-color);
}

.multiselect-dropdown .dropdown-btn .selected-item {
  background: var(--content-color) !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  border-color: var(--content-color) !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  color: var(--content-color);
}

.bg-primary {
  background: var(--content-color) !important;
}

.submenuLevel2 {
  border-left: solid 3px var(--content-color) !important;
}

/* .active-Sub-menu {
        background: var(--content-color) !important;
        color: #fff;
        border-left: solid 3px var(--content-color) !important;
    } */

.list-branches .card-body {
  background: var(--content-color) !important;
}

.side-filter-hold {
  border: 2px solid var(--content-color);
}
