.w-h-6{
    width: 9%;
}

div.tool_box{
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 1px 0 0 2px;
}
div.tool_box .row, div.ico_map .row{
 margin: 0px;
 /*padding: 1px;*/
}
div.tool_box .col-md-12, div.tool_box .col-md-6{
    padding: 1px;
}
div.ico_map .col-md-4{
 padding: 1px;
}
div.ico_map{
    position: relative;
    width: 100%;
    bottom: 0;
      /* margin-top: 246px !important;
    margin-right: 0px !important;*/
}
div.tool_ico{
    text-align: center;
    border: 1px solid #ddd;
}
div.tool_box .form-row{
    margin: 0px;
}
div.tool_box .form-control {
    height:9px !important;
}
div.tool_box .form-group{
margin: 0px 0 0;
}
div.tool_box  ::-webkit-input-placeholder {
  font-size:9px;
}
div.width-5{

}
div.height-100{
    height:100%;
}
div.width-95{
    width: 95% !important;
}
div.height-8{
    height: 8% !important;
}
div.height-91{
    height: 91% !important;
}
.height10{
    height: 10%;
}
.height90{
    height: 90%;
}

#modalData3 .modal-body, #mod_write .modal-body {
    padding: 22px 0 0 0px;
}
#modalData3 .modal-content, #mod_write .modal-content {
    width: 57% !important;
}
#modalData3 .modal-dialog, #mod_write .modal-dialog {
    margin-top: 152px;
    left: 267px;
}
#modalData3 .modal-title, #mod_write .modal-title {
    padding: 0px 0 0 7px !important;
    font-size: 13px;
}
#modalData3 button.close, #mod_write button.close{
    margin: -22px 0 0 0;
    color: white;
    font-size: 15px;
}
#modalData3 .card-body, #mod_write .card-body{
    margin: -6px -9px 0 -9px !important;
    padding: 0;
}
button > span > i{
    padding-right:11px;
}
button > span {
    font-size: 12px;
}
.rbox{
    margin: 12px 0 0 0;
    padding-top: 4px;
}
.read_h4{
    text-align: center;
    margin-bottom: 0px;
    font-size:13px;
}
button.btn-lft{
    left: 14px;
}
button.btn-rht{
    float: right;
    right: 14px;
}
.button {
    min-width: 116px;
    max-width: 118px;
    margin: 8px 0 10px 0;
    padding: 4px;
    border: none;
    background: none;
    color: inherit;
    vertical-align: middle;
    position: relative;
    z-index: 1;
    -webkit-backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    cursor: pointer;
}
.button:focus {
    outline: none;
}
.button > span {
    vertical-align: middle;
}
.button--antiman {
    background: none;
    height: 34px;
    border: 1px solid #ddd !important;
}
.button--antiman.button--inverted,
.button--antiman.button--inverted-alt {
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before,
.button--antiman::after {
    content: '';
    z-index: -1;
    border-radius: inherit;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--antiman::before {
    border: 2px solid #00bcd4;
    opacity: 0;
    -webkit-transform: scale3d(1.2, 1.2, 1);
    transform: scale3d(1.2, 1.2, 1);
}
.button--antiman.button--border-thin::before {
    border-width: 1px;
}
.button--antiman.button--border-medium::before {
    border-width: 2px;
}
.button--antiman.button--border-thick::before {
    border-width: 3px;
}
.button--antiman.button--inverted::before {
    border-color: #7986cb;
}
.button--antiman.button--inverted-alt::before {
    border-color: #3f51b5;
}
.button--antiman::after {
    background: #fff;
}
.button--antiman.button--inverted::after {
    background: #7986cb;
}
.button--antiman.button--inverted-alt::after {
    background: #3f51b5;
}
.button--antiman.button--inverted:hover {
    color: #7986cb;
}
.button--antiman.button--inverted-alt:hover {
    color: #3f51b5;
}
.button--antiman:hover::before {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
}
.button--antiman:hover::after {
    opacity: 0;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
}
.bg-1 {
    background: #ECEFF1;
    color: #37474f;
}
.bg-1 .button {
    color: #37474f;
    border-color: #37474f;
}
.button--round-l {
    border-radius: 40px;
}
button span:hover {
    color: #00bcd4 !important;
}
.button--text-medium {
    font-weight: 500;
}
.chipss:hover {
    background-color: #00bcd4 !important;
}
.trans_box_shadow{
    border: 2px solid #00bcd4;
-webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -ms-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -o-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/*Feedback fixed css*/
.hummingbird-treeview ul:not(.hummingbird-base) {
    margin-bottom: 0px !important;
}
/*table#read_pro2 tbody tr:first-of-type {
    font-weight: bold;
}*/
table#read_pro2 tbody tr td:nth-of-type(5) {
    text-align: center;
}
th.ui-resizable {
    border: 1px solid #ddd !important;
}






/*Search*/

.expandSearch{
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.expandSearch i{
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 0px 2px 5px;
  color: #00bcd4;
  cursor: pointer;
  user-select: none;
  transition: 0.24s;
}
.expandSearch i:hover{
  color: #0bf;
}
.expandSearch input{
  border:none;
  background: transparent;
  font:12px/1.4 sans-serif;
  padding-left: 26px;
  background:#fff;
  border: 1px solid #ddd;
  border-radius: 2px;
  transition: 0.24s;
  width: 0px;
  padding: 4px 0px 2px 24px;
}
.expandSearch input:focus{
  outline: none;
  width:180px;
  padding: 4px 0px 2px 24px;
  border-color: #00bcd4;
}
.expandSearch input:focus + i{
  /*padding: 8px 4px 8px 8px ;*/
  color: #ddd;
  pointer-events: none;
}
.expandSearch .material-icons{
font-size: 17px !important;
}

.map_ico{
  height: 14px;
  width: 13px;
  opacity: 0.5;
}
.show_record_data_viewer{
    font-size: 12px;
    margin: 13px 0px 0px 0px;
    display: none;
}



table.my-custom-table tbody td {
    border: 1px solid #ddd;
}
table.my-custom-table thead th {
    border: 1px solid #ddd;
}


/*Toggle*/
.hide-preview-pane {
    position: fixed;
    left: 350px;
    width: 7px;
    height: 23px;
    display: block;
    cursor: pointer;
    outline: 0;
    background: url(../images/toggle-open.png);
}

.hide-preview-pane1 {
    width: 7px;
    height: 23px;
    position: fixed;
    z-index: 4;
    right: 20px;
    display: block;
    cursor: pointer;
    outline: 0;
    background: url(../images/toggle-close.png);
}
.tool-box{
    display: none;
    top:135px;
    width: 53px;
    left: 350px;
    z-index: 3;
    background: white;
    position: fixed;
    float:left;
    overflow: hidden;
  }
.tool-box1{
    display: none;
    top:135px;
    width: 53px;
    right: 20px;
    z-index: 3;
    background: white;
    position: fixed;
    float:left;
    overflow: hidden;
  }


span.hide{
  display: none;
}
span.show{
  display: inherit;
}



.tool-box svg, .tool-box1 svg{
    width:18px;
    height:18px;
}
.tool-box .row, .tool-box1 .row{
  margin:0;
  padding: 0;
}
.tool-box .col-md-12, .tool-box1 .col-md-12{
      padding: 0;
    margin: 0;
    text-align: center;
        border-bottom: 1px solid #7d6b6b;
}

.d-flex{
    display: flex;
}
.transformation-icon{
    display: flex;
    align-items: center;
    align-content: center;
}
.transformation-icon a {
    padding: 8px;
    display: inline-flex;
}
.icon-svg svg:hover {

    transform: scale(1.2);
    transition: .2s ease-in;

}
.icon-svg {
    display: inline-block;
    transition: all .5s;
    display: inline-flex;
    align-items: center;
}

.icon-svg path, polygon {
    fill:#fff !important;
}

svg circle{
    fill: #00bcd4 !important;
    stroke: 3px;
    stroke: #ffffff  !important;
    stroke-width: 6.3px !important;
}
svg circle:hover{
    fill: red !important;
    stroke: 3px;
    stroke: #ff9800 !important;
    stroke-width: 6.3px !important;
}

.transformation-icon {
    display: flex;
    align-items: center;
    align-content: center;
    border: 3px solid #00bcd4;
    margin: 0px;
    padding: 0px;
    background: #3a3a3a;
    border-left: none;
    border-radius: 8px;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.transformation-tools-icon {
    display: flex;
    align-items: center;
    align-content: center;
    /*border: 3px solid #3a3a3a;*/
    background: #2e214c;;
    border: 3px solid #00bcd4;
    margin: 0px;
    padding: 7px 0 0 0px;
    /*background: #00bcd4;*/
    border-right: none;
    border-radius: 8px;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}

div#connector-form label {
    font-size: 12px;
    font-weight: 400;
}
.ui-resizable-e{
    display: none !important;
}
.ui-resizable-s{
    display: none !important;
}

/* .img-menu {
    width: 45px;
    height: 45px;
    float: left;
    margin-right: 15px;
    line-height: 30px;
    margin-left: -6px;
    text-align: center;
    margin-top: -7px;
} */
.img-menu {
  width: 33px;
  height: 41px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  margin-left: -6px;
  text-align: center;
  margin-top: -7px;
  cursor: pointer;
}

.w-h-40 {
    z-index: 4;
    }
.header_title_table span{
    width: 18px;
    height: 18px;

}
#chooseDatasourceSec button svg, .header_title_table svg{
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: #828080;
    border-radius: 50%;
    position: relative;
    top: -2px;
    left: -4px;
    padding: 2px;
}

.container_max svg{
    width: 34px;
    height: 34px;
    border: 2px solid #0693a5;
    padding: 5px;
    border-radius: 50%;
    background: #00bcd4;
    box-shadow: 0 15px 18px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
/*.container_max span{
    width:50px;
    height:50px;
    position: absolute;
    top: 28px;
    left:2px;
}*/
.container_max span {
    position: absolute;
    text-align: center;
    width:100%;
    height:100%;
}
.drag_table a{
        color: #00bcd4 !important;
    font-size: 12px !important;
    padding: 3px !important;
    margin-top: 0px !important;
    z-index: 9999999999;
}
.drag_table{
    /*display: flex;
    flex-direction: column;*/
    height: 220px;
    width: 260px;
    cursor: pointer;
    /*border:1px solid black;*/
}
.drag_table .container_max a{
     width: 100%;
     height:100%;
    }

    .drag_table a,.popConnectIcon a {
      color: var(--content-color) !important;
      font-size: 12px !important;
      padding: 1px !important;
      margin-top: 0px !important;
      z-index: 999;
    }
.container_min{
    width: 100%;
    height: 79%
}
.tab_icon_hide{
    height: 9%
}
.header_title_table {
    height: 12%
}
#read_pro2 {margin-top: -1px;}

.display {margin-top: -1px;}

.my-custom-table {margin-top: -1px;}

[data-draggable="item"][aria-grabbed="true"] {
    background: #8ad;
    color: #fff;
}
.minimize_label_text{
        color: #00bcd4;
    font-weight: bold;
    position: relative;
    top: 35px;
    left: 5px;
    font-size: 11px;
    margin-top: 0px !important;
}
.second-layer {
    z-index: 2;
    }
/*.tablefont tbody tr td{
    pointer-events: none ;
}
.tablefont tbody tr td:first-of-type{
    pointer-events: unset ;
}
.tablefont tbody tr td:last-of-type{
    pointer-events: unset ;
}*/
.premo p{
    margin: 0;
    font-size: 12px;
    padding: 0 0 0 5px;
}
.premo{
margin:0;
height: 100%;
}
.premo .col-md-12{
    padding: 0;
    border-bottom: 1px solid #ddd;
}

ul.pop-tab{
    flex-wrap: inherit;
    padding: 0 0px;
    margin-left: 9px;
}
#vert-tabs1 {
    border-right: solid 2px #00bcd4;
}
div#vert-tabs1 .nav-link {
    padding: 0px 0px;
    line-height: 22px;
    text-transform: inherit !important;
    font-size: 12px;
    font-weight: 500;
    min-width: 77px;
    text-align: center;
    transition: all .3s;
    border-radius: 6px;
}
ul.pop-tab1{
    flex-wrap: inherit;
    padding: 0 0px;
}
div#exp_Con .nav-link {
    padding: 0px 6px;
    line-height: 22px;
    text-transform: inherit !important;
    font-size: 12px;
    font-weight: 500;
    min-width: 77px;
    text-align: center;
    transition: all .3s;
    border-radius: 6px;
}
div.cad-bdy {
    padding: 5px !important;
    position: relative;
    margin: 7px 2px 7px 2px;
}
div#vert-tabs1 div.tab-pane{
    background: white;
    border-radius: 8px;
    height: 291px;
    border: 1px solid rgb(169, 169, 169);
    margin: 5px 0 0 8px;
    padding: 0px 1px 0px 1px;
}
div#Exp_link1 a, div#Exp_link2 a, div#Exp_link3 a, div#Exp_link4 a {
    color: black;
}
div#Exp_link1 .db-list-group a.list-group-item, div#Exp_link2 .db-list-group a.list-group-item, div#Exp_link3 .db-list-group a.list-group-item, div#Exp_link4 .db-list-group a.list-group-item {
    margin: 0px 0 -3px 0;
}
div#Exp_link1 .db-list-group, div#Exp_link2 .db-list-group, div#Exp_link3 .db-list-group, div#Exp_link4 .db-list-group {
    overflow: auto;
    height: 256px;
    overflow-x: hidden;
    padding: 5px 0 5px 0px;
    border-radius: 0px;
    font-size: 12px;
    border: 0px solid lightgray;
}
div#Exp_link1 .db-list-group a:hover, div#Exp_link2 .db-list-group a:hover, div#Exp_link3 .db-list-group a:hover, div#Exp_link4 .db-list-group a:hover{
    color:white;
}

div#Exp_link1 div.form-group, div#Exp_link2 div.form-group, div#Exp_link3 div.form-group, div#Exp_link4 div.form-group {
    margin: 10px 0 0 0;
    padding: 0 0 0 0;
}
div#Exp_link1 input.form-control, div#Exp_link2 input.form-control, div#Exp_link3 input.form-control, div#Exp_link4 input.form-control{
    height: 22px;
}
#confirmMessageID{
    display: none;
}


.ico_bor {
    color: white;
    font-size: 18px !important;
}

.ico_bor i:hover{
transform: scale(1.2);
    transition: .2s ease-in;
}


table#read_pro2 tbody tr td:nth-child(7) {
    text-align: left !important;
}
table#read_pro2 tbody tr td:nth-child(6){
    text-align: center !important;
}
.show_reco .filter-option {
padding-right: 0 !important;
}

.show_reco{
    position:absolute; top:-9px; right:0px;
}


#link4{
    padding-top:0px !important;
}

.customdatademo {
  position: relative;
  z-index: 4;
}
.customdatademo:hover::after {
  content: attr(data-tooltip) ;
  position: absolute;
  top: 12px;
  left: 12px;
  min-width: 150px ;
  border: 1px solid #ddd;
  border-radius: 2px;
  padding: 2px;
  color: white;
  margin: 0px;
  font-size: 11px;
  text-align: left;
  background-color: #00bcd4;
  z-index: 4;
}
#nameTabChange .filter-option-inner-inner{
        text-align: center;
   /* font-size: 10px;*/
    padding-top: 2px;

}

.show_reco .data_viewer .filter-option-inner-inner{
     font-size: 10px !important;
    }




.activeConnector a {
    color: white !important;
}

.chip a:hover{
    color: white !important;
}
.ui-icon {

    z-index: 0 !important;
}

span.pull-right a i:hover{
    color: #00bcd4;
}


#read_pro2 tbody td{
    border: 1px solid #ddd;
}

.stat_icon_stats{
    padding-right: 5px;
     cursor: pointer;
}

.header_title_table svg {
  width: 100%;
  height: 100%;
}
.table td.stat_classes {
    max-width: 177px;
}
.table td.stat_classes span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    max-width: 80%;
    vertical-align: middle;
}



#canvas .drag_table .ui-widget-header {
    background: #fff;
    }
