.hgt100 {
  height: 100%;
}
.hgt86 {
  height: 91%;
}
.overflowAuto {
  overflow: auto;
}
.w3-sidebar {
  border-radius: 12px;
  height: auto !important;
  min-height: calc(99vh - 80px) !important;
}
#f_page {
  height: 100%;
}

.w3-card,
.w3-card-2 {
  box-shadow: none !important;
}
.add_prop_ext_cls {
  position: absolute !important;
  width: 78.4% !important;
  bottom: 13px !important;
}
.findThis {
  display: none;
}

.w3-sidebar {
  height: 100%;
  width: 200px;
  background-color: #fff;
  position: fixed !important;
  z-index: 1;
  overflow: auto;
}

.w3-main,
#main {
  transition: margin-left 0.4s;
}
.w3-bar-block .w3-bar-item {
  width: 100%;
  display: block;
  padding: 8px 16px;
  text-align: left;
  border: none;
  white-space: normal;
  float: none;
  outline: 0;
}

.w3-block {
  display: block;
  width: 100%;
}

.w3-card,
.w3-card-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

ul.live-search-list li label {
  color: black !important;
}

label.input-group-btn span.upload_btn {
  padding: 8px 7px;
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
}
div.btn-fle {
  margin-top: 45px;
}

input#changeTableId {
  padding: 9px 0 0 0 !important;
}
span.is-filled {
  width: 80% !important;
  margin: -10px 0 -5px 0;
}
input#ff_others {
  margin: -16px 0 0 0;
}
ul.live-search-list li input {
  vertical-align: middle;
}
.checkbox-radios {
  display: inherit;
}
div.btn1-flat {
  margin-top: 30px;
  border-top: 1px solid lightgray;
  padding-top: 36px;
}

table#preview-second {
  display: none;
}
#drop-hide {
  display: flex;
}

.flex-con-row {
  width: 100%;

}



.flex-con-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.flex-con-col-r {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-con-colum {
  width: 80%;
}

.w-h-20 {
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 7px;
  margin-right: 3px;
}

.w-h-20-r {
  width: 20% !important;
  height: 100%;
  background-color: white;
  border-radius: 7px;
  margin-right: 3px;
}

.w-h-5 {
  width: 100%;
  /* background: #ddd; */
  border-radius: 7px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}
.chip_bottom_line {
  border-bottom: 2px solid #00bcd4;
}
.w-h-8 {
  width: 100%;
  height: 8%;
}

.w-h-95 {
  width: 100%;
  height: 95%;
  /*background-color: white;*/
}

.w-h-60 {
  height: 60%;
  width: 100%;
  background-color: white;
  border-radius: 7px;
  border-bottom-left-radius: unset;
  border-bottom-right-radius: unset;
}

.w-h-40 {
  height: 39.6%;
  width: 100%;
  background-color: white;
  border-radius: 7px;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
}
#link4 {
  position: relative;
  background: #fff;
}
#link3 {
  background: #fff;
}
#show_record_table {
  position: absolute;
  height: 100%;
}

.table-body-cell {
  display: table-cell;
  font-size: 10px;
  padding-left: 3px;
}

.resp-table-row {
  display: table-row;
}

.resp-table-body {
  display: table-row-group;
}

.table-header-cell {
  display: table-cell;
  padding: 5px;
  text-align: justify;
  border-bottom: 1px solid #999;
}

.table-header-cell input {
  background-color: #fff;
}

.resp-table-header {
  display: table-header-group;
  background-color: #d0d0d0;
  line-height: 7px;
  padding: 0;
}

.resp-table-caption {
  display: table-caption;
  text-align: left;
  border: 2px solid #999;
  border-bottom: none;
}

.resp-table {
  width: 100%;
  display: table;
  border: 2px solid #999;
  margin: 20px;
  font-size: 12px;
}

.tr-edit-icons {
  display: none;
  opacity: 1;
  border: none;
  color: black;
}

.resp-table-row:hover {
  background-color: #ddd;
  cursor: pointer;
}

.height_set tr:hover .tr-edit-icons {
  display: inline-block;
  /* opacity: 1; */
  border: none;
  color: black;
  position: absolute;
  width: auto;
  background: #fff;
  /*border: solid 1px #ccc;*/

  right: 0px;
  height: 22px;
  margin-top: 1px;
}




.resp-table-row:hover .tr-edit-icons i {
  font-size: 12px;
  color: #999;
  margin-top: -4px;
}

.activeConnector1 {
  background-color: #fff !important;
}
.chipss:hover {
  background-color: #ffeb3b !important;
}
.chipss {
  border: 1px solid #00bcd4 !important;
}

.db-list-group {
  overflow: scroll;
  height: 172px;
  overflow-x: hidden;
  border: 2px solid lightgray;
  padding: 5px 0 5px 9px;

  border-radius: 3px;
  font-size: 12px;
}

.db-list-group-01 {
  border: 2px solid lightgray;
  padding: 5px 0 5px 0px;
  border-radius: 3px;
  font-size: 12px;
}

.db-list-group .list-group-item {
  padding: 1px 1px 1px 4px !important;
}
.db-list-group .list-group-item:hover {
  transition: all 0.25s linear;
  background-color: #00bcd4;
  border-color: #00bcd4;
  color: white;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
  border-radius: 4px;
}
.transformation-icon a {
  padding: 8px;
}
#droppable_area {
  position: relative;
  overflow: auto;
}
.height_set {
  /*   width: 25%;
    border: 1px solid;
    border-collapse:collapse;*/
  /* height: 130px;
  overflow-y: scroll*/
}
.height_set tr td,
.height_set tr th {
  border: 1px solid;
  border-collapse: collapse;
}
.height_set .tr-edit-icons i {
  font-size: 17px;
}

.servicetable {
  border: 1px solid #000;
  list-style: none;
  padding: 2px;
  width: 49%;
  display: inline-block;
}

.jtk-connector {
  z-index: 1;
}

.demo {
  text-align: center;
}

.list {
  border: 1px solid #ccc;
  width: 200px;
  position: absolute;
  padding: 10px;
}

.list ul {
  max-height: 250px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.list li {
  background-color: #fff1c6;
  margin-bottom: 5px;
}

.drag_table {
  /*border: 3px solid #414243;*/
  /*width:20%;*/
  /*    width:325px;
    height:300px;*/
  /*    overflow: auto;
    overflow-x: hidden;*/
  position: absolute;
  background: #ffff;
}

.drag_table ul {
  max-height: 250px;
  overflow: auto;
  margin: 0;
  padding: 0;
}

.drag_table li {
  background-color: #dcdcdc;
  margin-bottom: 5px;
}

.jtk-drag-active {
  background-color: #cbeae1 !important;
}

.jtk-drag-hover {
  background-color: #5c96bc !important;
  color: white;
}

[jtk-scrollable-list] {
  position: relative;
}

div.li-table {
  width: 28%;
}
ul.li-table1 {
  list-style-type: none;
  width: 100%;
  padding-inline-start: 0;
  margin-bottom: 0;
}
ul.li-table1 li {
  width: 100%;
  padding: 0px !important;
  margin: 0;
  padding: 0;
  display: inline-flex;
}
ul.li-table1 li span {
  border: 1px solid #ddd;
  overflow-wrap: break-word;
  margin: 0px -1px -1px 0 !important;
  font-size: 10px;
  padding: 0px 3px;
}
.width50 {
  width: 50%;
}
.width80 {
  width: 80%;

}
.width0 {
  width: 0%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.width80-r {
  width: 80% !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.width20-r {
  width: 20% !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.width100-r{
  width: 20%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
.width90 {
  width: 90%;
}
.width20 {
  width: 20%;
}
.width40 {
  width: 40%;
}
.width10 {
  width: 10%;
}
.width100 {
  width: 100%;
}
.width70 {
  width: 70%;
}
.width30 {
  width: 30%;
}
ul.li-table1 li,
.flex-li-header {
  display: flex;
  flex-direction: row;
}
ul li.pad-0 span {
  padding: 0px !important;
}
.flex-li-header span {
}
.flex-li-header {
  padding: 0 3px;
}
ul.li-table1 li:nth-of-type(odd) {
  background-color: #f9f9f9;
}
ul.li-table1 li::nth-of-type(even) {
  background-color: white;
}
ul.li-table1 li:hover {
  background-color: #e6e6e6;
}
.flex-li-header {
  background: #414243;
}

.borderBtn {
  border-bottom: solid 2px #ccc;
}
.overflowhidden {
  padding: 1px 4px;
  overflow: hidden;
  color: #bec3c7;
}
.li-row {
  cursor: pointer;
}
.li-row.overflowhidden span {
  font-size: 11px;

  padding: 0px;
}
.li-row.overflowhidden span a {
  /*padding: 0px 2px;*/
}
.sp1 {
  width: 30%;
  border-right: none !important;
}
.sp2 {
  width: 70%;
  border-right: none !important;
  text-align: right;
}
ul li.pad-0:hover ul li.pad-0 .add_new_row_ico {
  display: inherit;
}
.connectorImage {
  opacity: 0;
}
.connectorImage:hover {
  opacity: 1;
}
.container_max {
  display: none;
}
.minimize_image {
  width: 70px;
}
.minimize_icon {
  position: absolute;
  height: 70px;
  width: 70px;
  opacity: 0;
}
.highlight {
  background-color: #00bcd4 !important;
}

.li-row.overflowhidden .material-icons {
  color: #fff;
}

.tab_icon_hide {
  display: none;
  text-align: center;
  background: #fff;
}
#mapping_drop_hide,
#mapping_drop_hide1,
#read_pro2 {
  display: none;
}

div.mar-top {
  margin-top: 58px;
  display: inline-flex;
}
div.mar-left {
  margin-left: 129px;
}
div.mar-left1 {
  margin-left: 78px;
}
div.mar-top {
  margin-top: 25px;
  margin-left: 15px;
}
/*table.hide, i.hide, option.hide, div.hide{
    display: none;
}
table.show, i.show, option.show, div.show{
    display: inherit;
}*/
div.droppable_area div.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
span.ico-tab {
  float: right;
  font-size: 14px;
}
span.ico-tab i:hover {
  color: #00bcd4;
  cursor: pointer;
}
table#read,
table#write {
  cursor: pointer;
}
.tab_sha {
  box-shadow: 0px 0px 1px 2px #00bcd4;
}
span#read_gen {
  font-size: 15px !important;
}
span.ico {
  font-size: 15px;
  float: right;
  margin: 0 6px 0 0;
  cursor: pointer;
}
span.ico i {
  padding: 0 2px 0 2px;
}
span.ico i:hover {
  color: #00bcd4;
}
td i.fa-check-circle {
  font-size: 16px;
}
div#case_add div.bootstrap-select .dropdown-menu li a span.text {
  font-size: 12px !important;
}
label.pad_non {
  padding: 0 0 0px 0px;
  margin-bottom: 0px !important;
}
div#case_add div.dropdown.bootstrap-select.data_viewer {
  margin: -10px 0 10px 0;
}
p.deli {
  margin: 10px 0 0 0;
  color: #333;
  font-size: 11px !important;
  font-weight: bold;
}

div.dis_non .bootstrap-select .dropdown-menu li:nth-of-type(3) {
  display: none !important;
}
table.padd_min {
  margin-bottom: 16px !important;
  margin-top: 7px !important;
}
table.padd_min tbody td {
  padding: 0 0 0 0 !important;
}
table.padd_min tbody td:first-of-type {
  padding-left: 10px !important;
}

div.tab_over {
  overflow: scroll;
  overflow-x: hidden;
  height: 402px;
}
.container_min {
  height: 160px;
  width: 180px;
  border: 1px solid #00bcd4;
}
.container_min .display {
  font-size: 11px;
}
.header_title_table {
  border: 1px solid #00bcd4;
  border-bottom: none;
  border-radius: 9px;
  font-size: 12px;
  padding: 0px 4px 0px 7px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 600;
  background: #fff;
}
.drag_table .container_min > table > thead > tr > th:last-of-type {
  z-index: 1 !important;
}

.drag_table .container_min > table > tbody > tr > td:last-of-type {
  z-index: 0 !important;
  border: none;
  border-bottom: solid 1px #ccc;
  background: #ddd;
}

.drag_table .container_min > table > tbody > tr > td:first-of-type {
  border: none;
  border-bottom: solid 1px #ccc;
  background: #ddd;
}

.drag_table .container_min > table > tbody > tr > td:nth-child(2) {
  font-weight: 600;
}

.drag_table .container_min > table > tbody > tr > td {
  border: solid 1px #ccc;
  line-height: 15px;
}

/*#mappping_link3_read_pro2{
    height: 180px;
    overflow: auto;
}*/

.transformation-icon a {
  color: #ccc;
}

.tool_ico a {
  color: #00bcd4;
}

path {
  fill: #fff !important;
}
​ path:hover {
  fill: #1fbdd2;
}

.ui-widget-header {
  font-weight: normal;
}

.drag_table a {
  color: #00bcd4;
  font-size: 12px;
  padding: 3px;
}

.drag_table a:hover {
  color: #ccc;
  font-size: 12px;
}

.tablefont {
  background: #fff;
  font-size: 12px;
}

.tablefont tbody tr td {
  border: solid 1px #ccc;
  padding-left: 5px;
}

.tablefont .fa {
  font-size: 14px;
}
.mainNav11 path {
  fill: #727272 !important;
}

.mainNav11 .active-firstLevel path {
fill: var(--content-color) !important;
}

​.mainNav11 path:hover {
  fill: #1fbdd2;
}

