.mb0 {
    margin-bottom: 0 !important;
}

/*.main-panel > .content-dq {
    margin-top: 69px;
    padding: 0;
    min-height: calc(100vh - 78px);
    position: relative;
    width: 100%;
}

.content-dq > .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
}*/

/*#treeview_container {
    height: calc(95vh - 120px) !important;
}*/

#treeview_container1 {
  height: calc(95vh - 120px) !important;
}
.col-height-100 {
    height: 100%;
    margin: 0;
}

.side-bg-color {
    background: #fff;
    padding: 12px;
    color: #fff;
    border-right: 1px dotted #00bcd4;
}

/*.bg-grey2 {
    min-height: auto !Important;
    border-color: #fff;
    border: solid 1px #00bcd4;
}

.bg-grey-3 {
    min-height: auto !Important;
    background-color: #424242;
    border-radius: 5px;
}*/

.padding-0 {
    padding: 0 !important
}

.tree-icon {
    width: 14px;
    height: 15px;
    position: relative;
    padding: 1px;
    border-radius: 12px;
    margin-left: 0px;
    margin-top: -1px;
    font-size: 9px;
    border: solid 2px #ccc;
    display: inline-block;
    padding: 0px 0px 0px 0px;
}


.hummingbird-treeview label {
    font-weight: normal;
    color: #2a2a2a;
}

.tree-file {
    color: #999 !important;
    font-size: 10px;
    position: relative;
    top: -1px;
}

.nav-pills .nav-item .nav-link {
    text-transform: none;
}

.card [class*=card-header-]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
    border-radius: 3px;
    margin-top: -54px;
    padding: 0px 12px 0px 0px;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-title {
    padding: 6px !important;
}
.content-dq #treeview_container1 {
  margin-top: 14px;
}

/*.content-dq .card-body {
    padding: 10px;
}

.content-dq #treeview_container {
    margin-top: 14px;
}*/

.hummingbird-treeview,
.hummingbird-treeview * {
    color: inherit;
}

/*.padd-left {
    padding-left: 5px
}*/

.label-text span a {
    color: #ccc !important;
}

.hummingbird-treeview a:hover {
    color: #888888;
    text-decoration: underline;
}
.hummingbird-treeview,
.hummingbird-treeview a:hover,
a:focus {
  color: #888888;
  /* text-decoration: underline; */
}

.height-45 {
    height: 45%;
}

.height-15 {
    height: 15%;
}

.height-40 {
    height: 40%;
}

.height-60 {
    height: 60%;
}

.preview_table {
    overflow: auto;
}

/* .tab-content > .active {
    display: block;
    padding: 1px 1px 6px 1px;
} */

.hgt100 .nav-pills .nav-item .nav-link {
    padding: 1px 3px;
    text-align: center;
    margin-bottom: 1px
}

.ico-top-pos {
    position: absolute;
    top: 4px;
    right: 12px;
    color: #717575;
    cursor: pointer;
}

.ico-top-pos-slide {
    position: absolute;
    top: 50%;
    left: -8px;
    color: #717575;
    cursor: pointer;
    font-size: 23px;
    font-weight: 600;
}

.icon-back {
    width: 15px;
    height: 45px;
    background: #fff;
    border-radius: 3px;
    border: solid 1px #ccc;
    border-right: none;
    padding-top: 10px;
    padding-left: 5px;
}

.hummingbird-treeview ul:not(.hummingbird-base) {
    margin-left: 5px !important
}

#treeview ul,
#chosenTreeview ul {
    padding-left: 8px !important;
}

.form-check .form-check-sign .check {
    border: 1px solid #999;
}

.margin-12 {
    margin-top: 12px;
}

.margin-left-01 {
    margin-left: 12px
}

@-webkit-keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}

@keyframes dash {
    to {
        background-position: 100% 0%, 0% 100%, 0% 0%, 100% 100%;
    }
}
