.ds_default .activeTab {
    background-color: #262525 !important;
}

.ds_default .no-data {
    color: #666666 !important;
    font-family: Verdana, sans;
    font-size: 14px;
    text-anchor: middle;
    border-bottom: none;
    text-shadow: #ccc;
    text-shadow: 0px 0px #2a2a2a;
}

.ds_default .side-filter-hold .btn.btn-rose {
    color: #4a4a4a  !important;
}

.ds_default #side-filter-hold .mat-input-element {
    color: #333333 !important;
}