.ds_gray #card-body {
    background-color: #171616 !important;
}

.ds_gray .tabss {
    background-color: #151515 !important;
}

.ds_gray .activeTab {
    background-color: #6b6a6a !important;
}

.ds_gray #dashboard-hold {
    border-color: #6b6a6a !important;
}

.ds_gray .singleTilesTheme {
    background-color: #2f2f2f;
}

.ds_gray .singleTilesTheme .text-muted {
    /* color: #8e8e8e !important; */
    color:#cfcdcd !important
}

.ds_gray .titleCaption {
    color:#dfdfdf !important
}

.ds_gray .singleTilesTheme .parentCaption {
  color:#939393 !important
}

.ds_gray .singleTilesTheme h2,
.ds_gray .singleTilesTheme .yoyText {
    color: #60f766 !important;
}

.ds_gray .singleTilesTheme .yoyText-red {
    color: red !important;
}

.ds_gray .singleTilesTheme table th {
    background: #232222;
}

.ds_gray .singleTilesTheme table th {
    box-shadow: none;
    color: #949494;
    border: solid 1px #5a5959 !important;
}

.ds_gray .singleTilesTheme table tr td {
    border: solid 1px #5a5959 !important;
    color: #c5c4c4 !important;
}

.ds_gray .loader6Css svg rect {
    fill: #FF5722;
}

.ds_gray .singleHr {
    border-color: #1b1b1b !important;
}

.ds_gray .multipleHr {
    border-color: #fff !important;
}

.ds_gray .loader6Card {
    background-color: #171616 !important;
    border: 2px solid #281818eb !important;
}

.ds_gray .side-filter-hold,
.ds_gray #filterHeader h5 {
    background-color: #121212 !important;
    border-color: #777777 !important;
    color: #ffffff;
}

.ds_gray .bmd-label-static,
.ds_gray .form-control {
    color: #dfdfdf;
}

.ds_gray .multiselect-dropdown .dropdown-btn .selected-item {
    background-color: unset !important;
    color: #e0dede !important;
}

.ds_gray .btn.btn-rose {
    background-color: #121212 !important;
    color: #e0dede !important;
}

.ds_gray .btn.btn-rose {
    border: 1px solid #ccc !important;
    box-shadow: none;
    border-radius: 3px;
}

.ds_gray .popoverHold {
    background-color: #121212 !important;
    border: 5px solid #777777 !important;
}

.ds_gray .popoverHold .card {
    background-color: #121212 !important;
}

.ds_gray .popoverHold table th {
    background: #232222;
}

.ds_gray .popoverHold table th {
    box-shadow: none;
    color: #949494;
    border: solid 1px #9a9a9a !important;
}

.ds_gray .popoverHold table tr td {
    border: solid 1px #9a9a9a !important;
    color: #b9b9b9 !important;
}

.ds_gray [tooltip]::after {
    background: #171616 !important;
    color: #8e8e8e !important;
}

.ds_gray .swiper-pagination-bullet-active {
    background: #FF5722 !important;
}

.ds_gray .popoverHold .card h5 {
    color: #dfdfdf!important;
}

.ds_gray #card-body {
    height: 100%;
}

.ds_gray ng-multiselect-dropdown .dropdown-list,
.ds_gray ng-multiselect-dropdown .filter-textbox input {
    background: #121212 !important;
    color: #ffffff !important;
    box-shadow: none;
    border-color: #6b6a6a !important;
}

.ds_gray .side-filter-hold {
    border: 5px solid;
}

.ds_gray .toggle-side-filter {
    background-color: #FF5722 !important;
}

.ds_gray .multiselect-dropdown .dropdown-btn {
    border-bottom-color: #6b6a6a !important;
}

.ds_gray .multiselect-item-checkbox input[type=checkbox]+div {
    color: #fff !important;
}

.ds_gray .multiselect-item-checkbox input[type="checkbox"]+div:before {
    border: 1px solid #FF5722 !important;
}

.ds_gray .form-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, #FF5722 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #6b6a6a 1px, hsla(0, 0%, 82%, 0) 0) !important;
}

.ds_gray .dropdown-list .filter-textbox {
    border-bottom: none !important;
}

.ds_gray .multiselect-item-checkbox input[type=checkbox]+div:after {
    border-color: #FF5722 !important;
}

.ds_gray .popoverHold .material-table table tbody tr:hover {
    background-color: #FF5722 !important;
}

.ds_gray .no-data {
    color: #c7c7c7 !important;
    font-family: Verdana, sans;
    font-size: 14px;
    text-anchor: middle;
    border-bottom: none;
    text-shadow: #ccc;
    text-shadow: 0px 0px #2a2a2a;
}

.ds_gray .swiper-pagination-bullet {
    background: #ccc;
    opacity: 0.8 !important;
}

.ds_gray .modal-dialog .modal-header,
.ds_gray .material-table .table-responsive table th {
    background: #232222 !important;
    color: #fff !important;
}

.ds_gray .modal-content tr td:first-child,
.ds_gray .modal-content tr td:last-child {
    border-left: solid 1px #949494 !important;
    border-right: solid 1px #949494 !important;
}

.ds_gray .material-table table tr td {
    border: 1px solid #949494 !important;
}

.ds_gray .material-table table tbody tr:hover {
    background-color: #FF5722 !important;
}

.ds_gray .material-table table tbody tr:hover td {
    color: #ffffff !important;
}

.ds_gray #side-filter-hold .mat-input-element {
    color: #8e8e8e !important;
}
