.ds_purple #card-body {
    background-color: #2b030d !important;
}

.ds_purple .tabss {
    background-color: #2b030d !important;
}

.ds_purple .activeTab {
    background-color: #b91e52 !important;
}

.ds_purple #dashboard-hold {
    border-color: #b91e52 !important;
}

.ds_purple .singleTilesTheme {
    background-color: #4c011a;
}

.ds_purple .singleTilesTheme .text-muted {
    color: #8e8e8e !important;
}

.ds_purple .singleTilesTheme h2,
.ds_purple .singleTilesTheme .yoyText {
    color: #ff699c !important;
}

.ds_purple .singleTilesTheme table th {
    background: #b91e52;
}

.ds_purple .singleTilesTheme table th {
    box-shadow: none;
    color: #949494;
    border: solid 1px #5a5959 !important;
}

.ds_purple .singleTilesTheme table tr td {
    border: solid 1px #5a5959 !important;
    color: #8e8e8e;
}

.ds_purple .loader6Css svg rect {
    fill: #b91e52;
}

.ds_purple .singleHr {
    border-color: #1b1b1b !important;
}

.ds_purple .multipleHr {
    border-color: #fff !important;
}

.ds_purple .loader6Card {
    background-color: #2b030d !important;
    border: 2px solid #281818eb !important;
}

.ds_purple .side-filter-hold,
.ds_purple #filterHeader h5 {
    background-color: #4c011a !important;
    border-color: #e35f8b !important;
    color: #f4b6cb;
}

.ds_purple .bmd-label-static,
.ds_purple .form-control {
    color: #f4b6cb;
}

.ds_purple .multiselect-dropdown .dropdown-btn .selected-item,
.ds_purple .btn.btn-rose {
    background-color: #2b030d !important;
    color: #f4b6cb !important;
}

.ds_purple .btn.btn-rose {
    border-color: #2b030d !important;
    box-shadow: none;
    border-radius: 7px;
}

.ds_purple .popoverHold {
    background-color: #4c011a !important;
    border: 5px solid #e35f8b !important;
}

.ds_purple .popoverHold .card {
    background-color: #4c011a !important;
}

.ds_purple .popoverHold table th {
    background: #2b030d;
}

.ds_purple .popoverHold table th {
    box-shadow: none;
    color: #f4b6cb;
    border: solid 1px #5a5959 !important;
}

.ds_purple .popoverHold table tr td {
    border: solid 1px #5a5959 !important;
    color: #cacaca;
}

.ds_purple [tooltip]::after {
    background: #2b030d !important;
    color: #8e8e8e !important;
}

.ds_purple .swiper-pagination-bullet-active {
    background: #b91e52 !important;
}

.ds_purple .popoverHold .card h5 {
    color: #cacaca!important;
}

.ds_purple #card-body {
    height: 100%;
}

.ds_purple ng-multiselect-dropdown .dropdown-list,
.ds_purple ng-multiselect-dropdown .filter-textbox input {
    background: #4c011a !important;
    color: #ffffff !important;
    box-shadow: none;
    border-color: #6b6a6a !important;
}

.ds_purple .side-filter-hold {
    border: 5px solid;
}

.ds_purple .toggle-side-filter {
    background-color: #b91e52 !important;
}

.ds_purple .multiselect-dropdown .dropdown-btn {
    border-bottom-color: #6b6a6a !important;
}

.ds_purple .multiselect-item-checkbox input[type=checkbox]+div {
    color: #fff !important;
}

.ds_purple .multiselect-item-checkbox input[type="checkbox"]+div:before {
    border: 1px solid #b91e52 !important;
}

.ds_purple .form-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, #b91e52 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #6b6a6a 1px, hsla(0, 0%, 82%, 0) 0) !important;
}

.ds_purple .dropdown-list .filter-textbox {
    border-bottom: none !important;
}

.ds_purple .multiselect-item-checkbox input[type=checkbox]+div:after {
    border-color: #b91e52 !important;
}

.ds_purple .popoverHold .material-table table tbody tr:hover {
    background-color: #b91e52 !important;
}

.ds_purple .no-data {
    color: #666666 !important;
    font-family: Verdana, sans;
    font-size: 14px;
    text-anchor: middle;
    border-bottom: none;
    text-shadow: #ccc;
    text-shadow: 0px 0px #2a2a2a;
}

.ds_purple .swiper-pagination-bullet {
    background: #ccc;
    opacity: 0.8 !important
}

.ds_purple .modal-dialog .modal-header,
.ds_purple .material-table .table-responsive table th {
    background: #921840 !important;
    color: #fff !important;
}

.ds_purple .modal-content tr td:first-child,
.ds_purple .modal-content tr td:last-child {
    border-left: solid 1px #949494 !important;
    border-right: solid 1px #949494 !important;
}

.ds_purple .material-table table tr td {
    border: 1px solid #949494 !important;
}

.ds_purple .material-table table tbody tr:hover {
    background-color: #b91e52 !important;
}

.ds_purple .tabss .menulink {
    color: #ff527e !important;
}

.ds_purple .activeTab .menulink {
    color: #ffffff !important;
    font-weight: 400 !important;
}