.hummingbird-treeview,
.hummingbird-treeview *
{
    list-style: none;
    font-size: 12px;
    line-height: 12px;
}

.hummingbird-treeview label {
    font-weight: normal;
    color:#6c757d;
}

/*
.hummingbird-treeview input[type=checkbox] {
    width : 16px;
    height :16px;
    padding: 0px;
    margin: 0px;
}*/

.hummingbird-treeview ul:not(.hummingbird-base) {
    display: none;
    border-left: dotted 1px #ccc !Important;
    margin-bottom:5px;
    margin-left: 5px;
}

.hummingbird-treeview .fa {
    font-style: normal;
    cursor: pointer;
}


        .stylish-input-group .input-group-addon{
    background: white !important;
}
.stylish-input-group .form-control{

    box-shadow:0 0 0;
    border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.h-scroll {
    background-color: #fcfdfd;
    height: 260px;
    overflow-y: scroll;
}



/*.hummingbird-treeview input[type="checkbox"], input[type="radio"]{
	position: absolute;
	right: 9000px;
}*/

/*Check box*/
input[type="checkbox"] + .label-text:before{
	content: "\f096";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
/*	display: inline-block;*/
    display: none;
	margin-right: 5px;
    color:#ccc;
}

input[type="checkbox"]:checked + .label-text:before{
	content: "\f14a";
	color: #ccc;
	animation: effect 250ms ease-in;
}

input[type="checkbox"]:disabled + .label-text{
	color: #aaa;
}

input[type="checkbox"]:disabled + .label-text:before{
	content: "\f0c8";
	color: #ccc;
}

/*Radio box*/

input[type="radio"] + .label-text:before{
	content: "\f10c";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 5px;
}

input[type="radio"]:checked + .label-text:before{
	content: "\f192";
	color: #8e44ad;
	animation: effect 250ms ease-in;
}

input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

input[type="radio"]:disabled + .label-text:before{
	content: "\f111";
	color: #ccc;
}

/*Radio Toggle*/

.toggle input[type="radio"] + .label-text:before{
	content: "\f204";
	font-family: "FontAwesome";
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing:antialiased;
	width: 1em;
	display: inline-block;
	margin-right: 10px;
}

.prenode::before
{ font-family: FontAwesome;
    content: "\f15b";
    font-size: 10px;
color: #c9c8c8;}


.toggle input[type="radio"]:checked + .label-text:before{
	content: "\f205";
	color: #16a085;
	animation: effect 250ms ease-in;
}

.toggle input[type="radio"]:disabled + .label-text{
	color: #aaa;
}

.toggle input[type="radio"]:disabled + .label-text:before{
	content: "\f204";
	color: #ccc;
}


@keyframes effect{
	0%{transform: scale(0);}
	25%{transform: scale(1.3);}
	75%{transform: scale(1.4);}
	100%{transform: scale(1);}
}

body.theme-turquoise .hummingbird-treeview .fa{color:#49dec1}
body.theme-white .hummingbird-treeview .fa{color:#afe471}

body.theme-turquoise .prenode::before {color:#49dec1}
body.theme-white .prenode::before {color:#afe471}
