div.material-table .table-header {
  height: 37px;
}

.simple-text .logo-mini {
  display: none;
}

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* background: url(./../img/logo-login.png) center no-repeat #fff; */
  background: url(./../img/pre-loader.gif) center no-repeat transparent;
}

div.material-table .table-header {
  font-size: 16px !important;
  background: #fff;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/*Changes starts*/

ul.autocomplete-content.dropdown-content {
  background: #fff;
  box-shadow: 0px 0px 6px #2fbcd3;
  padding: 0;
  margin: 0;
}

ul.autocomplete-content.dropdown-content li > span {
  font-size: 13px;
  padding: 5px 16px;
  font-weight: normal;
  color: #080808;
  display: inline-block;
  width: 100%;
  cursor: pointer;
}

ul.autocomplete-content.dropdown-content li > span:hover {
  background-color: #d3f3ee;
}

.close {
  font-size: 1rem;
  line-height: 1.5;
  opacity: 0.7;
}

#relationSection {
  width: 100%;
  position: relative;
}

.form-control {
  font-size: 12px;
}

.hummingbird-base {
  padding-left: 0px !important;
}

#treeview3 {
  display: none;
}

.text-bold {
  font-weight: 700 !important;
  cursor: pointer;
}

.chip .close {
  font-size: 12px;
  line-height: 12px;
  opacity: 1;
  background: #fff;
  border-radius: 50%;
  padding: 1px;
  border: 1px solid #ccc;
  margin-left: 4px;
  margin-top: 3px;
}

#treeview ul,
#chosenTreeview ul {
  padding-left: 15px;
}

.hummingbird-treeview ul {
  padding-left: 15px;
}

.col-form-label {
  color: #000;
  font-size: 12px;
  padding-top: 13px;
}

.white-sbg {
  background: #fff;
  padding: 12px;
  border-radius: 12px;
}

.bg-grey1 {
  min-height: auto !important;
  background-color: #e4e4e4;
  border-radius: 5px;
  border-color: #fff;
  border: solid 2px #46a14a;
}

.profile-pic {
  position: relative;
  display: inline-block;
}

.profile-pic:hover .edit {
  display: block;
}

.edit {
  position: absolute;
  right: 0;
  top: -30px;
  display: none;
}

.edit a {
  color: #000;
  background: #fff;
  padding: 12px;
  border: solid 1px #ddd;
  border-radius: 5px;
}

.icon-bg,
.icon-bg1 {
  background: #fff;
  border: solid 1px #999;
  padding: 8px 6px;
  left: 19%;
  position: fixed;
  margin-top: -22px;
  width: 25px;
  height: 25px;
  line-height: 21px;
}

.icon-bg1 {
  left: 21%;
}

.plain-col {
  color: #999 !important;
  font-size: 11px !important;
}

.header-caption {
  margin: 0;
  text-align: center;
  font-size: 18px;
  color: #4caf50;
  padding: 12px;
}

.icon-36 {
  width: 128px;
  height: 128px;
}

.ips .list-group-item {
  padding: 0px;
}

.panel-danger {
  border-color: #ebccd1;
}

.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.sep-hor {
  height: 10px;
  border-top: solid 1px #00bcd4;
  margin-top: 15px;
}

.smaller-txt {
  width: 100%;
  height: 45px !important;
  padding: 12px;
  border-radius: 3px;
  border: solid 1px #ccc;
}

.join-sel > .dropdown-menu li a {
  padding: 0px;
}

.sm-header {
  font-size: 14px;
  font-weight: 700;
  padding-top: 12px;
}

.iconadd {
  position: absolute;
  right: 0;
  color: #999;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li > a {
  padding: 5px 1.25rem;
}

.icon-acc {
  font-size: 21px !important;
  padding-top: 18px;
}

.header-span {
  display: inherit;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: #585858;
}

.table-header-new {
  margin-top: -24px;
  font-size: 14px;
  font-weight: 700;
}

.table-header-cap {
  font-size: 16px;
}

.shadow {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.4);
  padding-top: 3px;
  border-radius: 5px;
}

#joinSelectContainer .joinContainer {
  width: 100%;
}

#colSwap {
  height: 100px;
  width: auto;
}

.trans-icon {
  position: absolute;
  top: 45%;
  left: 30%;
  font-size: 61px;
  color: #b7b7b7;
  transform: translateX(-50%);
  -ms-transform: rotate(-45deg);
  /* IE 9 */
  -webkit-transform: rotate(-45deg);
  /* Safari */
  transform: rotate(-45deg);
}

.drop-zone {
  margin: auto;
  height: auto !important;
  border: 2px dotted #00bcd4 !important;
  border-radius: 12px !important;
  padding: 46px;
}

.drop-zone .content {
  height: 56px !important;
}

.tab-content span .filedrop-ico {
  position: absolute;
  font-size: 45px;
  top: 49px;
  left: 43%;
}

.tab-content .filedrop-text {
  position: static;
  font-size: 15px;
  top: 100px;
  color: #0782d0;
}

.close-icon {
  margin-top: 10px;
  font-size: 16px;
  cursor: pointer;
}

.close-icon-nrm {
  font-size: 16px;
  cursor: pointer;
}

.back-pos {
  position: absolute;
  right: 11px;
  top: 14px;
  font-size: 10px;
  font-weight: normal !important;
  z-index: 999999;
}

.backward {
  margin-top: -2px !important;
  font-size: 15px;
}

/* START TOOLTIP STYLES */

[tooltip] {
  position: relative;
  /* opinion 1 */
}

/* Applies to all tooltips */

[tooltip]::before,
[tooltip]::after {
  text-transform: none;
  /* opinion 2 */
  font-size: 13px;
  /* opinion 3 */
  line-height: 1;
  user-select: none;
  pointer-events: none;
  position: absolute;
  display: none;
  opacity: 0;
}

[tooltip]::before {
  content: "";
  border: 5px solid transparent;
  /* opinion 4 */
  z-index: 1001;
  /* absurdity 1 */
}

[tooltip]::after {
  content: attr(tooltip);
  /* magic! */
  /* most of the rest of this is opinion */
  font-family: Helvetica, sans-serif;
  text-align: center;
  /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
  min-width: 3em;
  max-width: 21em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 9px;
  border-radius: 0.3ch;
  box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
  z-index: 1000;
  /* absurdity 2 */
}

/* Make the tooltips respond to hover */

[tooltip]:hover::before,
[tooltip]:hover::after {
  display: block;
}

/* don't show empty tooltips */

[tooltip=""]::before,
[tooltip=""]::after {
  display: none !important;
}

/* FLOW: UP */

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
  bottom: 100%;
  border-bottom-width: 0;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
  bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
  left: 50%;
  transform: translate(-50%, -0.5em);
}

/* FLOW: DOWN */

[tooltip][flow^="down"]::before {
  top: 100%;
  border-top-width: 0;
  border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
  top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
  left: 50%;
  transform: translate(-50%, 0.5em);
}

/* FLOW: LEFT */

[tooltip][flow^="left"]::before {
  top: 50%;
  border-right-width: 0;
  border-left-color: #333;
  left: calc(0em - 5px);
  transform: translate(-0.5em, -50%);
}

[tooltip][flow^="left"]::after {
  top: 50%;
  right: calc(100% + 5px);
  transform: translate(-0.5em, -50%);
}

/* FLOW: RIGHT */

[tooltip][flow^="right"]::before {
  top: 50%;
  border-left-width: 0;
  border-right-color: #333;
  right: calc(0em - 5px);
  transform: translate(0.5em, -50%);
}

[tooltip][flow^="right"]::after {
  top: 50%;
  left: calc(100% + 5px);
  transform: translate(0.5em, -50%);
}

/* KEYFRAMES */

@keyframes tooltips-vert {
  to {
    opacity: 0.9;
    transform: translate(-50%, 0);
  }
}

@keyframes tooltips-horz {
  to {
    opacity: 0.9;
    transform: translate(0, -50%);
  }
}

/* FX All The Things */

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
  animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
  animation: tooltips-horz 300ms ease-out forwards;
}

.status-btn {
  display: inline-block;
  /* white-space: normal; */
}

.true {
  color: #4caf50;
  font-size: 16px;
  font-weight: 700;
}

.false {
  color: #ff0000;
  font-size: 16px;
  font-weight: 700;
}

.status-btn-success::before {
  width: 9px;
  height: 9px;
  background: #4caf50 !important;
  content: "";
  /* border: solid 3px #ff0000; */
  border-radius: 50%;
  /* line-height: 21px; */
  display: inline-block;
  margin-right: 4px;
}

.status-btn-successs::before {
  width: 12px;
  height: 12px;
  background: #4caf50 !important;
  content: "";
  /* border: solid 3px #ff0000; */
  border-radius: 50%;
  /* line-height: 21px; */
  display: inline-block;
  margin-right: 4px;
  margin-left: 7px;
  cursor: pointer;
}

.status-btn-dangers::before {
  width: 12px;
  height: 12px;
  background: #ff0000 !important;
  content: "";
  /* border: solid 3px #ff0000; */
  border-radius: 50%;
  /* line-height: 21px; */
  display: inline-block;
  margin-right: 4px;
  margin-left: 7px;
  cursor: pointer;
}

.status-btn-danger::before,
.status-btn-old::before {
  width: 9px;
  height: 9px;
  background: #ff0000 !important;
  content: "";
  /* border: solid 3px #ff0000; */
  border-radius: 50%;
  /* line-height: 21px; */
  display: inline-block;
  margin-right: 4px;
}

.status-btn-old::before {
  background-color: #6c757d !important;
}

.status-btn-warning::before {
  width: 9px;
  height: 9px;
  background: #ffa500 !important;
  content: "";
  /* border: solid 3px #ff0000; */
  border-radius: 50%;
  /* line-height: 21px; */
  display: inline-block;
  margin-right: 4px;
}

div.material-table table td {
  padding-right: 12px;
}

/* .dataTable>tbody>tr>td, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>td, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>thead>tr>th {
    padding: 0px 3px 0px 3px!important; font-size:12px !important;
} */

/* You can add global styles to this file, and also import other style files */

.ngx-select__item_active {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
  background-color: #00bcd4 !important;
  color: #fff;
}

.ngx-select .dropdown {
  border: none !important;
}

.ngx-select__toggle {
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
}

.anchor-box,
.selection-anchor,
.selection-anchor-close,
.selection-anchor-disabled,
.selection-anchor-open {
  border-right: none !important;
  border-left: none !important;
  border-top: none !important;
}

.hover-box,
.selection-anchor-close:hover {
  outline: 0;
  box-shadow: none !important;
  border-radius: none !important;
}

.lines {
  border-bottom: 2px solid #00bcd4;
  position: relative;
  z-index: 1;
  bottom: -3px;
  transform: scale(0);
  transition: 0.2s ease-in;
}

/* .dropdown{display:block !important;} */

.anchor-box .selection-anchor,
.selection-anchor-close,
.selection-anchor-disabled,
.selection-anchor-open {
  box-shadow: none !important;
  border-radius: 0px !important;
}

/* .ngx-select{height:28px !important} */

.ngx-select .dropdown:before {
  content: "\f002";
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 6px;
  vertical-align: middle;
  position: absolute;
  left: 10px;
  font-size: 14px;
  top: 5px;
  color: #ccc;
}

.container-selection-selected,
.container-selection-selected:hover,
.container-selection:hover {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
  background-color: #00bcd4 !important;
  color: #fff !important;
  margin-bottom: 0px !important;
}

.container-selection {
  margin-bottom: 0px !important;
  font-size: 11px !important;
  font-weight: normal !important;
  text-align: left !important;
}

.ngx-select {
  font-size: 12px !important;
}

.filter-box {
  width: 100% !important;
  height: 25px !important;
  margin: 2px 0px 5px !important;
  padding-left: 30px !important;
  box-sizing: border-box;
  color: #495057;
}

.with-filter {
  border: none !important;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1) !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.dropdown .with-filter {
  top: 25px !important;
}

.selection-anchor-close:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "" !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #00bcd4;
  top: 18px;
  will-change: transform;
  transition: transform 0.15s linear;
  right: 0;
  position: absolute;
}

.selection-anchor-open:after {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "" !important;
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
  color: #00bcd4;
  top: 18px;
  will-change: transform;
  transition: transform 0.15s linear;
  transform: rotate(90deg);
  right: 0;
  position: absolute;
}

.ngx-select {
  text-align: left !important;
}

.select-text {
  position: relative;
  font-family: inherit;
  background-color: transparent;
  width: 100%;
  padding: 5px 5px 5px 0;
  font-size: 12px;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

/* Remove focus */

.select-text:focus {
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0);
}

/* Use custom arrow */

.select .select-text {
  appearance: none;
  -webkit-appearance: none;
}

.select:after {
  position: absolute;
  top: 18px;
  right: 10px;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: "";
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}

/* LABEL ======================================= */

.select-label {
  color: rgba(0, 0, 0, 0.26);
  font-size: 12px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 10px;
  transition: 0.2s ease all;
}

/* active state */

.select-text:focus ~ .select-label,
.select-text:valid ~ .select-label {
  color: #00bcd4;
  top: -20px;
  transition: 0.2s ease all;
  font-size: 14px;
}

/* BOTTOM BARS ================================= */

.select-bar {
  position: relative;
  display: block;
  width: 100%;
}

.select-bar:before,
.select-bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #00bcd4;
  transition: 0.2s ease all;
}

.select-bar:before {
  left: 50%;
}

.select-bar:after {
  right: 50%;
}

/* active state */

.select-text:focus ~ .select-bar:before,
.select-text:focus ~ .select-bar:after {
  width: 50%;
}

/* HIGHLIGHTER ================================== */

.select-highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form-new-control {
  font-size: 12px;
  overflow: visible;
}

.ng-value-container {
  margin-top: -6px;
  padding-bottom: 0;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  color: #fff !important;
  line-height: 12px !important;
  min-height: auto !important;
  border-radius: 2px;
  font-size: 12px !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
  /* line-height: 3em; */
  /* min-height: 3em; */
  padding: 5px 1.25rem !important;
  line-height: 12px !important;
  min-height: auto !important;
  text-decoration: none;
  position: relative;
  color: #2a2a2a;
  text-align: left;
  margin: 5px;
  font-size: 13px !important;
  font-weight: normal !important;
}

.ico-blues {
  padding-top: 10px;
  color: #00bcd4;
  font-size: 19px;
  font-weight: 600;
}

.ng-select.ng-select-disabled .ng-select-container:after {
  border-bottom-color: transparent;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.42) 0%,
    rgba(0, 0, 0, 0.42) 33%,
    transparent 0%
  );
  background-size: 4px 1px;
  background-repeat: repeat-x;
}

.ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-value {
  color: rgba(0, 0, 0, 0.38);
}

.ng-select.ng-select-disabled
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  color: rgba(0, 0, 0, 0.38);
}

.ng-select.ng-select-disabled .ng-arrow-wrapper .ng-arrow,
.ng-select.ng-select-disabled .ng-clear-wrapper {
  color: rgba(0, 0, 0, 0.38);
}

.ng-select.ng-select-focused .ng-select-container:after {
  transition: unset !important;
  border: 1px solid var(--content-color) !important;
}

.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder {
  transform: translateY(-1.28125em) scale(0.75) perspective(100px)
    translateZ(0.001px);
  color: #00bcd4 !important;
}

.ng-select.ng-select-focused
  .ng-select-container
  .ng-value-container
  .ng-placeholder,
.ng-select.ng-dirty .ng-select-container .ng-value-container .ng-placeholder,
.ng-select .ng-has-value .ng-placeholder {
  transform: translateY(-0.72em) scale(0.75) perspective(100px)
    translateZ(0.001px) !important;
  color: #00bcd4 !important;
}

.ng-select .ng-select-container {
  min-height: 34.5px !important;
  max-height: 34.5px !important;
}

/* .dropdown-menu .ng-select.ng-dirty .ng-select-container {
  min-height: unset !important;
  max-height: unset !important;
}
.dropdown-menu .ng-select.ng-dirty .ng-select-container .ng-value-container {
  flex-wrap: wrap !important;
  height: unset;
}
.dropdown-menu .ng-select.ng-dirty .ng-select-container .ng-value-container .ng-input {
  -webkit-box-flex: unset;
  flex: unset;
  width: 100%;
} */

.ng-select .ng-select-container:after {
  border-bottom: 1px solid #d2d2d2 !important;
}

.ng-select .ng-arrow-wrapper .ng-arrow {
  color: #ccc !important;
}

.ng-select .ng-clear-wrapper {
  color: #ccc !important;
}

.ng-clear-wrapper {
  width: 7px !important;
}

.ng-clear {
  font-size: 15px !important;
  color: #ccc !important;
}

.ng-select.ng-select-opened .ng-select-container,
.ng-select .ng-select-container .ng-value-container .ng-input > input {
  cursor: pointer !important;
}

.no-margin-01 {
  margin-top: -25px !important;
}

.ng-arrow-wrapper {
  bottom: 3px !important;
}

.ng-clear-wrapper {
  bottom: 0px !important;
}

.crosstext {
  font-size: 11px;
}

.filerText {
  color: #4ca2ff !important;
  font-size: 11px;
  cursor: pointer;
}

/* Change autocomplete styles in WebKit */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid #ccc !important;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset !important;
  transition: background-color 5000s ease-in-out 0s !important;
}

.completer-list-item {
  padding: 0px !important;
  margin: 0px !important;
  line-height: 10px !important;
  height: 10px !important;
}

.completer-dropdown {
  line-height: 12px !important;
  background-color: #fff !important;
}

.circle-icon {
  border-radius: 50%;
  text-align: center;
  line-height: 8px;
  vertical-align: middle;
  padding: 3px;
  z-index: 99999;
}

.circle-icon:hover {
  color: #fff;
}

.new-header {
  font-size: 16px !important;
}

#datasourceSection > div:first-child ul > li:hover .circle-icon,
#datasourceSection > div:first-child ul > li:hover ~ .circle-icon {
  color: #fff;
}

.mg-r-13 {
  margin-right: 13px;
}

.button-list {
  text-align: center;
  display: block;
}

.mg-l-13 {
  margin-left: 13px;
}

.no-pad {
  padding-bottom: 0px !important;
}

/* svg {
  width: 100px;
  height: 100px;
  margin: 20px;
  display: inline-block;
} */

.fullscreen {
  z-index: 10000;
  margin: 0px !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  top: 0;
  left: 0;
}

.fullscreen-report {
  z-index: 153;
  margin: 0px !important;
  width: 92% !important;
  height: 90.8% !important;
  position: fixed !important;
  top: 8%;
  left: 6.8%;
}

.sticky-container {
  /*background-color: #333;*/
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -119px;
  top: 130px;
  width: 200px;
  z-index: 999999999;
}

.sticky li {
  list-style-type: none;
  background-color: #333;
  color: #efefef;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 1px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
}

.sticky li:hover {
  margin-left: -115px;
  /*-webkit-transform: translateX(-115px);
      -moz-transform: translateX(-115px);
      -o-transform: translateX(-115px);
      -ms-transform: translateX(-115px);
      transform:translateX(-115px);*/
  /*background-color: #8e44ad;*/
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

.sticky li img {
  float: left;
  margin: 5px 5px;
  margin-right: 10px;
}

.sticky li span {
  float: left;
  margin: 5px 5px;
  margin-right: 10px;
}

.sticky li p {
  padding: 0px;
  margin: 0px;
  text-transform: uppercase;
  line-height: 43px;
}

.big-icon {
  font-size: 30px;
}

.link-text-one {
  margin-top: 3px;
  position: absolute;
  right: 20%;
}

.link-text-one a:hover {
  text-decoration: underline;
}

.icon-node {
  position: absolute;
  /* margin-left: 51px; */
  margin-top: -8px;
  right: 28px;
}

.left-small-sp {
  border-right: 3px #ccc solid;
}

.add-connector label {
  font-size: 23px !important;
  line-height: 21px !important;
  text-align: center;
}

.add-connector {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50px);
  width: 100%;
  display: block;
}

.node-content-wrapper-focused,
.node-content-wrapper-active {
  background: none !important;
}

.node-content-wrapper:hover {
  background: none !important;
  /* text-decoration: underline;
    box-shadow: none !important; */
}

.alert-std,
.validation-error {
  border-radius: 3px;
  position: absolute;
  padding: 0px 5px;
  line-height: 18px;
  color: #ff0000;
  bottom: 0;
  transform: translate3d(0, 100%, 0);
  font-size: 11px;
  background: #ffffff;
  /* border: solid 1px #ff0000; */
  margin-top: -1px;
  z-index: 10000;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.inline-check {
  margin-top: 13px;
}

.add-value-height {
  max-height: calc(66vh - 85px);
  overflow: auto;
}

.re-modalpad {
  padding: 6px !important;
}

.title-head-01 {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 1px solid #f1ecec !important;
  padding: 7px 14px 6px 15px;
  text-transform: capitalize;
  color: #797979;
}

.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}

.tg-list-item {
  margin: 0 2em;
}

.tgl {
  display: none;
}

.tgl,
.tgl:after,
.tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  box-sizing: border-box;
}

.tgl::-moz-selection,
.tgl:after::-moz-selection,
.tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection,
.tgl:after::selection,
.tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: inline-block;
  font-size: 12px;
  width: 37px;
  height: 19px;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.tgl + .tgl-btn:after,
.tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  -webkit-perspective: 100px;
  perspective: 100px;
}

.tgl-flip + .tgl-btn:after,
.tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  padding-top: 2px;
  /* line-height: 2em; */
  color: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 4px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
}

.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #02c66f;
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

.tgl-flip + .tgl-btn:before {
  background: #716d6d;
  content: attr(data-tg-off);
}

.tgl-flip + .tgl-btn:active:before {
  -webkit-transform: rotateY(-20deg);
  transform: rotateY(-20deg);
}

.tgl-flip:checked + .tgl-btn:before {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.tgl-flip:checked + .tgl-btn:after {
  -webkit-transform: rotateY(0);
  transform: rotateY(0);
  left: 0;
  background: #00bcd4;
  padding-top: 1px;
  top: 20px;
}

.tgl-flip:checked + .tgl-btn:active:after {
  -webkit-transform: rotateY(20deg);
  transform: rotateY(20deg);
}

.ng-select.ng-select-disabled {
  color: #ccc;
}

.border-cs {
  border: solid 1px #ccc;
  border-radius: 7px;
}

.completer-input {
  color: #fff;
  font-size: 12px;
}

.close-new-icon {
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 7px;
  top: 2px;
}

.new-header {
  line-height: 42px;
  padding-left: 12px !important;
  font-size: 16px;
  font-weight: normal;
}

.loadMore {
  color: #0c0c0c;
  cursor: pointer;
  text-decoration: underline;
  font-size: 12px;
  /* margin-left: 250px; */
  position: absolute;
  right: 0;
  font-weight: 600 !important;
}

.toggle-children-wrapper-expanded .toggle-children {
  -webkit-transform: none;
  transform: none !important;
  height: 14px;
  width: 12px;
  z-index: 1000;
  /* background-image: url("../img/open-folder.svg"); */
}

.toggle-children-wrapper-collapsed .toggle-children {
  -webkit-transform: none;
  transform: none;
  height: 14px;
  width: 12px;
  z-index: 1000;
  /* background-image: url("../img/folder-closed-black-shape.svg"); */
}

.toggle-children-placeholder {
  -webkit-transform: none;
  transform: none;
  height: 14px;
  width: 12px;
  background-image: url("../img/folder-closed-black-shape.svg");
}

.tree-children {
  padding-left: 12px !important;
  margin-left: 5px;
  border-left: dotted 1px #ccc !important;
}

.scroll_bar {
  max-height: calc(91vh - 120px);
  min-height: calc(91vh - 120px);
}

.rem-clk {
  cursor: pointer;
  color: #ff0000;
}

.popup-height {
  max-height: calc(70vh - 91px);
  height: calc(70vh - 91px);
}

.popup-dash-height {
  max-height: calc(90vh - 91px);
  height: calc(90vh - 91px);
}

.popup-overall-height {
  max-height: calc(100vh - 91px);
  height: calc(100vh - 91px);
}

.wrapper a {
  color: #999;
}

.table-title,
div.material-table table th,
.navbar-brand {
  /* font-family: "Open Sans", sans-serif; */
  font-weight: 700;
}

.border-btn-col {
  margin-top: 12px;
  margin-bottom: 27px;
}

.drop-zone .content {
  height: 56px !important;
}

.chip {
  box-shadow: none;
  text-transform: lowercase;
}

.finalTreeSection {
  height: 227px;
}

.collapse .nav-item.active > a {
  background: inherit !important;
  box-shadow: none !important;
}

div.material-table .table-title {
  font-size: 16px !important;
  padding-left: 0px;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(
    .input-group-btn
  ) {
  width: inherit;
}

.dropdown-toggle:after {
  position: absolute;
  right: 0;
}

.dropdown-toggle:after {
  will-change: transform;
  transition: transform 0.15s linear;
  right: 0;
  position: absolute;
}

.dropdown-toggle:after {
  top: 18px;
}

#vert-tabs .nav-pills .nav-item .nav-link {
  padding: 5px 1px;
}

.tooltip-inner {
  line-height: 12px;
  border: none;
  border-radius: 3px;
}

.default-color {
  font-weight: 600;
}

.dv-center {
  text-align: center;
  display: block !important;
}

.delete-co {
  color: #ffffff;
  font-size: 14px;
  /* font-weight: 700; */
  background: #ff0000;
  padding: 3px;
  border-radius: 4px;
}

.sm-close {
  font-size: 10px;
  position: relative;
  top: -6px;
  right: -1px;
  color: #11a8bb;
}

.sm-close :hover {
  color: #ff5722;
}

#datasourceSection > div > ul li:hover {
  border-bottom: 1px solid #ccc;
}

i.default-color.fa.fa-times:hover {
  color: #a5a6a7;
  width: 30px;
  height: 30px;
  border: solid 2px #00bcd4;
  border-radius: 50%;
  padding: 4px;
}

i.default-color.fa.fa-times {
  width: 30px;
  height: 30px;
  border: solid 2px #fff;
  border-radius: 50%;
  padding: 4px;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}

.confirmation-cls {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
}

.circle-ico {
  width: 16px;
  height: 16px;
  right: 14px;
  margin-right: 2px;
  border-radius: 50%;
  position: relative;
  background: #e8e6e6;
  padding: 2px 1px 0px 3px;
  color: #6b6a6a !important;
  border: solid 1px#ccc;
  font-size: 11px !important;
  -webkit-font-smoothing: antialiased;
}

.circle-ico:hover {
  color: #00bbd3 !important;
  border-color: #00bcd4 !important;
}

.node-content-wrapper {
  border: 1px;
  padding: 0px !important;
  text-align: left;
}

.node-wrapper {
  height: 20px !important;
  position: relative;
  left: -21px;
}

.node-content-wrapper:hover {
  border: 1px;
  background: none;
}

.tree-icon-01 {
  position: absolute;
  right: 0px;
  width: 25px;
  height: 25px;
  background: #00bcd4;
  font-size: 22px;
  color: #fff;
  border-radius: 50%;
  padding: 1px 2px;
  top: 0px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.bck-btn {
  position: absolute;
  top: -4px;
  z-index: 99999;
  left: -1px;
}

.bck-btn-am {
  position: absolute;
  top: -9px;
  z-index: 99999;
  left: 6px;
}

.bck-btnminimize {
  position: fixed;
  top: 8%;
  z-index: 100000;
  left: 28%;
}

.re-ico-gr {
  font-size: 18px;
  height: 20px;
  min-width: 20px;
  width: 20px;
  padding: 0;
  position: relative;
  line-height: 20px;
  background: var(--content-color) !important;
  border-color: #656565 !important;
  box-shadow: 0 2px 2px 0 rgb(66 66 66 / 14%),
    0 3px 1px -2px rgb(128 119 122 / 20%), 0 1px 5px 0 rgb(68 67 68 / 12%) !important;
}

.list-white-bg {
  background: #fff;
  border-radius: 12px;
  height: 100%;
  margin-top: -12px;
}

.dashboard-bg-grey {
  background: #ccc;
}

.dataTables_wrapper {
  background: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.main-row {
  border-radius: 12px;
}

.row-flex {
  display: flex;
}

.listing-bg {
  background: #fff;
  height: calc(100vh - 13.2vh);
  border-radius: 12px;
  /* margin-bottom: 12px; */
}

.navbar .navbar-brand {
  margin-right: 5px !important;
}

.sub-ico {
  margin-top: 10px;
}

.pad-form {
  padding-top: 6px;
}

.no-data {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  width: auto !important;
  transform: translate(-50%, -50%);
  border-bottom: solid 1px #dddddd;
  color: #616161 !important;
  font-weight: normal;
}

.ng-dropdown-panel {
  top: calc(100% - 45px);
}

.table-full-white {
  background: #fff;
  height: calc(100vh - 13vh);
  border-radius: 12px;
}

.filter-bg {
  position: relative;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 7px;
  border: 2px solid #00bcd4;
  /* border-bottom: 2px solid #ccc; */
  background: #e4e4e4;
}

.gr-c {
  color: green !important;
}

.ico-bg {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  top: -4px;
  margin-right: 3px;
  position: relative;
  padding-top: 1px;
  font-size: 10px !important;
  border: solid 1px #dad3c9;
  text-align: center;
}

.solid-ico {
  position: absolute;
  background: #fff;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  left: 0;
  top: 21px;
  border: solid 1px #ccc;
}

.remove-ico {
  position: relative;
  display: inline-block;
  top: -8px;
  color: #f44336;
  font-size: 17px !important;
  font-weight: normal;
  cursor: pointer;
  padding-left: -6px;
  left: -1px;
}

.plus-pos {
  position: absolute !important;
  right: 12px;
  top: 6px;
}

.loading-overlay {
  z-index: 9999;
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.loading-overlay svg {
  height: 200px;
  left: 50%;
  margin-left: -150px;
  margin-top: -100px;
  position: absolute;
  top: 50%;
  width: 300px;
}

.cloud,
.base,
.arrow {
  animation-delay: 0s;
  animation-direction: alternate;
  animation-duration: 1.5s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

.cloud {
  stroke-dasharray: 1750;
  stroke-dashoffset: 1750;
  animation-name: cloud;
}

accordion-group .card .card-header {
  z-index: 0px !important;
}

@keyframes cloud {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 1750;
  }
}

.base {
  stroke-dasharray: 750;
  stroke-dashoffset: 750;
  animation-name: base;
}

@keyframes base {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 750;
  }
}

.arrow {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: 500;
  }
}

i.fa.toggleIcon {
  top: 48%;
  left: -16px;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 45px;
  background: #fff;
  border-radius: 3px;
  border: solid 1px #ccc;
  border-right: none;
  padding-top: 10px;
  padding-left: 5px;
}

.color_picker_width {
  width: 25px !important;
  height: 25px;
  margin: 1px;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.crt-widget {
  position: absolute;
  right: 15px;
  display: inline-block;
  top: 10px;
  font-size: 13px !important;
  font-weight: normal;
  cursor: pointer;
  line-height: 15px;
  z-index: 1111;
  color: #00bcd4;
  padding: 5px;
  border: solid 1px transparent;
}

span.crt-widget:hover {
  border: solid 1px #ccc;
  color: #ccc;
}

.crt-widget-left {
  position: absolute !important;
  left: 12px;
  display: inline-block;
  top: 10px;
  font-size: 13px !important;
  font-weight: normal;
  cursor: pointer;
  line-height: 15px;
  height: auto !important;
  z-index: 1111;
  color: #00bcd4;
  padding: 5px;
  border: solid 1px transparent;
}

span.crt-widget-left:hover {
  border: solid 1px #ccc;
  color: #ccc;
}

#dashboardList .node-content-wrapper span {
  width: 117px !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}

.swal2-popup .swal2-styled.swal2-confirm {
  border: 0;
  border-radius: 0.25em;
  background: initial;
  background-color: #00bcd4 !important;
  color: #fff;
  font-size: 1.0625em;
  color: #fff;
  background-color: #00bcd4;
  border-color: #00bcd4;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212);
}

.modal-body {
  padding-left: 6px !important;
  padding-right: 6px !important;
  padding-bottom: 16px !important;
  padding-top: 8px !important;
}

.no-margin {
  margin: 0;
}

.togglebutton label input[type="checkbox"]:checked + .toggle {
  background-color: #fdffff !important;
  border: 1px solid #d7e1e2;
}

/********** Fixed header for rowspan table **********/

table.inlineEditTable thead tr:nth-child(2) th {
  top: 26px;
}

.modal-body.magnifier {
  padding-left: 0px !important;
  padding-right: 0px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.customer-details {
  max-height: 100%;
}

.genericPopup .modal.show .modal-dialog {
  height: auto !important;
}

.genericPopup .modal-dialog {
  height: auto !important;
}

.form-check .form-check-label .circle .check {
  height: 13px !important;
  width: 13px !important;
}

.genericPopup .modal-dialog .modal-body + .modal-footer {
  /* bottom: 13px !important; */
  width: 100% !important;
  position: unset !important;
  background: unset !important;
}

.top-apply {
  color: #4a4a4a !important;
  font-weight: 600 !important;
  background-color: unset !important;
  border: 1px solid #ccc !important;
  box-shadow: unset !important;
  font-size: 14px !important;
  font-family: "Open Sans", sans-serif !important;
  padding: 8px !important;
  line-height: 1.1 !important;
}

.border-remove {
  border-color: unset !important;
}

.blue-slider {
  background: #03a9f4;
}

.selected-slider {
  border-color: white !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.fixed-plugin li.header-title {
  text-transform: capitalize;
}

.badge-colors .green {
  color: #fff !important;
}

.sorting-move .ng-clear-wrapper {
  /* display: none !important; */
  top: -3px;
}

ng-dropdown-panel.sorting-move {
  margin-left: 12px;
  background: #121212 !important;
  color: #ffffff !important;
  box-shadow: none;
  border-color: #6b6a6a !important;
}

ng-dropdown-panel.sorting-move
  .ng-dropdown-panel-items
  .ng-option.ng-option-selected,
ng-dropdown-panel.sorting-move
  .ng-dropdown-panel-items
  .ng-option.ng-option-marked {
  background: var((--content-color)) !important;
  color: #fff !important;
}

ng-dropdown-panel.sorting-move .ng-dropdown-panel-items .ng-option {
  background: #121212 !important;
  color: #fff !important;
  padding: 5px !important;
}

ng-select.sorting-move .ng-select-container > .ng-value-container > .ng-value {
  background: #121212 !important;
  color: #fff !important;
  left: 3px;
}

ng-select.sorting-move.ng-select-focused .ng-select-container:after {
  border: 1px solid #ccc !important;
}

ng-select.sorting-move.ng-select-focused
  .ng-select-container
  .ng-arrow-wrapper
  .ng-arrow {
  color: #ccc !important;
}

ng-select.sorting-move
  .ng-select-container
  > .ng-value-container
  > .ng-value
  > .ng-value-label {
  color: #fff !important;
}

.report-component .multiselect-dropdown .dropdown-btn .selected-item {
  background: none !important;
  color: #3e3e3e !important;
  padding: 0 !important;
}

.report-component .multiselect-dropdown .dropdown-btn .selected-item a {
  padding-top: 2px;
  padding-left: unset !important;
  color: #989898 !important;
  position: relative;
  top: -4px;
  font-weight: 600;
}

.pdf-excel-before svg {
  height: 28px;
  width: 28px;
}

.pdf-excel-before li.header-title {
  height: unset;
  line-height: 12px !important;
}

.w-93 {
  width: 93%;
}

.w-5 {
  width: 5% !important;
}

.w-83 {
  width: 83%;
}

.w-10 {
  width: 10% !important;
}

.report-slider-top .top-label {
  /* top: -8px !important; */
  color: #737373;
}

.scaling-factor .ng-select-container .ng-value-container {
  top: 5px !important;
  padding-left: 3px !important;
}

.scaling-factor.ng-select-single .ng-select-container .ng-clear-wrapper {
  display: none !important;
}

ng-dropdown-panel.scaling-factor {
  margin-left: 11px !important;
}

.scaling-factor.ng-select .ng-select-container {
  border-bottom: 1px solid var(--content-color) !important;
  /* border-color: var(--content-color) !important;
    border-width: 1px !important; */
}

.scaling-factor.ng-select.ng-select-focused .ng-select-container:after {
  border-width: 1px !important;
}

.tree-popup .modal-dialog .modal-content {
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
  height: 100%;
  width: 113%;
  margin-left: -25px;
}

.w-95 {
  width: 95%;
}

.h-68 {
  height: 68%;
}

.columns-display .ps-content {
  height: 85%;
}

#copyText span {
  font-size: 11px;
  color: red;
}

.show-query .modal-dialog .modal-content {
  height: unset !important;
}

.catalog-design tree-viewport {
  height: 100%;
  overflow: unset;
  display: block;
}

.dataTable > tbody > tr > td,
.dataTable > tbody > tr > th,
.dataTable > tfoot > tr > td,
.dataTable > tfoot > tr > th,
.dataTable > thead > tr > td,
.dataTable > thead > tr > th {
  font-size: 13px;
  font-weight: 300;
}

.share-popup .modal-dialog .modal-content {
  height: unset;
}

.execute-popup .modal-dialog .modal-content {
  height: unset;
}

.configure-popup .modal-dialog .modal-content {
  height: 85% !important;
}

.query-list .ps-content {
  height: unset;
}

.criterial-select .ng-select .ng-clear-wrapper {
  bottom: 2px !important;
}

.aggregation-select .ng-select .ng-clear-wrapper {
  bottom: 2px !important;
}

.summary-select .ng-select .ng-clear-wrapper {
  bottom: 2px !important;
}

@media (min-width: 992px) {
  .execute-query .modal-lg {
    max-width: 80% !important;
  }
}

.w-13 {
  width: 13%;
}

.w-14 {
  width: 14%;
}

.w-16 {
  width: 16%;
}

.w-17 {
  width: 17%;
}

.simplebar .node-content-wrapper {
  padding: 2px 5px !important;
}

.simplebar .node-wrapper {
  height: unset !important;
}

.h-35 {
  height: 35% !important;
}

.h-30 {
  height: 30% !important;
}

.body-background {
  background: #fff !important;
}

.yoyText-red {
  color: red !important;
}

.h-6 {
  height: 6%;
}

.h-94 {
  height: 94%;
}

.borderRight5 {
  border-right: 5px solid #00bcd4;
}

.dashboard-bg-dark {
  background-color: #434b3a;
}

.mainPadd12 {
  padding: 12px 12px 0px 12px;
}

.form-check .form-check-label span {
  top: 0px;
  left: 0px;
}

.tab_label {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  float: left;
  width: 18%;
  padding: 9px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.tab_label span {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tab_label i {
  font-size: 1.3em;
  margin: 0 0.4em 0 0;
}

.borderRadiusTop {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.tables-multiple.tab_container {
  width: 60% !important;
  background: #928d8d;
  min-height: 35px;
  border-radius: 6px;
}

.tables-multiple .tab_label {
  font-weight: bold;
  font-size: 14px;
  display: flex;
  float: left;
  height: 100%;
  width: 20%;
  border-right: 1px solid #ccc;
  padding: 10px;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  line-height: 1.1;
}

.tab_container {
  width: 100%;
  height: 100%;
  position: relative;
}

.tables-multiple.tab_container .active {
  background: #fff;
  color: #2f2f2f;
  box-shadow: unset !important;
  border-top-left-radius: unset !important;
  border-bottom: unset !important;
}

.tab_container .active {
  background: #fff;
  color: #2f2f2f;
  box-shadow: inset 0 3px var(--content-color);
  border-top-left-radius: 12px;
  border-bottom: 10px solid #fff;
}

.tab_container .active i {
  color: var(--content-color);
}

.tab_container .active i {
  color: var(--content-color) !important;
}

.tab-pane-fade {
  display: none;
}

.fadeIn {
  display: block;
}

.tab-content .index-content {
  -webkit-animation: fadeInScale 0.7s ease-in-out;
  -moz-animation: fadeInScale 0.7s ease-in-out;
  animation: fadeInScale 0.7s ease-in-out;
}

@keyframes fadeInScale {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.burstForm .ng-select-single .ng-select-container .ng-clear-wrapper {
  display: none !important;
}

.w-70 {
  width: 70%;
}

.h-95 {
  height: 95% !important;
}

.promptPopup .mat-input-element {
  color: #2a2a2a !important;
}

.flag {
  width: 150px;
  height: 6%;
  margin: 0 auto;
  padding-top: 7px;
  position: absolute;
  right: 0;
  color: white;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
  z-index: 1;
}

.flag:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  /* border-bottom: 13px solid white;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent; */
}

.review-popup .modal-dialog .modal-body {
  height: calc(100% - 47px);
}

.missingObjectsPopUp.modal.show .modal-dialog {
  height: 46% !important;
}

/* .missingObjectsPopUp .modal-dialog .modal-body {
    height: 48% !important;
}

.missingObjectsPopUp .modal-dialog .modal-content {
    height: 48% !important;
} */

.missingObjects .modal-dialog .modal-content {
  height: unset;
}

.missingObjects .modal-dialog {
  height: 60% !important;
}

app-review {
  height: 100%;
}

.bb-error .ng-select-container:after {
  content: "" !important;
  border-bottom: 1px solid transparent !important;
}

.form-control.bb-error.form-control,
.bb-error .ng-select-container {
  background-image: linear-gradient(0deg, red 1px, rgba(156, 39, 176, 0) 0),
    linear-gradient(0deg, red 1px, hsla(0, 0%, 82%, 0) 0);
}

textarea.bb-error {
  border: 2px solid red !important;
}

.editor-popup .modal-dialog .modal-content,
.prompt-popup .modal-dialog .modal-content {
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 50%);
  height: 89%;
  width: 150%;
  margin-left: -22%;
  top: 7%;
}

.filter-popup .modal-dialog .modal-content,
.prompt-popup .modal-dialog .modal-content {
  width: 125%;
  margin-left: -12%;
}

.notification-popup .modal-dialog .modal-content,
.prompt-popup .modal-dialog .modal-content {
  height: 90% !important;
  width: 100%;
}

.modal-open .prompt-popup {
  z-index: 10 !important;
}

.promptPopup .mat-form-field.mat-form-field-invalid .mat-form-field-ripple {
  background-color: unset !important;
}

/* .kothing-editor {
    width: 730px !important;
    margin-top: 10px;
} */

.ke-resizing-bar {
  display: none !important;
}

.h-15 {
  height: 15%;
}

app-filter-prompt {
  height: 100%;
}

.h-85 {
  height: 85%;
}

app-text-editor {
  height: 100%;
}

.smart-table p {
  margin: 0 !important;
}

.prompt-close {
  display: none !important;
}

.w-20 {
  width: 20%;
}

.w-80 {
  width: 80%;
}

.widgetTab svg {
  width: 100%;
  height: 100%;
  color: #3c4858;
}

.w-90 {
  width: 90%;
}

.widgetTheme svg {
  border: 1px solid #ccc;
}

.widgetTheme.active-theme svg {
  border: 3px solid var(--widget-border);
}

ngb-accordion .card {
  box-shadow: none;
  /* background: transparent; */
  margin: 0;
}

ngb-accordion .card .card-body {
  padding: 0;
}

ngb-accordion .card .card-header {
  padding: 5px 3px;
}

.dropdown-menu .ng-dropdown-panel {
  position: relative;
  display: block;
  box-shadow: none !important;
  border: none;
  top: 0;
  margin: 0;
}

.dropdown-menu .ng-dropdown-panel.ng-select-bottom {
  margin-top: 0;
}

/* .dropdown-menu .ng-select .ng-value-container {
  margin: 0;
  border: none !important;
  padding: 0 !important;
  position: relative;
  height: 34.5px;
  max-height: unset;
}
.dropdown-menu .ng-select .ng-arrow-wrapper {
  display: none;
} */
.ng-select.ng-select-opened .ng-placeholder {
  transform: translateY(0.41875em) scale(0.75) perspective(100px)
    translateZ(0.001px) !important;
}

.ng-select .ng-has-value .ng-value-container {
  padding-top: 10px !important;
}

/* .dropdown-menu .ng-select .ng-select-container .ng-value-container .ng-input {
  padding: 0;
}
.dropdown-menu .ng-select .ng-select-container .ng-value-container .ng-input>input {
  height: 34.5px;
  padding: 0;
  width: 100% !important;
}
.dropdown-menu .ng-select .ng-has-value .ng-clear-wrapper {
  bottom: -15px !important;
} */

.genericPopup .modal-dialog {
  top: 25%;
}

.genericPopup .modal-content {
  padding: 0 !important;
}

.genericPopup .confirmation-cls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 6px;
  background: #ffffff;
  border: none;
}

.tempGridPage .widget-filter .item1 .multiselect-item-checkbox {
  padding-left: unset !important;
  padding: 5px 9px !important;
}

.tempGridPage .widget-filter .filter-textbox {
  padding: 0px !important;
}

.ds_default .no-margin {
  font-weight: 400;
}

.ds_default .t00001-top > span {
  font-weight: 400;
}

.ds_default .h6Strong {
  font-weight: 500;
}

.clickEventClass .multiselect-dropdown .dropdown-btn .selected-item {
  background: none !important;
  color: #000 !important;
  padding: 0 !important;
  font-size: 12px;
}

.clickEventClass .multiselect-dropdown .dropdown-btn .selected-item a {
  padding-top: 2px;
  padding-left: unset !important;
  color: #989898 !important;
  position: relative;
  top: -4px;
  font-weight: 600;
}

.clickEventClass .multiselect-dropdown .dropdown-btn .selected-item {
  background: none !important;
  color: #000 !important;
  padding: 0 !important;
  font-size: 12px;
}

.clickEventClass .multiselect-dropdown .dropdown-btn .selected-item a {
  padding-top: 2px;
  padding-left: unset !important;
  color: #989898 !important;
  position: relative;
  top: -4px;
  font-weight: 600;
}

.titleCaption {
  font: 500 14px/15px "Open Sans", sans-serif;
  color: #4a4a4a;
}

.parentCaption {
  font: 500 13px/15px "Open Sans", sans-serif;
  color: #7c7c7c;
}

.w-85 {
  width: 85%;
}

.w-87 {
  width: 87%;
}

.w-4 {
  width: 4%;
}

.globalHeader {
  color: #3c4044 !important;
  font-size: 13px !important;
  font-weight: 500 !important;
}

.globalContent {
  line-height: 1px;
  color: #2a2a2a !important;
  font-size: 13px !important;
  font-weight: normal !important;
}

.h-new {
  height: 25px !important;
}

.magnifier table tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal;
}

input[type="text"],
input[type="number"] {
  color: #2a2a2a !important;
  font-weight: normal !important;
}

textarea {
  color: #2a2a2a !important;
  font-weight: normal !important;
}

app-smart-table p {
  font-weight: normal !important;
}

.dashSlide perfect-scrollbar > .ps,
app-dynamic-table perfect-scrollbar > .ps {
  padding-bottom: 0;
}

app-dynamic-table .ps-content {
  height: 100%;
}

.w-40px {
  width: 40px;
}

.w-3 {
  width: 3%;
}

.w-2 {
  width: 2%;
}

.z-unset {
  z-index: unset !important;
}

.edw-tree .tree-node {
  line-height: 14px;
}

.icon-node {
  position: absolute;
  /* margin-left: 51px; */
  margin-top: 0px;
  right: 6px;
}

.toggle-children-wrapper {
  position: relative;
  left: 21px;
}

app-tablecolumnlisting {
  height: 100%;
}

app-tablecolumnmapping {
  height: 100%;
}

app-userid-selections {
  height: 100%;
}

.mat-input-element {
  color: #2a2a2a !important;
}

.addLinkpopup svg .subnode {
  font-size: 13px;
  font-weight: 500;
  font-family: "Roboto";
  fill: #4c4c4c;
}

.addLinkpopup svg .relationHeader,
.addLinkpopup svg .popupInputHeader {
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
}

.addLinkpopup rect {
  fill: transparent;
  stroke-width: 2px;
}

.addLinkpopup svg .bottomLine,
.addLinkpopup svg .bottomLine1 {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

.addLinkpopup svg .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
  margin: 10px;
}

.addLinkpopup svg .link:hover {
  cursor: pointer;
}

.addLinkpopup .pfilter_icon {
  font-weight: 700;
  cursor: pointer;
  padding: 0px 5px;
  color: #333;
  font-size: 14px;
  margin-right: 4px;
  margin-left: 4px;
}

.addLinkpopup .green {
  fill: #3aef42 !important;
}

.addLinkpopup .source,
.addLinkpopup .target {
  font-weight: 600;
}

.addLinkpopup .connection_icon {
  font-size: 12px;
  /* padding: 3px; */
  color: #4a4a4a;
}

/* .addLinkpopup .date_flag::selection {
  background: transparent;
} */

.addLinkpopup .date_flag::selection,
.subnode::selection,
.vpn_flag.cursor .green_icon::selection {
  background: transparent;
}

.addLinkpopup .connection_icon-top {
  font-size: 14px;
  /* padding: 3px; */
  color: #4a4a4a;
}

.addLinkpopup .icon_block {
  height: 20px;
  width: 20px;
}

.addLinkpopup div.d3PopupDiv {
  position: absolute;
  /* width: 0;
height: 0; */
  background-color: #fff;
  /* border: 1px solid #ccc; */
  z-index: 2;
  /* border-radius: 12px; */
  left: 37%;
  top: 15%;
  width: 300px;
  height: 360px;
}

.addLinkpopup div.d3-showConnector {
  position: absolute;
  background-color: #fff;
  z-index: 2;
  left: 0.6%;
  top: 20%;
  width: 143px;
  height: 75px;
}

.addLinkpopup .d3-showConnector i.material-icons.faTimescloseRows {
  color: #df0a0a;
  font-size: 16px;
  font-weight: 100;
  cursor: pointer;
}

.addLinkpopup .d3PopupDiv .popover {
  max-width: unset;
}

.addLinkpopup .d3PopupDiv .popover-header {
  padding: 8px 0px 0 !important;
  margin: 0 15px;
}

.addLinkpopup .d3PopupDiv .popover-body {
  padding: 0px 15px 3px !important;
}

.addLinkpopup .d3PopupDiv.d3-showConnector .popover-header {
  margin: 0 13px;
}

.addLinkpopup .d3PopupDiv.d3-showConnector .popover-body {
  padding: 5px 1px !important;
}

.addLinkpopup .d3PopupDiv .popover-body ul {
  padding: 0;
  overflow: auto;
}

.addLinkpopup .d3PopupDiv .popover-options {
  width: 5%;
  position: unset;
  padding: 0;
}

.addLinkpopup .d3PopupDiv .faTimescloseRows {
  color: #898989;
  font-size: 11px;
  font-weight: 100;
  cursor: pointer;
}

.addLinkpopup .d3PopupDiv .popover-header-text {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.addLinkpopup .d3-showConnector .popover-header-text {
  font-size: 12px;
}

.h-60 {
  height: 60%;
}

ngb-tooltip-window .tooltip-inner {
  /* background: var(--content-color) !important; */
  background: #343434;
}

ngb-tooltip-window {
  margin-left: unset !important;
}

ngb-tooltip-window.tooltip.bs-tooltip-left .arrow:before {
  /* border-left-color: var(--content-color) !important; */
  border-left-color: #343434;
}

ngb-tooltip-window.tooltip.bs-tooltip-bottom .arrow:before {
  /* border-bottom-color: var(--content-color) !important; */
  border-left-color: #343434;
}

.button-sep {
  padding: 0px 2px !important;
  color: #ccc !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}

.d3FullScreen_full,
.mainPanel_full,
.maximize-pannel {
  width: 100% !important;
}

.max_sidebar_full,
.max_nav_full,
.w-h-20_full {
  display: none !important;
}

.max_parent_full {
  margin: 0 !important;
}

.maximize-view {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  min-height: 100vh !important;
}

app-er-diagramoverall table tr td {
  line-height: 16px !important;
  padding: 0 5px !important;
}

.overflow_auto {
  overflow: auto;
  height: 85%;
}

app-tablemetadata .kothing-editor .ke-wrapper .ke-wrapper-inner {
  height: 190px !important;
}

app-tablemetadata .kothing-editor {
  width: 100% !important;
}

.visibility_none {
  visibility: hidden;
}

.h-88 {
  height: 88%;
}

.h-12 {
  height: 12%;
}

.h-10 {
  height: 10%;
}

.h-90 {
  height: 10%;
}

.virtualScrollerTable th {
  position: unset !important;
  top: unset !important;
}

.tree_viewport tree-viewport {
  max-height: calc(100vh - 13vw) !important;
}

.text-cap-new {
  padding-bottom: 5px;
  padding-top: 5px;
  display: flex;
  -webkit-display: flex;
  color: #4a4a4a !important;
  font: 600 15px/20px "Open Sans", sans-serif;
}

.table-size {
  font-size: 18px;
}

app-magnifiernew {
  height: 100%;
}

.forwardIcon {
  transform: rotate(180deg);
}

.backwardIcon {
  transform: rotate(0deg);
  vertical-align: middle;
  margin-top: -2px;
  font-size: 23px !important;
}

.tab_label .forwardIcon {
  color: #fff;
}

.h-22 {
  height: 22%;
}

.h-72 {
  height: 72%;
}

.align-head {
  margin-left: 19px;
}

.criterial-select .ng-select .ng-clear-wrapper {
  bottom: 2px !important;
}

.criterial-select .ng-select .ng-clear-wrapper {
  bottom: 2px !important;
}

.criterial-select .ng-select {
  height: 21px;
}

.criterial-select .ng-select {
  padding-bottom: 0px;
}

.criterial-select
  .ng-select-container
  > .ng-value-container
  > .ng-value
  > .ng-value-label {
  font-size: 12px !important;
}

.field-select {
  margin-top: 0px !important;
  padding-bottom: 0px !important;
}

.field-select .ng-select-container {
  padding-bottom: 9px;
}

.field-select .ng-value-container {
  margin-top: -14px;
  padding-top: 25px !important;
}

.field-select .ng-select-container > .ng-value-container > .ng-value {
  background-color: unset !important;
}

.global_form_Array td input.form-control {
  padding-top: 12px !important;
  height: 27px;
}

.global_form_Array td app-custom-date-picker.form-control {
  height: 27px !important;
  padding-top: 0;
  padding-bottom: 0;
}

.global_form_Array .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  padding: 0 !important;
}

.global_form_Array tr td {
  padding: 0 5px !important;
}

th input[type="checkbox"],
td input[type="checkbox"] {
  vertical-align: middle;
}

div.material-table table .global_form_Array tr td {
  border: solid 1px var(--table-border) !important;
  color: #2a2a2a !important;
}

input[type="radio"] {
  accent-color: var(--content-color);
  border-color: var(--border-btn-color);
}

.colorSet {
  color: var(--content-color) !important;
}

.pointerDisable {
  pointer-events: none !important;
}

.form-new-control {
  font-size: 12px;
  overflow: visible;
}

app-query-validation {
  height: 100%;
}

app-query-validation .boxstyle .ps {
  height: 100%;
}

.eventObjectsPopUp .modal-dialog .modal-body {
  height: 90% !important;
}

.eventObjectsPopUp .modal-dialog .modal-content {
  height: 90% !important;
}

.font-material {
  font-size: 10px !important;
}

input.form-control {
  padding-top: 18px;
}

.table-comment {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 50px;
}

.login-container .form-control {
  background-image: unset !important;
}

.h-75 {
  height: 75% !important;
}

.scheduleData .label {
  color: #656565;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-family: "Roboto", sans-serif !important;
}

.scheduleData .value {
  color: #0c0c0c;
  padding-left: 3px;
  font-size: 12px !important;
  font-weight: 500 !important;
  font-family: "Roboto", sans-serif !important;
}

.scheduleData div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ng-select-check .ng-select-container > .ng-value-container > .ng-value {
  background-color: #ccc !important;
}

.ng-select-check .ng-select .ng-arrow-wrapper .ng-arrow {
  color: rgba(0, 0, 0, 0.54) !important;
}

.ng-select-check .ng-select {
  height: 30px;
}

.ng-select-check .ng-select .ng-select-container:hover {
  box-shadow: none;
}

.ng-select-check .ng-arrow-wrapper {
  bottom: -3px !important;
}

.addLinkpopup .modal-xl {
  max-width: 850px;
  max-height: 1000px;
}

.addLinkpopup .modal-lg {
  max-width: 815px;
}

.h-70 {
  height: 70% !important;
}
.counterdiv {
  position: relative;
  margin-left: 15px;
  cursor: pointer;
}

.letter-span {
  position: relative;
  font-size: 13px;
  top: 7px;
  left: -7px;
  background: #747474;
  padding: 9px 8px;
  border-radius: 6px;
  border: solid 1px #ccc;
  font-weight: 500;
  cursor: pointer;
  font-family: "Open Sans";
  white-space: nowrap;
  z-index: 10000000000;
  color: white;
}
