﻿tbody tr .tr-edit-icons {
    display: none;
    position: absolute;
    top: 5px;
    right: 42px;
    background-color: #eee;
    padding-right: 0;
    overflow: visible;
}

tbody tr:hover .tr-edit-icons {
    display: block;
    opacity: 1;
    border: none;
    color: black;
}

tbody tr:hover {
    -webkit-box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0, 5px 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, .3), 0 1px 3px 1px rgba(60, 64, 67, .15);
    z-index: 1;
    background-color: #eee;
    /*border: 2px solid #00bcd4;*/
}

.nav-tabs-wrapper {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.nav-tabs-wrapper>div {
    margin-left: auto;
    cursor: pointer;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.sidebar .logo {
    padding: 10px 0;
    padding-top: 0;
    background-color: transparent
}

.simple-text .logo-mini {
    display: none;
}

.no-js #loader {
    display: none;
}

.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /* background: url(/assets/img/logo-login.png) center no-repeat #fff; */
    background: url(/assets/img/pre-loader.gif) center no-repeat transparent;
}


/* div.material-table .table-header {
    height: 46px;
} */

table .card .form-check {
    width: 26px;
}

.dropdown_check+form-check-sign {
    top: -10px;
    left: 0;
}

flex-con-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.flex-con-col {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.flex-con-colum {
  width: 80%;
}

.bg-grey {
    min-height: -webkit-fill-available !important;
}


/*.w-h-100 {
    border-radius: 7px;
}*/

#treeview li label span {
    white-space: nowrap;
    display: inline-block;
    width: 99%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li>a {
    padding-top: 8px;
    padding-bottom: 8px;
}

.w-h-100 {
    height: 100%;
    width: 100%;
    background-color: #fff;
    /*border-radius: 7px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;*/
}

.dashboard-bg-white {
    height: calc(100vh - 11.5vh);
}

.table-footer {
    height: 32px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    display: flex;
    padding-left: 24px;
    padding-right: 14px;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    font-size: 12px !important;
    color: rgba(0, 0, 0, 0.54);
    display: flex;
    position: absolute;
    bottom: calc(0px - 21%);
    right: 0;
}

.mainHead {
    color: #ccc;
    font-size: 22px;
}

.subHead {
    font-size: 14px;
    font-weight: 600;
    color: #9a9a9a;
}

.blueHead {
    color: #00bcd4;
    font-weight: 600;
}

#minimizeSidebar {
    position: relative;
    top: -11px
}

#access-user {
    display: none
}

.bmd-label-floating {
    padding-left: 0 !important
}

.avatar-upload {
    position: relative;
    max-width: 172px;
    margin: 0px auto;
}

.avatar-upload .avatar-edit {
    position: absolute;
    right: 12px;
    z-index: 1;
    top: 10px;
}

.avatar-upload .avatar-edit input {
    display: none;
}

.avatar-upload .avatar-edit input+label {
    display: inline-block;
    width: 34px;
    height: 34px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
    background: #f1f1f1;
    border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
    content: "\f040";
    font-family: 'FontAwesome';
    color: #757575;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
}

.avatar-upload .avatar-preview {
    width: 123px;
    height: 123px;
    position: relative;
    border-radius: 100%;
    border: 6px solid #F8F8F8;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.bmd-form-group:not(.has-success):not(.has-danger) [class*=" bmd-label"].bmd-label-floating,
.bmd-form-group:not(.has-success):not(.has-danger) [class^=bmd-label].bmd-label-floating {
    color: #1d1d1d;
}

.green-dot {
    width: 9px;
    height: 9px;
    background: #4caf50;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.red-dot {
    width: 9px;
    height: 9px;
    background: #f52626c2;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.profile-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    display: inline-block;
}

#authorize_dropdown {
    padding-left: 10px;
}

#authorize_dropdown:after {
    color: #fff;
    right: 6px;
    top: 16px;
}

#action_header {
    display: flex;
    align-items: center;
}

#approve_authorized {
    display: none;
}

#authorize,
#approve_authorized {
    padding-left: 10px;
    padding-right: 10px;
}

#approve_selected,
#reject_selected {
    /* display: none; */
    visibility: hidden;
    padding: 5px 10px;
    transition: .3s ease-in-out;
    display: inline-block;
}

@media (min-width: 768px) {
    .dropdown-menu .dropdown-item,
    .dropdown-menu li>a {
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
