﻿#mainNav,
#mainNav ul {
  cursor: default;
  opacity: unset !important;
}

/* #mainNav ul {
  display: none;
} */

.submenu-normal {
  overflow: auto;
  transition: .1s ease-in-out;
}

.logo-rect {
  background: #fff;
  padding: 7px 14px;
  padding-top: 4px;
  position: relative;
  top: 3px;
  display: inline-block;
  border-radius: 5px;
}

.normal-logo {
  /* height: 25px; */
  width: 100%;
}

.sidebar-normal .caret {
  right: 25px !important;
}

.submenuLevel2 {
  transform-origin: 50% 0px;
  transition: all 0.1s ease-in-out 0s;
}

.menuLevel-pad {
  padding-left: 3.8rem !important;
}

.sidebar .nav p {
  font-size: 13px;
}

.sidebar .logo {
  padding: 5px 0;
}

.reportActiveBg a, .reportActiveBg i {
  color: #fff !important;
  background-color: var(--content-color) !important;
}

.sidebar-mini .reportActiveBg a, .sidebar-mini .reportActiveBg i {
  color: var(--content-color) !important;
  background-color: unset !important;
}

.sidebar[data-background-color=black] .nav .nav-item i.active-icon {
  color: var(--content-color) !important;
}

.sidebar[data-background-color=black] .nav .nav-item:hover [data-toggle=collapse] i.active-icon {
  color: var(--content-color) !important;
}

.sidebar {
  font-family: Open Sans,sans-serif !important;
  z-index: 155 !important;
  padding: 0 !important;
}

.sidebar-mini .sidebar .thirdLevel li {
  border-left: unset !important;
}

.sidebar-mini .sidebar .subMenu {
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 30%), 0 4px 8px 3px rgb(0 0 0 / 15%);
}

.sidebar-mini .sidebar .subMenu .submenuLevel1{
  padding-left: 13px;
  font-weight: 600 !important;
 }

.sidebar-mini .sidebar .thirdLevel li a {
  margin: 0  !important;
}

.sidebar[data-background-color=black] .sidebar-background:after {
  background: #ffffff !important;
  opacity: 0.6 !important;
}

.sidebar[data-background-color=black] .nav .nav-item .nav-link {
  color: #181818;
  border-bottom: 1px solid #c3c3c3 !important;
}

.sidebar-mini .sidebar[data-background-color=black] .nav .nav-item {
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
}

.sidebar-mini .sidebar[data-background-color=black] .nav .nav-item .nav-link {
  border-bottom: unset !important;
}

.sidebar[data-background-color=black] .nav .nav-item.active [data-toggle=collapse],
.sidebar[data-background-color=black] .nav .nav-item:hover [data-toggle=collapse] {
  color: #181818 !important;
}

.sidebar[data-background-color=black] .nav .nav-item .nav-link p {
  font-weight: 600 !important;
}

.sidebar[data-background-color=black] .nav .nav-item i {
  color: #727272 !important;
  font-size: 19px !important;
  margin-right: 10px;
}

.sidebar[data-background-color=black] .nav .nav-item .active-Sub-menu {
  font-weight: 600 !important;
  color: #181818 !important;
  font-size: 13px !important;
  border-left: 3px solid transparent !important;
}

.sidebar[data-background-color=black] .nav .nav-item.active [data-toggle=collapse] i,
.sidebar[data-background-color=black] .nav .nav-item:hover [data-toggle=collapse] i {
  color: #727272 !important;
  margin-right: 10px;
}

.sidebar[data-background-color=black] .nav .nav-item a[aria-expanded=true] .caret,
.sidebar[data-background-color=black] .nav .nav-item a[data-toggle=collapse][aria-expanded=true] .caret {
  transform: unset !important;
}

.sidebar ul.subMenu, .sidebar ul.subMenu1 {
  background: #fff !important;
}

.active-menu {
  color: #fff !important;
  background-color: var(--content-color) !important;
}

.sidebar .logo-rect {
  background: none !important;
}

ngb-tooltip-window.sidemenu .tooltip-inner {
  background: #343434 !important;
  box-shadow: var(--tool-tip-shadow);
  color: #fff !Important;
  padding: 9px !important;
}

ngb-tooltip-window.sidemenu {
    transition: unset;
    transform: unset;
}

ngb-tooltip-window.sidemenu .arrow:before {
  border-right-color: #343434 !important;
}

.sidebar .nav.subMenu.sub {
  /* display: none; */
  transform: scale(0);
  transform-origin: 0;
  transition: 0.15s ease-in-out;
}

.last_level {
  font-weight: 400;
}

.sidebar-mini .scheduler_menu {
  margin-top: -5px !important;
}

.scheduler_menu {
  margin-top: 0px !important;
}

.sidebar-max a.active-main-menu {
  color: #fff !important;
  background-color: var(--content-color) !important;
}

.sidebar-max .active-main-menu path {
  fill: #fff !important;
}

.sidebar[data-background-color=black] .nav .nav-item.active-firstLevel:hover .active-main-menu {
  color: #fff !important;
}

.sidebar[data-background-color=black] .nav .nav-item:hover .active-menu {
  color: #fff !important;
}
