.report-slider-top {
    border-color: var(--slider-border) !important;
}
.report-slider-top .bmd-label-static {
    color: #000 !important;
}

.report-slider-top .ng-select-container>.ng-value-container>.ng-value{
    color: var(--slider-font-color) !important;
    background: none !important;
}

.report-slider-top .multiselect-dropdown .dropdown-btn {
    border-color: var(--slider-border) !important;
}

.report-slider-top .mat-input-element {
    color: #616161 !important;
}
.report-slider-top ng-multiselect-dropdown .dropdown-list,
.report-slider-top ng-multiselect-dropdown .filter-textbox input{
    background: #fff !important;
    color: #616161 !important;
}

.report-slider-top .multiselect-item-checkbox input[type=checkbox]+div{
    color: #616161 !important;
    font-size: 12px;
    font-weight: 400;
}
.report-slider-top .multiselect-dropdown .dropdown-btn .selected-item{
    color: #616161 !important;
}

.dark .scaling-factor .scroll-host,
.dark .scaling-factor .ng-dropdown-panel-items .ng-option,
.light .scaling-factor .scroll-host,
.light .scaling-factor .ng-dropdown-panel-items .ng-option{
    background: var(--slider-background) !important;
    color: var(--slider-font-color) !important;
}
.dark .scaling-factor .ng-dropdown-panel-items .ng-option-selected,
.dark .scaling-factor .ng-dropdown-panel-items .ng-option-marked,
.light .scaling-factor .ng-dropdown-panel-items .ng-option-selected,
.light .scaling-factor .ng-dropdown-panel-items .ng-option-marked{
    color:var(--content-color) !important;
}
.report-slider-top #navbarNotificationDropdown+div[aria-labelledby="navbarNotificationDropdown"] {
    background: var(--slider-background) !important;
}
.report-slider-top .navbar-expand-lg .fixed-plugin {
    background: var(--slider-background) !important;
    color: var(--slider-font-color) !important;
}

/* .dark-validation .validation-error {
    color: #292929;
} */

.report-slider-top .form-group {
    margin-top: 15px;
    padding-bottom: 0;
}

.report-slider-top .multiselect-dropdown .dropdown-btn .selected-item {
    max-width: 115px;
    /* position: relative;
    top: 4px; */
}

.report-slider-top .multiselect-dropdown .dropdown-btn span:first-of-type {
    position: relative;
    top: 4px;
}

.report-slider-top .multiselect-dropdown .dropdown-btn span:last-child {
    position: relative;
    top: 2px !important;
}

.multiselect-dropdown .disabled > span {
  background-color: unset !important;
}

.disabled_multi .multiselect-dropdown {
  cursor: not-allowed;
}
