/***********Common styles start***********/

.readNotif {
  color: #6c757db8 !important;
}

.unreadNotif {
  color: #000 !important;
}

.w-30 {
  width: 30% !important;
}

.toast-container>div {
  font-size: 13px;
  line-height: 16px;
  padding: 5px;
}

.triangleUp::after,
.triangleUp:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: auto;
  width: 4px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 4px solid transparent;
  right: 148px;
  transform: rotate(180deg);
}

.notificationClick .triangleUp::after {
  border-bottom: 11px solid var(--content-color);
}

.triangleUp:before {
  border-left: 17px solid transparent;
  border-bottom: 16px solid rgba(0, 0, 0, 0.2);
  border-right: 17px solid transparent;
  right: 11px;
}

/* .top_menu_actions li.adjustments-line {
    border-bottom: 1px solid #ddd;
} */

.top_menu_actions .dropdown .dropdown-menu li {
  padding: 0px 2px !important;
}

.modal-footer.text-center {
  justify-content: center;
}

.table-responsive>perfect-scrollbar>.ps {
  padding-bottom: 0;
}

.table-responsive>perfect-scrollbar>.ps {
  padding-bottom: 0;
}

/* .no-padding {
padding: 0 !important;
} */

div[class*="material-table dashboard-"] .table-responsive {
  height: calc(100% - 82px);
  max-height: calc(100% - 82px);
}

.ng-select.ng-select-disabled>.ng-select-container {
  opacity: 0.6;
}

.pagination {
  margin-bottom: 0.25rem !important;
}

.ng-select .ng-select-container .ng-value-container .ng-input>input[disabled] {
  background-color: transparent;
  cursor: not-allowed !important;
  border-bottom: 1px dotted #d2d2d2 !important;
  background-repeat: no-repeat;
}

div.material-table {
  position: relative;
}

/* div.material-table table tr th:first-child {
    border-left: solid 1px #00bcd4;
} */

/* div.material-table table tr th:last-child {
    border-right: solid 1px #00bcd4;
} */

ul {
  list-style-type: none;
}

.no-margin {
  margin: 0;
}

.margin-top-32 {
  margin-top: 32px;
}

.mt20 {
  margin-top: 20px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.padding-left-0 {
  padding-left: 0;
}

.padding-left-15 {
  padding-left: 15px;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.padding-bottom-0 {
  padding-bottom: 0 !important;
}

.padding-top-10 {
  padding-top: 10px !important;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.hidden {
  display: none !important;
}

.padding-15 {
  padding: 15px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.wd100Ib,
.lbl100 {
  display: inline-block;
  width: 100%;
}

.padding-left-0 {
  padding-left: 0 !important;
}

.padding-left-15 {
  padding-left: 15px !important;
}

.padding-right-15 {
  padding-right: 15px !important;
}

.no-padding {
  padding: 0 !important;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

table tbody tr td:first-child,
table tr th:first-child,
table tbody tr td:last-child,
table tr th:last-child {
  border-left: none;
  border-right: none;
}

table tbody tr td:last-child,
table tr th:last-child {
  border-right: none;
}

.hgt100 {
  height: 100%;
  max-height: 100%;
}

.dashboard-bg-white {
  background-color: #fff;
}

.b-radius-12 {
  border-radius: 12px;
}

.addItems,
.deleteItems {
  cursor: pointer;
  display: inline-flex;
  font-size: 13px;
  padding: 5px;
}

.table-responsive {
  max-height: 100%;
}

.h-99 {
  height: 99% !important;
}

.h-9 {
  height: 9% !important;
}

.ps__rail-y {
  z-index: 999;
}

textarea {
  /* height: 38px !important; */
  outline: none;
}

/***********Common style ends***********/

/***********Login style starts***********/

.login-page .card-login .card-header {
  margin-top: 0px !important;
  margin-bottom: 20px;
}

.loginBtn {
  padding: 15px;
}

.login-logo {
  width: 55%;
  padding: 9px;
}

/***********Login style ends***********/

/***********Table inline edit style starts***********/

.treeview li a {
  padding: 4px 10px;
  margin-bottom: 3px;
}

.treeview li a i {
  padding-right: 7px;
}

tbody tr .tr-edit-icons {
  display: none;
  position: absolute;
  top: 5px;
  right: 42px;
  background-color: #eee;
  padding-right: 0;
  overflow: visible;
}

tbody tr:hover .tr-edit-icons {
  display: block;
  opacity: 1;
  border: none;
  color: black;
}

.tr-edit-icons a:hover i.fa {
  color: #000;
}

tbody tr:hover {
  /* -webkit-box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    5px 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15); */
  z-index: 1;
  background-color: #eee;
  /*border: 2px solid #00bcd4;*/
}

/*********** Table inline edit style ends ***********/

/*********** Nav bar style starts ***********/

.navbar .navbar-brand {
  font-size: 16px;
  font-weight: 700;
}

.navbar .navbar-brand {
  margin-right: 5px !important;
}

.nav-tabs-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-tabs-wrapper>div {
  margin-left: auto;
  cursor: pointer;
}

/*********** Nav bar style ends ***********/

/*********** Sidebar style starts ***********/

.sidebar .logo {
  padding-top: 0;
  background-color: transparent;
  position: relative;
  margin-top: 10px;
  top: 7px;
}

.simple-text .logo-mini {
  display: none;
}

.sidebar .logo a.logo-mini {
  display: none;
  height: 42px;
  width: 42px;
  border-radius: 66%;
  padding: 0;
  margin-left: 15px;
  background: url(/assets/img/android-icon-192x192.png) 3px 3px;
  background-size: 0;
  background-repeat: no-repeat !important;
  background-color: #fff;
}

a.logo-mini img {
  height: 80%;
  position: relative;
  top: 4px;
}

.sidebar .user .photo {
  position: relative;
  left: -8px;
  width: 42px;
  height: 42px;
  margin-right: 15px;
}

.logo-batch {
  background: #fff;
  padding: 10px 30px;
  padding-top: 2px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
  top: -7px;
}

#minimizeSidebar {
  position: relative;
  top: -11px;
}

#mainNav,
#mainNav ul {
  cursor: default;
}

#mainNav ul {
  display: none;
}

/*********** Sidebar style ends ***********/

/********** Modal Style starts***********/

#chooseDatasourceSec input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.closeModal {
  float: right;
  background: #00000014;
  height: 25px;
  width: 25px;
  text-align: center;
  border-radius: 50%;
  position: relative;
  top: -18px;
  right: -18px;
}

.closeModal button.close {
  position: relative;
  left: -6px;
  top: 1px;
}

.modal.show .modal-dialog {
  height: 85%;
}

.modal-dialog .modal-content {
  height: 100%;
}

.modal-dialog .modal-header h4 {
  font-size: 13px;
  font-weight: 500;
}

.modal-dialog .modal-header .close {
  position: static;
  color: #ffffff;
  margin: 0;
  padding: 0;
  padding-right: 10px;
  font-size: 12px;
  opacity: 1;
}

.modal-content {
  padding: 10px;
  padding-top: 0;
}

.modal-content tr td:first-child,
.modal-content tr td:last-child {
  border-left: solid 1px #9cd8e0;
  border-right: solid 1px #9cd8e0;
}

.modal-title {
  display: flex;
  color: #fff;
}

.modal-title>span {
  flex-grow: 1;
  font-size: 13px !important;
}

.modal-dialog .modal-header {
  display: flex;
  align-items: center;
  border-bottom: none;
  border-radius: 3px;
  padding: 0;
  margin: 0;
}

.modal-dialog .modal-body+.modal-footer {
  position: absolute;
  bottom: 0;
  width: 97%;
  background-color: #fff;
  /* padding-bottom: 8px; */
}

.nav-tabs .nav-item .nav-link {
  padding: 5px 12px;
}

/********* Modal style ends *********/

/********** Modal Style ends***********/

/*********** Tooltip style starts************/

.tooltip {
  z-index: 9999;
}

/*********** Tooltip style ends************/

/*********** Side nav style starts************/

.expandMenuToRight {
  position: fixed !important;
  z-index: 9999 !important;
  left: 80px !important;
  background: #000000 !important;
  width: 260px !important;
  margin-top: -59px !important;
}

.scaleToZero {
  transform: translateZ(0) !important;
  opacity: 1 !important;
}

ul.subMenu,
ul.subMenu1 {
  display: none;
  position: fixed;
  padding: 0;
  left: 80px;
  background: #fff;
  margin-top: -45px;
  min-width: 216px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

ul.subMenu1 {
  left: 271px;
  margin-top: -40px;
}

ul.selfBiMenu1 {
  left: 254px;
  margin-top: -55px;
}

ul.subMenu li {
  max-height: unset !important;
}

.subMenu>li:last-child>a {
  margin-bottom: 15px;
}

.caret-right {
  border-bottom: 4px solid transparent;
  border-top: 4px solid transparent;
  border-left: 4px solid;
  display: inline-block;
  height: 0;
  opacity: 1;
  vertical-align: top;
  width: 0;
  position: relative;
  margin-top: 8px;
  margin-left: 15px;
}

.caret1 {
  right: 20px !important;
  margin-top: 12px !important;
}

.dropDownMenu {
  padding-left: 15px;
  background-color: #171717;
}

.sidebar .logo a.logo-normal {
  position: relative;
  top: -17px;
}

.sidebar[data-color="rose"]>.sidebar-wrapper>ul>li.active>a {
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
}

/*********** Side nav style ends************/

/********** Authorize design starts **********/

#action_header {
  display: flex;
  align-items: center;
}

#authorize_dropdown {
  padding-left: 10px;
}

#authorize_dropdown:after {
  color: #fff;
  right: 6px;
  top: 16px;
}

#approve_authorized {
  display: none;
}

#authorize,
#approve_authorized {
  padding-left: 10px;
  padding-right: 10px;
}

#approve_selected,
#reject_selected {
  /* display: none; */
  visibility: hidden;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  display: inline-block;
}

/********** Authorize design ends **********/

.main-panel>.content-area {
  margin-top: 80px;
  padding: 0;
  /* height: calc(100vh - 95px);
  min-height: calc(100vh - 95px); */
  position: relative;
  width: auto;
  margin-left: 15px;
  margin-right: 15px;
  /* margin-bottom: 15px; */
  padding-bottom: 15px;
  border-radius: 7px;
  min-height: 20vh;
}

/*********** Avatar style starts **********/

.profile-img {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: inline-block;
}

.avatar-upload {
  position: relative;
  max-width: 172px;
  margin: 0px auto;
}

.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}

.avatar-upload .avatar-edit input {
  display: none;
}

.avatar-upload .avatar-edit input+label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #ffffff;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}

.avatar-upload .avatar-edit input+label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}

.avatar-upload .avatar-edit input+label:after {
  content: "\f040";
  font-family: "FontAwesome";
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}

.avatar-upload .avatar-preview {
  width: 123px;
  height: 123px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #f8f8f8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}

.avatar-upload .avatar-preview>div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-profile .card-avatar {
  max-width: 111px;
  max-height: 111px;
}

/*********** Avatar style ends **********/

#chosenTreeview {
  display: none;
}

#treeview ul,
#chosenTreeview ul {
  padding-left: 30px;
}

.dropdown-content li {
  min-height: 10px;
}

.dropdown-content li>a,
.dropdown-content li>span {
  font-size: 13px;
  padding: 8px 16px;
  font-weight: normal;
  color: #080808;
}

#propertyModal {
  border-radius: 5px;
}

#propertyModal .modal-body .row {
  margin-bottom: 0 !important;
}

.chip {
  border-radius: 5px;
  font-size: 12px;
  background-color: transparent;
  padding: 2px 6px;
  /* Changes */
  margin: 0 5px;
  /* Changes */
  border-bottom: 1px solid #00bcd4;
  float: left;
  cursor: pointer;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
}

.chip:hover,
.activeConnector {
  background-color: #00bcd4;
  color: #fff;
}

.propertySection {
  display: block;
  margin-top: 10px;
  height: 301px;
}

#datasourceSection {
  max-height: 130px;
  min-height: 50px;
  padding-bottom: 0;
  padding-left: 0;
}

.finalTreeSection {
  border-right: 2px solid #00bcd4;
  height: 227px;
}

#showAddConnectors {
  display: none;
}

#searchConnectors {
  display: inline-block;
  position: absolute;
  /* Changes */
  min-height: 30px;
  z-index: 99;
  margin: 0 15px;
  /* Changes */
}

.chips .input {
  height: 2rem;
}

#bonds {
  min-width: 400px;
  width: 50%;
  min-height: 410px;
}

.radio-zone {
  padding: 0px 8px 0px 8px;
  border-radius: 2px;
  min-width: 300px;
  z-index: 2;
}

.presentation {
  line-height: 14px;
  font-size: 12px;
}

hr {
  margin-bottom: 10px;
  margin-top: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.fieldLinkerSave {
  display: inline-block;
}

#tablePropertyContainer .label-text {
  color: #000;
}

#columnPropertyContainer,
#tablePropertyContainer,
#relationContainer {
  display: none;
}

#tablePropertyContainer {
  display: block;
}

.openTableProperty,
.openTableRelations,
.openColumnProperty {
  margin: 0 5px;
  cursor: pointer;
}

.togglebutton label input[type="checkbox"]:checked+.toggle:after {
  border-color: #2fbcd3;
}

.togglebutton label input[type="checkbox"]:checked+.toggle {
  background-color: rgb(47, 188, 211);
}

.form-check .form-check-input:checked+.form-check-sign .check {
  background: #2fbcd3;
}

.addColumnValue {
  position: relative;
  display: inline-block;
  top: 12px;
  color: #2fbcd3;
  font-size: 12px;
  font-weight: normal;
  cursor: pointer;
  height: 21px;
}

.addColumnValue .material-icons {
  font-size: 21px;
}

.btn.btn-link.btn-twitter {
  font-weight: normal;
  font-size: 14px;
  padding: 0;
}

.selectColumnValue,
.uncheckedMagnifier {
  display: none;
}

.col-form-label {
  color: #000;
}

.openTableProperty,
.openTableRelations,
.openColumnProperty {
  display: none;
}

/**************** Relations Style starts*****************/

.fromtable,
.totable {
  display: inline-block;
  padding: 5px 10px;
  background-color: #00bcd4;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.4);
  color: #fff;
  border-radius: 3px;
}

#relationSection,
#finalTreeSection {
  display: inline-block;
  float: left;
}

#finalTreeSection {
  width: 25%;
}

#relationSection {
  width: 73%;
  position: relative;
}

#fromTable,
#toTable {
  position: relative;
  padding: 15px;
}

.from,
.to {
  margin: 10px 0;
}

.connectorLines {
  position: absolute;
  height: 2px;
  width: 34%;
  background-color: #00bcd4;
}

/********** Connectors style starts **********/

#toTable .btn-group,
#toTable .btn-group-vertical {
  display: block;
}

.fromTableAfterLine {
  display: block;
  position: absolute;
  clear: both;
  content: "";
  height: 2px;
  width: 236px;
  background: #7a7b7b;
  right: -40px;
  top: 16px;
  z-index: -1;
}

.toTableBeforeLine {
  display: block;
  position: absolute;
  clear: both;
  content: "";
  height: 2px;
  width: 287px;
  background: #7a7b7b;
  left: -275px;
  top: 16px;
  z-index: -1;
}

.fromCommonConnector {
  position: absolute;
  height: 80%;
  width: 2px;
  background: #7a7b7b;
  top: 42px;
  left: 72px;
}

.connectorLines.connectorLines0 {
  top: 36px;
  left: 117px;
}

.connectorLines.connectorLines1 {
  top: 25px;
  left: 117px;
}

.connectorLines.connectorLines2 {
  top: 25px;
  left: 117px;
}

/********** Connectors style ends **********/

/*********** Join circle style starts *************/

.joinContainer {
  position: absolute;
  height: 60px;
  width: 87px;
  top: -13px;
  left: -91px;
  z-index: 1;
}

.circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.circle-left {
  background: #929292;
  position: absolute;
  top: 5px;
}

.circle-right {
  background: #7b7b7bd1;
  right: 0%;
  position: absolute;
  top: 5px;
}

#joinSelectContainer {
  padding: 15px;
  font-size: 12px;
}

#joinSelectContainer .joinContainer {
  position: relative;
  left: 0;
  top: 0;
  margin: 0 auto;
  width: 80%;
  text-align: center;
  min-height: 60px;
}

.left-join .circle-left {
  background-color: #7b7b7b;
  z-index: 2;
}

.left-join .circle-right {
  z-index: 1;
  background-color: #7b7b7bd1;
}

.right-join .circle-right {
  z-index: 1;
  background-color: red;
}

.right-join .circle-left {
  z-index: 1;
  background-color: #7b7b7bd1;
}

.outer-join .circle-left,
.outer-join .circle-right {
  background-color: #7b7b7b;
}

.cartesion-join .circle-left,
.cartesion-join .circle-right {
  background-color: transparent;
  border: solid 2px #8e8e8edd;
}

.custom-join .circle-left,
.custom-join .circle-right {
  background-color: #ccc;
  border: solid 2px #8e8e8edd;
}

.message3 {
  background: #181818;
  color: #fff;
  position: absolute;
  top: -250px;
  left: 0;
  width: 100%;
  height: 250px;
  padding: 20px;
  transition: top 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  overflow: hidden;
  box-sizing: border-box;
}

.message3 h1 {
  color: #fff;
}

#toggle3 {
  position: absolute;
  appearance: none;
  cursor: pointer;
  left: -100%;
  top: -100%;
}

#toggle3+.three {
  position: absolute;
  cursor: pointer;
  padding: 10px;
  background: #26ae90;
  width: 100px;
  border-radius: 3px;
  padding: 8px 10px;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  margin: 20px 50px;
  transition: all 500ms ease;
}

#toggle3+.three:after {
  content: "Open";
}

.container3 {
  transition: margin 300ms cubic-bezier(0.17, 0.04, 0.03, 0.94);
  padding: 5em 3em;
}

#toggle3:checked~.message3 {
  top: 0;
}

#toggle3:checked~.container3 {
  margin-top: 250px;
}

#toggle3:checked+.three {
  background: #dd6149;
}

#toggle3:checked+.three:after {
  content: "Close";
}

/*FOR SECOND SCREEN*/

.edit-ico {
  font-size: 12px;
  color: green;
  top: 2px !important;
}

.rem-ico {
  font-size: 12px;
  color: red;
  top: 2px !important;
}

.centerDiv {
  margin: auto;
  width: 100%;
  border: 3px solid #00bcd4;
  padding: 30px;
  border-radius: 50px;
}

.circle-badge {
  margin: auto;
  height: 50px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50px;
  background: #00bcd4;
  color: white;
}

.section-title {
  position: relative;
}

.section-title p {
  font-size: 16px;
  margin-bottom: 5px;
  font-weight: 400;
}

.section-title h4 {
  font-size: 16px;
  font-weight: 600;
  text-transform: capitalize;
  position: relative;
  padding-bottom: 7px;
  display: inline-block;
}

.section-title h4:before {
  position: absolute;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #d8d8d8;
  bottom: 0;
  left: 50%;
  margin-left: -40px;
}

.section-title h4:after {
  position: absolute;
  content: "";
  width: 50px;
  height: 2px;
  background-color: #00bcd4;
  left: 0;
  bottom: 0;
  left: 50%;
  margin-left: -25px;
}

.box {
  padding: 60px 0px;
}

.box-part {
  background: #fff;
  border-radius: 0;
  padding: 12px 5px;
  margin: 10px 0px;
}

.wrap {
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.1);
  border: solid 2px #fff;
}

.wrap:hover {
  box-shadow: 7px 7px 30px -5px rgba(0, 0, 0, 0.3);
  color: white;
}

.box-part .title {
  margin-top: 12px;
  margin-bottom: 0px;
  min-height: 12px;
  font-size: 13px;
  color: #999;
}

.list-cust .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-cust .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.list-cust .list-group-item {
  border-right: 0px;
  border-left: 0px;
  border-top: solid 1px #ccc;
  font-size: 12px;
  color: #5f5f5f !important;
  padding: 1px;
}

.list-cust .list-group-item:hover {
  color: #00bcd4 !important;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14),
    0 7px 10px -5px rgba(0, 188, 212, 0.5);
  background-color: #00bcd4;
  color: #fff !important;
}

.plainBor {
  border: solid 2px #999;
  width: 75px;
  height: 75px;
}

.simBor {
  border: solid 2px #999;
  width: 50px;
  height: 50px;
  margin: auto;
}

.mt0 {
  margin-top: 0 !important;
}

.height100Per {
  height: 100%;
}

.height93Per {
  height: 93%;
}

.p15 {
  padding: 15px;
}

.mb0 {
  margin-bottom: 0 !important;
}

a.nav-link.active {
  color: #2fbcd5 !important;
}

.pagination_hold {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.container-fluid {
  position: relative;
  height: 100%;
}

.bootstrap-select .dropdown-toggle .filter-option-inner {
  padding-right: 0;
}

.flex-con-col.flex-con-colum {
  z-index: 1;
}

.main-panel>.content-area {
  margin-top: 52px;
  padding: 0;
  min-height: 20vh;
  position: relative;
  /* width: 100%; */
}

.table_header_flex {
  display: flex;
  align-items: center;
}

#hide_tree_new {
  height: 100px;
}

#hide_tree {
  overflow: auto;
  margin-right: 1px;
  height: 98%;
  margin-top: 2%;
}

.typeFilterHold .dropdown.bootstrap-select {
  min-width: 100px !important;
  width: 100px !important;
}

.addTransition {
  transition: 0.3s ease-out;
}

.bg-white {
  background-color: #fff;
}

.border-radius-7 {
  border-radius: 7px;
}

.nowidth {
  width: 0;
  max-width: 0;
}

.expandTo100percen {
  width: 100%;
  max-width: 100%;
  flex: 0 0 97%;
  padding-left: 0;
}

.content-dq .card-body {
  padding: 5px;
}

.content-dq #treeview_container1 .card {
  box-shadow: none;
  margin: 3px 0;
}

.content-dq #treeview_container1 .card .btn {
  position: relative;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.content-dq #treeview_container1 .card .card-header {
  padding: 0px;
  margin-bottom: 0;
}

.content-dq #treeview_container1 .card .btn:not(.btn-just-icon):not(.btn-fab) .fa {
  font-size: 12px;
}

.content-dq #treeview_container1 .card .card-body:empty {
  display: none;
}

.hummingbird-treeview,
.hummingbird-treeview * {
  list-style: none;
  font-size: 12px;
  line-height: 12px;
  padding-right: 4px;
}

/*.content-area > .card-body {
    position: absolute;
    width: 100%;
    height: 100%;
}



/*#treeview_container {
      height: calc(95vh - 120px) !important;
  }*/

.col-height-100 {
  height: 100%;
  margin: 0;
}

.side-bg-color {
  background: #fff;
  padding: 12px;
  color: #fff;
  border-right: 1px dotted #00bcd4;
}

.bg-grey2 {
  min-height: auto !important;
  border-color: #fff;
  border: solid 1px #00bcd4;
}

.bg-grey-3 {
  min-height: auto !important;
  background-color: #424242;
  border-radius: 5px;
}

.padding-0 {
  padding: 0 !important;
}

table {
  width: 100%;
  display: table;
}

.pageHeader>ul {
  padding-left: 15px;
}

.menu_mini_text {
  text-transform: uppercase;
  width: 30px;
  margin-right: 5px;
  text-align: center;
  letter-spacing: 1px;
  position: relative;
  float: left;
  display: inherit;
  font-weight: 600;
  font-size: 12px;
}

/*div.material-table {
      padding: 0;
  }*/

div.material-table .hiddensearch {
  padding: 0 14px 0 24px;
  border-bottom: solid 1px #dddddd;
  display: none;
}

div.material-table .hiddensearch input {
  margin: 0;
  border: transparent 0 !important;
  height: 48px;
  color: rgba(0, 0, 0, 0.84);
}

div.material-table .hiddensearch input:active {
  border: transparent 0 !important;
}

div.material-table .table-header {
  display: flex;
  -webkit-display: flex;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 99;
  padding-bottom: 5px;
  padding-top: 8px;
  padding-left: 5px;
}

div.material-table .table-header .actions {
  display: -webkit-flex;
  margin-left: auto;
}

div.material-table .table-header .btn-flat {
  min-width: 36px;
  padding: 0 3px;
}

div.material-table .table-header input {
  margin: 0;
  height: auto;
}

div.material-table .table-header i {
  color: rgba(0, 0, 0, 0.54);
  font-size: 24px;
}

div.material-table .table-footer {
  height: 56px;
  padding-left: 24px;
  padding-right: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .dataTables_length {
  display: -webkit-flex;
  display: flex;
}

div.material-table .table-footer label {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.54);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .select-wrapper {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

div.material-table .table-footer .dataTables_info,
div.material-table .table-footer .dataTables_length {
  margin-right: 32px;
}

div.material-table .table-footer .material-pagination {
  display: flex;
  -webkit-display: flex;
  margin: 0;
}

div.material-table .table-footer .material-pagination li:first-child {
  margin-right: 24px;
}

div.material-table .table-footer .material-pagination li a {
  color: rgba(0, 0, 0, 0.54);
}

div.material-table .table-footer .select-wrapper input.select-dropdown {
  margin: 0;
  border-bottom: none;
  height: auto;
  line-height: normal;
  font-size: 12px;
  width: 40px;
  text-align: right;
}

div.material-table .table-footer select {
  background-color: transparent;
  width: auto;
  padding: 0;
  border: 0;
  border-radius: 0;
  height: auto;
  margin-left: 20px;
}

div.material-table .table-title {
  font-size: 14px;
  color: #000;
  font-weight: 500;
}

.inlineEditTable tr {
  max-height: 39px;
}

.check-first .form-check {
  position: relative;
  /* top: -8px;
    left: 12px;
    margin: 0;*/
}

div.material-table table tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 3px 5px;
  color: #2a2a2a !important;
  line-height: 20px;
  font-weight: 400;
}

div.material-table table tr td a {
  color: inherit;
}

div.material-table table tr td a i {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.54);
}

div.material-table table tr {
  font-size: 13px;
}

.fixed-plugin .adjustments-line a,
.fixed-plugin .adjustments-line a:focus,
.fixed-plugin .adjustments-line a:hover {
  color: transparent;
  box-shadow: none;
  background: #fff;
}

.fixed-plugin {
  position: relative !important;
  top: 0;
  background: #fff !important;
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
}

div.material-table table th.sorting_asc,
div.material-table table th.sorting_desc {
  color: rgba(0, 0, 0, 0.87);
}

div.material-table table th.sorting:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  word-wrap: normal;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
  content: "arrow_back";
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  display: none;
  vertical-align: middle;
}

div.material-table table th.sorting:hover:after,
div.material-table table th.sorting_asc:after,
div.material-table table th.sorting_desc:after {
  display: inline-block;
}

div.material-table table th.sorting_desc:after {
  content: "arrow_forward";
}

div.material-table table tbody tr:hover {
  background-color: #eee;
  /*border: 2px solid #00bcd4;*/
}

div.dt-button-info {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-top: -100px;
  margin-left: -200px;
  text-align: center;
  z-index: 21;
  color: rgba(0, 0, 0, 0.6);
}

@media screen and (max-width: 640px) {
  div.dt-buttons {
    float: none !important;
    text-align: center;
  }
}

.main-wrapper {
  border-radius: 4px;
  position: relative;
}

.main-wrapper i.material-icons {
  font-size: 1.5rem;
  color: white;
  position: relative;
  border-radius: 50%;
  padding: 5px;
  margin: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: color 0.2s ease, background-color 0.2s ease, transform 0.3s ease;
}

.main-wrapper i.material-icons:after {
  content: "";
  width: 100%;
  height: 100%;
  border: solid 2px;
  transform: scale(0.8);
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.main-wrapper i.material-icons:hover:after {
  transform: scale(1);
  box-shadow: 10px 0 20px rgba(0, 0, 0, 0.19), 6px 0 6px rgba(0, 0, 0, 0.23);
}

.main-wrapper i.material-icons:nth-of-type(4) {
  background-color: #88b999;
}

.main-wrapper i.material-icons:nth-of-type(4):hover {
  color: #88b999;
}

.main-wrapper i.material-icons:nth-of-type(4):after {
  border-color: #88b999;
}

.main-wrapper i.material-icons:nth-of-type(5) {
  background-color: #88b2b9;
}

.main-wrapper i.material-icons:nth-of-type(5):hover {
  color: #88b2b9;
}

.main-wrapper i.material-icons:nth-of-type(5):after {
  border-color: #88b2b9;
}

.main-wrapper i.material-icons:nth-of-type(6) {
  background-color: #8897b9;
}

.main-wrapper i.material-icons:nth-of-type(6):hover {
  color: #8897b9;
}

.main-wrapper i.material-icons:nth-of-type(6):after {
  border-color: #8897b9;
}

.main-wrapper i.material-icons:nth-of-type(7) {
  background-color: #af88b9;
}

i.material-icons:nth-of-type(7):hover {
  color: #af88b9;
}

.main-wrapper i.material-icons:nth-of-type(7):after {
  border-color: #af88b9;
}

.main-wrapper i.material-icons:nth-of-type(8) {
  background-color: #d59acb;
}

.main-wrapper i.material-icons:nth-of-type(8):hover {
  color: #d59acb;
}

.main-wrapper i.material-icons:nth-of-type(8):after {
  border-color: #d59acb;
}

.main-wrapper i.material-icons:nth-of-type(1) {
  background-color: #cd8484;
}

.main-wrapper i.material-icons:nth-of-type(1):hover {
  color: #cd8484;
}

.main-wrapper i.material-icons:nth-of-type(1):after {
  border-color: #cd8484;
}

.main-wrapper i.material-icons:nth-of-type(2) {
  background-color: #ec9f83;
}

.main-wrapper i.material-icons:nth-of-type(2):hover {
  color: #ec9f83;
}

.main-wrapper i.material-icons:nth-of-type(2):after {
  border-color: #ec9f83;
}

.main-wrapper i.material-icons:nth-of-type(3) {
  background-color: #cdb274;
}

.main-wrapper i.material-icons:nth-of-type(3):hover {
  color: #cdb274;
}

.main-wrapper i.material-icons:nth-of-type(3):after {
  border-color: #cdb274;
}

.main-wrapper i.material-icons:hover {
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
}

p {
  font-weight: 300;
  margin-top: 20px;
}

@media (min-width: 601px) {
  .main-wrapper i.material-icons {
    padding: 10px;
    margin: 5px;
    font-size: 2rem;
  }
}

@media (min-width: 993px) {
  .main-wrapper i.material-icons {
    padding: 9px;
    margin: 0px;
    font-size: 4rem;
  }

  .main-wrapper i.material-icons:after {
    border-width: 3px;
    top: 0;
    left: 0;
  }
}

.plain-ico {
  padding: 7px;
  color: rgba(76, 76, 76, 0.54) !important;
  font-size: 19px !important;
}

.mini-header {
  height: 33px !important;
}

.small-button {
  min-width: 25px !important;
  padding: 0 0px !important;
}

.table-pro {
  margin-top: 15px;
}

.sma {
  font-size: 16px !important;
  color: #e91e63 !important;
}

.sep {
  border-left: solid 1px #e6e6e6;
  height: 20px;
}

.tooltip-inner {
  line-height: 12px;
  /* background: #e91e63 !important; */
  border: none;
  border-radius: 3px;
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  color: #fff !important;
}

/* .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow:before,
.tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #e91e63 !important;
} */

.tooltip-inner {
  padding: 7px;
  min-width: 61px;
  font-size: 13px;
}

.modal-dialog.cascading-modal .nav-tabs li a {
  text-align: center;
  font-weight: 400;
}

.modal .modal-dialog {
  margin-top: 53px;
}

.card [class*="card-header-"]:not(.card-header-icon):not(.card-header-text):not(.card-header-image) {
  border-radius: 3px;
  margin-top: -53px;
  padding: 0px 12px 0px 0px;
}

.footer {
  padding: 12px;
  text-align: center;
  bottom: 0;
  position: fixed;
  width: 100%;
  left: 0;
  background: #fff;
}

.icon-center {
  float: inherit !important;
  text-align: center !important;
  margin: auto !important;
  color: #466225 !important;
  height: 83px !important;
  line-height: 65px !important;
  font-size: 58px !important;
}

.tile-bg {
  border: 1px solid #e0e0e0 !important;
  background-color: #fff !important;
  padding: 12px 0px 1px 0px !important;
  border-radius: 5px;
}

table.dataTable {
  border-collapse: collapse !important;
  border-spacing: 0;
}

thead {
  border-bottom: 1px solid #d0d0d0 !important;
}

div.material-table .table-footer {
  height: 56px;
  padding-left: 24px;
  padding-right: 14px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px !important;
}

.dataTables_wrapper {
  height: 100%;
}

div.material-table .table-footer label {
  margin-top: 8px !important;
}

div.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
  white-space: nowrap;
  font-size: 14px;
}

div.dataTables_wrapper div.dataTables_paginate {
  margin-top: 5px;
}

.infographic-box .value-small {
  font-size: 12px;
  margin-top: -3px;
  display: block;
}

table.dataTable {
  margin-top: 0px !important;
}

.dataTable>tbody>tr>td,
.dataTable>tbody>tr>th,
.dataTable>tfoot>tr>td,
.dataTable>tfoot>tr>th,
.dataTable>thead>tr>td,
.dataTable>thead>tr>th {
  padding: 3px !important;
}

div.material-table .table-footer {
  height: 32px;
}

.img-he {
  height: 72px;
}

.img-he-new {
  height: auto;
}

.value-small {
  text-align: center;
  border-top: 1px solid #e0e0e0;
  color: #8e8888;
  background: #efefef;
}

.oct-large {
  font-size: 55px;
  color: #838384;
}

.sep-new {
  border-top: 1px dotted #ccc;
  margin: 24px 0px 24px 0px;
}

.index-content a:hover {
  color: black;
  text-decoration: none;
}

.index-content {
  margin-bottom: 0px;
  padding: 0px 0px;
}

.index-content .row {
  margin-top: 0px;
}

.index-content a {
  color: black;
}

.index-content .card {
  background-color: #ffffff;
  padding: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.index-content .card:hover {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.3);
  color: black;
}

.index-content .card img {
  width: 111px;
  height: 111px;
  padding: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin: auto;
}

.index-content .card h4 {
  background: #ccc;
  margin: 0;
  text-align: center;
}

.ind-con {
  background: #e8e8e8;
  margin: 0;
  text-align: center;
  font-size: 13px;
  padding: 5px;
}

.index-content .card p {
  margin: 0px;
  opacity: 0.65;
}

.index-content .blue-button {
  width: 100px;
  -webkit-transition: background-color 1s, color 1s;
  /* For Safari 3.1 to 6.0 */
  transition: background-color 1s, color 1s;
  min-height: 20px;
  background-color: #002e5b;
  color: #ffffff;
  border-radius: 4px;
  text-align: center;
  font-weight: lighter;
  margin: 0px 20px 15px 20px;
  padding: 5px 0px;
  display: inline-block;
}

.index-content .blue-button:hover {
  background-color: #dadada;
  color: #002e5b;
}

@media (max-width: 768px) {
  .index-content .col-lg-4 {
    margin-top: 20px;
  }
}

.left-ali {
  float: left !important;
}

.files input {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  padding: 120px 0px 85px 35%;
  text-align: center !important;
  margin: 0;
  width: 100% !important;
}

.files input:focus {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  -webkit-transition: outline-offset 0.15s ease-in-out,
    background-color 0.15s linear;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
  border: 1px solid #92b0b3;
}

.files {
  position: relative;
}

.files:after {
  pointer-events: none;
  position: absolute;
  top: 60px;
  left: 0;
  width: 50px;
  right: 0;
  height: 56px;
  content: "";
  background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
  display: block;
  margin: 0 auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.color input {
  background-color: #f1f1f1;
}

.files:before {
  position: absolute;
  bottom: 10px;
  left: 0;
  pointer-events: none;
  width: 100%;
  right: 0;
  height: 57px;
  content: " or drag it here. ";
  display: block;
  margin: 0 auto;
  color: #2ea591;
  font-weight: 600;
  text-transform: capitalize;
  text-align: center;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile-1+label {
  color: #ffffff;
  background-color: #32c5d2;
}

.inputfile+label {
  max-width: 80%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

.inputfile+label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

.link,
.link1 {
  cursor: pointer;
  z-index: 1;
}

.tooltip.show {
  margin-left: 15px;
}

.card {
  margin-bottom: 5px;
}

.btn-rose {
  color: #fff;
  background-color: #e91e63;
  border-color: #e91e63;
  /*set the color you want here*/
}

.btn-rose:hover,
.btn-rose:focus,
.btn-rose:active,
.btn-rose.active,
.open>.dropdown-toggle.btn-rose {
  color: #fff;
  background-color: #00b3db;
  border-color: #285e8e;
  /*set the color you want here*/
}

.form-control {
  height: 38px;
}

.is-focused .form-control {
  background-image: linear-gradient(0deg, #00b3db 2px, rgba(156, 39, 176, 0) 0),
    linear-gradient(0deg, #00b3db 1px, hsla(0, 0%, 82%, 0) 0);
}

#modalData .card-body {
  min-height: 360px;
}

.col-ico {
  list-style-type: none;
}

#accordion-style-1 h1,
#accordion-style-1 a {
  color: #007b5e;
}

#accordion-style-1 .btn-link {
  font-weight: 400;
  color: #007b5e;
  background-color: transparent;
  text-decoration: none !important;
  font-size: 16px;
  font-weight: bold;
  padding-left: 25px;
}

#accordion-style-1 .card-body {
  border-top: 2px solid #007b5e;
}

#accordion-style-1 .card-header .btn.collapsed .fa.main {
  display: none;
}

#accordion-style-1 .card-header .btn .fa.main {
  background: #007b5e;
  padding: 13px 11px;
  color: #ffffff;
  width: 35px;
  height: 41px;
  position: absolute;
  left: -1px;
  top: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
}

#link4 code span,
#link5 code span,
#link6 code span {
  padding-left: 10px;
  background-color: #e8e8e8;
  padding-right: 5px;
  border-radius: 5px;
  margin: 6px 3px;
  display: inline-block;
}

.header-new {
  font-size: 14px;
  padding-left: 12px;
  font-weight: 600;
  padding-bottom: 12px;
}

.card-pricing ul li {
  color: #999;
  text-align: center;
  padding: 0px 0;
  border-bottom: none;
}

.modal-content .nav-pills .nav-item .nav-link {
  line-height: 24px;
  text-transform: inherit !important;
  font-size: 13px;
  font-weight: 500;
  min-width: 100px;
  text-align: center;
  color: #555;
  transition: all 0.3s;
  border-radius: 6px;
  padding: 5px 9px;
}

#contactForm {
  position: absolute;
  background: white;
  width: 100%;
  min-height: 336px;
  overflow: scroll;
  height: 320px;
  font-size: 11px;
  text-align: left;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 3px;
  display: block;
  width: 100% !important;
}

.bmd-form-group {
  padding-bottom: 9px;
}

.bmd-form-group,
#datatable_filter label {
  display: block;
}

div.material-table .hiddensearch {
  padding: 0 10px;
  border-bottom: solid 1px #dddddd;
  display: none;
}

#datatable_filter label {
  margin-bottom: -2px;
}

div.material-table .hiddensearch input {
  margin: 0;
  border: transparent 0 !important;
  height: 30px;
  color: rgba(0, 0, 0, 0.84);
}

.bmd-form-group label {
  color: #333;
  font-size: 13px !important;
  padding-left: 5px;
  font-family: Open Sans, sans-serif;
  font-weight: 600;
}

#vert-tabs {
  border-right: solid 2px rgb(233, 30, 99);
}

#vert-tabs .nav-pills .nav-item i {
  padding: 0px;
}

#vert-tabs .nav-pills .nav-item .nav-link {
  border-bottom: 1px solid #e91e63;
  padding: 5px 1px;
}

.form-control select {
  width: 100%;
  font-size: 1rem;
  height: 1.6rem;
  padding: 0.125rem 0.125rem 0.0625rem;
  background: none;
  border: none;
  line-height: 1.6;
  box-shadow: none;
}

.form-control .label {
  position: absolute;
  top: 0.25rem;
  pointer-events: none;
  padding-left: 0.125rem;
  z-index: 1;
  color: #949494;
  font-size: 1rem;
  font-weight: normal;
  transition: all 0.38s ease;
}

.form-control .line {
  position: relative;
  border-bottom: 0.0625rem solid #7a7a7a;
  display: block;
}

.form-control .bar::before {
  content: "";
  height: 0.125rem;
  width: 0;
  left: 50%;
  bottom: -0.0625rem;
  position: absolute;
  background: #00d1b2;
  transition: left 0.38s ease, width 0.38s ease;
  z-index: 2;
}

/* .form-control:read-only {
  background-image: linear-gradient(0deg, #2fbbd3 2px, hsla(0, 0%, 82%, 0) 0),
    linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
} */

.form-control input,
.form-control textarea {
  display: block;
  background: none;
  padding: 0.125rem 0.125rem 0.0625rem;
  font-size: 1rem;
  border-width: 0;
  border-color: transparent;
  line-height: 1.9;
  width: 100%;
  color: transparent;
  transition: all 0.38s ease;
  box-shadow: none;
}

.form-control input[type="file"] {
  line-height: 1;
}

.form-control input[type="file"]~.bar {
  display: none;
}

.control select,
.control input:focus,
.control input:valid,
.control input.form-file,
.control input.has-value,
.control textarea:focus,
.control textarea:valid,
.control textarea.form-file,
.control textarea.has-value {
  color: #4a4a4a;
}

.control select~.label,
.control input:focus~.label,
.control input:valid~.label,
.control input.form-file~.label,
.control input.has-value~.label,
.control textarea:focus~.label,
.control textarea:valid~.label,
.control textarea.form-file~.label,
.control textarea.has-value~.label {
  font-size: 0.8rem;
  color: #616161;
  top: -1rem;
  left: 0;
}

.form-control select:focus {
  outline: none;
}

select.form-control:not([size]):not([multiple]) {
  height: calc(2.4375rem + -3px);
  font-size: 12px;
}

.card-header {
  font-size: 13px;
  font-weight: 700;
  border-bottom: none;
}

.tab-content span {
  font-size: 11px;
}

.altered {
  position: absolute;
  z-index: 999;
  width: 50%;
  left: 22%;
  top: -10px;
  margin: auto;
  text-align: center;
  padding: 8px 15px;
}

.btn-light {
  padding: 5px;
}

.select-with-transition {
  margin-top: 2px;
}

.filter-option-inner-inner {
  font-size: 12px;
}

.bootstrap-select .btn.dropdown-toggle.select-with-transition {
  background-image: linear-gradient(0deg, #00bcd4 2px, rgba(156, 39, 176, 0) 0),
    linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

div.material-table table th {
  border: solid 1px #ddd;
  text-align: center;
  font-weight: 400;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 6px 1px 1px #ccc;
  font-size: 12px;
  white-space: normal;
  padding: 3px 7px;
  vertical-align: middle;
  outline: none !important;
  height: 26px;
  line-height: 1.5em;
}

#datatable td:nth-child(n + 5) {
  text-align: center;
}

#catalog td:nth-child(n + 4) {
  text-align: center;
}

.altered-btn {
  position: absolute;
  display: inline-block;
  left: 137px;
  top: 0px;
}

.re-ico {
  font-size: 18px;
  height: 32px;
  min-width: 32px;
  width: 32px;
  padding: 0;
  overflow: hidden;
  position: relative;
  line-height: 32px;
}

.nav-item .sbig {
  font-size: 19px;
  padding-right: 3px;
}

.bigger-txt {
  width: 100%;
  height: 242px !important;
  padding: 45px;
  border-radius: 12px;
  border: solid 2px #ddd;
}

.bg-grey {
  min-height: auto !important;
  background-color: #ddd;
  border-radius: 5px;
}

.movie-table .table thead tr th {
  font-size: 11px;
  padding: 3px;
}

.logo-rect {
  background: none;
  padding: 7px 14px;
  padding-top: 4px;
  position: relative;
  top: 3px;
  display: inline-block;
  border-radius: 5px;
  width: 66%;
  height: 100%;
}

.collapse .nav-item.active>a {
  background: inherit !important;
  box-shadow: none !important;
  color: #00bcd4 !important;
}

.btn .caret {
  margin-left: 0;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.pagination>.page-item.active>a,
.pagination>.page-item.active>a:focus,
.pagination>.page-item.active>a:hover,
.pagination>.page-item.active>span,
.pagination>.page-item.active>span:focus,
.pagination>.page-item.active>span:hover {
  background-color: #2fbbd3;
  border-color: #2fbcd5;
  color: #fff;
  box-shadow: 0 4px 5px 0 rgba(47, 188, 213, 0.12),
    0 1px 10px 0 rgba(47, 188, 213, 0.12),
    0 2px 4px -1px rgba(47, 188, 213, 0.12);
}

.rec-style {
  padding: 4px 10px;
  border-radius: 15px;
}

.green-sbg {
  background: #4caf505c;
}

.red-sbg {
  background: #ff00005c;
}

.brown-sbg {
  background: #dec64e5c;
}

.blue-sbg {
  background: #4cacda5c;
}

.white-text {
  color: #fff;
}

.tr-edit-icons.row>a {
  padding: 3px;
  display: inline-flex;
  height: 100%;
  align-items: center;
}

.nav-tabs-wrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.nav-tabs-wrapper>div {
  margin-left: auto;
  cursor: pointer;
}

.form-check .form-check-sign .check {
  height: 17px;
  width: 17px;
}

.form-check .form-check-sign .check:before {
  margin-top: -4px;
  margin-left: 6px;
}

#reject_selected {
  max-width: 60px;
}

#approve_selected {
  max-width: 80px;
}

#action_header>.dropdown {
  width: 170px;
  margin-top: -8px;
  margin-right: 10px;
}

.bootstrap-select.form-control:not([class*="col-"]),
.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
  min-width: 100px;
  width: 100%;
  max-width: 100%;
}

/**Table inline edit styles**/

.inlineEditTable tr td:last-child,
#details_table tr td:last-child,
#details_table1 tr td:last-child {
  overflow: visible;
  position: relative;
}

.inlineEditTable>tbody tr .tr-edit-icons,
#details_table>tbody tr .tr-edit-icons,
#details_table1>tbody tr .tr-edit-icons {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #eee;
  padding-right: 0;
  overflow: visible;
  height: 100%;
}

.inlineEditTable>tbody tr:hover .tr-edit-icons,
#details_table>tbody tr:hover .tr-edit-icons,
#details_table1>tbody tr:hover .tr-edit-icons {
  display: block;
  opacity: 1;
  border: none;
  color: black;
  padding-right: 15px;
  text-align: right;
  margin-right: 0;
}

#materialTableHold {
  overflow: auto;
}

.hasSubChild+tr>td {
  padding-right: 28px;
}

.check-first {
  max-width: 48px;
}

/*******File upload design********/

.uploadFileName {
  font-size: 14px !important;
}

.ngx-file-drop__drop-zone {
  margin: auto;
  height: auto !important;
  border: 2px dotted #00bcd4 !important;
  border-radius: 12px !important;
  padding: 46px;
  position: relative;
}

.deal-entry .ngx-file-drop__drop-zone {
  height: 130px !important;
  max-height: 130px;
}

input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.upload_area span {
  font-size: 11px;
}

.upload_area .filedrop-text {
  position: static;
  font-size: 15px;
  top: 100px;
  color: #0782d0;
}

.upload_area span .filedrop-ico {
  position: static;
  font-size: 45px;
  top: 40px;
  left: 43%;
}

.page-item.disabled {
  opacity: 0.5;
}

.page-item.disabled {
  opacity: 0.5;
}

/*******File upload design********/

.ngx-file-drop__drop-zone {
  margin: auto;
  height: auto !important;
  border: 2px dotted #00bcd4 !important;
  border-radius: 12px !important;
  padding: 46px;
  position: relative;
}

.ngx-file-drop__drop-zone .ngx-file-drop__content {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0782d0;
  height: 35px !important;
}

.ngx-file-drop__content {
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100px;
  color: #0782d0;
  flex-direction: column;
}

.deal-entry .ngx-file-drop__drop-zone {
  height: 130px !important;
  max-height: 130px;
}

input[type="file"] {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 2;
  cursor: pointer;
}

.upload_area span {
  font-size: 11px;
}

.upload_area .filedrop-text {
  position: static;
  font-size: 15px;
  top: 100px;
  color: #0782d0;
}

.upload_area span .filedrop-ico {
  position: static;
  font-size: 45px;
  top: 40px;
  left: 43%;
}

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}

.btn-file {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
}

.modal-backdrop,
.modal {
  z-index: 10001 !important;
}

.dropdown-menu {
  z-index: 10000;
}

.align-items-flex-end {
  align-items: flex-end;
}

.scrollable-content {
  max-width: 100% !important;
}

.businessVertical .multiselect-dropdown .disabled>span {
  background-color: #fff !important;
}

.h-40 {
  height: 40%;
}

/* Interactive Grid CSS */

/* classGridh50 */

.classGridh50 .breadcrumbHeight {
  height: 8% !important;
}

.classGridh50 .gridBodyHeight {
  height: 92% !important;
}

.classGridh50 .header-report {
  height: 10% !important;
}

.classGridh50 .interActiveh-93 {
  height: 90% !important;
}

.classGridh50 .interActiveh-95 {
  height: 85% !important;
}

.classGridh50 .interActiveh-5 {
  height: 15% !important;
}

.classGridh50 .interActiveh-tbody {
  height: 80% !important;
}

.classGridh50 .interActiveh-thead {
  height: auto !important;
}

.classGridh50 .interActiveh-tfooter {
  height: auto !important;
}

/* classGridh50 */

/* classGridh40 */

.classGridh40 .breadcrumbHeight {
  height: 11% !important;
}

.classGridh40 .gridBodyHeight {
  height: 89% !important;
}

.classGridh40 .header-report {
  height: 13% !important;
}

.classGridh40 .interActiveh-93 {
  height: 87% !important;
}

.classGridh40 .interActiveh-95 {
  height: 80% !important;
}

.classGridh40 .interActiveh-5 {
  height: 20% !important;
}

.classGridh40 .interActiveh-tbody {
  height: 100% !important;
}

.classGridh40 .interActiveh-thead {
  height: auto !important;
}

.classGridh40 .interActiveh-tfooter {
  height: auto !important;
}

/* classGridh40 */

/* classGridh60 */

.classGridh60 .breadcrumbHeight {
  height: 7% !important;
}

.classGridh60 .gridBodyHeight {
  height: 93% !important;
}

.classGridh60 .header-report {
  height: 8% !important;
}

.classGridh60 .interActiveh-93 {
  height: 92% !important;
}

.classGridh60 .interActiveh-95 {
  height: 88% !important;
}

.classGridh60 .interActiveh-5 {
  height: 12% !important;
}

.classGridh60 .interActiveh-tbody {
  height: 100% !important;
}

.classGridh60 .interActiveh-thead {
  height: auto !important;
}

.classGridh60 .interActiveh-tfooter {
  height: auto !important;
}

/* classGridh60 */

/* classGridh100 */

.classGridh100 .breadcrumbHeight {
  height: 5% !important;
}

.classGridh100 .gridBodyHeight {
  height: 95% !important;
}

.classGridh100 .header-report {
  height: 5% !important;
}

.classGridh100 .interActiveh-93 {
  height: 95% !important;
}

.classGridh100 .interActiveh-95 {
  height: 93% !important;
}

.classGridh100 .interActiveh-5 {
  height: 7% !important;
}

.classGridh100 .interActiveh-tbody {
  height: 89% !important;
}

.classGridh100 .interActiveh-thead {
  height: auto !important;
}

.classGridh100 .interActiveh-tfooter {
  height: 6% !important;
}

/* classGridh100 */

/* classGridh30 */

.classGridh30 .breadcrumbHeight {
  height: 16% !important;
}

.classGridh30 .gridBodyHeight {
  height: 84% !important;
}

.classGridh30 .header-report {
  height: 12% !important;
}

.classGridh30 .interActiveh-93 {
  height: 88% !important;
}

.classGridh30 .interActiveh-95 {
  height: 78% !important;
}

.classGridh30 .interActiveh-5 {
  height: 22% !important;
}

.classGridh30 .interActiveh-tbody {
  height: 100% !important;
}

.classGridh30 .interActiveh-thead {
  height: auto !important;
}

.classGridh30 .interActiveh-tfooter {
  height: auto !important;
}

/* classGridh30 */

/* classGridh25 */

.classGridh25 .breadcrumbHeight {
  height: 12% !important;
}

.classGridh25 .gridBodyHeight {
  height: 88% !important;
}

.classGridh25 .header-report {
  height: 10% !important;
}

.classGridh25 .interActiveh-93 {
  height: 90% !important;
}

.classGridh25 .interActiveh-95 {
  height: 84% !important;
}

.classGridh25 .interActiveh-5 {
  height: 16% !important;
}

.classGridh25 .interActiveh-tbody {
  height: 100% !important;
}

.classGridh25 .interActiveh-thead {
  height: auto !important;
}

.classGridh25 .interActiveh-tfooter {
  height: auto !important;
}

.classGridh25 .paginationHold * {
  margin: 0px;
}

/* classGridh25 */

/* classGridh20 */

.classGridh20 .breadcrumbHeight {
  height: 13% !important;
}

.classGridh20 .gridBodyHeight {
  height: 87% !important;
}

.classGridh20 .header-report {
  height: 10% !important;
}

.classGridh20 .interActiveh-93 {
  height: 90% !important;
}

.classGridh20 .interActiveh-95 {
  height: 84% !important;
}

.classGridh20 .interActiveh-5 {
  height: 16% !important;
}

.classGridh20 .interActiveh-tbody {
  height: 62% !important;
}

.classGridh20 .interActiveh-thead {
  height: auto !important;
}

.classGridh20 .interActiveh-tfooter {
  height: auto !important;
}

.classGridh20 .paginationHold * {
  margin: -2px 0px;
}

/* classGridh20 */

/* classGridh66 */

.classGridh66 .breadcrumbHeight {
  height: 7% !important;
}

.classGridh66 .gridBodyHeight {
  height: 93% !important;
}

.classGridh66 .header-report {
  height: 8% !important;
}

.classGridh66 .interActiveh-93 {
  height: 92% !important;
}

.classGridh66 .interActiveh-95 {
  height: 90% !important;
}

.classGridh66 .interActiveh-5 {
  height: 10% !important;
}

.classGridh66 .interActiveh-tbody {
  height: 100% !important;
}

.classGridh66 .interActiveh-thead {
  height: auto !important;
}

.classGridh66 .interActiveh-tfooter {
  height: auto !important;
}

/* classGridh66 */

.h-4 {
  height: 4%;
}

.h-96 {
  height: 96%;
}

.grid12 .h-7 {
  height: 5% !important;
}

.modal-backdrop,
.modal {
  z-index: 10001 !important;
}

.dropdown-menu {
  z-index: 10000;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal>.swiper-pagination-bullets {
  bottom: 5px !important;
  left: 0px !important;
  width: 100% !important;
  max-height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader6Css {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.secondRow .popoverHold {
  top: -90% !important;
}

/* template theme  */

.blackTheme {
  background-color: #151515 !important;
  border-radius: 7px;
}

.blackTheme .widgetAdd i {
  color: #8e8e8e;
  font-size: 18px;
}

.blackTheme gridster-item {
  background-color: #2f2f2f !important;
}

.blackTheme .gridster-container .gridheader {
  background-color: #2f2f2f !important;
  border-bottom: none !important;
}

.blackTheme .header-icon,
.blackTheme .gridster-type {
  color: #a59e9e;
}

.blackTheme .material-table table tbody tr:hover {
  background-color: #ff5722 !important;
}

.blackTheme .material-table table tr td {
  border: solid 1px #5a5959 !important;
  color: #8e8e8e !important;
}

/* .blackTheme table th {
    background: #232222 !important;
} */

.blackTheme table td {
  background: #232222 !important;
}

.blackTheme .no-data {
  color: #666666 !important;
  font-family: Verdana, sans;
  font-size: 14px;
  text-anchor: middle;
  border-bottom: none;
  text-shadow: #ccc;
  text-shadow: 0px 0px #2a2a2a;
}

.blackTheme .swiper-pagination-bullet {
  background: #ccc;
  opacity: 0.8 !important;
}

.blackTheme .material-table .table-responsive table th {
  background: #232222 !important;
  color: #949494;
  border: solid 1px #5a5959 !important;
}

.blackTheme .modal-content tr td:first-child,
.blackTheme .modal-content tr td:last-child {
  border-left: solid 1px #949494 !important;
  border-right: solid 1px #949494 !important;
}

.blackTheme .material-table table tr td {
  border: 1px solid #949494 !important;
}

.blackTheme .material-table table tbody tr:hover {
  background-color: #ff5722 !important;
}

.blackTheme .material-table table tbody tr:hover td {
  color: #ffffff !important;
}

.whiteTheme {
  background-color: #fff !important;
  border-radius: 3px;
}

.whiteTheme .widgetAdd i {
  color: #3c4858;
}

.whiteTheme .gridster-container .gridheader {
  background-color: #fff !important;
  border-bottom: none !important;
}

.whiteTheme gridster-item {
  background-color: #fff !important;
}

.whiteTheme .header-icon,
.gridster-type {
  color: #a59e9e;
  /* color: #fff; */
}

.width-popup .modal-dialog {
  width: 70% !important;
  max-width: unset !important;
  left: 2%;
}

.cdk-overlay-container {
  z-index: 100000 !important;
}

.width-popup .mat-input-element {
  color: #2a2a2a !important;
}

.jtk-overlay.edgeLabel {
  background-color: #fff !important;
  color: #232222 !important;
  text-overflow: ellipsis;
  /* width: 100%; */
  font-size: 11px;
  text-align: center;
  border: 1px solid #ccc;
  z-index: 100;
}

._jsPlumb_connector {
  cursor: pointer;
}

.jtk-endpoint {
  z-index: 10000;
}

.modal-table.show .modal-dialog {
  height: 62% !important;
}

.link,
.link1,
svg .bottomLine,
svg .bottomLine1,
svg .bottomLine22 {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}

.link,
.link1 {
  cursor: pointer;
  z-index: 1;
}

.node {
  cursor: move;
  z-index: 2;
}

/* rect{
  fill: transparent;
  stroke-width: 2px;
} */
svg .material-table {
  background-color: #fff;
}

svg .fontColor600 {
  color: var(--content-color);
  font-size: 12px;
  font-weight: 600;
}

.container_min .display {
  font-size: 11px;
}

.drag_table ul {
  /* max-height: 250px; */
  /* overflow: auto; */
  margin: 0;
  padding: 0;
}

.tablefont {
  background: #fff;
  font-size: 12px;
}

.modal-xl {
  max-width: 1000px;
  max-height: 1000px;
}


.ico-width {
  width: 21px;
  fill: #aba6a6;
  height: 18px;
}

.ico-width1 {
  height: 13px !important;
  position: relative;
  top: -1px;
}

.ico-width2 {
  height: 13px !important;
}

.svgFlow {
  padding: 2px 1px;
  height: 25px;
  width: 25px;
  display: inline-block;
  border: solid 1px transparent
}

.svgFlow:hover {
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  padding: 2px 1px;
  position: relative;
  background-color: #e1e1e1;
  transition: 300ms;
  height: 25px;
  width: 25px;
  border: solid 1px #bdbdbd;
}

#treeview_container3 tree-viewport {
  overflow: unset !important;
}

#treeview_container4 tree-viewport {
  overflow: unset !important;
}


.switch-field {
  display: block;
  overflow: hidden;
  position: relative;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.6);
  font-size: 10px;
  line-height: 1;
  text-align: center;
  padding: 4px 3px;
  margin-right: -1px;
  margin-bottom: 0px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease-in-out;
  font-weight: 600;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}

.switch-field input:checked+label {
  background-color: var(--content-color);
  color: #fff;
}

.table-height-audit-accordian {
  max-height: 200px;
}

.table-height-audit-accordian-h {
  max-height: 200px;
  height: 200px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right.added {
  right: -125px;
  left: auto;
  height: 280px;
  max-height: 280px;
}

.number-span {
  position: absolute;
  font-size: 10px;
  top: -14px;
  color: black;
  font-weight: 400;
}

.notify_comments .ps-content  {
  height: auto !important;
}