.main-panel > .content-area {
    margin-top: 80px;
    padding: 0;
    height: calc(100vh - 95px);
    min-height: calc(100vh - 95px);
    position: relative;
    width: auto;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 7px;
}


#user-account .sorting_1 {
    text-align: center !important;
}

#user-account .image-center {
    text-align: center !important;
}

/*#user-account tbody tr .tr-edit-icons {
    display: none;
    position: absolute;
    top: 2px;
    right: 17px;
    background-color: #eee;
    padding-right: 0;
}

#user-account tbody tr:hover .tr-edit-icons {
    display: block;
    opacity: 1;
    border: none;
    color: black;
}

#user-account tr td:last-child {
    overflow: visible;
    position: relative;
}

#user-account tbody tr:hover {
    -webkit-box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0, 5px 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
    z-index: 1;
    background-color: #eee;
    border: 2px solid #00bcd4;
}*/

/*.check-first .form-check {
    position: relative;
    top: -8px;
    left: 7px;
}*/


#autocomplete {
    width: 300px;
    padding: 7px;
    text-align: left;
}

.autocomplete-suggestions {
    text-align: left;
    border: 1px solid #999;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 5px 5px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

    .autocomplete-group strong {
        display: block;
        border-bottom: 1px solid #000;
    }

.card-profile .card-avatar {
    max-width: 111px;
    max-height: 111px;
}
