.forheight {
    height: 100%;
}

.b-rad {
    border-radius: 10px;
}

.h-92 {
    height: 94%;
    border: 1px solid #ccc;
}

.h-8 {
    height: 6%;
}

.chipsRad {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 15px 0px 0px 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*
.panel-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 30em;
    transform: translateX(100%);
    transition: 0.3s ease-out;
    z-index: 999;
}

[type="checkbox"]:checked~.panel-wrap {
    transform: translateX(0%);
}

.panel-new-01 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 1em;
}

.panel-wrap-schedule {
    position: absolute;
    top: 70px !important;
    bottom: 0;
    left: -5px !important;
    width: 14em;
    transform: translateX(-150%);
    transition: 0.3s ease-in;
    z-index: 10000;
}

.connectorResource {
    position: absolute;
    left: -77px;
    top: 54px;
    z-index: 1;
    transform: rotateZ(-90deg);
    transform-origin: 50% 51%;
    -webkit-transform-origin: 50% 51%;
}

.panel-new-01 label, .panel-new-01 .form-control, .panel-new-01 .ng-select .ng-select-container {
    color: #fff;
}

.panel-new-01 .form-check .form-check-sign .check {
    border: 1px solid #ccc;
}

.panel-new-01 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    padding: 1em;
}

.icon-filter {
    cursor: pointer;
}

.reportmenu {
    position: fixed;
    padding: 0;
    left: 2px;
    background: #000000;
    min-width: 216px;
}

.secondmenu {
    color: white;
} */

.bg-gray-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
    background: #b7b7b7;
    /* border: solid 3px #ccc; */
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-right: solid 3px;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-2em {
    margin-bottom: 12px !important;
}

.fontClose {
    height: 5%;
    font-size: 20px !important;
    padding-right: 9px;
    /* color: #fff; */
}

.minHeight115 {
    /* min-height: 180px;
    overflow: auto; */
    /* height: 100%; */
    display: flex;
    /* border: 1px solid; */
}

.h-30 {
    height: 30%
}

.h-15 {
    height: 15%
}

.h-40 {
    height: 40%
}

.h-50 {
    height: 50%
}

.group-con {
    height: 95%;
    display: grid !important;
    grid-template-columns: 1fr !important;
}

.ml-15 {
    margin-left: 15px;
}

.dashHeight {
    height: 105px;
    /* border: 1px solid #ccc; */
    margin-right: 3px;
    margin-bottom: 1px;
    cursor: pointer;
    /* perspective: 1000px; */
    background: #08498c;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* .flip-card-back {
    transform: rotateY(180deg);
    background-color: #ccc !important;
}

*/

.dashHeight:hover {
    border: 1px solid #fff;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-content {
    color: #bdbdbd;
    font-size: 11px;
    padding-left: 3px;
    text-align: center;
}

.dashSvgDiv {
    width: 36px;
    padding-top: 4px;
}

.caption-text {
    color: #3697fb;
    /* font-weight: bold; */
}

/* .bg-gray-slide .card {
    border: solid 3px #7f7f7f;
    border-left: none;
    background-color: #2f2f2f
    background-image: url(../../../../../assets/img/dash-bg-01.jpg);
    background: rgb(5, 75, 82);
    background: linear-gradient(0deg, rgb(6, 7, 8) 52%, rgb(75, 81, 82) 99%);
} */

.bg-gray-slide .dash-svg {
    fill: #fff;
}

.activeReport {
    background: #efebe9;
}

.report-slider-top {
    border-radius: 12px;
    /* position: absolute; */
    z-index: 153 !important;
    width: 100%;
    height: 8%;
    /* margin-top: 6px !important; */
    /* top: 0; */
    /* bottom: 8%;
    left: 17%;
    min-height: 80%;
    max-height: 90%; */
    /* overflow: hidden; */
    margin: 0;
    /* padding: 12px; */
    transition: all .4s ease-in-out 0s;
    /* transform: translateX(0) scaleY(0);
    transform: translateX(0) scaleY(0); */
    transform-origin: top;
    /* border: 1px solid; */
    /* border-radius: 12px; */
    background: #ffffff;
    /* border-color: #c3c3c3 !important; */
    /* box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%); */
}

.w-80 {
    width: 80%;
}

.w-88 {
    width: 88%;
}

.report-slider {
    position: absolute;
    top: 0;
    z-index: 153 !important;
    width: 20%;
    left: -30%;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    margin: 0;
    padding: 0;
    height: calc(100vh - 68px) !important;
    -webkit-transition: left 0.4s ease-in-out;
    -moz-transition: left 0.4s ease-in-out;
    -o-transition: left 0.4s ease-in-out;
    transition: left 0.4s ease-in-out;
    /* display: none; */
}

.slideDashRight {
    /* right: 0%; */
    top: 3%;
}

.slideDashRightTransform {
    transform: translateX(0) scaleY(1);
    -webkit-transform: translateX(0) scaleY(1);
    -o-transform: translateX(0) scaleY(1);
    -ms-transform: translateX(0) scaleY(1);
}

.slideDash {
    left: 0%;
    /* display: block; */
}

/* .bg-gray-slide .panel {
    background: #2f2f2f;
} */

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding: 8px;
    padding-left: 15px;
    line-height: 9px;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.panel-heading a {
    font-weight: 600;
}

/* .panel-default {
    border-color: #6b6b6b;
    margin: 9px 6px 0px 6px;
} */

.panel-body .table {
    margin-bottom: 0px;
}

.panel a {
    color: #887771;
    font-size: 13px;
}

.bg-gray-slide .panel-title a {
    padding: 6px 9px 0px 6px;
}

.panelSubText, .panelTitleText {
    padding-left: 9px;
}

.report-slider, .slideDash {
    display: inline-block;
}

.report-slide-icon1 {
    cursor: pointer;
    position: absolute;
    height: 18px;
    width: 15px;
    text-align: center;
    font-size: 25px;
    z-index: 1000;
    color: #ffffff;
    background: var(--content-color) !important;
    /* top: 8% !important; */
    left: 48%;
    width: 40px;
    padding: 0;
    margin: 0;
    /* background: none !important; */
    font-weight: 600;
}

.report-slide-icon {
    cursor: pointer;
    position: fixed;
    display: block;
    height: 40px !important;
    width: 15px;
    text-align: center;
    font-size: 20px;
    padding-top: 6px;
    z-index: 1;
    color: #fff;
    background: var(--content-color) !important;
    top: 48%;
    left: 25%;
}

.mainHeaderClass {
    margin: 5px;
    color: #6c757d;
}

.glyphicon {
    margin-right: 10px;
}

.panel-body {
    padding: 0px;
}

.panel-body table tr td {
    padding-left: 15px
}

.panel-body .table {
    margin-bottom: 0px;
}

.topBgColor {
    /* background-color: #7f7c7e; */
    display: flex;
    margin: 0px;
    margin-top: 1px;
    border-radius: 12px;
    padding-top: 5px;
    height: 11%;
    align-content: center;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.w-97 {
    width: 97%;
}

.w-3 {
    width: 3%;
}

.tabReport {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h-89 {
    height: 89% !important;
}

.h-5 {
    height: 5% !important;
}

.repprtScreenCss .breadcrumbs {
    list-style-type: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}

.repprtScreenCss .breadcrumbs a {
    cursor: pointer;
}

.repprtScreenCss .breadcrumbs>*+*::before {
    content: ">>";
    padding: 0 5px;
    color: #000;
}

.repprtScreenCss .chip a {
    color: #fff;
    padding-left: 2px;
}

.drillDownClass {
    display: none;
}

.drillDownHide {
    display: block;
}

.navIco {
    position: absolute;
    color: #fff;
    right: 30px;
    top: 35px;
}

.tabReport .dropdown-menu {
    top: 60px;
    left: unset;
    right: 25px;
}

.inlineBlock {
    display: inline-block;
}

.w-90 {
    width: 90%;
}

.w-10 {
    width: 10%;
}

.cursorPointer {
    cursor: pointer;
}

.bg-gray-slide .panel {
    margin-bottom: 2px !important;
}

.prelative {
    position: relative;
}

.ellipsisClass {
    width: 20px;
    display: block;
    cursor: pointer;
}

.pAbsolute {
    position: absolute;
    top: 3%;
    right: 3%;
}

.dropOverClass {
    right: 50% !important;
    top: 70% !important;
    left: unset !important;
}

.excelButton {
    margin: 0px 45px;
    background-color: var(--content-color);
    color: #fff;
    border: var(--border-btn-color);
    cursor: pointer;
}

/* .repprtScreenCss .nav-tabs .nav-item .nav-link {
    color: #2fbcd5 !important;
} */

/* .repprtScreenCss .chip_name {
    color: #fff !important;
}

.repprtScreenCss .chip:hover,
.repprtScreenCss .activeConnector {
    background-color: #2f2f2f !important;
} */

.h-35 {
    height: 35%;
}

.h-65 {
    height: 65%;
}

.w-20 {
    width: 20%;
}

.validation {
    color: red;
    font-size: 12px;
    margin-top: 25px;
}

.h-5 {
    height: 5%;
}

.h-95 {
    height: 95%;
}

.h-90 {
    height: 90%;
}

.h-10 {
    height: 10%
}

.padd12 {
    padding: 5px 12px;
}

.report-slider-top .bmd-label-static {
    font-size: 13px !important;
    font-weight: 600 !important;
    padding-left: 9px !important;
    top: -5px !important;
    font-family: 'Open Sans', sans-serif;
    color: #737373 ;
}

.bmd-form-group .form-control, .box-center .bmd-form-group input::placeholder, .bmd-form-group {
    line-height: 1.1;
    /* color: var(--selected-color); */
    font-size: 13px;
}
input[type = text] {
    padding-top: 16px;
    color: #616161 !important;
}

.ng-select-container>.ng-value-container>.ng-value>.ng-value-label {
    font-size: 12px !important;
    background: none !important
}

.form-control, .is-focused .form-control {
    background-image: linear-gradient(0deg, var(--content-color) 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, var(--slider-border) 1px, hsla(0, 0%, 82%, 0) 0) !important;
}

.btn.btn-new-rose {
    color: var(--content-color);
    background-color: transparent;
    border: none;
    box-shadow: none;
}

.bread-class {
    color: #999 !important;
    /* font-size: 13px;
    font-weight: 600; */
}

#ulBreadcrumb {
    font-size: 80%;
    font-weight: 400;
}

.breadhighlight {
  color: #5f90ff !important;
  text-decoration: underline !important;
}

.icon-top-sec {
    position: relative;
    top: -3px
}

.multiselect-dropdown .dropdown-btn {
    border: none !important;
    border-bottom: 1px solid #5c5c5c !important;
    padding: 6px 1px !important;
    line-height: 24px !important;
    border-radius: 0px !important;
}

.reportLeft1 {
    border-radius: 12px 12px 0 0;
    top: 77% !important;
    transition: all .4s ease-in-out 0s;
    /* transform: translateX(0) scaleY(1); */
    /* transition: top 0.4s ease-in-out;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out; */
}

.report-button {
    box-shadow: none;
}

.cursorPointer {
    cursor: pointer;
}

.showSearch {
    text-align: center;
    margin-left: 1px;
    cursor: pointer;
    /* background: var(--content-color); */
    width: 100%;
    height: 100%;
    display: block;
}

.showSearch i {
    color: var(--content-color);
    font-size: 16px;
}

.w-2 {
    width: 2%;
}

.btn-new-rose:hover {
    background: none !important;
    border: none !important;
    color: #847f7f !important;
}

.showSearch .fa-search:hover {
    color: #847f7f !important;
}

.validation-error {
    z-index: 9998;
}

.w-82 {
    width: 82%;
}

.w-6 {
    width: 6%;
}

.w-50 {
    width: 50%;
}

.render-pdf {
    margin-top: 8px;
    margin-left: 5px;
}

.render-pdf-icon {
    color: var(--content-color);
    font-size: 21px;
    cursor: pointer;
}

.cardBox3 {
    /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23) !important; */
    border: 2px solid var(--content-color);
}

.w-18 {
    width: 18%;
}

.w-15 {
    width: 15%;
}

.w-80 {
    width: 80%;
}

.w-70 {
    width: 70%;
}

.w-2 {
    width: 2%;
}

.crusorPointer {
    cursor: pointer;
}

.header-span-popover {
    cursor: pointer;
    min-width: 46px;
}

.nav-icon i {
    color: #868585 !important;
    font-size: 16px !important;
}

.nav-icon i:hover {
    color: #847f7f !important;
}

.nav-icon {
    padding: 3px !important;
}

.remove-top {
    position: unset;
    z-index: 956 !important;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
    right: -13px;
    top: 29px;
    border: 1px solid var(--content-color);
}

.triangleUp::after, .triangleUp:before {
    top: -1px;
}

.header-title {
    text-transform: unset !important;
    border-bottom: 1px dotted #ccc;
    cursor: pointer;
}

#navbarNotificationDropdown+div[aria-labelledby="navbarNotificationDropdown"] {
    width: unset;
}
#navbarNotificationDropdown1+div[aria-labelledby="navbarNotificationDropdown1"] {
  width: unset;
}

.navbar-expand-lg .fixed-plugin {
    top: -7px;
}

.active-title {
    color: var(--content-color);
}

.pdf-excel li.header-title {
    height: unset;
    line-height: 12px !important;
}

.font12 {
    /* font-size: 15px; */
    font-weight: 600;
}

.font-12{
    font-size: 12px;
}

.red-close {
    position: absolute !important;
    top: -2px !important;
    right: -2px !important;
    font-size: 12px !important;
}

.tableSeperate{
    border-collapse: separate !important;
    border-spacing: 0;
}
.h-auto{
    height: auto;
}
.overFlowAuto{
    overflow: auto;
}
.cardBox4{
    box-shadow: 3px 3px 2px rgb(0 0 0 / 20%);
    border: 1px solid #ccc;
}
.multTopPx{
    position: relative;
    top:22px;
}
.downloadMultiGrid{
    position: absolute;
    z-index:153 !important;
}

.top-zero {
    top: 0 !important;
}

.w-98 {
    width: 98%;
}

.border-none {
    border: none;
}

.report-slider-top .top-label {
    top: 2px !important;
    position: absolute;
    left: -16px;
}

.scaling-download {
    margin-left: 23px;
    margin-right: 23px;
}

.scaling-factor {
    top: -5px;
}

.repprtScreenCss #navbarNotificationDropdown .triangleUp::after, .triangleUp:before, .repprtScreenCss #navbarNotificationDropdown1 .triangleUp::after {
    border-bottom: 19px solid var(--content-color) !important;
}

.scaling-position {
    left: 23px !important;
}

.h-93 {
    height: 93%;
}

.h-7 {
    height: 7%;
}

.download-margin {
    margin-top: 3px;
}

.interAct-download {
    z-index: unset !important;
}

.disabled-icon {
    color: #bdbdbd !important;
}

.nav-item .disabled-icon {
    color: #bdbdbd !important;
}

.info-dropdown {
    width: 500px;
    height: 400px;
    background: #ececec;
    top: 32px !important;
}

.repprtScreenCss #navbarNotificationDropdown .info-dropdown::after, .info-dropdown:before, .repprtScreenCss #navbarNotificationDropdown1 .info-dropdown::after {
    border-bottom: 16px solid var(--content-color) !important;
}

.info-dropdown::after, .info-dropdown:before {
    top: -7px !important;
}

.border-r {
    border-right: 1px dotted #ccc;
}

.download-csv {
    width: 210px;
}

.more-prompts {
    color: #000;
    cursor: pointer;
}

.outside-click .dropdown-toggle:after {
    display: none;
}

.dropdown-menu .fixed-plugin li.header-title {
    padding: 11px 0;
    height: unset;
    text-align: left;
    color: #202124;
    font: 400 15px/20px 'Product Sans', Arial, Helvetica, sans-serif;
    margin: 0;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
    background: #e1e1e1;
    box-shadow: unset;
}

.dropdown-menu .fixed-plugin {
    box-shadow: none;
    width: unset;
    left: unset;
    right: unset;
    position: relative;
}

.secondFilter {
    position: absolute;
    left: 100%;
    top: -2px
}

.rightAlign {
    left: unset;
    right: 100%;
}

.active-scaling {
    background: #d9d4d4 !important;
}

.report-filter {
    padding: 7px 0;
    color: #000000;
    font-weight: normal;
    box-shadow: rgb(0 0 0 / 14%) 0px 2px 2px 0px, rgb(0 0 0 / 20%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 5px 0px;
}

.filter-label {
    position: absolute;
    top: 18px;
    left: 30px;
    font-size: 18px;
}

.filter-label-out {
    color: #000000;
    font-weight: normal;
    font-size: 18px;
}

.run-icon {
    margin-top: 20px;
}

.small-icons {
    color: #606060;
    font-size: 21px;
    font-weight: 600;
}

.drillDown-top {
    z-index: 961;
    /* margin-top: -18px;
    margin-left: 5.4%;
    height: 5%; */
    position: absolute;
    top: -18px;
    left: 5.3%;
}

.drillDown-top ul {
    font-size: 13px !important;
}

.disabled-slide-icon span{
    color: #b9b9b9;
}

.disabled-list {
    color: #bbb7b7 !important;
}

.thirdFilter {
    top: 100%;
    left: 0;
}

.thirdFilter .dropdown-menu:before {
  content: unset !important;
}

.white-bg {
    background: #fff;
    height: 100px;
}

.driiDown-name {
  color: #5f90ff !important;
  text-decoration: underline !important;
}
