<div class="bg-gray-slide" *ngIf="dashGroup">
    <div class="card h-100 m-0 d-flex flex-column">
        <div class="tree-title mb-1">Dashboards</div>
        <div class="d-flex flex-row">
            <div class="w-100">
                <perfect-scrollbar>
                    <div class="panel-group" id="accordion" *ngFor="let data of dashGroup; let i = index">
                        <div class="panel panel-default" *ngIf="data.children.length && data?.reportsAvailable">
                            <div class="panel-heading panel-bg" (click)="accordinFn(data)">
                                <div class="panel-title">
                                    <a href="javascript:void(0)" class="d-flex align-items-center">
                                        <span class="material-icons panelIcon">business_center</span>
                                        <!-- <i class="fa fa-briefcase panelIcon" aria-hidden="true"></i> -->
                                        <span class="panelTitleText">{{data.description}}</span>
                                    </a>
                                </div>
                            </div>
                            <ng-container *ngIf="data.children.length">
                                <div class="panel-collapse" [ngClass]="data.isOpen ? 'in' : 'collapse'">
                                    <div class="panel-body panel-secondlevel h-100"
                                        [ngClass]="dashGroup.length -1 == i ? 'last-panel':''">
                                        <perfect-scrollbar>
                                            <table class="table">
                                                <ng-container *ngFor="let dash of data.children; let j = index">
                                                    <tr *ngIf="dash.children && dash.children.length"
                                                        (click)="accordinFnSub(dash)"
                                                        [ngClass]="dash.isMenuActive ? 'activeReport' : ''">
                                                        <td>
                                                            <a href="javascript:void(0)"
                                                                class="d-flex align-items-center">
                                                                <!-- <i class="fa fa-file panelIconSub" aria-hidden="true"></i> -->
                                                                <span class="material-icons font-16">folder</span>
                                                                <span class="panelSubText">{{dash.description}}</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <ng-container *ngIf="dash.children && dash.children.length">
                                                        <div class="sub-tr" [ngClass]="dash.isOpen ? 'in' : 'collapse'"
                                                            [ngStyle]="heightReturn(dash.children)">
                                                            <perfect-scrollbar>
                                                                <tr (click)="menuclick(dash1, dash, data)"
                                                                    *ngFor="let dash1 of dash.children; let k = index">
                                                                    <td class="last-level">
                                                                        <a href="javascript:void(0)"
                                                                            class="d-flex align-items-center">
                                                                            <span
                                                                                class="material-icons font-16">dashboard</span>
                                                                            <!-- <i class="fa fa-add panelIconSub" aria-hidden="true"></i> -->
                                                                            <span class="panelSubText-sub"
                                                                                [ngClass]="dash1.highlight ? 'highlighted-report': ''">{{dash1.description}}</span>
                                                                        </a>
                                                                    </td>
                                                                </tr>
                                                            </perfect-scrollbar>
                                                        </div>
                                                    </ng-container>
                                                </ng-container>
                                            </table>
                                        </perfect-scrollbar>
                                    </div>
                                </div>
                            </ng-container>
                        </div>

                    </div>
                </perfect-scrollbar>
            </div>
            <div class="close fontClose">
                <a class="float-right" (click)="closeSlide()"><i
                        class="fa fa-angle-double-left report-close-icon"></i></a>
            </div>
        </div>
    </div>
</div>