<ng-container *ngIf="data.tileType == 'T'">

    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' *ngIf="data.transitionEffect == null" [config]="slideChartConfig" (mouseenter)="stopThis('swiperSeq'+data.tileSequence,data)" (mouseleave)="startThis('swiperSeq'+data.tileSequence,data)">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-tiles [inputData]="cor" class="swiper-slide h-100" [index]=k [tileDetail]="tileDetails"></app-tiles>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' *ngIf="data.transitionEffect == 'FLIP'" [config]="filpConfig" (mouseenter)="stopThis('swiperSeq'+data.tileSequence,data)" (mouseleave)="startThis('swiperSeq'+data.tileSequence,data)">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-tiles [inputData]="cor" class="swiper-slide h-100" [index]=k [tileDetail]="tileDetails"></app-tiles>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>

    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' *ngIf="data.transitionEffect == 'CUBE'" [config]="cubeConfig" (mouseenter)="stopThis('swiperSeq'+data.tileSequence,data)" (mouseleave)="startThis('swiperSeq'+data.tileSequence,data)">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-tiles [inputData]="cor" class="swiper-slide h-100" [index]=k [tileDetail]="tileDetails"></app-tiles>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>

    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' *ngIf="data.transitionEffect == 'FADE'" [config]="fadeConfig" (mouseenter)="stopThis('swiperSeq'+data.tileSequence,data)" (mouseleave)="startThis('swiperSeq'+data.tileSequence,data)">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-tiles [inputData]="cor" class="swiper-slide h-100" [index]=k [tileDetail]="tileDetails"></app-tiles>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>

    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' *ngIf="data.transitionEffect == 'SLIDE'" [config]="slideConfig" (mouseenter)="stopThis('swiperSeq'+data.tileSequence,data)" (mouseleave)="startThis('swiperSeq'+data.tileSequence,data)">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-tiles [inputData]="cor" class="swiper-slide h-100" (outputEmit)="dataRetur($event,k)" [index]=k [tileDetail]="tileDetails"></app-tiles>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>

    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' *ngIf="data.transitionEffect == 'COVER'" [config]="coverConfig" (mouseenter)="stopThis('swiperSeq'+data.tileSequence,data)" (mouseleave)="startThis('swiperSeq'+data.tileSequence,data)">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-tiles [inputData]="cor" class="swiper-slide h-100" [index]=k [tileDetail]="tileDetails"></app-tiles>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
    <div class="popoverHold" id="popoverHold">
        <div class="close mt-1" (click)="closePopoverChart($event,data)"><i class="fa fa-times"></i></div>
        <ng-container *ngIf="drillDownlstFlag && data.childTileslst[selectedIndex].drillDownlst.length">
            <ng-container *ngFor="let drillDownData of data.childTileslst[selectedIndex].drillDownlst">
                <div class="d-flex align-items-stretch w-100 h-100">
                    <div class="card h-100">
                        <div class="card-body h-100">
                          <div class="d-flex flex-row w-100">
                            <h5 class="mb-1 h-5 font-drilldown w-95">
                              {{drillDownData.tileCaption}}
                            </h5>
                            <div *ngIf='drillDownData.tileType == "G"' class="icon-list outside-click w-2 run-icon z-unset"
                            ngbDropdown placement="bottom-right" #drop="ngbDropdown" [autoClose]="'outside'">
                              <a class="nav-icon more-icon p-0" href="javascript:void(0);" data-toggle="dropdown" ngbDropdownToggle
                                aria-haspopup="true" aria-expanded="true">
                                <span class="material-icons small-icons">more_vertz</span>
                              </a>

                              <div ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
                                class="dropdown-menu dropdown-menu-right triangleUp1 pt-0 b-radius-none">
                                <ul class="fixed-plugin dropdown-menu show">

                                  <li ngbDropdownItem class="header-title d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                      (click)='toggleShowDrop($event, "showExportOption")'>
                                      <span class="w-70 d-flex justify-content-start">Export</span>
                                      <i class="material-icons">arrow_right</i>
                                    </div>
                                  </li>
                                  <!-- <li ngbDropdownItem class="header-title d-flex justify-content-between align-items-center disabled-list">
                                                      <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                                                        <span class="w-70 d-flex justify-content-start">Maximize</span>
                                                      </div>
                                                    </li> -->
                                </ul>
                                <div *ngIf="dropdownSetting.showExportOption" class="secondFilter rightAlign">
                                  <ul class="fixed-plugin b-radius-none dropdown-menu show p-0">
                                    <li class="header-title d-flex justify-content-between align-items-center"
                                      (click)="exportGridDrillDown('download', 'xlsx', drop)">
                                      <div class="col-12">Excel</div>
                                    </li>
                                    <!-- <li class="header-title d-flex justify-content-between align-items-center"
                                                                (click)="exportDropdown('download', 'csv', drop)">
                                                                  <div class="col-12">CSV</div>
                                                                </li> -->
                                    <li class="header-title d-flex justify-content-between align-items-center"
                                      (click)="exportGridDrillDown('download', 'pdf', drop)">
                                      <div class="col-12">PDF</div>
                                    </li>
                                    <!-- <li *ngIf="!reportOrientation" class="header-title d-flex justify-content-between align-items-center">
                                                                  <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                                                      (click)='toggleShowDropPDF($event, "showPdfOption")'>
                                                                      <span class="w-70 d-flex justify-content-start">PDF</span>
                                                                      <i *ngIf="!dropdownSetting.showPdfOption" class="material-icons">arrow_drop_down</i>
                                                                      <i *ngIf="dropdownSetting.showPdfOption" class="material-icons">arrow_drop_up</i>
                                                                  </div>
                                                                  <div *ngIf="dropdownSetting.showPdfOption" class="secondFilter thirdFilter">
                                                                      <ul class="fixed-plugin shadow-imp dropdown-menu show p-0">
                                                                          <li class="header-title d-flex justify-content-between align-items-center"
                                                                              (click)="exportDropdown('download', 'pdf', drop, 'P')">
                                                                              <div class="col-12">Portrait</div>
                                                                          </li>
                                                                          <li class="header-title d-flex justify-content-between align-items-center"
                                                                              (click)="exportDropdown('download', 'pdf', drop, 'L')">
                                                                              <div class="col-12">Landscape</div>
                                                                          </li>
                                                                      </ul>
                                                                  </div>
                                                              </li> -->
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                            <ng-container *ngIf="drillDownData.tileType == 'C'">
                                <div class="chart-container h-95" *ngIf="drillDownData.chartDataSet">
                                    <fusioncharts width="100%" baseChartMessageFontSize="14" containerBackgroundOpacity="0" height="100%" [dataFormat]='json' [type]="drillDownData.chartType" [dataSource]="drillDownData.chartDataSet1">
                                    </fusioncharts>
                                </div>
                            </ng-container>
                            <ng-container *ngIf='drillDownData.tileType == "G"'>
                              <div class="material-table h-95" *ngIf="drillDownData.gridColumnSet.length">
                                  <perfect-scrollbar style="max-height: 100%;" [config]="{suppressScrollX:false}">
                                    <table>
                                      <thead>
                                          <tr>
                                            <ng-container *ngFor='let tableHeader of drillDownData.gridColumnSet'>
                                              <th *ngIf="tableHeader.labelRowNum == 1" [attr.rowspan]="tableHeader.rowspan == 0 ? -1: tableHeader.rowspan" [attr.colspan]="tableHeader.colspan">
                                                {{tableHeader.caption}}
                                            </th>
                                            </ng-container>
                                          </tr>
                                          <tr>
                                            <ng-container *ngFor="let tableHeader of drillDownData.gridColumnSet">
                                                <th *ngIf="tableHeader.labelRowNum == 2">
                                                    {{tableHeader.caption}}
                                                </th>
                                            </ng-container>
                                        </tr>
                                      </thead>
                                      <tbody>
                                          <tr *ngFor='let tdData of drillDownData.gridDataSet'>
                                              <ng-container
                                                  *ngFor='let tableHeader of drillDownData.gridColumnSet; let dataindex = index;'>
                                                  <td *ngIf="tableHeader.colspan < 2" [ngClass]="[(tableHeader.colType == 'N'|| tableHeader.colType == 'TR' || tableHeader.colType == 'NR' || tableHeader.colType == 'I' || tableHeader.colType == 'S') ?
                                                  'text-right': tableHeader.colType == 'P' ? 'text-center w-40px':'',tdData.FORMAT_TYPE == 'FT' ? 'font-bold':'']">
                                                    <span *ngIf="tableHeader.colType == 'T' || tableHeader.colType == 'D' || tableHeader.colType == 'TR' || tableHeader.colType == 'NR'">
                                                      {{tdData[tableHeader.dbColumnName]}}
                                                  </span>
                                                  <span class="text-right" *ngIf="tableHeader.colType == 'N'">
                                                      {{tdData[tableHeader.dbColumnName] | number: '1.2-2'}}
                                                  </span>
                                                  <span class="text-right" *ngIf="tableHeader.colType == 'I' || tableHeader.colType == 'S'">
                                                      {{tdData[tableHeader.dbColumnName] | number: '1.0-0'}}
                                                  </span>
                                                  <span *ngIf="tableHeader.colType == 'P'">
                                                    <ng-container *ngIf="tdData[tableHeader.dbColumnName]== 'GREEN1'">

                                                      <i class="material-icons" style="color:#23c809">arrow_upward</i>
                                                    </ng-container>
                                                    <ng-container *ngIf="tdData[tableHeader.dbColumnName]=='RED1'">
                                                      <i class="material-icons" style="color: #e00202;">arrow_downward</i>
                                                    </ng-container>
                                                  </span>
                                                  </td>
                                              </ng-container>
                                          </tr>
                                      </tbody>
                                  </table>
                                  </perfect-scrollbar>
                              </div>
                              <p class="no-data" *ngIf="!drillDownData.gridColumnSet.length || !drillDownData.gridDataSet.length">
                                No data for display
                              </p>
                          </ng-container>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <ng-container *ngIf="drillDownlstFlag && !data.childTileslst[selectedIndex].drillDownlst.length">
            <p class="nddisplay">No data for display.</p>
        </ng-container>
        <ng-container *ngIf="!drillDownlstFlag">
            <div class="card h-100 loader6Card">
                <div class="card-body">
                    <span [innerHtml]="loaderSvg | domSan:'html'" class="loader6Css"></span>
                </div>
            </div>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="data.tileType == 'C'">
    <swiper class="w-100 h-100" [id]='"swiperSeq"+data.tileSequence' [config]="slideChartConfig">
        <div class="swiper-wrapper">
            <ng-container *ngFor="let cor of data.childTileslst; let k = index">
                <app-chart [inputData]="cor" class="swiper-slide h-100" [index]=k></app-chart>
            </ng-container>
        </div>
        <div class="swiper-pagination"></div>
    </swiper>
</ng-container>

<a style="display: none;" class="download-zip-link" #downloadZipLink></a>
