
.textarea-field {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #ddd;
  font-size: 12px;
  margin-top: 12px;
}

.textarea-field::placeholder {
  font-size: 14px;
}

.prompt-icon {
  margin: 11px;
  font-size: 20px;
  cursor: pointer;
}

.prompt-err {
  color: #f70505;
}

.prompt-color {
  color: #4c4cea
}

.requiredBox {
  position: absolute;
  right: 11px;
  color: #ff0000;
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  top: 0px;
  z-index: 1;
}

.bt15 {
  bottom: unset !important;
  top: 20px;
}

.adv-props {
  margin-bottom: 3px;
}

.adv-props a {
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
  color: #5f90ff !important;
  text-decoration: underline !important;
}

.ftp-icon {
  font-size: 21px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 20px;
}

.ftp-icon span {
  font-size: 21px;
}

.burst-icon {
  position: absolute;
  left: 8px;
  top: 12px;
}

.burst-icon span {
  font-size: 21px;
  cursor: pointer;
}

.days-selector ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}

.days-selector ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  color: #2a2a2a;
  padding: 3px;
  margin: 0 4px;
  border-radius: 6px !important;
  width: 40px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #ccc;
}

.days-selector ul li.active {
  background: var(--content-color);
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
  color: #fff;
}

input.form-control {
  padding-top: 18px;
}

.nav-tabs .nav-item .tab-color {
  color: #4a4a4a !important;
  font-size: 14px !important;
  line-height: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600 !important;
  padding: 0 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--content-color) !important;
  border-radius: 0;
  transform: translateX(0px);
  transition: transform .4s cubic-bezier(0, 0, 0.2, 1);
}

.tab-padding {
  padding: 0px 0px 1px 0px !important;
  margin: 0;
}

.tab-padding .tab-color span {
  font-size: 14px !important;
}

.validation-error {
  z-index: 1 !important;
}

.interval-padd {
  padding: 0 4px;
}

.margin-tab {
  margin-left: 20px;
}

.form-check .form-check-label span {
  left: 0px;
}

.form-row {
  min-height: 54px;
}
.lightGray {
  color: lightGray;
}

table tr td {
  color: #2a2a2a !important;
  line-height: 24px;
  font-weight: normal;
}

.table-align-audit-P{
  max-width: 100px;
  text-overflow: ellipsis;
}

.table-align-audit-P2{
  max-width: 70px;text-overflow: ellipsis;
}

.table-height-audit{
  height: 332px;
}

.report-table.material-table {
  height: calc(100vh - 440px);
}

.overrideHeader{
  position: absolute;
  z-index: 100;
  width: 10%;
}
