<div class="card-body p-0 material-table" id='card-body'>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">

        <div class="card-header overrideHeader card-header-tabs card-header-rose tab-padding h-auto">
          <div class="nav-tabs-navigation">
            <div class="nav-tabs-wrapper flex-row">
              <ul class="nav nav-tabs p-0 w-85" data-tabs="tabs">
                <li class="nav-item ">
                  <a href="javascript:void(0)" [ngClass]="{'active': policytab}" class="nav-link tab-color"
                    (click)="accordionClick('policy')">

                    <span>
                      Policy</span>
                    <div class="ripple-container"></div>
                  </a>
                </li>
                <li class="nav-item margin-tab">
                  <a href="javascript:void(0)" [ngClass]="{'active': eventtab}" class="nav-link tab-color"
                    (click)="accordionClick('event')">
                    <span>Event</span>
                    <div class="ripple-container"></div>
                  </a>
                </li>
              </ul>
            </div>
          </div>

        </div>
        <ng-container *ngIf="eventtab">
          <app-smart-table [tableDatails]="tableDetail" [tableData]="eventLoad" [tableType]="'full'"
            [resetModel]="resetModel" [tableDatas]="ngxTableConfig" (eventType)="tableActionEvent($event)">
          </app-smart-table>
        </ng-container>
        <ng-container *ngIf="policytab">
          <app-smart-table [tableDatails]="tableDetailPolicy" [tableData]="policyLoad" [tableType]="'full'"
            [resetModel]="resetModel" [tableDatas]="ngxTableConfig_policy" (eventType)="tableActionPolicy($event)">
          </app-smart-table>
        </ng-container>
        <ng-template #policytemplate let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Policy Audit Details </h4>
            <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true"
                (click)="modalClose()"></i></a>
          </div>
          <div class="modal-body">
            <form [formGroup]='policySetupFormSetupForm' class="h-100">
              <div class="row h-12">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="form-group bmd-form-group pl-0">
                        <label class="bmd-label-static mb-0 pl-0">Policy ID </label>
                        <input type='text' class="form-control" placeholder="" formControlName='policyId'
                          maxlength="10" />
                        <div class="line"></div>

                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="form-group bmd-form-group pl-0">
                        <label class="bmd-label-static mb-0 pl-0">Policy Type </label>
                        <input type='text' class="form-control" placeholder="" formControlName='policyType' />
                        <div class="line"></div>

                      </div>
                    </div>


                  </div>
                </div>
              </div>

              <div class="material-table  h-88">
                <div class="h-100">
                  <perfect-scrollbar [config]="{suppressScrollX:false}">
                    <table class="inlineEditTable">
                      <thead>
                        <tr>
                          <th><span>Description </span></th>
                          <th><span>Detail Description </span></th>
                          <th><span>Date </span></th>
                        </tr>
                      </thead>
                      <div class="no-data" *ngIf="policyValues.length == 0">
                        No Records Found</div>
                      <tbody>
                        <tr *ngFor="let policy of policyValues; let i=index;">
                          <td class="table-align-audit-P" title="{{policy.makerName | titlecase}}">{{policy.makerName}}
                          </td>

                          <td class="table-align-audit-P" title="{{policy.verifierName | titlecase}}">
                            {{policy.verifierName }}</td>

                          <td lass="table-align-audit-P2" title="{{policy.dateCreation | titlecase}}">
                            {{policy.dateCreation }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </perfect-scrollbar>

                </div>
              </div>
            </form>
          </div>

        </ng-template>
        <ng-template #eventtemplate let-modal>
          <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Event Audit Details </h4>
            <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true"
                (click)="modalClose()"></i></a>
          </div>
          <div class="modal-body">
            <form class="h-20" [formGroup]='eventSetupFormSetupForm'>
              <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                  <div class="form-row">
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="form-group bmd-form-group pl-0">
                        <label class="bmd-label-static mb-0 pl-0">Event Type </label>
                        <input type='text' class="form-control" placeholder="" formControlName='eventType'
                          maxlength="10" />
                        <div class="line"></div>

                      </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="form-group bmd-form-group pl-0">
                        <label class="bmd-label-static mb-0 pl-0">Event Sub Type </label>
                        <input type='text' class="form-control" placeholder="" formControlName='eventSubType' />
                        <div class="line"></div>

                      </div>
                    </div>

                    <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="form-group bmd-form-group pl-0">
                        <label class="bmd-label-static mb-0 pl-0">Event ID </label>
                        <input type='text' class="form-control" placeholder="" formControlName='eventId' />
                        <div class="line"></div>

                      </div>
                    </div>


                    <div *ngIf="notificationTable" class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="form-group bmd-form-group pl-0">
                        <label class="bmd-label-static mb-0 pl-0">Notification Message </label>
                        <input type='text' class="form-control" placeholder="" formControlName='notificationMessage' />
                        <div class="line"></div>

                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </form>
              <div *ngIf="eventTable" class="material-table h-80 ">
                <div class="h-100" >
                  <perfect-scrollbar [config]="{suppressScrollX:false}">
                    <table class="inlineEditTable">
                      <thead>
                        <tr>

                          <th><span>Description </span></th>
                          <th><span>Detail Description </span></th>
                          <th><span>Date </span></th>
                        </tr>
                      </thead>
                      <div class="no-data" *ngIf="eventValues.length == 0">
                        No Records Found</div>
                      <tbody>
                        <tr *ngFor="let policy of eventValues; let i=index;">
                          <td>{{policy.makerName}}</td>
                          <td>{{policy.verifierName }}</td>
                          <td>{{policy.dateCreation }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </perfect-scrollbar>

                </div>
              </div>
              <div *ngIf="notificationTable" class="material-table  h-80">
                <div class="h-100" >
                  <perfect-scrollbar >
                    <table class="inlineEditTable">
                      <thead>
                        <tr>

                          <th><span>S.No </span></th>
                          <th><span>Notification Date </span></th>
                          <th><span>Read By </span></th>
                          <th><span>Read Date </span></th>
                          <th><span>Action By </span></th>

                          <th><span>Action Date </span></th>
                          <th ><span>Comment</span></th>
                        </tr>
                      </thead>
                      <div class="no-data" *ngIf="notificationValues.length == 0">
                        No Records Found</div>
                      <tbody>
                        <tr *ngFor="let notify of notificationValues; let i=index;">
                          <td>{{notify.eventSubSequence}}</td>
                          <td>{{notify.notificationDate }}</td>
                          <td>{{notify.notificationReadName }}</td>
                          <td>{{notify.notificationReadDate}}</td>
                          <td>{{notify.notificationActionName }}</td>
                          <td>{{notify.notificationActionDate }}</td>
                          <td style=" text-overflow: ellipsis !important;
                          overflow: hidden !important;
                          max-width: 50px !important;" title="{{notify.notificationActionComment }}">
                            {{notify.notificationActionComment}}</td>


                        </tr>
                      </tbody>
                    </table>
                  </perfect-scrollbar>

                </div>
              </div>

            
          </div>

        </ng-template>


      </div>
    </div>
  </div>
</div>