<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{title}}</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>
<div class="modal-body magnifier mt-2">
    <div class="row h-100">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
            <div class="material-table divA report-table h-100">
                <div class="table-responsive">
                    <!-- <perfect-scrollbar #pScrollbar> -->
                    <table class="inlineEditTable table" style="overflow-x: hidden;">
                        <thead>
                            <tr>
                                <th style="font-weight: 900;">{{header1}}</th>
                                <th style="font-weight: 900;">{{header2}}</th>
                                <th style="font-weight: 900;">{{header3}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngFor="let data of response;let i=index">
                                <tr [class.highlight-row]="data.dataDiffer">
                                    <td class="fontBold">{{data.columnName}}</td>
                                    <td>{{data.pendingColumnData}}</td>
                                    <td>{{data.approvedColumnData}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <div *ngIf="response.length==0;" class="no-data-missing">
                            No Records Found
                        </div>
                    </table>
                    <!-- </perfect-scrollbar> -->
                </div>
            </div>
        </div>
    </div>
</div>