/* .highlight-row, .highlight-row:hover {
  color: red;
} */
.highlight-row td, .highlight-row:hover td {
  color: red !important;
}
.fontBold{
  font-weight: 600;
}
.no-data-missing {
  left: 90% !important;
  width: 50%!important;
  transform: translate(-50%, -50%);
  color: rgb(97 97 97) !important;
  font-weight: normal;
  position: relative;
  margin-top: 23px;

}