:root {
    --filterWidth: 0;
}

.dashboard-row-pl-0>div:first-child {
    padding-left: 0!important;
}

.h-40 {
    height: 40%;
}

.w-415 {
    width: 415px !important;
}

.w-202 {
    width: 202px !important;
}

.h-85 {
    height: 85%;
}

.h-95 {
    height: 95%;
}

 ::ng-deep .h-80 {
    height: 80%;
}

body {
    color: #78777c;
}

.bg-light-grey {
    background-color: #f4f4f4;
}

.grey-bg {
    background-color: #666666;
}

.green {
    color: green !important;
}

.red {
    color: red !important;
}

.bg-light-blue {
    background-color: #e7ebf4;
}

.bg-green {
    background-color: #258000;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.show {
    display: flex !important;
}

.activeTab {
    color: #fff;
    background-color: #2fbcd5;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-color: #fff;
}

.font25 {
    font-size: 25px;
}

.font22 {
    font-size: 22px;
}

.max-height-300 {
    max-height: 300px;
}

.menulink {
    display: block;
    width: 100%;
    color: #333;
}

.menulink :hover {
    border: 2px #ccc
}

.border-black {
    border-bottom: 1px solid;
    border-color: #c1c1c1;
}

.flex {
    display: flex;
}

.flexgrow {
    flex-grow: 1;
    padding-left: 2px;
}

.flexgrow5 {
    flex-grow: 0.5;
}

.flex>b {
    flex-grow: 1;
}

div.material-table table tr td {
    border: solid 1px var(--table-border);
}

div.material-table table tr th {
    border-top: solid 1px var(--table-border);
}

div.material-table table tr th:first-child {
    border-left: solid 1px var(--table-border);
}

div.material-table table tr th:last-child {
    border-right: solid 1px var(--table-border);
}

.main-panel>.navbar {
    background-color: #eee !important;
}

.main-panel>.content {
    min-height: calc(100vh - 35px);
    padding-top: 15px;
    padding-bottom: 0;
    overflow: auto;
}

 ::ng-deep .card-plain .card-body {
    padding: 5px;
}

.list-branches .light-blue-bg {
    background-color: #cad3e7;
    padding: 2px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.list-branches .card-body {
    padding: 5px 10px !important;
}

 ::ng-deep .dashboard-row p,
 ::ng-deep .dashboard-row h6 {
    font-size: 12px !important;
    text-transform: capitalize;
}

.graphIcon {
    /* border: solid 1px #666666; */
    cursor: pointer;
    z-index: 20;
}

.drilGraphIcon {
    position: relative;
    right: 8px;
    float: right;
    bottom: 30px;
}

.align-items-stretch {
    padding: 3px;
}

.card {
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
}

.accordionContent {
    display: none;
    padding: 5px;
    background: #fff;
    margin: 0px 7px;
    margin-top: 10px;
    height: 53px;
    font-size: 11px;
}

.accordionHead {
    margin: 0 5px;
    padding: 3px 5px;
    border-bottom: 1px solid #c7c2c2;
    font-size: 11px;
}

.accordionHead i {
    font-size: 10px;
    padding-left: 5px;
}

.notificationHeader {
    background-color: #d6d6d6;
    padding: 0 5px;
    font-size: 11px;
}

.searchcontainer {
    position: relative;
    margin-top: 10px;
}

.searchcontainer input {
    outline: none;
    margin: 5px;
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 96%;
    box-shadow: 3px -3px 11px -8px #000;
}

.searchcontainer input+i {
    color: #b5b5b5;
    position: absolute;
    right: 14px;
    cursor: pointer;
    top: 12px;
}

.footer-seperator {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
}

 ::ng-deep .dashboard-row .card-body {
    min-height: unset;
}

.popoverHold {
    height: 10%;
    width: 100%;
    display: none;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 24;
    transform-origin: 50% 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgb(35, 35, 35, 0.4);
    transition: .2s ease-in-out;
}

.secondRow.containsChildTile>.maintile:nth-child(1) .popoverHold,
.secondRow.containsChildTile>.maintile:nth-child(2) .popoverHold,
.firstRow.containsChildTile>.maintile:nth-child(3) .popoverHold,
.firstRow.containsChildTile>.maintile:nth-child(4) .popoverHold {
    top: -90% !important;
}

.secondRow.containsChildTile>.maintile .popoverHold.popoverHold>div.card-body,
.firstRow.containsChildTile>.maintile .popoverHold.popoverHold>div.card-body {
    height: 100% !important;
}

.dealstable td,
.dealstable th {
    white-space: nowrap;
    padding: 1px 5px;
    border: solid 1px #DDDDDD;
    font-size: 12px;
}

.dealstable tbody tr:nth-child(even) {
    background-color: #e3e6eca3;
}

.sidebar .sidebar-wrapper {
    overflow: hidden;
}


/* Dropdown */

.dropdown-menu.show .inner.show {
    width: 100%;
}

.dropdown-menu.show {
    flex-direction: column;
}

.fixed-plugin .dropdown.show-dropdown.show {
    justify-content: center;
}

.side-filter-hold {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10%;
    opacity: 0;
    right: var(--filterWidth);
    z-index: 10000;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    /* box-shadow: 0px 10px 30px 0px #222222; */
    border: 2px solid #2fbcd5;
    transition: .3s ease-in-out;
}

.toggle-side-filter {
    position: absolute;
    left: -21px;
    top: 10px;
    background-color: #2fbcd5;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.toggle-side-filter>i {
    font-size: 19px;
    color: #fff;
    line-height: 1.3em;
}

.fixed-heading {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26); */
}

a.logo-mini img {
    left: 5px;
}

.sidebar .logo a.logo-normal {
    display: none;
}

.sidebar .logo:after {
    right: 19px;
}

.logo {
    height: 61px;
}

.setRight {
    right: 3px;
}

.form-check .form-check-input:checked~.circle {
    border-color: #2fbcd5;
}

.form-check .form-check-label .circle .check {
    background-color: #2fbcd5;
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, #00bcd4 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.dashboard-area {
    height: calc(100vh - 109px);
    display: none;
}

.sideFilterOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00000024;
    top: 0;
    z-index: 9999;
    display: none;
    will-change: transform, opacity;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
}

.fade.show {
    transform: scale(1);
    display: block;
}

#navbarDropdownMenuLink+div[aria-labelledby="navbarDropdownMenuLink"] {
    width: 400px;
}

.form-check .form-check-label .circle {
    top: -2px;
}

.daterangepicker {
    z-index: 10000 !important;
}

.profitValue {
    height: calc(100% - 80px);
    /* position: absolute;
    margin-top: 20px !important; */
}

.min-height-16 {
    min-height: 21px !important;
}

.min-height-64 {
    min-height: 64px !important;
}

.min-height-24 {
    min-height: 24px !important;
}

.t00004-top {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t000056-top {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t000056-bottom {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00004-side {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00001-top {
    margin: 0px !important;
    position: absolute !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00001-top>span {
    font-size: 20px !important;
}

.t00001-side {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00002-side {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00002-bottom {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00003-side {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.t00003-bottom {
    margin: 0px !important;
    position: relative !important;
    align-items: center;
    display: flex;
    justify-content: center;
}

.temp15-top {
    margin: 0px !important;
    position: absolute;
    top: 50px !important;
    background: grey;
}

.temp30-top {
    margin: 0px !important;
    position: absolute;
    top: 70px !important;
    background: grey;
}


/********** Sidebar filter **********/

.filterDataBy {
    display: none;
}

#filterBody {
    overflow: auto;
}

#filterFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*********** Multiselect dropdown style ***********/

 ::ng-deep .multiselect-dropdown {
    padding-left: 0;
}


/********** Perfect scrollbar **********/

.popoverHold table tr td:last-child {
    padding-right: 15px !important;
}

 ::ng-deep perfect-scrollbar>.ps {
    padding-bottom: 0;
}

 ::ng-deep .ps-content {
    height: 100%;
}

.t00003>div {
    max-height: 100% !important;
}

::ng-deep .pointer-none,
 ::ng-deep .multiselect-item-checkbox input[type=checkbox]+div.dropdownGroup,
 ::ng-deep .multiselect-item-checkbox input[type=checkbox]+div.dropdownGroup {
    pointer-events: none;
}

::ng-deep .multiselect-item-checkbox input[type=checkbox]+div.dropdownGroup:before,
 ::ng-deep .multiselect-item-checkbox input[type=checkbox]+div.dropdownGroup:after {
    display: none;
}


/* Swiper style */

.swiper-wrapper {
    height: 100% !important;
}

@media only screen and (max-width: 425px) {
    h2.text-dark,
    h2.text-muted,
    h2.text-success,
    h2.text-danger,
    h2.text-white {
        font-size: 20px;
    }
    .dashboard-row .card-body {
        position: relative;
        min-height: 110px !important;
    }
     ::ng-deep .dashboard-row .card-body .chart-containment {
        min-height: 150px !important;
    }
    .setRight {
        right: -27px;
    }
    .side-filter-hold {
        padding-right: 40px;
    }
}

@media only screen and (min-width: 425px) {
    h2.text-dark,
    h2.text-muted,
    h2.text-success,
    h2.text-danger,
    h2.text-white {
        font-size: 20px;
    }
    /* .dashboard-row .card-body {
              min-height: 110px !important;
          } */
}

@media only screen and (min-width: 768px) {
    h2.text-dark,
    h2.text-muted,
    h2.text-success,
    h2.text-danger,
    h2.text-white {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {}

.nddisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 25px;
}
.errorIcon {
    border: 1px solid #8e8e8e !important;
    border-radius: 50%;
    background: #8e8e8e !important;
    color: #fff;
    padding: 1px;
    font-size: 20px;
}
.errormsg{
    color:red !important;
}

.errorclass {
    align-items: center;
    font-size: 20px;
    height: calc(100% - 37px);
    justify-content: center;
}

.errorclass [tooltip]::after {
    background: var(--content-color) !important;
    color: #fff !important;
    line-height: 16px;
    min-width: 11em;
    max-width: 21em;
    white-space: pre-wrap;
    padding: 3px 3px;
}

.table-z {
    z-index: 1000;
}
.height16{
    height: 16px;
}
.h6Strong{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.font-drilldown {
    font: 500 14px 'Open Sans', sans-serif;
    color: #4a4a4a;
}

.font-bold {
  font-weight: 600 !important;
}

table tr td span i {
  font-size: 18px !important;
  vertical-align: middle;
}

 table tr td {
  color: #616161;
  font-weight: normal;
  padding: 0px 3px !important;
  line-height: 24px;
}

table tr th {
  padding: 0px 3px !important;
  border-left: 1px solid #fff;
  line-height: 24px;
}

.small-icons {
  color: #606060;
  font-size: 18px;
  font-weight: 600;
  max-width: 16px;
}

.outside-click {
  z-index: 25;
  margin-top: -2px;
}

.outside-click .dropdown-toggle:after {
  display: none;
}

.dropdown-menu .fixed-plugin li.header-title {
  padding: 11px 0;
  height: unset;
  text-align: left;
  color: #202124;
  font: 400 15px/20px 'Product Sans', Arial, Helvetica, sans-serif;
  margin: 0;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
  background: #e1e1e1;
  box-shadow: unset;
}

.dropdown-menu .fixed-plugin {
  box-shadow: none;
  width: unset;
  left: unset;
  right: unset;
  position: relative;
}

.secondFilter {
  position: absolute;
  left: 100%;
  top: -2px;
  border: 1px solid #ccc;
}

.rightAlign {
  left: unset;
  right: 100%;
}

.b-radius-none {
  border-radius: unset;
}

.disabled-list {
  color: #bbb7b7 !important;
}
