.bg-gray-slide {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.mb-15 {
    margin-bottom: 15px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

.mb-2em {
    margin-bottom: 12px !important;
}

.fontClose {
    position: absolute;
    color: #fff;
    font-size: 20px !important;
    right: 9px;
}

.minHeight115 {
    /* min-height: 180px;
    overflow: auto; */
    /* height: 100%; */
    display: flex;
    /* border: 1px solid; */
}

.h-30 {
    height: 30%
}

.h-15 {
    height: 15%
}

.h-40 {
    height: 40%
}

.h-50 {
    height: 50%
}

.w-95{
    width: 95%;
}
.w-5{
    width: 5%;
}

.group-con {
    height: 100%;
    display: grid !important;
    grid-template-columns: 1fr !important;
}

.ml-15 {
    margin-left: 15px;
}

.dashHeight {
    height: 80px;
    margin-right: 3px;
    margin-bottom: 1px;
    cursor: pointer;
    background: #08498c;
    border: 2px solid #3e7dbd;
}

.flip-card {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}


/* .flip-card-back {
    transform: rotateY(180deg);
    background-color: #ccc !important;
}

*/

.dashHeight:hover {
    border: 2px solid #fff;
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dash-content {
    color: #bdbdbd;
    font-size: 12px;
    padding: 4px;
    line-height: 14px;
    text-align: center;
}

.dashSvgDiv {
    width: 30px;
    padding-top: 15px;
}

.caption-text {
    color: #fff;
    margin: 2px;
    /* font-weight: bold; */
}

.bg-gray-slide .card {
    border: solid 3px #7f7f7f;
    border-left: none;
    background-color: #0e0e0e;
    /* border-left: none;
    background-color: #686a6b */
    /* background-image: url(../../../../../assets/img/dash-bg-01.jpg); */
    /* background: rgb(5, 75, 82);
    background: linear-gradient(0deg, rgb(6, 7, 8) 52%, rgb(75, 81, 82) 99%); */
}

.bg-gray-slide .dash-svg {
    fill: #7bb6f3;
}