<div class="bg-gray-slide">
    <div class="card h-100 m-0 d-flex flex-row">
        <div class="w-95">
            <perfect-scrollbar>
                <ng-container *ngIf="dashGroup">
                    <div class="group-con" *ngIf="dashGroup.length">
                        <ng-container *ngFor="let data of dashGroup; let i = index">
                            <div *ngIf="data.children.length" class="ml-15" style="grid-row:span 1">
                                <div class="caption-text">{{data.description}}</div>
                                <div class="row m-0 mb-2">
                                    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-0 h-100">
                                        <div class="row m-0 h-100">
                                            <ng-container *ngIf="data.children.length">
                                                <ng-container *ngFor="let dash of data.children; let j = index">
                                                    <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 p-0 h-100">
                                                        <div class="dashHeight" (click)="openDashboard(dash)">
                                                            <div class="flip-card">
                                                                <div class="flip-card-front d-flex flex-column">
                                                                    <div class="dash-content h-30">{{dash.description}}
                                                                    </div>
                                                                    <div class="dashSvgDiv h-70"><span class="dash-svg"
                                                                            [innerHtml]="defaultSvg | domSan:'html'"></span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </ng-container>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </ng-container>

            </perfect-scrollbar>
        </div>
        <div class="close fontClose w-5">
            <a class="float-right" (click)="closeSlide()"><i class="fa fa-filter fa-angle-double-left"></i></a>
        </div>
    </div>
</div>