table#common_table thead tr th {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.co-5 {
    margin-left: 40px;
}

#chooseDatasourceSec {
    margin-top: 7px;
}

.addColumnValue-03 {
    top: -9px;
}

.padd-nert {
    padding: 5px;
    border-bottom: dotted 1px #ccc;
    font-size: 13px;
    line-height: 15px;
    /* color: #a2a2a2; */
    width: 90%;
    margin: auto;
    background: transparent;
}

.example-viewport {
    height: 318px;
    width: auto;
    /* border: 1px solid black; */
}

.example-item {
    height: 10px;
}

.height-line {
    line-height: 28px;
    font-size: 13px !important;
    font-weight: 500 !important;
}

.height-line span {
    padding: 0 !important;
    top: 0 ;
}

.font-600 {
    font-weight: 600;
}

.font-13 {
    font-size: 13px !important;
}