    <div class="modal-body" style="padding-left:6px; padding-right: 6px">
        <div class="card" style="box-shadow: none !important">
            <div class="card-header card-header-tabs card-header-rose new-header height-line">
                <span title="Close" class="pull-right clickable close-new-icon" (click)="closeModel()" data-effect="fadeOut">
                    <i class="fa fa-times"></i>
                </span> Report Listing
            </div>
            <input type="text" (keyup)="filterData($event)" placeholder="Filter items" class="form-control insideGrid">
            <span style="padding-left:6px"> </span>
            <div class="card-body" id="chooseDatasourceSec" style="padding:0px">
                <div class="row globalHeader" href="javascript:void(0)">
                    <div class="col-5">Report ID</div>
                    <div class="col-7">Report Desciption</div>
                </div>
                <div class="no-data" *ngIf="reportList.length==0">No Data's Found...</div>
                <cdk-virtual-scroll-viewport itemSize="10" minBufferPx="200" maxBufferPx="400" class="example-viewport">
                    <ul style="padding: 0; margin-top:10px;">
                        <li *ngFor="let report of reportList; let i = index;" (click)="columnDetails(report,reportList)">
                            <div class="dropdown-item padd-nert row pl-0 globalContent" style="display: flex;" href="javascript:void(0)">
                                <div class="col-5 pl-1">{{report.reportId}}</div>
                                <div class="col-7">{{report.reportDescription}}</div>
                            </div>
                        </li>

                    </ul>
                </cdk-virtual-scroll-viewport>

            </div>
        </div>
    </div>