<div id="panZoomEle" #viewcontainer class="gridster-container d-flex flex-column w-100 h-100" *ngIf="pageShow">

  <div *ngIf="firstBox" class="gridheader p-1 w-100 h-5">
    <div class="d-flex color-ico  w-100" id="color-ico1">

      <a class="w-95 text-cap-new-b">
        <i class="fa fa-table table-size-tree"></i>&nbsp;
        {{this.table_headervalues.objectName}}

      </a>

      <span class="d-flex justify-icons align-items-center w-5 expandIcon">
        <a (click)="boxClickFn('modify')" href="javascript:void(0)"
          class="modal-trigger waves-effect btn-flat nopadding">
          <span id="last_toolTip" placement="left" [ngbTooltip]="modifyBox ? 'Compress' : 'Expand'">
            <i style="font-size: 17px !important" *ngIf="!modifyBox" class="material-icons">open_in_full</i>
            <i style="font-size: 17px !important" *ngIf="modifyBox" class="material-icons">close_fullscreen</i>
          </span>
        </a>
      </span>


    </div>
  </div>

  <div *ngIf="firstBox" class="flex-con-col" [ngClass]="modifyBox ? 'h-90' :'h-40'">
    <div class="">
      <div class="preview_table table-align"
        [ngClass]="modifyBox ? 'max-height-expand-first-box' :'max-height-collapase-first-box'">
        <perfect-scrollbar>
          <table class="table table-hover my-custom-table " cellspacing="0">
            <thead>
              <tr>
                <th style="width: 4%;"></th>
                <th>Table</th>
                <th>Table Description</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let columnsobj of tablelist_columns; 
              let i = index;">
                <td style="width: 4%;text-align: center;">
                  <span>
                    <input class="align-chekbox" type="checkbox" value="{{columnsobj.isSelected}}"
                      [(ngModel)]="columnsobj.isSelected" name="list_name" value="h1" (change)="selectValue()" />
                  </span>
                </td>
                <td [ngClass]="{'highlight': selectedIndex === i}" (click)="setRow(i)">
                  <a href="javascript:;" (click)="openListData(columnsobj)">
                    {{columnsobj.moduleId}}
                  </a>
                </td>
                <td [ngClass]="{'highlight': selectedIndex === i}" class="align_set"> {{columnsobj.moduleName}}
                  <!-- <span class="tr-edit-icons row a1">
                    <a href="javascript:void(0)" class="modal-trigger waves-effect btn-flat nopadding  align-icon-edit"
                      data-original-title="Edit" (click)="openListData(columnsobj)">
                      <i class="material-icons " aria-hidden="true" container="body" ngbTooltip="View">visibility</i>
                    </a>
                  </span> -->
                </td>
            </tbody>
          </table>
        </perfect-scrollbar>


      </div>
    </div>
  </div>


  <div *ngIf="secondBox" class="gridheader p-1 w-100 h-5">
    <div class="d-flex color-ico  w-100" id="color-ico1">

      <a class="w-95 text-cap-new-child">
        <i class="fa fa-table table-size-tree"></i>&nbsp;
        {{this.table_headervalueschild.moduleName}} [Columns]

      </a>

      <span class="d-flex justify-icons align-items-center w-5 expandIcon">
        <a (click)="boxClickFn('modifytwo')" href="javascript:void(0)"
          class="modal-trigger waves-effect btn-flat nopadding">
          <span id="last_toolTip" placement="left" [ngbTooltip]="modifyBox_two ? 'Compress' : 'Expand'">
            <i style="font-size: 17px !important" *ngIf="!modifyBox_two" class="material-icons">open_in_full</i>
            <i style="font-size: 17px !important" *ngIf="modifyBox_two" class="material-icons">close_fullscreen</i>
          </span>
        </a>
      </span>


    </div>
  </div>

  <div *ngIf="secondBox" class="flex-con-col" [ngClass]="modifyBox_two ? 'h-90' :'h-40'">
    <div class="">
      <div class="preview_table table-align"
        [ngClass]="modifyBox_two ? 'max-height-expand-second-box' :'max-height-collapase-second-box'">
        <perfect-scrollbar>
          <table class="table table-hover my-custom-table " cellspacing="0">
            <thead>
              <tr>
                <th style="width: 0%;">Id</th>
                <th style="width: 1%;">Key </th>
                <th>Name</th>
                <th>Data Type</th>
                <th>Null</th>
                <th>Default Values</th>

                <th>Description</th>
              </tr>
            </thead>


            <tbody>
              <tr *ngFor="let columns of tablelistcolumns; let i = index;">

                <td style="width: 0%;">
                  <a class="align-icon hide-cursor">
                    <span class="material-icons global-icons moduleBoxZoom">

                    </span>
                    {{columns.columnId}}
                  </a>
                </td>
                <td *ngIf="columns.dataIndex != ''">
                  <a class="align-icon">
                    <span class="material-icons hide-cursor  global-icons moduleBoxZoom">
                      <i class="fa fa-key key-size" aria-hidden="true"></i>
                    </span>
                  </a>
                </td>
                <td *ngIf="columns.dataIndex == ''">
                </td>
                <td> {{columns.columnName}}</td>
                <td *ngIf="columns.dataLength > '0' && columns.dataScaling > '0' ">
                  {{columns.dataType}}
                  <ng-container *ngIf="columns.dataType != 'DATE'">
                    ({{ columns.dataLength }},{{ columns.dataScaling }})
                  </ng-container>

                </td>
                <td *ngIf="columns.dataLength > '0' && columns.dataScaling == '0'  ">

                  {{columns.dataType}}
                  <ng-container *ngIf="columns.dataType != 'DATE' && columns.dataType != 'Date'">
                    ({{ columns.dataLength }},{{ columns.dataScaling }})
                  </ng-container>

                </td>
                <td *ngIf="columns.dataLength == '0'">
                  {{columns.dataType}}
                  <ng-container *ngIf="columns.dataType != 'DATE' && columns.dataType != 'Date'">
                    ({{ columns.dataLength }})
                  </ng-container>
                </td>
                <td class="hide-cursor" *ngIf="columns.mandatoryFlag == '2'">
                  <a class="align-icon">
                    <span class="material-icons global-icons moduleBoxZoom">
                      check
                    </span>
                  </a>
                </td>
                <td class="hide-cursor" *ngIf="columns.mandatoryFlag == '1'">
                </td>
                <td> {{columns.defaultValues}}</td>

                <td> {{columns.description}}</td>


            </tbody>
          </table>
        </perfect-scrollbar>


      </div>
    </div>
  </div>
</div>


<div *ngIf="firstBox" class="h-5 align-button-bottom">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <div>

        <button *ngIf="pageview=='NT' && globalService.pageLevelAccess.profileAdd == 'Y'" type="button"
          class="btn btn-sm btn-rose btn-outline-dark test" (click)="missingObjSubmission()">Save</button>

        <button *ngIf="pageview=='DT' && globalService.pageLevelAccess.profileAdd == 'Y'" type="button"
          class="btn btn-sm btn-rose btn-outline-dark test" (click)="missingObjSubmissionDT()">Save</button>

        <button type="button" (click)="cancelBtnAll()" class="btn btn-sm btn-rose btn-outline-dark">Cancel</button>

      </div>
    </div>
  </div>
</div>

<ng-template #missingObjTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Repository</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
  </div>
  <div class="modal-body">
    <div class="material-table divA report-table h-75">
      <div class="preview_table table-align" style="max-height: 230px;">
        <perfect-scrollbar>
          <table class="table table-hover my-custom-table " cellspacing="0">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let columnsobj of repositoryValues; let i = index;">
                <td style="width: 1% !important; padding-top: 3px;">
                  <input type="checkbox" [name]="columnsobj.moduleName" (change)="repositoryChange(columnsobj)"
                    [(ngModel)]="columnsobj.checked" [checked]="columnsobj.checked">
                </td>
                <td> {{columnsobj.moduleName}}</td>
            </tbody>
          </table>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center" style="padding-top: 16px;">
    <button type="button" class="btn btn-rose btn-sm" (click)="applyRepository()">Apply</button>
    <button style="margin-left: 3px" type="button" (click)="modalClose()" class="btn btn-rose btn-sm">Cancel</button>
  </div>

</ng-template>