.align-values {
    padding-left: 34px;
    padding-top: 36px;
}

.fontstyle {
    font-size: 1px !important;
    font-family: Roboto, Helvetica, Arial, sans-serif;
}
.font-400 {
    font-size: 13px !important;
    font-weight: bold;
    color: #4a4a4a;
    width: 20%;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.font-200 {
    padding-left: 14px;
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-size: 13px !important;
    color: #4a4a4a;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.align_icon {
    width: 30px;
    font-size: x-large;
}

.text-wrap {
    width: 10px !important;
    word-wrap: break-word;
}

.text-cap-new-b {
    display: flex;
    -webkit-display: flex;
    color: #4a4a4a !important;
    font: 300 13px/20px 'Open Sans', sans-serif;
    font-weight: 600;
}

.text-cap-new-child {
    display: flex;
    -webkit-display: flex;
    color: #4a4a4a !important;
    font: 300 13px/20px 'Open Sans', sans-serif;
    font-weight: 600;
}

.table-size-tree {
    font-size: 16px;
    margin-top: 2px;
}

.margins {
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.margins span {
    display: flex;
    justify-content: flex-start;
    width: 80%;
}

.gridster-type {
    padding: 5px;
    padding-top: 2px;
    padding-bottom: 5px;
    font: 600 16px/15px 'Open Sans', sans-serif;
    color: #4a4a4a;
}

:host {
    color: #ffffff;
}

.footer-table {
    margin-top: 32px;
    color: grey;
}

.align-table-icon {
    width: 30px;
    font-size: x-large;
    margin-left: 15px;
}

.menu-trigger {
    color: #00bcd4;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-header-small {
    width: 30%;
}

.menu {
    border-bottom: 1px solid #dcdcdc;
    background: #39577d;
}

.menu-item {
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #dcdcdc;
    max-width: 300px;
    margin: auto;
    width: 10%;
    cursor: pointer;
}

.menu-item:last-child {
    border-bottom: none;
}

.menu-item:hover {
    color: #c1c1c1;
}

.visible {
    overflow-x: scroll;
    overflow-y: scroll;
}

.header {
    width: 100%;
    background-color: white;
    z-index: 15;
}

.cursorpointer {
    cursor: pointer
}

.flex-con-col {
    margin-top: -3px;
    height: 100%;
}

/* width */
::-webkit-scrollbar {
    width: -11px;
    height: 6px;
}



/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #d3d3d3;
}

.view-icon {
    margin-right: 5px;
}

.align-icon {
    margin-left: 15px;
    margin-right: 10px;
    height: 7px;
}

.global-icons {
    font-size: 18px;
    color: #4a4a4a;
    cursor: pointer;
}

.point {
    cursor: pointer;
}

.backclick {
    color: #5f90ff;
    text-decoration: underline !important;
    font-size: 13px;
    margin-top: -39px;

}

.key-size {
    font-size: 15px !important
}

.report-table {
    display: flex;
    justify-content: center;
    background: #f7f7f7;
    border: solid 1px #e2e2e2;
}

.report-table th {
    white-space: nowrap !important;
}

.table-align {
    width: 100%;
    border-top: 0px;
}

.no-data-missing {
    left: 137% !important;
    width: auto !important;
    transform: translate(-50%, -50%);
    color: #616161 !important;
    font-weight: normal;
    position: relative;
    margin-top: 24px;
}

.align-button-bottom {
    position: absolute;
    bottom: 16px;
    left: 45%;
}

.justify-icons {
    justify-content: end !important;
}

.h-5 {
    height: 5% !important;
}

.h-50{
    height: 50% !important;
}

.h-40 {
    height: 39% !important;
}

.h-90 {
    height: 90% !important;
}

.max-height-expand-first-box {
    position: absolute;
    height: 85%;
}

.max-height-collapase-first-box {
    position: absolute;
    height: 39%;
}

.max-height-expand-second-box {
    position: absolute;
    height: 94%;
}

.max-height-collapase-second-box {
    position: absolute;
    height: 42%;
    
}

.highlight{ font-weight: 600; }