.navbar.navbar-transparent {
    background-color: transparent !important;
    box-shadow: none;
}

.profile-display {
    display: block;
    opacity: 1;
    transform: scale(1);
}

div.actions a {
    padding-left: 10px;
}

/* .example-viewport {
    height: 71vh;
} */

.cdk-virtual-scroll-content-wrapper {
    height: 70vh;
}

.example-item {
    height: 10px;
}

.insideGrid {
    height: auto !important;
    margin-top: 12px;
}

.xlModal>.modal-dialog {
    width: 40%;
}

.co-5 {
    margin-left: 40px;
}

#chooseDatasourceSec {
    margin-top: 7px;
}

#filter .modal-content {
    position: relative;
    /* right: 50%; */
    left: 24%;
    top: 50px;
    display: flex;
    flex-direction: column;
    width: 56%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: .3rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, .5);
    outline: 0;
}

.addColumnValue-03 {
    top: -9px;
}

.padd-nert {
    padding: 5px;
    border-bottom: dotted 1px #ccc;
    font-size: 13px;
    line-height: 15px;
    /* color: #a2a2a2; */
    /* width: 90%; */
    margin: auto;
}

.catalog-header {
    line-height: 30px;
}

.catalog-header-icon {
    top: unset;
    padding: 0 !important;
}

.font-13 {
    font-size: 13px !important;
    font-weight: 500;
}

.listing-catalog:hover {
    cursor: pointer;
    background-color: #eee !important;
}

/* .listing-catalog:active {
    color: #16181b !important;
    background-color: #eee !important;
} */

.font-600 {
    font-weight: 600;
}