<div id='card-body'>
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
            <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">
                <app-smart-table (eventType)="selecteddata($event,shareView)" [tableType]="'full'"  [tableDatails]="tableDetail" [resetModel]="resetModel" [tableDatas]="ngxTableConfig"></app-smart-table>
            </div>
        </div>
    </div>
</div>

<ng-template #shareView let-c="close" let-d="dismiss" class="modal fade">
    <app-share-ownership *ngIf="sharable" [sharableDet]="sharableDet" (repBack)="closeModel()">
    </app-share-ownership>
</ng-template>

<ng-template #catalogList let-c="close" let-d="dismiss" class="modal fade" id="catalogFilter">
    <div class="modal-body" style="padding-left:6px; padding-right: 6px">
        <div class="card" style="box-shadow: none !important">
            <div class="card-header card-header-tabs card-header-rose new-header catalog-header font-13">
                <span title="Close" class="pull-right clickable close-new-icon catalog-header-icon" (click)="closeModel()" data-effect="fadeOut">
                    <i class="fa fa-times"></i>
                </span> Catalog Listing
            </div>
            <input type="text" (keyup)="filterData($event)" placeholder="Filter items" class="form-control insideGrid">
            <span style="padding-left:6px"> </span>
            <div class="card-body" id="chooseDatasourceSec" style="padding:0px">
                <div class="row globalHeader" href="javascript:void(0)">
                    <div class="col-5">Catalog ID</div>
                    <div class="col-7">Catalog Name</div>
                </div>
                <cdk-virtual-scroll-viewport itemSize="10" minBufferPx="200" maxBufferPx="400" class="example-viewport">
                    <ul style="padding: 0; margin-top:10px;">
                        <li *ngFor="let catalogL of catalogListing; let i = index;" (click)="columnDetails(catalogL,catalogList)">
                            <div class="dropdown-item padd-nert row listing-catalog pl-0 globalContent" style="display: flex;" href="javascript:void(0)">
                                <div class="col-5 pl-1">{{catalogL.id}}</div>
                                <div class="col-7">{{catalogL.name}}</div>
                            </div>
                        </li>
                    </ul>
                </cdk-virtual-scroll-viewport>
                <div class="no-data" *ngIf="!catalogListing.length">
                    No Record's Found...
                </div>
            </div>
        </div>
    </div>
</ng-template>

<a style="display: none;" class="download-zip-link" #downloadZipLink></a>