<div class="card-body material-table p-0" id='card-body'>
  <div class="row m-0">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100 p-2">
      <div class="material-table dashboard-bg-white b-radius-12 h-100 mt-0" id="maximize">
        <div class="d-flex w-100 h-100">
          <div id='w-h-20' class="h-100 p-1" [ngClass]="fileExplorer ? 'width20':'width0'">
            <div [ngClass]="isOpenTreeRepo ?'tree_viewport' : 'h-6'" class=""
              [style.max-height]="isOpenTreeRepo && treenode_obj ? (leftContainerHeight - 62)+'px' : ''">
              <div style="padding: 0.25mm !important" *ngIf="treenode" class="h-100  menu-trigger-tree">
                <div (click)="toggleShowDiv('tree_one')" class="card-collapse-custom">
                  <div role="tab" id="headingOne" class="h-33px cursorpointer card-header-tree accordionHeader-tree">
                    <h5 class="mb-0">
                      <a class="w-100 table-header-dropdown-tree font-accordian-tree" data-toggle="collapse"
                        aria-controls="collapseTwo">ER Diagram<i class="material-icons float-right   panel-icon"
                          [ngClass]="isOpenTreeRepo ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
                    </h5>
                  </div>
                </div>
                <div class="h-100" *ngIf="isOpenTreeRepo">
                  <input id="filter" #filter class="form-control p-0 h-22 h-new"
                    (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="Search" />
                  <div id="treeview_container3" class="simplebar edw-tree">
                    <perfect-scrollbar>
                      <tree-root class="exampleClass" #tree [nodes]="treenode" [options]="options1">
                        <ng-template #treeNodeTemplate let-node="node" let-index="index">
                          <span *ngIf="node.data.children.length" class="folder-icon">
                            <i *ngIf="!node.isExpanded" class="fa fa-folder tree-file"></i>
                            <i *ngIf="node.isExpanded" class="fa fa-folder-open tree-file"></i>
                          </span>
                          <span (click)="tableClicked(node)" class="treeText globalContent" 
                          [ngClass]="[node.data.moduleType == 'Summary'?'treeFontImp':'' ,
                        node.data.moduleType == 'NT'?'colors-tree-nt':'' ,
                        node.data.moduleType == 'MT'?'colors-tree-mt':'' ,
                        node.data.moduleType == 'DT'?'colors-tree-dt':'' ,
                         node.data.moduleId == 'MODULES'?'treeFontImp':'',node.data.moduleId == 'BUSINESS'?'treeFontImp':'',node.data.moduleId == 'TABLES'?'treeFontImp':'',node.data.moduleId == 'MISSOBJ'?'treeFontImp':'',
                         node.data.moduleId == 'MISSIG_RELATION'?'treeFontImp':'',
                         node.data.moduleId == 'VIEWS'?'treeFontImp':'' ]">
                            <span (click)="activeNode = node"
                              [ngClass]="{ 'background-highlight': activeNode === node }"
                              *ngIf="node.data.moduleType !='MO'">
                              {{ node.data.moduleName }}
                            </span>

                            <span [ngClass]="{ 'background-highlight': activeNode === node }"
                              *ngIf="node.data.moduleType =='MO'">
                              {{ node.data.moduleName | slice:0:15 }}
                              <span *ngIf="node.data.moduleName.length > 16">...</span>
                            </span>

                          </span>
                        </ng-template>
                      </tree-root>
                    </perfect-scrollbar>
                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="treenode_obj" [ngClass]="isOpenTreeMissing ?'tree_viewport' : 'align-tree-accordian'" class=""
              [style.max-height]="isOpenTreeMissing ? (leftContainerHeight -20)+'px' :''">
              <div style="padding: 0.25mm !important" class="h-100 menu-trigger-tree">
                <div (click)="toggleShowDiv('tree_two')" class="card-collapse-custom">
                  <div role="tab" id="headingOne" class="h-33px cursorpointer
                  card-header-tree accordionHeader-tree">
                    <h5 class="mb-0">
                      <a class="w-100 table-header-dropdown-tree
                      font-accordian-tree" data-toggle="collapse" aria-controls="collapseTwo">ER Objects<i
                          class="material-icons float-right panel-icon"
                          [ngClass]="isOpenTreeMissing ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
                    </h5>
                  </div>
                </div>
                <div class="h-100" *ngIf="isOpenTreeMissing">
                  <input id="filter1" #filter1 class="form-control p-0 h-22 h-new"
                    (keyup)="tree1.treeModel.filterNodes(filter1.value)" placeholder="Search" />
                  <div id="treeview_container4" class="simplebar edw-tree">
                    <perfect-scrollbar>
                      <tree-root class="exampleClass" #tree1 [nodes]="treenode_obj" [options]="options1">
                        <ng-template #treeNodeTemplate let-node="node" let-index="index">
                          <span *ngIf="node.data.children.length" class="folder-icon">
                            <i *ngIf="!node.isExpanded" class="fa fa-folder tree-file"></i>
                            <i *ngIf="node.isExpanded" class="fa fa-folder-open tree-file"></i>
                          </span>
                          <span (click)="tableClicked(node)" class="treeText globalContent" [ngClass]="[node.data.moduleType == 'Summary'?'treeFontImp':'' ,
                        node.data.moduleType == 'NT'?'colors-tree-nt':'' ,
                        node.data.moduleType == 'MT'?'colors-tree-mt':'' ,
                        node.data.moduleType == 'DT'?'colors-tree-dt':'' ,

                         node.data.moduleId == 'MODULES'?'treeFontImp':'',node.data.moduleId == 'BUSINESS'?'treeFontImp':'',node.data.moduleId == 'TABLES'?'treeFontImp':'',node.data.moduleId == 'MISSOBJ'?'treeFontImp':'',
                         node.data.moduleId == 'MISSIG_RELATION'?'treeFontImp':'',
                         node.data.moduleId == 'EDWADMIN_TABLE_OTHER'?'treeFontImp':'',
                         node.data.moduleId == 'VIEWS'?'treeFontImp':'' ]">

                            <span (click)="activeNode = node"
                              [ngClass]="{ 'background-highlight': activeNode === node }"
                              title="{{node.data.moduleName | titlecase}}">
                              {{ node.data.moduleName }}
                              <!-- <span *ngIf="node.data.moduleName.length > 17">...</span> -->
                            </span>


                          </span>


                          <ng-container *ngIf="node.data.moduleId == 'MISSOBJ' && node.data.moduleType== 'MO'">
                            <div class="schedule-icon d-none icon-parent">
                              <span class="material-icons" rel="tooltip" ngbTooltip="Refresh" container="body"
                                (click)="refreshData()">refresh</span>
                            </div>
                          </ng-container>
                          <ng-container *ngIf="node.data.moduleId != 'MISSOBJ' && node.data.moduleId != 'MODIFY_TABLE' && node.data.moduleId != 'NEW_TABLE' && node.data.moduleId != 'DELETED_TABLE'  && node.data.moduleId != 'MISSIG_RELATION' &&
                      (node.data.moduleType== 'NT'
                      || node.data.moduleType=='MT'
                      || node.data.moduleType == 'DT'  || node.data.moduleType == 'MR')">
                            <div *ngIf="globalService.pageLevelAccess.profileAdd == 'Y'"
                              class="schedule-icon d-none icon-parent">
                              <span (click)="activeNode = node"
                                [ngClass]="{ 'background-highlight': activeNode === node }"
                                *ngIf="node.data.moduleType != 'MR'" class="material-icons align-icons-design"
                                rel="tooltip" ngbTooltip="Apply" container="body" (click)="openPopUp(node.data)">add
                              </span>
                              <span (click)="activeNode = node"
                                [ngClass]="{ 'background-highlight': activeNode === node }"
                                *ngIf="node.data.moduleType == 'MR'" class="material-icons align-icons-design"
                                rel="tooltip" ngbTooltip="Suggestion" container="body"
                                (click)="openPopUp(node.data)">link</span>
                            </div>
                          </ng-container>


                        </ng-template>
                      </tree-root>
                    </perfect-scrollbar>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div id="d3FullScreen"
            class="flex-con-col flex-con-colum gidster-parent zoomoutsideRootDiv overFlowHidden h-100"
            [ngClass]="[fileExplorer ? 'width80':'w-100', pageView=='M' || pageView=='T' ? 'b-white':'']">
            <div class="zoomoutsidesubRootDiv w-100 h-100" id="panZoomEle">
              <app-tabletreeview (backToSummaryClick)="backToSummaryClick()" (childData)="getChildData($event)"
                [nodetreevalues]="nodetreevalues" class="w-100 h-100" *ngIf="pageView=='T'">
              </app-tabletreeview>
              <app-er-diagramoverall *ngIf="pageView=='O'" [treenode]="treenode" [erAllvalues]="erAllvalues"
                [erDisplayType]="erDisplayType" (childData)="getChildData($event)">
              </app-er-diagramoverall>
              <app-maximize (dragOptionIsChanged)="checkingDragOptionIsTriggered($event)" class="w-100 h-100"
                *ngIf="pageView=='M'" [dragOptiontrigger]="dragOptiontrigger" [triggerOption]="triggerOption"
                (childData)="getChildData($event)" [maximizeData]="maximizeData"
                (childDataForTree)="clicknodetree($event)">
              </app-maximize>
              <app-missing-objects-views *ngIf="pageView=='MT'" (backToSummaryClick)="backToSummaryClick()"
                [nodetreevalues]="nodetreevalues">

              </app-missing-objects-views>

              <app-missingtreeview *ngIf="pageView=='NT' || pageView=='DT'" (backToSummaryClick)="backToSummaryClick()"
                [nodetreevalues]="nodetreevalues">

              </app-missingtreeview>
              <app-missingrepositoryview *ngIf="pageView=='MR'" (backToSummaryClick)="backToSummaryClick()"
                [nodetreevalues]="nodetreevalues">

              </app-missingrepositoryview>

              <app-missingrepositoryviewmodule *ngIf="pageView=='MRM'" (RelationSearch)="getdata($event)"
                [nodetreevalues]="nodetreevalues">
              </app-missingrepositoryviewmodule>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ico-top-pos-slide1 icon-back" id="slide_open" (click)="maximizescreen()">
  <span *ngIf="fileExplorer" class="material-icons toggle-icons">arrow_left</span>
  <span *ngIf="!fileExplorer" class="material-icons toggle-icons">arrow_right</span>
</div>


<ng-template #missingObjTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Repository</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
  </div>
  <div class="modal-body">
    <div class="material-table divA report-table h-75">
      <div class="preview_table table-align-repo" style="max-height: 230px;">
        <perfect-scrollbar>
          <table class="table table-hover my-custom-table " cellspacing="0">
            <thead>
            </thead>
            <tbody>
              <tr *ngFor="let columnsobj of repositoryValues; let i = index;">
                <td style="width: 1% !important; padding-top: 3px;">
                  <input type="checkbox" [name]="columnsobj.moduleName" (change)="repositoryChange(columnsobj)"
                    [(ngModel)]="columnsobj.checked" [checked]="columnsobj.checked">
                </td>
                <td> {{columnsobj.moduleName}}</td>
            </tbody>
          </table>
        </perfect-scrollbar>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center" style="padding-top: 16px;">
    <button type="button" class="btn btn-rose btn-sm" (click)="applyRepository()">Apply</button>
    <button style="margin-left: 3px" type="button" (click)="modalClose()" class="btn btn-rose btn-sm">Cancel</button>
  </div>

</ng-template>


<ng-template #missingRelationTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Relation Suggestion </h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
  </div>
  <div class="modal-body relations-padding">
    <div *ngIf="relation_table" class="menu-trigger">
      <div class="card-collapse-custom" (click)="toggleShowDiv('relation')">
        <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
          <h5 class="mb-0">
            <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
              aria-controls="collapseTwo">Relation By Primary Key ({{relationByIndexList.length}}) <i
                class="material-icons float-right mr-2 mt-1 panel-icon"
                [ngClass]="isOpen_relation ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
          </h5>
        </div>
      </div>

      <div *ngIf="isOpen_relation" class="material-table report-table divA ">
        <div class="preview_table table-align table-h-relation">
          <perfect-scrollbar>
            <table class="table table-hover my-custom-table" cellspacing="0">
              <thead>
                <tr>
                  <th style="width: 1% !important; padding-top: 3px;">
                    <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1"
                      (change)="checkUncheckAll()" />
                  </th>
                  <th class="table-width-align-3">From Table</th>
                  <th class="table-width-align-3">To Table</th>
                  <th class="table-width-align-10">Relation String</th>
                </tr>
              </thead>
              <tbody>

              <tbody>
                <tr *ngFor="let columns of relationByIndexList; let i = index;">
                  <td style="width: 1% !important;text-align: center; padding-top: 3px;">
                    <input type="checkbox" [(ngModel)]="columns.isSelected" name="list_name"
                      value="{{columns.isSelected}}" (change)="isAllSelected()" />
                  </td>
                  <td class="table-width-align-3" title="{{columns.tableName | titlecase}}"> {{columns.tableName}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.relationTablename | titlecase}}">
                    {{columns.relationTablename}}</td>
                  <td class="table-width-align-10" title="{{columns.relationString | titlecase}}">
                    {{columns.relationString}}</td>
              </tbody>

            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>


    <div *ngIf="relation_table_sub" class="menu-trigger">
      <div class="card-collapse-custom" (click)="toggleShowDiv('relation_sub')">
        <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
          <h5 class="mb-0">
            <a class="w-100 table-header-dropdown" data-toggle="collapse" [attr.aria-expanded]="!isLineFormCollapsed"
              aria-controls="collapseTwo">Relation By Name ({{relationByNameList.length}}) <i
                class="material-icons float-right mr-2 mt-1 panel-icon"
                [ngClass]="isOpen_relation_sub ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
          </h5>
        </div>
      </div>

      <div *ngIf="isOpen_relation_sub" class="material-table report-table divA ">
        <div class="preview_table table-align table-h-relation-sub">
          <perfect-scrollbar>
            <table class="table table-hover my-custom-table" cellspacing="0">
              <thead>
                <tr>
                  <th style="padding-top:3px">
                    <input type="checkbox" [(ngModel)]="isMasterSel_byname" name="list_name" value="h1"
                      (change)="checkUncheckAllByName()" />
                  </th>
                  <th title="{{'Degree' | titlecase}}">#</th>
                  <th>From Table</th>
                  <th>To Table</th>
                  <th>Relation String</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let columns of relationByNameList; let i = index;">
                  <td style="width: 1% !important;text-align: center; padding-top: 3px;">
                    <input type="checkbox" [(ngModel)]="columns.isSelected" name="list_name1"
                      value="{{columns.isSelected}}" (change)="isAllSelectedByName()" />
                  </td>
                  <td style="width: 0.2% !important; text-align: right;"> {{columns.internalStatus}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.tableName | titlecase}}"> {{columns.tableName}}
                  </td>
                  <td class="table-width-align-3" title="{{columns.relationTablename | titlecase}}">
                    {{columns.relationTablename}}</td>
                  <td class="table-width-align-10" title="{{columns.relationString | titlecase}}">
                    {{columns.relationString}}</td>


              </tbody>

            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer text-center h-10">
    <button *ngIf="globalService.pageLevelAccess.profileAdd == 'N'" type="button"
      class="btn btn-rose btn-sm align-btn-style-relation" (click)="addMissingRelationValues()">Apply</button>
    <button type="button" (click)="modalClose()" class="btn btn-rose btn-sm align-btn-style-r">Cancel</button>
  </div>

</ng-template>