<mat-form-field class="w-100">
  <mat-label>{{label}}</mat-label>
  <input matInput 
         [matDatepicker]="datepicker"
         [max]="_max" [min]="_min"
         [formControl]="_inputCtrl"
         [matDatepickerFilter]="_customFilter"
         (click)="_openDatepickerOnClick(datepicker)"
         readonly>
</mat-form-field>
<mat-datepicker #datepicker
                [touchUi]="touchUi"
                startView="multi-year"
                (yearSelected)="_yearSelectedHandler($event,datepicker)"
                (monthSelected)="_monthSelectedHandler($event,datepicker)"
                panelClass="month-picker">
</mat-datepicker>
