<ng-container *ngFor="let rep of dashboardDataDetail; let i = index">
    <div class="row dashboard-row-pl-0 ml-0" [ngStyle]="rowHeight(rep)">
        <div class="{{rep.groupColumn}} h-100">
            <div class="row dashboard-row-pl-0 h-100">
                <ng-container *ngIf="rep.subGroup == 'N'">
                    <ng-container *ngFor="let data of rep.group; let j = index">
                        <div class="{{data.columns}} align-items-stretch maintile h-100">
                            <ng-container *ngIf="data.dataSource.responsedel">
                                <ng-container *ngIf="data.dataSource.childTileslst.length">
                                    <ng-container *ngIf="data.dataSource.subTiles == 'N'">
                                        <ng-container *ngIf="data.dataSource.tileType == 'T'">
                                            <app-tiles [inputData]="data.dataSource" [index]="'single'"
                                                [tileDetail]="tileDetail"></app-tiles>
                                        </ng-container>
                                        <ng-container *ngIf="data.dataSource.tileType == 'C'">
                                            <app-chart class="w-100 h-100" [inputData]="data.dataSource"
                                                [index]="'single'" [tileDetail]="tileDetail" (childData)="getChildData($event)"></app-chart>
                                        </ng-container>
                                        <ng-container *ngIf="data.dataSource.tileType == 'G'">
                                            <app-grid class="w-100 h-100" [inputData]="data.dataSource"
                                            [tileDetail]="tileDetail" (childData)="getChildData($event)"></app-grid>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="data.dataSource.subTiles == 'Y'">
                                        <ng-container *ngIf="data.dataSource.tileType == 'T'">
                                            <app-swiper [inputData]="data.dataSource" [tileDetail]="tileDetail">
                                            </app-swiper>
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!data.dataSource.childTileslst.length">
                                    <div class="card h-100">
                                        <div class="card-body">
                                            <p class="no-data">No data for display</p>
                                        </div>
                                    </div>
                                </ng-container>

                            </ng-container>
                            <ng-container *ngIf="!data.dataSource.responsedel">
                                <div class="card h-100 loader6Card">
                                    <div class="card-body">
                                        <h6 class="text-muted mb-0 min-height-16">
                                            <strong class="titleCaption">{{data.dataSource.tileCaption}}</strong>
                                        </h6>
                                        <span [innerHtml]="loaderSvg | domSan:'html'" class="loader6Css"></span>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </ng-container>
                <ng-container *ngIf="rep.subGroup == 'Y'">
                    <ng-container *ngFor="let data of rep.group; let j = index">
                        <ng-container *ngIf="data.columnId != 'group3'">
                            <div class="{{data.columns}} align-items-stretch maintile h-100"
                                [ngClass]="data.dataSource.tileType == 'C' ? 'chartTile':''">
                                <ng-container *ngIf="data.dataSource.responsedel">
                                    <ng-container *ngIf="data.dataSource.childTileslst.length">
                                        <ng-container *ngIf="data.dataSource.subTiles == 'N'">
                                            <ng-container *ngIf="data.dataSource.tileType == 'C'">
                                                <app-chart class="w-100 h-100" [inputData]="data.dataSource"
                                                    [index]="'single'" [tileDetail]="tileDetail" (childData)="getChildData($event)"></app-chart>
                                            </ng-container>
                                            <ng-container *ngIf="data.dataSource.tileType == 'G'">
                                                <app-grid class="w-100 h-100" [inputData]="data.dataSource"
                                                [tileDetail]="tileDetail" (childData)="getChildData($event)"></app-grid>
                                            </ng-container>
                                        </ng-container>
                                        <ng-container *ngIf="data.dataSource.subTiles == 'Y'">
                                            <ng-container *ngIf="data.dataSource.tileType == 'C'">
                                                <app-swiper [inputData]="data.dataSource" [tileDetail]="tileDetail">
                                                </app-swiper>
                                            </ng-container>
                                        </ng-container>
                                    </ng-container>
                                    <ng-container *ngIf="!data.dataSource.childTileslst.length">
                                        <div class="card h-100">
                                            <div class="card-body">
                                                <p class="no-data">No data for display</p>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!data.dataSource.responsedel">
                                    <div class="card h-100 loader6Card">
                                        <div class="card-body">
                                            <h6 class="text-muted mb-0 min-height-16">
                                                <strong class="titleCaption">{{data.dataSource.tileCaption}}</strong>
                                            </h6>
                                            <span [innerHtml]="loaderSvg | domSan:'html'" class="loader6Css"></span>
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="data.columnId == 'group3'">
                            <div class="{{data.columns}} h-100 p-0">
                                <div class="row w-100 ml-0 mr-0 containsChildTile h-100">
                                    <ng-container *ngFor="let data1 of data.group; let j = index">
                                        <div class="{{data1.columns}} align-items-stretch maintile ml-0 mr-0 h-50"
                                            [ngClass]="data1.top90 ? 'secondRow':''">
                                            <ng-container *ngIf="data1.dataSource.responsedel">
                                                <ng-container *ngIf="data1.dataSource.childTileslst.length">
                                                    <ng-container *ngIf="data1.dataSource.subTiles == 'N'">
                                                        <ng-container *ngIf="data1.dataSource.tileType == 'T'">
                                                            <app-tiles class="w-100 h-100"
                                                                [inputData]="data1.dataSource" [index]="'single'"
                                                                [tileDetail]="tileDetail"></app-tiles>
                                                        </ng-container>
                                                    </ng-container>
                                                    <ng-container *ngIf="data1.dataSource.subTiles == 'Y'">
                                                        <ng-container *ngIf="data1.dataSource.tileType == 'T'">
                                                            <app-swiper class="w-100 h-100"
                                                                [inputData]="data1.dataSource"
                                                                [tileDetail]="tileDetail"></app-swiper>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                                <ng-container *ngIf="!data1.dataSource.childTileslst.length">
                                                    <div class="card h-100">
                                                        <div class="card-body">
                                                            <p class="no-data">No data for display</p>
                                                        </div>
                                                    </div>
                                                </ng-container>

                                            </ng-container>
                                            <ng-container *ngIf="!data1.dataSource.responsedel">
                                                <div class="card h-100 loader6Card">
                                                    <div class="card-body">
                                                        <h6 class="text-muted mb-0 min-height-16">
                                                            <strong
                                                                class="titleCaption">{{data1.dataSource.tileCaption}}</strong>
                                                        </h6>
                                                        <span [innerHtml]="loaderSvg | domSan:'html'"
                                                            class="loader6Css"></span>
                                                    </div>
                                                </div>
                                            </ng-container>
                                        </div>
                                    </ng-container>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</ng-container>
