<div class="card h-100 singleTilesTheme" [ngStyle]="cardBackgroudColor(data)"
    [ngClass]="{'green-border': data.endResult?.PLACEHOLDER2.type == false,'red-border': data.endResult?.PLACEHOLDER2.type == true}">
    <div class="card-body h-100">
      <div class="d-flex flex-row w-100">
        <h6 class="text-muted mb-1 h6Strong w-95">
            <strong class="titleCaption" [ngStyle]="cardColor(data)">{{data.tileCaption}}</strong>
            <strong *ngIf="data.parentCaption && data.parentCaption != ''" [title]="setTitle(data.parentCaption)" class="parentCaption">{{data.parentCaption}}</strong>
        </h6>
        <div  *ngIf="data['status'] != 0" class="icon-list outside-click w-5 run-icon" ngbDropdown
        #drop= "ngbDropdown" [autoClose]="'outside'">
          <a class="nav-icon more-icon p-0" href="javascript:void(0);"
          data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true" aria-expanded="true">
            <span class="material-icons small-icons">more_vertz</span>
          </a>

          <div ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
            class="dropdown-menu dropdown-menu-right triangleUp1 pt-0 b-radius-none">
            <ul class="fixed-plugin dropdown-menu show">

              <li ngbDropdownItem class="header-title d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                  (click)='toggleShowDrop($event, "showExportOption")'>
                  <span class="w-70 d-flex justify-content-start">Export</span>
                  <i class="material-icons">arrow_right</i>
                </div>
              </li>
              <!-- <li ngbDropdownItem class="header-title d-flex justify-content-between align-items-center disabled-list">
                <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                  <span class="w-70 d-flex justify-content-start">Maximize</span>
                </div>
              </li> -->
            </ul>
            <div *ngIf="dropdownSetting.showExportOption" class="secondFilter rightAlign">
              <ul class="fixed-plugin b-radius-none dropdown-menu show p-0">
                <li class="header-title d-flex justify-content-between align-items-center"
                  (click)="exportGrid('download', 'xlsx', drop)">
                  <div class="col-12">Excel</div>
                </li>
                <!-- <li class="header-title d-flex justify-content-between align-items-center"
                          (click)="exportDropdown('download', 'csv', drop)">
                            <div class="col-12">CSV</div>
                          </li> -->
                <li class="header-title d-flex justify-content-between align-items-center"
                (click)="exportGrid('download', 'pdf', drop)">
                  <div class="col-12">PDF</div>
                </li>
                <!-- <li *ngIf="!reportOrientation" class="header-title d-flex justify-content-between align-items-center">
                            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                (click)='toggleShowDropPDF($event, "showPdfOption")'>
                                <span class="w-70 d-flex justify-content-start">PDF</span>
                                <i *ngIf="!dropdownSetting.showPdfOption" class="material-icons">arrow_drop_down</i>
                                <i *ngIf="dropdownSetting.showPdfOption" class="material-icons">arrow_drop_up</i>
                            </div>
                            <div *ngIf="dropdownSetting.showPdfOption" class="secondFilter thirdFilter">
                                <ul class="fixed-plugin shadow-imp dropdown-menu show p-0">
                                    <li class="header-title d-flex justify-content-between align-items-center"
                                        (click)="exportDropdown('download', 'pdf', drop, 'P')">
                                        <div class="col-12">Portrait</div>
                                    </li>
                                    <li class="header-title d-flex justify-content-between align-items-center"
                                        (click)="exportDropdown('download', 'pdf', drop, 'L')">
                                        <div class="col-12">Landscape</div>
                                    </li>
                                </ul>
                            </div>
                        </li> -->
              </ul>
            </div>
          </div>
        </div>
    </div>
        <ng-container *ngIf="data['status'] != 0">
            <div class="d-flex h-100">
                <div class="material-table h-95" *ngIf="data?.childTileslst[0]?.gridColumnSet.length">
                    <perfect-scrollbar style="max-height: 100%;" [config]="{suppressScrollX:false}">
                        <table>
                            <thead>
                                <tr>
                                  <ng-container *ngFor='let tableHeader of data.childTileslst[0].gridColumnSet'>
                                    <th *ngIf="tableHeader.labelRowNum == 1" [attr.rowspan]="tableHeader.rowspan == 0 ? -1: tableHeader.rowspan" [attr.colspan]="tableHeader.colspan">
                                      {{tableHeader.caption}}
                                  </th>
                                  </ng-container>
                                </tr>
                                <tr>
                                  <ng-container *ngFor="let tableHeader of data.childTileslst[0].gridColumnSet">
                                      <th *ngIf="tableHeader.labelRowNum == 2">
                                          {{tableHeader.caption}}
                                      </th>
                                  </ng-container>
                              </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor='let tdData of data.childTileslst[0].gridDataSet' (click)="drillDownReq($event, data, tdData)">
                                    <ng-container
                                        *ngFor='let tableHeader of data.childTileslst[0].gridColumnSet; let dataindex = index;'>
                                        <td *ngIf="tableHeader.colspan < 2" [ngClass]="[(tableHeader.colType == 'N'|| tableHeader.colType == 'TR' || tableHeader.colType == 'NR' || tableHeader.colType == 'I' || tableHeader.colType == 'S') ?
                                        'text-right': tableHeader.colType == 'P' ? 'text-center w-40px':'',tdData.FORMAT_TYPE == 'FT' ? 'font-bold':'', data.drillDownFlag ? 'cursor' : '']">
                                          <span *ngIf="tableHeader.colType == 'T' || tableHeader.colType == 'D' || tableHeader.colType == 'TR' || tableHeader.colType == 'NR'">
                                            {{tdData[tableHeader.dbColumnName]}}
                                        </span>
                                        <span class="text-right" *ngIf="tableHeader.colType == 'N'">
                                            {{removeComma(tdData[tableHeader.dbColumnName]) | number: '1.2-2'}}
                                        </span>
                                        <span class="text-right" *ngIf="tableHeader.colType == 'I' || tableHeader.colType == 'S'">
                                            {{removeComma(tdData[tableHeader.dbColumnName]) | number: '1.0-0'}}
                                        </span>
                                        <span *ngIf="tableHeader.colType == 'P'">
                                          <ng-container *ngIf="tdData[tableHeader.dbColumnName]== 'GREEN1'">

                                            <i class="material-icons" style="color:#23c809">arrow_upward</i>
                                          </ng-container>
                                          <ng-container *ngIf="tdData[tableHeader.dbColumnName]=='RED1'">
                                            <i class="material-icons" style="color: #e00202;">arrow_downward</i>
                                          </ng-container>
                                        </span>
                                        </td>
                                    </ng-container>
                                </tr>
                            </tbody>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
        </ng-container>
        <ng-container *ngIf="data['status'] == 0">
            <h2 class="flex errorclass">
                <span class="material-icons errorIcon" [attr.tooltip]="data.message">
                    priority_high
                </span>
                <!-- <span class="text-center errormsg tool_tip" [attr.tooltip]="data.message">
                    Error</span> -->
            </h2>
        </ng-container>
        <div class="no-data" *ngIf="data?.childTileslst[0]?.gridColumnSet.length==0 || data?.childTileslst[0]?.gridDataSet.length==0">
            No data to display.
        </div>
        <!-- <div class="footer-seperator">
            <p class="text-muted no-margin">
                {{data.endResult?.PLACEHOLDER3.value}}
            </p>
            <hr class="border-black" [ngClass]="data.subTiles == 'Y' ? 'multipleHr' :'singleHr'" />
            <p class="text-muted no-margin flex">
                <span class="flexgrow" [innerHTML]="data.endResult?.PLACEHOLDER4.value | domSan:'html'"></span>
                <span *ngIf="data.drillDownFlag" class="graphIcon" (click)="popoverchart($event,data)">
                    <i  class="fa fa-line-chart" [id]='"drillLoop_"+data.tileSequence+"_"+k' aria-hidden="true"></i>
                </span>
            </p>
        </div> -->
    </div>
</div>

<div class="popoverHold" id="popoverHold">
  <div class="close mt-1" (click)="closePopoverChart($event,data)"><i class="fa fa-times"></i></div>
  <ng-container *ngIf="drillDownlstFlag">
    <ng-container *ngFor="let drillDownData of data.drillDownlst">
      <div class="d-flex align-items-stretch w-100 h-100">
        <div class="card h-100">
          <div class="card-body h-100">
            <div class="d-flex flex-row w-100">
              <h5 class="mb-1 h-5 font-drilldown w-95">
                {{drillDownData.tileCaption}}
              </h5>
              <div *ngIf='drillDownData.tileType == "G"' class="icon-list outside-click w-2 run-icon z-unset"
              ngbDropdown placement="bottom-right" #drop="ngbDropdown" [autoClose]="'outside'">
                <a class="nav-icon more-icon p-0" href="javascript:void(0);" data-toggle="dropdown" ngbDropdownToggle
                  aria-haspopup="true" aria-expanded="true">
                  <span class="material-icons small-icons">more_vertz</span>
                </a>

                <div ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
                  class="dropdown-menu dropdown-menu-right triangleUp1 pt-0 b-radius-none">
                  <ul class="fixed-plugin dropdown-menu show">

                    <li ngbDropdownItem class="header-title d-flex justify-content-between align-items-center">
                      <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                        (click)='toggleShowDrop($event, "showExportOption")'>
                        <span class="w-70 d-flex justify-content-start">Export</span>
                        <i class="material-icons">arrow_right</i>
                      </div>
                    </li>
                    <!-- <li ngbDropdownItem class="header-title d-flex justify-content-between align-items-center disabled-list">
                                        <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                                          <span class="w-70 d-flex justify-content-start">Maximize</span>
                                        </div>
                                      </li> -->
                  </ul>
                  <div *ngIf="dropdownSetting.showExportOption" class="secondFilter rightAlign">
                    <ul class="fixed-plugin b-radius-none dropdown-menu show p-0">
                      <li class="header-title d-flex justify-content-between align-items-center"
                        (click)="exportGridDrillDown('download', 'xlsx', drop)">
                        <div class="col-12">Excel</div>
                      </li>
                      <!-- <li class="header-title d-flex justify-content-between align-items-center"
                                                  (click)="exportDropdown('download', 'csv', drop)">
                                                    <div class="col-12">CSV</div>
                                                  </li> -->
                      <li class="header-title d-flex justify-content-between align-items-center"
                        (click)="exportGridDrillDown('download', 'pdf', drop)">
                        <div class="col-12">PDF</div>
                      </li>
                      <!-- <li *ngIf="!reportOrientation" class="header-title d-flex justify-content-between align-items-center">
                                                    <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12"
                                                        (click)='toggleShowDropPDF($event, "showPdfOption")'>
                                                        <span class="w-70 d-flex justify-content-start">PDF</span>
                                                        <i *ngIf="!dropdownSetting.showPdfOption" class="material-icons">arrow_drop_down</i>
                                                        <i *ngIf="dropdownSetting.showPdfOption" class="material-icons">arrow_drop_up</i>
                                                    </div>
                                                    <div *ngIf="dropdownSetting.showPdfOption" class="secondFilter thirdFilter">
                                                        <ul class="fixed-plugin shadow-imp dropdown-menu show p-0">
                                                            <li class="header-title d-flex justify-content-between align-items-center"
                                                                (click)="exportDropdown('download', 'pdf', drop, 'P')">
                                                                <div class="col-12">Portrait</div>
                                                            </li>
                                                            <li class="header-title d-flex justify-content-between align-items-center"
                                                                (click)="exportDropdown('download', 'pdf', drop, 'L')">
                                                                <div class="col-12">Landscape</div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </li> -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="drillDownData.tileType == 'C'">
              <div class="chart-container h-95" *ngIf="drillDownData.chartDataSet1">
                <fusioncharts width="100%" height="100%" baseChartMessageFontSize="14" containerBackgroundOpacity="0"
                  [dataFormat]='json' [type]="drillDownData.chartType" [dataSource]="drillDownData.chartDataSet1">
                </fusioncharts>
              </div>
            </ng-container>
            <ng-container *ngIf='drillDownData.tileType == "G"'>
              <div class="material-table h-95" *ngIf="drillDownData.gridColumnSet.length">
                <perfect-scrollbar style="max-height: 100%;" [config]="{suppressScrollX:false}">
                  <table>
                    <thead>
                      <tr>
                        <ng-container *ngFor='let tableHeader of drillDownData.gridColumnSet'>
                          <th *ngIf="tableHeader.labelRowNum == 1"
                            [attr.rowspan]="tableHeader.rowspan == 0 ? -1: tableHeader.rowspan"
                            [attr.colspan]="tableHeader.colspan">
                            {{tableHeader.caption}}
                          </th>
                        </ng-container>
                      </tr>
                      <tr>
                        <ng-container *ngFor="let tableHeader of drillDownData.gridColumnSet">
                          <th *ngIf="tableHeader.labelRowNum == 2">
                            {{tableHeader.caption}}
                          </th>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor='let tdData of drillDownData.gridDataSet'>
                        <ng-container *ngFor='let tableHeader of drillDownData.gridColumnSet; let dataindex = index;'>
                          <td *ngIf="tableHeader.colspan < 2" [ngClass]="[(tableHeader.colType == 'N'|| tableHeader.colType == 'TR' || tableHeader.colType == 'NR' || tableHeader.colType == 'I' || tableHeader.colType == 'S') ?
                          'text-right': tableHeader.colType == 'P' ? 'text-center w-40px':'',tdData.FORMAT_TYPE == 'FT' ? 'font-bold':'']">
                            <span
                              *ngIf="tableHeader.colType == 'T' || tableHeader.colType == 'D' || tableHeader.colType == 'TR' || tableHeader.colType == 'NR'">
                              {{tdData[tableHeader.dbColumnName]}}
                            </span>
                            <span class="text-right" *ngIf="tableHeader.colType == 'N'">
                              {{removeComma(tdData[tableHeader.dbColumnName]) | number: '1.2-2'}}
                            </span>
                            <span class="text-right" *ngIf="tableHeader.colType == 'I' || tableHeader.colType == 'S'">
                              {{removeComma(tdData[tableHeader.dbColumnName]) | number: '1.0-0'}}
                            </span>
                            <span *ngIf="tableHeader.colType == 'P'">
                              <ng-container *ngIf="tdData[tableHeader.dbColumnName]== 'GREEN1'">

                                <i class="material-icons" style="color:#23c809">arrow_upward</i>
                              </ng-container>
                              <ng-container *ngIf="tdData[tableHeader.dbColumnName]=='RED1'">
                                <i class="material-icons" style="color: #e00202;">arrow_downward</i>
                              </ng-container>
                            </span>
                          </td>
                        </ng-container>
                      </tr>
                    </tbody>
                  </table>
                </perfect-scrollbar>
              </div>
              <p class="no-data" *ngIf="!drillDownData.gridColumnSet.length || !drillDownData.gridDataSet.length">
                No data for display
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <ng-container *ngIf="drillDownlstFlag && drillDownData['errorMessage']">
        <p class="no-data">{{drillDownData.errorMessage}}</p>
    </ng-container>
    </ng-container>
  </ng-container>
  <ng-container *ngIf="!drillDownlstFlag">
    <div class="card h-100 loader6Card">
      <div class="card-body">
        <!-- <h5 class="text-muted mb-0">
                  {{data.drillDownlst[0].tileCaption}}
              </h5> -->
        <span [innerHtml]="loaderSvg | domSan:'html'" class="loader6Css"></span>
      </div>
    </div>
  </ng-container>
</div>

<a style="display: none;" class="download-zip-link" #downloadZipLink></a>
