<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Prompts</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="onSubmit('close')"></i></a>
</div>
<div class="modal-body magnifier" *ngIf="promptsList && promptsList.length">
    <div class="row w-100 h-100">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100 w-100 promptPopup">
            <div class="d-flex flex-column justify-content-center align-items-center w-100 h-100 box-center">
                <form [formGroup]="filterForm" class="d-flex flex-column fliterPromptBg w-100 h-85  m-0 p-0">
                    <div class="h-90 d-flex w-100 flex-column justify-content-center align-items-center">
                        <ng-container *ngFor='let data1 of getObjectValue(filterVal); let objIndex1 = index;'>
                            <div class="d-flex w-100 mb-3" [ngStyle]="heightOfRow(getObjectValue(filterVal))">
                                <ng-container *ngFor='let data of data1; let objIndex = index;'>
                                    <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group pl-2"
                                        *ngIf='data.filterType == "TEXT"'>
                                        <input type="text" name="" id="" class="form-control"
                                            [formControlName]="promptValuesReturn(data.filterSeq)" />
                                        <label for="inputPassword4"
                                            class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                        <div class="validation-error"
                                            *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                            * {{data.filterLabel}} is required</div>
                                        <div class="line"></div>
                                    </div>
                                    <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group pl-2"
                                        *ngIf='data.filterType == "TEXTD"'>
                                        <input type='text' class="form-control"
                                            [formControlName]="promptValuesReturn(data.filterSeq)" disabled />
                                        <label for="inputPassword4"
                                            class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                        <div class="validation-error"
                                            *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                            * {{data.filterLabel}} is required</div>
                                        <div class="line"></div>
                                    </div>
                                    <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group pl-2"
                                        *ngIf='data.filterType == "TREE"'>
                                        <input type='text' [attr.data-index]='data.filterSeq'
                                            class="form-control dropdownCheck"
                                            [formControlName]="promptValuesReturn(data.filterSeq)"
                                            (click)="dropdownCheck(data,$event,'TREE')" maxlength="50" placeholder="" />
                                        <label class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                        <div class="validation-error"
                                            *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                            * {{data.filterLabel}} is required</div>
                                        <div class="line"></div>
                                    </div>
                                    <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group pl-2"
                                        *ngIf='data.filterType == "COMBO"'>
                                        <ng-multiselect-dropdown class="clickEventClass report-component"
                                            appendTo='.report-slider-top'
                                            [formControlName]="promptValuesReturn(data.filterSeq)"
                                            (click)="dropdownCheck(data,$event)" [attr.data-label]='data.filterLabel'
                                            [attr.data-index]='data.filterSeq'
                                            [settings]="data.multiSelect == 'Y'?dropdownSettings:dashboardFilterSettings"
                                            [data]='promptValueOption(data.filterSeq)' (onSelect)="setEmptyDepent(data)"
                                            (onDeSelect)="setEmptyDepent(data)" (onSelectAll)="setEmptyDepent(data)"
                                            (onDeSelectAll)="setEmptyDepent(data)">
                                        </ng-multiselect-dropdown>
                                        <label class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                        <div class="validation-error"
                                            *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                            * {{data.filterLabel}} is required</div>
                                        <div class="validation-error"
                                            *ngIf="filterForm.controls[promptValuesReturn(data.filterSeq)].errors?.incorrect">
                                            Please select {{data.filterLabel}}</div>
                                        <div class="line"></div>
                                    </div>
                                    <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group pl-2"
                                        *ngIf='data.filterType == "DATE"'>
                                        <app-custom-date-picker *ngIf="data.filterDateFormat == 'YYYY'" mode='YEAR'
                                            [max]="data.futureDate" [min]="data.pastDate"
                                            class="form-control cursorPointer"
                                            [formControlName]="promptValuesReturn(data.filterSeq)">
                                        </app-custom-date-picker>
                                        <app-custom-date-picker
                                            *ngIf="data.filterDateFormat == 'Mon-YYYY' || data.filterDateFormat == 'YYYYMM'"
                                            mode='MONTH' class="form-control cursorPointer" [max]="data.futureDate"
                                            [min]="data.pastDate"
                                            [formControlName]="promptValuesReturn(data.filterSeq)">
                                        </app-custom-date-picker>
                                        <app-custom-date-picker
                                            *ngIf="data.filterDateFormat == 'DD-Mon-YYYY' || data.filterDateFormat == ''"
                                            class="form-control cursorPointer" [max]="data.futureDate"
                                            [min]="data.pastDate"
                                            [formControlName]="promptValuesReturn(data.filterSeq)">
                                        </app-custom-date-picker>
                                        <label for="inputPassword4"
                                            class="bmd-label-static">{{data.filterLabel}}</label>
                                        <div class="validation-error"
                                            *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                            * {{data.filterLabel}} is required</div>
                                        <div class="validation-error"
                                            *ngIf="filterForm.controls[promptValuesReturn(data.filterSeq)].errors?.incorrect">
                                            Please select {{data.filterLabel}}</div>
                                        <div class="validation-error"
                                            *ngIf="filterForm.controls[promptValuesReturn(data.filterSeq)].errors?.endDate">
                                            * {{data.filterLabel}} should be greater than {{
                                            getFilterLabel(data.dependentPrompt) }}</div>
                                        <div class="validation-error"
                                            *ngIf="filterForm.controls[promptValuesReturn(data.filterSeq)].errors?.notDependency">
                                            * {{data.filterLabel}} should be greater than {{
                                            getFilterLabel(data.filterSeq - 1) }}</div>
                                        <div class="line"></div>
                                    </div>
                                    <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group pl-2"
                                        *ngIf='data.filterType == "TEXTM"'>
                                        <input type='text' [attr.data-index]='data.filterSeq'
                                            class="form-control dropdownCheck"
                                            [formControlName]="promptValuesReturn(data.filterSeq)"
                                            (click)="dropdownCheck(data,$event,'TEXTM')" maxlength="50"
                                            placeholder="" />
                                        <label class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                        <div class="validation-error"
                                            *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                            * {{data.filterLabel}} is required</div>
                                        <div class="line"></div>
                                    </div>
                                </ng-container>
                            </div>
                        </ng-container>
                    </div>
                </form>
                <div class="w-100 h-15">
                    <div class="modal-footer dv-center">
                        <button *ngIf="pageView != 'view' && pageView != 'prompt'" type="button" class="btn btn-rose btn-sm" (click)="onSubmit('submit')">Apply</button>&nbsp;
                        <button *ngIf="pageView != 'view' && pageView != 'prompt'" type="button" class="btn btn-rose btn-sm" (click)="onSubmit('clear')">Clear</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>