<div class="tempGridPage h-100">
    <div class="card-body pad-4 material-table main-row p-0" id='card-body'>
        <div class="card-plain pt-0 pb-0 h-100" id='mdm-dashboard'>
            <div id="dashboard-hold"></div>
            <div id='branchArea' class="branch dashboard-area show">
                <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 dashboard-row">
                    <div class="wrapper">
                        <div class="content-dq">
                            <div class="mainBoxDiv">
                                <ng-container *ngIf="templateData && templateData['templateSelected']">
                                        <gridster [ngClass]="[templateData['templatesDetal']['isSingeton'] ? 'gridster-hg' : '',  templateData['theme'] == 'blackTheme'? 'blackTheme' :'whiteTheme', maximizeGrid ? 'gridsterBorder' : '']" [options]="templateData['templatesDetal'] ">
                                            <gridster-item [ngClass]="[item.maximize ? 'minmax' : '', item.popoverOpened && item.type == 'tile' ? 'popoverOpened': '']" class="b-radius maintile gridster-box" [item]="item" *ngFor="let item of templateData['dataSet'];let i = index;" [ngStyle]="borderTopStyle(item)">
                                                <div class="gridster-container">
                                                    <div class="gridheader" *ngIf="item.initialRequest && item.initialRequest.objectType != 'T'">

                                                        <div class="gridster-type">
                                                            {{item.widgetTitle}}
                                                            <span class="pl-1 scaling-factor" *ngIf="item.scalingFactor != '' && item.scalingFactor != null">
                                                                    {{scalingFactorText(item.scalingFactor)}}
                                                            </span>
                                                        </div>
                                                        <div *ngIf="item.reportPeriod != null && item.reportPeriod != ''" class="reportPeriod">
                                                            {{item.reportPeriod}}
                                                        </div>
                                                        <!-- <div *ngIf="item.data.objectType == 'G'" class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top remove-top m-0 p-0 outside-click">
                                                            <div class="collapse navbar-collapse justify-content-end top_menu_actions download-icon">
                                                                <ul class="navbar-nav navbar-icon">
                                                                    <li class="nav-item dropdown" type="button"
                                                                        [ngClass]="item.showDownloadDropdown ? 'show showing':''">
                                                                        <a class="nav-link nav-icon p-0" href="javascript:;" id="navbarNotificationDropdown" data-toggle="dropdown"
                                                                            aria-haspopup="true" aria-expanded="true">
                                                                            <span *ngIf="item.data.objectType == 'G'" class="download-icon">
                                                                                <i class="fa fa-download header-icon" aria-hidden="true"></i>
                                                                            </span>
                                                                        </a>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div> -->
                                                        <!-- <div class="icon-list">
                                                            <i *ngIf="(item.data?.objectType || item.data.errorMessage || item.widgetTitle) && !item.maximize" class="fa fa-remove header-icon " aria-hidden="true"></i> -->

                                                            <!-- <i *ngIf="!item.maximize" (mousedown)="configurationSelection(item,i);" (touchstart)="configurationSelection(item,i);" class="fa fa-plus header-icon" aria-hidden="true"></i> -->
                                                            <!-- <i *ngIf="!item.maximize && item.type != 'tile'" class="fa fa-expand header-icon drag-ignore" aria-hidden="true"></i>
                                                            <i *ngIf="item.maximize" class="fa fa-compress header-icon drag-ignore" aria-hidden="true"></i> -->
                                                            <!-- <i *ngIf="!item.maximize" (click)="pinTiles(item)" [ngClass]="item.dragEnabled ? 'green' : 'red'" class="fa fa-map-pin header-icon drag-ignore" aria-hidden="true"></i> -->
                                                            <!-- <i *ngIf="item.type != 'singleton' && !item.maximize" class="fa fa-close header-icon drag-ignore" (mousedown)="removeItem($event, item)" (touchstart)="removeItem($event, item)" (click)="close(selectedIndex,i)" aria-hidden="true"></i> -->
                                                        <!-- </div> -->
                                                    </div>
                                                    <!-- <div class="close-icon-tile" *ngIf="item.initialRequest && item.initialRequest.objectType == 'T'">
                                                        <span>
                                                            <i *ngIf="(item.data?.objectType || item.data.errorMessage || item.widgetTitle)"
                                                                class="fa fa-remove cursor " aria-hidden="true"></i>
                                                        </span>
                                                    </div> -->
                                                    <div class="gridster-body " [ngClass]="item.data.objectType && item.data.objectType != 'T'? 'h-100-30px' : 'h-100'">
                                                        <ng-container *ngIf="item.data.objectType == undefined">
                                                            <ng-container *ngIf="!item.data.showLoader && !item.data.errorMessage">
                                                                <span class="widgetAdd">
                                                                    <span class="material-icons widgetAdd-icon">
                                                                        add_circle_outline
                                                                    </span>
                                                                </span>
                                                            </ng-container>
                                                            <div *ngIf="item.data.showLoader" class="h-100">
                                                                <span [innerHtml]="loaderSvg | domSan:'html'" class="loader6Css"></span>
                                                            </div>
                                                            <ng-container *ngIf="item.data.errorMessage">
                                                                <div class="no-data">{{item.data.errorMessage}}</div>
                                                            </ng-container>
                                                        </ng-container>
                                                        <ng-container *ngIf="item.data.objectType != undefined">
                                                            <ng-container *ngIf="!item.data.showLoader">
                                                                <div class="widgetItem h-100" [attr.id]="'widgetPopId'+item.id">
                                                                    <ng-container *ngIf="item.data.objectType == 'G'">
                                                                        <app-table-customized class="customize-table" [tableValues]="item"></app-table-customized>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="item.data.objectType == 'C'">
                                                                        <fusioncharts width="100%" height="100%" [type]="item.data.chartType" baseChartMessageFontSize="14" dataFormat="json" [dataSource]="item.data.chartDataJson" containerBackgroundOpacity="0">
                                                                        </fusioncharts>
                                                                    </ng-container>
                                                                    <ng-container *ngIf="item.data.objectType== 'T'">
                                                                        <div class="card h-100 tileCard" [ngStyle]="tileStyle(item)">
                                                                            <div class="card-body h-85 font-12 p-1">
                                                                                <div class="d-flex justify-content-start align-items-end h-25">
                                                                                    <span [attr.tooltip]="item.data.endResult?.PLACEHOLDER1.toolTip" class="font-15 singleTon-title">{{item.widgetTitle}}</span>
                                                                                </div>
                                                                                <div class="d-flex justify-content-between h-25">
                                                                                    <span [attr.tooltip]="item.data.endResult?.PLACEHOLDER1.toolTip">{{item.data.endResult?.PLACEHOLDER1.value}}</span>
                                                                                    <span [attr.tooltip]="item.data.endResult?.PLACEHOLDER5.toolTip">{{item.data.endResult?.PLACEHOLDER5.value}}</span>
                                                                                </div>
                                                                                <div class="d-flex justify-content-center h-25">
                                                                                    <span [attr.tooltip]="item.data.endResult?.PLACEHOLDER2.toolTip" flow="down" class="font-30 placeholder-two">{{item.data.endResult?.PLACEHOLDER2.value}}</span>
                                                                                </div>
                                                                                <div class="d-flex justify-content-end h-25">
                                                                                    <span [attr.tooltip]="item.data.endResult?.PLACEHOLDER3.toolTip">{{item.data.endResult?.PLACEHOLDER3.value}}</span>
                                                                                </div>
                                                                            </div>
                                                                            <div class="card-footer d-flex justify-content-between h-15">
                                                                                <span [attr.tooltip]="item.data.endResult?.PLACEHOLDER4.toolTip" class="font-12 mt-1 yoy">{{item.data.endResult?.PLACEHOLDER4.value}}</span>
                                                                                <span *ngIf="item.data.ddFlag == 'Y'" tooltip="View Drilldown" flow="left" class="graph-icon cursor" (click)="drillDownReq($event,item, '', i)">
                                                                                    <i class="fa fa-line-chart font-12"></i>
                                                                                </span>
                                                                            </div>
                                                                        </div>
                                                                    </ng-container>
                                                                </div>

                                                            </ng-container>
                                                            <div *ngIf="item.data.showLoader" class="h-100">
                                                                <span [innerHtml]="loaderSvg | domSan:'html'" class="loader6Css"></span>
                                                            </div>
                                                            <ng-container *ngIf="item.data.errorMessage">
                                                                <div class="no-data">{{item.data.errorMessage}}</div>
                                                            </ng-container>
                                                        </ng-container>

                                                    </div>
                                                </div>
                                            </gridster-item>
                                        </gridster>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>