
.columnFlexcss {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.h-100 {
    height: 100%!important;
}

.h-15 {
    height: 15% !important;
}

.h-85 {
    height: 85% !important;
}

.w46 {
    width: 48%;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 12px;
}

.no-border {
    background: #232323;
}

.contentCenterClass {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.caption-text {
    padding: 18px;
    min-height: 193px;
    margin-top: 29px;
    color: #c5c5c5;
}

.card-body {
    flex: 1 1 auto;
}

.leftContent {
    height: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.btn.btn-rose, .btn.btn-rose:active, .btn.btn-rose:visited {
    color: #4a4a4a;
    font-weight: 600;
    background-color: unset;
    border: 1px solid #ccc;
    box-shadow: unset;
    font-size: 14px;
    /* line-height: unset; */
    font-family: 'Open Sans', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
}

.w4 {
    width: 4%;
}

.orClass {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
}

.orText {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    color: #00bcd4;
    font-size: 21px;
    font-weight: 700;
}

.w46 {
    width: 48%;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 12px;
}

.text-center {
    text-align: center!important;
}

.mainHeaderPage {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.title-align {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
    font-size: 16px;
    color: #6c6c6c;
    padding: 10px 0px;
    font-weight: 600;
}

.pad {
    padding: 5px
}

ul .list {
    list-style-type: circle;
}

.list {
    /* padding: 10px; */
    margin: 0px;
}

.list li {
    /* text-align: center; */
    /* border: 1px solid var(--table-border); */
    font-size: 14px;
    padding: 0px 3px;
    border-radius: 2px;
}

.list li:hover {
    cursor: pointer;
    color: var(--content-color);
}

.heightBoxScroll {
    padding: 0px 18px;
    height: calc(100% - 90px);
    overflow: auto;
    max-height: 480px;
}

.mainBoxDiv {
    /* height: calc(100vh - 77px);
    margin: 8px; */
    height: calc(100vh - 57px);
    margin: -6px 8px;
    background: #ffffff;
    border-radius: 12px;
    padding: 0px;
}

.mainBoxBorder {
    border: solid 3px var(--content-color);
}

.no-template-container {
    height: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item-content {
    box-sizing: border-box;
    background: #ccc;
    border: 1px solid;
    width: 100%;
    height: 100%;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    padding: 4px;
    box-sizing: border-box;
    border: 1px solid gray;
    border-radius: 2px;
    background: #313131;
}

.side-menu-config {
    position: absolute;
    right: 6px;
    background: white;
    z-index: 2;
    top: 45px;
    width: 0px;
    height: auto;
}

.sideTog {
    border: 1px solid #80808061;
    border-right: none !important;
    width: 37px !important;
    right: 9px !important;
}

.mainBoxDiv-tabView {
    margin: 3px;
    margin-top: 0px;
    background: #fff;
    /* border: 1px solid #ccc; */
    height: cal(100%-108px);
    /* height: 580px !important; */
    padding: 8px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.grid-item-content {
    border-radius: 8px;
    background-color: #fff;
}

.grid-container {
    background-color: gray;
}


/* widget style */

.h-100 {
    height: 100%;
}

.h-95 {
    height: 95% !important;
}

.h-85 {
    height: 85%;
}

.removeWidget {
    font-size: 14px !important;
    color: red;
}

.widget-body {
    padding: 5px !important;
    width: 100%;
}

.wigetIconsList {
    /* display: flex; */
    position: absolute;
    top: 12px;
    z-index: 10;
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* width: 50%; */
    right: 27px;
}

.wigetIconsList i {
    font-size: 12px;
    padding: 2px;
    cursor: pointer;
}

.dndDragover {
    border: 2px dashed #000;
}

.custempName {
    border: 2px solid var(--table-border);
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.minmax {
    transform: none !important;
    /* position: fixed!important; */
    width: 100%!important;
    height: 100%!important;
    z-index: 2!important;
    max-width: 100%!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    border-radius: 0 !important;
    right: 0!important;
    background-color: white;
    padding: 0px !important;
}

.minmax .grid-item-content {
    border: none !important;
}

.ktdGridItem {
    z-index: 1;
    transition: .3s !important;
}

.widgetAdd {
    cursor: pointer;
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.dndDraggingSource {
    border: 2px dashed #ccc;
}


/* gridster------------------------ */

/* .b-radius {
    border-radius: 8px;
} */

.selected-tab {
    border-bottom: 2px solid #797777a1;
}

.addTemplateElement {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.posAbso {
    position: absolute;
}

.gridsterPad {
    padding-left: 5px;
    padding-right: 5px;
    padding: .9375rem 20px;
    position: relative;
}

/* .minmax {
    position: fixed!important;
    width: 100%!important;
    height: 100%!important;
    z-index: 9999!important;
    max-width: 100%!important;
    top: 0!important;
    left: 0!important;
    bottom: 0!important;
    border-radius: 0 !important;
    right: 0!important;
    background-color: white;
} */

.red {
    color: red !important;
}

.green {
    color: rgb(52, 36, 202) !important;
}

.dim {
    font-variant: all-petite-caps;
}

.labelfont {
    font-size: 11px;
    text-transform: capitalize;
}

.card-grid {
    margin-top: 0px;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

.forpadding {
    padding: 5px;
}

.no-padding {
    padding: 0 !important;
}

.flex {
    display: flex;
}

.flexgrow {
    flex-grow: 1;
    padding-left: 0px;
}

@media only screen and (max-width: 425px) {
    ::ng-deep h2.text-dark, ::ng-deep h2.text-muted, ::ng-deep h2.text-success, ::ng-deep h2.text-danger, ::ng-deep h2.text-white {
        font-size: 20px;
    }
}

@media only screen and (min-width: 425px) {
    ::ng-deep h2.text-dark, ::ng-deep h2.text-muted, ::ng-deep h2.text-success, ::ng-deep h2.text-danger, ::ng-deep h2.text-white {
        font-size: 24px;
    }
    /* .dashboard-row .card-body {
         min-height: 110px !important;
     } */
}

@media only screen and (min-width: 768px) {
    ::ng-deep h2.text-dark, ::ng-deep h2.text-muted, ::ng-deep h2.text-success, ::ng-deep h2.text-danger, ::ng-deep h2.text-white {
        font-size: 25px;
    }
}

.no-margin {
    margin: 0;
}

.border-black {
    margin-top: 3PX!important;
    margin-bottom: 0px!important;
}

.color-select {
    list-style: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 10px;
}

.pickerline {
    position: absolute;
    top: 24px;
    right: 0;
    background-color: whitesmoke;
    z-index: 100;
    padding: 10px;
    width: 206px;
}

.position {
    position: relative;
    left: -28px;
}

.charts {
    min-height: 270px;
}

.no-template-container {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.addTemplate {
    cursor: pointer;
}


.mainBoxDiv-tabView {
    height: calc(100vh - 108px);
    /* margin: 12px; */
    background: #fff;
    /* border: 1px solid #ccc; */
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    padding: 0px;
}

:root {
    --filterWidth: 0;
}

.h-40 {
    height: 40%;
}

body {
    color: #78777c;
}

.bg-light-grey {
    background-color: #f4f4f4;
}

.grey-bg {
    background-color: #666666;
}

.bg-light-blue {
    background-color: #e7ebf4;
}

.bg-green {
    background-color: #258000;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.show {
    display: flex !important;
}

.showFilterPopup {
    display: block !important;
}

.activeTab {
    color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #262525 !important;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-color: #fff;
}

.font25 {
    font-size: 25px;
}

.font22 {
    font-size: 22px;
}

.menulink {
    display: block;
    width: 100%;
    color: #fff;
    cursor: pointer;
}

.menulink :hover {
    border: 2px #ccc
}

.border-black {
    border-color: #c1c1c1;
}

.flex {
    display: flex;
}

.flexgrow {
    flex-grow: 1;
    padding-left: 2px;
}

.flexgrow5 {
    flex-grow: 0.5;
}

.flex>b {
    flex-grow: 1;
}

.main-panel>.navbar {
    background-color: #eee !important;
}

.main-panel>.content {
    min-height: calc(100vh - 35px);
    padding-top: 15px;
    padding-bottom: 0;
    overflow: auto;
}

.card-plain .card-body {
    padding: 5px;
}

.list-branches .light-blue-bg {
    background-color: #528288;
    padding: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.list-branches .card-body {
    padding: 5px 10px !important;
    background: #2fbcd5;
    color: #fff !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dashboard-row p {
    /* font-size: 11px; */
    text-transform: capitalize;
    margin: 3px;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    text-align: left;
}

.graphIcon {
    cursor: pointer;
}

.align-items-stretch {
    padding: 3px;
}

.card {
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
}

.accordionContent {
    display: none;
    padding: 5px;
    background: #fff;
    margin: 0px 7px;
    margin-top: 10px;
    height: 53px;
    font-size: 11px;
}

.accordionHead {
    margin: 0 5px;
    padding: 3px 5px;
    border-bottom: 1px solid #c7c2c2;
    font-size: 11px;
}

.accordionHead i {
    font-size: 10px;
    padding-left: 5px;
}

.notificationHeader {
    background-color: #d6d6d6;
    padding: 0 5px;
    font-size: 11px;
}

.searchcontainer {
    position: relative;
    margin-top: 10px;
}

.searchcontainer input {
    outline: none;
    margin: 5px;
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 96%;
    box-shadow: 3px -3px 11px -8px #000;
}

.searchcontainer input+i {
    color: #b5b5b5;
    position: absolute;
    right: 14px;
    cursor: pointer;
    top: 12px;
}

.footer-seperator {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
}

::ng-deep .dashboard-row .card-body {
    min-height: 150px;
}

.popoverHold {
    /* height: 100%;
    width: 100%; */
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    transform-origin: 50% 0;
    border: solid 1px #868686;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgb(35, 35, 35, 0.4);
    transition: .2s ease-in-out;
}

/* ::ng-deep .popoverHold .close {
  font-size: 11px;
  font-weight: bold;
  color: #a7a7a7;
  opacity: 1;
  padding: 5px;
  position: absolute;
  top: 4px;
  right: 3px;
  z-index: 10;
  border: solid 1px #ccc;
  border-radius: 50%;
  line-height: 7px;
} */

.dealstable td, .dealstable th {
    white-space: nowrap;
    padding: 1px 5px;
    border: solid 1px #DDDDDD;
    font-size: 12px;
}

.dealstable tbody tr:nth-child(even) {
    background-color: #e3e6eca3;
}

.sidebar .sidebar-wrapper {
    overflow: hidden;
}

/* Dropdown */

.dropdown-menu.show .inner.show {
    width: 100%;
}

.dropdown-menu.show {
    flex-direction: column;
}

.fixed-plugin .dropdown.show-dropdown.show {
    justify-content: center;
}

.dashboard-area {
    height: calc(100vh - 65px);
    display: none;
}

#navbarDropdownMenuLink+div[aria-labelledby="navbarDropdownMenuLink"] {
    width: 400px;
}

.form-check .form-check-label .circle {
    top: -2px;
}

.daterangepicker {
    z-index: 10000 !important;
}

.profitValue {
    position: absolute;
    right: 7px;
}

/********** Sidebar filter **********/

/*********** Multiselect dropdown style ***********/

::ng-deep .multiselect-dropdown {
    padding-left: 0;
}

/********** Perfect scrollbar **********/

::ng-deep perfect-scrollbar>.ps {
    padding-bottom: 0;
}

::ng-deep .ps-content {
    height: 100%;
}

@media only screen and (max-width: 425px) {
    ::ng-deep h2.text-dark, ::ng-deep h2.text-muted, ::ng-deep h2.text-success, ::ng-deep h2.text-danger, ::ng-deep h2.text-white {
        font-size: 20px;
    }
    .dashboard-row .card-body {
        position: relative;
        min-height: 110px !important;
    }
    ::ng-deep .dashboard-row .card-body .chart-containment {
        min-height: 150px !important;
    }
    ::ng-deep .chart-containment {
        height: 90%;
    }
    .setRight {
        right: -27px;
    }
    .side-filter-hold, .side-widget-hold {
        padding-right: 40px;
    }
}

@media only screen and (min-width: 425px) {
    ::ng-deep h2.text-dark, ::ng-deep h2.text-muted, ::ng-deep h2.text-success, ::ng-deep h2.text-danger, ::ng-deep h2.text-white {
        font-size: 24px;
    }
    /* .dashboard-row .card-body {
        min-height: 110px !important;
    } */
}

@media only screen and (min-width: 768px) {
    ::ng-deep h2.text-dark, ::ng-deep h2.text-muted, ::ng-deep h2.text-success, ::ng-deep h2.text-danger, ::ng-deep h2.text-white {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {}

.dashboard-row {
    padding: 0px;
}

.mainBoxDiv-tabView {
    height: calc(100vh - 70px);
    margin: 3px;
    margin-top: 0px;
    /* background: #fff; */
    /* border: 1px solid #ccc; */
    /* border-radius: 12px; */
    height: calc(100vh - 108px);
    padding: 0px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.tabName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.charts {
    height: 270px;
}

.check {
    width: 100%;
    height: 100px;
    display: none;
    background: grey;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.brd-tp-lg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.flex-singleton {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.gridster-singleton {
    -webkit-box-flex: 0;
    background: white;
    flex: 0 16%;
    height: 100%;
    margin-bottom: 2%;
    border-radius: 8px;
}

.gridster-hg {
    height: calc(100% - 100px);
}

.gridheader {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid #c1bfbf3d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0px;
    z-index: 1000;
}

.header-icon {
    font-size: 12px !important;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

gridster {
    padding: 0px !important;
}

.fixed-plugin .dropdown-menu:before, .fixed-plugin .dropdown-menu:after {
    display: none;
}

gridster-item {
    margin: 0px !important;
    padding: 0px !important;
    transition: none !important;
}

gridster-item.active-item {
    z-index: 100 !important;
}

.gridster-type {
    /* font-size: 14px; */
    padding: 5px;
    /* color: #5e5e5e !important; */
    /* font-weight: 600; */
    padding-top: 2px;
    padding-bottom: 5px;
    font: 600 16px/15px 'Open Sans', sans-serif;
    color: #4a4a4a;
}

/* .gridster-container:hover .gridheader {
    display: block;
} */

.gridster-container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}

.gridster-body {
    width: 100%;
    height: 100%;
    /* padding: 5px; */
}

/* .gridster-add{
    width:100%;
    height: 100%;
} */

.fa-close {
    color: red;
}

.card-plain {
    padding: 0px !important;
}

.dashTree {
    font-size: 14px;
}

.dashTree i {
    margin-left: 10px;
}

.mainTempPage {
    height: 100%;
    width: 70%;
    left: 0;
    right: 0;
    position: relative;
    text-align: center;
    margin: 0 auto;
    /* transform: translate(0, 50%); */
}

.tempImage {
    width: 100%;
    height: 80%;
    cursor: pointer;
    /* padding: 5px; */
    border-radius: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

/* .tempImage:hover { */

/* background-color: #ccc; */

/* border-radius: 4px; */

/* } */

.mainPgaeTempList p {
    margin: 0px;
    font-size: 14px;
    font-weight: bold;
}

.mainTempList {
    box-shadow: 0 32px 22px rgba(148, 161, 193, 0.2), 0 6px 12px rgba(64, 66, 93, 0.15);
    width: 90%;
    height: 220px;
    margin: 0 auto;
    border: 2px dashed transparent;
}

.mainTempList:hover {
    /* border: 2px solid var(--content-color); */
    border: 2px dashed #ccc;
}

.gridster-table.material-table table tr td {
    color: rgba(0, 0, 0, 0.87);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 3px;
    /* line-height: 22px; */
    font-size: 12px;
}

.gridsterBorder {
    border: 2px solid #ccc;
    top: 7px;
    height: 98%;
}



.cursor {
    cursor: pointer;
}

.table-z {
    z-index: 1000;
}

.gridster-table {
    margin: 0 auto;
}

.reportPeriod {
    position: absolute;
    right: 8px;
    top: 3px;
    /* font-weight: 600; */
    font-size: 13px;
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.scaling-factor {
    /* position: absolute;
    left: 19.5%; */
    /* top: -16px; */
    z-index: 99;
    font-size: 11px;
    font-weight: normal;
    color: #545353 !important;
}

.reportPeriod-dril {
    position: absolute;
    right: 62px;
    top: -1px;
    font-size: 13px;
    color: #323232;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.h-100-30px {
    height: calc(100% - 30px);
}

.widget-list-main {
    border: 1px solid #e3e3e3 !important;
    width: 142px;
}

.popoverHold table tr td:last-child {
    padding-right: 15px !important;
}

.popoverHold table tr th:last-child {
    padding-right: 15px !important;
}

/* tile css */

.height16 {
    height: 16px;
}

.h6Strong {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer-seperator .yoyText {
    color: #63e068 !important;
}

h2.text-success {
    font-size: 20px !important;
}

.t00001-top {
    margin: 0px !important;
    /* position: absolute !important; */
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
}

.profitValue {
    height: calc(100% - 75px);
}

.footer-seperator {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 0px;
}

.no-margin {
    margin: 0;
}

.border-black {
    border-bottom: 1px solid;
    border-color: #c1c1c1;
}

.ds_gray .singleHr {
    border-color: #1b1b1b !important;
}

.text-muted {
    /* color: #8e8e8e !important; */
    color: #abaaaa !important;
}

.footer-seperator p {
    padding: 0px;
}

.tileCard .card-footer {
    /* padding: .75rem 1.25rem; */
    /* background-color: rgba(0, 0, 0, .03); */
    /* border-top: 1px solid rgba(0, 0, 0, .125); */
    margin: 0;
    padding: 3px 3px;
}

.tileCard .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.tileCard {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    /* padding: 12px; */
    /* box-shadow: 0 6px 7px -8px rgb(0 0 0 / 19%) */
    /* border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem; */
    /* color: #fff; */
}

.tileTitle {
    font-size: 14px;
    font-weight: 600;
}

.font-30 {
    font-size: 30px;
    /* font-weight: 600; */
}

.font-12 {
    font-size: 12px;
}

.h-5 {
    height: 5%;
}

.font-15 {
    font-size: 15px;
    /* font-weight: 600; */
}

.gridster-box {
    /* box-shadow: 0 2px 8px rgb(0 0 0 / 34%), 0 8px 4px rgb(0 0 0 / 7%); */
    border: 1px solid #ededed;
    /* border: 2px solid #ccc; */
    overflow: visible;
}

.header-title {
    cursor: pointer;
}

.nav-icon.more-icon {
    max-width: 20px;
    display: inline-block;
}

.nav-icon.more-icon .material-icons {
    font-size: 18px;
}

/* .b-white {
    color: #fff;
}


.b-black {
    color: #dfdfdf;
} */

.close-icon-tile {
    position: absolute;
    top: 1px;
    z-index: 1;
    font-size: 12px;
    right: 7px;
    color: #bdbdbd !important;
}

.graph-icon {
    position: absolute;
    bottom: 2px;
    right: 5px;
    color: #bdbdbd;
}

.popoverOpened {
    height: 37% !important;
    z-index: 2 !important;
}

.blur-icon {
    color: #b3b3b3 !important;
}

.download-icon {
    position: absolute;
    right: 56px;
    top: 2px;
}

#navbarNotificationDropdown+div[aria-labelledby="navbarNotificationDropdown"] {
    width: unset;
}

.pdf-excel li.header-title {
    height: unset;
    line-height: 12px !important;
}

.triangleUp .header-title {
    text-transform: unset !important;
    border-bottom: 1px dotted #ccc;
}

.dropdown-menu-right {
    /* right: -14px !important; */
    top: 26px;
    /* border: 1px solid var(--content-color); */
}

.dropdown-menu .fixed-plugin {
    box-shadow: none;
    width: unset;
    left: unset;
    right: unset;
    position: relative;
}

.fixed-plugin.shadow-imp {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26) !important;
}

.dropdown-menu .fixed-plugin li.header-title {
    padding: 11px 0;
    height: unset;
    text-align: left;
    color: #202124;
    font: 400 15px/20px 'Product Sans', Arial, Helvetica, sans-serif;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
    background: unset;
    box-shadow: unset;
}

.triangleUp::after, .triangleUp:before {
    top: -1px;
}

.gridster-container #navbarNotificationDropdown .triangleUp::after, .triangleUp:before {
    border-bottom: 21px solid var(--content-color) !important;
}

.download-iconDrill {
    position: absolute;
    right: 21px;
    top: 1px;
}

.header-iconDrill {
    font-size: 13px !important;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.singleTon-title {
    color: #4a4a4a;
    font: 600 16px/15px 'Open Sans', sans-serif;
    letter-spacing: 0;
    display: inline-block;
    top: -5px;
    left: -1px;
}

.placeholder-two {
    color: #000;
    font-weight: 400;
}

.nav-tabs .nav-item .tab-color {
    color: #4a4a4a !important;
    font-size: 14px !important;
    line-height: 40px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600 !important;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid var(--widget-border) !important;
    border-radius: 0;
    transform: translateX(0px);
    transition: transform .4s cubic-bezier(0, 0, 0.2, 1);
    /* transition:  .3s cubic-bezier(0,0,.2,1); */
}

.tab-padding {
    padding: 2px 0px !important;
    margin: 0;
}

.slider-border {
    border: 2px dotted black;
}

.slider-border-none {
    border: 2px solid transparent !important;
}

.onRezing {
    padding: 0px 10px;
}

/* .cursor-grab {
    cursor: all-scroll;
    font-weight: 400;
    font-size: 12px;
} */

.font-18 {
    font-size: 18px;
    cursor: pointer;
}

.cursor-all {
    cursor: all-scroll;
    font-weight: 400;
    font-size: 12px;
}

.cursor-remove {
    cursor: unset !important;
}

.widgetTheme {
    height: 168px;
    width: 216px;
    padding: 10px;
    display: inline-block;
    cursor: pointer;
}

.widgetTheme p {
    font-size: 13px;
    font-weight: unset;
}

.widgetTheme.active-theme p {
    font-weight: 600;
}

.yoy {
    font-weight: 400;
}

.ngb-accordion-sec {
    position: absolute;
    left: 100%;
    top: 0;
    width: 275px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
    cursor: none;
}

ngb-accordion button {
    box-shadow: none;
    border: none;
    background: #fff;
    outline: none;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    padding: 0;
    font-weight: 600;
}

.w-85 {
    width: 85%;
}

.w-15 {
    width: 15%;
}

.global-filter .bmd-form-group label {
    font-size: 13px !important;
}

 .drillDownTable  table tr th {
    white-space: nowrap;
}

/* .drillDownTable  table tr td {
    font-size: 13px !important;
    line-height: 24px !important;
} */

.drillDownTable .dropdown-menu .fixed-plugin li.header-title {
    padding: 9px 0;
}

.drilldown-header {
    font: 600 16px/18px 'Open Sans', sans-serif;
    color: #4a4a4a;
}

.w-99 {
    width: 99%;
}

.scaling-line {
    line-height: 18px;
}

.disabled-sort {
    color: #ccc !important;
}

.icon-more {
    position: absolute;
    right: 27px;
    top: 1px;
}

gridster-item .card {
    box-shadow: none !important;
}

.tempGridPage [tooltip]::after {
    background: #343434 !important;
}

.tempGridPage [tooltip]:not([flow])::before, [tooltip][flow^="up"]::before {
    border-top-color: #343434 !important;
}

.list-group {
    height: 140px;
    min-height: auto;
    max-height: 140px;
}

.list-group li {
    padding: 3px !important;
}

.list-description {
    position: relative;
    top: 1px;
    font: 400 13px/20px Product Sans, Arial, Helvetica, sans-serif;
}

.only-text {
    color: white;
}

.list-group-item:hover .only-text {
    cursor: pointer;
    color: black;
    position: absolute;
    right: 18px;
    top: 1px;
    background: #ccc;
    padding: 5px;
    border-radius: 4px;
    text-decoration: underline;
    font-weight: 500;
    font-size: 12px;
}

.chart-filter:hover {
    background: #e1e1e1;
}

.toggle-padding {
    padding-left: 19px !important;
}

.outside-click .dropdown-toggle:after {
    display: none;
}

.secondFilter {
    position: absolute;
    left: 100%;
    top: -2px;
}

.secondFilter ul {
    border-radius: 0;
}

.rightAlign {
    left: unset;
    right: 100%;
}

.close-icon-align {
    position: relative;
    top: 7px;
}

.font-20 {
    font-size: 20px;
}

.active-scaling {
    background: #e1e1e1 !important;
}

.active-filter {
    background: #e1e1e1 !important;
}

.driilDownMore {
    /* left: unset !important; */
    position: absolute;
    top: 0;
    right: 100%;
}

.disabled-list {
    color: #bbb7b7 !important;
}