.gridster-table tr td {
    border: none;
}

.widgetTable table th {
    padding: 0px 3px;
    height: unset !important;
    line-height: 25px;
    font-size: 13px;
    font-weight: 600;
}
/* .widgetTable{
border-radius: 6px;
} */

.widgetTable table td {
    padding: 0px 3px ;
    height: unset !important;
    line-height: 21px;
    font-size: 12px;
}

.tableColImg {
    display: block;
    margin: 0 auto;
    /* width: 100%; */
}

.imageColWidth {
    width: 4%;
}

.font-bold {
    font-weight: 600;
}

.cursor {
    cursor: pointer;
}

.scaling-factor {
    position: absolute;
    right: 0;
    top: -20px;
    z-index: 99;
    font-size: 10px;
    color: #000;
}

.widgetTable table td  span .material-icons{
    line-height: 0 !important;
    top: 6px;
    position: relative;
    font-size: 20px;
}
.h-96{
    height: 96%;
}

.widgetTable table tr td:last-child {
    padding-right: 10px !important;
}

.widgetTable table tr th:last-child {
    padding-right: 10px !important;
}

.widgetTable table .col-alt th:nth-child(even) {
    background: #f3f3f3 !important;
}

.widgetTable table .col-alt td:nth-child(even) {
    background: #f3f3f3 !important;
}
.paginationHold
{
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  font-size: 12px;
  height: 30px;
}
.custom-select {
  height: 25px;
  width: 50px;
  padding: 2px 5px;
}

.positive {
    background: var(--widget-background-positive) !important;
    color: #3c4043 !important;
}

.negative {
    background: var(--widget-background-negative) !important;
    color: #3c4043 !important;
}