<div class="material-table h-96 widgetTable" [ngStyle]="tableWidth()" style="margin: 0 auto">
    <!-- <span class="scaling-factor" *ngIf="tableValues.initialRequest.scalingFactor != '' && tableValues.initialRequest.scalingFactor != null">{{tableValues.initialRequest.scalingFactor}}</span> -->
    <perfect-scrollbar style="max-height: 100%;" [config]="{suppressScrollX:false}">
        <table class="table table-sm gridster-table mb-0">
            <thead>
                <tr [ngClass]="(tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null) &&
                 reportDesignXml.BODY['COL-ALT']=='Y' ? 'col-alt':''">
                    <ng-container *ngFor="let head of tableValues.data.columnHeaderslst">
                        <th *ngIf="head.labelRowNum==1" [attr.rowspan]="head.rowspan==0?-1:head.rowspan" [attr.colspan]="head.colspan"
                        [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && headerStyle()"
                        [ngClass]="head.colType != 'T' ? 'text-right':''">
                            {{head.caption}}
                        </th>
                    </ng-container>
                </tr>
                <tr>
                    <ng-container *ngFor="let head of tableValues.data.columnHeaderslst">
                        <th *ngIf="head.labelRowNum==2" [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && headerStyle()">
                            {{head.caption }}
                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <tr [ngClass]="[tableValues.data.ddFlag == 'Y' ? 'cursor': '', (tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null) && reportDesignXml.BODY['COL-ALT']=='Y' ? 'col-alt':'']"
                *ngFor="let data of viewList; let idx=index;" [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && bodyRowStyle()"
                    [style.background]="((tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null) && reportDesignXml.BODY['ROW-ALT']=='Y' && (idx%2==0)) ? altRowBgColor[0]: (altRowBgColor.length>0?altRowBgColor[1]:'inherit')">
                    <ng-container *ngFor="let header of tableValues.data.columnHeaderslst">
                        <td *ngIf="header.colspan < 2"
                        [ngClass]="[(header.colType == 'N'|| header.colType == 'TR' || header.colType == 'NR' || header.colType == 'I' || header.colType == 'S') ? 'text-right': '',
                        header.colType == 'P' ? 'imageColWidth text-center' : '', data.FORMAT_TYPE == 'FT' ? 'font-bold':'', tableValues.data.ddFlag == 'Y' ? 'cursor':'', backgroundRow(header, data)]"
                            (click)="drillDownReq($event,tableValues,data,i)" [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && bodyColStyle(header,data)">
                            <span [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && totalStyle(data, header)" *ngIf="header.colType == 'T' || header.colType == 'D' || header.colType == 'TR' || header.colType == 'NR'">
                                {{data[header.dbColumnName]}}
                            </span>
                            <span class="text-right" *ngIf="header.colType == 'N'" [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && totalStyle(data, header)">
                                {{data[header.dbColumnName] | number: '1.2-2'}}
                            </span>
                            <span class="text-right" *ngIf="header.colType == 'I' || header.colType == 'S'" [ngStyle]="tableValues.initialRequest.reportDesignXml != '' && tableValues.initialRequest.reportDesignXml != null && totalStyle(data, header)">
                                {{data[header.dbColumnName] | number: '1.0-0'}}
                            </span>
                            <span *ngIf="header.colType == 'P'">
                                <ng-container *ngIf="data[header.dbColumnName]== 'GREEN1'">

                                    <i class="material-icons" style="color:#23c809">arrow_upward</i>
                                </ng-container>
                                <ng-container *ngIf="data[header.dbColumnName]=='RED1'">
                                    <i class="material-icons" style="color: #e00202;">arrow_downward</i>
                                </ng-container>
                                <!-- <span>{{data[header.dbColumnName]}}</span> -->
                            <!-- <img class="tableColImg" [src]="'../../../assets/img/'+data[header.dbColumnName].toLowerCase() +'.png'" /> -->
                            </span>
                        </td>
                    </ng-container>
                </tr>
            </tbody>
        </table>
    </perfect-scrollbar>
    <div class="paginationHold d-flex justify-content-end align-items-baseline" *ngIf="widgetPagination">
      <!-- <span class="text-right pr-2 ">Rows Per Page:</span>
      <span>
          <select class="custom-select ml-0 " [(ngModel)]="perPage" (change)="listCountDisp() ">
              <option value="10" selected>10</option>
              <option value="20" >20</option>
              <option value="25">25</option>
          </select>
      </span> -->
      <span [innerHTML]="getPaginationDet() "></span>
      <span>
          <ul class="material-pagination d-flex pl-0 mb-0 ">
              <li>
                  <button class="btn btn-link p-2 " [disabled]="previousDisp " (click)="previous() "><i
                          class="material-icons ">chevron_left</i></button>
              </li>
              <li>
                  <button class="btn btn-link p-2 " id="next " [disabled]="nextDisp " (click)="next() "><i
                          class="material-icons ">chevron_right</i></button>
              </li>
          </ul>
      </span>
    </div>
    <!-- <button type="button" (click)="pagination_prev()">Prev</button>
    <button type="button" (click)="pagination_next()">Next</button> -->
</div>
