
  table{
      text-align: left;
  }
  .form-check{
    left: -3px !important;

  }
  .example-viewport {
    min-height: calc(72vh - 43px);
    max-height: calc(78vh - 43px);
    width: auto;
    /* border: 1px solid black; */
}

table thead tr th{
  z-index: 2;
}