<div class="material-table" id="maximize">

    <div class="table-header">

        <span style="padding-left:6px"> </span>
        <div class="form-row" style="width: 100%;">
            <div class="form-group col-md-12 bmd-form-group label-white">
                <input type="text" class="form-control" (keyup)="autoSuggestionSearch($event ,'userDetails' ,'listOfusers', 'userName' ,'visionId')" placeholder="Filter items">
                <div class="line"></div>
            </div>
        </div>
    </div>


    <div id="datatable_wrapper" class="dataTables_wrapper no-footer " #tableData>
        <cdk-virtual-scroll-viewport *ngIf="listOfusers.length" itemSize="10" minBufferPx="200" maxBufferPx="400" class="example-viewport">
            <table class="dataTable no-footer">
                <thead class="share-table">
                    <tr>
                        <th style="width:58px">
                            <div class="form-check no-margin-12" style="position: relative;display: inline-block;
                        top: -9px;
                        left: 12px;">
                                <label class="form-check-label padding-left-0">
                                    <input #overallcheck type="checkbox" class="form-check-input check"
                                        (change)="overallSelect($event)">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </th>
                        <th style="width:58px">Vision Id</th>
                        <th>User Name</th>
                        <!-- <th>User Profile</th>
                    <th>User Group</th> -->
                        <th style="width:70px">Read/Write</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let user of listOfusers;let i = index">
                        <td>
                            <div class="form-check no-margin-12" style="position: relative;display: inline-block;
                        top: -9px;
                        left: 12px;">
                                <label class="form-check-label padding-left-0">
                                    <input #overallcheck type="checkbox" [(ngModel)]="user.isChecked"
                                        class="form-check-input check" (change)="individualCheck(user)">
                                    <span class="form-check-sign">
                                        <span class="check"></span>
                                    </span>
                                </label>
                            </div>
                        </td>
                        <td>{{user.visionId}}</td>
                        <td>{{user.userName | titlecase}}</td>
                        <!-- <td>{{user.userProfile | titlecase}}</td>
                    <td>{{user.userGroup | titlecase}}</td> -->
                        <td style="width:58px">
                            <div class="rdwt">
                                <input class="tgl tgl-flip" [id]="i" type="checkbox" [(ngModel)]="user.writeFlag" />
                                <label class="tgl-btn" data-tg-off="Read" data-tg-on="Write" [for]="i"></label>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </cdk-virtual-scroll-viewport>
        <!-- </perfect-scrollbar> -->
    </div>

</div>
<!-- <div class="modal-footer button-list no-pad">
    <button type="button" class="btn btn-secondary btn-rose btn-sm margin-right-15" (click)="getCheckedData()">Apply</button> -->
<!-- <button type="button" [disabled]="!dSSearchForm.value.smartSearchVb.length" class="btn btn-secondary btn-rose btn-sm" data-dismiss="modal" (click)="resetModal()">
    Reset
  </button> -->
<!-- </div> -->