<div class="card-body p-0 material-table" id="card-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div
        class="material-table dashboard-bg-white b-radius-12 h-99"
        style="margin-top: 0px"
        id="maximize"
      >
        <ng-container *ngIf="landingPage">
          <app-smart-table
            [tableDatails]="tableDetail"
            [tableData]="metaDataList"
            [resetModel]="resetModel"
            [tableDatas]="ngxTableConfig"
            (eventType)="tableAction($event)"
          >
          </app-smart-table>
        </ng-container>
        <ng-container>
          <div *ngIf="showContainer" class="d-flex flex-column h-100 w-100">
            <div
              *ngIf="pageView != 'add' && pageView != 'copy'"
              class="flag"
              [ngStyle]="backGroundFlag(editData.recordIndicator)"
            >
              {{ editData.recordIndicatorDesc }}
            </div>
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label
                  *ngFor="let tab of tabList; let i = index"
                  class="tab_label"
                  (click)="tabClick(tab)"
                  [ngClass]="tab.selected ? 'active show' : ''"
                >
                  <a
                    *ngIf="tab.showBackbutton"
                    href="javascript:void(0)"
                    (click)="backToHmpage('')"
                    ><i class="material-icons forwardIcon">forward</i>
                  </a>
                  <span title="{{ tab.tabNameobj }}">{{ tab.tabNameobj }}</span>
                </label>
              </div>
            </div>
            <div class="h-93 w-100">
              <div class="d-flex flex-column w-100 h-100">
                <div
                  [ngClass]="[
                    selectedTab == 'table' ? 'mainPadd12' : '',
                    selectedTab == 'script' ? 'h-100' : 'h-90'
                  ]"
                >
                  <ng-container *ngIf="selectedTab == 'table'">
                    <div class="tab-content h-100">
                      <div
                        [ngClass]="pageView == 'view' ? 'pointerDisable' : ''"
                        class="tab-pane-fade tabMargin fadeIn h-100"
                      >
                        <div class="row h-90 m-0">
                          <div
                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                          >
                            <form [formGroup]="tableSetupForm">
                              <div class="row">
                                <div
                                  class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                >
                                  <div class="form-row">
                                    <div
                                      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >Repository<span class="text-danger"
                                            >*</span
                                          >
                                        </label>

                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="objectRepository"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'objectRepository'
                                            ].invalid
                                          "
                                        >
                                          <ng-container
                                            *ngFor="
                                              let datasub of objectCatelgoryList
                                            "
                                          >
                                            <ng-option
                                              value="{{ datasub.alphaSubTab }}"
                                            >
                                              {{ datasub.description }}
                                            </ng-option>
                                          </ng-container>
                                        </ng-select>
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'objectRepository'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Repository is Required
                                        </div>
                                      </div>
                                    </div>

                                    <div
                                      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >Type<span class="text-danger"
                                            >*</span
                                          >
                                        </label>

                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="objectType"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'objectType'
                                            ].invalid
                                          "
                                        >
                                          <ng-container
                                            *ngFor="
                                              let datasub of objectTypeList
                                            "
                                          >
                                            <ng-option
                                              value="{{ datasub.alphaSubTab }}"
                                            >
                                              {{ datasub.description }}
                                            </ng-option>
                                          </ng-container>
                                        </ng-select>
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'objectType'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Object Type is Required
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >Table Name
                                          <span class="text-danger"
                                            >*</span
                                          ></label
                                        >
                                        <input
                                          type="text"
                                          class="form-control"
                                          style="text-transform: uppercase"
                                          (keydown.space)="
                                            $event.preventDefault()
                                          "
                                          placeholder=""
                                          maxlength="255"
                                          formControlName="objectName"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'objectName'
                                            ].invalid
                                          "
                                        />
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'objectName'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Table Name is Required
                                        </div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'objectName'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Alphabets And Underscore only
                                          allowed
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >Table Alias Name
                                          <span class="text-danger">*</span>
                                        </label>
                                        <input
                                          type="text"
                                          class="form-control"
                                          placeholder=""
                                          maxlength="255"
                                          formControlName="objectAliasName"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'objectAliasName'
                                            ].invalid
                                          "
                                        />

                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'objectAliasName'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Alias Name is Required
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >History Audit Type
                                          <span class="text-danger">*</span>
                                        </label>
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="historyAuditType"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'historyAuditType'
                                            ].invalid
                                          "
                                        >
                                          <ng-container
                                            *ngFor="
                                              let datasub of objectHistoryList
                                            "
                                          >
                                            <ng-option
                                              value="{{ datasub.objId }}"
                                            >
                                              {{ datasub.description }}
                                            </ng-option>
                                          </ng-container>
                                        </ng-select>
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'historyAuditType'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Condition Type is Required
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-6 col-lg-6 col-xl-6"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                          >Access Type
                                          <span class="text-danger">*</span>
                                        </label>
                                        <ng-select
                                          class="selectpicker"
                                          appendTo="body"
                                          formControlName="objectAcccess"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'objectAcccess'
                                            ].invalid
                                          "
                                        >
                                          <ng-container
                                            *ngFor="
                                              let datasub of objectAccessList
                                            "
                                          >
                                            <ng-option
                                              value="{{ datasub.objId }}"
                                            >
                                              {{ datasub.description }}
                                            </ng-option>
                                          </ng-container>
                                        </ng-select>
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'objectAcccess'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Condition Type is Required
                                        </div>
                                      </div>
                                    </div>
                                    <div></div>
                                    <div
                                      class="col-sm-12 col-md-2 col-lg-2 col-xl-2 p-2 align"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <div class="togglebutton">
                                          <label class="globalContent">
                                            Purge Flag
                                            <span class="text-danger">*</span>
                                            <input
                                              type="checkbox"
                                              [class.bb-error]="
                                                submitted &&
                                                tableSetupForm.controls[
                                                  'objectPurgeFlag'
                                                ].invalid
                                              "
                                              formControlName="objectPurgeFlag"
                                            />
                                            <span
                                              class="toggle align-toggle"
                                            ></span>
                                          </label>
                                          <div class="line"></div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              tableSetupForm.controls[
                                                'objectPurgeFlag'
                                              ].errors?.pattern
                                            "
                                          >
                                            * Purge Flag is Required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-2 col-lg-2 col-xl-2 p-2 align"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <div class="togglebutton">
                                          <label class="globalContent">
                                            Refresh Flag
                                            <span class="text-danger">*</span>
                                            <input
                                              type="checkbox"
                                              [class.bb-error]="
                                                submitted &&
                                                tableSetupForm.controls[
                                                  'objHistoryRefreshFlag'
                                                ].invalid
                                              "
                                              formControlName="objHistoryRefreshFlag"
                                            />
                                            <span
                                              class="toggle align-toggle"
                                            ></span>
                                          </label>
                                          <div class="line"></div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              tableSetupForm.controls[
                                                'objHistoryRefreshFlag'
                                              ].errors?.pattern
                                            "
                                          >
                                            * Refresh Flag is Required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-2 col-lg-2 col-xl-2 p-2 align"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <div class="togglebutton">
                                          <label class="globalContent">
                                            Backup Flag
                                            <span class="text-danger">*</span>
                                            <input
                                              type="checkbox"
                                              [class.bb-error]="
                                                submitted &&
                                                tableSetupForm.controls[
                                                  'objectBackupFlag'
                                                ].invalid
                                              "
                                              formControlName="objectBackupFlag"
                                            />
                                            <span
                                              class="toggle align-toggle"
                                            ></span>
                                          </label>
                                          <div class="line"></div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              tableSetupForm.controls[
                                                'objectBackupFlag'
                                              ].errors?.pattern
                                            "
                                          >
                                            * Backup Flag is Required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-2 col-lg-2 col-xl-2 p-2 align"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <div class="togglebutton">
                                          <label class="globalContent">
                                            Optimize Flag
                                            <span class="text-danger">*</span>
                                            <input
                                              type="checkbox"
                                              [class.bb-error]="
                                                submitted &&
                                                tableSetupForm.controls[
                                                  'objectOptimizeFlag'
                                                ].invalid
                                              "
                                              formControlName="objectOptimizeFlag"
                                            />
                                            <span
                                              class="toggle align-toggle"
                                            ></span>
                                          </label>
                                          <div class="line"></div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              tableSetupForm.controls[
                                                'objectOptimizeFlag'
                                              ].errors?.pattern
                                            "
                                          >
                                            * Optimize Flag is Required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div
                                      class="col-sm-12 col-md-2 col-lg-2 col-xl-2 p-2 align"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <div class="togglebutton">
                                          <label class="globalContent">
                                            Sensitivity Flag
                                            <span class="text-danger">*</span>
                                            <input
                                              type="checkbox"
                                              [class.bb-error]="
                                                submitted &&
                                                tableSetupForm.controls[
                                                  'objectSensitivity'
                                                ].invalid
                                              "
                                              formControlName="objectSensitivity"
                                            />
                                            <span
                                              class="toggle align-toggle"
                                            ></span>
                                          </label>
                                          <div class="line"></div>
                                          <div
                                            class="validation-error bt15"
                                            *ngIf="
                                              tableSetupForm.controls[
                                                'objectSensitivity'
                                              ].errors?.pattern
                                            "
                                          >
                                            * Sensitivity Flag is Required
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="form-row h-15">
                                    <div
                                      class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <label
                                          class="bmd-label-static mb-0 pl-0"
                                        >
                                          <span class="text-danger">*</span>
                                          Description</label
                                        >
                                      </div>
                                      <div class="align-header1 row">
                                        <label
                                          class="align-label1"
                                          for="checkboxes-0"
                                        >
                                          <input
                                            type="radio"
                                            [class.bb-error]="
                                              submitted &&
                                              tableSetupForm.controls[
                                                'selecteLanguage'
                                              ].invalid
                                            "
                                            name="selecteLanguage"
                                            value="EN"
                                            formControlName="selecteLanguage"
                                            checked
                                          />
                                          English
                                        </label>
                                        <label
                                          class="align-label"
                                          for="checkboxes-1"
                                        >
                                          <input
                                            type="radio"
                                            name="selecteLanguage"
                                            [class.bb-error]="
                                              submitted &&
                                              tableSetupForm.controls[
                                                'selecteLanguage'
                                              ].invalid
                                            "
                                            value="RS"
                                            formControlName="selecteLanguage"
                                          />
                                          Russian
                                        </label>
                                        <label
                                          class="align-label"
                                          for="checkboxes-2"
                                        >
                                          <input
                                            type="radio"
                                            [class.bb-error]="
                                              submitted &&
                                              tableSetupForm.controls[
                                                'selecteLanguage'
                                              ].invalid
                                            "
                                            name="selecteLanguage"
                                            value="FR"
                                            formControlName="selecteLanguage"
                                          />
                                          French
                                        </label>
                                        <label
                                          class="align-label"
                                          for="checkboxes-3"
                                        >
                                          <input
                                            type="radio"
                                            [class.bb-error]="
                                              submitted &&
                                              tableSetupForm.controls[
                                                'selecteLanguage'
                                              ].invalid
                                            "
                                            name="selecteLanguage"
                                            value="PR"
                                            formControlName="selecteLanguage"
                                          />
                                          Persian
                                        </label>
                                      </div>
                                      <div class="line"></div>
                                      <div
                                        class="validation-error bt15"
                                        *ngIf="
                                          tableSetupForm.controls[
                                            'selecteLanguage'
                                          ].errors?.pattern
                                        "
                                      >
                                        * Description is Required
                                      </div>
                                    </div>

                                    <div
                                      class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
                                    >
                                      <div
                                        class="form-group bmd-form-group pl-0"
                                      >
                                        <textarea
                                          class="textareatable"
                                          [class.bb-error]="
                                            submitted &&
                                            tableSetupForm.controls[
                                              'description'
                                            ].invalid
                                          "
                                          formControlName="description"
                                        >
                                        </textarea>
                                        <div class="line"></div>
                                        <div
                                          class="validation-error bt15"
                                          *ngIf="
                                            tableSetupForm.controls[
                                              'description'
                                            ].errors?.pattern
                                          "
                                        >
                                          * Description is Required
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                      <div class="h-10 w-100">
                        <div class="row">
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                          >
                            <div>
                              <!-- <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                                *ngIf="pageView == 'view'" (click)="onSubmit('first')"><i
                                  class="fa fa-angle-double-left" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                              </button>

                              <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                                *ngIf="pageView == 'view'" (click)="onSubmit('previous')"><i class="fa fa-angle-left"
                                  aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                              </button> -->

                              <button
                                *ngIf="addTableBtn && pageView != 'view'"
                                type="button"
                                [disabled]="tableSetupForm.invalid"
                                class="btn btn-sm btn-rose btn-outline-dark test"
                                (click)="TableSetupSubmisssion('add')"
                              >
                                Save
                              </button>
                              <button
                                *ngIf="modifyTableBtn && pageView != 'view'"
                                type="button"
                                [disabled]="!tableSetupForm.valid"
                                class="btn btn-sm btn-rose btn-outline-dark test"
                                (click)="TableSetupSubmisssion('modify')"
                              >
                                Modify
                              </button>

                              <button
                                *ngIf="pageView != 'view'"
                                type="button"
                                (click)="cancelBtnAll()"
                                class="btn btn-sm btn-rose btn-outline-dark"
                              >
                                Cancel
                              </button>

                              <!-- <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                                class="btn btn-rose btn-sm" (click)="onSubmit('next')"><i class="fa fa-angle-right"
                                  aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                              </button>
                              <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                                class="btn btn-rose btn-sm" (click)="onSubmit('last')"><i
                                  class="fa fa-angle-double-right" aria-hidden="true"></i>
                                <div class="ripple-container"></div>
                              </button> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="selectedTab == 'column'">
                    <div
                      *ngIf="pageView != 'view'"
                      class="d-flex flex-row-reverse w-98"
                      [ngClass]="
                        columnDataShow
                          ? 'align-column-header'
                          : 'align-column-header-record'
                      "
                    >
                      <a class="align-icon">
                        <span
                          (click)="openPopupAddcolumnAdd()"
                          class="material-icons fa-icon-sty-column w-30 new-icon cursor tool_tip"
                          container="body"
                          ngbTooltip="Add"
                        >
                          add</span
                        >
                      </a>
                    </div>
                    <div class="tab-content">
                      <div class="tab-pane-fade tabMargin fadeIn">
                        <div class="row h-100 m-0">
                          <div
                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                          >
                            <div class="" id="" style="padding: 0px">
                              <virtual-scroller
                                [ngClass]="
                                  columnlistDetail.length
                                    ? 'scroll-set1'
                                    : 'scroll-set'
                                "
                                #perfectScroll
                                [items]="columnlistDetail"
                                class="example-viewport"
                              >
                                <table
                                  class="virtualScrollerTable"
                                  id="execute_table"
                                >
                                  <thead #header>
                                    <tr>
                                      <th>Order</th>
                                      <th>Column Id</th>
                                      <th>Column Name</th>
                                      <th>Description</th>
                                      <th>Index</th>

                                      <th>Mandatory Flag</th>
                                      <th>Data Sensitivity</th>
                                      <th>Data Last Modified</th>
                                    </tr>
                                  </thead>

                                  <tbody
                                    *ngIf="columnlistDetail.length"
                                    #container
                                    style="overflow: hidden"
                                  >
                                    <tr
                                      *ngFor="
                                        let data of perfectScroll.viewPortItems;
                                        let i = index
                                      "
                                    >
                                      <td>{{ data.columnOrder }}</td>

                                      <td>{{ data.columnId }}</td>

                                      <td>{{ data.columnName }}</td>

                                      <td>{{ data.description }}</td>

                                      <td>{{ data.dataIndex }}</td>

                                      <td>
                                        {{ data.mandatoryFlagDesc }}
                                      </td>

                                      <td>
                                        {{ data.colDataSensitivity }}
                                      </td>

                                      <td>
                                        {{ data.dateLastModified }}
                                        <div
                                          *ngIf="
                                            editColumnDataShow &&
                                            pageView != 'view'
                                          "
                                          class="p-relative icons-align-edit"
                                        >
                                          <div class="tr-edit-icons">
                                            <a
                                              href="javascript:void(0)"
                                              class="modal-trigger waves-effect btn-flat nopadding"
                                              data-original-title="Edit"
                                              (click)="tableActionColumn(data)"
                                            >
                                              <i
                                                class="material-icons iconClass"
                                                aria-hidden="true"
                                                container="body"
                                                ngbTooltip="Edit"
                                                >edit</i
                                              >
                                            </a>
                                          </div>
                                        </div>
                                        <div
                                          *ngIf="
                                            btnShowForColumns &&
                                            pageView != 'view'
                                          "
                                          class="p-relative icons-align-edit"
                                        >
                                          <div class="tr-edit-icons">
                                            <a
                                              href="javascript:void(0)"
                                              class="modal-trigger waves-effect btn-flat nopadding"
                                              data-original-title="Edit"
                                              (click)="
                                                tableActionColumnEdit(data)
                                              "
                                            >
                                              <i
                                                class="material-icons"
                                                aria-hidden="true"
                                                container="body"
                                                ngbTooltip="Edit"
                                                >edit</i
                                              >
                                            </a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </virtual-scroller>
                            </div>
                            <div
                              *ngIf="
                                !columnlistDetail.length || !columnlistDetail
                              "
                              class="no-data"
                            >
                              No Record's found
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        *ngIf="btnShowForColumns"
                        class="h-10 w-100"
                        style="margin-top: -25px"
                      >
                        <div class="row">
                          <div
                            class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                          >
                            <div>
                              <button
                                *ngIf="btnShowForColumns"
                                [disabled]="!tableSetupForm.valid"
                                type="button"
                                class="btn btn-sm btn-rose btn-outline-dark test"
                                (click)="TableSetupSubmisssion('add')"
                              >
                                Save
                              </button>
                              <button
                                *ngIf="btnShowForColumns"
                                type="button"
                                (click)="cancelBtnAll()"
                                class="btn btn-sm btn-rose btn-outline-dark"
                              >
                                Cancel
                              </button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="selectedTab == 'relations'">
                    <div
                      [ngClass]="
                        !relationlistDetail?.length > 0
                          ? 'align-header-relation'
                          : ''
                      "
                      class="tab-content h-100"
                    >
                      <div class="tab-pane-fade tabMargin fadeIn h-100">
                        <div class="row h-100 m-0">
                          <div
                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                          >
                            <div
                              *ngIf="pageView != 'view'"
                              class="d-flex flex-row-reverse cursorpointer w-98"
                            >
                              <a class="align-icon">
                                <span
                                  (click)="openPopupRelations()"
                                  class="material-icons fa-icon-sty w-30 new-icon tool_tip"
                                  container="body"
                                  ngbTooltip="Add"
                                >
                                  add</span
                                >
                              </a>
                              <a class="align-icon pl-2">
                                <span
                                  (click)="openRelationpopup()"
                                  class="material-icons fa-icon-sty w-30 new-icon tool_tip"
                                  container="body"
                                  ngbTooltip="Suggestion"
                                >
                                  link</span
                                >
                              </a>
                            </div>

                            <div
                              *ngIf="relationlistDetail?.length > 0"
                              class=""
                              id="{{ myId }}"
                            >
                              <virtual-scroller
                                #perfectScroll1
                                [items]="relationlistDetail"
                                class="example-viewport"
                              >
                                <table
                                  class="virtualScrollerTable"
                                  id="execute_table"
                                >
                                  <thead #header>
                                    <tr>
                                      <th>From Table</th>
                                      <th>Relation Name</th>
                                      <th>To Table</th>
                                      <th>Relation String</th>
                                      <th>Status</th>
                                      <th>Date Last Modified</th>
                                    </tr>
                                  </thead>
                                  <tbody
                                    *ngIf="relationlistDetail.length"
                                    #container
                                    style="overflow: hidden"
                                  >
                                    <tr
                                      *ngFor="
                                        let data of perfectScroll1.viewPortItems;
                                        let i = index
                                      "
                                    >
                                      <td
                                        class="modal-trigger waves-effect btn-flat nopadding pr-2"
                                        title="{{ data.tableName | titlecase }}"
                                      >
                                        {{ data.tableName }}
                                      </td>
                                      <td
                                        class="modal-trigger waves-effect btn-flat nopadding pr-2"
                                        title="{{
                                          data.relationName | titlecase
                                        }} "
                                      >
                                        {{ data.relationName }}
                                      </td>

                                      <td
                                        class="modal-trigger waves-effect btn-flat nopadding pr-2"
                                        title="{{
                                          data.relationTablename | titlecase
                                        }} "
                                      >
                                        {{ data.relationTablename }}
                                      </td>

                                      <td
                                        style="max-width: 250px !important"
                                        class="modal-trigger waves-effect btn-flat nopadding pr-2"
                                        title="{{
                                          data.relationString | titlecase
                                        }} "
                                      >
                                        {{ data.relationString }}
                                      </td>

                                      <td
                                        style="width: 2%"
                                        class="modal-trigger waves-effect btn-flat nopadding pr-2"
                                        title="{{
                                          data.statusDesc | titlecase
                                        }} "
                                      >
                                        <span
                                          class="status-btn"
                                          [ngClass]="{
                                            'status-btn-success':
                                              data.statusDesc == 'Active' ||
                                              data.statusDesc == 'Closed',
                                            'status-btn-danger':
                                              data.statusDesc == 'Delete' ||
                                              data.statusDesc == 'Lost' ||
                                              data.statusDesc == 'In Active',
                                            'status-btn-old':
                                              data.statusDesc == 'Old',
                                            'status-btn-warning':
                                              data.statusDesc == 'Inactive' ||
                                              data.statusDesc == 'Open'
                                          }"
                                        >
                                        </span>
                                        {{ data.statusDesc }}
                                      </td>

                                      <td
                                        class="modal-trigger waves-effect btn-flat nopadding pr-2"
                                        title="{{
                                          data.dateLastModified | titlecase
                                        }} "
                                      >
                                        {{ data.dateLastModified }}
                                        <div
                                          *ngIf="pageView != 'view'"
                                          class="icons-align-edit p-relative"
                                        >
                                          <div class="tr-edit-icons">
                                            <a
                                              (click)="
                                                tableActionRelation(data)
                                              "
                                            >
                                              <i
                                                class="material-icons tool_tip iconClass"
                                                aria-hidden="true"
                                                container="body"
                                                ngbTooltip="Edit"
                                              >
                                                edit</i
                                              >
                                            </a>
                                            <a
                                              *ngIf="
                                                data.statusDesc == 'Active'
                                              "
                                              (click)="deleFormRelation(data)"
                                            >
                                              <i
                                                class="material-icons tool_tip iconClass"
                                                aria-hidden="true"
                                                container="body"
                                                ngbTooltip="Delete"
                                              >
                                                delete</i
                                              >
                                            </a>
                                          </div>
                                        </div>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </virtual-scroller>
                            </div>
                            <div
                              *ngIf="!relationlistDetail?.length > 0"
                              class="card-body example-viewport"
                              style="padding: 0px"
                            >
                              <table class="" id="execute_table">
                                <thead #header>
                                  <tr>
                                    <th>From Table</th>
                                    <th>Relation Name</th>
                                    <th>To Table</th>
                                    <th>Relation String</th>
                                    <th>Status</th>
                                    <th>Date Last Modified</th>
                                  </tr>
                                </thead>
                                <div class="table-header no-data">
                                  No Record's found
                                </div>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>

                  <ng-container *ngIf="selectedTab == 'indexes'">
                    <div
                      [ngClass]="
                        !indexlistDetail?.length > 0
                          ? 'align-header-relation'
                          : ''
                      "
                      class="tab-content h-100"
                    >
                      <div class="tab-pane-fade tabMargin fadeIn h-100">
                        <div class="row h-100 m-0">
                          <div
                            class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                          >
                            <div class="d-flex flex-row-reverse w-98">
                              <div class="">
                                <div
                                  *ngIf="pageView != 'view'"
                                  class="h-10 w-100 cursorpointer"
                                >
                                  <a class="align-icon">
                                    <span
                                      class="material-icons global-icons moduleBoxZoom"
                                    >
                                      <span
                                        (click)="openPopupIndexx()"
                                        class="material-icons align-icon-index w-30 new-icon tool_tip"
                                        tooltip="Add"
                                        placement="left"
                                      >
                                        add</span
                                      >
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                            <ng-container>
                              <app-smart-table
                                [tableDatails]="indexDetail"
                                [tableData]="indexlistDetail"
                                [resetModel]="resetModel"
                                [tableDatas]="ngxTableConfig4"
                                (eventType)="tableActionIndex($event)"
                              >
                              </app-smart-table>
                            </ng-container>
                          </div>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div class="h-100" *ngIf="selectedTab == 'script'">
                    <ng-container>
                      <div class="h-100" *ngIf="this.editData.objectSource">
                        <textarea
                          class="textarea-script"
                          readonly
                          ngModel="{{ this.editData.objectSource }}"
                        >
                        </textarea>
                      </div>
                      <div
                        *ngIf="!this.editData.objectSource"
                        class="table-header no-data"
                      >
                        No Record's found
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
<ng-template #addColumnPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Column Details</h4>
    <a class="close" href="javascript:;"
      ><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i
    ></a>
  </div>
  <div class="modal-body">
    <form [formGroup]="columnSetupForm">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="form-row">
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0"
                  >Column Name <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  formControlName="columnName"
                  style="text-transform: uppercase"
                  (change)="changeFn()"
                  (keydown.space)="$event.preventDefault()"
                  [class.bb-error]="
                    submitted_Column &&
                    columnSetupForm.controls['columnName'].invalid
                  "
                />
                <div class="line"></div>
              </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0"
                  >Column Type <span class="text-danger">*</span>
                </label>
                <ng-select
                  class="selectpicker"
                  appendTo="body"
                  formControlName="dataType"
                  (change)="columnTypeChange($event)"
                  [class.bb-error]="
                    submitted_Column &&
                    columnSetupForm.controls['dataType'].invalid
                  "
                >
                  <ng-container *ngFor="let datasub of dataTypeList">
                    <ng-option value="{{ datasub.alphaSubTab }}">
                      {{ datasub.description }}
                    </ng-option>
                  </ng-container>
                </ng-select>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0"
                  >Column Order <span class="text-danger">*</span></label
                >
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  formControlName="columnOrder"
                  maxlength="2"
                  [class.bb-error]="
                    submitted_Column &&
                    columnSetupForm.controls['columnOrder'].invalid
                  "
                />
                <div class="line"></div>

                <div
                  class="validation-error bt15"
                  *ngIf="
                    columnSetupForm.controls['columnOrder'].errors?.pattern
                  "
                >
                  * Numbers only allowed
                </div>
              </div>
            </div>

            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0"
                  >Mandatory Flag<span class="text-danger">*</span>
                </label>

                <ng-select
                  class="selectpicker"
                  appendTo="body"
                  formControlName="mandatoryFlag"
                  [class.bb-error]="
                    submitted_Column &&
                    columnSetupForm.controls['mandatoryFlag'].invalid
                  "
                >
                  <ng-container *ngFor="let datasub of objectMandatoryList">
                    <ng-option value="{{ datasub.numSubTab }}">
                      {{ datasub.description }}
                    </ng-option>
                  </ng-container>
                </ng-select>

                <div class="line"></div>
              </div>
            </div>

            <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0"
                  >Data Length
                  <span *ngIf="showRequiredFiled" class="text-danger">*</span>
                </label>
                <input
                  type="text"
                  maxlength="5"
                  class="form-control"
                  placeholder=""
                  formControlName="dataLength"
                  [class.bb-error]="
                    submitted_Column &&
                    columnSetupForm.controls['dataLength'].invalid
                  "
                />
                <div class="line"></div>
                <div
                  class="validation-error bt15"
                  *ngIf="columnSetupForm.controls['dataLength'].errors?.pattern"
                >
                  * Numbers only allowed
                </div>
              </div>
            </div>

            <div class="col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Data Index </label>
                <input
                  type="text"
                  maxlength="2"
                  class="form-control"
                  placeholder=""
                  formControlName="dataIndex"
                  [class.bb-error]="
                    submitted_Column &&
                    columnSetupForm.controls['dataIndex'].invalid
                  "
                />
                <div class="line"></div>
                <div
                  class="validation-error bt15"
                  *ngIf="columnSetupForm.controls['dataIndex'].errors?.pattern"
                >
                  * Numbers only allowed
                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Guidelines</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder=""
                  formControlName="guidelines"
                  (click)="opneMagniferData('Objects/Tabls')"
                />
              </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <div class="togglebutton">
                  <label class="globalContent">
                    Audit Enable
                    <input type="checkbox" formControlName="auditEnableFlag" />
                    <span class="toggle align-toggle"></span>
                  </label>
                  <div class="line"></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <div class="togglebutton">
                  <label class="globalContent">
                    Data Sensitivity
                    <input
                      type="checkbox"
                      formControlName="colDataSensitivity"
                    />
                    <span class="toggle"></span>
                    <div class="line"></div>
                  </label>
                </div>
              </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <div class="togglebutton">
                  <label class="globalContent">
                    Display Columns
                    <input type="checkbox" formControlName="displayCoumn" />
                    <span class="toggle"></span>
                  </label>
                  <div class="line"></div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-row h-15">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">
                  Description<span class="text-danger">*</span></label
                >
              </div>
              <div class="align-header-popup1 row">
                <label class="align-label1">
                  <input
                    class="form-check-input"
                    type="radio"
                    name="selecteLanguage"
                    value="EN"
                    formControlName="selecteLanguage"
                    checked
                  />
                  English
                </label>
                <label class="align-label" for="checkboxes-1">
                  <input
                    type="radio"
                    name="selecteLanguage"
                    value="RS"
                    formControlName="selecteLanguage"
                  />
                  Russian
                </label>
                <label class="align-label" for="checkboxes-2">
                  <input
                    type="radio"
                    name="selecteLanguage"
                    value="FR"
                    formControlName="selecteLanguage"
                  />
                  French
                </label>
                <label class="align-label" for="checkboxes-3">
                  <input
                    type="radio"
                    name="selecteLanguage"
                    value="PR"
                    formControlName="selecteLanguage"
                  />
                  Persian
                </label>
              </div>
              <div class="line"></div>
            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group bmd-form-group pl-0">
                <textarea
                  style="margin-top: -16px"
                  class="textareatable"
                  formControlName="description"
                >
                </textarea>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer text-center pb-0 h-10">
    <button
      *ngIf="
        showbuttonModify &&
        globalService.pageLevelAccess.profileModify == 'Y' &&
        pageView == 'edit'
      "
      type="button"
      [disabled]="!columnSetupForm.valid"
      class="btn btn-rose btn-sm"
      (click)="modifyColumnSetup()"
    >
      {{ this.labelTxt }}
    </button>

    <button
      *ngIf="
        !showbuttonModify &&
        globalService.pageLevelAccess.profileAdd == 'Y' &&
        pageView == 'add'
      "
      [disabled]="!columnSetupForm.valid"
      type="button"
      class="btn btn-rose btn-sm"
      (click)="addColumnSetupEdit()"
    >
      Apply
    </button>

    <!-- <button *ngIf="!showbuttonModify"
      [disabled]="((!columnSetupForm.valid))" type="button" class="btn btn-rose btn-sm"
      (click)="modifyColumnSetup()">Apply</button> -->
    <button
      type="button"
      (click)="cancelColumnPopup()"
      class="btn btn-rose btn-sm ml-1"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #connectionPopupRelation>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add /Modify Relations</h4>
    <a class="close" href="javascript:;"
      ><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i
    ></a>
  </div>
  <div class="modal-body">
    <form class="mb-0" [formGroup]="relationSetupForm">
      <div class="form-row h-10">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <input
              type="text"
              class="form-control"
              formControlName="relationName"
              [class.bb-error]="
                submitted_Relation &&
                relationSetupForm.controls['relationName'].invalid
              "
            />
            <label class="bmd-label-static pl-0"
              >Relation Name <span class="text-danger">*</span></label
            >
            <div class="line"></div>
            <div
              class="validation-error bt15"
              *ngIf="
                submitted_Relation &&
                relationSetupForm.controls['relationName'].errors?.required
              "
            >
              * Relation Name is required
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <div class="togglebutton">
              <label class="globalContent">
                Display Flag
                <input type="checkbox" formControlName="relationDispalyFlag" />
                <span class="toggle align-toggle"></span>
              </label>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <input
              type="text"
              class="form-control"
              formControlName="sourceTable"
              disabled
            />
            <label class="bmd-label-static pl-0"
              >Source Table Name<span class="text-danger">*</span></label
            >
            <div class="line"></div>
          </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <ng-select
              class="selectpicker"
              appendTo="body"
              formControlName="targetTable"
              (change)="targetTableChange($event)"
            >
              <ng-option *ngFor="let table of targetTableList" [value]="table">
                {{ table.columnTen }}
              </ng-option>
            </ng-select>
            <label class="bmd-label-static pl-o"
              >Target Table Name <span class="text-danger">*</span></label
            >
            <div class="line"></div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <label class="bmd-label-static mb-0 pl-0">
              Description <span class="text-danger">*</span></label
            >
          </div>
          <div class="align-header-connnection row">
            <label for="checkboxes-0">
              <input
                type="radio"
                name="selecteLanguage"
                value="EN"
                formControlName="selecteLanguage"
                checked
              />
              English
            </label>
            <label class="align-label" for="checkboxes-1">
              <input
                type="radio"
                name="selecteLanguage"
                value="RS"
                formControlName="selecteLanguage"
              />
              Russian
            </label>
            <label class="align-label" for="checkboxes-2">
              <input
                type="radio"
                name="selecteLanguage"
                value="FR"
                formControlName="selecteLanguage"
              />
              French
            </label>
            <label class="align-label" for="checkboxes-3">
              <input
                type="radio"
                name="selecteLanguage"
                value="PR"
                formControlName="selecteLanguage"
              />
              Persian
            </label>
          </div>
          <div class="line"></div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="form-group bmd-form-group pl-0">
            <textarea
              type="text"
              formControlName="description"
              class="textarea-fieldPopUp"
            >
            </textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="popup-height" id="d3addlinkpopup"></div>

    <div *ngIf="showConnector" class="d3PopupDiv d3-showConnector">
      <div class="d3popover popover w-100 h-70" id="d3popover">
        <div class="popover-header d-flex set_border_bottom">
          <h3 class="popover-header-text w-95">
            {{ "Connection Type" }}
          </h3>
          <div
            class="popover-options text-right w-5 cursor d-flex align-items-center"
            (click)="closeD3Connector()"
          >
            <i class="fa fa-times faTimescloseRows"></i>
          </div>
        </div>
        <div class="popover-body">
          <ul class="h-100 connect-D3">
            <ng-container *ngFor="let items of connection">
              <li
                (click)="d3Connect(items.type); closeD3Connector()"
                [ngClass]="items.type == activeLink ? 'active' : ''"
              >
                <span>{{ items.type }}</span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>

    <div *ngIf="targetFlag" class="d3PopupDiv">
      <div class="d3popover popover w-100 h-100" id="d3popover">
        <div class="popover-header d-flex set_border_bottom">
          <h3
            class="popover-header-text w-95"
            [attr.title]="currentTran['columnName']"
          >
            {{ currentTran["columnName"] }}
          </h3>
          <div
            class="popover-options text-right w-5 cursor d-flex align-items-center"
            (click)="closePopupD3()"
          >
            <i class="fa fa-times faTimescloseRows"></i>
          </div>
        </div>
        <div class="popover-header d-flex pt-0">
          <h3 class="popover-header-text w-95">Target Column</h3>
        </div>
        <div
          class="w-100 form-group bmd-form-group pl-3 pr-3 pt-0 set_margin_top"
        >
          <input
            type="search"
            [(ngModel)]="searchTarget"
            (ngModelChange)="searchTargetLst(searchTarget)"
            class="form-control"
            placeholder="Search"
            autocomplete="off"
          />
        </div>
        <div class="popover-body h-60">
          <ul class="h-100 taget_list">
            <perfect-scrollbar>
              <ng-container *ngFor="let target of targetPopup">
                <li *ngIf="target.showColumn">
                  <input
                    type="checkbox"
                    [name]="target.columnName"
                    [(ngModel)]="target.checked"
                    (change)="targetTableChangeRelation(target)"
                    [checked]="target.checked"
                  />
                  <span class="ml-2">{{ target.columnName }}</span>
                </li>
              </ng-container>
            </perfect-scrollbar>
          </ul>
          <div *ngIf="checkRecords()" class="no-data">No Records Found..</div>
        </div>
        <div class="popover-footer text-center h-20 ml-3 mr-3 set_border_top">
          <button
            type="button"
            class="btn btn-rose btn-sm"
            (click)="saveConnection()"
          >
            Apply
          </button>
        </div>
      </div>
    </div>
  </div>
  <div
    class="align-footer popover-footer text-center h-5 ml-3 mr-3 set_border_top"
  >
    <button
      type="button"
      class="btn btn-rose btn-sm"
      [disabled]="!relationSetupForm.valid || !popupd3LinkConnectionData.length"
      (click)="saveallNewConnection()"
    >
      Apply
    </button>
    <button type="button" class="btn btn-rose btn-sm" (click)="modalClose()">
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #indexPopup>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add/Modify Unique</h4>
    <a class="close" href="javascript:;"
      ><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i
    ></a>
  </div>
  <div class="modal-body">
    <form [formGroup]="indexSetupForm">
      <div class="form-row h-20">
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <input
              type="text"
              formControlName="name"
              pattern="[A-Z]*"
              (keyup)="
                indexSetupForm.patchValue({
                  name: $event.target.value.toUpperCase()
                })
              "
              class="form-control"
            />
            <label class="bmd-label-static pl-0"
              >Name<span class="text-danger">*</span></label
            >
            <div class="line"></div>
            <div
              class="validation-error bt15"
              *ngIf="
                submitted_index &&
                indexSetupForm.controls['name'].errors?.required
              "
            >
              * Name is required
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
          <div class="form-group bmd-form-group pl-0">
            <label class="bmd-label-static pl-0"
              >Type<span class="text-danger">*</span></label
            >
            <div class="line"></div>
          </div>
          <div class="align-radio-header">
            <label for="checkboxes-0">
              <input
                type="radio"
                name="Type"
                value="Unique"
                formControlName="Type"
                checked
              />
              Primary Key
            </label>
            <label class="align-label" for="checkboxes-2">
              <input
                type="radio"
                name="Type"
                value="Index"
                formControlName="Type"
              />
              Index
            </label>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="form-group bmd-form-group pl-0">
            <label class="bmd-label-static mb-0 pl-0">
              Description<span class="text-danger">*</span></label
            >
          </div>
          <div class="align-header-index row">
            <label class="align-label1" for="checkboxes-0">
              <input
                type="radio"
                name="selecteLanguage"
                value="EN"
                formControlName="selecteLanguage"
                checked
              />
              English
            </label>
            <label class="align-label" for="checkboxes-1">
              <input
                type="radio"
                name="selecteLanguage"
                value="RS"
                formControlName="selecteLanguage"
              />
              Russian
            </label>
            <label class="align-label" for="checkboxes-2">
              <input
                type="radio"
                name="selecteLanguage"
                value="FR"
                formControlName="selecteLanguage"
              />
              French
            </label>
            <label class="align-label" for="checkboxes-3">
              <input
                type="radio"
                name="selecteLanguage"
                value="PR"
                formControlName="selecteLanguage"
              />
              Persian
            </label>
          </div>
          <div class="line"></div>
        </div>
        <div
          style="margin-top: -12px"
          class="col-sm-12 col-md-12 col-lg-12 col-xl-12"
        >
          <div class="form-group bmd-form-group pl-0">
            <textarea class="textarea-index" formControlName="description">
            </textarea>
            <div class="line"></div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer text-center pb-0 h-10">
    <button
      [disabled]="!indexSetupForm.valid"
      type="button"
      class="btn btn-rose btn-sm"
      (click)="saveindexSetup()"
    >
      Save
    </button>
    <button
      type="button"
      class="btn btn-rose btn-sm ml-1"
      (click)="modalClose()"
    >
      Cancel
    </button>
  </div>
</ng-template>

<ng-template #missingRelationTemplate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Relation Suggestion</h4>
    <a class="close" href="javascript:;"
      ><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i
    ></a>
  </div>
  <div class="modal-body relations-padding">
    <div *ngIf="relation_table" class="menu-trigger">
      <div class="card-collapse-custom" (click)="toggleShowDiv('relation')">
        <div
          role="tab"
          id="headingOne"
          class="h-33px cursorpointer card-header accordionHeader"
        >
          <h5 class="mb-0">
            <a
              class="w-100 table-header-dropdown"
              data-toggle="collapse"
              [attr.aria-expanded]="!isLineFormCollapsed"
              aria-controls="collapseTwo"
              >Relation By Index ({{ relationByIndexList.length }})<i
                class="material-icons float-right mr-2 mt-1 panel-icon"
                [ngClass]="
                  isOpen_relation ? 'gg-chevron-up' : 'gg-chevron-down'
                "
              ></i
            ></a>
          </h5>
        </div>
      </div>

      <div *ngIf="isOpen_relation" class="material-table report-table divA">
        <div class="preview_table table-align" style="max-height: 140px">
          <perfect-scrollbar>
            <table class="table table-hover inlineEditTable" cellspacing="0">
              <thead>
                <tr>
                  <th class="text-center" style="width: 1% !important">
                    <input
                      type="checkbox"
                      [(ngModel)]="isMasterSel"
                      name="list_name"
                      value="h1"
                      (change)="checkUncheckAll()"
                    />
                  </th>
                  <th style="width: 3% !important">From Table</th>
                  <th style="width: 3% !important">To Table</th>
                  <th style="width: 10% !important">Relation String</th>
                </tr>
              </thead>
              <tbody></tbody>

              <tbody>
                <tr *ngFor="let columns of relationByIndexList; let i = index">
                  <td class="text-center">
                    <input
                      type="checkbox"
                      [(ngModel)]="columns.isSelected"
                      name="list_name"
                      value="{{ columns.isSelected }}"
                      (change)="isAllSelected()"
                    />
                  </td>
                  <td title="{{ columns.tableName | titlecase }}">
                    {{ columns.tableName }}
                  </td>
                  <td title="{{ columns.relationTablename | titlecase }}">
                    {{ columns.relationTablename }}
                  </td>
                  <td title="{{ columns.relationString | titlecase }}">
                    {{ columns.relationString }}
                  </td>
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>

    <div *ngIf="relation_table_sub" class="menu-trigger">
      <div class="card-collapse-custom" (click)="toggleShowDiv('relation_sub')">
        <div
          role="tab"
          id="headingOne"
          class="h-33px cursorpointer card-header accordionHeader"
        >
          <h5 class="mb-0">
            <a
              class="w-100 table-header-dropdown"
              data-toggle="collapse"
              [attr.aria-expanded]="!isLineFormCollapsed"
              aria-controls="collapseTwo"
              >Relation By Name ({{ relationByNameList.length }})
              <i
                class="material-icons float-right mr-2 mt-1 panel-icon"
                [ngClass]="
                  isOpen_relation_sub ? 'gg-chevron-up' : 'gg-chevron-down'
                "
              ></i
            ></a>
          </h5>
        </div>
      </div>

      <div *ngIf="isOpen_relation_sub" class="material-table report-table divA">
        <div class="preview_table table-align" style="max-height: 303px">
          <perfect-scrollbar>
            <table class="table table-hover inlineEditTable" cellspacing="0">
              <thead>
                <tr>
                  <th class="text-center" style="width: 1% !important">
                    <input
                      type="checkbox"
                      [(ngModel)]="isMasterSel_byname"
                      (change)="checkUncheckAllByName()"
                    />
                  </th>
                  <th style="width: 3% !important">From Table</th>
                  <th style="width: 3% !important">To Table</th>
                  <th style="width: 10% !important">Relation String</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let columns of relationByNameList; let i = index">
                  <td class="text-center">
                    <input
                      type="checkbox"
                      [(ngModel)]="columns.isSelected"
                      (change)="isAllSelectedByName()"
                    />
                  </td>
                  <td title="{{ columns.tableName | titlecase }}">
                    {{ columns.tableName }}
                  </td>
                  <td title="{{ columns.relationTablename | titlecase }}">
                    {{ columns.relationTablename }}
                  </td>
                  <td
                    style="max-width: 220px"
                    title="{{ columns.relationString | titlecase }}"
                  >
                    {{ columns.relationString }}
                  </td>
                </tr>
              </tbody>
            </table>
          </perfect-scrollbar>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer text-center h-10">
    <button
      type="button"
      class="btn btn-rose btn-sm align-btn-style-relation"
      (click)="addMissingRelationValues()"
    >
      Apply
    </button>
    <button
      type="button"
      (click)="modalClose()"
      class="btn btn-rose btn-sm align-btn-style-r"
    >
      Cancel
    </button>
  </div>
</ng-template>
