.textarea-field {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #ddd;
  font-size: 12px;
  margin-top: 12px;
}

.textarea-fieldPopUp {
  margin-top: -10px;
  min-height: 50px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 12px;
  margin-top: -15px;
}

.textarea-field::placeholder {
  font-size: 14px;
}

.prompt-icon {
  margin: 11px;
  font-size: 20px;
  cursor: pointer;
}

.prompt-err {
  color: #f70505;
}

.prompt-color {
  color: #4c4cea;
}

.requiredBox {
  position: absolute;
  right: 11px;
  color: #ff0000;
  /* background: #Ff0000; */
  padding: 3px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  top: 0px;
  z-index: 1;
}

.bt15 {
  bottom: unset !important;
  top: 20px;
}

.adv-props {
  margin-bottom: 3px;
}

.adv-props a {
  font-weight: 400;
  cursor: pointer;
  font-size: 15px;
  color: #5f90ff !important;
  text-decoration: underline !important;
}

.ftp-icon {
  font-size: 21px;
  cursor: pointer;
  position: absolute;
  top: 23px;
  right: 20px;
}

.ftp-icon span {
  font-size: 21px;
}

.burst-icon {
  position: absolute;
  left: 8px;
  top: 12px;
}

.burst-icon span {
  font-size: 21px;
  cursor: pointer;
}

.days-selector ul {
  display: flex;
  list-style: none;
  padding-left: 0;
  margin-top: 16px;
}

.days-selector ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: #fff;
  color: #2a2a2a;
  padding: 3px;
  margin: 0 4px;
  border-radius: 6px !important;
  width: 40px;
  height: 24px;
  font-size: 12px;
  font-weight: 400;
  border: 1px solid #ccc;
}

.days-selector ul li.active {
  background: var(--content-color);
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 9%), 0 2px 3px -1px rgb(0 0 0 / 7%);
  color: #fff;
}

input.form-control {
  padding-top: 18px;
}

.nav-tabs .nav-item .tab-color {
  color: #4a4a4a !important;
  font-size: 14px !important;
  line-height: 30px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600 !important;
  padding: 0 !important;
}

.nav-tabs .nav-link.active {
  border-bottom: 2px solid var(--content-color) !important;
  border-radius: 0;
  transform: translateX(0px);
  transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1);
  /* transition:  .3s cubic-bezier(0,0,.2,1); */
}

.tab-padding {
  padding: 0px 0px 1px 0px !important;
  margin: 0;
}

.tab-padding .tab-color span {
  font-size: 14px !important;
}

.validation-error {
  z-index: 1 !important;
}

.interval-padd {
  padding: 0 4px;
}

.margin-tab {
  margin-left: 20px;
}

.form-check .form-check-label span {
  left: 0px;
}

.form-row {
  min-height: 54px;
}

.lightGray {
  color: lightGray;
}

table tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 22px;
  bottom: 6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -4px;
  background-color: #d1e8ea;
  transition: 0.4s;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--content-color);
}

.togglebutton label input[type="checkbox"]:checked + .toggle:after {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  margin-top: -1px;
}

.togglebutton label input[type="checkbox"]:checked + .toggle {
  background-color: var(--content-color) !important;
}

input:checked + .slider {
  background-color: var(--content-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lockIcon {
  font-size: 20px;
  padding-left: 12px;
}

.card-profile .card-avatar .imagePreview {
  height: 100%;
}

.h-93 {
  height: 93%;
}

.fa-icon-sty {
  font-size: 20px;
}

.fa-icon-sty-column {
  cursor: pointer;
  font-size: 20px;
}

.fa-icon-sty-add {
  font-size: 20px;
  margin-right: 51px !important;
}

#d3addlinkpopup {
  overflow-y: auto;
  overflow-x: hidden;
}

.popup-height {
  height: 38.5% !important;
}

.align-footer {
  margin-top: -35px;
}

.align {
  margin-left: -7px;
}

.textarea {
  min-height: 150px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;

  margin-top: -16px;
}

.textarea-script {
  height: 100% !important;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;
  padding: 10px;
}

.textarea-column {
  min-height: 155px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;
}

.textarea-index {
  min-height: 150px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;
  margin-top: -6px;
}

.align-label1 {
  margin-left: 5px;
  color: #333 !important;
}

.align-label {
  margin-left: 5px;
  color: #333 !important;
}

.align-radio-header {
  margin-top: 12px;
}

.align-header {
  margin-top: -19px;
  position: relative;
  margin-left: 8%;
}

.align-header-connnection {
  margin-top: -19px;
  position: relative;
  margin-left: 28%;
}

.align-header-popup {
  margin-top: -19px;
  position: relative;
  margin-left: 15%;
}

.align-toggle {
  margin-left: 25px !important;
}

.popover-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.my-custom-table {
  padding: 0;
  min-width: 230px;
}

.connect-D3 li {
  font-size: 13px;
  border-bottom: 1px solid white;
  padding-left: 12px;
}

.connect-D3 li:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.taget_list li {
  font-size: 13px;
  font-weight: 600;
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.connect-D3 li {
  font-size: 13px;
  border-bottom: 1px solid white;
  padding-left: 12px;
}

.connect-D3 li:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.set_border_bottom {
  border-bottom: 1px solid #ccc;
}

.set_margin_top {
  margin-top: -9px;
}

.set_border_top {
  border-top: 1px solid #ccc;
}

.toolbar-icon-disabled {
  pointer-events: none;
}

.linkDisabled {
  cursor: not-allowed;
}

.align-header-index {
  margin-top: -16px;
  position: relative;
  margin-left: 12%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 22px;
  bottom: 6px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -4px;
  background-color: #d1e8ea;
  transition: 0.4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.lockIcon {
  font-size: 20px;
  padding-left: 12px;
}

.card-profile .card-avatar .imagePreview {
  height: 100%;
}

.h-93 {
  height: 93%;
}

.co-5 {
  margin-left: 43px;
}

.addColumnValue-03 {
  top: -9px;
}

.padd-nert {
  padding: 5px;
  border-bottom: dotted 1px #ccc;
  font-size: 12px;
  line-height: 15px;
  margin: auto;
}

.heading {
  font-size: 14px;
}

table thead {
  background-color: #e8e7e7;
}

table thead tr {
  border: 1px solid #c7c7c7;
  border: 1px solid #c7c7c7;
}

table thead tr th {
  border-right: 1px solid #c7c7c7;
}

table tbody tr {
  border: 1px solid lightgray;
  /* border-bottom: none */
}

table tbody tr td {
  border-right: 1px solid lightgray;
}

table#execute_table thead tr th {
  background-color: var(--content-color);
  z-index: 1;
  width: 140px;
  text-align: center !important;
  color: #fff !important;
  border-right: 1px solid #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  font-size: 13px;
  font-family: "Open Sans";
  padding: 0px 7px !important;
}

.table-footer {
  position: absolute;
  bottom: 20px;
}

.modal-sm #datatable_info {
  position: absolute;
  left: 6px;
}

.modal-sm {
  left: 50%;
  transform: translate(-181px, 10px);
}

.modal-lg {
  left: 40%;
  transform: translate(-178px, 10px);
}

.modal-xl .table-footer {
  bottom: 4px;
}

.scrollbar {
  overflow: auto;
}

table#execute_table tbody tr td {
  width: 100px;
  border-left: unset !important;
}

table {
  width: 100%;
}

#chooseDatasourceSec {
  margin-left: 5px;
  margin-top: 15px;
}

#chooseDatasourceSec2 {
  padding: 0;
}

#chooseDatasourceSec3 {
  margin-top: -4px;
}

#chooseDatasourceSecnew {
  margin-top: -26px;
}

#chooseDatasourcecolumn {
  margin-left: 5px;
  margin-top: 15px;
}

#chooseDatasourcecolumn2 {
  margin-left: 5px;
  margin-top: -12px;
}

.desc-width {
  max-width: 50px;
}

table.dataTable {
  margin-top: 0px !important;
}

.example-viewport {
  height: 75vh;
  width: auto;
}

.example-item {
  height: 10px;
}

#execute_table thead tr th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#execute_table tbody tr td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2a2a2a !important;
  font-size: 13px;
  font-family: "Open Sans";
  line-height: 18px;
  font-weight: normal !important;
}

.align-left {
  text-align: left !important;
}

.align-right {
  text-align: right !important;
}

table th {
  color: #fff !important;
}

.height-line {
  line-height: 28px;
}

.height-line span {
  padding: 0 !important;
}

.p-relative {
  position: relative;
  top: -29px;
}

table tr td:last-child {
  overflow: hidden !important;
}

/* table tr td:last-child .tr-edit-icons {
  background: transparent;
} */

/* relation-popup */
.menu-trigger {
  color: #00bcd4;
  padding-top: 5px;
  padding-bottom: 5px;
}

.cursorpointer {
  cursor: pointer;
}

.report-table {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  border: solid 1px #e2e2e2;
}

.table-align {
  width: 97%;
  border-top: 0px;
  margin-top: 12px;
}

.table-align-content {
  width: 97%;
  border-top: 0px;
  margin-top: 12px;
}

/* relation-popup */
.relations-padding .card-collapse-custom .card-header {
  padding: 0px !important;
}

.virtual_scroll_table th {
  position: unset !important;
  top: unset !important;
}

.virtual_scroll_table tbody tr {
  position: unset !important;
}

.inlineEditTable.virtual_scroll_table tr td:last-child {
  position: unset !important;
  overflow: hidden !important;
}

.icons-align-edit .tr-edit-icons {
  right: 3%;
  cursor: pointer;
}

.align-icon-index {
  font-size: 20px;
}
.w-98 {
  width: 98%;
}

.form-check .form-check-input:checked ~ .circle {
  border-color: var(--border-btn-color);
}

.form-check .form-check-label .circle .check {
  background-color: var(--content-color);
}

.form-check .form-check-input[disabled] ~ .form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}

.form-check .form-check-sign .check {
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
}

.form-check .form-check-sign:before {
  width: 16px;
  height: 16px;
}

.form-check .form-check-sign .check:before {
  margin-top: -5px;
  margin-left: 5px;
  top: -1px;
}

.h-15 {
  height: 15%;
}

.textareatable {
  min-height: 150px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;

  margin-top: -16px;
}
.iconClass {
  position: relative;
  top: 4px;
}

@media only screen and (max-height: 580px) {
  .textareatable {
    min-height: 120px;
  }
}

@media only screen and (max-height: 520px) {
  .textareatable {
    min-height: 90px;
  }
}

@media only screen and (max-height: 465px) {
  .textareatable {
    min-height: 60px;
  }
}

@media only screen and (max-height: 430px) {
  .textareatable {
    min-height: 45px;
  }
}

.align-header1 {
  margin-top: -19px;
  position: relative;
  margin-left: 8%;
}

@media only screen and (max-width: 1250px) {
  .align-header1 {
    margin-left: 8.5%;
  }
}

@media only screen and (max-width: 1150px) {
  .align-header1 {
    margin-left: 9%;
  }
}

.align-header-popup1 {
  margin-top: -19px;
  position: relative;
  margin-left: 15%;
}

@media only screen and (max-width: 991px) {
  .align-header-popup1 {
    margin-left: 25%;
  }
}

@media only screen and (max-width: 950px) {
  .align-header-popup1 {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 920px) {
  .align-header-popup1 {
    margin-left: 30%;
  }
}
