    <div class="modal-body">
        <div class="card">
            <div class="card-header card-header-tabs card-header-rose">

                <span class="pull-right clickable close-icon copy-icon tool_tip show-query-close" tooltip="copy" (click)="copyContent()" data-effect="fadeOut"><i class=" fa fa-copy" 
           ></i></span>
                <span title="Close" class="pull-right clickable close-icon show-query-close" (click)="closeModal()" data-effect="fadeOut"><i
            class="fa fa-times"></i></span>
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul class="nav nav-tabs" data-tabs="tabs">
                            <li class="nav-item ">
                                <a href="javascript:void(0)" class="nav-link">
                  Show Query
                  <div class="ripple-container">
                  </div>
                  <div class="ripple-container"></div>
                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card-body" id="chooseDatasourceSec" style="min-height: 300px;
                                                                   max-height: 300px;
                                                                   overflow: auto;">
                <div id="copyText" [innerHTML]="query"></div>
            </div>
        </div>
    </div>