<div class="wrapper login-container">
    <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center login-page">
        <div class="d-flex flex-column boxx_50">
            <div class="w-100 h-61px d-flex justify-content-between">
                <div class="h-100 w-50 d-flex justify-content-start corporate-logo">
                    <img  src="./../../../assets/img/Sunoida_Corporate_Logo_Horizontal.png" />
                </div>
                <div class="h-100 w-50 d-flex justify-content-end logo-header client-logo">
                  <img class="image-responsive" src="assets/img/login-header-img-right.png" />
              </div>
            </div>
            <div class="w-100 h-100-52px d-flex">
              
                <div class="w-50 h-100 d-flex flex-column justify-content-center align-items-center mr-1">
                   
                    <div class="w-100 h-100 d-flex align-items-center pr-3">
                        <div class="w-100 h-12 d-flex justify-content-end">
                            <img  src="assets/img/vision_admin.png" class="imgDummyClass">
                        </div>
                    </div>
                </div>
                <div class="w-50 h-100 d-flex align-items-center justify-content-start">
                    <form class="form-container h-100 d-flex flex-column justify-content-center mt-5" [formGroup]="loginForm" autocomplete="off">
                      <span [ngClass]="showLoginError ? 'show-error': 'hide-error'" class="error">
                          <span *ngIf="!showLoginInvalid">
                              Please enter your {{errorKey[0]}} <span *ngIf="errorKey[1]">and</span> {{errorKey[1]}}
                          </span>
                      </span>
                      <span *ngIf="showLoginInvalid" [ngClass]="showLoginInvalid ? 'show-error': 'hide-error'"
                          class="error">{{errorKey[0]}}.</span>
                        <span class="bmd-form-group pb-4">
                            <div class="input-group"
                                [ngClass]="{'border-error': loginForm.controls.user_name.invalid && (loginForm.controls.user_name.dirty || loginForm.controls.user_name.touched) }">
                                <input type="text" autocomplete="off" class="form-control"
                                    placeholder="{{'login.placeholders.userName' | translate}}"
                                    formControlName="user_name">
                            </div>
                        </span>
                        <span class="bmd-form-group pb-1">
                            <div class="input-group"
                                [ngClass]="{'border-error': loginForm.controls.password.invalid && (loginForm.controls.password.dirty || loginForm.controls.password.touched) }">
                                <input type="password" class="form-control" autocomplete="new-password"
                                    placeholder="{{'login.placeholders.password' | translate}}"
                                    formControlName="password">
                            </div>
                        </span>
                        <div class="d-flex justify-content-start pt-0 pb-3">
                        
                        </div>
                        <span class="text-center loginBtn">
                          <button (click)="authCheck()" class="w-100 btn btn-sm">
                            Login<div class="ripple-container"></div></button>
                            <!-- <span *ngIf="showSpinner" class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </span> -->
                        </span>
                      <div class="d-flex justify-content-end w-55 pt-0">
                          <a href='javascript:;' class="trouble-signing-link">
                              Terms and Conditions
                          </a>
                      </div>
                    </form>
                </div>
  
              
            </div>
           
        </div>
    </div>
  </div>
  
  <!-- <div *ngIf="globalService.inactive" class="d-flex justify-content-center" (click)="globalService.inactive = false">
    <span class="inactive-logout">Your last session has expired due to inactivity !!
    </span>
  </div> -->