.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    opacity: 0.5;
    margin: 0 auto;
    z-index: 2;
}

input {
    border: none;
}

// img {
//     width: 55%;
//     padding: 9px;
// }

.splash-bg {
    background: url('/assets/images/bg/splash.png') no-repeat center center fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.container-wrap {
    position: relative;
    z-index: 3;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.border-error {
    .material-icons {
        color: red;
    }
     ::placeholder {
        color: red;
        opacity: 1;
        /* Firefox */
    }
     :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: red;
    }
     ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: red;
    }
}

.modal-content {
    position: relative;
}

.modal-login {
    position: fixed;
    bottom: 10%;
    left: 0;
    right: 0;
    width: 300px;
    margin: 55px auto;
    padding: 25px;
    .modal-content {
        color: #999;
        border-radius: 13px;
        margin-bottom: 15px;
        background: #fff;
        border: 1px solid #f3f3f3;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 25px;
    }
    .modal-header {
        border-bottom: none;
        position: relative;
        justify-content: center;
        text-align: center;
        padding: 15px 0;
        img {
            height: 58px;
            vertical-align: middle;
            border: 0;
        }
    }
    .modal-body {
        position: relative;
        padding: 15px 0;
        mat-form-field {
            width: 100% !important;
        }
    }
    .modal-footer {
        color: #999;
        border-color: #dee4e7;
        text-align: center;
        margin: 0 -25px -25px;
        font-size: 13px;
        justify-content: center;
        padding: 15px 0;
        border-top: 1px solid #e5e5e5;
    }
    button {
        font-size: 16px;
        font-weight: bold;
        background: #269bd0;
        border-radius: 3px;
        border: none;
        min-width: 140px;
        outline: none !important;
        color: #fff;
        display: block;
        width: 100%;
        margin-top: 12px;
    }
    button:hover,
    button:focus {
        background: #179b81;
        color: #fff;
    }
    a {
        color: #337ab7;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .modal-content {
        -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
        box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.login-page .card-login .card-header {
    margin-top: 0px!important;
    margin-bottom: 0px;
}

.spa {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;
}

input:-internal-autofill-previewed,
input:-internal-autofill-selected,
textarea:-internal-autofill-previewed,
textarea:-internal-autofill-selected,
select:-internal-autofill-previewed,
select:-internal-autofill-selected {
    background-color: #fff !important;
    background-image: none !important;
    color: rgb(0, 0, 0) !important;
    -webkit-box-shadow: inset 0 0 0px 9999px white;
    border-bottom: solid 2px #ccc
}

spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes spinner-border {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.spinner-border {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    vertical-align: text-bottom;
    border: 2px solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner-border .75s linear infinite;
    animation: spinner-border .75s linear infinite;
    color: #ccc;
    // position: relative;
    // left: 12px;
    // top: 3px;
    position: absolute;
    right: 29%;
    top: 31%;
}

.spinner-border-sm {
    width: 1rem;
    height: 1rem;
    border-width: .2em
}