.productname {
    color: #838486;
    font-size: 16px;
    padding-left: 8px;
  }
  
  .logo-width {
    width: 70%;
    padding: 9px;
    vertical-align: middle;
    border-style: none;
  }
  
  .font-400 {
    font-weight: 400;
  }
  
  .inactive-logout {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: var(--content-color); */
    width: 100%;
    z-index: 2;
    font-weight: 400;
    color: #000;
    font-size: 14px;
    padding: 2px;
    position: fixed;
    bottom: 0px;
  }
  
  .w-78 {
    width: 78%;
  }
  
  .h-78 {
    height: 78%;
  }
  
  .sunoidaLogo {
    position: relative;
    left: 25px;
    top: 25px;
  }
  
  .clientLogo {
    position: relative;
    right: 25px;
    top: 25px;
  }
  
  .bottomBgImg {
    background-image: url(/assets/img/login_sub_background_img.png);
    background-size: 123%;
    background-repeat: no-repeat;
    background-position-x: -325px;
    background-position-y: -60px;
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 25%;
    top: 75%;
  
  }
  
  .boxx_50 {
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #e3e3e3;
    padding: 20px 25px 25px 25px;
    /* background-image: url(/assets/img/imgpsh_fullsize_anim_bg.png),url(/assets/img/pattern-white.png);
    background-size: 145%,cover; */
    font-family: 'Lexend Deca';
    /* background-repeat: no-repeat,no-repeat;
    background-position-x: -250px,0;
    background-position-y: 257px,0; */
    align-items: center;
    background-image: url(/assets/img/imgpsh_fullsize_anim_bg.png), url(/assets/img/pattern-white.png);
    background-size: contain, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, top;
  }
  
  .formLoginClass {
    width: 50%;
    height: 60%;
    position: relative;
    top: 12%;
    left: 25%;
  }
  
  .sunoidaIcon {
    transform: rotate(180deg);
    opacity: 0.6;
    position: relative;
    top: 5px;
  }
  
  .pbUnset {
    padding-bottom: unset !important;
  }
  
  .trouble-signing-link {
    /* color: #BB428C;
    font-size: 13px;
    font-weight: 500; */
    color: #5a5a5a;
    font-size: 11px;
    font-weight: 400;
    text-decoration: underline;
    visibility: hidden;
  }
  
  .login-page .card-login {
    margin: 0;
    border-radius: 5%;
  }
  
  .login-page .card-login .card-header {
    margin-top: 0px !important;
    margin-bottom: 0;
  }
  
  .login-page .card-login .card-body {
    padding: 0 2.5em 0 0;
  }
  
  @media only screen and (max-width: 600px) {
    .logo-top-cotainer {
      display: none;
    }
  
  }
  
  .page-sub-header-top-right {
    width: 16%;
    height: 13%;
    background-size: cover;
    position: absolute;
    top: 0.5em;
    right: 2em;
  }
  
  .img-logo-right {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
  
  .page-sub-header-top-left {
    width: 19%;
    height: 9%;
    position: absolute;
    top: 1em;
    left: 2em;
  }
  
  .img-logo-left {
    width: 100%;
    height: auto;
    max-width: 300px;
  }
  
  .page-sub-header {
    background-image: url(/assets/img/login_sub_background_img.png);
    background-size: cover;
    width: 120%;
    height: 100%;
    position: absolute;
    top: 22em;
    right: 0em;
  }
  
  .header-filter:before {
    background: unset;
  }
  
  .login-page .form-control {
    border: 1px solid #999;
    padding: 2px 10px;
    height: 28px;
    width: 100%;
    max-width: 190px;
  }
  
  .loginBtn {
    padding: 0em;
    width: 100%;
    max-width: 190px;
    /* min-width: 190px; */
  }
  
  .loginBtn button {
    background: #BB428C;
    padding: 2px 2px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    min-height: 32px;
  }
  
  .login-page .seperator {
    border-right: 1px solid #C8157B73;
    margin-right: 2em;
  }
  
  .logo-top-cotainer {
    height: 40%;
    opacity: 0.5;
  }
  
  .logo-bottom-container {
    display: flex;
    justify-content: center;
  }
  
  .login-logo-top {
    width: 20%;
    transform: rotate(180deg);
  }
  
  .login-logo {
    width: 60%;
  }
  
  .bgWhiteClass {
    background-color: #fff;
  }
  
  .h-15 {
    height: 15%;
  }
  
  .h-85 {
    height: 85%;
  }
  
  .w-70 {
    width: 70%;
  }
  
  .h-100-52px {
    height: calc(100% - 52px);
  }
  
  .h-61px {
    height: 61px;
  }
  
  .h-65px {
    height: 65px;
  }
  
  .w-40 {
    width: 40%;
  }
  
  .w-75 {
    width: 75%;
  }
  
  .imgDummyClass {
    position: relative;
    bottom: 42px;
    /* max-width: 165px; */
  }
  
  .bottom_terms {
    bottom: 39px;
  }
  
  .form-container {
    width: 53%;
    padding-bottom: 5em;
    margin-bottom: 0em;
  }
  
  /* .image-responsive {
    width: 100%;
    height: 100%;
  } */
  
  /* .corporate-logo {
    max-width: 162px;
  } */
  
  /* .logo-header {
    max-width: 110px;
  } */
  
  .login-container .form-control {
    background-image: unset !important;
  }
  
  .hide-error {
    opacity: 0;
  }
  
  .show-error {
    opacity: 1;
  }
  
  .error {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: 400;
    min-width: 300px;
  }
  
  /* .corporate-logo img {
    height: 61px;
  } */
  
  /* .client-logo img {
    height: 88px;
  } */
  
  .w-55 {
    width: 55%;
  }
  
  .termsConditions{
    /* display: none; */
    position: absolute;
    top: 2px;
    right: 3px;
    width: 40%;
    /* height: 38%; */
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: 500;
    border-radius: 7px;
    color: #2a2a2a;
    overflow: auto;
    font-family: 'Open Sans';
  }
  
  a.trouble-signing-link:hover .termsConditions{
    display: block;
  }
  
  /* .termsConditions .close_terms {
    position: absolute;
    right: 0;
    font-size: 18px;
    cursor: pointer;
    top: 12px;
  } */
  
  .close_terms {
    padding: 3px 16px;
  }