.form-check .form-check-sign .check {
  width: 19px;
  height: 19px;
}

.card .form-check {
  margin-top: 0px;
}

.insideGrid {
  height: auto !important;
}

.all_check {
  display: inline-block;
  margin-top: -26px;
  margin-left: 11px;
  margin-bottom: 20px;
}

.no-margin-12 {
  margin-bottom: 0px !important;
  margin-top: -19px !important;
}

.check_box_cst {
transform: scale(1.5);
vertical-align: middle;
}

/* .th_style {
width: 53px;
} */

div.material-table .table-footer {
  height: 38px !important;
}

.table-header {
  display: inline-flex;
  z-index: 1;
  padding-bottom: 20px;
  padding-top: 20px;
}

.material-pagination {
  display: inline-flex;
}

/* 

tbody {
display: block;   
overflow-y: scroll;
max-height: calc(67vh - 120px);
min-height: calc(67vh - 120px);
}
thead, tbody tr {
display:table;
width:100%;
table-layout:fixed;
}
thead {
width: calc( 100% - 17px )
}
table {
width:100%;
} */

#common_table thead tr th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* text-align: center; */
  border: 1px solid #c6c6c6
}

#common_table tbody tr td {
  border: 1px solid #c6c6c6
}

#common_table tbody tr {
  /* text-align: center; */
}

#common_table tbody tr td span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


#common_table thead tr th:nth-child(1) {  
text-align:center;
padding: 3px 12px !important;
/* your stuff here */
}

#common_table tbody tr td:nth-child(1) {  
text-align:center;
padding: 3px 12px !important;
/* your stuff here */
}


table th {
padding: 0 14px 0px 5px !important;
position: sticky;
top: -1px;
color: white;
font-weight: normal;
z-index: 2;
text-align: center;
}

.dataTable>tbody>tr>td, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>td, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>thead>tr>th {
padding: 3px!important;
font-size: 13px;
color: rgba(0, 0, 0, 0.87);
}

.catalog-header {
  line-height: 30px;
}

.catalog-header-icon {
  top: unset;
  padding: 0 !important;
}

.font-13 {
  font-size: 13px !important;
  font-weight: 500;
}

table tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal !important;
}