<div class="modal-body" style="padding-left:6px; padding-right: 6px">
    <div class="card" style="box-shadow: none !important">
        <div class="card-header card-header-tabs card-header-rose new-header catalog-header font-13">
            <span title="Close" class="pull-right clickable close-new-icon catalog-header-icon" (click)="closeModel()"
                data-effect="fadeOut">
                <i class="fa fa-times"></i>
            </span> Magnifier popup
        </div>
        <div class="table-header">
            <!-- <input type="text" [id]="magDetails.filter_key" (keyup)="searchData()"
                [placeholder]="'Filter By '+magDetails.filter_key+' ....'" class="form-control insideGrid"> -->
            <input type="text" (keyup)="customFilter($event)" class="form-control insideGrid">
            <span style="padding-left:6px"> </span>
            <div class="actions">
            </div>

        </div>
        <div class="form-check all_check" *ngIf="allType">
            <label class="form-check-label padding-left-0">
                <input id="allCheck" type="checkbox" (click)="allCheck($event)" class="form-check-input">
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
                <span style="margin-left: 22px; margin-top: -2px;">All</span>
            </label>
        </div>

        <div *ngIf="magArray.length" id="datatable_wrapper" class="dataTables_wrapper no-footer " #tableData>
            <span *ngIf="no_dataFoud">No Data Found...</span>
            <div *ngIf="!no_dataFoud" style="height: 362px;overflow: auto;">
                <table class="dataTable no-footer " id="common_table">
                    <thead>
                        <tr>
                            <th [ngClass]="{'th_style': index==0}"
                                *ngFor="let column of dataColumnList;let index = index;">
                                <span *ngIf="index == 0">
                                    <input *ngIf="index==0 && magDetails.selection_type == 'multiple'"
                                        id="overAllMagCheck" type="checkbox" [disabled]="allDisabled"
                                        [checked]="overAll_check" class="check_box_cst"
                                        (change)="overallSelect();mainChecked()">

                                </span>
                                <span *ngIf="index != 0">{{column.split("_").join(" ") | titlecase}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of magArray; let rowIndex = index">
                            <td [ngClass]="{'th_style': columnIndex==0}"
                                *ngFor="let key of dataColumnList; let columnIndex = index;">
                                <span *ngIf="columnIndex == 0">

                                    <input type="checkbox" [disabled]="allDisabled" class="check_box_cst cursor"
                                        [checked]="item[key]" (change)="individualCheck(item,key);mainChecked()">
                                </span>
                                <span *ngIf="columnIndex != 0">{{item[key]}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <div>
                <span class="dataTables_info" id="datatable_info" role="status" aria-live="polite"
                    [innerHTML]="paginationDisplay()">
                </span>
                <span class="dataTables_paginate paging_simple_numbers" id="datatable_paginate" *ngIf="magArray.length">
                    <ul class="material-pagination">
                        <li><button class="btn btn-link" [disabled]="magArray[0]['pagination_id'] == first_index"
                                (click)="previous()"><i class="material-icons">chevron_left</i></button></li>
                        <li><button class="btn btn-link" id="next"
                                [disabled]="magArray[magArray.length-1]['pagination_id'] == totalData"
                                (click)="next()"><i class="material-icons">chevron_right</i></button></li>
                    </ul>
                </span>
                <input style="float: right;" [disabled]="no_dataFoud" class="btn btn-rose btn-sm ng-star-inserted"
                    type="submit" value="Apply" (click)="apply()">
            </div>







        </div>
        <div *ngIf="!magArray.length">No DataFound....</div>

    </div>
</div>