<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{title}}</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>

<div class="modal-body magnifier">
    <div class="row w-100 h-100 m-0 p-0">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 m-0 p-0">
            <div class="d-flex flex-column w-100 h-100">
                <div class="w-100 h-85">
                    <div class="w-100 h-100 d-flex flex-column">
                        <div class="h-5 d-flex w-100">
                            <div class="w-100 form-group bmd-form-group pb-1 m-0" >
                                <input id="filter" #filter  class="form-control"  (keyup)="tree.treeModel.filterNodes(filter.value)" placeholder="Search"/>
                            </div>
                            <div class="treeactions expand-collapse">
                                <a href="javascript:void(0)" (click)="expandCollapseFn()" data-toggle="modal" flow="down" data-placement="down" rel="tooltip" title="" class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" [attr.data-original-title]="mode == 'expand' ? 'Expand All': 'Collapse All'">
                                    <span [attr.tooltip]="mode == 'expand' ? 'Collapse All': 'Expand All'" class="tool_tip" flow="left">
                                        <i class="fa" [ngClass]="mode == 'expand' ? 'fa-compress': 'fa-expand'" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <ng-container *ngIf="treeSampleData">
                            <div class="w-100 h-95 treeBox">
                                <!-- <div style="height: 5%;" class="h-5 d-flex justify-content-end w-100">
                                    <div class="treeactions w-5">
                                        <a href="javascript:void(0)" (click)="expandCollapseFn()" data-toggle="modal" flow="down" data-placement="down" rel="tooltip" title="" class="modal-trigger waves-effect btn-flat nopadding table-header-action-icon" [attr.data-original-title]="mode == 'expand' ? 'Expand All': 'Collapse All'">
                                            <span [attr.tooltip]="mode == 'expand' ? 'Collapse All': 'Expand All'" class="tool_tip" flow="left">
                                                <i class="fa" [ngClass]="mode == 'expand' ? 'fa-compress': 'fa-expand'" aria-hidden="true"></i>
                                            </span>
                                        </a>
                                    </div>
                                </div> -->
                                <tree-root [focused] = "true" (updateData)="onUpdateData()" (activate)="onEvent($event)"  (deactivate)="onEvent($event)" #tree  [nodes]="treeSampleData" [options]="options">
                                    <ng-template #treeNodeTemplate let-node="node" let-index="index" >
                                        <i *ngIf="node.data.children == null" class="fa fa-file tree-file"></i>
                                        <span *ngIf="node.data.children != null" class="folder-icon">
                                            <i *ngIf="!node.isExpanded" class="fa fa-folder tree-file"></i>
                                            <i *ngIf="node.isExpanded" class="fa fa-folder-open tree-file"></i>
                                        </span>
                                        <span class="treeText globalContent">
                                            {{ node.data.field2 }}</span>
                                        </ng-template>
                                </tree-root>
                            </div>
                        </ng-container>
                    </div>
                </div>
                <div class="w-100 h-15">
                    <div class="modal-footer dv-center">
                        <button type="button" class="btn btn-rose btn-sm" (click)="btnSubCan('submit')">Ok</button>&nbsp;
                        <button type="button" class="btn btn-rose btn-sm" (click)="btnSubCan('cancel')">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
