.treeBox{
    overflow: auto;
    border: 1px solid #ccc;
}
.h-7{
    height: 7%;
}
.h-15{
    height: 15%;
}
.h-85{
    height: 85%;
}
.h-95{
    height: 95%;
}

.w-5{
    width: 5%;
}
.w-95{
    width: 95%;
}

.treeactions {
    padding: 4px 9px;
}
.treeoverFlowAuto{
    overflow:auto;
}

.treeactions a {
    min-width: 36px;
    padding: 0 3px;
    color: #999;
}
.treeText{
    font-size: 13px;
    padding-left: 3px;
    font-weight: 400;
}

.expand-collapse {
    position: absolute;
    right: 2%;
    top: 9%;
    z-index: 1;
}

.btn.btn-rose, .btn.btn-rose:active, .btn.btn-rose:visited {
    color: #4a4a4a;
    font-weight: 600;
    background-color: unset;
    border: 1px solid #ccc;
    box-shadow: unset;
    font-size: 14px;
    /* line-height: unset; */
    font-family: 'Open Sans', sans-serif;
    padding-left: 16px;
    padding-right: 16px;
}

.folder-icon {
    position: relative;
    left: -16px;
    z-index: 0;
    margin-right: -14px;
}

.folder-icon i {
    color: var(--content-color) !important;
    font-size: 12px !important;
}