.togglebutton label input[type="checkbox"]:checked+.toggle:after {
  border: 2px solid;
  margin-top: -1px;
}

.togglebutton label input[type="checkbox"]:checked+.toggle {
  background-color: var(--content-color) !important;
}

.link-background {
  color: var(--content-color) !important;
  background-color: transparent;
  text-decoration: none;
}

.inside-grid {
  margin-left: 10px !important;
}

.row-height {
  line-height: 9px;
}

.btn-cls {
  margin-left: 3px !important;
}

.textarea {
  min-height: 150px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;

}

.form-check .form-check-label .circle {
  top: -2px;
}


.form-check .form-check-input:checked~.circle {
  border: var(--border-btn-color);
}

.form-check .form-check-label .circle .check {
  background-color: var(--border-btn-color);
}

.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}

.form-check .form-check-sign .check {
  width: 14px;
  height: 14px;
  border: 1px solid #fff;
}

.form-check .form-check-sign:before {
  width: 16px;
  height: 16px;
}

.form-check .form-check-sign .check:before {
  margin-top: -5px;
  margin-left: 5px;
  top: -1px;
}

.card .form-check {
  margin-top: 0px;
}


.textarea-field {
  width: 100%;
  /* height: 90px !important; */
  padding: 12px;
  border-radius: 5px;
  border: solid 1px #ddd;
  font-size: 12px;
  margin-top: 12px;
}

.textarea-field::placeholder {
  font-size: 14px;
}

.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}

.form-check .form-check-label .circle {
  top: -2px;
}

.h-55 {
  height: 55% !important;
}

.inlineEditTable tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal;
}


.disable {
  cursor: not-allowed;
}

.condition-font {
  font-size: 13px;
  font-weight: 400;
  font-family: 'Open Sans';

}

.cursorpointer {
  cursor: pointer
}

.uline {
  -webkit-text-decoration-line: underline; /* Safari */
  text-decoration-line: underline; 
}

