<div class="card-body p-0 material-table" id='card-body'>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">
        <ng-container *ngIf="showFilter">
          <app-smart-table [tableDatails]="tableDetail" [resetModel]="resetModel" [tableDatas]="ngxTableConfig"
            (eventType)="tableAction($event)"></app-smart-table>
        </ng-container>
        <ng-container *ngIf="addPolicy">
          <div class="d-flex flex-column h-100 w-100">
            <div *ngIf="pageView != 'add' && pageView != 'copy'" class="flag"
              [ngStyle]="backGroundFlag(editData.recordIndicator)">
              {{editData.recordIndicatorDesc}}
            </div>
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label class="tab_label" [ngClass]="'active show'">

                  <a href="javascript:void(0)" (click)="backToHmpage();"><i
                      class="material-icons forwardIcon">forward</i></a>
                  <span>Policy Setup</span>
                </label>
              </div>
            </div>
            <div class="h-94 w-100">
              <div class="d-flex flex-column  w-100 h-100">
                <div [ngClass]="pageView == 'view' ? 'pointerDisable' : ''" class="h-90 mainPadd12">
                  <div class="tab-content h-100 mt-2 position-relative">
                    <div class="tab-pane-fade tabMargin fadeIn h-100">
                      <div class="row h-100 m-0">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0">
                          <form class="h-50 mb-0" [formGroup]='policySetupForm'>
                            <div class="row">
                              <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-row">
                                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0">Policy Type <span
                                          class="text-danger">*</span></label>
                                      <ng-select class="selectpicker" appendTo="body" formControlName="policyType"
                                        (change)="targetTableChange($event)">
                                        <ng-container *ngFor="let data of policyTypeList">
                                          <ng-option value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
                                        </ng-container>
                                      </ng-select>
                                      <div class="line"></div>
                                      <div
                                        *ngIf="policySetupForm.get('policyType').invalid && (policySetupForm.get('policyType').dirty || policySetupForm.get('policyType').touched)"
                                        class="alert-std">
                                        <div *ngIf="policySetupForm.get('policyType').errors.required">
                                          Policy Type required.
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0">Event Frequency <span
                                          class="text-danger">*</span></label>
                                      <ng-select class="selectpicker" appendTo="body" formControlName="eventFrequencey">
                                        <ng-container *ngFor="let data of   eventFrequenceyList">
                                          <ng-option value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
                                        </ng-container>
                                      </ng-select>
                                      <div class="line"></div>
                                      <div
                                        *ngIf="policySetupForm.get('eventFrequencey').invalid && (policySetupForm.get('eventFrequencey').dirty || policySetupForm.get('eventFrequencey').touched)"
                                        class="alert-std">
                                        <div *ngIf="policySetupForm.get('eventFrequencey').errors.required">
                                          Event Frequency required.
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="form-row">
                                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0">Policy ID <span
                                          class="text-danger">*</span></label>
                                      <input type='text' class="form-control" placeholder="" formControlName='policyId'
                                        (keydown.space)="$event.preventDefault();" maxlength="8" />
                                      <div class="line"></div>
                                      <div
                                        *ngIf="policySetupForm.get('policyId').invalid && (policySetupForm.get('policyId').dirty || policySetupForm.get('policyId').touched)"
                                        class="validation-error">
                                        <div *ngIf="policySetupForm.get('policyId').errors.required">
                                          Policy ID required.
                                        </div>
                                        <div *ngIf="policySetupForm.get('policyId').errors.pattern">
                                          No Whitespace.
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0">Description<span
                                          class="text-danger">*</span> </label>
                                      <input type='text' class="form-control" placeholder="" maxlength="45"
                                        formControlName='policyDescription' />
                                      <div class="line"></div>
                                      <div
                                        *ngIf="policySetupForm.get('policyDescription').invalid && (policySetupForm.get('policyDescription').dirty || policySetupForm.get('policyDescription').touched)"
                                        class="alert-std">
                                        <div *ngIf="policySetupForm.get('policyDescription').errors.required">
                                          Description required.
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-row">
                                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group bmd-form-group pl-0">

                                      <app-custom-date-picker class="form-control" 
                                      formControlName='startDate' 
                                        (click)="changeDate($event)" [min]="min_startdate">
                                      </app-custom-date-picker>

                                      <label class="bmd-label-static pl-0">Start Date <span
                                          class="text-danger">*</span></label>
                                      <div class="line"></div>

                                      <div
                                        *ngIf="policySetupForm.get('startDate').invalid && (policySetupForm.get('startDate').dirty || policySetupForm.get('startDate').touched)"
                                        class="alert-std">
                                        <div *ngIf="policySetupForm.get('startDate').errors.required">
                                          Start Date is required.
                                        </div>

                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                    <div class="form-group bmd-form-group pl-0">

                                      <app-custom-date-picker class="form-control" formControlName='endDate'
                                      (ngModelChange)="changeDate($event)"
                                        [min]="min_startdate">
                                      </app-custom-date-picker>
                                      <label class="bmd-label-static pl-0">End Date </label>
                                      <div class="line"></div>
                                      <div  *ngIf="err!=''"  class="alert-std">
                                        * End date Should be greater than Start date
                                    </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="form-row">

                                  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0">Connector ID <span
                                          class="text-danger">*</span></label>
                                      <ng-select class="selectpicker" appendTo="body" formControlName='connectorId'>
                                        <ng-container *ngFor="let data of connectorTypeList">
                                          <ng-option value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
                                        </ng-container>
                                      </ng-select>
                                      <div class="line"></div>
                                      <div
                                        *ngIf="policySetupForm.get('connectorId').invalid && (policySetupForm.get('connectorId').dirty || policySetupForm.get('connectorId').touched)"
                                        class="alert-std">
                                        <div *ngIf="policySetupForm.get('connectorId').errors.required">
                                          Connector ID required.
                                        </div>

                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 ">
                                    <div class="form-group bmd-form-group pl-0">
                                      <label class="bmd-label-static mb-0 pl-0 ">Objects/Tables</label>
                                      <input type='text' class="form-control" placeholder=""
                                        formControlName='objecttables'
                                        (click)="openMagniferData('Objects/Tables')" />
                                    </div>
                                  </div>

                                  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">

                                    <div class="form-group bmd-form-group pl-0 ">
                                      <div class="togglebutton">
                                        <label class="globalContent">
                                          Policy Status
                                          <input type="checkbox" formControlName='policyStatus'>
                                          <span class="toggle"></span>
                                        </label>
                                      </div>

                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                          <div *ngIf="policySetupForm.get('policyType').value.toUpperCase() == 'PURGE'"
                            class="material-table h-50">
                            <div class="h-95">
                              <perfect-scrollbar>

                                <table id="table" class="inlineEditTable table">
                                  <thead>
                                    <tr>
                                      <th class="text-center" style="width: 1% !important;">
                                        <input [disabled]="pageView =='view'" type="checkbox" [(ngModel)]="isMasterSel"
                                          [name]="isMasterSel" value="h1" (change)="checkUncheckAll()" />
                                      </th>
                                      <th style="width: 10% !important;">Purge Order </th>
                                      <th style="width: 20% !important;"> Table Name</th>
                                      <th style="width: 12% !important;"> Purge Type</th>
                                      <th style="width: 7% !important;"> Purge Status </th>
                                      <th style="width:7% !important;"> Where Condition</th>
                                    </tr>
                                  </thead>
                                  <div class="no-data"
                                    *ngIf="maginerfiervalues?.length === 0 || maginerfiervalues ==null">No Records
                                    Found</div>
                                  <tbody class="global_form_Array" cdkDropList (cdkDropListDropped)="swap($event)">
                                    <tr cdkDrag *ngFor="let column3 of maginerfiervalues; let i = index;">
                                      <td class="text-center">
                                        <input [disabled]="pageView =='view'" type="checkbox"
                                          [(ngModel)]="column3.isSelected" [name]="isSelected" value="{{column3.id}}"
                                          (change)="isAllSelected()" />
                                      </td>
                                      <td class='handle'>
                                        {{ i+1 }}
                                      </td>
                                      <td class='handle'>
                                        <input [disabled]="pageView =='view'" type="text" disabled [name]="columnNine"
                                          class="form-control insideGrid" maxlength="30"
                                          [(ngModel)]="column3.columnNine">
                                      </td>
                                      <!-- <td class='handle'>
                                        <input type="text" disabled class="form-control insideGrid" maxlength="30"
                                          [(ngModel)]="column3.purgeTableName">
                                      </td> -->
                                      <td>
                                        <div class="form-row fieldRow">
                                          <div
                                            class="form-group col-md-12 bmd-form-group criterial-select field-select">
                                            <ng-select [disabled]="pageView =='view'" class="form-new-control"
                                            (change)="purgeTypeChange($event)"
                                              [name]="purgeType" appendTo="body" [(ngModel)]="column3.purgeType">
                                              <ng-container *ngFor="let data of purgetypelist">
                                                <ng-option value="{{data.purgeId}}"> {{data.description}}</ng-option>
                                              </ng-container>
                                            </ng-select>
                                          </div>
                                        </div>
                                      </td>



                                      <td class="togglebutton text-center">
                                        <label class="globalContent  inside-grid">
                                          <input [disabled]="pageView =='view'" id="check" type="checkbox"
                                            [(ngModel)]="column3.policyPurgeStatus" [name]="policyPurgeStatus"
                                            [checked]="column3.policyPurgeStatus" />
                                          <span class="toggle"></span>
                                        </label>


                                      </td>
                                      <td *ngIf="column3.showwherecondition"
                                        class="link-background">
                                        <p [disabled]="pageView =='view'" class="m-0"><a
                                            class='inside-grid condition-font cursorpointer' (click)="whereCdt(column3)">Condition</a>
                                        </p>

                                      </td>
                                      <td *ngIf="!column3.showwherecondition" class="link-background">

                                      </td>
                                    </tr>

                                  </tbody>

                                </table>


                              </perfect-scrollbar>

                            </div>
                          </div>


                          <div *ngIf="policySetupForm.get('policyType').value.toUpperCase() == 'ARCHIEVE'"
                            class="material-table h-50">
                            <div class="h-95">
                              <perfect-scrollbar>
                                <table class="inlineEditTable">
                                  <thead>
                                    <tr>
                                      <th class="text-center " style="width: 1% !important;">
                                        <input [disabled]="pageView =='view'" type="checkbox" [(ngModel)]="isMasterSel"
                                          [name]="isMasterSel" value="h1" (change)="checkUncheckAll()" />
                                      </th>
                                      <th style="width: 7% !important;">Archieve Order </th>
                                      <th style="width: 20% !important;"> Table Name</th>
                                      <th style="width: 20% !important;"> Archieve Table Name </th>
                                      <th style="width: 12% !important;"> Archieve Type</th>
                                      <th style="width: 7% !important;"> Archieve Status </th>
                                      <th style="width: 8% !important;"> Where Condition</th>
                                    </tr>
                                  </thead>

                                  <div class="no-data"
                                    *ngIf="maginerfiervalues?.length === 0 || maginerfiervalues ==null">No Records
                                    Found</div>
                                  <tbody *ngIf="maginerfiervalues?.length > 0" class="global_form_Array" cdkDropList
                                    (cdkDropListDropped)="swap($event)">

                                    <tr cdkDrag *ngFor="let column of maginerfiervalues; let i = index;">
                                      <td class="text-center">
                                        <input type="checkbox" [disabled]="pageView =='view'"
                                          [(ngModel)]="column.isSelected" name="column.{{i}}.isSelected"
                                          value="{{column.id}}" (change)="isAllSelected()" />
                                      </td>
                                      <td> {{i+1}}</td>
                                      <td class='handle'>
                                        <input type="text" disabled class="form-control insideGrid" maxlength="30"
                                          name="column.{{i}}.columnNine" [(ngModel)]="column.columnNine">
                                      </td>
                                      <td class='handle'>
                                        <input disabled [name]="archiveTableName" name="column.{{i}}.archiveTableName"
                                          [(ngModel)]="column.archiveTableName" type="text"
                                          class="form-control insideGrid" maxlength="30">
                                      </td>


                                      <td>
                                        <div class="form-row fieldRow">
                                          <div
                                            class="form-group col-md-12 bmd-form-group criterial-select field-select">
                                            <ng-select [disabled]="pageView =='view'" class="form-new-control"
                                              appendTo="body" (change)="archieveTypeListOnChange($event)"
                                              name="column.{{i}}.archiveType" [(ngModel)]="column.archiveType"
                                              appendTo="body">
                                              <ng-container *ngFor="let data of archievetypelist">
                                                <ng-option value="{{data.archieveId}}"> {{data.description}}</ng-option>
                                              </ng-container>
                                            </ng-select>
                                          </div>
                                        </div>
                                      </td>



                                      <td class="togglebutton text-center">
                                        <label class="globalContent  inside-grid">
                                          <input [disabled]="pageView =='view'" id="check" type="checkbox"
                                            name="column.{{i}}.policyArchiveStatus"
                                            [(ngModel)]="column.policyArchiveStatus"
                                            [checked]="column.policyArchiveStatus" />
                                          <span class="toggle"></span>
                                        </label>
                                      </td>
                                      <td *ngIf="column.showwherecondition" class="link-background">
                                        <p [disabled]="pageView =='view'" class="m-0 uline">
                                          <a class='inside-grid condition-font cursorpointer  ' (click)="whereCdt(column)">Condition
                                          </a>
                                        </p>
                                      </td>
                                      <td *ngIf="!column.showwherecondition"></td>
                                    </tr>

                                  </tbody>
                                </table>
                              </perfect-scrollbar>

                            </div>
                          </div>


                          <div *ngIf="policySetupForm.get('policyType').value.toUpperCase()== 'OPTIMIZE'"
                            class="material-table h-50">
                            <div class="h-95">
                              <perfect-scrollbar>

                                <table class="inlineEditTable">
                                  <thead>
                                    <tr>
                                      <th [disabled]="pageView =='view'" class="text-center"
                                        style="width: 1% !important;">
                                        <input type="checkbox" [(ngModel)]="isMasterSel" [name]="isMasterSel" value="h1"
                                          (change)="checkUncheckAll()" />
                                      </th>
                                      <th style="width: 7% !important;">Optimize Order </th>
                                      <th style="width: 14% !important;"> Table Name</th>
                                      <th style="width: 5% !important;"> Optimize Type</th>
                                      <th style="width: 5% !important;"> Optimize Status </th>
                                    </tr>
                                  </thead>
                                  <div class="no-data"
                                    *ngIf="maginerfiervalues?.length === 0 || maginerfiervalues ==null">No Records
                                    Found</div>
                                  <tbody class="global_form_Array" cdkDropList (cdkDropListDropped)="swap($event)">


                                    <tr cdkDrag *ngFor="let column2 of maginerfiervalues; let i = index;">
                                      <td [disabled]="pageView =='view'" class="text-center">
                                        <input type="checkbox" [(ngModel)]="column2.isSelected" [name]="isSelected"
                                          value="{{column2.id}}" (change)="isAllSelected()" />
                                      </td>
                                      <td class='handle'>
                                        {{i + 1}}
                                      </td>
                                      <td class='handle'>
                                        <input type="text" [name]="columnNine" disabled class="form-control insideGrid"
                                          maxlength="30" [(ngModel)]="column2.columnNine">
                                      </td>
                                      <td>
                                        <div class="form-row fieldRow">
                                          <div
                                            class="form-group col-md-12 bmd-form-group criterial-select field-select">
                                            <ng-select [disabled]="pageView =='view'" [name]="optimizeType"
                                              class="form-new-control" appendTo="body"
                                              [(ngModel)]="column2.optimizeType">
                                              <ng-container *ngFor="let data of optimizationtypelist">
                                                <ng-option value="{{data.optimizeId}}"> {{data.description}}</ng-option>
                                              </ng-container>
                                            </ng-select>
                                          </div>
                                        </div>
                                      </td>


                                      <td class="togglebutton text-center">
                                        <label class="globalContent  inside-grid">
                                          <input [disabled]="pageView =='view'" id="check" type="checkbox"
                                            [name]="policyOptimizeStatus" [(ngModel)]="column2.policyOptimizeStatus"
                                            [checked]="column2.policyOptimizeStatus" />
                                          <span class="toggle"></span>
                                        </label>


                                      </td>
                                      <!-- <td class='handle'>

                                          <app-custom-date-picker class="form-control" [(ngModel)]="column2.nextRunDate" [min]="min_startdate">
                                          </app-custom-date-picker>

                                        </td> -->

                                    </tr>

                                  </tbody>
                                </table>
                              </perfect-scrollbar>
                            </div>
                          </div>


                        </div>

                      </div>
                    </div>
                  </div>
                </div>

                <div class="h-10 w-100">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                      <div>
                        <!-- <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                          *ngIf="pageView == 'view'" (click)="onSubmit('first')"><i class="fa fa-angle-double-left"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>

                        <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                          *ngIf="pageView == 'view'" (click)="onSubmit('previous')"><i class="fa fa-angle-left"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button> -->

                        <button *ngIf="addBtn && globalService.pageLevelAccess.profileAdd == 'Y'  && 
                        (pageView != 'view')" type="button" class="btn btn-sm btn-rose btn-outline-dark"
                          (click)="saveNewPolicySetup('save')">Save</button>
                        <button *ngIf="editBtn && globalService.pageLevelAccess.profileModify == 'Y' && 
                        (pageView != 'view')" type="button" class="btn btn-sm btn-rose btn-outline-dark"
                          (click)="saveNewPolicySetup('modify')">Modify</button>
                        <button *ngIf="pageView != 'view'" type="button"
                          class="btn btn-sm btn-rose btn-outline-dark btn-cls" (click)="backToHmpage();">Cancel</button>


                        <!-- <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                          class="btn btn-rose btn-sm" (click)="onSubmit('next')"><i class="fa fa-angle-right"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button>
                        <button *ngIf="pageView == 'view'" type="submit" [disabled]="disableButton('last')"
                          class="btn btn-rose btn-sm" (click)="onSubmit('last')"><i class="fa fa-angle-double-right"
                            aria-hidden="true"></i>
                          <div class="ripple-container"></div>
                        </button> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </ng-container>


      </div>
    </div>
  </div>
</div>