<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Table Columns</h4>
  <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>
<div class="modal-body pad h-95">

  <div class="material-table h-90">
    <div class="table-responsive h-94">
      <perfect-scrollbar >

        <table id="table" class="inlineEditTable table">
          <thead>
            <tr>
              <th class="text-center" style="width: 5% !important;">
                <input type="checkbox" [(ngModel)]="isMasterSel" name="list_name" value="h1"
                  (change)="checkUncheckAll()" />
              </th>
              <th style="width: 10% !important;">Column </th>


            </tr>
          </thead>
          <div class="no-data" *ngIf="tablecolumnvalues.length==0">No Records Found</div>
          <tbody>


            <tr *ngFor="let column3 of tablecolumnvalues; let i = index;" class="row-height">
              <td class="text-center">
                <input type="checkbox" [(ngModel)]="column3.isSelected" name="list_name" value="{{column3.id}}"
                  (change)="isAllSelected()" />
              </td>
              <td>

                {{ column3.columnName }}

              </td>

            </tr>

          </tbody>

        </table>


      </perfect-scrollbar>

    </div>
  </div>



</div>
<div class="modal-footer text-center pb-2 mt-2">
  <button type="button" class="btn btn-secondary btn-rose btn-sm margin-right-15"
    (click)="saveSelectingColumns()">Save</button>
  <button type="button" class="btn btn-secondary btn-rose btn-sm" (click)="closeModal()" data-dismiss="modal">
    Cancel
  </button>
</div>
