.sample-container{
  display:grid;
  grid-template-columns: 1fr;
}
.sample-text{
  color: black;
  font-size: 20px;
  text-align:center;
}
.sample-close{
  text-align:center;
}
.sample-close button{
  width: 200px;
  height: 200px;
  color: tomato;
}
.pad{
  padding-top: 4px !important;
}

.h-94{
  height: 94%
}


