.minmax {
  transform: none !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 2 !important;
  max-width: 100% !important;
  position: absolute;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  border-radius: 0 !important;
  right: 0 !important;
  background-color: white;
  padding: 0px !important;
  border: unset !important;
}

.width0 {
  width: 0%;
  display: none;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.width80 {
  width: 77% !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.width20 {
  width: 23% !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border: 1px solid #ededed;
  border-right: unset;
}

.width90 {
  width: 95%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.width100 {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.widthtree {
  width: 20%;
}

.clo-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.clo-md-10 {
  flex: 0 0 80%;
  max-width: 80%;
}

gridster {
  padding: 3px !important;
}

.row-new-btn {
  display: flex;
  margin-left: 220px;
  width: 1px;
  height: 50px;
}

.row2 {
  height: 50 !important;
}

.btn {
  background-color: white;
}

.row-new-btn-expand {
  display: flex;
  margin-left: 860px;
  width: 1px;
  height: 50px;
}

.gridster-item {
  margin: 0px !important;
  padding: 0px !important;
  transition: none !important;
}

.gridster-container {
  display: flex;
  flex-direction: column;
}

.gridster-body {
  width: 100%;
  height: 100%;
  position: relative;
  /* overflow: auto; */
}

.gridster-box {
  border: 2px solid #ededed;
  /* overflow-y: scroll;
  overflow-x: scroll; */

  height: 20px;
  width: 1200px;
}



.maximizeComp gridster-item {
  background-color: transparent !important;
  overflow: unset !important;
}
.gridheader {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* position: sticky; */
  /* overflow: hidden; */
  /* top: 0;
  bottom: 0; */
  z-index: 11;
  font-weight: bold;
  font-size: 100;
  width: 100%;
  background-color: white;
  /* border-bottom: 1px solid grey !important; */
}

.direction{
  flex-direction: row !important;
}
.block-icons {
  display: flex;
  background: #464646;
}

.action_icon {
  position: absolute;
  right: 3px;
  align-items: center;
  font-size: large;
  color: grey;
}

.action_icon_maximize {
  /* position: absolute;
  right: 3px; */
  align-items: center;
  font-size: large;
  /* color: grey; */
  /* margin-right: 40px !important; */
  display: flex;
  padding: 0 2px;
  color: #4a4a4a;
  font-size: 13px;
  margin-right: 2px;
  border-radius: 3px;
  font-weight: normal;


}



#d3RenderId  .svgTransHeader {
  width: 100%;
  height: 30px;
  border-bottom: 1px solid #ccc;
  font-size: 11px;
}
.margin {
  margin: 6px !important;
}

.widthgridster {
  width: 200px;
  height: 80px;
  /* overflow: visible; */
}

.h-48 {
  height: 48%;
}

.h-97 {
  height: 97%;
}

.w-47 {
  width: 47%;
}

.h-93 {
  height: 93%;
}

.icon-style-inside {
  margin-right: 5px;
  width: 20px;
  height: 15px;
}

.icon-style-top {
  margin-right: 15px;
  margin-left: 5px;
  font-size: 20px;
}

.d-flex {
  display: flex;
}

table th {
  background: grey;
  padding: 0px 5px;
  height: 21px;
}

.top-btn {
  align-items: right;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.list-class {
  margin-top: 25%;
  margin-left: 25px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.header_label {
  border-bottom: 1px solid #ccc !important;
  font-weight: 500;
  color: #2a2a2a;
  font-size: 13px;
}
.source-endpoint svg * {
  fill: transparent;
  stroke: transparent;
}
.disabled {
  cursor: not-allowed;
}
.header {
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  background-color: white !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

.jtk-demo-canvas {
  overflow: visible !important;
  position: absolute !important;
  width: 100%;
  height: 100%;
}

/* .zoomRootDiv{

}
 .zoomBoxDiv {
}
.zoomsubRootDiv{

}
.zoomoutsideRootDiv{

}
.zoomoutsidesubRootDiv{

} */

.toggle-icons {
  color: #4a4a4a;
  margin-left: -12px;
  font-size: 28px;
  margin-top: -2px;
}

.gidster-parent {
  border: 1px solid #ededed;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
  overflow: hidden;
}

.relative {
  position: relative;
}

.underline {
  /* text-decoration: none; */
  margin-bottom: 0;
  padding-left: 0;
}

.underline li {
  /* display: flex; */
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  padding: 0 10px;
  background: #efefef;
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 400;
}

.box-label {
  /* padding: 5px;
  padding-top: 2px;
  padding-bottom: 5px; */
  font: 600 14px/15px "Open Sans", sans-serif;
  color: black;
}

.global-icons {
  font-size: 18px;
  color: #4a4a4a;
  cursor: pointer;
}



.fixed-plugin.shadow-imp {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.outside-click .dropdown-toggle:after {
  display: none !important;
}


.dropdown-menu .fixed-plugin {
  box-shadow: none;
  width: unset;
  left: unset;
  right: unset;
  position: relative;
  padding: 0;
  margin: 0;
}



.triangleUp::after,
.triangleUp:before {
  top: -1px;
}

gridster-item.active-item {
  z-index: 100 !important;
}

table tr td {
  color: #2a2a2a;
  font-weight: 400;
  padding: 0px 5px;
  border-bottom: 1px solid #e9e9e9;
  max-width: 90px;
}

/* .outside-click {
  margin-right: 10px;
} */

.background-white {
  background: #fff;
}

.gridster-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: none;
}

.gridster-body:hover::-webkit-scrollbar {
  background: #ececec;
}

.gridster-body::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 20px;
}

.gridster-body:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* gridster-item:hover {
  border: 2px dotted #ccc;
} */

.er-icons [tooltip]::after {
  background: #343434 !important;
}

/* .table-icons {
  position: absolute;
  top: -26px;
} */
.modal-xl .modal-sm {
  height: 10% !important;
}

.table-icons span {
  cursor: pointer;
  color: #938989;
  font-size: 14px;
}
.ico-top-pos-slide1 {
  position: absolute;
  top: 45%;
  left: 1px;
  color: #717575;
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
}
.h-24px {
  height: 24px;
}
.h-100-24px {
  height: calc(100% - 24px);
}

.unset-overflow {
  border: 2px solid #717575;
  overflow: unset;
}
.overFlowHidden {
  overflow: hidden;
}

.cdk-drag:not(.cdk-drag-dragging) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.leftIconGrid,
.rightIconGrid {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 50%;
  z-index: 1000;
  background: #fff;
  border-radius: 50%;
  border: 1px solid;
}
.leftIconGrid i,
.rightIconGrid i {
  font-size: 17px !important;
}
.leftIconGrid {
  left: -7px;
}
.rightIconGrid {
  right: -7px;
}
.mainBoxGrid {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.z-10 {
  z-index: 10 !important;
}

.h-10 {
  height: 10%;
}
.h-iconspx {
  height: 25px;
}
.h-100-25px {
  height: calc(100% - 25px);
}
.jtk-overlay.edgeLabel {
  background-color: #2a2a2a !important;
}
.mwd300 {
  max-width: 300px;
}

.nomargin {
  margin: 0 !important;
}


/* .flex-con-row {
  height: 100%;
} */

.nopadding-top {
  padding-top: 0 !important;
}

.align_left {
  text-align: left !important;
}

.align_right {
  text-align: right !important;
}

.close-parent {
  position: relative;
}

.hide_image {
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
  top: 12px;
  z-index: 10001;
}

::ng-deep .tree-root1 .node-content-wrapper:hover {
  box-shadow: none !important;
  background: none !important;
}

.second-layer {
  z-index: 1001;
}

.mini_view {
  width: 14px !important;
  height: 14px !important;
}

.ico-close {
  font-size: 8px;
  position: absolute;
  top: 8px;
  left: 10px;
  color: red;
}

.nopadding {
  padding: 0 !important;
}

.paddingFive {
  padding: 0px 3px;
  color: #c4c0c0 !important;
}

.paddingFive i:hover {
color: #c4c0c0 !important;
}

.card-header.read-header,
.card-header.write-header {
  display: flex;
  margin-top: 0 !important;
}

.read-title,
.write-title {
  padding: 0 5px !important;
  font-size: 12px;
  line-height: 2;
  flex-grow: 1;
}

.read-title+.card-body,
.write-title+.card-body {
  padding: 0;
}

gridster {
  background: #fff;
  padding: 7px !important;
}

gridster-item {
  overflow: unset !important;
  transition: none !important;
}


/* ::ng-deep gridster .gridster-row {
  border-top: 1px solid #ffffff03 !important;
  border-bottom: 1px solid #fff0 !important;
}

::ng-deep gridster .gridster-column {
  border-left: 1px solid #ffffff03 !important;
  border-right: 1px solid #68343403 !important;
} */



/* .jtk-demo-main {
overflow: auto !important;
} */

.example-list {
  width: 100%;
  max-width: 100%;
  border: solid 1px #ccc;
  min-height: 60px;
  display: block;
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.disableRedo {
  pointer-events: none !important;
  color: red !important;
}

.displayNone {
  display: none;
}


/* gridster::-webkit-scrollbar {
  width:2em;
} */

.example-box {
  padding: 20px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.noborder tbody tr td {
  border: none !important;
}

.lookupcolumn ::ng-deep .ng-dropdown-panel.ng-select-top {
  bottom: unset;
}

.hidden {
  visibility: hidden;
  display: block !important;
}

.lookupcolumn ::ng-deep .ng-dropdown-panel.ng-select-top .scroll-host {
  max-height: 126px !important;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.lookupTd {
  position: relative;
}

.lookupTd>.lookupSpanTable {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.blur {
  filter: blur(2px);
}


/* .dFlex{
display:flex;
}
.pos_minCan{
position: absolute;
right:0px;
} */

gridster-item {
  z-index: 15;
}


/* .bg-grey{
  height: 100% !important;
} */

.mini_view {
  z-index: 28;
}

.full-screen {
  right: 1px;
}

.font13 {
  font-size: 13px !important;
}

.preview_table td {
  padding-top: 0;
  padding-bottom: 0;
}

.hide-preview-pane {
  /* position:fixed;  */
  z-index: 30;
}

.hide-preview-pane1 {
  z-index: 30;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.container_minc {
  overflow: auto;
  height: calc(100% - 52px);
  width: 100%;
  scrollbar-width: none;
}

.header_drag_table {
  color: var(--content-color);
  cursor: move;
}


/* .header_title_table{
display: flex;
} */


/* .tab_icon_hide{
height:31px;
} */

.jtk-demo-canvas {
  overflow: visible !important;
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.minusDisplayNone {
  background: #fff !important;
}

.in-out-title .minusDisplayNone {
  position: absolute;
}

.faTimescloseRows {
  font-size: 11px;
  font-weight: 100;
}

.expand-colapse {
  position: absolute;
  right: 15px;
  top: 2px;
}


/* .selectedNode {
  color: var(--content-color) !important
} */

.selectedInnerNode {
  /* border: dashed 1px #9fa2a3 !important; */
  font-weight: 600;
}

.normalNode {
  /* color: #373737 !important;
  border-radius: 2px;
  border: dashed 1px #e5f3f5; */
  margin-left: 2px;
  padding: 2px;
}

.show_reco {
  display: flex;
  font-size: 12px;
  font-weight: 500;
  top: 3px !important;
}

.label-pad {
  margin-right: 15px;
}

.total_list {
  margin-left: 10px;
}

.bootstrap-select {
  width: 18px !important;
  height: 22px !important;
  /* margin: 4px; */
  margin-top: -10px;
  margin-right: 10px;
}

.h-90 {
  height: 90%;
}

.h-65 {
  height: 46vh;
}

.tool-box1 {
  z-index: 99999 !important;
}

input[type='radio'] {
  position: absolute;
}

input[type='radio']+label {
  padding-left: 15px !important;
  z-index: 999;
  cursor: pointer;
}


/* ::ng-deep .tree-root .toggle-children-wrapper {
  pointer-events: none !important;
} */

.drag_table .container_min>table>tbody>tr>td:last-of-type {
  border: 1px solid;
  border-bottom: solid 1px #ccc;
}

.port-div {
  height: calc(100% - 11px);
  overflow: auto;
  position: relative;
}

.disabled {
  color: #c8c8c8;
  pointer-events: none;
  cursor: no-drop;
}

.errorTable {
  border: 2px solid red !important;
}

.exRootLook ::ng-deep path {
  cursor: pointer;
  fill: white!important;
}

.h-70 {
  height: 70%;
}

.material-icons {
  max-width: 17px;
}

.dropdrag-box-item {
  cursor: pointer;
}

.dropdrag-box-item.is-touched {
  background-color: #eee;
  /* color: #fff; */
}

virtual-scroller {
  width: 100%;
  height: 200px;
  border: solid 1px #ccc;
  margin: 0;
}

/* .popup-sub-title {
  background: #00bcd4;
  color: #fff;
  margin: 0;
  padding: 4px 15px;
} */


/* .play {
  right: 70px;
} */

.action_icon>div {
  padding: 0 2px;
  color: #999;
  font-size: 16px;
  margin-right: 2px;
  border-radius: 3px;
  font-weight: normal;
}

.action_icon>div>div:hover {
  color: #999;
}

.orange {
  color: orange;
}

.grey {
  color: #c2c0c0 !important;
  ;
}

.pointer_none {
  pointer-events: none !important;
}

#nameChange {
  max-height: 30%;
  padding-top: 3px;
  padding-bottom: 3px;
}

#nameContentChange {
  position: relative;
}

.action_icon {
  position: absolute;
  right: 0px;
  align-items: center;
}

.paddingRight30 {
  padding-right: 30px;
  position: relative;
}

.showmapp {
  position: absolute;
  right: 36px;
  top: 14px;
  z-index: 18;
}

.mapOverFlow {
  /* overflow: auto; */
  display: flex;
}

.mapOverFlowHeight {
  padding-left: 8px;
  display: flex;
}

.common-pad {
  padding-left: 3px !important
}

.block-icons {
  display: flex;
  /* background: #464646; */
}


/* .bg-dark-grey{
background: #5a5a5a;
}
.bg-light-grey{
background: #5a5a5a;
}
.bg-xl-dark-grey{
background: #5a5a5a;
} */

.seperator {
  padding-right: 4px;
  /* border-right: 1px solid #ccc; */
  padding-left: 4px;
  cursor: pointer;
}

.seperator-none {
  padding-left: 4px;
  cursor: pointer;
}

.h-98 {
  height: 98%;
}

.height87 {
  height: 87%;
}

.leftAddIcon {
  left: 102px !important
}

.fontColor600 {
  color: var(--content-color);
  font-size: 12px;
}

.height94 {
  height: 94%;
}

.maxHeightCalcOne {
  max-height: calc(100% - 12px);
}

.h-62 {
  height: 62%;
}

.maxHeightCalc39 {
  max-height: calc(100% - 39px);
}

.icon-svg-new {
  width: 36px;
  height: 36px;
}


/* .header_title_table span svg path{
fill:#fff
} */

.port-div table thead tr th .ico i {
  color: #c4c0c0 !important
}

.port-div table thead tr th .ico i:hover {
  color: #c4c0c0;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: .1s ease-in;
  transition: .1s ease-in;
}


/* .port-div table thead tr th .pull-right i {
  color: #fff !important
} */

.port-div table thead tr th {
  text-align: left;
}

.general-icon {
  color: #c4c0c0 !important
}

.general-icon .fa:hover {
  color: #c4c0c0 !important;
  transform: scale(1.2) !important;
  transition: .1s ease-in !important;
}

.ico-top-pos {
  position: absolute;
  top: 13px;
  right: 9px;
  color: #717575;
  cursor: pointer;
  font-size: 16px;
}

.group-header-01 {
  font-size: 13px;
  font-weight: 600;
  background: #ccc;
}

.group-header-02 {
  font-size: 13px;
  background: var(--content-color);
  color: #fff;
}

.group-header-02 span {
  font-size: 13px !important;
}

.less-pad {
  padding: 4px 1px;
  background-color: unset;
  border-radius: 0px;
  /* flex-grow: unset; */
}

.less-pad li a {
color: #4a4a4a !important;
font-size: 14px !important;
line-height: 24px;
font-family: 'Open Sans', sans-serif;
font-weight: 600 !important;
padding: 5px 15px;
}

.less-pad li a.active {
border-bottom: 2px solid var(--content-color) !important;
border-radius: 0;
transform: translateX(0px);
transition: transform .4s cubic-bezier(0, 0, 0.2, 1);
background: unset !important;
color: #2a2a2a !important;
box-shadow: unset;
}

.less-pad li:hover a.active {
color: #2a2a2a !important;
}

.propertyTableHeader {
  background: unset;
  height: 42px;
  border-top: 1px solid #ccc;
}


/* .propertyTableHeader .nav-pills.nav-pills-rose .nav-item .nav-link.active,
.nav-pills.nav-pills-rose .nav-item .nav-link.active:focus,
.nav-pills.nav-pills-rose .nav-item .nav-link.active:hover {
  background: #707070;
} */

.data_viewer div .ng-select-container {
  padding-top: 0px !important;
}

.data_viewer .ng-select-container {
  padding-top: 0px !important;
}

.highlight {
  background-color: #b1b1b1 !important;
}

.port-div .table thead tr th,
.table tbody tr td {
  border: solid 1px #ccc;
}

.span.ico i:hover {
  color: #fff !important
}

.thead-div>div {
  font-weight: 500;
  margin-bottom: 5px;
}

.mapplet-title {
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

.my-custom-table th,
.thead-div>div,
.trow-div>div {
  white-space: nowrap !important;
  width: 20%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.my-custom-table th:nth-child(2),
.trow-div>div:nth-child(2),
.thead-div>div:nth-child(2) {
  width: 80%;
}

.thead-div>div:nth-child(2) {
  text-align: center;
}

.trow-div>div:nth-child(3) {
  text-align: right;
}

.width {
  width: 340px;
}

.tooltip-show {
  margin-right: 0px;
  position: fixed;
  right: 33px;
  padding: 0 !important;
}

.search-box {
  padding-left: 10px;
  padding-right: 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 28px;
  font-size: 13px;
}

.form-control:read-only {
  /* background-color: transparent !important;
  border-bottom-color: transparent; */
  /* background-image: linear-gradient(to right, rgba(0,0,0,0.42) 0%, rgba(0,0,0,0.42) 33%, transparent 0%);
background-size: 4px 1px;
background-repeat: repeat-x; */
  padding-left: 0;
  padding-right: 0;
  border-bottom: 1px solid #d2d2d2;
}

/* .virtual-scroller-item,
#tab2,
.material-table {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
} */

.crud-icon-absolute {
  position: relative !important;
}

td {
  overflow: visible !important;
}

ul.display,
ul.display li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: 500;
}

ul.display {
  max-height: calc(90% - 28px);
  height: calc(90% - 28px);
}

ul.display li.drag-ignore {
  /* height: calc(100% - 24px); */
  max-height: 90%;
}

ul.display li.drag-ignore>ul {
  height: 90%;
  max-height: 90%;
}

.drag_table li {
  background-color: #fff;
}

.popover-options {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px;
}

.my-custom-table {
  padding: 0;
  min-width: 230px;
}

.header_title_table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.g_sudmit_edit {
  width: auto;
  cursor: pointer;
}

.header_title_table {
  border-bottom: none;
}

ul[source] {
  padding: 0 5px !important;
}

.light-bg {
  min-height: auto !important;
  border-radius: 6px;
  /* background: #34495e;
color: #fff; */
  padding: 15px;
}

.strong-bg {
  min-height: auto !important;
  border-radius: 6px;
  border: 2px solid #00bcd4;
  background: #e4fcff;
}

.cap-count {
  font-size: 21px;
  padding: 18px;
}

.text-dark-grey {
  color: #7b7979;
}

#mdm-dashboard small {
  font-size: 75%;
}

.col-blue {
  color: #00bcd4;
}

.ora-count {
  background: #FF5722;
}

.count-circle {
  padding: 4px;
  border-radius: 50%;
  color: #fff;
  border: solid 1px #ccc;
  font-size: 21px;
  width: 36px;
  height: 36px;
  display: inline-block;
  font-weight: 600;
}

.listing {
  padding: 18px;
  padding-left: 0px;
  padding-right: 45px;
}

.listing ul li {
  /* padding: 5px; */
  /* border-bottom: 1px solid #8080807a;
border-bottom-style: dotted; */
  /* margin-bottom: 5px; */
  cursor: move;
  font-size: 11px;
  color: #fff;
  font-weight: 400;
  background: #585858;
  white-space: nowrap;
  border-radius: 8px;
  margin: 5px;
  border: solid 1px #ccc;
}

.listing ul {
  /* height: 28vh;
overflow: auto; */
  display: contents;
  flex-direction: row;
}

.modl-footer {
  text-align: center;
}


/* .selected {
background-color: var(--content-color);
color: white;
border-radius: 8px;
font-weight: 500;
} */

.table-caption {
  margin-bottom: 0;
  color: #00bcd4;
  margin-top: 13px !important;
  margin: auto;
}

.listingmainBlock {
  margin: auto;
  border: solid 2px #00bcd4;
  background: #f4f5f5;
}

.li_list>.child {
  line-height: 12px;
  /* border-bottom: 1px solid #8080809c; */
  padding: 5px;
}

.ng-select-container {
  padding-top: 0px !important;
}

.tooltip-overlap {
  border-right: 2px #ccc solid;
  border-radius: unset;
}

.parentTree {
  font-size: 13px;
  /* font-weight: 600; */
  font-family: 'Open Sans';
}

.add_connectors {
  color: #2a2a2a !important;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.h-5{
  height: 5% !important;
}

.overflow-auto {
  overflow: auto;
  overflow-x: hidden;
}

.icon_horizontal_name {
  color: #ffffff;
  font-weight: 600;
  font-family: 'Open Sans';
  /* position: relative;
left: -25px;
top: 16px; */
}

.show_mapplet {
  display: block;
  top: 0px;
  width: 63%;
  min-height: 90px;
  height: auto;
  right: 17%;
  z-index: 0;
  z-index: 9999;
  background: #484848;
  position: absolute;
  overflow: hidden;
  border: 5px solid #cdcdcd;
  /* border-radius: 7px; */
  margin-left: 4px;
}

.clear_margin {
  margin-left: -5px;
  margin-right: -5px;
  margin-top:12px
}

.tree_transformation {
  display: inline-flex;
  flex-direction: column;
  width: 50px;
  cursor: move;
}

/* .tree_transformation:last-child {
  margin-right: 10px;
} */

.exRootLook {
  background: #585858;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px #ccc;
}


.dropdownHold .ng-value-container {
  margin: 0;
  padding: 0;
  border: 0;
}


.outside-click .dropdown-toggle:after {
  display: none;
}

.dropdown-menu .fixed-plugin li.header-title {
  padding: 8px 0;
  height: unset;
  text-align: left;
  color: #2a2a2a;
  font: 500 13px/20px 'Product Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: unset;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
  background: #e1e1e1;
  box-shadow: unset;
}

.dropdown-menu .fixed-plugin {
  box-shadow: none;
  width: unset;
  left: unset;
  right: unset;
  position: relative;
  padding: 0;
  margin: 0;
}

.dropdown-menu-right {
  transition: none;
}
.dropdown-menu .fixed-plugin li.header-title {
  padding: 5px 0;
  height: unset;
  text-align: left;
  color: #838383;
  font: 600 13px/20px "Product Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  cursor: pointer;
  border-bottom: dotted 1px #a9a9a9;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
  background: #e1e1e1;
  box-shadow: unset;
}




.small-icons {
  font-size: 18px;
  color: #2a2a2a;
  cursor: pointer;
  transform: unset !important;
}

.mapplet_tab {
  position: absolute;
  top: -18px;
  right: 36%;
  z-index: 1029;
}

.mapplet_tab ul {
  display: flex;
  /* background: #edecec;
border-radius: 6px; */
}

.mapplet_tab ul li {
  /* color: #3f3b3b;
font-size: 13px;
font-weight: 500;
transition: color .25s ease-in-out;
padding: 2px 5px; */
  cursor: pointer;
  height: 23px;
  background: #c7c7c7;
  margin-left: 2px;
  border-radius: 9px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}


/* .mapplet_tab ul li.active {
background: #3f3b3b;
color: #edecec;
border-radius: 6px;
} */

.close_icon_mapplet {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 16px;
  color: #4c4c4c;
  font-weight: 600;
  margin-right: 4px;
}

.selectedNode {
  background: #626262;
  padding: 0px 3px 0px 3px;
  border-radius: 3px;
  color: #fff;
}

.thresholds-to,
.thresholds-color,
.thresholds-status {
  display: inline-block;
}

.thresholds-to {
  background: gray;
  padding: 0 8px;
  color: #fff;
  width: 50px;
}

.thresholds-color {
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

.thresholds-status {
  font-weight: 600;
  padding-left: 5px;
}

.loading-pointer {
  cursor: progress;
}

.quiz-qus {
  border: solid 1px #ccc;
  padding: 15px;
  margin-bottom: 30px;
}

.score-analysis-title {
  position: absolute;
  top: -13px;
  background: #9ea4a5;
  color: #fff;
  padding: 2px 15px;
  border-radius: 2px;
  font-size: 14px;
  font-weight: 500;
}

.hoverIcon {
  display: none;
}

.hoverTable:hover .hoverIcon {
  display: block;
  position: absolute;
  top: 0px;
  right: 15px;
}

.hoverTable:hover {
  background-color: #ccc !important;
}

span.material-icons {
  font-size: 18px;
  color: #999;
  vertical-align: middle;
}

/* .ngSelPos {
  top: 8px;
  right: 10px;
} */

.popup-sub-title {
background: var(--content-color);
font-size: 13px;
font-weight: 500;
color: #fff;
padding: 6px !important;
margin: 0;
}

.h-17 {
  height: 17%;
}

.grid-h {
  height: 99%;
}

.data_monitor_label {
color: #2a2a2a;
font-size: 14px !important;
font-weight: 600 !important;
font-family: "Roboto", sans-serif !important;
}

.value {
color: #2a2a2a;
font-size: 14px !important;
font-weight: 400;
font-family: "Roboto", sans-serif !important;
padding-left: 5px;
}

.bottom_row {
border: solid 1px #ccc;
margin-left: 0;
margin-right: 13px;
}
.w-6{
  width: 6%;
}
.w-94{
  width: 94%;
}
.w-20{
  width: 20%;
}
.w-80{
  width: 80%;
}
.h-7{
  height: 7%;
}
/* .mappDataViewClass table th{
  font-weight: 600 !important;
  background-color: #fff !important;
  color: #323232 !important;
  border-color:#ccc !important ;
}
.mappDataViewClass table td{
  font-size: 12px !important;
} */
.h-28px{
  height: 28px;
}
.h-50px{
  height: 50px;
}
.h-25px{
  height: 25px;
}
.h-80px{
  height: 80px;
}
.h-calc-100-185{
  height: calc(100% - 185px);
}
.max-height-100{
  max-height: 100%;
}
.bgUnset{
background-color: unset !important;
}

.for_back_icons span {
color: #fff;
background: #767676;
margin: 3px 0px;
padding: 0px;
border-radius: 50%;
font-size: 11px !important;
padding: 3px;
}

.h-99 {
height: 99% !important;
}

.pagination-footer {
font-weight: normal;
}

.widget_table tr td {
max-width: unset !important;
}

.records_text {
font-size: 14px;
color: #2a2a2a;
font-family: 'Open Sans', sans-serif;
margin-top: -10px;
font-weight: 400;
}

.flex_grow_unset {
flex-grow: unset;
}

.h-93{
  height: 93%;
}

.scorecard_table table tr th {
width: 20%;
}

.run_label {
font-size: 12px;
color: #6b6b6b;
font-weight: 600;
padding-left: 5px;
}

.run_margin {
margin-top: -16px;
}

.run_margin_btn {
margin-top: -11px;
}

.scorecard_table table tr td {
line-height: 24px;
}

.trend_fusion fusioncharts{
max-width: unset !important;
}

.scoring_props {
width: 93%;
margin: 0 !important;
margin-top: -13px !important;
/* margin-left: 18px !important; */
}

.h-63 {
height: 63%;
}


.set_padd {
padding-left: 5px;
padding-right: 18px;
}

.set_radio_margin {
margin-top: -3px;
}

.numbers_margin {
margin-top: 6px;
}

.bmd-form-group input::placeholder {
color: #8a8a8a;
}

.date_radio {
color: #333;
font-size: 13px !important;
font-family: Open Sans, sans-serif;
font-weight: 600 !important;
}

.set_target_column {
position: relative;
top: -10px;
}

.score-lookup-title .w-5 {
max-width: unset !important;
}
.linkConnectBox{
  height: calc(100% - 15%);
}
.leftLinkBox,.rightLinkBox{
  padding: 5px;
  display: flex;
  flex-direction: column;
}
.w-1{
  width: 1%;
}
.w-495{
  width: 49.5%;
}
.rightLinkBox{
  /* border-left: 1px solid #ccc; */
  padding: 0px;
}
.leftLinkBox{
  /* border-right: 1px solid #ccc; */
  padding: 0px;
}
.centerLinkConnect{
  border-left: 1px solid #ccc;
  position: relative;
  left: 3px;
}
.leftLinkBoxIcon,.rightLinkBoxIcon{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.CBoxes{
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.leftLinkBoxIcon a,.rightLinkBoxIcon a{
  color: var(--content-color) !important;
  font-size: 12px !important;
  padding: 3px !important;
  margin-top: 0px !important;
}
.drag_highLight_dot{
  border: 2px dashed #000000;
}

.form-controlBI{
  background-image: linear-gradient(0deg, #7b7b7b 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #8f8e8e 1px, hsla(0, 0%, 82%, 0) 0) !important;
}
.button-sep{
  padding: 0px 2px !important;
  color: #ccc !important;
  font-size: 18px !important;
  font-weight: 600 !important;
}
.h-20px{
  height: 20px;
}
.w-98{
  width: 98%;
}
.w-2{
  width: 2%;
}
.popConnectIcon{
  position: absolute;
  right: 12px;
  top: 32px;
  width: 30px;
  height: 20px;
  z-index: 99;
}
.mappletPopupHeight1{
  border: 1px solid #ccc;
  overflow-x: hidden;
  max-height: 250px;
  padding-left: 5px;
  border-top: none;
}
.mappletPopupHeight2{
  border: 1px solid #ccc;
  overflow-x: hidden;
  max-height: 56px;
  padding-left: 5px;
  border-top: none;
}
.border1pxccc{
  border: 1px solid #ccc;
}
.font12px{
  font-size: 12px;
}
.bt1pxccc{
  border-top: 1px solid #ccc;
}
.fontpopupRight{
  font-weight: 600;
  font-size: 12px;
}

input[type = text] {
  padding-top: 18px;
}

.form-control {
  height: 36px !important;
}

#d3addlinkpopup {
  overflow-y: auto;
  overflow-x: hidden;
}
.taget_list li {
  font-size: 13px;
  font-weight: 600;
  font-family: 'Open Sans';
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.connect-D3 li {
  font-size: 13px;
  border-bottom: 1px solid white;
  padding-left: 12px;
}

.connect-D3 li:hover {
  cursor: pointer;
  font-weight: bold;
  color: black;
}

.active {
  background-color: #4285f4;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.active:hover {
  background-color: #4285f4 !important;
  color: white !important;
  font-weight: bold !important;
  border-radius: 3px !important;
}

.set_border_bottom {
  border-bottom: 1px solid #ccc;
}

.set_margin_top {
  margin-top: -9px;
}

.set_border_top {
  border-top: 1px solid #ccc;
}
.toolbar-icon-disabled {pointer-events: none;}
.linkDisabled {cursor: not-allowed;}
.remove{
  vertical-align:unset !important;
  line-height: unset !important;
}


.align-header-label{
  margin-left: 10px;
  margin-top: 6px;
}

.align-footer-popup{
  margin-top: 10px;
}

.h-12{
  height: 12%;
}
.h-78{
  height: 78%;
}

.font-weight{
  font-weight: 700 !important;
  font-size: 12px !important;
}


