<!-- <div class="bck-btn">
  <a class="btn re-ico-gr btn-round btn-dribbble tool_tip" rel="tooltip" ngbTooltip="Back" container="body"
    placement="left" (click)="zoomFitpan(maximizeData)" href="javascript:void(0);" skipLocationChange="true"
    href="javascript:void(0);"><i aria-hidden="true" class="fa fa-arrow-circle-left" style="color:#fff"></i>
  </a>
</div> -->
<div class="zoomoutsideRootDiv relative w-100 h-100 overFlowHidden positionRelative"
  [style.background-color]="'white'  + '!important'" style="border: 1px solid rgb(237 237 237);">
  <div class="zoomoutsidesubRootDiv relative w-100 h-100">
    <div [style.background-color]="'white'  + '!important'"
      class="b-radius gridster-box zoomRootDiv material-table minmax">
      <div id="panZoomEle" class="gridster-container d-flex flex-column w-100 h-100">

        <div class="gridheader pl-1 w-100 h-24px">
          <div class="pr-3" style="display:flex;justify-content: start; align-items: start">
            <a href="javascript:;" (click)="zoomFitpan(maximizeData)" rel="tooltip" ngbTooltip="Back" container="body"
              placement="left" class="backclick">
              <span class="material-icons colorSet global-icons moduleBoxZoom">
                <i class="material-icons forwardIcon active_always" aria-hidden="true">
                  forward
                </i>
              </span>
            </a>
            <div class="box-label align-header-label">{{maximizeData.moduleName}}</div>
          </div>
          <div class="er-icons action_icon_maximize">
            <div class="positionsHeader" *ngIf="showPositonsConditions">
              ( X :{{this.showingfunction}} ,
              Y :{{this.showingfunction2}} )
            </div>
            <div *ngIf="configurationSchema.profileModify =='Y'" ngbTooltip="Save" container="body"
              (click)="saveErDigramChanges(maximizeData)" class="">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.saveSvg | domSan:'html'">
                </span>
              </a>

            </div>
            <a *ngIf="configurationSchema.profileDownload =='Y'" class="nav-item icon-list outside-click run-icon"
              ngbDropdown id="drop" #drop="ngbDropdown" [autoClose]="'outside'">
              <a class="svgFlow" href="javascript:void(0);" data-toggle="dropdown" ngbDropdownToggle
                aria-haspopup="true" aria-expanded="true">
                <span class="material-icons remove ico-width" ngbTooltip="Export" container="body"
                  (click)="opendropdownMenu()">file_download</span>
              </a>

              <div *ngIf="showiconbar" ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
                class="dropdown-menu dropdown-menu-right  triangleUp1 pt-0 b-radius-none">
                <ul class="fixed-plugin dropdown-menu show dashboard-menu-wid">

                  <li ngbDropdownItem id="zoom_in"
                    class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                    <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                      <span class="material-icons w-30 new-icon">description</span>
                      <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('xlsx')">Excel</span>

                    </div>
                  </li>
                  <li ngbDropdownItem id="zoom_out"
                    class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                    <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                      <span class="material-icons w-30 new-icon"> code </span>
                      <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Html')">HTML</span>

                    </div>
                  </li>
                  <li ngbDropdownItem id="zoom_reset"
                    class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                    <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                      <span class="material-icons w-30 new-icon">picture_as_pdf</span>
                      <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Pdf')">PDF</span>
                    </div>
                  </li>
                  <li ngbDropdownItem id="zoom_reset"
                    class="header-title d-flex justify-content-between align-items-center dashboard-menu">
                    <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
                      <span class="material-icons w-30 new-icon">table</span>
                      <span class="w-70 d-flex justify-content-start"
                        (click)="saveExportOptions('Script')">Script</span>
                    </div>
                  </li>
                </ul>

              </div>
            </a>
            <!-- <div ngbTooltip="Back To Summary" container="body" (click)="zoomFitpan(maximizeData)">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.summarySvg | domSan:'html'">
                </span>
              </a>
            </div> -->
            <div class="button-sep">|</div>
            <div ngbTooltip="Zoom In" container="body" (click)="zoomIn()" class="">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.zoomInSvg | domSan:'html'">
                </span>
              </a>
            </div>
            <div ngbTooltip="Reset to Default" container="body" (click)="zoomReset()" class="">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.zoomDefault | domSan:'html'">
                </span>
              </a>

            </div>
            <div ngbTooltip="Zoom Out" container="body" (click)="zoomOut()" class="">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.zoomOutSvg | domSan:'html'">
                </span>
              </a>

            </div>

            <div *ngIf="showMaximize" ngbTooltip="Minimize All" container="body" (click)="minimizeAll()" class="">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.minimiseSvg | domSan:'html'">
                </span>
              </a>

            </div>
            <div *ngIf="showMinimize" ngbTooltip="Maximize All" container="body" (click)="maximizeAll()" class="">
              <a class="svgFlow">
                <span [innerHTML]="svgIconsList.maximiseSvg | domSan:'html'">
                </span>
              </a>

            </div>
            <div class="button-sep">|</div>
            <div *ngIf="fullScreenDisp" ngbTooltip="Exit Full-Screen" container="body" placement="left"
              class="full-screen seperator" (click)='fullScreen()'>
              <a class="svgFlow">

                <span [innerHTML]="svgIconsList.windowMinimiseSvg | domSan:'html'">
                </span>
              </a>

            </div>
            <div *ngIf="!fullScreenDisp" ngbTooltip="Full-Screen" container="body" placement="left"
              class="full-screen seperator" (click)='fullScreen()'>
              <a class="svgFlow">

                <span [innerHTML]="svgIconsList.windowMaxSvg | domSan:'html'">
                </span>
              </a>

            </div>

          </div>


        </div>
        <div (treeDrop)="dropArea($event)" id="container" jtk-scrollable-list
          class="gridster-body insideBoxScroll content h-100-24px w-100 maximizeComp">
          <div class="row h-100 m-0 relative" id="canvas">
            <div class="w-100 h-100 " id="d3RenderId" [style.background-color]="'white'+'!important'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #connectionPopup>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Relation</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
  </div>
  <div class="modal-body">
    <div class="form-row h-12">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="form-group bmd-form-group pl-0">
          <input type="text" class="form-control" [value]="sourceTableObj['tableName']" [disabled]="true">
          <label class="bmd-label-static pl-0">Source Table Name</label>
          <div class="line"></div>
        </div>
      </div>
      <!-- [ngClass]="table.checked ?'font-weight' : ''" -->
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <div class="form-group bmd-form-group pl-0">
          <ng-select class="selectpicker " appendTo="body" (change)="targetTableChange($event)">
            <ng-option *ngFor="let table of targetTableList" [value]="table">
              <span [ngClass]="table.checked ?'font-weight' : ''">{{table.tableName}}</span>
            </ng-option>
          </ng-select>

          <label class="bmd-label-static pl-o">Target Table Name</label>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="mt-2 h-78" id="d3addlinkpopup">

    </div>
    <div class="popover-footer text-center h-10 ml-3 mr-3 set_border_top">
      <button type="button" class="btn btn-rose btn-sm" (click)="saveAllRelationConnection()">Apply</button>
    </div>
    <div *ngIf="showConnector" class="d3PopupDiv d3-showConnector">
      <div class="d3popover popover w-100 h-100" id="d3popover">
        <div class="popover-header d-flex set_border_bottom">
          <h3 class="popover-header-text w-95">
            {{'Connection Type' }}</h3>
          <div class="popover-options text-right w-5 cursor d-flex align-items-center" (click)="closeD3Connector()">
            <i class="fa fa-times faTimescloseRows"></i>
          </div>
        </div>
        <div class="popover-body">
          <ul class="h-100 connect-D3">
            <ng-container *ngFor="let items of connection">
              <li (click)="d3Connect(items.type);closeD3Connector()" [ngClass]="items.type == activeLink? 'active':''">
                <span>{{items.type }}</span>
              </li>
            </ng-container>
          </ul>
        </div>

      </div>

    </div>

    <div *ngIf="targetFlag" class="d3PopupDiv">
      <div class="d3popover popover w-100 h-100" id="d3popover">
        <div class="popover-header d-flex set_border_bottom">
          <h3 class="popover-header-text w-95" [attr.title]="currentTran['columnName']">
            {{currentTran['columnName']}}</h3>
          <div class="popover-options text-right w-5 cursor d-flex align-items-center" (click)="closePopupD3()">
            <i class="fa fa-times faTimescloseRows"></i>
          </div>
        </div>
        <div class="popover-header d-flex pt-0">
          <h3 class="popover-header-text w-95">Target Column</h3>
        </div>
        <div class="w-100 form-group bmd-form-group pl-3 pr-3 pt-0 set_margin_top">
          <input type="search" [(ngModel)]="searchTarget" (ngModelChange)="searchTargetLst(searchTarget)"
            class="form-control" placeholder="Search" autocomplete="off" />
        </div>
        <div class="popover-body h-60">
          <ul class="h-100 taget_list">
            <perfect-scrollbar>
              <ng-container *ngFor="let target of targetPopup">
                <li *ngIf="target.showColumn"><input type="checkbox" [name]="target.columnName"
                    (change)="targetTableChangeRelation(target)" [(ngModel)]="target.checked"
                    [checked]="target.checked">
                  <span class="ml-2">{{target.columnName}}</span>
                </li>
              </ng-container>
            </perfect-scrollbar>
          </ul>
          <div *ngIf="checkRecords()" class="no-data">
            No Records Found..
          </div>
        </div>
        <div class="align-footer-popup popover-footer text-center h-20 ml-3 mr-3 set_border_top">
          <button type="button" class="btn btn-rose btn-sm" (click)="saveRelationConnection()">Apply</button>
        </div>
      </div>
    </div>
  </div>

</ng-template>
<a style="display: none;" class="download-zip-link" #downloadZipLink></a>