.multiselect-dropdown {
    position: relative;
    width: 100%;
    font-family: inherit;
    font-size: 12px !important;
}

.dropdown-btn span:last-child span:first-child {
    color: #9a9a9a;
    font-size: 10px;
}

.multiselect-dropdown .dropdown-list {
    margin-top: 0px !important
}

.multiselect-dropdown .dropdown-btn {
    border: none !important;
    border-bottom: 1px solid #d2d2d2 !important;
    padding: 6px 1px !important;
    line-height: 24px !important;
    border-radius: 0px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item {
    border: none !important;
    margin-right: 4px;
    background: #00bcd4 !important;
    padding: 0 3px;
    color: #fff;
    border-radius: 2px;
    float: left;
    font-size: 9px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 97px;
    margin-top: 4px; */
    box-shadow: none !important;
    line-height: 18px !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
    border-top: 6px solid #adadad !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
    display: inline-block;
    width: 0;
    height: 0;
    border-bottom: 6px solid #adadad !important;
    border-left: 6px solid transparent !important;
    border-right: 6px solid transparent !important;
}

.dropdown-list .filter-textbox {
    padding: 0px !important;
}

.dropdown-list .filter-textbox input {
    border: 0;
    width: 100%;
    padding: 0 0 0 3px;
}

.dropdown-list .item1 .multiselect-item-checkbox {
    padding-left: 12px !important;
    padding-top: 1px !important;
    padding-bottom: 2px !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:before {
    margin-top: -9px;
    border: 1px solid #b6b7b7 !important;
    background: none !important;
}

.multiselect-item-checkbox input[type=checkbox]+div:after {
    left: 3px !important;
    width: 8px !important;
    height: 3px !important;
    margin-top: -5px !important;
    border-style: solid;
    border-color: #00bcd4!important;
}

.multiselect-item-checkbox input[type=checkbox] :checked+div:before {
    -webkit-animation: none !important;
    animation: none !important;
    background: none !important;
}

.report-table td {
    color: rgba(0, 0, 0, 0.87);
    /* border: solid 1px #9cd8e0; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 2px 2px;
    font-size: 11px;
    line-height: 16px;
}

.report-table table th {
    padding: 2px 2px;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
}

ngb-datepicker {
    font-size: 12px;
}

table#groupTable>thead th {
    z-index: 1000;
}

.account-header {
    font-weight: 600;
    font-size: 13px;
    background: #e4e4e4;
    color: rgba(0, 0, 0, 0.87);
}

.none {
    display: none;
}

#groupTable caption {
    /* width: 900px; */
    padding: 0px 0px 0px 2px;
    font-size: 12px;
    border-left: 1px solid #9cd8e0;
    border-right: 1px solid #9cd8e0;
    font-weight: 600;
    font-size: 13px;
    background: #e4e4e4;
}

#groupTable caption:first-child {
    border-right: none !important;
}

#mprReport table thead tr th:first-child {
    /* width: 20%; 
    min-width: 150px; */
    border-left: solid 1px var(--table-border);
}

#mprReport table thead tr th {
    border-top: solid 1px var(--table-border);
}

#mprReport table thead tr th:last-child,
#mprReport table tbody tr td:last-child {
    border-right: solid 1px var(--table-border);
}

#mprReport table thead tr th:first-child,
#mprReport table tbody tr td:first-child {
    border-left: solid 1px var(--table-border);
}

::ng-deep #mprReport .ps-content {
    margin-right: 8px;
}

#mprReport h5 {
    font-weight: bold;
    font-size: 0.9rem;
}

#mprReport h5.small {
    font-size: 0.75rem;
}

.Category {
    min-width: 200px;
    max-width: 200px;
}

.Current.Month {
    max-width: 160px;
}

.Opened,
.Closed {
    width: 100px;
}

::ng-deep .pt2 {
    padding-top: .5rem!important;
}