<div class="card-body pad-4 material-table dashboard-bg-grey main-row p-1" id='card-body'>
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 dashboard-bg-white b-radius-12 h-100 pt-3 pb-3">
        <div class="row">
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='MPR001'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValue4')" (onDeSelectAll)="onDeSelectAll($event,'promptValue4')" [settings]="countryDropdownSettings" [data]="countrySelect" [(ngModel)]="promptValue4"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Country<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1" *ngIf="reportId=='MPR001'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValue5')" (onDeSelectAll)="onDeSelectAll($event,'promptValue5')" [settings]="leBookDropdownSettings" [data]="LeBookSelect" [(ngModel)]="promptValue5"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">LE Book<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='MPR001' || reportId=='BMRM001'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValueBranch')" (onDeSelectAll)="onDeSelectAll($event,'promptValueBranch')" [settings]="branchDropdownSettings" [data]="branchDropdownList" [(ngModel)]="promptValueBranch"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Vision OUC<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValue6')" (onDeSelectAll)="onDeSelectAll($event,'promptValue6')" [settings]="sbuDropdownSettings" [data]="sbulist" [(ngModel)]="promptValue6"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Vision SBU<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='MPR001'||reportId=='DE00001'||reportId=='DE00002'||reportId=='DE00004'||reportId=='DE00010' || reportId=='BMRM001'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValue1')" (onDeSelectAll)="onDeSelectAll($event,'promptValue1')" [settings]="dropdownSettings" [data]="accountOfficer" [(ngModel)]="promptValue1"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Account Officer<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00001'||reportId=='DE00006'||reportId=='DE00008'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValue4')" (onDeSelectAll)="onDeSelectAll($event,'promptValue4')" [settings]="dropdownSettings1" [data]="dealType" [(ngModel)]="promptValue4"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Deal Type<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00001'||reportId=='DE00006'||reportId=='DE00008'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown (onSelectAll)="onSelectAll($event,'promptValue5')" (onDeSelectAll)="onDeSelectAll($event,'promptValue5')" [settings]="dropdownSettings2" [data]="dealStatus" [(ngModel)]="promptValue5"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Deal Status<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00010'||reportId=='DE00011'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown [settings]="dropdownSettings1" [data]="leadType" [(ngModel)]="promptValue4" (onSelectAll)="onSelectAll($event,'promptValue4')" (onDeSelectAll)="onDeSelectAll($event,'promptValue4')"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Lead Type<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00010'||reportId=='DE00011'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown [settings]="dropdownSettings2" [data]="dealStatus" (onSelectAll)="onSelectAll($event,'promptValue5')" (onDeSelectAll)="onDeSelectAll($event,'promptValue5')" [(ngModel)]="promptValue5"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Lead Status<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00002'||reportId=='DE00003'">
                <div class="form-group bmd-form-group">

                    <ng-multiselect-dropdown [settings]="dropdownSettings1" [data]="confidentLevel" [(ngModel)]="promptValue4" (onSelectAll)="onSelectAll($event,'promptValue4')" (onDeSelectAll)="onDeSelectAll($event,'promptValue4')"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Confidence Level<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00004'">
                <div class="form-group bmd-form-group">
                    <ng-multiselect-dropdown [settings]="dropdownSettings1" [data]="dealStage" [(ngModel)]="promptValue4" (onSelectAll)="onSelectAll($event,'promptValue4')" (onDeSelectAll)="onDeSelectAll($event,'promptValue4')"></ng-multiselect-dropdown>
                    <label class="bmd-label-static">Deal Stage<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>



            <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1" *ngIf="reportId =='MPR001'">
                <div class="form-group bmd-form-group">
                    <input type='text' class="form-control" [(ngModel)]="promptValueDate" placeholder="YYYYMM">
                    <label class="bmd-label-static pl-0">Year Month </label>
                    <div class="line"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1" *ngIf="reportId !='MPR001' && reportId !='BMRM001'">
                <div class="form-group bmd-form-group">
                    <input type='text' class="form-control" [(ngModel)]="promptValue2" name="dp" [minDate]="{year: 1901, month: 1, day: 1}" ngbDatepicker #d="ngbDatepicker" (click)="d.toggle()" (keypress)="false">
                    <label class="bmd-label-static pl-0">From Date</label>
                    <div class="line"></div>
                </div>
            </div>
            <div class="col-sm-6 col-md-1 col-lg-1 col-xl-1" *ngIf="reportId !='MPR001' && reportId !='BMRM001'">
                <div class="form-group bmd-form-group">
                    <input type='text' class="form-control" [(ngModel)]="promptValue3" name="dp1" [minDate]="{year: 1901, month: 1, day: 1}" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" (keypress)="false">
                    <label class="bmd-label-static pl-0">To Date </label>
                    <div class="line"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2" *ngIf="reportId=='DE00002'||reportId=='DE00003'||reportId=='DE00004'||reportId=='DE00008'">
                <div class="form-group bmd-form-group">
                    <ng-select class="selectpicker" appendTo="body" [(ngModel)]="reportTypeId">
                        <ng-option *ngFor="let data of reportTypes" value="{{data.alphaSubTab}}"> {{data.description}}</ng-option>
                    </ng-select>
                    <label class="bmd-label-static">Report Type<span class="text-danger"></span></label>
                    <div class="line"></div>
                </div>
            </div>

            <div class="col-sm-6 col-md-2 col-lg-2 col-xl-2">
                <div class="form-group bmd-form-group">
                    <!-- <ng-container *ngIf='globalService.pageLevelAccess.profileView=="Y"'> -->
                    <ng-container *ngIf='globalService.pageLevelAccess.profileView=="Y"'>
                        <button type="button" class="btn btn-sm btn-rose btn-outline-dark pl-2 pr-2" (click)="getReport('report')" [disabled]="disableButton()">Generate</button>
                        <a style="display: none;" class="download-zip-link" #downloadZipLink></a>
                    </ng-container>
                    <ng-container *ngIf='globalService.pageLevelAccess.profileDownload=="Y"'>
                        <button type="button" class="btn btn-sm btn-rose btn-outline-dark pl-2 pr-2" (click)="getReport('excel')" [hidden]="disablerptButton()">
                            <i class="fa fa-file-excel-o" aria-hidden="true"></i>
                        </button>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="" *ngIf="tableData && tableData.response.length && !mprReport">
            <div class="material-table report-table">
                <div class="table-responsive">
                    <perfect-scrollbar style="max-height: calc(100vh - 173px);">
                        <table class="inlineEditTable" id="groupTable" [ngStyle]="style">
                            <thead>
                                <tr>
                                    <th style="display: none;">ID</th>
                                    <ng-container *ngFor="let header of tableData.otherInfo.columnHeaderslst">
                                        <th *ngIf="header.labelRowNum==1" [attr.rowspan]="header.rowspan==0?-1:header.rowspan" [attr.colspan]="header.colspan">
                                            {{header.caption}}
                                        </th>
                                    </ng-container>
                                </tr>
                                <tr>
                                    <ng-container *ngFor="let header of tableData.otherInfo.columnHeaderslst">
                                        <th *ngIf="header.labelRowNum==2">
                                            {{header.caption }}
                                        </th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngIf="subReportFlag">
                                    <ng-container *ngFor="let reportData of tableData?.response">
                                        <tr *ngIf="reportData">
                                            <th class="account-header text-left" [attr.colspan]="colArray.length">{{reportData.dataColumn3}} <span>&nbsp;&nbsp;:&nbsp;&nbsp;</span> <span>{{reportData.dataColumn1}}</span><span>-</span> <span>{{reportData.dataColumn2 }}</span></th>
                                        </tr>
                                        <ng-container *ngIf="reportData.detailReportlst">
                                            <tr *ngFor="let rowData of reportData.detailReportlst;let i =index;" [ngStyle]="getStyle(rowData.formatType)">
                                                <td hidden class="staticArea rrIndex">{{i+1}}</td>
                                                <td style="display: none;">{{reportData.dataColumn1}}</td>
                                                <td *ngFor="let colData of colArray;let j =index;" [attr.data-disable-click]='reportData.formatType' [ngStyle]="getStyle(colData.referField)">
                                                    {{rowData[colData.column]}}
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <ng-container *ngIf="!reportData.detailReportlst">
                                            No Data Found
                                        </ng-container>
                                    </ng-container>
                                </ng-container>
                                <ng-container *ngIf="!subReportFlag && reportId != 'DE00008'">
                                    <tr *ngFor="let reportData of tableData.response;let i =index" [ngStyle]="getStyle(reportData.formatType)">
                                        <ng-container *ngFor="let colData of colArray;let j =index">
                                            <td hidden class="staticArea rrIndex">{{j+1}}</td>
                                            <td *ngIf="j==colArray.length-1" [attr.data-disable-click]='reportData.formatType' [ngStyle]="getStyle(colData.referField)" (click)="openDrillDownModal(reportTemplate, reportData)" style="cursor: pointer;" class="last last" [attr.data-type]='subReportFlag'>
                                                {{reportData[colData.column]}}
                                            </td>
                                            <td *ngIf="j!=colArray.length-1" [attr.data-disable-click]='reportData.formatType' [ngStyle]="getStyle(colData.referField)">
                                                {{reportData[colData.column]}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                                <ng-container *ngIf="!subReportFlag && reportId == 'DE00008'">
                                    <tr *ngFor="let reportData of tableData.response;let i =index" [ngStyle]="getStyle(reportData.formatType)">
                                        <ng-container *ngFor="let colData of colArray;let j =index">
                                            <td hidden class="staticArea rrIndex">{{j+1}}</td>
                                            <td *ngIf="j==colArray.length-1" [attr.data-disable-click]='reportData.formatType'>
                                                {{reportData[colData.column]}}
                                            </td>
                                            <td *ngIf="j!=colArray.length-1" [attr.data-disable-click]='reportData.formatType'>
                                                {{reportData[colData.column]}}
                                            </td>
                                        </ng-container>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </perfect-scrollbar>
                </div>
            </div>
            <div *ngIf='tableData.response.length >= 500' class="small text-right">*Only first 500 records are shown</div>
        </div>
        <div id='mprReport' class="" *ngIf="mprReport && mprReportDataArray.length == mprReportIdObject.length">
            <perfect-scrollbar style="max-height: calc(100vh - 173px);">
                <ng-container *ngFor='let objData of mprReportIdObject; let ind = index;'>
                    <h5 class="text-muted mb-1" [ngClass]="{'mt-3': ind > 0}">{{objData.reportTitle}}</h5>
                    <div class="material-table report-table">
                        <div class="table-responsive">
                            <table class="inlineEditTable" [id]="objData.reportId">
                                <thead>
                                    <tr>
                                        <ng-container *ngFor='let tableHeader of mprReportDataArray1[objData.reportId].otherInfo?.columnHeaderslst;'>
                                            <th [class]='tableHeader.caption' *ngIf="tableHeader.labelRowNum==1" [attr.rowspan]="tableHeader.rowspan==0?-1:tableHeader.rowspan" [attr.colspan]="tableHeader.colspan">
                                                {{tableHeader.caption}}
                                            </th>
                                        </ng-container>
                                    </tr>
                                    <tr>
                                        <ng-container *ngFor='let tableHeader of mprReportDataArray1[objData.reportId].otherInfo?.columnHeaderslst;'>
                                            <th [class]='tableHeader.caption' *ngIf="tableHeader.labelRowNum==2">
                                                {{tableHeader.caption }}
                                            </th>
                                        </ng-container>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let reportData of mprReportDataArray1[objData.reportId].response; let dataIndex = index;" [class]='mprReportDataArray1[objData.reportId].tdCount'>
                                        <ng-container *ngIf='mprReportDataArray1[objData.reportId].response.length'>
                                            <ng-container *ngFor='let colHeader of mprReportDataArray1[objData.reportId].otherInfo.columnHeaderslst; let objIndex = index;'>
                                                <ng-container *ngIf='(objIndex+1) <= mprReportDataArray1[objData.reportId].tdCount;'>
                                                    <td [attr.data-format]="colHeader.colType" [attr.data-bold]="reportData.formatType">{{reportData['dataColumn'+(objIndex+1)]}}</td>
                                                </ng-container>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                    <tr *ngIf='!mprReportDataArray1[objData.reportId].response?.length'>
                                        <td [attr.colspan]='mprReportDataArray1[objData.reportId].tdCount' class="text-center">
                                            <h5 class="mt-2 mb-2 text-muted small">No data found</h5>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>
                </ng-container>
            </perfect-scrollbar>
        </div>
        <div class="no-data" *ngIf="tableData?.response?.length==0">
            No Records Found
        </div>
    </div>
</div>

<ng-template #reportTemplate>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalHeader+' - '+ddkeyField[0]+' - '+ddkeyField[1]+' - '+ddkeyField[2]}}</h4>
        <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true"
          (click)="modalService.dismissAll()"></i></a>
    </div>
    <div class="modal-body pt2">
        <div class="text-right">
            <button type="button" class="btn btn-sm btn-rose btn-outline-dark pl-2 pr-2" (click)="exportFile()">
        <i class=" fa fa-file-excel-o " aria-hidden="true "></i>
    </button>
        </div>
        <div class="material-table report-table " *ngIf="tableData1 ">
            <div class="table-responsive ">
                <perfect-scrollbar style="max-height: calc(94vh - 173px);">
                    <table class="inlineEditTable " id="groupTable " [ngStyle]="getTableStyle() ">
                        <thead>
                            <tr>
                                <th style="display: none; ">ID</th>
                                <ng-container *ngFor="let header of tableData1.otherInfo.columnHeaderslst ">
                                    <th *ngIf="header.labelRowNum==1 " [attr.rowspan]="header.rowspan==0?-1:header.rowspan " [attr.colspan]="header.colspan ">
                                        {{header.caption }}
                                    </th>
                                </ng-container>
                            </tr>
                            <tr>
                                <ng-container *ngFor="let header of tableData1.otherInfo.columnHeaderslst ">
                                    <th *ngIf="header.labelRowNum==2 ">
                                        {{header.caption }}
                                    </th>
                                </ng-container>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="subReportFlag ">
                                <ng-container *ngFor="let reportData of tableData1.response ">
                                    <!-- <tr class="account-header " *ngIf="reportData ">
                                    <td [attr.colspan]="colArray.length ">{{reportData.dataColumn3}} <span>&nbsp;&nbsp;:&nbsp;&nbsp;</span> <span>{{reportData.dataColumn1}}</span><span>-</span> <span>{{reportData.dataColumn2 }}</span></td>
                                </tr> -->
                                    <tr *ngIf="reportData ">
                                        <th class="account-header text-left " [attr.colspan]="colArray.length ">{{reportData.dataColumn3}} <span>&nbsp;&nbsp;:&nbsp;&nbsp;</span> <span>{{reportData.dataColumn1}}</span><span>-</span> <span>{{reportData.dataColumn2 }}</span></th>
                                    </tr>
                                    <ng-container *ngIf="reportData.detailReportlst ">
                                        <tr *ngFor="let rowData of reportData.detailReportlst;let i=index ">
                                            <td hidden class="staticArea rrIndex ">{{i+1}}</td>
                                            <td style="display: none; ">{{reportData.dataColumn1}}</td>
                                            <td *ngFor="let colData of colArray1;let j=index " [ngStyle]="getStyle(colData.referField) ">
                                                {{rowData[colData.column]}}
                                                <!-- {{colData.referField}} -->
                                            </td>
                                        </tr>
                                    </ng-container>
                                    <ng-container *ngIf="!reportData.detailReportlst ">
                                        No Data Found
                                    </ng-container>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="!subReportFlag ">
                                <tr *ngFor="let reportData of tableData1.response;let i=index " [ngStyle]="getStyle(reportData.formatType) ">
                                    <td hidden class="staticArea rrIndex ">{{i+1}}</td>
                                    <td *ngFor="let colData of colArray1;let j=index " [ngStyle]="getStyle(colData.referField) ">
                                        {{reportData[colData.column]}}
                                    </td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                </perfect-scrollbar>
            </div>
        </div>
    </div>
</ng-template>