<div *ngIf="treeview_business" class="card-body p-0 material-table" id='card-body'>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div class="material-table dashboard-bg-white b-radius-12 h-99" style="margin-top:0px" id="maximize">
        <div class="d-flex flex-column h-100">
          <div class="header-sty h-60px">
            <form [formGroup]='BusinessetupFormSetupForm'>
              <div class="align-items-center align-header">
                <div class="row">

                  <div class=" col-sm-6 col-md-6 col-lg-6 col-xl-6 align-header-controls">
                    <div class="form-group bmd-form-group ">
                      <input type='text' class="form-control" formControlName='searchValue' placeholder="Search" />
                      <div class="line"></div>
                    </div>
                  </div>

                  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 align-header-controls">
                    <div class="form-group">
                      <ng-multiselect-dropdown [placeholder]="'Search By'"
                        [formControl]="BusinessetupFormSetupForm.controls['searchKey']" [disabled]="disabledDropdown()"
                        class="" [settings]="dropdownSettings" [data]='searchTypeList'>
                      </ng-multiselect-dropdown>
                    </div>
                  </div>
                  <div style="justify-content: end;
                  display: flex;" class="col-sm-3 col-md-3 col-lg-3 col-xl-3  align-header-controls">
                    <button type="button" id="serachBtn"
                      class="btn btn-sm btn-rose btn-outline-dark test btn-style btn-style-override"
                      (click)="btnSubmission()">Search</button>
                    <button type="button" class="btn btn-sm btn-rose btn-outline-dark test btn-style"
                      (click)="btnClearAll()">Clear
                      All</button>
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="tabStartClass">
            <perfect-scrollbar class="w-100 h-100">
              <div *ngIf="isOpen_table_tab" class="menu-trigger transition">
                <div class="card-collapse-custom">
                  <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
                    <h5 class="mb-0" (click)="toggleShowDiv('table',$event)">
                      <a class="w-100 table-header-dropdown" data-toggle="collapse" aria-controls="collapseTwo">Table
                        <span>
                          ( {{datatablelist_table && datatablelist_table.length ?datatablelist_table.length : 0}} )
                        </span>
                        <i class="material-icons float-right mr-2 mt-1 panel-icon"
                          [ngClass]="isOpen_table ? 'gg-chevron-up' : 'gg-chevron-down'">

                        </i>
                      </a>
                    </h5>
                  </div>
                </div>

                <div *ngIf="isOpen_table" 
                [ngClass]="setHeightTable == 1 ? 'table1' : setHeightTable == 2 ? 'table2' : setHeightTable == 3 ? 'table3' : ' report-table'" class="material-table divA">
                  <div class="preview_table table-align h-100">
                    <perfect-scrollbar>
                      <table class="table table-hover my-custom-table " cellspacing="0">

                        <thead>
                          <tr>
                            <th style="max-width: 90px;">Repository</th>
                            <th>Table Name</th>
                            <th>Alias Name</th>
                            <th>Description</th>

                          </tr>
                        </thead>
                        <tbody *ngIf="datatablelist_table.length != 0">
                          <tr *ngFor="let table of datatablelist_table; let i = index;">
                            <td style="max-width: 90px;" title="{{table.objectRepositoryDesc | titlecase}}">
                              <div class="point text_overflow w-100" (click)="openChildTableRepository(table)">
                                <a *ngIf="table.objectRepositoryDesc != '' || null">
                                  <span>
                                    <i class="material-icons">
                                      table_chart
                                    </i>
                                  </span>
                                </a>
                                {{table.objectRepositoryDesc}}

                              </div>
                            </td>

                            <td>
                              <div class="point" (click)="openChildTable(table)">
                                <a *ngIf="table.objectName != '' || null">
                                  <span>
                                    <i class="fa fa-table"></i>
                                  </span>
                                </a>
                                {{table.objectName}}
                              </div>
                            </td>
                            <td> {{table.objectAliasName}}</td>
                            <td> {{table.description}}</td>

                          </tr>

                        </tbody>

                      </table>
                    </perfect-scrollbar>
                    <div *ngIf="datatablelist_table.length == 0" class="no-data">
                      No Record's found
                    </div>
                  </div>

                </div>


              </div>

              <div *ngIf="isOpen_columns_tab" class="menu-trigger">
                <!-- <div [ngClass]="isOpen_columns_tab &&  isOpen_table" class="menu-trigger"></div> -->
                <div class="card-collapse-custom ">
                  <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader ">
                    <h5 class="mb-0" (click)="toggleShowDiv('Columns',$event)">

                      <a class="w-100 table-header-dropdown " data-toggle="collapse" aria-controls="collapseTwo">Columns
                        (
                        {{tablelist_columns && tablelist_columns.length ? tablelist_columns.length : 0}} )<i
                          class="material-icons float-right mr-2 mt-1 panel-icon"
                          [ngClass]="isOpen_columns ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
                      <span>
                        <a href="javascript:void(0)"
                          class="modal-trigger waves-effect btn-flat nopadding align-icon-edit"
                          data-original-title="Edit" (click)="tableActionColumn(data)">
                          <i class="material-icons " aria-hidden="true" container="body" ngbTooltip="Edit">edit</i>
                        </a>
                      </span>
                    </h5>
                  </div>
                </div>

                <div *ngIf="isOpen_columns"  
                [ngClass]="setHeightTable == 1 ? 'table1' : setHeightTable == 2 ? 'table2' : setHeightTable == 3 ? 'table3' : ' report-table'" class="material-table divA">
                  <!-- <div [ngClass]="isOpen_columns && isOpen_table" class="tablecoloumn  divA"></div> -->
                  <div class="preview_table table-align h-100">
                    <perfect-scrollbar>
                      <table class="table  table-hover my-custom-table " cellspacing="0" width="100%">
                        <thead>
                          <tr>
                            <th>Table Name</th>
                            <th>Column Name</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="tablelist_columns.length != 0">
                          <tr *ngFor="let columns of tablelist_columns; let i = index;">


                            <td class="table-align-business-M-70">
                              <div class="point" (click)="openChildTable(columns)">
                                <a *ngIf="columns.tableName != '' || null">
                                  <span>
                                    <i class="fa fa-table"></i>
                                  </span>
                                </a>
                                {{columns.tableName}}
                              </div>
                            </td>
                            <td class="table-align-business-M-70">{{columns.columnName}}</td>
                            <td>{{columns.description}}</td>
                        </tbody>
                      </table>
                    </perfect-scrollbar>
                    <div *ngIf="tablelist_columns.length == 0" class="no-data">
                      No Record's found
                    </div>
                  </div>
                </div>

              </div>

<!-- 

              <ng-template #elsepart>
                <div [ngClass]="isOpen_columns_tab &&  isOpen_table" class="menu-trigger">
                  <div class="card-collapse-custom ">
                    <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader ">
                      <h5 class="mb-0" (click)="toggleShowDiv('Columns',$event)">

                        <a class="w-100 table-header-dropdown " data-toggle="collapse"
                          aria-controls="collapseTwo">Columns
                          (
                          {{tablelist_columns && tablelist_columns.length ? tablelist_columns.length : 0}} )<i
                            class="material-icons float-right mr-2 mt-1 panel-icon"
                            [ngClass]="isOpen_columns ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
                        <span>
                          <a href="javascript:void(0)"
                            class="modal-trigger waves-effect btn-flat nopadding align-icon-edit"
                            data-original-title="Edit" (click)="tableActionColumn(data)">
                            <i class="material-icons " aria-hidden="true" container="body" ngbTooltip="Edit">edit</i>
                          </a>
                        </span>
                      </h5>
                    </div>
                  </div>

                  <div *ngIf="isOpen_columns && isOpen_table" class="tablecoloumn divA">
                    <div class="preview_table table-aligncoloumn">
                      <perfect-scrollbar>
                        <table class="table  table-hover my-custom-table " cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Table Name</th>
                              <th>Column Name</th>
                              <th>Description</th>
                            </tr>
                          </thead>
                          <tbody *ngIf="tablelist_columns.length != 0">
                            <tr *ngFor="let columns of tablelist_columns; let i = index;">


                              <td class="table-align-business-M-70">
                                <div class="point" (click)="openChildTable(columns)">
                                  <a *ngIf="columns.tableName != '' || null">
                                    <span>
                                      <i class="fa fa-table"></i>
                                    </span>
                                  </a>
                                  {{columns.tableName}}
                                </div>
                              </td>
                              <td class="table-align-business-M-70">{{columns.columnName}}</td>
                              <td>{{columns.description}}</td>
                          </tbody>
                        </table>
                      </perfect-scrollbar>
                      <div *ngIf="tablelist_columns.length == 0" class="no-data">
                        No Record's found
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template> -->

              <div *ngIf="isOpen_relation_tab" class="menu-trigger">
                <div class="card-collapse-custom">
                  <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
                    <h5 class="mb-0" (click)="toggleShowDiv('Relations',$event)">
                      <a class="w-100 table-header-dropdown" data-toggle="collapse"
                        aria-controls="collapseTwo">Relations
                        ( {{tablelist_relations && tablelist_relations.length ? tablelist_relations.length : 0}} )<i
                          class="material-icons float-right mr-2 mt-1 panel-icon"
                          [ngClass]="isOpen_relation ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
                    </h5>
                  </div>
                </div>

                <div *ngIf="isOpen_relation" 
                [ngClass]="setHeightTable == 1 ? 'table1' : setHeightTable == 2 ? 'table2' : setHeightTable == 3 ? 'table3' : ' report-table'" class="material-table divA">
                  <div class="preview_table table-align h-100">
                    <perfect-scrollbar>
                      <table class="table  table-hover my-custom-table" cellspacing="0">

                        <thead>
                          <tr>
                            <th class="table-align-business-10">From Table</th>
                            <th class="table-align-business-10">Relation Name</th>
                            <th class="table-align-business-10">To Table</th>
                            <th class="table-align-business-70">Relation String</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="tablelist_relations.length != 0">
                          <tr *ngFor="let relation of tablelist_relations; let i = index;">

                            <td>
                              <div class="point" (click)="openChildTable(relation)">
                                <a *ngIf="relation.tableName != '' || null">
                                  <span>
                                    <i class="fa fa-table"></i>
                                  </span>
                                </a>
                                {{relation.tableName}}
                              </div>
                            </td>
                            <td> {{relation.relationName}}</td>

                            <td>
                              <div class="point" (click)="openChildTable(relation)">
                                <a *ngIf="relation.relationTablename != '' || null">
                                  <span>
                                    <i class="fa fa-table"></i>
                                  </span>
                                </a>
                                {{relation.relationTablename}}
                              </div>
                            </td>
                            <td> {{relation.relationString}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </perfect-scrollbar>
                    <div *ngIf="tablelist_relations.length == 0" class="no-data">
                      No Record's found
                    </div>
                  </div>
                </div>

              </div>

              <div *ngIf="isOpen_index_tab" class="menu-trigger">
                <div class="card-collapse-custom">
                  <div role="tab" id="headingOne" class="h-33px cursorpointer card-header accordionHeader">
                    <h5 class="mb-0" (click)="toggleShowDiv('index',$event)">
                      <a class="w-100 table-header-dropdown" data-toggle="collapse" aria-controls="collapseTwo">Indexes
                        (
                        {{datatablelist_index &&datatablelist_index.length ? datatablelist_index.length :0}} )<i
                          class="material-icons float-right mr-2 mt-1 panel-icon"
                          [ngClass]="isOpen_index ? 'gg-chevron-up' : 'gg-chevron-down'"></i></a>
                    </h5>
                  </div>
                </div>

                <div *ngIf="isOpen_index"
                [ngClass]="setHeightTable == 1 ? 'table1' : setHeightTable == 2 ? 'table2' : setHeightTable == 3 ? 'table3' : ' report-table'" class="material-table divA">
                  <div class="preview_table table-align h-100">
                    <perfect-scrollbar>
                      <table class="table table-hover my-custom-table" cellspacing="0">

                        <thead>
                          <tr>
                            <th>Order Index</th>
                            <th>Key Name</th>
                            <th>Table Name</th>
                            <th>Description</th>

                          </tr>
                        </thead>
                        <tbody *ngIf="datatablelist_index.length != 0">
                          <tr *ngFor="let indexobj of datatablelist_index; let i = index;">
                            <td> {{indexobj.orderIndex}}</td>
                            <td> {{indexobj.indexName}}</td>

                            <td>
                              <div class="point" (click)="openChildTable(indexobj)">
                                <a *ngIf="indexobj.tableName != '' || null">
                                  <span>
                                    <i class="fa fa-table"></i>
                                  </span>
                                </a>
                                {{indexobj.tableName}}
                              </div>
                            </td>
                            <td> {{indexobj.description}}</td>
                          </tr>

                        </tbody>
                      </table>
                    </perfect-scrollbar>
                    <div *ngIf="datatablelist_index.length == 0" class="no-data">
                      No Record's found
                    </div>
                  </div>
                </div>

              </div>
            </perfect-scrollbar>
          </div>

          <div *ngIf="noRecord" class="no-data">
            No Record's found
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="treeview_erm" id="card-body">
  <app-business-table-tree-view (backToSummaryClick)="backToSummaryClick()" [nodetreevalues]="nodetreevalues">
  </app-business-table-tree-view>
</div>


<div *ngIf="treeview_repository" id="card-body">
  <app-businessrepositoryview (backToSummaryClickRepository)="backToSummaryClickRepository()"
    [nodetreevalues]="nodetreevalues">
  </app-businessrepositoryview>
</div>


<ng-template #addColumnPopup let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Column Details </h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="modalClose()"></i></a>
  </div>
  <div class="modal-body">
    <form [formGroup]='columnSetupForm'>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div class="form-row">

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Data Type </label>
                <ng-select class="selectpicker" appendTo="body" formControlName="dataType"
                  [class.bb-error]="(submitted_Column && columnSetupForm.controls['dataType'].invalid)">
                  <ng-container *ngFor="let datasub of dataTypeList">
                    <ng-option value="{{datasub.alphaSubTab}}"> {{datasub.description}}
                    </ng-option>
                  </ng-container>

                </ng-select>


              </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Mandatory Flag</label>

                <ng-select class="selectpicker" appendTo="body" formControlName="mandatoryFlag"
                  [class.bb-error]="(submitted_Column && columnSetupForm.controls['mandatoryFlag'].invalid)">
                  <ng-container *ngFor="let datasub of objectMandatoryList">
                    <ng-option value="{{datasub.numSubTab}}"> {{datasub.description}}
                    </ng-option>
                  </ng-container>

                </ng-select>

                <div class="line"></div>

              </div>
            </div>

            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Data Length </label>
                <input type='text' maxlength="5" class="form-control" placeholder="" formControlName='dataLength'
                  [class.bb-error]="(submitted_Column && columnSetupForm.controls['dataLength'].invalid)" />
                <div class="line"></div>
                <div class="validation-error bt15" *ngIf="columnSetupForm.controls['dataLength'].errors?.pattern">
                  * Numbers only allowed
                </div>
              </div>
            </div>


            <div class="col-sm-12 col-md-6 col-lg-6 col-xl-6">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Data Index </label>
                <input type='text' maxlength="2" class="form-control" placeholder="" formControlName='dataIndex'
                  [class.bb-error]="(submitted_Column && columnSetupForm.controls['dataIndex'].invalid)" />
                <div class="line"></div>
                <div class="validation-error bt15" *ngIf="columnSetupForm.controls['dataIndex'].errors?.pattern">
                  * Numbers only allowed
                </div>
              </div>
            </div>


            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">Guidelines</label>
                <input type='text' class="form-control" placeholder="" formControlName='guidelines'
                  (click)="opneMagniferData('Objects/Tabls')" />
              </div>
            </div>


          </div>
          <div class="form-row">
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <div class="togglebutton">
                  <label class="globalContent">
                    Audit Enable
                    <input type="checkbox" formControlName='auditEnableFlag'>
                    <span class="toggle align-toggle"></span>

                  </label>
                  <div class="line"></div>
                </div>

              </div>


            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <div class="togglebutton">
                  <label class="globalContent">
                    Data Sensitivity
                    <input type="checkbox" formControlName='colDataSensitivity'>
                    <span class="toggle"></span>
                    <div class="line"></div>
                  </label>
                </div>

              </div>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
              <div class="form-group bmd-form-group pl-0">
                <div class="togglebutton">
                  <label class="globalContent">
                    Display Columns
                    <input type="checkbox" formControlName='displayColumn'>
                    <span class="toggle"></span>
                  </label>
                  <div class="line"></div>
                </div>

              </div>
            </div>
          </div>

          <div class="form-row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group bmd-form-group pl-0">
                <label class="bmd-label-static mb-0 pl-0">
                  Description</label>
              </div>
              <div class="align-header-popup1 row">
                <label class="align-label" for="checkboxes-0">
                  <input type="radio" name="selecteLanguage" value="EN" formControlName="selecteLanguage" checked>
                  English
                </label>
                <label class="align-label align-checkbox-desc" for="checkboxes-1">
                  <input type="radio" name="selecteLanguage" value="RS" formControlName="selecteLanguage">
                  Russian
                </label>
                <label class="align-label align-checkbox-desc" for="checkboxes-2">
                  <input type="radio" name="selecteLanguage" value="FR" formControlName="selecteLanguage">
                  French
                </label>
                <label class="align-label align-checkbox-desc" for="checkboxes-3">
                  <input type="radio" name="selecteLanguage" value="PR" formControlName="selecteLanguage">
                  Persian
                </label>
              </div>
              <div class="line"></div>

            </div>

            <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
              <div class="form-group bmd-form-group pl-0">
                <textarea style="margin-top: -12px;" class="textareacd" formControlName="description">
              </textarea>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
  <div class="modal-footer text-center pb-0 h-10">
    <button *ngIf="globalService.pageLevelAccess.profileAdd == 'Y'" type="button"
      [disabled]="((!columnSetupForm.valid))" class="btn btn-rose btn-sm" (click)="submitColumnSetup()">Submit</button>
    <button type="button" (click)="modalClose()" class="btn btn-rose btn-sm">Cancel</button>
  </div>

</ng-template>