.paginationHold {
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.paginationHold > div {
  position: relative;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: flex-end;
}

.hm_dashboard {
  position: absolute;
  top: 14px;
  font-size: 13px;
  font-weight: 600;
  z-index: 1;
  color: #2a2a2a;
  font-family: Open Sans, sans-serif;
  padding-left: 2px;
}

.paginationHold label {
  font-size: 12px;
  text-align: right;
}

.paginationHold select {
  padding: 0;
  width: 40px;
}

.hoverClassRow {
  background-color: #eee;
}

.table-footer select {
  border-bottom: 1px solid lightgrey;
}

.custom-select {
  padding-left: 31px;
  margin-left: 11px;
  border: none;
}

.paginationHold * {
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 400;
}

.paginationHold > span {
  display: inline-flex;
  min-width: 40px;
}

.tableSeperate {
  border-collapse: separate !important;
  border-spacing: 0;
}

table.tableSeperate thead tr:nth-child(2) th {
  top: 28px !important;
}

.highlighted-row {
  background-color: #eee;
  -webkit-box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    5px 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  box-shadow: inset 5px 0 0 #dadce0, inset -1px 0 0 #dadce0,
    0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
}

.table-header i,
.table-header-icon {
  color: rgb(0 0 0 / 48%);
  font-size: 19px;
  border: dotted 2px transparent;
  font-weight: 600;
}

.prompts {
  position: relative;
  left: 35%;
  cursor: pointer;
}

.prompts-icon {
  font-size: 16px !important;
  vertical-align: middle;
}

table tr td .text-center i {
  color: #2a2a2a;
}

table tr td {
  color: #2a2a2a !important;
  line-height: 18px;
  font-weight: normal;
}

.home-select {
  left: -26px;
}

.text-header {
  font-size: 14px;
  font-weight: bold;
}

.align {
  margin-top: 12px !important;
}

.togglebutton label input[type="checkbox"]:checked + .toggle:after {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  margin-top: -1px;
}

.togglebutton label input[type="checkbox"]:checked + .toggle {
  background: #4caf50 !important;
}

input:checked + .slider {
  background-color: var(--content-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.row-corn {
  display: flex;
  flex-wrap: wrap;
  content: lavender;
  flex-direction: row-reverse;
}

.btn-style {
  margin-top: 10px;
  background-color: white !important;
}

.header-table {
  margin-top: 10px;
}

.align-values {
  padding-left: 34px;
  padding-top: 36px;
}

.fontstyle {
  font-size: 1px !important;
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

.font-400 {
  font-size: 13px !important;
  font-weight: bold;
  color: #4a4a4a;
  width: 20%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

.font-200 {
  padding-left: 14px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 13px !important;
  color: #4a4a4a;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.align_icon {
  width: 30px;
  font-size: x-large;
}

.text-wrap {
  width: 10px !important;
  word-wrap: break-word;
}

.margins {
  margin-top: -10px;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.margins span {
  display: flex;
  justify-content: flex-start;
  width: 80%;
}

.gridster-type {
  padding: 5px;
  padding-top: 2px;
  padding-bottom: 5px;
  font: 600 16px/15px "Open Sans", sans-serif;
  color: #4a4a4a;
}

:host {
  color: #ffffff;
}

.footer-table {
  margin-top: 32px;
  color: grey;
}

.align-table-icon {
  width: 30px;
  font-size: x-large;
  margin-left: 15px;
}

.menu-trigger {
  color: #00bcd4;
  padding-top: 5px;
  padding-bottom: 5px;
}

.table-header-small {
  align-items: center;
  height: 50%;
  width: 30%;
}

.menu {
  border-bottom: 1px solid #dcdcdc;
  background: #39577d;
}

.menu-item {
  text-align: center;
  padding: 15px;
  border-bottom: 1px solid #dcdcdc;
  max-width: 300px;
  margin: auto;
  width: 10%;
  cursor: pointer;
}

.menu-item:last-child {
  border-bottom: none;
}

.menu-item:hover {
  color: #c1c1c1;
}

.visible {
  overflow-x: scroll;
  overflow-y: scroll;
}

.header {
  height: 22px;
  width: 100%;
  background-color: white;
  z-index: 15;
}

.cursorpointer {
  cursor: pointer;
}

.flex-con-col {
  margin-top: 55px;
  height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: -11px;
  height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d3d3d3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d3d3d3;
}

.checking {
  transition: all 0.3s ease-in-out;
}

.view-icon {
  margin-right: 5px;
}

.align-icon {
  margin-left: 15px;
  margin-right: 10px;
  height: 7px;
}

.global-icons {
  font-size: 18px;
  color: #4a4a4a;
  cursor: pointer;
}

.point {
  cursor: pointer;
  white-space: nowrap;
}

.backclick {
  color: #5f90ff;
  text-decoration: underline !important;
  font-size: 13px;
  margin-top: -39px;
}

.key-size {
  font-size: 15px !important;
}

::-webkit-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2a2a2a;
}

.report-table {
  display: flex;
  justify-content: center;
  background: #f7f7f7;
  border: solid 1px #e2e2e2;
}

.report-table td {
  white-space: unset;
}

.report-table th {
  white-space: nowrap !important;
}

.btn.btn-rose,
.btn.btn-rose:active,
.btn.btn-rose:visited {
  background-color: white !important;
}

.checkedClass {
  height: 200px !important;
}

.uncheckedClass {
  height: unset !important;
}

.content {
  -webkit-transition: all 0.3s;
  transition: all 0.3s ease-in-out;
}

.table-align {
  width: 97%;
  border-top: 0px;
  margin-top: 0px;
  /* height:calc(100% - 80px) */
}

.table-aligncoloumn {
  width: 97%;
  border-top: 0px;
  margin-top: 12px;
  height: calc(100% - 40px);
}

.table-alignrelation {
  width: 97%;
  border-top: 0px;
  margin-top: 12px;
  height: calc(100% - 60px);
}

.h-9 {
  height: 9% !important;
}

.header-sty {
  border: 2px;
  border-radius: 4px;
  background-color: #bbbbbb61;
  padding: 1px;
  border-style: solid;
  z-index: 100;
  border-color: #bbbbbb61;
}

.align-header {
  margin-left: 11px;
}

.align-header-controls {
  /* margin-top: -8px; */
}

.align-icon-edit .material-icons {
  font-size: 20px;
  margin-top: -5px;
  margin-left: 5px;
  z-index: 1000;
}

.align-header-popup {
  margin-top: -19px;
  position: relative;
  margin-left: 15%;
}

.textarea {
  min-height: 95px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  left: 0px;
  bottom: -4px;
  background-color: #d1e8ea;
  transition: 0.4s;
}

.align-checkbox-desc {
  margin-left: 5px;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--content-color);
}

.togglebutton label input[type="checkbox"]:checked + .toggle:after {
  border: 1px solid rgba(0, 0, 0, 0.54) !important;
  margin-top: -1px;
}

.togglebutton label input[type="checkbox"]:checked + .toggle {
  background-color: var(--content-color) !important;
}

input:checked + .slider {
  background-color: var(--content-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.table-align-business-10 {
  width: 10px;
}

.table-align-business-70 {
  width: 70px;
}

.table-align-business-M-70 {
  max-width: 70px;
}

.align-label1 {
  color: #333 !important;
}

.align-label {
  color: #333 !important;
}

.tabStartClass {
  height: calc(100% - 60px);
  overflow: auto;
}

.report-table.material-table {
  height: calc(100vh - 335px);
  /* animation-name: d;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1); */
}

.table1 {
  height: calc(100vh - 215px);
  /* animation-name: d;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
}

.table2 {
  height: calc(100vh - 254px);
  /* animation-name: d;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
}

.table3 {
  height: calc(100vh - 293px);
  /* animation-name: d;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);  */
}

.h-60px {
  height: 60px;
}

.text_overflow {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.transition {
  display: block;
  opacity: 1;
  /* transform: scale(1); */
  transform: scale(1);
  transition: ease-in-out;
  transition-duration: 0.5s;
  /* transition: width 2s, height 4s; */
}

.textareacd {
  min-height: 150px;
  border: 1px solid #ddd;
  position: relative;
  width: 100%;
  font-size: 13px;
}

@media only screen and (max-height: 580px) {
  .textareacd {
    min-height: 120px;
  }
}

@media only screen and (max-height: 520px) {
  .textareacd {
    min-height: 90px;
  }
}

@media only screen and (max-height: 465px) {
  .textareacd {
    min-height: 60px;
  }
}

@media only screen and (max-height: 430px) {
  .textareacd {
    min-height: 45px;
  }
}

.align-header-popup1 {
  margin-top: -19px;
  position: relative;
  margin-left: 12%;
}

@media only screen and (max-width: 991px) {
  .align-header-popup1 {
    margin-left: 20%;
  }
}
