<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{title}}</h4>
    <a class='close' href='javascript:;'><i class="fa fa-times" aria-hidden="true" (click)="closeModal()"></i></a>
</div>
<div class="modal-body magnifier">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-row">
                <div class="form-group bmd-form-group col-sm-10 col-md-10 col-lg-10 col-xl-10">
                    <input type='text' class="form-control" #filterValue>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2">
                    <button type="button" class="btn btn-sm btn-rose btn-outline-dark btn-plain pl-2 pr-2 border-0" (click)="filter(filterValue.value)"><i class="fa fa-search" aria-hidden="true"></i></button>
                </div>
            </div>


            <div class="material-table">
                <div class="table-responsive">
                    <table style="margin-right: 16px;">
                        <thead>
                            <tr>
                                <th style="width: 230px;">Id</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                    <cdk-virtual-scroll-viewport itemSize="20" minBufferPx="300" (scrolledIndexChange)="handler()" maxBufferPx="500" style="height: 400px;">
                        <table>
                            <tbody>
                                <tr  *cdkVirtualFor="let data of branchList1;let i=index" (click)="emitSelectedData(data)">
                                    <td style="width: 230px;">{{data.columnNine}}</td>
                                    <td>{{data.columnTen}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </cdk-virtual-scroll-viewport>
                </div>
            </div>




        </div>
    </div>
</div>
