@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~@ng-select/ng-select/themes/material.theme.css";
@import "~ngx-toastr/toastr";
@import "~@circlon/angular-tree-component/css/angular-tree-component.css";

/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */

/*************************/

.opacity-0 {
  opacity: 0;
}

.h-90 {
  height: 90%;
}

.ng-select-container {
  background-color: transparent !important;
}

ng-multiselect-dropdown .multiselect-dropdown .dropdown-list {
  min-height: 30px;
}

ng-multiselect-dropdown .multiselect-dropdown .dropdown-list ul .no-data h5 {
  font-size: 11px !important;
  margin: 5px;
}

/* .form-check .form-check-input:checked~.circle {
    border: var(--border-btn-color);
}

.form-check .form-check-label .circle .check {
    background-color: var(--border-btn-color);
} */

.dropdown-menu {
  transition: none;
}

#navbarDropdownProfile + .dropdown-menu {
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.ng-dropdown-panel {
  z-index: 10003 !important;
}

.modal-content div.material-table table tr td {
  padding: 0px 4px;
  font-size: 13px;
}

.modal-content div.material-table table th {
  padding: 0px 4px;
  font-size: 12px;
}

.matrixTypeHold .form-group {
  border-right: solid 1px #ccc;
}

.index-content .form-row .form-control {
  padding-right: 20px;
}

/**** Table column formatting style starts ****/

[data-format="N"] {
  text-align: right;
}

[data-format="G"],
[data-bold="G"] {
  font-weight: bold;
}

[data-disable-click="G"] {
  pointer-events: none;
}

/**** Table column formatting style ends ****/

/****Icon style starts****/

/*************************/

.a-view,
.c-view {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  border: 2px solid #00bcd4;
  border-radius: 50%;
}

.a-view:hover,
.c-view:hover {
  color: #000;
}

.a-view::after,
.c-view::after {
  clear: both;
  display: block;
  content: "A";
  position: absolute;
  top: -3px;
  font-size: 11px;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  right: 5px;
}

.c-view::after {
  content: "C";
}

/*************************/

/****Icon style ends****/

/*************************/

.sidebar .sidebar-wrapper {
  overflow: hidden;
}

.nav.subMenu.sub {
  margin-top: -43px;
}

.sidebar .nav.subMenu.sub {
  /* display: none; */
  transform: scale(0);
  transform-origin: 0;
  transition: 0.15s ease-in-out;
}

.collapse.show a > span {
  opacity: 1 !important;
  transform: translate3d(0, 0, 0) !important;
}

.form-check .form-check-label .circle {
  top: -3px;
}

#matrixTypeHold {
  position: relative;
}

/*********** Fixed header for rowspan table ***********/

table.inlineEditTable thead tr:nth-child(2) th {
  top: 26px;
  z-index: 1000;
}

/* .sec-bg {

  background: #ccc;
} */

/* .validation-error {
  border-radius: 3px;
  position: absolute;
  padding: 0px 5px;
  line-height: 18px;
  color: #ff0000;
  left: 15px;
  bottom: -21px;
  font-size: 12px;
  background: #ffffff;
  border: solid 1px #ff0000;
  margin-top: -1px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
} */

.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* background: url(/assets/img/logo-head.png) center no-repeat #fff; */
  background: url(/assets/img/pre-loader.gif) center no-repeat transparent;
}

table .card .form-check {
  width: 26px;
}

.dropdown_check + form-check-sign {
  top: -10px;
  left: 0;
}

.flex-con-row-er {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: fixed;
}

.flex-con-row {
  width: 100%;
}

.bg-grey {
  min-height: -webkit-fill-available !important;
}

#treeview li label span {
  white-space: nowrap;
  display: inline-block;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dropdown-menu .dropdown-item,
.dropdown-menu li > a {
  padding-top: 8px;
  padding-bottom: 8px;
}

.w-h-100 {
  height: 100%;
  width: 100%;
  background-color: #fff;
  /*border-radius: 7px;
    border-bottom-left-radius: unset;
    border-bottom-right-radius: unset;*/
}

.table-footer {
  height: 32px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  padding-left: 24px;
  padding-right: 14px;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  font-size: 12px !important;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  position: absolute;
  bottom: calc(0px - 21%);
  right: 0;
}

.mainHead {
  color: #ccc;
  font-size: 22px;
}

.subHead {
  font-size: 14px;
  font-weight: 600;
  color: #9a9a9a;
}

.blueHead {
  color: #00bcd4;
  font-weight: 600;
}

.bmd-label-floating {
  padding-left: 0 !important;
}

.bmd-form-group:not(.has-success):not(.has-danger)
  [class*=" bmd-label"].bmd-label-floating,
.bmd-form-group:not(.has-success):not(.has-danger)
  [class^="bmd-label"].bmd-label-floating {
  color: #1d1d1d;
}

.green-dot {
  width: 9px;
  height: 9px;
  background: #4caf50;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.red-dot {
  width: 9px;
  height: 9px;
  background: #f52626c2;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  top: 1px;
  margin-right: 3px;
}

.plr10 {
  padding: 0 10px;
}

.p10 {
  padding: 10px;
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.image-center {
  text-align: center;
}

.hummingbird-treeview .tree-file {
  padding-right: 5px;
}

table .even {
  background: #e1f2ff;
}

#treeview_container {
  overflow: hidden;
  padding: 15px;
}

#menu-maintenance-table td:first-child,
#menu-maintenance-table th:first-child {
  border-left: 1px solid #ccc;
}

#menu-maintenance-table tr td:last-child + div {
  display: flex;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
}

#menu-maintenance-table tr td:last-child > div .green-dot {
  width: 9px;
  height: 9px;
  background: #4caf50;
  border-radius: 50%;
  margin-right: 3px;
}

.simpletoggle {
  padding: 12px !important;
  line-height: 0px !important;
  font-size: 12px !important;
  background: none !important;
  color: #0c7cd5 !important;
}

.simpletoggle:focus {
  padding: 12px !important;
  line-height: 0px !important;
  font-size: 18px !important;
  background: none !important;
  color: #0c7cd5 !important;
}

.simpletoggle-color {
  padding: 5px !important;
  line-height: 0px !important;
  font-size: 12px !important;
  background: none !important;
  color: #238026 !important;
  border: solid 1px #ccc !important;
}

.dimTable td {
  padding: 3px !important;
  font-size: 11px !important;
}

.dimTable th {
  font-size: 11px !important;
  font-weight: 600 !important;
  color: #333 !important;
  padding: 3px !important;
}

.radio-up {
  margin-top: -16px !important;
  padding-left: 21px !important;
}

.dataTables_scrollHeadInner table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #ddd !important;
  font-size: 12px !important;
  line-height: 12px;
}

.sorting_disabled {
  border-bottom: 2px solid #ddd !important;
}

.dataTables_scrollBody table.display tbody td {
  font-size: 11px;
  line-height: 12px;
}

.dataTables_scrollBody .jtk-droppable td {
  padding: 2px !important;
}

.dataTables_scrollBody .jtk-droppable .odd {
  background-color: #ff0000;
}

table.dataTable.stripe tbody tr.odd,
table.dataTable.display tbody tr.odd {
  background-color: #e0fbff !important;
}

#select_table_list li a {
  width: 100%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  text-decoration: none !important;
}

#treeview li label span {
  white-space: nowrap;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tableBorderBottom td {
  border-bottom: 1px solid #9cd8e0 !important;
  padding: 0 5px !important;
}

.tableBorderBottom tr td:first-child,
.tableBorderBottom tr th:first-child {
  border-left: 1px solid #9cd8e0 !important;
}

.tableBorderBottom tr td:last-child,
.tableBorderBottom tr th:last-child {
  border-right: 1px solid #9cd8e0 !important;
}

.tableBorderBottom .form-control {
  height: 28px;
  background: none;
}

.tableBorderBottom th {
  height: 29px !important;
}

.tableBorderBottom td > ng-select {
  height: 28px;
  top: 0;
}

.tableBorderBottom .ng-select-container:after {
  border: none !important;
}

.tableBorderBottom .ng-clear-wrapper {
  bottom: 4px !important;
}

.tableBorderBottom .ng-arrow-wrapper {
  bottom: 4px !important;
}

#matrixTypeHold .ng-arrow-wrapper {
  bottom: -1px !important;
}

::-webkit-input-placeholder,
head ::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  font-size: 10px !important;
  color: #cecece !important;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #cecece;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #cecece;
}

input::placeholder {
  font-size: 12px !important;
}

/***********toast style starts ***********/

/* based on angular-toastr css https://github.com/Foxandxss/angular-toastr/blob/cb508fe6801d6b288d3afc525bb40fee1b101650/dist/angular-toastr.css */

/* position */

.toast-center-center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%;
}

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%;
}

.toast-top-left {
  top: 12px;
  left: 12px;
}

.toast-top-right {
  top: 12px;
  right: 12px;
}

.toast-bottom-right {
  right: 12px;
  bottom: 12px;
}

.toast-bottom-left {
  bottom: 12px;
  left: 12px;
}

/* toast styles */

.toast-title {
  font-weight: bold;
}

.toast-message {
  word-wrap: break-word;
}

.toast-message a,
.toast-message label {
  color: #ffffff;
}

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none;
}

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  /* opacity: 0.8; */
}

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
}

/*Additional properties for button version
   iOS requires the button element instead of an anchor tag.
   If you want the anchor version, it requires `href="#"`.*/

button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.toast-container {
  pointer-events: none;
  position: fixed;
  z-index: 999999;
}

.toast-container * {
  box-sizing: border-box;
}

.toast-container .ngx-toastr {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  background-size: 24px;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
}

.toast-container .ngx-toastr:hover {
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  cursor: pointer;
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/info-circle.svg */

.toast-info {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119.043 8 8 119.083 8 256c0 136.997 111.043 248 248 248s248-111.003 248-248C504 119.083 392.957 8 256 8zm0 110c23.196 0 42 18.804 42 42s-18.804 42-42 42-42-18.804-42-42 18.804-42 42-42zm56 254c0 6.627-5.373 12-12 12h-88c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h12v-64h-12c-6.627 0-12-5.373-12-12v-24c0-6.627 5.373-12 12-12h64c6.627 0 12 5.373 12 12v100h12c6.627 0 12 5.373 12 12v24z'/%3E%3C/svg%3E");
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/times-circle.svg */

.toast-error {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm121.6 313.1c4.7 4.7 4.7 12.3 0 17L338 377.6c-4.7 4.7-12.3 4.7-17 0L256 312l-65.1 65.6c-4.7 4.7-12.3 4.7-17 0L134.4 338c-4.7-4.7-4.7-12.3 0-17l65.6-65-65.6-65.1c-4.7-4.7-4.7-12.3 0-17l39.6-39.6c4.7-4.7 12.3-4.7 17 0l65 65.7 65.1-65.6c4.7-4.7 12.3-4.7 17 0l39.6 39.6c4.7 4.7 4.7 12.3 0 17L312 256l65.6 65.1z'/%3E%3C/svg%3E");
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/check.svg */

.toast-success {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='512' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M173.898 439.404l-166.4-166.4c-9.997-9.997-9.997-26.206 0-36.204l36.203-36.204c9.997-9.998 26.207-9.998 36.204 0L192 312.69 432.095 72.596c9.997-9.997 26.207-9.997 36.204 0l36.203 36.204c9.997 9.997 9.997 26.206 0 36.204l-294.4 294.401c-9.998 9.997-26.207 9.997-36.204-.001z'/%3E%3C/svg%3E");
}

/* https://github.com/FortAwesome/Font-Awesome-Pro/blob/master/advanced-options/raw-svg/regular/exclamation-triangle.svg */

.toast-warning {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 576 512' width='576' height='512'%3E%3Cpath fill='rgb(255,255,255)' d='M569.517 440.013C587.975 472.007 564.806 512 527.94 512H48.054c-36.937 0-59.999-40.055-41.577-71.987L246.423 23.985c18.467-32.009 64.72-31.951 83.154 0l239.94 416.028zM288 354c-25.405 0-46 20.595-46 46s20.595 46 46 46 46-20.595 46-46-20.595-46-46-46zm-43.673-165.346l7.418 136c.347 6.364 5.609 11.346 11.982 11.346h48.546c6.373 0 11.635-4.982 11.982-11.346l7.418-136c.375-6.874-5.098-12.654-11.982-12.654h-63.383c-6.884 0-12.356 5.78-11.981 12.654z'/%3E%3C/svg%3E");
}

.toast-container.toast-top-center .ngx-toastr,
.toast-container.toast-bottom-center .ngx-toastr {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.toast-container.toast-top-full-width .ngx-toastr,
.toast-container.toast-bottom-full-width .ngx-toastr {
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

.ngx-toastr {
  background-color: #030303;
  pointer-events: auto;
}

.toast-success {
  background-color: #51a351;
}

.toast-error {
  background-color: #bd362f;
}

.toast-info {
  background-color: #2f96b4;
}

.toast-warning {
  background-color: #f89406;
}

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
}

div.material-table table th {
  color: #fff;
  /* background-color: #00bcd4;
  border-top: #00bcd4; */
  box-shadow: none;
  font-size: 13px;
}

/***********toast style ends ***********/

/***********ng-select style starts ***********/

.ng-select {
  padding-bottom: 0px;
  top: 2px;
}

.ng-select.ng-select-focused:not(.ng-select-opened) > .ng-select-container {
  border: none;
  border-color: transparent;
  box-shadow: none;
}

.ng-select .ng-select-container {
  border: none;
}

.ng-value-label {
  font-size: 12px;
}

.ng-select-container.ng-appearance-underline {
  box-shadow: none;
}

.ng-select-container > .ng-value-container > .ng-value {
  background-color: #fff !important;
  border-radius: 2px;
  color: #2a2a2a !important;
  padding: 0px !important;
  margin: 0px !important;
}

.ng-select-container > .ng-value-container > .ng-value > .ng-value-label {
  font-size: 13px !important;
  font-weight: normal;
  color: #2a2a2a !important;
  padding-left: 2px;
}

.ng-select-container > .ng-value-container {
  display: flex !important;
  flex-flow: row !important;
  white-space: nowrap;
  overflow: hidden;
  /* overflow-x: auto !important; */
  text-overflow: ellipsis;
}

.ng-select-container > .ng-value-container > .ng-value > .ng-value-icon {
  color: rgba(0, 0, 0, 0.54) !important;
  padding-right: 0px !important;
  padding-left: 7px !important;
}

.dropdown-menu
  .ng-select-container
  > .ng-value-container
  > .ng-value
  > .ng-value-icon {
  padding-right: 7px !important;
}

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value
  .ng-value-icon.left {
  border-right: none;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container,
.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
  position: relative;
  top: -3px;
  height: 100px !important;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
  padding: 0;
}

.ng-select .ng-select-container .ng-value-container .ng-input > input {
  width: 99% !important;
  font-size: 12px;
  top: 2px;
}

/***********ng-select style ends ***********/

/***********Customer view style start ***********/

/* .customer-detail-view .view-container{
   margin:0 0 1px 0;
} */

.customer-detail-view .view-container .label {
  font-size: 14px;
  background-color: #eee;
  padding: 7px 0 7px 20px;
  border-left: 5px solid #00bcd4;
}

.customer-detail-view .view-container .value {
  font-size: 12px;
  padding: 7px 0 7px 20px;
}

/***********Customer view style end ***********/

/***********Perfect scrollbar design starts**************/

.popup-overall-height.child-customer-details {
  max-height: calc(100vh - 391px);
}

/***********Perfect scrollbar design ends**************/

/* Responsive Design */

@media all and (max-width: 240px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 11em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 241px) and (max-width: 480px) {
  .toast-container .ngx-toastr.div {
    padding: 8px 8px 8px 50px;
    width: 18em;
  }

  .toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em;
  }
}

@media all and (min-width: 481px) and (max-width: 768px) {
  .toast-container .ngx-toastr.div {
    padding: 15px 15px 15px 50px;
    width: 25em;
  }

  .row {
    height: auto !important;
  }
}

@media (min-width: 768px) {
  .dropdown-menu .dropdown-item,
  .dropdown-menu li > a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width: 990px) {
  .nameFieldHeader {
    max-width: 100px;
  }
}

/*   Loader   */

/* .loader {
    width: 250px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    list-style-type: none;
    z-index: 1000;
}

#loading {
    display: inline-block;
    top: 50%;
    left: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #00bcd4;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
} */

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}

.material-table {
  width: 100%;
}

.addColumnValue-03 {
  position: relative;
  display: inline-block;
  top: -1px;
  font-size: 13px;
  font-weight: normal;
  cursor: pointer;
  height: 21px;
  z-index: 1111;
}

/* @media (min-width: 992px) {
  .deal-config .modal-lg {
    max-width: 1000px;
  }
} */

.multiselect-dropdown {
  position: relative;
  width: 100%;
  font-family: inherit;
  font-size: 12px !important;
  padding-left: 5px;
}

.dropdown-btn span:last-child span:first-child {
  font-size: 10px;
}

.multiselect-dropdown .dropdown-list {
  margin-top: 0px !important;
  padding: 3px 4px !important;
}

.multiselect-dropdown .dropdown-btn {
  border: none !important;
  border-bottom: 1px solid #d2d2d2 !important;
  padding: 6px 1px !important;
  line-height: 24px !important;
  border-radius: 0px !important;
  color: #2a2a2a;
}

.multiselect-dropdown .dropdown-btn .selected-item {
  border: none !important;
  margin-right: 4px;
  padding: 0 3px;
  color: #fff;
  border-radius: 2px;
  float: left;
  font-size: 9px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width: 97px;
    margin-top: 4px; */
  box-shadow: none !important;
  line-height: 18px !important;
  margin-top: 6px;
}

.multiselect-dropdown .dropdown-btn .dropdown-down {
  border-top: 6px solid #adadad !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-up {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 6px solid #adadad !important;
  border-left: 6px solid transparent !important;
  border-right: 6px solid transparent !important;
}

.dropdown-list .filter-textbox {
  padding: 0px !important;
}

.dropdown-list .filter-textbox input {
  border: 0;
  width: 100%;
  padding: 0 0 0 3px;
}

.dropdown-list .item1 .multiselect-item-checkbox {
  padding-left: 12px !important;
  /* padding-top: 1px !important;
    padding-bottom: 2px !important; */
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  margin-top: -9px;
  border: 1px solid #b6b7b7 !important;
  background: none !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div:after {
  left: 3px !important;
  width: 8px !important;
  height: 3px !important;
  margin-top: -5px !important;
  border-style: solid;
}

.multiselect-item-checkbox input[type="checkbox"] :checked + div:before {
  -webkit-animation: none !important;
  animation: none !important;
  background: none !important;
}

.multiselect-dropdown label {
  padding-left: 0px !important;
}

.multiselect-item-checkbox input[type="checkbox"] + div {
  line-height: 12px !important;
}

.ngb-dp-month {
  font-size: 12px !important;
}

ngb-datepicker-navigation-select > .custom-select {
  padding: 0 0.5rem;
  font-size: 12px !important;
  height: 21px !important;
}

.ngb-dp-week .btn-light {
  padding: 1px !important;
  /* line-height: 9px !important; */
}

.ngb-dp-weekday {
  font-weight: 600;
}

.modal-dialog .modal-body {
  height: calc(100% - 31px);
}

.reportModal .modal-lg {
  max-width: 87%;
}

.customer-segment-mapping .modal-lg {
  max-width: 67%;
}

.report-table table td.last:hover {
  color: #ffffff;
  border: solid 1px #06a5b9;
  background: #6c757d;
}

/*Top navbar design*/

#navbarNotificationDropdown
  + div[aria-labelledby="navbarNotificationDropdown"] {
  width: 345px;
}

#navbarNotificationDropdown
  + div[aria-labelledby="navbarNotificationDropdown"]
  textarea {
  border: 1px solid #c7c2c2;
}

/* #dashboard-hold {
    border-bottom: 3px solid #00bcd4;
} */

.dashboard-border {
  border-bottom: 3px solid #00bcd4;
}

#dashboard-hold > div {
  padding-bottom: 0 !important;
}

#dashboard-hold > div:first-child {
  padding-left: 0 !important;
}

#dashboard-hold > div:last-child {
  padding-right: 0 !important;
}

.maintile .card {
  border: 2px solid transparent;
}

.maintile > .card.green-border:hover {
  border: 2px solid #4caf50;
}

.maintile > .card.red-border:hover {
  border: 2px solid #ff0000;
}

.maintile > .card.grey-border:hover {
  border: 2px solid #6c757d;
}

.text-ellipsis1 {
  white-space: nowrap;
  width: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.accordionContent {
  display: none;
  padding: 5px;
  background: #fff;
  margin: 0px 7px;
  margin-top: 10px;
  height: 53px;
  font-size: 11px;
}

.accordionHead {
  margin: 0 5px;
  padding: 3px 5px;
  border-bottom: 1px solid #c7c2c2;
  font-size: 11px;
}

.accordionHead i {
  font-size: 10px;
  padding-left: 5px;
}

.notificationHeader {
  background-color: #2fbcd5;
  color: #fff;
  padding: 0 5px;
  font-size: 11px;
}

.searchcontainer {
  position: relative;
  margin-top: 10px;
}

.searchcontainer input {
  outline: none;
  margin: 5px;
  padding: 2px 5px;
  border: 1px solid #fff;
  border-radius: 3px;
  width: 96%;
  box-shadow: 1px 0px 10px -4px #000;
}

.searchcontainer input + i {
  color: #b5b5b5;
  position: absolute;
  right: 14px;
  cursor: pointer;
  top: 12px;
}

.footer-seperator {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 5px;
}

.session-notification {
  width: 100%;
  background: rgba(252, 102, 0, 1);
  z-index: 30025 !important;
  color: rgba(254, 179, 128, 1);
  text-align: center;
  padding: 15px;
  font-size: 17px;
  font-weight: 600;
  visibility: hidden;
  display: none;
  position: absolute;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  animation: slide-up 0.3s ease-out;
  -webkit-animation: slide-up 0.3s ease-out;
  -moz-animation: slide-up 0.3s ease-out;
}

.session-notification-visible {
  visibility: visible;
  display: block;
  animation: slide-down 0.3s ease-out;
  -webkit-animation: slide-down 0.3s ease-out;
  -moz-animation: slide-down 0.3s ease-out;
}

.popup-height {
  max-height: 320px;
  height: 320px;
}

.popup-height1 {
  max-height: 350px;
  height: 350px;
}

.popup-height2 {
  max-height: 400px;
  height: 400px;
}

cdk-virtual-scroll-viewport {
  height: 400px;
  overflow-x: hidden !important;
  overflow-y: auto;
}

.btn-plain {
  background: none !important;
  color: #757373 !important;
  box-shadow: none !important;
  padding: 0 !important;
  position: absolute !important;
  bottom: 3px !important;
  left: 0;
}

.popoverHold .close {
  font-size: 16px;
  font-weight: bold;
  color: #c3c1c1;
  opacity: 1;
  padding: 5px;
  position: absolute;
  top: 1px;
  right: 3px;
  z-index: 10;
  /* border: solid 1px #ccc; */
  border-radius: 50%;
  line-height: 7px;
  text-shadow: none;
}

/*
Menu Related */

.nav-link {
  display: block;
  padding: 5px 3px;
  font-size: 13px !important;
  font-weight: 400 !important;
}

.sidebar .nav i {
  margin-right: 10px;
  width: 25px;
}

/* .sidebar .nav li:first-child>a {
    margin: 0 15px;
} */

/* .sidebar .nav li:first-child>a {
    margin: 0 0px;
}

.sidebar .nav li .dropdown-menu a,
.sidebar .nav li a {
    margin: 0 0px;
    padding-left: 3px;
    padding-right: 10px;
    text-transform: capitalize;
    font-size: 13px;
} */

/* .firstLevel {
    background: rgb(33, 33, 33);
} */

.active-Sub-menu {
  font-size: 13px !important;
  font-weight: 700;
}

/* .empty-border {
    border-left: solid 3px transparent;
} */

/******** Notification desing starts*********/

.recentWrap {
  cursor: pointer;
}

.font-weight-bold {
  font-weight: 500 !important;
}

.notifHeader > span,
.recentWrap > span:first-child {
  flex-grow: 1;
}

.notifHols {
  border-bottom: dotted 1px #c3c3c3;
  position: relative;
}

.notifHols > .notifContent {
  flex-grow: 0.9;
}

.notifHeader > a:hover {
  background-color: none;
}

.clearNotif {
  position: relative;
}

.notifContent {
  position: relative;
}

/* .notifContent::before {
  content: "\f1fd";
  clear: both;
  font-family: "Font Awesome 5 Free";
   display: inline-block;
   padding-right: 3px;
   vertical-align: middle;
   font-weight: 900;
} */

.reminderDate {
  position: absolute;
  width: 30%;
  z-index: 2;
  right: 50px;
  min-width: 100px;
  top: 5px;
}

.notifContent ~ div .fa {
  cursor: pointer;
}

.notifContent p > span,
.notifContent > p {
  font-size: 11px;
}

.notifContent > p:nth-child(2) {
  line-height: 12px;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 22px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #333;
  font-weight: 600;
  font-size: 11px;
}

/* Hide the browser's default checkbox */

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #d5cbcb;
}

/* On mouse-over, add a grey background color */

.custom-checkbox:hover input ~ .checkmark {
  background-color: #d5cbcb;
}

/* When the checkbox is checked, add a blue background */

.custom-checkbox input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */

.custom-checkbox .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.custom-checkbox label {
  color: #333 !important;
}

.notifContent > p:nth-child(2) span {
  font-weight: 400;
}

#dealNotif {
  height: 0;
}

.notifAccorCont {
  height: 0;
  cursor: pointer;
  transition: height 200ms;
}

.notifAccorCont:nth-of-type(1) {
  height: 215px;
}

.notifContent p {
  line-height: 137%;
  font-size: 11px;
}

/* .notifContent p:first-child {
    color: #000
} */

.text-dark .fa-birthday-cake {
  color: #00bcd4;
}

/******** Notification desing ends*********/

.border-back {
  border: solid 2px #4c4c4c;
  border-radius: 3px;
}

.border-blue {
  border: solid 2px var(--content-color) !important;
  border-radius: 3px;
}

.notifHeader {
  background: #4c4c4c;
  color: #fff;
  padding: 4px;
}

#navbarNotificationDropdown .triangleUp::after,
.triangleUp:before {
  border-bottom: 16px solid #c5baa9 !important;
}
.notificationClick .triangleUp:before {
  border-bottom: 16px solid #4c4c4c !important;
}

.green {
  color: green !important;
}

.red {
  color: red !important;
}

.nav.subMenu.sub {
  margin-top: -43px;
}

.border-navTabs li a {
  background: none !important;
  box-shadow: none !important;
  border-bottom: solid 3px #ccc !important;
  border-radius: 0 !important;
}

.border-navTabs li a.active {
  border-bottom: solid 3px #00bcd4 !important;
}

.border-navTabs li a.nav-link.active {
  color: #4a4a4a !important;
  font-weight: 600 !important;
}

.navbar .collapse .navbar-nav .nav-item .nav-link {
  text-transform: inherit;
}

/** notfication changes start here**/

.text-dark p span {
  font-weight: 100;
}

.text-muted fa-birthday-cake {
  color: #a1a7ac;
}

.recentWrap {
  background: #eaeaea;
}

.sec-p {
  font-weight: normal !important;
}

.grid-container {
  height: 100%;
}

.table-maginifier {
  overflow: hidden;
}

.grid-container > .material-table.h-90 {
  height: 100% !important;
}

.table-maginifier > .material-table {
  overflow: hidden;
}

#side-filter-hold ng-multiselect-dropdown div {
  white-space: pre-wrap !important;
}

.dashSlide {
  position: absolute;
  z-index: 154;
  left: -70%;
  top: 52px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  transition: 0.3s ease-in-out;
  width: 30%;
  margin: 0;
  padding: 0;
  height: calc(100vh - 68px) !important;
}

.sidebar-mini .slideDashEff {
  left: 78px !important;
  transition: 0.3s ease-in-out;
}

.slideDashEff {
  left: 253px !important;
  transition: 0.3s ease-in-out;
}

.sidebar {
  z-index: 155 !important;
}

.dashboard-row .card-body {
  min-height: unset !important;
}

.reportRight1 {
  top: 0 !important;
  border-radius: 0 0 12px 12px;
  /* -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
    transition: top 0.4s ease-in-out; */
}

/* .reportLeft1 {
    top: 80% !important;
    transition: top 0.4s ease-in-out;
    -webkit-transition: top 0.4s ease-in-out;
    -moz-transition: top 0.4s ease-in-out;
    -o-transition: top 0.4s ease-in-out;
} */

.sidebar-mini .reportRight {
  left: 7% !important;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.sidebar-mini .reportLeft {
  left: 25% !important;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.reportRight {
  left: 20.12% !important;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.reportLeft {
  left: 35.66% !important;
  -webkit-transition: left 0.4s ease-in-out;
  -moz-transition: left 0.4s ease-in-out;
  -o-transition: left 0.4s ease-in-out;
  transition: left 0.4s ease-in-out;
}

.loader6Css {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.rev-header {
  color: #a7006f;
  font-weight: 600;
}

.rev-span {
  font-size: 20px;
  line-height: 21px;
  width: 50%;
  margin-right: 21px;
  color: #000000;
  font-weight: 600;
}

.rev-bullets {
  margin-top: 12px;
  color: #a7006f;
  font-size: 106.25%;
  font-weight: 500;
}

.rev-bullets li {
  list-style: disc;
  line-height: 36px;
  color: #292929;
  font-size: 106.25%;
  font-weight: 500;
}

.header {
  font-size: 200%;
  font-weight: 200;
}

.paragraph {
  font-size: 106.25%;
  font-weight: 500;
  text-indent: 20px;
  margin-left: 18px;
}

.paragraph a:visited {
  color: #292929;
}

.paragraph a:hover {
  color: #fff;
  border-width: 0px;
  border-style: solid;
  border-color: RGBA(0, 123, 208, 0);
  background: #d868a9;
}

.demo {
  color: #292929;
  border: 1px solid #a7006f;
  padding: 3px 10px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
  font-size: 12px;
  border-radius: 5px;
}

.login-header {
  font-weight: 600;
}

/* @media screen and (max-width: 768px){
    .rev-bullets {
        display: none !important;
    }
} */

@media screen and (min-width: 450px) and (max-width: 769px) {
  .paragraph {
    text-indent: 20%;
  }
}

.swiper-pagination-bullet {
  width: unset !important;
  height: unset !important;
  border-radius: 999px !important;
  background: #000 !important;
  cursor: pointer !important;
  padding: 5px !important;
  margin: 0 3px !important;
  transition: 0.4s ease all !important;
}

.swiper-pagination-bullet:hover {
  background: #ffffff !important;
}

.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

/* .border-error{
    border-bottom: 1px solid red;
} */

.navbar.navbar-absolute {
  z-index: 960 !important;
}

.mat-calendar-body-selected {
  background-color: var(--content-color) !important;
}

.mat-calendar-table th {
  background: unset !important;
}

.mat-calendar-table-header {
  color: rgb(0 0 0) !important;
}

.h-80 {
  height: 80%;
}

.h-20 {
  height: 20%;
}

.box-center .multiselect-dropdown .dropdown-btn .selected-item {
  font-size: 12px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  top: 3px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  padding: 0px !important;
}

.mat-input-element {
  font-size: 12px !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
  /* background-color: #666666 !important; */
  background-color: unset !important;
}

input.mat-input-element {
  margin-top: -10px !important;
}

.mat-calendar-body-cell {
  padding: 15px !important;
}

.mat-datepicker-content .mat-calendar {
  width: 296px;
  /* height: auto !important; */
  height: 292px !important;
}

.mat-calendar-table-header {
  border-bottom: none !important;
}

.mat-calendar-controls {
  display: flex;
  margin: auto !important;
}

.mat-calendar-header {
  padding: 0px !important;
}

.mat-datepicker-content {
  border: solid 2px var(--content-color) !important;
}

.mat-calendar-content tbody tr:hover {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.mat-calendar-content tbody td:hover {
  background: none !important;
  border: none !important;
}

.mat-calendar-content tbody td {
  border: solid 1px transparent;
}

.cdk-keyboard-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.cdk-program-focused
  .mat-calendar-body-active
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected),
.mat-calendar-body-cell:not(.mat-calendar-body-disabled):hover
  > .mat-calendar-body-cell-content:not(.mat-calendar-body-selected) {
  background-color: #dddddd !important;
}

.mat-calendar-body-today:not(.mat-calendar-body-selected) {
  border-color: var(--content-color) !important;
  background: #fff !important;
}

.mat-calendar-body-cell-content {
  color: rgb(0 0 0);
  font-weight: 600 !important;
}

.modal-content .inlineEditTable tr td:first-child,
.modal-content .inlineEditTable tr td:last-child {
  border-left: solid 1px var(--table-border) !important;
  border-right: solid 1px var(--table-border) !important;
}

.dropdown-list .filter-textbox {
  padding: 5px !important;
}

.border-remove {
  border-color: unset !important;
}

.blue-slider {
  background: #03a9f4;
}

.selected-slider {
  border-color: white !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.pdf-excel svg {
  height: 31px;
  width: 31px;
}

.currentIcon svg {
  width: 21px;
  height: 15px;
}

#side-filter-hold .mat-input-element {
  color: #e0dede !important;
}

.businessVertical ng-multiselect-dropdown .multiselect-dropdown .dropdown-btn {
  border-bottom: 1px solid #d2d2d2 !important;
}

.businessVertical ng-multiselect-dropdown .disabled {
  pointer-events: unset !important;
}

.widthAutoDropDown.ng-dropdown-panel {
  width: auto !important;
}

.errorPopup {
  left: inherit;
  right: 0px;
  width: 350px;
}

.confirmation-cls {
  min-height: 150px;
}

.errorPopup .confirmation-cls,
.errorPopup .confirmation-cls .card-header {
  border: none;
  background: #bd362f;
  color: #fff;
}

.errorPopup .fa,
.errorPopup p {
  color: #fff;
}

.errorPopup .modal-body {
  padding: 3px !important;
}

.errorPopup i.default-color.fa.fa-clipboard,
i.default-color.fa.fa-times {
  width: 20px;
  height: 20px;
  border: none;
}

.errorPopup i.default-color.fa.fa-times:hover {
  border: none;
  color: #a5a6a7;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  padding: 0px;
  color: #fff;
}

.errorPopup p {
  margin: 4px !important;
}

.modal.show.errorPopup .modal-dialog,
.errorPopup .modal-dialog .modal-content {
  height: unset;
}

.errorPopup .confirmation-cls {
  min-height: unset;
}

.errorPopup.modal .modal-dialog {
  margin-top: 12px;
  margin-right: 12px;
}

.pull-right {
  padding: 3px !important;
}

.errorPopup .modal-content {
  padding: unset;
  padding-top: unset;
}

.errorPopup i.default-color.fa.fa-times:hover {
  padding: 4px;
}

.report-component .dropdown-list .item1 .multiselect-item-checkbox {
  padding: 6px !important;
}

.report-component .dropdown-list .filter-textbox {
  padding: 6px !important;
}

.report-component .dropdown-list li {
  padding: 6px 6px !important;
}

.reverse tree-node-expander {
  order: 0;
}

.reverse tree-node-checkbox {
  order: 0;
}

app-generic-tree {
  height: 100%;
}

.gridsterBorder .widgetTable {
  width: 100% !important;
  height: 100% !important;
  border-left: none !important;
  border-right: none !important;
  border-radius: unset !important;
}

.gridsterBorder .widgetTable table th {
  font-size: 13px;
  line-height: 25px;
  font-weight: 600;
}

.gridsterBorder .widgetTable table td {
  line-height: 21px;
  font-size: 12px;
}

.gridsterBorder .widgetTable table th,
.gridsterBorder .widgetTable table td {
  padding: 3px 5px !important;
}

.gridsterBorder .widgetTable table th:first-child,
.gridsterBorder .widgetTable table td:first-child {
  border-left: none !important;
}

.gridsterBorder .widgetTable table th:last-child,
.gridsterBorder .widgetTable table td:last-child {
  border-right: none !important;
}

.h6Strong {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 13px !important;
}

#d3PopupDiv {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

div.d3PopupDiv {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  z-index: 2;
  /* border-radius: 12px; */
}

svg .miniTextClass {
  width: 280px;
  height: 38px;
}

.d3PopupDiv .faTimescloseRows {
  font-size: 11px;
  font-weight: 100;
}

.d3PopupDiv .popover-header-text {
  width: 95%;
}

.d3PopupDiv .popover-options {
  width: 5%;
}

.d3PopupDiv .popover-header {
  padding: 5px 15px 0 !important;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
}

.d3PopupDiv .popover-body {
  padding: 6px 15px 6px !important;
}

.d3PopupDiv .mapplet-title {
  font-size: 14px;
  font-family: "Open Sans";
}

.d3PopupDiv .openSansFont {
  font-family: "Open Sans";
}

svg .table_container {
  width: 170px;
  height: 190px;
  fill: none;
  stroke: #000;
  overflow-x: auto;
  overflow-y: auto;
  z-index: 4;
}

svg .textClass {
  width: 175px;
  height: 190px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans";
  font-weight: 500;
}

svg .modulePageWH {
  width: 240px !important;
  height: 240px !important;
  border: 3px solid !important;
  border-radius: 9px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

svg .modulePageWH1 {
  border-radius: 50%;
  padding: 9px 0px;
}

/* svg .header_label {
  border-bottom: 1px solid #ccc !important;
  font-weight: 300;
  color: #2a2a2a;
  font-size: 13px;
  font-weight: bold;
} */
svg .pos_minCan {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg .pos_minCan1 {
  width: 25% !important;
}

svg .d3active {
  border: 3px dashed #ccc;
}

div.d3_tooltip {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 8px;
  font-weight: 500;
  font-size: 12px;
  background: var(--content-color);
  color: #fff;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
  z-index: 99999;
}

div.d3_tooltip::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--content-color) transparent transparent transparent;
}

#d3PopupDiv {
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

div.d3PopupDiv {
  position: absolute;
  width: 0;
  height: 0;
  background-color: #fff;
  /* border: 1px solid #ccc; */
  z-index: 2;
  /* border-radius: 12px; */
}

svg .miniTextClass {
  width: 280px;
  height: 38px;
}

.d3PopupDiv .faTimescloseRows {
  font-size: 11px;
  font-weight: 100;
}

.d3PopupDiv .popover-header-text {
  width: 95%;
}

.d3PopupDiv .popover-options {
  width: 5%;
}

.d3PopupDiv .popover-header {
  padding: 5px 15px 0 !important;
  font-size: 14px;
  font-weight: 600;
  font-family: "Open Sans";
}

.d3PopupDiv .popover-body {
  padding: 6px 15px 6px !important;
}

.d3PopupDiv .mapplet-title {
  font-size: 14px;
  font-family: "Open Sans";
}

.d3PopupDiv .openSansFont {
  font-family: "Open Sans";
}

svg .miniTextClass .header_title_table {
  padding: 0px !important;
  border: none !important;
  background: transparent !important;
}

svg .errorTable {
  border: 2px solid red !important;
}

svg .container_max svg {
  width: 100% !important;
  height: 100% !important;
  top: unset !important;
  left: unset !important;
  box-shadow: unset !important;
}

.miniTableName {
  margin-top: 0px;
  cursor: pointer;
}

.hide-cursor {
  cursor: default !important;
}

.hide-cursor .global-icons {
  cursor: default !important;
}

.miniTableName-maxi {
  margin-top: -44px;
  margin-left: 19px;
}
svg .container_max span {
  /* position: unset !important;
    top: unset !important;
    left: unset !important; */
}

.d3boxShadowEffect {
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}

svg .svgTransBox {
  height: calc(100% - 25px);
  border: 1px solid #ccc;
  background: white;
}

svg .svgTransBox1 {
  height: 100% !important;
  background: white !important;
  border: none !important;
}

#excelDataTable li {
  padding-left: 3px;
  border-bottom: 1px solid #cbcbcb;
  line-height: 18px;
}

svg .d3SvgCloseTimes {
  font-size: 12px;
  font-weight: 600;
  fill: #767474;
  cursor: pointer;
}

svg #excelDataTable th,
svg #excelDataTable td {
  font-size: 11px;
}

svg .textSource,
svg .textTarget,
svg .textSource1,
svg .textTarget1 {
  font-size: 11px;
}

svg .faTimescloseRows {
  font-size: 11px;
  font-weight: 100;
  position: relative;
  right: 4px;
}

svg .svgMinimize {
  width: 100%;
  height: 100%;
}

svg .subnode {
  font-size: 13px;
}

svg .relationHeader,
svg .popupInputHeader {
  font-size: 13px;
  font-weight: 600;
}

svg .ico-close {
  font-size: 8px;
  position: absolute;
  top: 13px;
  left: 10px;
  color: red;
}

text.nodetext {
  width: 170px;
}

.header_title_table span a {
  padding: 4px 0px 0px 2px;
}

svg .font18px {
  font-size: 18px;
}

svg .svgTransEventIcons {
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: center;
}

svg .svgTransEventIcons a {
  padding: 0px 3px;
  font-size: 13px;
}

svg .svgTransHeader {
  width: 100%;
  height: 22px;
  border-bottom: 1px solid #ccc;
}

svg .svgTransHeader1 {
  border: none !important;
}

/* svg .svgTransSearch{
     width: 100%;
     height: 30px;
     border: 1px solid var(--content-color);
     position: relative;
     top:-6px;
 }
 svg .svgTransSearch input{
     position: relative;
     top:-12px
 } */
svg .svgTransbody {
  overflow: auto;
  width: 100%;
  height: calc(99% - 30px);
  border-top: none;
}

.d3boxShadowEffect {
  box-shadow: 0 16px 24px 2px rgb(0 0 0 / 14%), 0 6px 30px 5px rgb(0 0 0 / 12%),
    0 8px 10px -5px rgb(0 0 0 / 20%);
}

svg .d3SvgCloseTimes {
  font-size: 12px;
  font-weight: 600;
  fill: #767474;
  cursor: pointer;
}

svg #excelDataTable th,
svg #excelDataTable td {
  font-size: 11px;
}

svg .textSource,
svg .textTarget,
svg .textSource1,
svg .textTarget1 {
  font-size: 11px;
}

svg .faTimescloseRows {
  font-size: 11px;
  font-weight: 100;
  position: relative;
  right: 4px;
}

svg .svgMinimize {
  width: 100%;
  height: 100%;
}

svg .subnode {
  font-size: 13px;
}

svg .relationHeader,
svg .popupInputHeader {
  font-size: 13px;
  font-weight: 600;
}

svg .ico-close {
  font-size: 8px;
  position: absolute;
  top: 13px;
  left: 10px;
  color: red;
}

text.nodetext {
  width: 170px;
}

rect.mover {
  stroke: red;
  stroke-opacity: 0.1;
  fill: lightSteelBlue;
  fill-opacity: 0.5;
}

.link,
.link1,
svg .bottomLine,
svg .bottomLine1,
svg .bottomLine22 {
  fill: none;
  stroke: #787676;
  stroke-width: 1px;
}

.link,
.link1 {
  cursor: pointer;
  z-index: 1;
}

.node {
  cursor: move;
  z-index: 2;
}

/* rect{
     fill: transparent;
     stroke-width: 2px;
 } */
svg .material-table {
  background-color: #fff;
}

svg .fontColor600 {
  color: var(--content-color);
  font-size: 12px;
  font-weight: 600;
}

.smallBox {
  width: 170px;
  height: 190px;
  position: absolute;
  border: 1px solid;
  overflow-y: scroll;
  max-height: 190px;
  -webkit-overflow-scrolling: touch;
}

.subBar {
  fill: #fff;
  opacity: 0.5;
}

#relationConn {
  width: 775px;
  height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 3px 9px;
}

.textTargetLink {
  stroke-width: 3px;
}

.prelative {
  position: relative;
}

.link:hover {
  stroke: var(--content-color) !important;
}

.boxInfoPos {
  position: absolute;
  left: 6px;
}

.boxInfoPos:hover {
  color: var(--content-color);
}

svg .boxIconSvgTrans {
  font-size: 14px;
  width: 14%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

svg .g_sudmit_edit {
  width: 68%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}

svg .g_sudmit_edit1 {
  width: 61% !important;
  width: 68%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 750;
}

svg .d3active {
  border: 3px dashed #ccc;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22) !important;
}

.tablefont .fa {
  font-size: 12px;
  color: #4c4c4c;
}

.drag_table a {
  color: var(--content-color) !important;
  font-size: 12px !important;
  padding: 3px !important;
  margin-top: 0px !important;
  z-index: 9999999999;
}

.drag_table {
  /*display: flex;
flex-direction: column;*/
  height: 220px;
  width: 260px;
  cursor: pointer;
  /*border:1px solid black;*/
}

.w-h-40 {
  z-index: 4;
}

/* .header_title_table span{
  width: 18px;
  height: 18px;
  padding: 0px 0px 0px 6px;

} */
#chooseDatasourceSec button svg,
.header_title_table svg {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  background: #828080;
  border-radius: 50%;
  position: relative;
  top: -2px;
  left: -4px;
  padding: 2px;
}

.container_max svg {
  width: 34px;
  height: 34px;
  border: 2px solid #0693a5;
  padding: 5px;
  border-radius: 50%;
  background: #00bcd4;
  box-shadow: 0 15px 18px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/*.container_max span{
  width:50px;
  height:50px;
  position: absolute;
  top: 28px;
  left:2px;
}*/
.container_max span {
  /* position: absolute;
    text-align: center;
    width: 100%;
    height: 100%; */
}

.drag_table a {
  color: #00bcd4 !important;
  font-size: 12px !important;
  padding: 3px !important;
  margin-top: 0px !important;
  z-index: 9999999999;
}

.drag_table {
  /*display: flex;
  flex-direction: column;*/
  height: 220px;
  width: 260px;
  cursor: pointer;
  /*border:1px solid black;*/
}

.drag_table .container_max a {
  width: 100%;
  height: 100%;
}

.drag_table a,
.popConnectIcon a {
  color: var(--content-color) !important;
  font-size: 12px !important;
  padding: 1px !important;
  margin-top: 0px !important;
  z-index: 999;
}

.container_min {
  width: 100%;
  height: 79%;
}

.tab_icon_hide {
  height: 9%;
}

.header_title_table {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  border-radius: 0px;
  font-size: 13px;
  padding: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 600;
  background: #fff;
  font-family: Open Sans, sans-serif;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header_title_table-maxi {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px;
  font-size: 11px;
  padding: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  font-weight: 700;
  background: #fff;
  font-family: Open Sans, sans-serif;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header_title_table1 {
  background: none !important;
}

.header_title_table svg {
  width: 100%;
  height: 100%;
}

.container_max i {
  width: 34px !important;
  height: 34px !important;
  border: 2px solid #0693a5;
  padding: 6px;
  border-radius: 50%;
  color: #fff;
  font-size: 18px;
  background: var(--content-color);
  box-shadow: 0 15px 18px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

.overallModulesSVG .font18pxSvg {
  font-size: 15px;
  color: #959595;
}

.underline {
  /* text-decoration: none; */
  margin-bottom: 0;
  padding-left: 0;
}

.underline li {
  /* display: flex; */
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  padding: 0 10px;
  background: #efefef;
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 400;
}

.gridster-box-child {
  position: absolute;
  border: 1px solid #cfcfcf;
  justify-content: center;
  background-color: white !important;
  z-index: 10 !important;
  /* overflow: auto; */
}

.header_label {
  border-bottom: 1px solid #ccc !important;
  font-weight: 700;
  color: #2a2a2a;
  font-size: 12px;
  line-height: 12px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}

.positionRelative {
  position: relative;
}

.d3PopupDiv1 {
  position: absolute;
  z-index: 9;
}

.edgeLabel {
  background-color: #fff !important;
  color: #232222 !important;
  text-overflow: ellipsis;
  /* width: 100%; */
  font-size: 11px;
  text-align: center;
  border: 1px solid #ccc;
  z-index: 100;
}

.img-menu {
  width: 39px;
  height: 43px;
  float: left;
  margin-right: 15px;
  line-height: 30px;
  margin-left: -6px;
  text-align: center;
  margin-top: -2px;
  cursor: pointer;
}

.sidebar-wrapper .img-menu {
  width: 31px;
  height: 43px;
  margin-top: -7px !important;
}

.sidebar[data-background-color="black"] .sidebar-background:after {
  background: #ffffff !important;
  opacity: 0.6 !important;
}

.sidebar[data-background-color="black"] .nav .nav-item .nav-link {
  color: #181818;
  border-bottom: 1px solid #c3c3c3 !important;
}

.sidebar-mini .sidebar[data-background-color="black"] .nav .nav-item {
  border-bottom: 1px solid #c3c3c3;
  border-left: 1px solid #c3c3c3;
}

.sidebar-mini .sidebar[data-background-color="black"] .nav .nav-item .nav-link {
  border-bottom: unset !important;
}

.mainNav11 path {
  fill: #727272 !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  position: relative;
  color: inherit;
  padding: 0.9375rem;
  font-weight: 400;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 3px;
  line-height: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:not(.btn-just-icon) .fa {
  position: relative;
  top: 2px;
  margin-top: -4px;
  margin-right: 4px;
}

.navbar .navbar-nav .nav-item .nav-link .fa,
.navbar .navbar-nav .nav-item .nav-link .material-icons {
  font-size: 1.25rem;
  max-width: 24px;
  margin-top: -1.1em;
}

.navbar .navbar-nav .nav-item .nav-link:not(.btn) .material-icons {
  margin-top: -7px;
  top: 3px;
  position: relative;
  margin-right: 3px;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo {
  padding: 0;
  margin: 0 3px;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo:after {
  display: none;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo .profile-photo-small {
  height: 40px;
  width: 40px;
}

.navbar .navbar-nav .nav-item .nav-link.profile-photo .ripple-container {
  border-radius: 50%;
}

.navbar .navbar-nav .dropdown-menu-right {
  transform-origin: 100% 0;
}

.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.active .nav-link:hover {
  color: inherit;
  background-color: hsla(0, 0%, 100%, 0.1);
}

.navbar .btn,
.navbar .navbar-nav .nav-item .btn {
  margin-top: 0;
  margin-bottom: 0;
}

.treeDisplayNone {
  display: none;
}

.addHoverOn {
  display: contents;
}

.crud-icon-absolute:hover {
  color: #757a7d;
}

.crud-icon {
  position: relative;
  font-size: 14px;
  display: inline-block;
  /* top: -3px; */
  margin: 0 3px;
  /* padding-left: 5px; */
  color: #4a4a4a;
}

.crud-icon-absolute {
  position: absolute;
  font-size: 19px;
  display: inline-block;
  top: 0;
  padding-left: 5px;
}

.totalCrud {
  padding-left: 3px;
}

.schedule-icon {
  /* font-size: 16px;
  color: #4a4a4a;
  cursor: pointer; */
  position: absolute;
}

.schedule-icon span {
  font-size: 15px;
  color: #4a4a4a;
  cursor: pointer;
  padding: 0 2px;
}

.parentTree:hover .schedule-icon {
  display: inline-block !important;
}

.d-none {
  display: none !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.exampleClass .node-wrapper:hover .icon-parent {
  display: inline-block !important;
}

.h-9 {
  height: 9% !important;
}

/* .accordion styles */

.gg-chevron-up {
  box-sizing: border-box;
  position: relative;
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #4885f4;
}

.gg-chevron-up::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  color: #4885f4;
  border-top: 2px solid;
  border-right: 2px solid;
  transform: rotate(-45deg);
  left: 4px;
  bottom: 2px;
}

.gg-chevron-down {
  box-sizing: border-box;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #4885f4;
}

.gg-chevron-down::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  transform: rotate(45deg);
  left: 4px;
  top: 2px;
  color: #4885f4;
}

.header_descripition {
  margin-top: 5px;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  font-size: 13px !important;
  color: #4a4a4a;
}

.table-header-dropdown {
  font-size: 14px;
  font-weight: 500;
  color: #4a4a4a !important;
  background-color: transparent;
  text-decoration: none;
}

.card-collapse-custom .card-header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 98;
  border-bottom: none;
  padding: 0px 0px 0px 10px;
  background: white;
  border-bottom: 1px #e3e3e3 solid;
}

.card-collapse-custom .card-header-tree {
  /* width: 265px; */
  border-bottom: none;
  padding: 0px 0px 0px 0px;
  background: white;
  border-bottom: 1px #e3e3e3 solid;
}

.accordionHeader h5 {
  color: #4a4a4a !important;
  font-size: 14px !important;
  line-height: 39px;
  font-family: "Open Sans";
  font-weight: 600 !important;
  padding: 0 !important;
}

.table-header-dropdown-tree {
  font-size: 12px;
  color: #4a4a4a !important;
  background-color: transparent;
  text-decoration: none;
}

.accordionHeader-tree h5 {
  color: #4a4a4a !important;
  font-size: 12px !important;
  line-height: 28px;
  font-family: "Open Sans";
  font-weight: 600 !important;
  padding: 0 !important;
  height: 25px;
}

.scroll-set .scrollable-content {
  transform: translateY(-17px) !important;
  margin-top: -10px;
}

.scroll-set1 .scrollable-content {
  /* transform: translateY(0px) !important; */
  margin-top: 0px;
}

.h-10 {
  height: 10%;
}

.align-btn-style-relation {
  margin-top: 7px !important;
  margin-right: 2px !important;
}

.align-btn-style-r {
  margin-top: 7px !important;
}

.table-width-align-3 {
  width: 3% !important;
}

.table-width-align-10 {
  width: 10% !important;
}

.perfect-height-PopUp {
  min-height: 100px;
}

.align_set .tr-edit-icons {
  right: 23px !important;
}

.header .h5 {
  margin-bottom: unset;
}

.positionsHeader {
  color: #132ef3;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: bold;
  margin-top: -3px;
}
