<div id="card-body">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 h-100">
      <div
        class="material-table dashboard-bg-white b-radius-12 h-99"
        style="margin-top: 0px"
        id="maximize"
      >
        <ng-container *ngIf="showFilter == 'list'">
          <app-smart-table
            [tableDatails]="tableDetail"
            [resetModel]="resetModel"
            [tableDatas]="ngxTableConfig"
            (eventType)="tableAction($event)"
          >
          </app-smart-table>
        </ng-container>
        <ng-container *ngIf="showFilter == 'form'">
          <div class="d-flex flex-column h-100 w-100">
            <div class="h-6 w-100 dashboard-bg-dark borderRadiusTop">
              <div class="tab_container">
                <label
                  *ngFor="let tab of tabList; let i = index"
                  class="tab_label"
                  [ngClass]="tab.selected ? 'active show' : ''"
                >
                  <a href="javascript:void(0)" (click)="onSubmit('summary')"
                    ><i class="material-icons forwardIcon">forward</i></a
                  >
                  <span title="{{ tab.tabName | translate }}">{{
                    tab.tabName | translate
                  }}</span>
                </label>
              </div>
            </div>
            <div class="h-94 w-100">
              <div class="d-flex flex-column w-100 h-100">
                <div class="h-93 mainPadd12 pt-1">
                  <div class="tab-content h-100 position-relative">
                    <div
                      *ngIf="submitted && accountBucketsForm.invalid"
                      class="requiredBox"
                    >
                      * {{ "fieldMandatory" | translate }}
                    </div>
                    <div class="tab-pane-fade tabMargin fadeIn h-100">
                      <div class="row h-100 m-0">
                        <div
                          class="col-sm-12 col-md-12 col-lg-12 col-xl-12 w-100 h-100 p-0"
                        >
                          <form
                            [formGroup]="accountBucketsForm"
                            class="w-100 h-100 m-0"
                          >
                            <div class="row m-0 w-100 h-100">
                              <div
                                class="col-sm-12 col-md-12 col-lg-12 col-xl-12 p-1 w-100 h-100 d-flex flex-column"
                              >
                                <div class="topGrid-30">
                                  <div class="form-row">
                                    <div
                                      class="form-group bmd-form-group col-sm-12 col-md-3 col-lg-3 col-xl-3"
                                    >
                                      <ng-select
                                        class="selectpicker"
                                        appendTo="body"
                                        formControlName="acBucketApplicationCode"
                                        [class.bb-error]="
                                          submitted &&
                                          accountBucketsForm.controls[
                                            'acBucketApplicationCode'
                                          ].invalid
                                        "
                                      >
                                        <ng-container
                                          *ngFor="
                                            let data of acBucketApplicationCodeNtList
                                          "
                                        >
                                          <ng-option
                                            value="{{ data.numSubTab }}"
                                          >
                                            {{ data.description }}</ng-option
                                          >
                                        </ng-container>
                                      </ng-select>
                                      <label class="bmd-label-static"
                                        >{{
                                          "acBucketApplicationCode" | translate
                                        }}&nbsp;<span class="text-danger"
                                          >*</span
                                        ></label
                                      >
                                      <div class="line"></div>
                                    </div>
                                  </div>
                                </div>

                                <div class="bttomGrid-70 material-table mt0">
                                  <div
                                    class="table-header h15px p-0"
                                    id="tableHeader"
                                  >
                                    <div class="table-title">
                                      <span class="table-title"></span>
                                    </div>
                                    <div
                                      class="actions hidden-sm hidden-xs"
                                      id="action_header"
                                      *ngIf="
                                        pageView == 'add' || pageView == 'edit'
                                      "
                                    >
                                      <a
                                        href="javascript:void(0);"
                                        (click)="addRow()"
                                        class="modal-trigger waves-effect btn-flat nopadding"
                                      >
                                        <div class="addRow">
                                          <i class="fa fa-plus"></i> Add Row
                                        </div>
                                      </a>
                                    </div>
                                  </div>
                                  <div class="heigh_calc">
                                    <perfect-scrollbar>
                                      <table class="inlineEditTable">
                                        <thead>
                                          <tr>
                                            <ng-container
                                              *ngFor="
                                                let head of accountBucketsDetailsHeaders;
                                                let i = index
                                              "
                                            >
                                              <th
                                                *ngIf="
                                                  head['type'] == 'checkbox'
                                                "
                                                [ngStyle]="head.style"
                                              >
                                                <input
                                                  type="checkbox"
                                                  formControlName="headerCheckbox"
                                                  (change)="
                                                    headerChange('overall')
                                                  "
                                                />
                                              </th>
                                              <th
                                                *ngIf="head['type'] == 'text'"
                                                [ngStyle]="head.style"
                                              >
                                                {{
                                                  head.name | translate
                                                }}
                                                &nbsp;<span
                                                  *ngIf="head['validations']"
                                                  class="text-danger"
                                                  >*</span
                                                >
                                              </th>
                                            </ng-container>
                                          </tr>
                                        </thead>
                                        <tbody
                                          formArrayName="accountBucketsDetails"
                                          class="global_form_Array"
                                        >
                                          <ng-container
                                            *ngFor="
                                              let arr of accountBucketsForm.get(
                                                'accountBucketsDetails'
                                              )['controls'];
                                              let i = index
                                            "
                                          >
                                            <tr [formGroupName]="i">
                                              <td class="text-center">
                                                <input
                                                  type="checkbox"
                                                  formControlName="checked"
                                                  (change)="
                                                    headerChange('individual')
                                                  "
                                                />
                                              </td>
                                              <td class="pRelative">
                                                <input
                                                  type="text"
                                                  class="form-control"
                                                  maxlength="100"
                                                  formControlName="acBucketCode"
                                                  [class.bb-error]="
                                                    (submitted &&
                                                      arr.controls[
                                                        'acBucketCode'
                                                      ].invalid) ||
                                                    (submittedArr &&
                                                      arr.controls[
                                                        'acBucketCode'
                                                      ].invalid)
                                                  "
                                                />
                                              </td>
                                              <td class="pRelative">
                                                <input
                                                  type="text"
                                                  class="form-control"
                                                  maxlength="100"
                                                  formControlName="acBucketDescription"
                                                  [class.bb-error]="
                                                    (submitted &&
                                                      arr.controls[
                                                        'acBucketDescription'
                                                      ].invalid) ||
                                                    (submittedArr &&
                                                      arr.controls[
                                                        'acBucketDescription'
                                                      ].invalid)
                                                  "
                                                />
                                                <!-- <div class="validation-error bt15" *ngIf="arr.controls['acBucketDescription'].errors?.pattern">
                                                                                                    * Allow only Uppercase and Number
                                                                                                </div> -->
                                              </td>
                                              <td class="pRelative">
                                                <input
                                                  type="text"
                                                  class="form-control"
                                                  maxlength="100"
                                                  formControlName="amountStart"
                                                  [class.bb-error]="
                                                    (submitted &&
                                                      arr.controls[
                                                        'amountStart'
                                                      ].invalid) ||
                                                    (submittedArr &&
                                                      arr.controls[
                                                        'amountStart'
                                                      ].invalid)
                                                  "
                                                />
                                                <!-- <div class="validation-error bt15" *ngIf="arr.controls['amountStart'].errors?.pattern">
                                                                                                    * Numbers only allowed
                                                                                                </div> -->
                                              </td>
                                              <td class="pRelative">
                                                <input
                                                  type="text"
                                                  class="form-control"
                                                  maxlength="100"
                                                  formControlName="amountEnd"
                                                  [class.bb-error]="
                                                    (submitted &&
                                                      arr.controls['amountEnd']
                                                        .invalid) ||
                                                    (submittedArr &&
                                                      arr.controls['amountEnd']
                                                        .invalid)
                                                  "
                                                />
                                                <!-- <div class="validation-error bt15" *ngIf="arr.controls['amountEnd'].errors?.pattern">
                                                                                                    * Numbers only allowed
                                                                                                </div> -->
                                              </td>
                                              <td>
                                                <div class="form-row fieldRow">
                                                  <div
                                                    class="form-group col-md-12 bmd-form-group criterial-select field-select"
                                                  >
                                                    <ng-select
                                                      class="form-new-control"
                                                      appendTo="body"
                                                      formControlName="acBucketStatus"
                                                    >
                                                      <ng-container
                                                        *ngFor="
                                                          let data of acBucketStatusNtList
                                                        "
                                                      >
                                                        <ng-option
                                                          value="{{
                                                            data.numSubTab
                                                          }}"
                                                          >{{
                                                            data.description
                                                          }}
                                                        </ng-option>
                                                      </ng-container>
                                                    </ng-select>
                                                  </div>
                                                </div>
                                              </td>
                                              <td>
                                                <div class="form-row fieldRow">
                                                  <div
                                                    class="form-group col-md-12 bmd-form-group criterial-select field-select"
                                                  >
                                                    <ng-select
                                                      class="form-new-control"
                                                      appendTo="body"
                                                      formControlName="recordIndicator"
                                                    >
                                                      <ng-container
                                                        *ngFor="
                                                          let data of recordIndicatorNtList
                                                        "
                                                      >
                                                        <ng-option
                                                          value="{{
                                                            data.numSubTab
                                                          }}"
                                                          >{{
                                                            data.description
                                                          }}
                                                        </ng-option>
                                                      </ng-container>
                                                    </ng-select>
                                                  </div>
                                                </div>
                                              </td>
                                              <td>
                                                <input
                                                  type="text"
                                                  class="form-control text-center"
                                                  formControlName="makerName"
                                                />
                                              </td>
                                              <td>
                                                <input
                                                  type="text"
                                                  class="form-control text-center"
                                                  formControlName="verifierName"
                                                />
                                                <div
                                                  class="tr-edit-icons row a1"
                                                >
                                                  <a
                                                    *ngIf="checkIsNew(i)"
                                                    href="javascript:void(0) "
                                                    ngbTooltip="Delete Row"
                                                    container="body"
                                                    (click)="removeGlMatrix(i)"
                                                    class="modal-trigger waves-effect btn-flat nopadding tool_tip"
                                                  >
                                                    <i class="material-icons"
                                                      >delete</i
                                                    >
                                                  </a>
                                                  <a
                                                    *ngIf="
                                                      pageView == 'edit' &&
                                                      arr.controls[
                                                        'recordIndicator'
                                                      ].value == '1'
                                                    "
                                                    href="javascript:void(0) "
                                                    ngbTooltip="Review"
                                                    container="body"
                                                    (click)="reviewPopup(i)"
                                                    class="modal-trigger waves-effect btn-flat nopadding tool_tip"
                                                  >
                                                    <i class="material-icons"
                                                      >visibility</i
                                                    >
                                                  </a>
                                                </div>
                                              </td>
                                            </tr>
                                          </ng-container>
                                        </tbody>
                                      </table>
                                    </perfect-scrollbar>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="h-7 w-100">
                  <div class="row">
                    <div
                      class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"
                    >
                      <!-- <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                        *ngIf="pageView == 'view'" (click)="onSubmit('first')"><i class="fa fa-angle-double-left"
                          aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button>
                      <button type="submit" [disabled]="disableButton('first')" class="btn btn-rose btn-sm"
                        *ngIf="pageView == 'view'" (click)="onSubmit('previous')"><i class="fa fa-angle-left"
                          aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button> -->
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm"
                        *ngIf="
                          pageView == 'edit' &&
                          globalService.checkAccess('delete') &&
                          checkDelete()
                        "
                        (click)="onSubmit('delete')"
                      >
                        Delete
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm"
                        *ngIf="
                          (pageView == 'add' || pageView == 'copy') &&
                          globalService.checkAccess('add')
                        "
                        (click)="onSubmit('save')"
                      >
                        Save
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm"
                        *ngIf="
                          pageView == 'edit' &&
                          globalService.checkAccess('edit')
                        "
                        (click)="onSubmit('modify')"
                      >
                        Modify
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm"
                        *ngIf="
                          pageView == 'edit' &&
                          globalService.checkAccess('approve') &&
                          checkApprove()
                        "
                        (click)="onSubmit('approve')"
                      >
                        Approve
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm"
                        *ngIf="
                          pageView == 'edit' &&
                          globalService.checkAccess('reject') &&
                          checkApprove()
                        "
                        (click)="onSubmit('reject')"
                      >
                        Reject
                        <div class="ripple-container"></div>
                      </button>
                      <button
                        type="submit"
                        class="btn btn-rose btn-sm"
                        *ngIf="pageView == 'add'"
                        (click)="onSubmit('clear')"
                      >
                        Clear
                        <div class="ripple-container"></div>
                      </button>
                      <!-- <button type="submit" [disabled]="disableButton('last')" class="btn btn-rose btn-sm"
                        *ngIf="pageView == 'view'" (click)="onSubmit('next')"><i class="fa fa-angle-right"
                          aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button>
                      <button type="submit" [disabled]="disableButton('last')" class="btn btn-rose btn-sm"
                        *ngIf="pageView == 'view'" (click)="onSubmit('last')"><i class="fa fa-angle-double-right"
                          aria-hidden="true"></i>
                        <div class="ripple-container"></div>
                      </button> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
