input.form-control {
  padding-top: 18px;
}

.view_review {
  cursor: pointer;
  font-weight: 400;
  color: #5f90ff;
  text-decoration: underline !important;
}

/* .capexForm td ng-select {
  top: unset;
} */

.mrl_border {
  /* border-right: 1px solid #e1e1e1; */
  margin-top: 0;
}

th input[type='checkbox'], td input[type='checkbox'] {
  vertical-align: middle;
}

.form-row {
  height: 5%;
}

.heigh_calc {
  height: calc(100% - 19px);
}

td input.form-control {
  padding-top: 12px !important;
  height: 27px !important;
}

.capexForm tr td {
  padding: 0 5px !important;
}

div.material-table table tr td {
  border: solid 1px var(--table-border) !important;
}

.pRelative{
  position: relative;
  overflow: visible !important;
}

.numbers_err {
  bottom: unset !important;
  top: 20px;
}

.h-20px {
  height: 20px;
}
.topGrid-30 {
    height: 10% !important;
}
.bttomGrid-70 {
    height: 70% !important;
}