:root {
    --filterWidth: 0;
}

.h-40 {
    height: 40%;
}

body {
    color: #78777c;
}

.bg-light-grey {
    background-color: #f4f4f4;
}

.grey-bg {
    background-color: #666666;
}

.bg-light-blue {
    background-color: #e7ebf4;
}

.bg-green {
    background-color: #258000;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.show {
    display: flex !important;
}

.activeTab {
    color: #fff;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    background: #262525;
}

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0 !important;
}

hr {
    margin-top: 0px;
    margin-bottom: 5px;
    border-color: #fff;
}

.font25 {
    font-size: 25px;
}

.font22 {
    font-size: 22px;
}

.menulink {
    display: block;
    width: 100%;
    color: #fff;
}

.menulink :hover {
    border: 2px #ccc
}

.border-black {
    border-color: #c1c1c1;
}

.flex {
    display: flex;
}

.flexgrow {
    flex-grow: 1;
    padding-left: 2px;
}

.flexgrow5 {
    flex-grow: 0.5;
}

.flex>b {
    flex-grow: 1;
}

.main-panel>.navbar {
    background-color: #eee !important;
}

.main-panel>.content {
    min-height: calc(100vh - 35px);
    padding-top: 15px;
    padding-bottom: 0;
    overflow: auto;
}

.card-plain .card-body {
    padding: 5px;
}

.list-branches .light-blue-bg {
    background-color: #528288;
    padding: 1px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.list-branches .card-body {
    padding: 5px 10px !important;
    /* background: #2fbcd5; */
    color: #fff !important;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.dashboard-row p,
.dashboard-row h6 {
    font-size: 11px;
    text-transform: capitalize;
}

.graphIcon {
    cursor: pointer;
}

.align-items-stretch {
    padding: 3px;
}

.card {
    margin-top: 0;
    margin-bottom: 0px;
    position: relative;
}

.accordionContent {
    display: none;
    padding: 5px;
    background: #fff;
    margin: 0px 7px;
    margin-top: 10px;
    height: 53px;
    font-size: 11px;
}

.accordionHead {
    margin: 0 5px;
    padding: 3px 5px;
    border-bottom: 1px solid #c7c2c2;
    font-size: 11px;
}

.accordionHead i {
    font-size: 10px;
    padding-left: 5px;
}

.notificationHeader {
    background-color: #d6d6d6;
    padding: 0 5px;
    font-size: 11px;
}

.searchcontainer {
    position: relative;
    margin-top: 10px;
}

.searchcontainer input {
    outline: none;
    margin: 5px;
    padding: 2px 5px;
    border: 1px solid #fff;
    border-radius: 3px;
    width: 96%;
    box-shadow: 3px -3px 11px -8px #000;
}

.searchcontainer input+i {
    color: #b5b5b5;
    position: absolute;
    right: 14px;
    cursor: pointer;
    top: 12px;
}

.footer-seperator {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 5px;
}

::ng-deep .dashboard-row .card-body {
    min-height: unset;
}

.popoverHold {
    height: 100%;
    width: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 9999;
    transform-origin: 50% 0;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 2px 8px 0 rgb(35, 35, 35, 0.4);
    transition: .2s ease-in-out;
}


/* ::ng-deep .popoverHold .close {
  font-size: 11px;
  font-weight: bold;
  color: #a7a7a7;
  opacity: 1;
  padding: 5px;
  position: absolute;
  top: 4px;
  right: 3px;
  z-index: 10;
  border: solid 1px #ccc;
  border-radius: 50%;
  line-height: 7px;
} */

.dealstable td,
.dealstable th {
    white-space: nowrap;
    padding: 1px 5px;
    border: solid 1px #DDDDDD;
    font-size: 12px;
}

.dealstable tbody tr:nth-child(even) {
    background-color: #e3e6eca3;
}

.sidebar .sidebar-wrapper {
    overflow: hidden;
}


/* Dropdown */

.dropdown-menu.show .inner.show {
    width: 100%;
}

.dropdown-menu.show {
    flex-direction: column;
}

.fixed-plugin .dropdown.show-dropdown.show {
    justify-content: center;
}

.side-filter-hold {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 10%;
    opacity: 0;
    height: 300px;
    right: var(--filterWidth);
    z-index: 980;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    /* box-shadow: 0px 10px 30px 0px #222222; */
    transition: .3s ease-in-out;
    font-family: 'Open Sans', sans-serif !important;
}

.toggle-side-filter {
    position: absolute;
    left: -20px;
    top: 10px;
    padding: 0 5px;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: #030303;
}

.toggle-side-filter>i {
    font-size: 14px;
    color: #fff;
    line-height: 1.3em;
}

.fixed-heading {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    font-family: unset;
    font-weight: 400;
    /* box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26); */
}

a.logo-mini img {
    left: 5px;
}

.sidebar .logo a.logo-normal {
    display: none;
}

.sidebar .logo:after {
    right: 19px;
}

.logo {
    height: 61px;
}

.setRight {
    right: 3px;
}

.form-check .form-check-input:checked~.circle {
    border: var(--border-btn-color);
}

.form-check .form-check-label .circle .check {
    background-color: var(--border-btn-color);
}

.form-control,
.is-focused .form-control {
    background-image: linear-gradient(0deg, #00bcd4 2px, rgba(156, 39, 176, 0) 0), linear-gradient(0deg, #d2d2d2 1px, hsla(0, 0%, 82%, 0) 0);
}

.dashboard-area {
    height: calc(100vh - 109px);
    display: none;
}

.sideFilterOverlay {
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: #00000024;
    top: 0;
    z-index: 970;
    display: none;
    will-change: transform, opacity;
    transition: transform .2s cubic-bezier(.4, 0, .2, 1), opacity .2s cubic-bezier(.4, 0, .2, 1);
}

.fade.show {
    transform: scale(1);
    display: block;
}

#navbarDropdownMenuLink+div[aria-labelledby="navbarDropdownMenuLink"] {
    width: 400px;
}

.form-check .form-check-label .circle {
    top: -2px;
}

.daterangepicker {
    z-index: 10000 !important;
}

.profitValue {
    position: absolute;
    right: 7px;
}


/********** Sidebar filter **********/

.filterDataBy {
    display: none;
}

#filterBody {
    overflow: visible;
    padding: 3px 9px;
}

#filterFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
}


/*********** Multiselect dropdown style ***********/

::ng-deep .multiselect-dropdown {
    padding-left: 0;
}


/********** Perfect scrollbar **********/

::ng-deep perfect-scrollbar>.ps {
    padding-bottom: 0;
}

::ng-deep .ps-content {
    height: 100%;
}

@media only screen and (max-width: 425px) {
     ::ng-deep h2.text-dark,
     ::ng-deep h2.text-muted,
     ::ng-deep h2.text-success,
     ::ng-deep h2.text-danger,
     ::ng-deep h2.text-white {
        font-size: 20px;
    }
    .dashboard-row .card-body {
        position: relative;
        min-height: 110px !important;
    }
     ::ng-deep .dashboard-row .card-body .chart-containment {
        min-height: 150px !important;
    }
     ::ng-deep .chart-containment {
        height: 90%;
    }
    .setRight {
        right: -27px;
    }
    .side-filter-hold {
        padding-right: 40px;
    }
}

@media only screen and (min-width: 425px) {
     ::ng-deep h2.text-dark,
     ::ng-deep h2.text-muted,
     ::ng-deep h2.text-success,
     ::ng-deep h2.text-danger,
     ::ng-deep h2.text-white {
        font-size: 24px;
    }
    /* .dashboard-row .card-body {
        min-height: 110px !important;
    } */
}

@media only screen and (min-width: 768px) {
     ::ng-deep h2.text-dark,
     ::ng-deep h2.text-muted,
     ::ng-deep h2.text-success,
     ::ng-deep h2.text-danger,
     ::ng-deep h2.text-white {
        font-size: 25px;
    }
}

@media only screen and (max-width: 768px) {}
.h6Strong{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.side-filter-hold .bmd-label-static {
    font-size: 13px !important;
}

.tabFont {
    font-size: 14px !important;
    font-family: 'Open Sans', sans-serif;
}

.btn.btn-rose,
.btn.btn-rose:active,
.btn.btn-rose:visited {
    font-weight: 600;
    background-color: unset;
    border: 1px solid #ccc;
    box-shadow: unset;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}