<div class="card-body pad-4 material-table main-row p-1" id='card-body' (window:resize)='adjustContents()'>
    <!-- <perfect-scrollbar style="max-height: 100%;"> -->
    <div class="card-plain pl-3 pr-3 pt-0 pb-0 h-100" id='mdm-dashboard'>
        <div class="row" id='dashboard-hold' [ngClass]="dashboardDetails && dashboardDetails.length ? 'dashboard-border':''">
            <div class="col-sm-6 col-lg-2 col-xl-2 col-md-2 align-items-stretch" *ngFor='let tab of dashboardDetails; let i = index;'>
                <div class="card list-branches">
                    <div class="card-body tabss">
                        <a class="menulink" id='branch' href='javascript:;'>
                            <div class="flex" (click)='switchTabs($event, tab, i)'><b class="h6Strong tabFont">{{tab.tabName}}</b>
                                <span>
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div id='branchArea' class="row branch dashboard-area show">
            <div class="col-sm-12 col-lg-12 col-xl-12 col-md-12 dashboard-row h-100">
                <ng-container>
                    <ngx-dashboard *ngIf="hidShow" [inputData]="templateData"></ngx-dashboard>
                </ng-container>
            </div>
        </div>
    </div>
    <!-- </perfect-scrollbar> -->
</div>


<div *ngIf="dashboardFilterFlag && dashboardFilterList && dashboardFilterList.length" class="row">
    <div class="show side-filter-hold col-sm-8 col-md-5 col-lg-5 col-xl-5" id="side-filter-hold">
        <span class="toggle-side-filter" (click)="toggleSideFilter()">
            <i class="fa fa-filter" aria-hidden="true" id="sidebarArrow"></i>
        </span>
        <form *ngIf="filterForm" [formGroup]="filterForm" class="d-flex flex-column fliterPromptBg w-100 h-100  m-0 p-0">
            <div class="row" id='filterHeader'>
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <h5 class="header-title fixed-heading pb-0 pt-2 mb-2">Filters</h5>
                </div>
            </div>
        
            <div class="row" id='filterBody'>
                <div class="h-100 d-flex w-100 flex-column">
                    <ng-container *ngFor='let data1 of getObjectValue(filterVal); let objIndex1 = index;'>
                        <div class="d-flex w-100">
                            <ng-container *ngFor='let data of data1; let objIndex = index;'>
                                <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group p-2"
                                    *ngIf='data.filterType == "TEXT" && data.filterToshow'>
                                    <input type="text" name="" id="" class="form-control"
                                        [formControlName]="promptValuesReturn(data.filterSeq)" />
                                    <label for="inputPassword4"
                                        class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                        * {{data.filterLabel}} is required</div>
                                    <div class="line"></div>
                                </div>
                                <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group p-2"
                                    *ngIf='data.filterType == "TEXTD" && data.filterToshow'>
                                    <input type='text' class="form-control"
                                        [formControlName]="promptValuesReturn(data.filterSeq)"  />
                                    <label for="inputPassword4"
                                        class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                        * {{data.filterLabel}} is required</div>
                                    <div class="line"></div>
                                </div>
                                <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group p-2"
                                    *ngIf='data.filterType == "TREE" && data.filterToshow'>
                                    <input type='text' [attr.data-index]='data.filterSeq'
                                        class="form-control dropdownCheck"
                                        [formControlName]="promptValuesReturn(data.filterSeq)"
                                        (click)="dropdownCheck(data,$event,'TREE')" maxlength="50"
                                        placeholder="" />
                                    <label class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                        * {{data.filterLabel}} is required</div>
                                    <div class="line"></div>
                                </div>
                                <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group p-2"
                                    *ngIf='data.filterType == "COMBO" && data.filterToshow'>
                                    <ng-multiselect-dropdown class="clickEventClass" appendTo='.report-slider-top'
                                        [formControlName]="promptValuesReturn(data.filterSeq)"
                                        (click)="dropdownCheck(data,$event)" [attr.data-label]='data.filterLabel'
                                        [attr.data-index]='data.filterSeq'
                                        [settings]="data.multiSelect == 'Y'?dropdownSettings:dashboardFilterSettings"
                                        [data]='promptValueOption(data.filterSeq)' (onSelect)="setEmptyDepent(data)"
                                        (onDeSelect)="setEmptyDepent(data)">
                                    </ng-multiselect-dropdown>
                                    <label class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                        * {{data.filterLabel}} is required</div>
                                    <div class="validation-error"
                                        *ngIf="filterForm.controls[promptValuesReturn(data.filterSeq)].errors?.incorrect">
                                        Please select {{data.filterLabel}}</div>
                                    <div class="line"></div>
                                </div>
                                <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group p-2"
                                    *ngIf='data.filterType == "DATE" && data.filterToshow'>
                                    <app-custom-date-picker *ngIf="data.filterDateFormat == 'YYYY'" mode='YEAR'
                                        [max]="data.futureDate" [min]="data.pastDate"
                                        class="form-control cursorPointer"
                                        [formControlName]="promptValuesReturn(data.filterSeq)">
                                    </app-custom-date-picker>
                                    <app-custom-date-picker *ngIf="data.filterDateFormat == 'Mon-YYYY'" mode='MONTH'
                                        class="form-control cursorPointer" [max]="data.futureDate"
                                        [min]="data.pastDate"
                                        [formControlName]="promptValuesReturn(data.filterSeq)">
                                    </app-custom-date-picker>
                                    <app-custom-date-picker
                                        *ngIf="data.filterDateFormat == 'DD-Mon-YYYY' || data.filterDateFormat == ''"
                                        class="form-control cursorPointer" [max]="data.futureDate"
                                        [min]="data.pastDate"
                                        [formControlName]="promptValuesReturn(data.filterSeq)">
                                    </app-custom-date-picker>
                                    <label for="inputPassword4"
                                        class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                        * {{data.filterLabel}} is required</div>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].errors?.endDate">
                                        * {{data.filterLabel}} should be greater than
                                        {{ getFilterLabel(data.dependentPrompt) }}</div>
                                    <div class="line"></div>
                                </div>
                                <div [ngStyle]="checkWidth(data1)" class="form-group bmd-form-group p-2"
                                    *ngIf='data.filterType == "TEXTM" && data.filterToshow'>
                                    <input type='text' [attr.data-index]='data.filterSeq'
                                        class="form-control dropdownCheck"
                                        [formControlName]="promptValuesReturn(data.filterSeq)"
                                        (click)="dropdownCheck(data,$event,'TEXTM')" maxlength="50"
                                        placeholder="" />
                                    <label class="bmd-label-static pl-2">{{data.filterLabel}}</label>
                                    <div class="validation-error"
                                        *ngIf="filterSubmitted && filterForm.controls[promptValuesReturn(data.filterSeq)].invalid">
                                        * {{data.filterLabel}} is required</div>
                                    <div class="line"></div>
                                </div>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </div>

            <div class="row" id='filterFooter'>
                <div class="d-flex w-100 justify-content-center align-items-center">
                    <button type="button" class="btn btn-sm btn-rose" (click)="filterSubmit()">Apply</button>
                    <button type="button" class="btn btn-sm btn-rose" (click)='cancelFilter($event)'>Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="sideFilterOverlay fade" id="sideFilterOverlay"></div>