<div class="w-100 h-100 d-flex" id="panZoomEle">
  <div class="er-icons action_icon_maximize">
    <div class="positionsHeader"*ngIf="showPositonsConditions">
      ( X :{{this.showingfunction}} ,
      Y :{{this.showingfunction2}} )
    </div>
    <div *ngIf="configurationSchema.profileModify =='Y'" ngbTooltip="Save" container="body" (click)="saveGeography()">
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.saveSvg | domSan:'html'">
        </span>
      </a>

    </div>
    <a *ngIf="configurationSchema.profileDownload =='Y'" class="nav-item icon-list outside-click run-icon" ngbDropdown
      id="drop" #drop="ngbDropdown" [autoClose]="'outside'">
      <a class="svgFlow" href="javascript:void(0);" data-toggle="dropdown" ngbDropdownToggle aria-haspopup="true"
        aria-expanded="true">
        <span class="material-icons remove ico-width" ngbTooltip="Export" container="body"
          (click)="opendropdownMenu()">file_download</span>
      </a>

      <div *ngIf="showiconbar" ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
        class="dropdown-menu dropdown-menu-right triangleUp1 pt-0 b-radius-none">
        <ul class="fixed-plugin dropdown-menu show dashboard-menu-wid">

          <li ngbDropdownItem id="zoom_in"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon">description</span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('xlsx')">Excel</span>

            </div>
          </li>
          <!-- <li ngbDropdownItem id="zoom_out"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon"> code </span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Html')">HTML</span>

            </div>
          </li>
          <li ngbDropdownItem id="zoom_reset"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon">picture_as_pdf</span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Pdf')">PDF</span>
            </div>
          </li>
          <li ngbDropdownItem id="zoom_reset"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon">table</span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Script')">Script</span>
            </div>
          </li> -->
        </ul>

      </div>
    </a>
    <div ngbTooltip="Zoom In" container="body" (click)="zoomIn()">
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.zoomInSvg | domSan:'html'">
        </span>
      </a>
    </div>
    <div ngbTooltip="Reset to Default" container="body" (click)="zoomReset()">
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.zoomDefault | domSan:'html'">
        </span>
      </a>
    </div>
    <div ngbTooltip="Zoom Out" container="body" (click)="zoomOut()">
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.zoomOutSvg | domSan:'html'">
        </span>
      </a>
    </div>

    <div *ngIf="showMaximize" ngbTooltip="Minimize All" container="body" (click)="minimizeAll()">
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.minimiseSvg | domSan:'html'">
        </span>
      </a>
    </div>
    <div *ngIf="showMinimize" ngbTooltip="Maximize All" container="body" (click)="maximizeAll()">
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.maximiseSvg | domSan:'html'">
        </span>
      </a>
    </div>
    <!-- <div class="button-sep">|</div> -->
    <div *ngIf="fullScreenDisp" ngbTooltip="Exit Full-Screen" container="body" placement="left" (click)='fullScreen()'>
      <a class="svgFlow">

        <span [innerHTML]="svgIconsList.windowMinimiseSvg | domSan:'html'">
        </span>
      </a>

    </div>
    <div *ngIf="!fullScreenDisp" ngbTooltip="Full-Screen" container="body" placement="left"
      class="full-screen seperator" (click)='fullScreen()'>
      <a class="svgFlow">
        <span [innerHTML]="svgIconsList.windowMaxSvg | domSan:'html'">
        </span>
      </a>
    </div>
  </div>
  <div class="w-100 h-100 insideBoxScroll" id="d3RenderId"></div>
</div>
<a style="display: none;" class="download-zip-link" #downloadZipLink></a>
<!-- <a *ngIf="configurationSchema.profileModify =='Y'"
      class="tooltip-trigger modal-trigger waves-effect btn-flat  p-1" rel="tooltip" tooltip="Save"
      flow='left'>
      <span class="material-icons global-icons" (click)="saveErDigramChanges(maximizeData)">save</span>
    </a> -->

<!-- <a *ngIf="configurationSchema.profileDownload =='Y'" class="nav-item icon-list outside-click run-icon p-1"
      ngbDropdown #drop="ngbDropdown" [autoClose]="'outside'">
      <a class="nav-icon more-icon" href="javascript:void(0);" data-toggle="dropdown" ngbDropdownToggle
        aria-haspopup="true" aria-expanded="true">
        <span class="material-icons global-icons" tooltip="Export" flow="left">file_download</span>
      </a>

      <div ngbDropdownMenu aria-labelledby="navbarNotificationDropdown1"
        class="dropdown-menu dropdown-menu-right triangleUp1 pt-0 b-radius-none">
        <ul class="fixed-plugin dropdown-menu show dashboard-menu-wid">

          <li ngbDropdownItem id="zoom_in"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon">description</span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('xlsx')">Excel</span>

            </div>
          </li>
          <li ngbDropdownItem id="zoom_out"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon"> code </span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Html')">Html</span>

            </div>
          </li>
          <li ngbDropdownItem id="zoom_reset"
            class="header-title d-flex justify-content-between align-items-center dashboard-menu">
            <div class="d-flex justify-content-between align-items-center w-100 cursorPointer col-12">
              <span class="material-icons w-30 new-icon">picture_as_pdf</span>
              <span class="w-70 d-flex justify-content-start" (click)="saveExportOptions('Pdf')">Pdf</span>
            </div>
          </li>
        </ul>

      </div>
    </a> -->
<!-- <gridster [options]="options" class="background-white w-100 h-100"  id="canvas">
    <gridster-item *ngFor="let item of dashboard;let i = index;"
    [style.background-color]="item.backgroundcolur  + '!important'"
    [attr.id]="item.moduleName" class="b-radius gridster-box zoomRootDiv " source target
      [item]="item" [ngClass]="item.minmax ? 'minmax':''">
      <div  class="relative d-flex flex-column chec w-100 h-100">
        <div class="gridheader pl-1 w-100 h-24px">
          <div class="box-label">{{item.moduleName}}</div>
          <div  [ngClass]="buttonshowmaximize ? 'action_icon_maximize' : 'action_icon'"
            class="er-icons">
            <a *ngIf="!buttonshowmaximize && item.showMiniview"
              class="tooltip-trigger modal-trigger waves-effect btn-flat  nopadding" rel="tooltip" tooltip="List View"
              flow='left' (click)="menushowlist($event,item,false, drop,i)">
              <span class="material-icons  global-icons">format_list_bulleted</span>
            </a>
            <a *ngIf="!item.showMiniview" class="tooltip-trigger modal-trigger waves-effect btn-flat  nopadding"
              rel="tooltip" tooltip="Grid View" flow='left' (click)="menushowlist($event,item,true, drop,i)">
              <span class="material-icons  global-icons">apps</span>
            </a>

            <a *ngIf="!buttonshowmaximize"
              class="tooltip-trigger modal-trigger waves-effect btn-flat  nopadding" rel="tooltip" tooltip="Zoom In"
              flow='left'>
              <span class="material-icons  global-icons moduleBoxZoom" [attr.data-id]="i"
                [attr.id]="'zoom_in'+i">zoom_in</span>
            </a>
            <a *ngIf="!buttonshowmaximize "
              class="tooltip-trigger modal-trigger waves-effect btn-flat  nopadding" rel="tooltip" tooltip="Zoom Out"
              flow='left'>
              <span class="material-icons global-icons moduleBoxZoom" [attr.data-id]="i"
                [attr.id]="'zoom_out'+i">zoom_out</span>
            </a>
            <a *ngIf="!buttonshowmaximize" class="tooltip-trigger modal-trigger waves-effect btn-flat  nopadding"
              rel="tooltip" tooltip="Expand" flow='left'>
              <span class="material-icons global-icons " (click)="maximizeItem($event,item,i)">open_in_full</span>
            </a>

          </div>
        </div>
        <div jtk-scrollable-list [data-id]="i" [attr.id]="'gridsterContainer'+i"
          class="gridster-body insideBoxScroll content h-100-24px w-100 ">
          <div *ngIf="item.listflag" class="row h-97 m-0 relative">
            <div *ngFor="let item1 of item.moduleData;let j = index;" class="widthgridster gridster-box-child p-1 m-1"
              [ngStyle]="{
                        'height':item1.height + 'px',
                        'width':item1.width + 'px',
                        'top':item1.offSetY + 'px' ,
                        'left':item1.offSetX + 'px' }"  [attr.data-id]="item1.tableId">
              <div class="header_label" >
                {{item1.tableName}}
              </div>
              <table id="statictable mt-1" >
                <tbody >
                  <tr  *ngFor="let item2 of item1.tableData;let k = index;">
                    <td [title]="item2.columnName">{{ item2.columnName}}</td>
                  </tr>
              </table>
            </div>
          </div>
          <div [style.background-color]="item.backgroundcolur  + '!important'" *ngIf="!item.listflag" [item]="item1"
            class=" h-97 m-0">
            <ul class="underline">
              <li *ngFor="let item1 of item.moduleData">
                {{item1.tableName}}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </gridster-item>
  </gridster> -->