.width0 {
  width: 0%;
  display: none;
  overflow: hidden;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.width80 {
  width: 77% !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.width20 {
  width: 23% !important;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  border: 1px solid #ededed;
  border-right: unset;
}

.width90 {
  width: 95%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.width100 {
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.widthtree {
  width: 20%;
}

.clo-md-2 {
  flex: 0 0 20%;
  max-width: 20%;
}

.clo-md-10 {
  flex: 0 0 80%;
  max-width: 80%;
}

gridster {
  padding: 3px !important;
}

.row-new-btn {
  display: flex;
  margin-left: 220px;
  width: 121px;
  height: 150px;
}

.row2 {
  height: 50 !important;
}

.btn {
  background-color: white;
}

.row-new-btn-expand {
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  width: 121px;
  height: 150px;
}

.gridster-item {
  margin: 0px !important;
  padding: 0px !important;
  transition: none !important;
  z-index: 1000;
}

.gridster-container {
  display: flex;
  flex-direction: row;
}

.gridster-body {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  margin-top: -5px;
}

.gridster-box {
  border: 2px solid #ededed;
  height: 20px;
  width: 1200px;
  z-index: 10 !important;
}



.gridheader {
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  font-weight: bold;
  font-size: 100;
  width: 100%;
}

.block-icons {
  display: flex;
  background: #464646;
}

.action_icon {
  position: absolute;
  right: 3px;
  align-items: center;
  font-size: large;
  color: grey;
}

.action_icon_maximize {
  position: absolute;
  right: 3px;
  align-items: center;
  font-size: large;
  color: grey;
}

.margin {
  margin: 6px !important;
}

.widthgridster {
  width: 200px;
  height: 80px;
}

.h-48 {
  height: 48%;
}

.h-97 {
  height: 97%;
}

.w-47 {
  width: 47%;
}

.h-93 {
  height: 93%;
}

.icon-style-inside {
  margin-right: 5px;
  width: 20px;
  height: 15px;
}

.icon-style-top {
  margin-right: 15px;
  margin-left: 5px;
  font-size: 20px;
}

.d-flex {
  display: flex;
}

table th {
  background: grey;
  padding: 0px 5px;
  height: 21px;
}

.top-btn {
  align-items: right;
  display: flex;
  justify-content: flex-end;
  background-color: white;
}

.list-class {
  margin-top: 25%;
  margin-left: 25px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.header_label {
  border-bottom: 1px solid #ccc !important;
  font-weight: 500;
  color: #2a2a2a;
  font-size: 12px;
  line-height: 20px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}



.header {
  border: 1px solid black;
  border-radius: 10px;
  justify-content: center;
  background-color: white !important;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky+.content {
  padding-top: 102px;
}

.jtk-demo-canvas {
  overflow: visible !important;
  position: absolute !important;
  width: 100%;
  height: 100%;
}

.overFlowHidden {
  overflow: hidden;
}

.toggle-icons {
  color: #4a4a4a;
  margin-left: -12px;
  font-size: 28px;
  margin-top: -2px;
}

.gidster-parent {
  border: 1px solid #ededed;
  overflow: hidden;
  position: relative;
}

.relative {
  position: relative;
}

.underline {
  margin-bottom: 0;
  padding-left: 0;
}

.underline li {
  display: inline-flex;
  flex-direction: row;
  margin: 5px;
  padding: 0 10px;
  background: #efefef;
  font-size: 13px;
  color: #2a2a2a;
  font-weight: 400;
}

.box-label {
  font: 600 14px/15px "Open Sans", sans-serif;
  color: #4a4a4a;
}

.global-icons {
  font-size: 18px;
  color: #4a4a4a;
  cursor: pointer;
}


.fixed-plugin.shadow-imp {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
}

.remove {
  vertical-align: unset !important;
  line-height: unset !important;
}



.dropdownHold .ng-value-container {
  margin: 0;
  padding: 0;
  border: 0;
}


.outside-click .dropdown-toggle:after {
  display: none;
}

.dropdown-menu .fixed-plugin li.header-title {
  padding: 8px 0;
  height: unset;
  text-align: left;
  color: #2a2a2a;
  font: 500 13px/20px 'Product Sans', Arial, Helvetica, sans-serif;
  margin: 0;
  text-transform: unset;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
  background: #e1e1e1;
  box-shadow: unset;
}

.dropdown-menu .fixed-plugin {
  box-shadow: none;
  width: unset;
  left: unset;
  right: unset;
  position: relative;
  padding: 0;
  margin: 0;
}

.dropdown-menu-right {
  transition: none;
}
.dropdown-menu .fixed-plugin li.header-title {
  padding: 5px 0;
  height: unset;
  text-align: left;
  color: #838383;
  font: 600 13px/20px "Product Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  cursor: pointer;
  border-bottom: dotted 1px #a9a9a9;
}

.dropdown-menu .fixed-plugin li.header-title:hover {
  background: #e1e1e1;
  box-shadow: unset;
}


span.material-icons {
  font-size: 18px;
  color: #999;
  vertical-align: middle;
}

.small-icons {
  font-size: 18px;
  color: #2a2a2a;
  cursor: pointer;
  transform: unset !important;
}




























.triangleUp::after,
.triangleUp:before {
  top: -1px;
}

gridster-item.active-item {
  z-index: 100 !important;
}

table tr td {
  color: #2a2a2a;
  font-weight: 400;
  padding: 0px 5px;
  border-bottom: 1px solid #e9e9e9;
  max-width: 90px;
}

.outside-click {
  margin-right: -2px;
}

.minmax {
  transform: none !important;
  width: 100% !important;
  height: 100% !important;
  z-index: 2 !important;
  max-width: 100% !important;
  top: 0 !important;
  left: 0 !important;
  bottom: 0 !important;
  border-radius: 0 !important;
  right: 0 !important;
  background-color: white;
  padding: 0px !important;
  border: unset !important;
}

.background-white {
  background: #fff;
}

.gridster-body::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background: none;
}

.gridster-body:hover::-webkit-scrollbar {
  background: #ececec;
}

.gridster-body::-webkit-scrollbar-thumb {
  background: none;
  border-radius: 20px;
}

.gridster-body:hover::-webkit-scrollbar-thumb {
  background: #ccc;
}

gridster-item:hover {
  border: 2px dotted #ccc;
}

.er-icons [tooltip]::after {
  background: #343434 !important;
}

.table-icons {
  position: absolute;
  top: -26px;
}

.table-icons span {
  cursor: pointer;
  color: #4a4a4a;
  font-size: 17px;
  margin: 2px;
}

.ico-top-pos-slide1 {
  position: absolute;
  top: 45%;
  left: 1px;
  color: #717575;
  cursor: pointer;
  font-size: 23px;
  font-weight: 600;
}

.h-24px {
  height: 24px;
}

.h-100-24px {
  height: calc(100% - 24px);
}

.treeText {
  font-size: 13px;
  font-weight: 400;
}

.queryTitle {
  font-size: 13px;
  padding-left: 9px;
  font-weight: 600;
  font-family: Open Sans, sans-serif;
}

.folder-icon {
  position: relative;
  left: -22px;
  z-index: 0;
  margin-right: -21px;
}

.folder-icon i {
  color: var(--content-color) !important;
  font-size: 12px !important;
}

tree-viewport {
  height: 100%;
  overflow: hidden;
  display: block;
}

.form-check .form-check-input[disabled]~.form-check-sign .check {
  border-color: #fff;
  opacity: 0.8;
}

#treeview_container1 {
  height: 99% !important;
  max-height: 99%;
}

#cy+div {
  max-height: 800px;
  min-height: 450px;
  overflow: scroll;
}

div.tree div.tree-children::before,
div.tree::before {
  content: "";
  position: absolute;
  border-left: 1px dotted #23527c;
  height: 100%;
  top: -14px;
  left: 12px;
}

div.tree {
  padding-left: 0;
  margin-left: -5px;
}

div.tree div.tree-children {
  position: relative;
  padding-left: 0;
  margin-left: 16px;
}

div.tree div.tree-children::before {
  left: 5px;
}

div.tree tree-node>div>.node-wrapper {
  margin-left: 24px;
}

div.tree tree-node>div>.node-wrapper>.node-content-wrapper {
  margin-left: 4px;
}

div.tree tree-node>div.tree-node-leaf>.node-wrapper {
  margin-left: 0;
}

div.tree tree-node>div::before {
  content: "";
  position: absolute;
  border-bottom: 1px dotted #23527c;
  width: 7px;
  margin-top: 12px;
  left: 7px;
}

div.tree tree-node>div .toggle-children-wrapper {
  width: 13px;
  height: 13px;
  border: 1px solid #23527c;
  position: absolute;
  left: 15px;
  margin-top: 5px;
  margin-left: 0;
  display: inline-block;
  background-color: #fff;
  z-index: 1;
}

div.tree tree-node>div .toggle-children-wrapper::before {
  content: "";
  display: inline-block;
  width: 7px;
  border-top: 1px solid #23527c;
  position: absolute;
  top: 5px;
  left: 2px;
}

div.tree tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
  content: "";
  display: inline-block;
  height: 7px;
  border-left: 1px solid #23527c;
  position: absolute;
  top: 2px;
  left: 5px;
}

div.tree tree-node>div .toggle-children-wrapper .toggle-children {
  display: none;
}

div.tree tree-node>div .node-content-wrapper {
  margin-left: 4px;
}

div.tree>tree-node>div::before {
  left: 14px;
}

div.tree>tree-node>div>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
  left: 22px;
}

.icon-bg1 {
  left: 21%;
}

.plain-col {
  color: #999 !important;
  font-size: 11px !important;
}

.hummingbird-treeview,
.hummingbird-treeview * {
  list-style: none;
  font-size: 12px;
}

.mtop11 i {
  top: -13px !important;
}

:heep /deep/ #treeview_container1 .tree-node-expanded .tree-children {
  padding-left: 9px !important;
}

.border-thick {
  border-right: 3px #dadada solid;
  border-radius: 12px;
}

.border-thick {
  border-right: 2px #ccc solid;
  border-radius: unset;
}

.padding-top-0 {
  padding-top: 0;
}

#treeview_container1 {
  height: 99% !important;
  max-height: 99%;
}

i.fa.toggleIcon {
  top: 43%;
  left: -12px;
  font-size: 22px;
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 45px;
  background: #fff;
  border-radius: 3px;
  border: solid 1px #ccc;
  border-right: none;
  padding-top: 10px;
  padding-left: 5px;
  z-index: 1;
}

.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}

.action_icon_maximize {
  align-items: center;
  font-size: large;
  display: flex;
  padding: 0 1px;
  color: #4a4a4a;
  font-size: 11px;
  margin-right: -3px;
  border-radius: 3px;
  font-weight: normal;
}

.seperator {
  padding-right: 3px;
  padding-left: 2px;
  cursor: pointer;
}

