<mat-form-field class="w-100">
    <mat-label>{{label}}</mat-label>
    <input matInput 
    [matDatepicker]="datepicker" 
    [max]="_max" 
    [min]="_min" 
    [formControl]="_inputCtrl"
    [matDatepickerFilter]="_customFilter" 
    (click)="_openDatepickerOnClick(datepicker)" 
    (dateChange)="_dateChangeHandler($event.value)" 
    (dateInput)="_dateChangeHandler($event.value)"
    readonly>
</mat-form-field>
<mat-datepicker #datepicker [touchUi]="touchUi"></mat-datepicker>